Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json,yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: add TESQ sandbox package
  tools/tesq/package.json
  tools/tesq/src/audit.ts
  tools/tesq/src/index.ts
  tools/tesq/src/policy.ts
  tools/tesq/src/quota.ts
  tools/tesq/src/redteam.ts
  tools/tesq/src/sandbox.ts
  tools/tesq/src/types.ts
  tools/tesq/tests/sandbox.spec.ts
  tools/tesq/tsconfig.json
  tools/tesq/vitest.config.ts
Due: prettier --write

feat: add escp erasure service
  services/escp/cmd/escp-verifier/main.go
  services/escp/cmd/escpd/main.go
  services/escp/go.mod
  services/escp/internal/agents/agent.go
  services/escp/internal/backends/backend.go
  services/escp/internal/proof/bundle.go
  services/escp/internal/proof/merkle.go
  services/escp/internal/service/service.go
  services/escp/internal/service/service_test.go
  services/escp/internal/sla/tracker.go
Due: none

feat: add synthetic entity graph forge generator
  requirements.in
  segf/README.md
  segf/__init__.py
  segf/config.py
  segf/generator.py
  segf/notebooks/01_getting_started.ipynb
  segf/notebooks/02_drift_scenarios.ipynb
  segf/tests/test_segf.py
  segf/validator.py
Due: prettier --write

feat: add differential privacy release scheduler
  dprs/.gitignore
  dprs/README.md
  dprs/cli/dist/index.d.ts
  dprs/cli/dist/index.js
  dprs/cli/package.json
  dprs/cli/src/index.ts
  dprs/cli/tsconfig.json
  dprs/core/Cargo.lock
  dprs/core/Cargo.toml
  dprs/core/src/main.rs
  dprs/sample-config.json
  dprs/sample-schedule.json
Due: prettier --write

feat: add prompt diff impact lab toolkit
  sdk/__init__.py
  sdk/pdil/README.md
  sdk/pdil/__init__.py
  sdk/pdil/adapters.py
  sdk/pdil/cli.py
  sdk/pdil/dashboard/README.md
  sdk/pdil/dashboard/package.json
  sdk/pdil/dashboard/src/dashboard.ts
  sdk/pdil/dashboard/src/index.ts
  sdk/pdil/dashboard/src/ranking.ts
  sdk/pdil/dashboard/src/types.ts
  sdk/pdil/dashboard/tsconfig.json
  sdk/pdil/examples/golden_sample.json
  sdk/pdil/models.py
  sdk/pdil/replay.py
  sdk/pdil/risk.py
  sdk/pdil/taxonomy.py
  tests/pdil/test_pdil.py
Due: prettier --write

feat: add preregistered experiment registry service
  sdk/prer-python/README.md
  sdk/prer-python/prer_client/__init__.py
  sdk/prer-python/pyproject.toml
  sdk/prer-ts/README.md
  sdk/prer-ts/package.json
  sdk/prer-ts/src/index.ts
  sdk/prer-ts/tsconfig.json
  services/prer/README.md
  services/prer/package.json
  services/prer/src/exporter.ts
  services/prer/src/index.ts
  services/prer/src/power.ts
  services/prer/src/store.ts
  services/prer/src/types.ts
  services/prer/tests/experiment-store.test.ts
  services/prer/tests/power.test.ts
  services/prer/tsconfig.json
  services/prer/vitest.config.ts
Due: prettier --write

feat:dro add residency optimizer suite
  benchmarks/dro/__init__.py
  benchmarks/dro/baseline_plan.json
  benchmarks/dro/benchmark_runner.py
  benchmarks/dro/sample_spec.json
  dro/README.md
  dro/__init__.py
  dro/cli.py
  dro/constraints/__init__.py
  dro/constraints/assignment.py
  dro/constraints/base.py
  dro/constraints/latency.py
  dro/constraints/registry.py
  dro/constraints/replicas.py
  dro/constraints/residency.py
  dro/context.py
  dro/diff.py
  dro/io.py
  dro/loader.py
  dro/models.py
  dro/optimizer.py
  dro/signing.py
  requirements.in
  tests/conftest.py
  tests/dro/test_benchmark.py
  tests/dro/test_optimizer.py
  ui/dro-ui/index.html
  ui/dro-ui/package.json
  ui/dro-ui/src/App.tsx
  ui/dro-ui/src/main.tsx
  ui/dro-ui/src/planDiff.ts
  ui/dro-ui/src/styles.css
  ui/dro-ui/src/types.ts
  ui/dro-ui/tsconfig.json
  ui/dro-ui/vite.config.ts
Due: prettier --write

feat: add transformation canon codegen
  src/tcc/codegen.ts
  src/tcc/conformance.ts
  src/tcc/index.ts
  src/tcc/schema.ts
  src/tcc/types.ts
  test/tcc/conformance-runner.ts
  test/tcc/conformance.test.ts
Due: none

feat: add reproducible notebook freezer tooling
  .github/workflows/rnf.yml
  tests/notebook_freezer/test_rnf.py
  tools/__init__.py
  tools/notebook_freezer/README.md
  tools/notebook_freezer/__init__.py
  tools/notebook_freezer/__main__.py
  tools/notebook_freezer/bundle.py
  tools/notebook_freezer/cli.py
  tools/notebook_freezer/diff_viewer.py
  tools/notebook_freezer/replay.py
  tools/notebook_freezer/utils.py
Due: prettier --write

feat: add stochastic actor awareness simulation
  server/src/services/StochasticActorAwareness.ts
  server/src/services/mlAnalysisService.ts
  server/tests/services/StochasticActorAwareness.test.ts
  server/tests/services/mlAnalysisService.actorAwareness.test.ts
Due: none

feat: add verifiable consent receipt toolkit
  packages/vcr-kit/README.md
  packages/vcr-kit/fixtures/did-web-summit.json
  packages/vcr-kit/fixtures/revocations.json
  packages/vcr-kit/package.json
  packages/vcr-kit/samples/marketing-policy.json
  packages/vcr-kit/src/cli.ts
  packages/vcr-kit/src/crypto.ts
  packages/vcr-kit/src/dids.ts
  packages/vcr-kit/src/index.ts
  packages/vcr-kit/src/issuer.ts
  packages/vcr-kit/src/middleware.ts
  packages/vcr-kit/src/revocation.ts
  packages/vcr-kit/src/types.ts
  packages/vcr-kit/src/verifier.ts
  packages/vcr-kit/tsconfig.json
  sdk/python/vcr_kit/__init__.py
  sdk/python/vcr_kit/base58.py
  sdk/python/vcr_kit/dids.py
  sdk/python/vcr_kit/middleware.py
  sdk/python/vcr_kit/revocation.py
  sdk/python/vcr_kit/verifier.py
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add tabular fingerprinting registry
  services/tpfr/__init__.py
  services/tpfr/fingerprint.py
  services/tpfr/registry.py
  services/tpfr/tests/test_tpfr.py
Due: none

feat: add contextual access broker service
  sdk/cab/README.md
  sdk/cab/package.json
  sdk/cab/src/index.ts
  sdk/cab/tsconfig.json
  services/cab/README.md
  services/cab/cmd/cab-server/main.go
  services/cab/go.mod
  services/cab/go.sum
  services/cab/internal/challenge/challenge.go
  services/cab/internal/challenge/hardware.go
  services/cab/internal/challenge/totp.go
  services/cab/internal/engine/engine.go
  services/cab/internal/engine/engine_test.go
  services/cab/internal/engine/policy.go
  services/cab/internal/risk/anomaly.go
  services/cab/internal/risk/device.go
  services/cab/internal/risk/geo.go
  services/cab/internal/risk/helpers.go
  services/cab/internal/risk/risk.go
  ui/cab-simulator.html
Due: prettier --write

feat: add IDTL transparency log service
  services/idtl/README.md
  services/idtl/cmd/idtl/main.go
  services/idtl/cmd/witness/main.go
  services/idtl/go.mod
  services/idtl/go.sum
  services/idtl/internal/gossip/gossip.go
  services/idtl/internal/gossip/gossip_test.go
  services/idtl/internal/log/log.go
  services/idtl/internal/log/log_test.go
  services/idtl/internal/server/server.go
  services/idtl/internal/server/signer.go
  services/idtl/verifier.py
Due: prettier --write

feat: add prompt policy composer framework
  src/ppc/adapters.ts
  src/ppc/dsl.ts
  src/ppc/guards.ts
  src/ppc/index.ts
  src/ppc/policy.ts
  src/ppc/types.ts
  test/ppc/golden-prompts.ts
  test/ppc/ppc.spec.ts
Due: none

feat: add dp-sql compiler for privacy-aware queries
  dpsc/.gitignore
  dpsc/Cargo.lock
  dpsc/Cargo.toml
  dpsc/src/annotation.rs
  dpsc/src/compiler.rs
  dpsc/src/errors.rs
  dpsc/src/ledger.rs
  dpsc/src/lib.rs
  dpsc/src/main.rs
  dpsc/src/noise.rs
  dpsc/src/plan.rs
  dpsc/src/testing.rs
  dpsc/tests/compiler.rs
Due: none

feat: add ctpt service and sdk clients
  sdk/python/maestro_sdk/__init__.py
  sdk/python/maestro_sdk/ctpt.py
  sdk/typescript/src/ctpt-client.ts
  sdk/typescript/src/index.ts
  services/ctpt/ctpt-service.test.ts
  services/ctpt/ctpt-service.ts
  services/ctpt/http-server.test.ts
  services/ctpt/http-server.ts
  services/ctpt/index.ts
  services/ctpt/leak-scoring.ts
  services/ctpt/types.ts
  services/ctpt/webhook-dispatcher.ts
Due: none

feat: add responsible evaluation orchestrator
  reo/python/README.md
  reo/python/pyproject.toml
  reo/python/reo/__init__.py
  reo/python/reo/__main__.py
  reo/python/reo/artifacts.py
  reo/python/reo/comparison.py
  reo/python/reo/config.py
  reo/python/reo/metrics.py
  reo/python/reo/sampling.py
  reo/python/reo/suite.py
  reo/python/tests/sample_dataset.json
  reo/python/tests/sample_model.py
  reo/python/tests/sample_suite.yaml
  reo/ts/README.md
  reo/ts/package.json
  reo/ts/src/example.ts
  reo/ts/src/index.ts
  reo/ts/tsconfig.json
Due: prettier --write

feat: add redaction quality benchmark toolkit
  tools/rqb/AGENTS.md
  tools/rqb/README.md
  tools/rqb/__init__.py
  tools/rqb/baselines/regex.json
  tools/rqb/ci_gate.py
  tools/rqb/cli.py
  tools/rqb/data.py
  tools/rqb/detectors.py
  tools/rqb/evaluation.py
  tools/rqb/scorecard.py
  tools/rqb/tests/test_harness.py
Due: prettier --write

feat(efs): add enclave feature store
  sdk/typescript/jest.config.cjs
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/efs/index.ts
  sdk/typescript/src/index.ts
  sdk/typescript/test/efs.test.ts
  services/efs/Cargo.lock
  services/efs/Cargo.toml
  services/efs/README.md
  services/efs/sql/schema.sql
  services/efs/src/attestation.rs
  services/efs/src/bin/offline_verifier.rs
  services/efs/src/crypto.rs
  services/efs/src/error.rs
  services/efs/src/lib.rs
  services/efs/src/policy.rs
  services/efs/src/repository.rs
  services/efs/src/store.rs
  services/efs/src/verifier.rs
Due: prettier --write

feat(ppc): expose guard stages and guard violations
  src/ppc/adapters.ts
  src/ppc/dsl.ts
  src/ppc/guards.ts
  src/ppc/policy.ts
  src/ppc/types.ts
  test/ppc/golden-prompts.ts
  test/ppc/ppc.spec.ts
Due: none

feat(ppc): expose guard stages and guard violations
  src/ppc/adapters.ts
  src/ppc/dsl.ts
  src/ppc/guards.ts
  src/ppc/index.ts
  src/ppc/policy.ts
  src/ppc/types.ts
  test/ppc/golden-prompts.ts
  test/ppc/ppc.spec.ts
Due: none

feat: add model card compiler toolkit
  mcc/.gitignore
  mcc/README.md
  mcc/gallery/cards.json
  mcc/gallery/index.html
  mcc/keys/README.md
  mcc/package.json
  mcc/samples/sample-app.mjs
  mcc/samples/sample-card.compiled.json
  mcc/samples/sample-card.yaml
  mcc/src/bin/mcc.ts
  mcc/src/canonical.ts
  mcc/src/cli.ts
  mcc/src/compiler.ts
  mcc/src/errors.ts
  mcc/src/gallery.ts
  mcc/src/hooks.ts
  mcc/src/index.ts
  mcc/src/signer.ts
  mcc/src/types.ts
  mcc/src/validator.ts
  mcc/tsconfig.json
Due: prettier --write

docs: extend intention imputation implementation
  ga-graphai/docs/intention_imputation_digital_twin.md
Due: prettier --write

test(kkp): add coverage for expected audience check
  sdk/kkp/python/README.md
  sdk/kkp/python/kkp_client/__init__.py
  sdk/kkp/python/kkp_client/client.py
  sdk/kkp/python/pyproject.toml
  sdk/kkp/ts/README.md
  sdk/kkp/ts/package.json
  sdk/kkp/ts/src/index.ts
  sdk/kkp/ts/tsconfig.json
  services/kkp/Cargo.lock
  services/kkp/Cargo.toml
  services/kkp/README.md
  services/kkp/benches/latency.rs
  services/kkp/policy/kkp.rego
  services/kkp/src/api.rs
  services/kkp/src/app.rs
  services/kkp/src/crypto.rs
  services/kkp/src/error.rs
  services/kkp/src/keyring.rs
  services/kkp/src/kms.rs
  services/kkp/src/lib.rs
  services/kkp/src/main.rs
  services/kkp/src/policy.rs
  services/kkp/src/token.rs
  services/kkp/tests/proxy_tests.rs
Due: prettier --write

feat(server): add obligation tracker service
  server/src/services/ObligationTrackerService.test.ts
  server/src/services/ObligationTrackerService.ts
Due: none

feat: add policy-aware edge cache
  pac/README.md
  pac/cache.go
  pac/cache_test.go
  pac/go.mod
  pac/manifest.go
  pac/signer.go
  sdk/typescript/jest.config.cjs
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/pac/index.ts
  sdk/typescript/src/pac/key.ts
  sdk/typescript/src/pac/manifest.ts
  sdk/typescript/src/pac/purge.ts
  sdk/typescript/test/integration.test.ts
  sdk/typescript/test/pac.test.ts
Due: prettier --write

feat: add bitemporal knowledge graph library
  sdk/python/btkg/__init__.py
  sdk/python/btkg/core.py
  sdk/python/test/test_btkg.py
Due: none

feat: add streaming dp window aggregator
  sdpwa/.gitignore
  sdpwa/Cargo.lock
  sdpwa/Cargo.toml
  sdpwa/README.md
  sdpwa/bindings/ts/README.md
  sdpwa/bindings/ts/package.json
  sdpwa/bindings/ts/src/index.ts
  sdpwa/bindings/ts/tsconfig.json
  sdpwa/src/lib.rs
Due: prettier --write

feat: add causal feature store validator toolkit
  requirements.in
  tests/tools/test_cfsv.py
  tools/__init__.py
  tools/cfsv/__init__.py
  tools/cfsv/report.py
  tools/cfsv/validator.py
Due: none

feat: add rollback orchestrator tooling
  tools/rbo/cmd/rbo/main.go
  tools/rbo/go.mod
  tools/rbo/internal/core/orchestrator.go
  tools/rbo/internal/core/orchestrator_test.go
  tools/rbo/internal/core/state.go
  tools/rbo/internal/dag/dag.go
  tools/rbo/internal/model/types.go
  tools/rbo/internal/plan/io.go
  tools/rbo/internal/plan/plan.go
  tools/rbo/internal/plan/plan_test.go
  tools/rbo/testdata/sample_state.json
Due: prettier --write

feat(sum): add secure udf marketplace service
  services/sum/package.json
  services/sum/src/index.ts
  services/sum/src/pipeline.ts
  services/sum/src/rating.ts
  services/sum/src/sandbox.ts
  services/sum/src/signer.ts
  services/sum/src/static-analysis.ts
  services/sum/src/types.ts
  services/sum/src/utils/canonical.ts
  services/sum/tests/pipeline.test.ts
  services/sum/tsconfig.json
Due: prettier --write

feat: add c2pa provenance bridge toolkit
  ga-graphai/packages/c2pa-bridge/AGENTS.md
  ga-graphai/packages/c2pa-bridge/README.md
  ga-graphai/packages/c2pa-bridge/demo/index.html
  ga-graphai/packages/c2pa-bridge/demo/styles.css
  ga-graphai/packages/c2pa-bridge/demo/viewer.js
  ga-graphai/packages/c2pa-bridge/package.json
  ga-graphai/packages/c2pa-bridge/src/browser.ts
  ga-graphai/packages/c2pa-bridge/src/cli/cpb.ts
  ga-graphai/packages/c2pa-bridge/src/common/canonical.ts
  ga-graphai/packages/c2pa-bridge/src/common/manifest.ts
  ga-graphai/packages/c2pa-bridge/src/index.ts
  ga-graphai/packages/c2pa-bridge/src/node/index.ts
  ga-graphai/packages/c2pa-bridge/src/node/signature.ts
  ga-graphai/packages/c2pa-bridge/src/node/stamp.ts
  ga-graphai/packages/c2pa-bridge/src/node/tooling.ts
  ga-graphai/packages/c2pa-bridge/src/node/utils.ts
  ga-graphai/packages/c2pa-bridge/src/node/verify.ts
  ga-graphai/packages/c2pa-bridge/src/types.ts
  ga-graphai/packages/c2pa-bridge/tests/c2pa-bridge.test.js
  ga-graphai/packages/c2pa-bridge/tsconfig.browser.json
  ga-graphai/packages/c2pa-bridge/tsconfig.json
Due: prettier --write

feat: add canonical neo4j ingest schema assets
  docs/data/neo4j-canonical-model.md
  samples/graph/csv_ingest_sample.csv
  samples/graph/http_ingest_sample.json
  schema/neo4j/canonical_graph.cypher
  specs/ingest/canonical_ingest_mappings.yaml
  specs/retention/neo4j_label_policies.yaml
Due: prettier --write

docs: capture day-1 topology and decision records
  docs/ADR/0004-multi-tenant-regional-cells.md
  docs/ADR/0005-data-plane-slices.md
  docs/ADR/0006-mtls-mesh-layout.md
  docs/ADR/0007-canary-bluegreen-rollback.md
  docs/ADR/0008-opa-governance.md
  docs/architecture/day1-topology.md
  docs/runbooks/day1-topology-rollback.md
Due: prettier --write

feat: add integrity guards to compliance exports
  server/src/app.ts
  server/src/routes/compliance.ts
  server/src/utils/http-integrity.ts
  server/tests/contracts/compliance.contract.test.ts
Due: none

feat: gate rollout promotion with mission control evidence
  k8s/rollouts/analysis-templates.yaml
  k8s/rollouts/mc-evidence-config.yaml
  k8s/rollouts/rollout.yaml
  ops/runbooks/rollback.md
Due: prettier --write

feat: add plan mode to agent orchestration
  scripts/run-agents.js
  src/agents/index.ts
Due: none

feat(authz-gateway): enforce tenant abac with oidc and scim
  services/authz-gateway/BREAK_GLASS_RUNBOOK.md
  services/authz-gateway/jest.config.cjs
  services/authz-gateway/src/audit.ts
  services/authz-gateway/src/auth.ts
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/middleware.ts
  services/authz-gateway/src/oidc.ts
  services/authz-gateway/src/policy-pack.ts
  services/authz-gateway/src/policy.ts
  services/authz-gateway/src/scim.ts
  services/authz-gateway/tests/auth.test.ts
  services/authz-gateway/tests/helpers/oidc.ts
  services/authz-gateway/tests/helpers/scim.ts
  services/authz-gateway/tests/metrics.test.ts
  services/authz-gateway/tests/policy-scim.test.ts
  services/authz-gateway/tests/proxy.test.ts
  services/authz-gateway/tests/security.test.ts
  services/authz-gateway/tsconfig.spec.json
Due: prettier --write
