Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore(marketplace): integrate with main docker-compose and fix port
  docker-compose.dev.yml
  services/marketplace/Dockerfile
  services/marketplace/README.md
  services/marketplace/docker-compose.yml
  services/marketplace/src/index.ts
Due: prettier --write

chore: update tsbuildinfo
  .tsbuildinfo
Due: none

feat(gov-ai-governance): add production infrastructure
  .tsbuildinfo
  client/tsconfig.tsbuildinfo
  services/gov-ai-governance/Dockerfile
  services/gov-ai-governance/src/index.ts
  services/gov-ai-governance/src/middleware.ts
Due: none

test(ai): add tests and docs for Strategic Foresight Suite
  server/src/services/__tests__/strategic-foresight-client.test.ts
  server/src/services/strategic-foresight-client.ts
  services/strategic-foresight/README.md
  services/strategic-foresight/requirements.txt
  services/strategic-foresight/tests/__init__.py
  services/strategic-foresight/tests/test_app.py
Due: prettier --write

fix(govtech): replace uuid with native crypto.randomUUID
  services/govtech-export-engine/jest.config.js
  services/govtech-export-engine/package.json
  services/govtech-export-engine/src/analyzers/estonia-catalog.ts
  services/govtech-export-engine/src/exporters/package-generator.ts
Due: prettier --write

test(marketplace): add comprehensive unit tests and fix configuration
  services/ai-marketplace/.gitignore
  services/ai-marketplace/package.json
  services/ai-marketplace/pnpm-lock.yaml
  services/ai-marketplace/src/__tests__/marketplace.test.ts
  services/ai-marketplace/tsconfig.json
  services/ai-marketplace/vitest.config.ts
Due: prettier --write

fix(digital-twin): Fix TypeScript type errors for clean build
  services/digital-twin/package.json
  services/digital-twin/src/core/TwinRepository.ts
  services/digital-twin/src/server.ts
  services/digital-twin/tsconfig.json
Due: prettier --write

fix(global-integration): add jest config and fix tests for PR readiness
  services/global-integration/jest.config.js
  services/global-integration/package-lock.json
  services/global-integration/src/__tests__/ComplianceEngine.test.ts
  services/global-integration/src/__tests__/GlobalIntegrationOrchestrator.test.ts
  services/global-integration/src/__tests__/MarketExpansion.test.ts
  services/global-integration/tsconfig.json
Due: prettier --write

fix: improve build and test configurations for knowledge graph packages
  packages/entity-linking/tsconfig.json
  packages/graph-reasoning/__tests__/InferenceEngine.test.ts
  packages/graph-reasoning/jest.config.cjs
  packages/graph-reasoning/tsconfig.json
  packages/knowledge-graph/__tests__/OntologyManager.test.ts
  packages/knowledge-graph/jest.config.cjs
  packages/knowledge-graph/tsconfig.json
  packages/semantic-analysis/__tests__/RelationshipExtractor.test.ts
  packages/semantic-analysis/jest.config.cjs
  packages/semantic-analysis/tsconfig.json
  pnpm-lock.yaml
  services/sparql-endpoint/package.json
  services/sparql-endpoint/tsconfig.json
Due: prettier --write

docs(talent-magnet): Add README and Dockerfile
  services/talent-magnet/Dockerfile
  services/talent-magnet/README.md
Due: prettier --write

Build decentralized blockchain data ecosystem (#12139)
  docs/DECENTRALIZED-ECOSYSTEM-ANALYSIS.md
  packages/decentralized-identity/package.json
  packages/decentralized-identity/src/credential-issuer.ts
  packages/decentralized-identity/src/credential-verifier.ts
  packages/decentralized-identity/src/did-manager.ts
  packages/decentralized-identity/src/index.ts
  packages/decentralized-identity/src/types.ts
  packages/decentralized-identity/src/zk-proof-service.ts
  packages/decentralized-identity/tsconfig.json
  packages/smart-contract-sdk/package.json
  packages/smart-contract-sdk/src/contracts/access-control-contract.ts
  packages/smart-contract-sdk/src/contracts/base-contract.ts
  packages/smart-contract-sdk/src/contracts/data-pool-contract.ts
  packages/smart-contract-sdk/src/contracts/marketplace-contract.ts
  packages/smart-contract-sdk/src/contracts/reward-distribution-contract.ts
  packages/smart-contract-sdk/src/deployer.ts
  packages/smart-contract-sdk/src/index.ts
  packages/smart-contract-sdk/src/types.ts
  packages/smart-contract-sdk/tsconfig.json
  services/data-marketplace/package.json
  services/data-marketplace/src/index.ts
  services/data-marketplace/src/listing-manager.ts
  services/data-marketplace/src/smart-contract-bridge.ts
  services/data-marketplace/src/transaction-engine.ts
  services/data-marketplace/tsconfig.json
  services/data-pool/package.json
  services/data-pool/src/contribution-tracker.ts
  services/data-pool/src/data-pool-manager.ts
  services/data-pool/src/index.ts
  services/data-pool/src/permission-auditor.ts
  services/data-pool/tsconfig.json
  services/distributed-registry/package.json
  services/distributed-registry/src/consensus-manager.ts
  services/distributed-registry/src/index.ts
  services/distributed-registry/src/peer-registry.ts
  services/distributed-registry/src/verification-service.ts
  services/distributed-registry/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Deploy AI citizen wellbeing prediction tools (#12138)
  packages/ai-wellbeing-predictors/package.json
  packages/ai-wellbeing-predictors/src/InterventionRecommender.ts
  packages/ai-wellbeing-predictors/src/ResourceAllocator.ts
  packages/ai-wellbeing-predictors/src/WellbeingPredictor.ts
  packages/ai-wellbeing-predictors/src/__tests__/WellbeingPredictor.test.ts
  packages/ai-wellbeing-predictors/src/index.ts
  packages/ai-wellbeing-predictors/src/types.ts
  packages/ai-wellbeing-predictors/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(ai-sandbox): add integration tests and improve test coverage
  services/ai-sandbox/.gitignore
  services/ai-sandbox/package.json
  services/ai-sandbox/tests/integration.test.ts
Due: prettier --write

test(digital-twin): Fix mock types in TwinService tests
  services/digital-twin/tests/TwinService.test.ts
Due: none

chore: add node-compile-cache to gitignore
  .gitignore
Due: none

fix(citizen-ai): ensure clean TypeScript compilation
  .gitignore
  apps/web/tsconfig.tsbuildinfo
  services/citizen-ai/Dockerfile
  services/citizen-ai/src/api.ts
  services/citizen-ai/src/types/global.d.ts
  services/citizen-ai/tsconfig.json
Due: prettier --write

feat(data-monetization): add tests, docs, and fix build configuration
  apps/mobile-native/package.json
  packages/data-monetization-types/pnpm-lock.yaml
  packages/data-monetization-types/tsconfig.json
  services/analytics-service/package.json
  services/data-monetization-engine/README.md
  services/data-monetization-engine/jest.config.js
  services/data-monetization-engine/package-lock.json
  services/data-monetization-engine/package.json
  services/data-monetization-engine/src/__tests__/ComplianceService.test.ts
  services/data-monetization-engine/src/__tests__/ContractService.test.ts
  services/data-monetization-engine/src/__tests__/ValuationService.test.ts
  services/data-monetization-engine/tsconfig.json
Due: prettier --write

feat(admin-automation): add GraphQL API, server, and full test suite
  services/admin-automation/README.md
  services/admin-automation/package-lock.json
  services/admin-automation/package.json
  services/admin-automation/src/__tests__/proactive-service-resolver.test.ts
  services/admin-automation/src/citizen-profile-aggregator.ts
  services/admin-automation/src/config.ts
  services/admin-automation/src/form-autocomplete.ts
  services/admin-automation/src/graphql/context.ts
  services/admin-automation/src/graphql/resolvers.ts
  services/admin-automation/src/graphql/schema.ts
  services/admin-automation/src/index.ts
  services/admin-automation/src/server.ts
Due: prettier --write

feat(xai): add unified XAI integration bridging defense AI with overlay service
  server/src/services/explainable-defense-ai/index.ts
  server/src/services/explainable-defense-ai/xai-integration.ts
Due: none

test(orchestrator): add unit tests and fix build configuration
  services/resilient-orchestrator/.gitignore
  services/resilient-orchestrator/package-lock.json
  services/resilient-orchestrator/src/comms/SatelliteCommHandler.test.ts
  services/resilient-orchestrator/src/comms/SatelliteCommHandler.ts
  services/resilient-orchestrator/src/healing/SelfHealingEngine.test.ts
  services/resilient-orchestrator/src/routing/NetworkTopologyManager.test.ts
  services/resilient-orchestrator/tsconfig.json
  services/resilient-orchestrator/vitest.config.ts
Due: prettier --write

feat(security): Add state-of-the-art election security and mass behavior modeling
  packages/election-disruption-detection/package.json
  packages/election-disruption-detection/src/attribution/causal-attribution.ts
  packages/election-disruption-detection/src/attribution/index.ts
  packages/election-disruption-detection/src/detectors/index.ts
  packages/election-disruption-detection/src/detectors/legitimacy-attack.ts
  packages/election-disruption-detection/src/detectors/perception-hack.ts
  packages/election-disruption-detection/src/detectors/voter-suppression.ts
  packages/election-disruption-detection/src/fusion/index.ts
  packages/election-disruption-detection/src/fusion/multi-modal-fusion.ts
  packages/election-disruption-detection/src/index.ts
  packages/election-disruption-detection/src/models/index.ts
  packages/election-disruption-detection/src/models/threat-models.ts
  packages/election-disruption-detection/tsconfig.json
  packages/mass-behavior-dynamics/package.json
  packages/mass-behavior-dynamics/src/collective/critical-mass.ts
  packages/mass-behavior-dynamics/src/collective/index.ts
  packages/mass-behavior-dynamics/src/collective/phase-transitions.ts
  packages/mass-behavior-dynamics/src/collective/tipping-points.ts
  packages/mass-behavior-dynamics/src/contagion/cascade-analysis.ts
  packages/mass-behavior-dynamics/src/contagion/epidemic-models.ts
  packages/mass-behavior-dynamics/src/contagion/index.ts
  packages/mass-behavior-dynamics/src/contagion/threshold-dynamics.ts
  packages/mass-behavior-dynamics/src/index.ts
  packages/mass-behavior-dynamics/src/models/belief-system.ts
  packages/mass-behavior-dynamics/src/models/cognitive-agent.ts
  packages/mass-behavior-dynamics/src/models/index.ts
  packages/mass-behavior-dynamics/src/models/social-influence.ts
  packages/mass-behavior-dynamics/src/simulation/agent-based-simulator.ts
  packages/mass-behavior-dynamics/src/simulation/index.ts
  packages/mass-behavior-dynamics/src/simulation/monte-carlo.ts
  packages/mass-behavior-dynamics/tsconfig.json
  services/election-integrity-service/package.json
  services/election-integrity-service/src/index.ts
  services/election-integrity-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(compliance): improve regulatory compliance agents for CI
  .tsbuildinfo
  services/regulatory-compliance-agents/README.md
  services/regulatory-compliance-agents/pnpm-lock.yaml
  services/regulatory-compliance-agents/src/index.ts
  services/regulatory-compliance-agents/src/utils/logger.ts
  services/regulatory-compliance-agents/tsconfig.json
  services/regulatory-compliance-agents/vitest.config.ts
Due: prettier --write

feat(github): add PR creation UI component
  apps/web/src/components/github/CreatePRDialog.tsx
  apps/web/src/hooks/useGitHubIntegration.ts
  services/proxy/src/integrations/github.ts
Due: none

test: add unit tests and update CHANGELOG for knowledge graph platform
  CHANGELOG.md
  packages/entity-resolution/src/__tests__/entity-resolution.test.ts
  packages/knowledge-graph/src/__tests__/knowledge-graph.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(security): add malware-analysis and attack-simulation packages
  .tsbuildinfo
  packages/attack-simulation/package.json
  packages/attack-simulation/src/index.ts
  packages/attack-simulation/src/network/network-simulator.ts
  packages/attack-simulation/src/types.ts
  packages/attack-simulation/tsconfig.json
  packages/malware-analysis/package.json
  packages/malware-analysis/src/emulation/malware-emulator.ts
  packages/malware-analysis/src/index.ts
  packages/malware-analysis/src/types.ts
  packages/malware-analysis/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

test(time-series): add tests for seasonal-decomposition and ts-feature-engineering
  packages/seasonal-decomposition/src/__tests__/SeasonalDecomposition.test.ts
  packages/ts-feature-engineering/src/__tests__/FeatureEngineering.test.ts
Due: eslint --fix --max-warnings=0 --cache

chore: update TypeScript build info
  .tsbuildinfo
Due: none

test(security): add comprehensive test suite for AI security scanner
  .tsbuildinfo
  services/ai-security-scanner/package.json
  services/ai-security-scanner/pnpm-lock.yaml
  services/ai-security-scanner/src/__tests__/ai-scanner.test.ts
  services/ai-security-scanner/src/__tests__/attributor.test.ts
  services/ai-security-scanner/src/__tests__/compliance-logger.test.ts
  services/ai-security-scanner/src/__tests__/red-team.test.ts
  services/ai-security-scanner/src/__tests__/remediation.test.ts
  services/ai-security-scanner/src/__tests__/zero-trust.test.ts
  services/ai-security-scanner/src/attribution/vulnerability-attributor.ts
  services/ai-security-scanner/src/compliance/compliance-logger.ts
  services/ai-security-scanner/src/redteam/red-team-engine.ts
  services/ai-security-scanner/src/remediation/remediation-engine.ts
  services/ai-security-scanner/src/scanner/ai-scanner.ts
  services/ai-security-scanner/src/zero-trust/validator.ts
  services/ai-security-scanner/tsconfig.json
  services/ai-security-scanner/vitest.config.ts
Due: prettier --write

Improve test coverage (#12146)
  jest.config.cjs
  jest.projects.cjs
  services/audit_svc/__tests__/audit.test.ts
  services/copilot/__tests__/copilot.test.ts
  services/crypto-service/__tests__/crypto.test.ts
  services/graph-api/__tests__/graph-api.test.ts
  services/policy/__tests__/policy.test.ts
  tests/integration/db.test.ts
  tests/utils/jest-setup.ts
  tests/utils/test-factories.ts
Due: none

feat(sigint): integrate visualization and reporting into SIGINTEngine
  services/sigint-service/src/processing/SIGINTEngine.ts
Due: none

test(procurement): add comprehensive unit tests and build configuration
  services/procurement-automation/jest.config.js
  services/procurement-automation/package.json
  services/procurement-automation/pnpm-lock.yaml
  services/procurement-automation/src/__tests__/engine.test.ts
  services/procurement-automation/src/__tests__/requirements-parser.test.ts
  services/procurement-automation/src/__tests__/sbom-integration.test.ts
  services/procurement-automation/tsconfig.json
Due: prettier --write

feat(incident-response): add operational tooling for incident management
  RUNBOOKS/INDEX.md
  monitoring/rules/incident-response-alerts.yml
  monitoring/synthetic/synthetic-checks.yml
  observability/grafana/dashboards/incident-response.json
  scripts/incident-manager.sh
Due: prettier --write

fix(battle-management): fix TypeScript configuration and type errors
  packages/battle-fusion/tsconfig.json
  packages/battle-types/src/index.ts
  packages/battle-types/tsconfig.json
  services/battle-api/tsconfig.json
  services/battle-command-service/tsconfig.json
  services/battle-fusion-service/tsconfig.json
  services/battle-ingest-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: resolve lint and TypeScript errors for clean PR
  apps/mobile-interface/package.json
  apps/mobile-interface/src/components/SearchBar.tsx
  apps/mobile-interface/src/components/layouts/MobileLayout.tsx
  apps/mobile-interface/src/hooks/useAuth.tsx
  apps/mobile-interface/src/hooks/useOffline.tsx
  apps/mobile-interface/src/pages/_app.tsx
  apps/mobile-interface/src/pages/cases/index.tsx
  apps/mobile-interface/src/pages/index.tsx
  apps/web/tailwind.config.ts
  package.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

feat: add file upload storage system with UI component
  client/src/components/FileUpload.tsx
  server/src/services/FileStorageService.ts
Due: none

Build AI strategic foresight and market analysis suite (#12150)
  docker-compose.ai.yml
  server/src/graphql/resolvers.strategic-foresight.ts
  server/src/graphql/schema.strategic-foresight.gql
  server/src/services/__tests__/strategic-foresight-client.test.ts
  server/src/services/strategic-foresight-client.ts
  services/strategic-foresight/Dockerfile
  services/strategic-foresight/README.md
  services/strategic-foresight/app.py
  services/strategic-foresight/package.json
  services/strategic-foresight/requirements.txt
  services/strategic-foresight/tests/__init__.py
  services/strategic-foresight/tests/test_app.py
Due: prettier --write

Create digital twin competitive analysis prompt (#12149)
  services/digital-twin/Dockerfile
  services/digital-twin/README.md
  services/digital-twin/helm/Chart.yaml
  services/digital-twin/helm/values.yaml
  services/digital-twin/jest.config.cjs
  services/digital-twin/migrations/001_create_digital_twins.sql
  services/digital-twin/package.json
  services/digital-twin/src/api/resolvers.ts
  services/digital-twin/src/api/schema.ts
  services/digital-twin/src/core/EventBus.ts
  services/digital-twin/src/core/TwinRepository.ts
  services/digital-twin/src/core/TwinService.ts
  services/digital-twin/src/index.ts
  services/digital-twin/src/ingestion/StreamIngestion.ts
  services/digital-twin/src/server.ts
  services/digital-twin/src/simulation/SimulationEngine.ts
  services/digital-twin/src/state/StateEstimator.ts
  services/digital-twin/src/types/index.ts
  services/digital-twin/tests/SimulationEngine.test.ts
  services/digital-twin/tests/TwinService.test.ts
  services/digital-twin/tsconfig.json
Due: prettier --write
