Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

fix: add tests and fix TypeScript compilation for WMD packages
  packages/missile-intelligence/src/capability-assessor.ts
  packages/missile-intelligence/src/missile-tracker.ts
  packages/missile-intelligence/tests/missile-intelligence.spec.ts
  packages/missile-intelligence/tsconfig.json
  packages/nuclear-monitoring/src/facility-tracker.ts
  packages/nuclear-monitoring/src/infrastructure-monitor.ts
  packages/nuclear-monitoring/src/testing-detection.ts
  packages/nuclear-monitoring/tests/nuclear-monitoring.spec.ts
  packages/nuclear-monitoring/tsconfig.json
  packages/proliferation-networks/tests/proliferation-networks.spec.ts
  packages/proliferation-networks/tsconfig.json
  packages/technical-analysis/tests/technical-analysis.spec.ts
  packages/technical-analysis/tsconfig.json
  packages/treaty-verification/tests/treaty-verification.spec.ts
  packages/treaty-verification/tsconfig.json
  packages/wmd-tracking/src/biological-weapons.ts
  packages/wmd-tracking/src/chemical-weapons.ts
  packages/wmd-tracking/src/weapons-development.ts
  packages/wmd-tracking/tests/wmd-tracking.spec.ts
  packages/wmd-tracking/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: improve computer vision packages for PR readiness
  packages/computer-vision/src/types.ts
  packages/computer-vision/tsconfig.json
  packages/image-enhancement/package.json
  packages/image-enhancement/src/index.ts
  packages/image-enhancement/tsconfig.json
  packages/image-forensics/tsconfig.json
  packages/object-detection/tsconfig.json
  packages/ocr/tsconfig.json
  packages/satellite-imagery/tsconfig.json
  packages/video-analysis/tsconfig.json
  packages/visual-similarity/package.json
  packages/visual-similarity/src/index.ts
  packages/visual-similarity/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(time-series): resolve all eslint warnings and unused imports
  packages/anomaly-detection/src/realtime/StreamingAnomalyDetector.ts
  packages/forecasting/src/algorithms/ARIMA.ts
  packages/forecasting/src/algorithms/ExponentialSmoothing.ts
  packages/forecasting/src/ensemble/EnsembleForecaster.ts
  packages/seasonal-decomposition/src/index.ts
  packages/time-series/src/__tests__/TimeSeries.test.ts
  packages/time-series/src/compression/CompressionManager.ts
  packages/time-series/src/storage/TimescaleStorage.ts
Due: eslint --fix --max-warnings=0 --cache

fix: update TypeScript configs for consistent NodeNext module resolution
  .tsbuildinfo
  packages/data-governance/tsconfig.json
  packages/data-quality/src/profiling/profiler.ts
  packages/data-quality/tsconfig.json
  services/data-quality-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(observability): add Prometheus metrics for MCP orchestrator
  server/src/conductor/mcp/orchestrator.ts
  server/src/conductor/observability/prometheus.ts
Due: none

feat(reporting): complete Phase 2 refactor with full implementation
  server/src/services/reporting/ReportingService.ts
  server/src/services/reporting/exporters/DOCXExporter.ts
  server/src/services/reporting/exporters/ExcelExporter.ts
  server/src/services/reporting/exporters/ExporterFactory.ts
  server/src/services/reporting/exporters/GephiExporter.ts
  server/src/services/reporting/exporters/PowerPointExporter.ts
  server/src/services/reporting/generators/SectionGeneratorFactory.ts
  server/src/services/reporting/index.ts
  server/src/services/reporting/repositories/ReportRepository.ts
Due: none

feat: add React dashboard and REST API for agent archetypes
  src/agents/archetypes/api/AgentRouter.ts
  src/agents/archetypes/index.ts
  src/agents/archetypes/ui/AgentDashboard.tsx
Due: none

feat(quantum): Add QRNG simulation and quantum threat assessment
  packages/cryptographic-agility/src/assessment/quantum-threat.ts
  packages/cryptographic-agility/src/index.ts
  packages/quantum-simulation/src/index.ts
  packages/quantum-simulation/src/qrng/quantum-random.ts
Due: eslint --fix --max-warnings=0 --cache

feat(digital-twin): add tests, exports, and fix types
  server/src/__tests__/DigitalTwinService.test.ts
  server/src/__tests__/SimulationEngine.test.ts
  server/src/digital-twin/index.ts
  server/src/services/DigitalTwinService.ts
  server/src/types/digitalTwin.ts
Due: none

feat: add tests and complete vision-api integration
  packages/computer-vision/jest.config.js
  packages/computer-vision/src/__tests__/utils.test.ts
  services/vision-api/package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(data-discovery-fusion): add event streaming, tests, and docs
  services/data-discovery-fusion/README.md
  services/data-discovery-fusion/src/DataDiscoveryFusionEngine.ts
  services/data-discovery-fusion/src/__tests__/engine.test.ts
  services/data-discovery-fusion/src/__tests__/scanner.test.ts
  services/data-discovery-fusion/src/events/EventPublisher.ts
  services/data-discovery-fusion/src/events/index.ts
  services/data-discovery-fusion/src/index.ts
Due: prettier --write

feat(audit): add signing utilities and module exports
  server/src/audit/advanced-audit-system.ts
  server/src/audit/audit-signing.ts
  server/src/audit/audit-types.ts
  server/src/audit/index.ts
Due: none

perf(quantum): Add performance utilities for simulation
  packages/quantum-simulation/src/index.ts
  packages/quantum-simulation/src/utils/performance.ts
Due: eslint --fix --max-warnings=0 --cache

chore: add node-compile-cache to gitignore
  .gitignore
Due: none

feat(mesh): complete SDK with tools, agents, and service scaffolding
  .tsbuildinfo
  packages/mesh-observability/src/logger.ts
  packages/mesh-observability/tsconfig.json
  packages/mesh-sdk/src/Agent.ts
  packages/mesh-sdk/src/agents/JudgeAgent.ts
  packages/mesh-sdk/src/agents/RedTeamAgent.ts
  packages/mesh-sdk/src/agents/index.ts
  packages/mesh-sdk/src/index.ts
  packages/mesh-sdk/src/tools.ts
  services/mesh-orchestrator/package.json
  services/mesh-orchestrator/src/index.ts
  services/mesh-orchestrator/tsconfig.json
  services/policy-enforcer/package.json
  services/policy-enforcer/src/index.ts
  services/policy-enforcer/tsconfig.json
  services/provenance-service/package.json
  services/provenance-service/src/index.ts
  services/provenance-service/tsconfig.json
  services/routing-gateway/package.json
  services/routing-gateway/src/index.ts
  services/routing-gateway/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore(benchmarks): add package-lock.json and baseline for CI reproducibility
  benchmarks/graph/.gitignore
  benchmarks/graph/package-lock.json
  benchmarks/graph/reports/baseline.json
Due: prettier --write

fix(reporting): use node:crypto for UUID generation
  server/src/services/reporting/ReportTemplateRegistry.ts
  server/src/services/reporting/ReportingService.ts
Due: none

feat(agents): add workflow engine integration example
  src/agents/archetypes/examples/workflow-integration.ts
Due: none

feat(data-discovery-fusion): add docker-compose, API tests, and linting
  services/data-discovery-fusion/.eslintrc.cjs
  services/data-discovery-fusion/.gitignore
  services/data-discovery-fusion/docker-compose.yml
  services/data-discovery-fusion/src/__tests__/api.test.ts
Due: none

fix(adr): standardize metadata format across all existing ADRs
  adr/0002-abac-step-up.md
  adr/0003-firecracker-runtime-pooler.md
  adr/0004-deterministic-replay-engine.md
  adr/0005-disclosure-packager.md
Due: prettier --write

feat(i18n): Add I18nProvider context for shared state management
  client/src/hooks/I18nContext.tsx
  client/src/hooks/useI18n.ts
Due: none

refactor: clean up exports and add tests for graph analytics
  packages/graph-analytics/src/__tests__/algorithms.test.ts
  packages/graph-analytics/src/algorithms/betweenness.ts
  packages/graph-analytics/src/algorithms/centrality.ts
  packages/graph-analytics/src/algorithms/community-detection.ts
  packages/graph-analytics/src/algorithms/index.ts
  packages/graph-analytics/src/algorithms/link-prediction.ts
  packages/graph-analytics/src/algorithms/pagerank.ts
  packages/graph-analytics/src/export/export-formats.ts
  packages/graph-analytics/src/export/index.ts
  packages/graph-analytics/src/index.ts
  packages/graph-analytics/src/pattern-matching/index.ts
  packages/graph-analytics/src/pattern-matching/subgraph-matching.ts
  packages/graph-analytics/src/temporal/index.ts
  packages/graph-analytics/src/types.ts
  services/graph-compute/src/index.ts
  services/graph-compute/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update tsbuildinfo
  .tsbuildinfo
Due: none

feat(security): add Adversarial AI and Red Team Operations Platform
  docs/red-team/GUIDE.md
  packages/adversarial-ai/package.json
  packages/adversarial-ai/src/attacks/black-box.ts
  packages/adversarial-ai/src/attacks/cw.ts
  packages/adversarial-ai/src/attacks/deepfool.ts
  packages/adversarial-ai/src/attacks/fgsm.ts
  packages/adversarial-ai/src/attacks/model-inversion.ts
  packages/adversarial-ai/src/attacks/pgd.ts
  packages/adversarial-ai/src/attacks/universal.ts
  packages/adversarial-ai/src/index.ts
  packages/adversarial-ai/src/robustness/robustness-tester.ts
  packages/adversarial-ai/src/types.ts
  packages/adversarial-ai/tsconfig.json
  packages/purple-team/package.json
  packages/purple-team/src/detection/detection-validator.ts
  packages/purple-team/src/exercise/exercise-manager.ts
  packages/purple-team/src/index.ts
  packages/purple-team/src/types.ts
  packages/purple-team/tsconfig.json
  packages/red-team/package.json
  packages/red-team/src/index.ts
  packages/red-team/src/mitre/mitre-library.ts
  packages/red-team/src/recon/attack-surface.ts
  packages/red-team/src/social/social-engineering.ts
  packages/red-team/src/types.ts
  packages/red-team/tsconfig.json
  packages/threat-emulation/package.json
  packages/threat-emulation/src/actors/apt-library.ts
  packages/threat-emulation/src/index.ts
  packages/threat-emulation/src/types.ts
  packages/threat-emulation/tsconfig.json
  packages/vulnerability-intelligence/package.json
  packages/vulnerability-intelligence/src/cve/cve-database.ts
  packages/vulnerability-intelligence/src/index.ts
  packages/vulnerability-intelligence/src/types.ts
  packages/vulnerability-intelligence/tsconfig.json
  services/red-team-service/package.json
  services/red-team-service/src/index.ts
  services/red-team-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(platform): add tests, types, and error handling
  services/ai-service-platform/.eslintrc.cjs
  services/ai-service-platform/package-lock.json
  services/ai-service-platform/src/__tests__/compliance-engine.test.ts
  services/ai-service-platform/src/__tests__/service-registry.test.ts
  services/ai-service-platform/src/__tests__/template-library.test.ts
  services/ai-service-platform/src/index.ts
  services/ai-service-platform/src/middleware/error-handler.ts
  services/ai-service-platform/src/middleware/request-logger.ts
  services/ai-service-platform/src/routes/templates.ts
  services/ai-service-platform/src/types/fastify.d.ts
  services/ai-service-platform/tsconfig.json
  services/ai-service-platform/vitest.config.ts
Due: prettier --write

feat(geoint): add geofencing, routing, and comprehensive tests
  packages/geospatial/__tests__/distance.test.ts
  packages/geospatial/__tests__/parsers.test.ts
  packages/geospatial/jest.config.js
  packages/spatial-analysis/__tests__/dbscan.test.ts
  packages/spatial-analysis/__tests__/geofencing.test.ts
  packages/spatial-analysis/__tests__/hotspot.test.ts
  packages/spatial-analysis/__tests__/point-in-polygon.test.ts
  packages/spatial-analysis/__tests__/routing.test.ts
  packages/spatial-analysis/jest.config.js
  packages/spatial-analysis/src/geofencing/geofence-manager.ts
  packages/spatial-analysis/src/index.ts
  packages/spatial-analysis/src/routing/route-analysis.ts
  packages/spatial-analysis/src/temporal/movement-patterns.ts
Due: eslint --fix --max-warnings=0 --cache

feat(secure-elections): Add comprehensive tests and production improvements
  services/secure-elections/README.md
  services/secure-elections/package.json
  services/secure-elections/pnpm-lock.yaml
  services/secure-elections/src/blockchain/ballot-ledger.ts
  services/secure-elections/src/feedback/citizen-deliberation.ts
  services/secure-elections/src/index.ts
  services/secure-elections/src/privacy/differential-privacy.ts
  services/secure-elections/src/results/real-time-aggregator.ts
  services/secure-elections/src/types/index.ts
  services/secure-elections/tests/ballot-ledger.test.ts
  services/secure-elections/tests/feedback.test.ts
  services/secure-elections/tests/privacy.test.ts
  services/secure-elections/tests/results.test.ts
  services/secure-elections/tsconfig.json
  services/secure-elections/vitest.config.ts
Due: prettier --write

feat: add GraphQL API, tests, and PostgreSQL storage for notification hub
  server/src/notifications-hub/graphql/resolvers.ts
  server/src/notifications-hub/graphql/schema.ts
  server/src/notifications-hub/index.ts
  server/src/notifications-hub/preferences/PostgresPreferencesStorage.ts
  server/src/tests/notifications-hub/NotificationHub.test.ts
Due: none

fix(companyos): improve TypeScript types and add index exports
  companyos/package.json
  companyos/src/api/alertRoutes.ts
  companyos/src/api/deploymentRoutes.ts
  companyos/src/api/incidentRoutes.ts
  companyos/src/api/index.ts
  companyos/src/app.ts
  companyos/src/integrations/githubWebhook.ts
  companyos/src/integrations/index.ts
  companyos/src/integrations/prometheusWebhook.ts
  companyos/src/models/index.ts
  companyos/src/services/alertService.ts
  companyos/src/services/deploymentService.ts
  companyos/src/services/incidentService.ts
  companyos/src/services/index.ts
  companyos/src/services/sloService.ts
Due: prettier --write

feat(chaos): add TypeScript DR drill integration with ChaosEngine
  .gitignore
  dr-drills/.gitkeep
  src/chaos/drills/DRDrillRunner.ts
  src/chaos/drills/__tests__/DRDrillRunner.test.ts
  src/chaos/drills/index.ts
  src/chaos/index.ts
Due: none

chore(govtech): improve quality and add comprehensive tests
  services/govtech-export-engine/.eslintignore
  services/govtech-export-engine/.eslintrc.cjs
  services/govtech-export-engine/.prettierignore
  services/govtech-export-engine/jest.config.js
  services/govtech-export-engine/pnpm-lock.yaml
  services/govtech-export-engine/src/__tests__/branding-engine.test.ts
  services/govtech-export-engine/src/__tests__/market-analyzer.test.ts
  services/govtech-export-engine/src/__tests__/package-generator.test.ts
  services/govtech-export-engine/src/analyzers/estonia-catalog.ts
  services/govtech-export-engine/src/analyzers/index.ts
  services/govtech-export-engine/src/analyzers/market-analyzer.ts
  services/govtech-export-engine/src/branding/branding-engine.ts
  services/govtech-export-engine/src/branding/index.ts
  services/govtech-export-engine/src/exporters/index.ts
  services/govtech-export-engine/src/exporters/package-generator.ts
  services/govtech-export-engine/src/index.ts
  services/govtech-export-engine/src/models/index.ts
  services/govtech-export-engine/src/models/types.ts
  services/govtech-export-engine/src/utils/index.ts
  services/govtech-export-engine/src/utils/sample-countries.ts
  services/govtech-export-engine/tsconfig.json
Due: prettier --write

feat: Complete widget implementations and dashboard service
  packages/dashboard-framework/src/hooks/useRealTimeData.ts
  packages/dashboard-framework/src/hooks/useWidget.ts
  packages/dashboard-framework/src/utils/exportUtils.ts
  packages/dashboard-framework/src/widgets/ChartWidget.tsx
  packages/dashboard-framework/src/widgets/MapWidget.tsx
  packages/dashboard-framework/src/widgets/MetricWidget.tsx
  packages/dashboard-framework/src/widgets/NetworkGraphWidget.tsx
  packages/dashboard-framework/src/widgets/TableWidget.tsx
  packages/dashboard-framework/src/widgets/TimelineWidget.tsx
  packages/visualization/src/components/AxisComponent.tsx
  packages/visualization/src/components/GridComponent.tsx
  services/dashboard-service/package.json
  services/dashboard-service/src/graphql.ts
  services/dashboard-service/src/index.ts
  services/dashboard-service/src/services/DashboardService.ts
  services/dashboard-service/src/websocket.ts
  services/dashboard-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Self-upgrading digital infrastructure system (#12137)
  services/self-upgrading-infrastructure/k8s/deployment.yaml
  services/self-upgrading-infrastructure/package.json
  services/self-upgrading-infrastructure/src/analyzers/TrendAnalyzer.ts
  services/self-upgrading-infrastructure/src/index.ts
  services/self-upgrading-infrastructure/src/managers/HealthManager.ts
  services/self-upgrading-infrastructure/src/managers/UpgradeManager.ts
  services/self-upgrading-infrastructure/src/types/index.ts
  services/self-upgrading-infrastructure/src/utils/logger.ts
  services/self-upgrading-infrastructure/tsconfig.json
Due: prettier --write

fix: make streaming packages standalone and PR-ready
  packages/cep-engine/src/types.ts
  packages/kafka-integration/tsconfig.json
  packages/stream-analytics/src/analytics.ts
  packages/stream-analytics/tsconfig.json
  packages/stream-processing/tsconfig.json
  services/alert-engine/package.json
  services/alert-engine/tsconfig.json
  services/stream-processor/package.json
  services/stream-processor/src/server.ts
  services/stream-processor/src/sinks.ts
  services/stream-processor/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add README and API tests for innovation sandbox
  services/innovation-sandbox/README.md
  services/innovation-sandbox/src/__tests__/api.test.ts
Due: prettier --write

feat(cross-border): add server integration helpers
  server/src/cross-border/index.ts
  server/src/cross-border/integration.ts
  server/src/cross-border/router.ts
Due: none

feat(citizen-service): add security, OpenAPI spec, and polish
  services/citizen-service/.gitignore
  services/citizen-service/openapi.yaml
  services/citizen-service/package-lock.json
  services/citizen-service/src/index.ts
  services/citizen-service/src/middleware/security.ts
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
