Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

test: isolate lineage router
  apps/web/docs/LINEAGE_INTEGRATION.md
  apps/web/src/features/lineage/LineageExplorer.tsx
  apps/web/src/features/lineage/WhyAmISeeingThis.tsx
  apps/web/src/features/lineage/api.ts
  apps/web/src/features/lineage/fixtures.ts
  apps/web/src/features/lineage/index.ts
  apps/web/src/features/lineage/lineageApi.test.ts
  apps/web/src/features/lineage/lineageWidgets.test.tsx
  apps/web/src/features/lineage/types.ts
  server/src/app.ts
  server/src/routes/__tests__/lineage.test.ts
  server/src/routes/lineage.ts
Due: prettier --write

feat: Add comprehensive Safety Harness red-team testing framework
  .github/workflows/safety-harness.yml
  safety-harness/README.md
  safety-harness/__tests__/metrics.test.ts
  safety-harness/__tests__/runner.test.ts
  safety-harness/package.json
  safety-harness/scripts/ci-safety-gate.ts
  safety-harness/src/cli.ts
  safety-harness/src/client.ts
  safety-harness/src/index.ts
  safety-harness/src/metrics.ts
  safety-harness/src/reporter.ts
  safety-harness/src/runner.ts
  safety-harness/src/types.ts
  safety-harness/tsconfig.json
  testpacks/README.md
  testpacks/analytics/unauthorized-queries.json
  testpacks/case/overreach.json
  testpacks/copilot/data-exfiltration.json
  testpacks/copilot/profiling-discrimination.json
  testpacks/copilot/prompt-injection.json
Due: prettier --write

docs: Add comprehensive 45-sprint information warfare defense roadmap
  docs/INFORMATION_WARFARE_DEFENSE_ROADMAP_45_SPRINTS.md
Due: prettier --write

feat(security): Add comprehensive 40-sprint information warfare defense roadmap
  docs/security/INFORMATION-WARFARE-ROADMAP.md
Due: prettier --write

docs: Add comprehensive Influence Operations Defense documentation
  docs/INFLUENCE_OPERATIONS_DEFENSE_ROADMAP.md
  docs/INFLUENCE_OPS_ARCHITECTURE.md
  docs/INFLUENCE_OPS_INTEGRATION_GUIDE.md
Due: prettier --write

docs: Add PR summary for Influence Operations Defense documentation
  PR_SUMMARY.md
Due: prettier --write

feat: Add enterprise-grade deepfake detection system (Sprint 31)
  DEEPFAKE_DETECTION_README.md
  docker-compose.deepfake.yml
  docs/DEEPFAKE_DETECTION_ARCHITECTURE.md
  packages/deepfake-detection/README.md
  packages/deepfake-detection/jest.config.js
  packages/deepfake-detection/package.json
  packages/deepfake-detection/src/__tests__/validation.test.ts
  packages/deepfake-detection/src/constants/index.ts
  packages/deepfake-detection/src/index.ts
  packages/deepfake-detection/src/types/alert.ts
  packages/deepfake-detection/src/types/detection.ts
  packages/deepfake-detection/src/types/index.ts
  packages/deepfake-detection/src/types/media.ts
  packages/deepfake-detection/src/types/model.ts
  packages/deepfake-detection/src/utils/ensemble.ts
  packages/deepfake-detection/src/utils/index.ts
  packages/deepfake-detection/src/utils/metrics.ts
  packages/deepfake-detection/src/utils/validation.ts
  packages/deepfake-detection/tsconfig.json
  services/deepfake-detection-service/.env.example
  services/deepfake-detection-service/Dockerfile
  services/deepfake-detection-service/migrations/001_initial_schema.sql
  services/deepfake-detection-service/requirements.txt
  services/deepfake-detection-service/src/api/main.py
  services/deepfake-detection-service/src/detectors/video_detector.py
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(web): add tri-pane analyst console with Explain This View panel
  apps/web/src/features/analyst-console/AnalystConsole.stories.tsx
  apps/web/src/features/analyst-console/AnalystConsole.tsx
  apps/web/src/features/analyst-console/AnalystMapPane.tsx
  apps/web/src/features/analyst-console/AnalystViewContext.tsx
  apps/web/src/features/analyst-console/ExplainThisViewPanel.tsx
  apps/web/src/features/analyst-console/GraphPane.tsx
  apps/web/src/features/analyst-console/TimelinePane.tsx
  apps/web/src/features/analyst-console/__tests__/AnalystConsole.test.tsx
  apps/web/src/features/analyst-console/__tests__/AnalystViewContext.test.tsx
  apps/web/src/features/analyst-console/index.ts
  apps/web/src/features/analyst-console/mockData.ts
  apps/web/src/features/analyst-console/types.ts
Due: none

feat(ci): modernize build pipeline with multi-platform support and advanced features
  .github/workflows/_reusable-build.yml
  .github/workflows/_reusable-setup.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/ci-modernized.yml
  .github/workflows/docker-build-modernized.yml
  .github/workflows/performance-benchmark.yml
  docs/CI-CD-MODERNIZATION.md
Due: prettier --write

docs: add comprehensive 96-prompt engineering roadmap
  .github/ISSUE_TEMPLATE/roadmap-prompt.yml
  .github/roadmap_calendar.yml
  .github/roadmap_mapping.yml
  analytics/roadmap_signals_96_prompts.json
  docs/ENGINEERING_ROADMAP_96_PROMPTS.md
Due: prettier --write

feat: Tenant Graph Slice v0 - Multi-tenant graph ingest & query system
  data/tenant-graph/mapping-example.yaml
  docs/TENANT_GRAPH_V0.md
  observability/dashboards/tenant-graph-v0.json
  scripts/demo.sh
  scripts/generate-golden-sample.ts
  server/src/db/migrations/001_tenant_graph_schema.sql
  server/src/db/migrations/neo4j/002_tenant_graph_indices.cypher
  server/src/graphql/resolvers/tenantGraph.ts
  server/src/graphql/schema/tenant-graph.graphql
  server/src/routes/ingest.ts
  server/src/services/CSVConnector.ts
  server/src/services/IngestService.ts
  server/src/services/__tests__/IngestService.test.ts
  server/src/services/opa-client.ts
  tests/load/tenant-graph-slo.js
Due: prettier --write

docs: expand summit cloud commercial pitch
  summit-commercial-product-pitch.md
Due: prettier --write

feat(tools): add comprehensive AI dev assistant prompt system
  package.json
  tools/prompt-system/README.md
  tools/prompt-system/jest.config.js
  tools/prompt-system/package.json
  tools/prompt-system/pnpm-lock.yaml
  tools/prompt-system/schemas/template.schema.json
  tools/prompt-system/src/cli/context.ts
  tools/prompt-system/src/cli/generator.ts
  tools/prompt-system/src/cli/index.ts
  tools/prompt-system/src/cli/interactive.ts
  tools/prompt-system/src/core/composer.ts
  tools/prompt-system/src/core/engine.ts
  tools/prompt-system/src/core/index.ts
  tools/prompt-system/src/core/registry.ts
  tools/prompt-system/src/core/types.ts
  tools/prompt-system/src/core/validator.ts
  tools/prompt-system/src/metrics/analytics.ts
  tools/prompt-system/src/metrics/reporter.ts
  tools/prompt-system/src/metrics/tracker.ts
  tools/prompt-system/templates/core/bug-fix.md
  tools/prompt-system/templates/core/feature.md
  tools/prompt-system/templates/core/refactor.md
  tools/prompt-system/templates/core/security-fix.md
  tools/prompt-system/templates/core/ui-ux-fix.md
  tools/prompt-system/templates/specialized/db-migration.md
  tools/prompt-system/templates/specialized/graphql-schema.md
  tools/prompt-system/tests/core/engine.test.ts
  tools/prompt-system/tests/core/validator.test.ts
  tools/prompt-system/tsconfig.json
Due: prettier --write

chore: remove .tsbuildinfo from git tracking (already in .gitignore)
  .tsbuildinfo
Due: none

fix(deps): downgrade @notifee/react-native to available version
  apps/mobile-native/package.json
Due: prettier --write

fix: resolve dependency conflicts and create missing workspace packages
  .npmrc
  apps/.desktop-electron-disabled/README.md
  apps/.desktop-electron-disabled/electron/main.ts
  apps/.desktop-electron-disabled/electron/preload.ts
  apps/.desktop-electron-disabled/package.json
  apps/.desktop-electron-disabled/tsconfig.json
  apps/.desktop-electron-disabled/vite.config.ts
  packages/dimensional-modeling/package.json
  packages/dimensional-modeling/src/index.ts
  packages/dimensional-modeling/tsconfig.json
  packages/olap-engine/package.json
  packages/olap-engine/src/index.ts
  packages/olap-engine/tsconfig.json
  packages/query-optimizer/src/index.ts
  packages/query-optimizer/tsconfig.json
  packages/types/package.json
  packages/types/src/index.ts
  pnpm-workspace.yaml
  services/analytics-service/package.json
  services/cost-optimization/package.json
  services/crm/package.json
  services/dashboard-service/package.json
  services/nlp-service/package.json
  services/sparql-endpoint/package.json
  services/warehouse-service/package.json
  services/websocket-server/package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: clean up Jest configuration and remove duplicates
  jest.config.cjs
Due: none

feat(planning): Implement Strategic Planning Module for intelligence analysis workflows
  server/src/__tests__/strategic-planning.e2e.test.ts
  server/src/graphql/dataloaders/strategicPlanLoader.ts
  server/src/graphql/resolvers/strategicPlanningResolvers.ts
  server/src/graphql/schemas/strategic-planning.ts
  server/src/migrations/023_strategic_planning.ts
  server/src/repos/StrategicPlanRepo.ts
  server/src/services/StrategicPlanningService.test.ts
  server/src/services/StrategicPlanningService.ts
  server/src/services/strategic-planning/README.md
  server/src/types/strategic-planning.ts
Due: prettier --write

fix(deps): update mobile-native dependencies to available versions
  apps/mobile-native/package.json
Due: prettier --write

feat(runbooks): implement orchestration engine with approvals, conditionals, and control flow
  runbooks/engine/src/api.ts
  runbooks/engine/src/engine.ts
  runbooks/engine/src/executors.ts
  runbooks/engine/src/index.ts
  runbooks/engine/src/types.ts
  runbooks/engine/tsconfig.json
Due: prettier --write

feat: implement comprehensive i18n and multi-language support
  I18N_IMPLEMENTATION.md
  packages/i18n/src/components/LocaleSwitcher.tsx
  packages/i18n/src/system-messages/index.ts
  services/i18n-service/.env.example
  services/i18n-service/README.md
  services/i18n-service/package.json
  services/i18n-service/src/api/routes.ts
  services/i18n-service/src/config/supported-languages.ts
  services/i18n-service/src/config/translation-policies.test.ts
  services/i18n-service/src/config/translation-policies.ts
  services/i18n-service/src/exports.ts
  services/i18n-service/src/index.ts
  services/i18n-service/src/integrations/copilot/i18n-adapter.ts
  services/i18n-service/src/integrations/ingestion/i18n-adapter.ts
  services/i18n-service/src/lib/language-detector.test.ts
  services/i18n-service/src/lib/language-detector.ts
  services/i18n-service/src/lib/metrics.ts
  services/i18n-service/src/lib/translation-provider.ts
  services/i18n-service/src/lib/translation-service.ts
  services/i18n-service/src/types/index.ts
  services/i18n-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(catalog): resolve type conflicts and add comprehensive documentation
  packages/data-catalog/README.md
  packages/data-catalog/src/services/MetadataSearchService.ts
  packages/data-catalog/src/services/__tests__/DataSourceService.test.ts
  packages/data-catalog/src/types/dataSourceTypes.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(conductor): add Runbook Runtime system with Rapid Attribution CTI runbook
  server/src/conductor/runbooks/runtime/README.md
  server/src/conductor/runbooks/runtime/__tests__/runtime.test.ts
  server/src/conductor/runbooks/runtime/api.ts
  server/src/conductor/runbooks/runtime/engine.ts
  server/src/conductor/runbooks/runtime/executors/base.ts
  server/src/conductor/runbooks/runtime/executors/custom-executor.ts
  server/src/conductor/runbooks/runtime/executors/graph-lookup-executor.ts
  server/src/conductor/runbooks/runtime/executors/index.ts
  server/src/conductor/runbooks/runtime/executors/ingest-executor.ts
  server/src/conductor/runbooks/runtime/executors/pattern-miner-executor.ts
  server/src/conductor/runbooks/runtime/executors/registry.ts
  server/src/conductor/runbooks/runtime/executors/report-executor.ts
  server/src/conductor/runbooks/runtime/index.ts
  server/src/conductor/runbooks/runtime/rapid-attribution-runbook.ts
  server/src/conductor/runbooks/runtime/state-manager.ts
  server/src/conductor/runbooks/runtime/types.ts
Due: prettier --write

feat(runbooks): add comprehensive tests, service wrapper, and documentation
  runbooks/engine/README.md
  runbooks/engine/src/service.ts
  runbooks/engine/tests/executors.test.ts
Due: prettier --write

feat(prompts): Add Ultra-Prime Recursive Meta-Extrapolative Agent system
  prompts/README.md
  prompts/ULTRA_PRIME_QUICK_START.md
  prompts/__tests__/prompt-integrity.test.ts
  prompts/__tests__/ultra-prime-validation.test.ts
  prompts/capability-matrix.md
  prompts/examples/ultra-prime-examples.md
  prompts/meta-router.md
  prompts/scripts/ultra-prime-orchestrator.ts
  prompts/tools/ultra-prime-engine.ts
  prompts/ultra-prime-recursive-meta-extrapolative.md
Due: prettier --write

feat: add scenario evaluation harness for IntelGraph
  packages/sim-harness/.gitignore
  packages/sim-harness/README.md
  packages/sim-harness/USAGE.md
  packages/sim-harness/jest.config.cjs
  packages/sim-harness/package.json
  packages/sim-harness/reports/.gitkeep
  packages/sim-harness/scripts/example-run.sh
  packages/sim-harness/src/__tests__/ScenarioGenerator.test.ts
  packages/sim-harness/src/__tests__/integration.test.ts
  packages/sim-harness/src/analyst/GhostAnalyst.ts
  packages/sim-harness/src/cli.ts
  packages/sim-harness/src/generator/ScenarioGenerator.ts
  packages/sim-harness/src/index.ts
  packages/sim-harness/src/metrics/MetricsCollector.ts
  packages/sim-harness/src/metrics/reporters/CsvReporter.ts
  packages/sim-harness/src/metrics/reporters/HtmlReporter.ts
  packages/sim-harness/src/metrics/reporters/JsonReporter.ts
  packages/sim-harness/src/types/index.ts
  packages/sim-harness/src/utils/random.ts
  packages/sim-harness/src/utils/safety.ts
  packages/sim-harness/test-data/expectations/fraud-ring.json
  packages/sim-harness/test-data/scenarios/corruption-network.yaml
  packages/sim-harness/test-data/scenarios/fraud-ring.yaml
  packages/sim-harness/test-data/scenarios/terror-cell.yaml
  packages/sim-harness/test-data/workflows/basic-investigation.yaml
  packages/sim-harness/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: update CodeQL workflow configuration
  .github/workflows/codeql.yml
Due: prettier --write

fix: update Trivy scan workflow
  .github/workflows/trivy.yml
Due: prettier --write

fix: update Dependabot configuration
  .github/dependabot.yml
Due: prettier --write

feat: add disaster recovery automation and runbooks
  ops/disaster-recovery/README.md
  ops/disaster-recovery/architecture.md
  ops/disaster-recovery/config/backup-policy.yaml
  ops/disaster-recovery/runbooks/recovery-runbook.md
  ops/disaster-recovery/scripts/backup_runner.sh
  ops/disaster-recovery/scripts/backup_verify.sh
Due: prettier --write

feat: add federated gateway runtime
  ga-graphai/packages/gateway/src/federation/composition.ts
  ga-graphai/packages/gateway/src/federation/gateway.ts
  ga-graphai/packages/gateway/src/federation/types.ts
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/gateway/tests/federated-gateway.test.ts
Due: none

feat: extend streaming platform blueprint
  streaming/README.md
  streaming/platform/README.md
  streaming/stream-jobs/build.gradle.kts
  streaming/stream-jobs/src/main/kotlin/App.kt
  streaming/stream-jobs/src/main/kotlin/Serdes.kt
  streaming/stream-jobs/src/main/kotlin/Topology.kt
  streaming/stream-jobs/src/test/kotlin/TopologyTest.kt
Due: prettier --write

chore: add kong and traefik gateway blueprints
  ops/gateway/README.md
  ops/gateway/kong/kong.yaml
  ops/gateway/kong/values.yaml
  ops/gateway/traefik/dynamic/ingressroutes.yaml
  ops/gateway/traefik/values.yaml
Due: prettier --write

feat: add distributed tracing support
  services/authz-gateway/README.md
  services/authz-gateway/package.json
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/middleware.ts
  services/authz-gateway/src/observability.ts
  services/authz-gateway/tests/observability.test.ts
Due: prettier --write

ci: add unified ci cd pipeline
  .github/workflows/unified-ci-cd.yml
Due: prettier --write

feat: add orchestration stack
  ops/orchestration/README.md
  ops/orchestration/docker-compose.dev.yml
  ops/orchestration/helm/summit-platform/Chart.yaml
  ops/orchestration/helm/summit-platform/templates/_helpers.tpl
  ops/orchestration/helm/summit-platform/templates/api.yaml
  ops/orchestration/helm/summit-platform/templates/istio.yaml
  ops/orchestration/helm/summit-platform/templates/namespace.yaml
  ops/orchestration/helm/summit-platform/templates/web.yaml
  ops/orchestration/helm/summit-platform/templates/worker.yaml
  ops/orchestration/helm/summit-platform/values.yaml
  ops/orchestration/k8s/api.yaml
  ops/orchestration/k8s/istio-gateway.yaml
  ops/orchestration/k8s/namespace.yaml
  ops/orchestration/k8s/web.yaml
  ops/orchestration/k8s/worker.yaml
Due: prettier --write

docs: add advanced security platform blueprint
  docs/security/ADVANCED_SECURITY_PLATFORM.md
Due: prettier --write

feat: enhance webhook management and dashboards
  client/src/App.router.jsx
  client/src/pages/WebhookDashboard.jsx
  client/src/services/api.js
  server/db/migrations/postgres/2025-11-28_webhook_attempts.sql
  server/src/routes/webhooks.ts
  server/src/webhooks/__tests__/webhook.test.ts
  server/src/webhooks/webhook.service.ts
  server/src/webhooks/webhook.worker.ts
Due: none

feat: add event sourcing cqrs toolkit
  ga-graphai/packages/event-sourcing-cqrs/AGENTS.md
  ga-graphai/packages/event-sourcing-cqrs/README.md
  ga-graphai/packages/event-sourcing-cqrs/package.json
  ga-graphai/packages/event-sourcing-cqrs/src/commandBus.ts
  ga-graphai/packages/event-sourcing-cqrs/src/consistency.ts
  ga-graphai/packages/event-sourcing-cqrs/src/eventBus.ts
  ga-graphai/packages/event-sourcing-cqrs/src/eventStore.ts
  ga-graphai/packages/event-sourcing-cqrs/src/index.ts
  ga-graphai/packages/event-sourcing-cqrs/src/queryModel.ts
  ga-graphai/packages/event-sourcing-cqrs/src/replayer.ts
  ga-graphai/packages/event-sourcing-cqrs/src/saga.ts
  ga-graphai/packages/event-sourcing-cqrs/src/snapshotStore.ts
  ga-graphai/packages/event-sourcing-cqrs/src/types.ts
  ga-graphai/packages/event-sourcing-cqrs/tests/eventSourcing.spec.ts
  ga-graphai/packages/event-sourcing-cqrs/tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
