Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Build automated data monetization engine (#12113)
  packages/data-monetization-types/package.json
  packages/data-monetization-types/src/index.ts
  packages/data-monetization-types/tsconfig.json
  services/data-monetization-engine/package.json
  services/data-monetization-engine/src/db/postgres.ts
  services/data-monetization-engine/src/graphql/resolvers/index.ts
  services/data-monetization-engine/src/graphql/schema.ts
  services/data-monetization-engine/src/index.ts
  services/data-monetization-engine/src/services/AssetDiscoveryService.ts
  services/data-monetization-engine/src/services/ComplianceService.ts
  services/data-monetization-engine/src/services/ContractService.ts
  services/data-monetization-engine/src/services/MarketplaceService.ts
  services/data-monetization-engine/src/services/ValuationService.ts
  services/data-monetization-engine/src/utils/logger.ts
  services/data-monetization-engine/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: extend plugin system with marketplace UI, Python SDK, and advanced features
  .github/workflows/plugin-ci.yml
  examples/plugins/example-analyzer/plugin.json
  examples/plugins/example-analyzer/src/index.ts
  packages/extension-api/src/extensions/MLModelExtension.ts
  packages/extension-api/src/extensions/NotificationExtension.ts
  packages/extension-api/src/extensions/SearchExtension.ts
  packages/extension-api/src/extensions/ThemeExtension.ts
  packages/extension-api/src/index.ts
  packages/plugin-analytics/package.json
  packages/plugin-analytics/src/PluginAnalytics.ts
  packages/plugin-analytics/src/PluginMetrics.ts
  packages/plugin-analytics/src/PluginTelemetry.ts
  packages/plugin-analytics/src/index.ts
  packages/plugin-analytics/src/types.ts
  packages/plugin-analytics/tsconfig.json
  packages/plugin-marketplace-ui/package.json
  packages/plugin-marketplace-ui/src/components/PluginDashboard.tsx
  packages/plugin-marketplace-ui/src/components/PluginManager.tsx
  packages/plugin-marketplace-ui/src/components/PluginMarketplace.tsx
  packages/plugin-marketplace-ui/src/hooks/usePluginMetrics.ts
  packages/plugin-marketplace-ui/src/hooks/usePluginStore.ts
  packages/plugin-marketplace-ui/src/index.ts
  packages/plugin-sdk-python/README.md
  packages/plugin-sdk-python/pyproject.toml
  packages/plugin-sdk-python/src/summit_plugin_sdk/__init__.py
  packages/plugin-sdk-python/src/summit_plugin_sdk/decorators.py
  packages/plugin-sdk-python/src/summit_plugin_sdk/extensions.py
  packages/plugin-sdk-python/src/summit_plugin_sdk/plugin.py
  packages/plugin-sdk-python/src/summit_plugin_sdk/testing.py
  packages/plugin-sdk-python/src/summit_plugin_sdk/types.py
  services/plugin-gateway/package.json
  services/plugin-gateway/src/PluginGateway.ts
  services/plugin-gateway/src/middleware/AuthMiddleware.ts
  services/plugin-gateway/src/middleware/RateLimiter.ts
  services/plugin-gateway/src/middleware/RequestLogger.ts
  services/plugin-gateway/src/server.ts
  services/plugin-gateway/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Build GovTech export engine for Estonia (#12112)
  services/govtech-export-engine/.eslintrc.cjs
  services/govtech-export-engine/package.json
  services/govtech-export-engine/src/__tests__/market-analyzer.test.ts
  services/govtech-export-engine/src/analyzers/estonia-catalog.ts
  services/govtech-export-engine/src/analyzers/market-analyzer.ts
  services/govtech-export-engine/src/branding/branding-engine.ts
  services/govtech-export-engine/src/exporters/package-generator.ts
  services/govtech-export-engine/src/index.ts
  services/govtech-export-engine/src/models/types.ts
  services/govtech-export-engine/tsconfig.json
Due: prettier --write

feat(time-series): add comprehensive tests for core packages and fix feature extraction
  packages/anomaly-detection/src/__tests__/AnomalyDetection.test.ts
  packages/forecasting/src/__tests__/Forecasting.test.ts
  packages/time-series/src/__tests__/TimeSeries.test.ts
  packages/ts-feature-engineering/src/index.ts
Due: eslint --fix --max-warnings=0 --cache

Build AI-Powered Multi-Language Global Integration (#12111)
  services/global-integration/README.md
  services/global-integration/package.json
  services/global-integration/src/APIGenerator.ts
  services/global-integration/src/ComplianceEngine.ts
  services/global-integration/src/GlobalIntegrationOrchestrator.ts
  services/global-integration/src/MarketExpansion.ts
  services/global-integration/src/PartnerDiscovery.ts
  services/global-integration/src/__tests__/ComplianceEngine.test.ts
  services/global-integration/src/__tests__/GlobalIntegrationOrchestrator.test.ts
  services/global-integration/src/__tests__/MarketExpansion.test.ts
  services/global-integration/src/index.ts
  services/global-integration/src/server.ts
  services/global-integration/src/types.ts
  services/global-integration/tsconfig.json
Due: prettier --write

Build AI experience marketplace with personalization (#12110)
  services/ai-marketplace/README.md
  services/ai-marketplace/package.json
  services/ai-marketplace/src/engines/personalization-engine.ts
  services/ai-marketplace/src/graphql/resolvers.ts
  services/ai-marketplace/src/graphql/schema.ts
  services/ai-marketplace/src/index.ts
  services/ai-marketplace/src/localization/locale-adapter.ts
  services/ai-marketplace/src/models/types.ts
  services/ai-marketplace/src/services/marketplace-service.ts
  services/ai-marketplace/src/services/preference-learning.ts
  services/ai-marketplace/tsconfig.json
Due: prettier --write

feat(nl-graph-query): add metrics, caching, and fuzzy matching
  server/src/ai/nl-graph-query/cost-estimator.ts
  server/src/ai/nl-graph-query/index.ts
  server/src/ai/nl-graph-query/metrics.ts
  server/src/ai/nl-graph-query/nl-graph-query.service.ts
  server/src/ai/nl-graph-query/query-patterns.ts
  server/src/ai/nl-graph-query/validator.ts
  server/tests/nl-graph-query.test.ts
Due: none

feat(cross-border): add metrics, HTTP router, and observability
  server/src/cross-border/__tests__/metrics.test.ts
  server/src/cross-border/index.ts
  server/src/cross-border/metrics.ts
  server/src/cross-border/router.ts
Due: none

chore: update tsbuildinfo
  .tsbuildinfo
Due: none

feat(marketplace): add observability, OpenAPI spec, and transaction tests
  services/marketplace/openapi.yaml
  services/marketplace/src/__tests__/transactionService.test.ts
  services/marketplace/src/index.ts
  services/marketplace/src/routes/health.ts
  services/marketplace/src/utils/metrics.ts
Due: none

fix(api): improve API docs reliability and add tests
  package.json
  services/api/src/docs/__tests__/swagger.test.ts
  services/api/src/middleware/__tests__/openapi-validator.test.ts
  services/api/src/middleware/openapi-validator.ts
Due: prettier --write

chore(etl-assistant): add Python project config and cleanup
  data-pipelines/etl-assistant/pyproject.toml
  data-pipelines/etl-assistant/tests/__init__.py
  server/src/etl-assistant-api/index.ts
Due: none

feat(ai-sandbox): add tests, docker-compose, and documentation
  docker-compose.dev.yml
  services/ai-sandbox/README.md
  services/ai-sandbox/jest.config.js
  services/ai-sandbox/src/sandbox/SandboxRuntime.ts
  services/ai-sandbox/tests/policy.test.ts
  services/ai-sandbox/tests/sandbox.test.ts
  services/ai-sandbox/tests/types.test.ts
  services/ai-sandbox/tsconfig.json
Due: prettier --write

feat(extensions): add unit tests and performance optimizations
  packages/extensions/jest.config.js
  packages/extensions/package.json
  packages/extensions/src/loader.ts
  packages/extensions/tests/integrations.test.ts
  packages/extensions/tests/policy.test.ts
  packages/extensions/tests/registry.test.ts
  packages/extensions/tests/types.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(graphql): add operational scripts, tests, and npm integration
  graphql/__tests__/validation-rules.test.ts
  graphql/index.ts
  graphql/package.json
  graphql/scripts/register-schema.ts
  graphql/scripts/validate-schema.ts
  graphql/tsconfig.json
  package.json
Due: prettier --write

Digital Twin Infrastructure for Public Assets (#12116)
  server/src/integrations/SmartCityConnector.ts
  server/src/services/DigitalTwinService.ts
  server/src/services/PredictiveMaintenanceService.ts
  server/src/simulation/SimulationEngine.ts
  server/src/types/digitalTwin.ts
Due: none

docs(cross-border): add comprehensive module documentation
  server/src/cross-border/README.md
Due: prettier --write

feat: make API versioning and deprecation production-ready
  server/src/graphql/plugins/deprecation-plugin.ts
  server/src/middleware/api-version.ts
  server/src/middleware/deprecation.ts
  server/src/middleware/index.ts
  server/tests/middleware/api-version.test.ts
  server/tests/middleware/deprecation.test.ts
Due: none

feat: enhance streaming platform with tests, dockerfiles, and alerting
  docker-compose.streaming.yml
  packages/cep-engine/tsconfig.json
  packages/event-processing/src/alerting/AlertManager.ts
  packages/event-processing/src/index.ts
  packages/event-processing/test/AlertManager.test.ts
  packages/event-processing/test/CEPEngine.test.ts
  packages/event-processing/tsconfig.json
  packages/real-time-analytics/test/StreamAnalytics.test.ts
  packages/real-time-analytics/tsconfig.json
  packages/stream-ingestion/tsconfig.json
  packages/stream-processing/test/MessageBroker.test.ts
  packages/stream-processing/tsconfig.json
  services/event-correlation-service/Dockerfile
  services/event-correlation-service/tsconfig.json
  services/streaming-service/Dockerfile
  services/streaming-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(sandbox): extend with Redis registry, tracing, tests, docker-compose
  docker-compose.sandbox.yml
  services/innovation-sandbox/package-lock.json
  services/innovation-sandbox/package.json
  services/innovation-sandbox/src/__tests__/SecureSandbox.test.ts
  services/innovation-sandbox/src/__tests__/SensitiveDataDetector.test.ts
  services/innovation-sandbox/src/__tests__/TestCaseGenerator.test.ts
  services/innovation-sandbox/src/exports.ts
  services/innovation-sandbox/src/index.ts
  services/innovation-sandbox/src/integration/ProvLedgerClient.ts
  services/innovation-sandbox/src/utils/SandboxRegistry.ts
  services/innovation-sandbox/src/utils/tracing.ts
  services/innovation-sandbox/tsconfig.json
  services/innovation-sandbox/vitest.config.ts
Due: prettier --write

feat: extend multi-cloud platform with comprehensive enhancements
  .github/workflows/multi-cloud-deploy.yaml
  .github/workflows/terraform-multicloud.yaml
  infrastructure/helm/summit-api/Chart.yaml
  infrastructure/helm/summit-api/templates/_helpers.tpl
  infrastructure/helm/summit-api/templates/deployment.yaml
  infrastructure/helm/summit-api/values.yaml
  infrastructure/kubernetes/multi-cluster/configs/observability.yaml
  infrastructure/kubernetes/multi-cluster/configs/summit-app.yaml
  infrastructure/security/compliance/cspm-config.yaml
  infrastructure/security/scanning/security-scanner.yaml
  infrastructure/terraform/multi-cloud/modules/cost-optimization/main.tf
  infrastructure/terraform/multi-cloud/modules/disaster-recovery/main.tf
  infrastructure/terraform/multi-cloud/modules/hybrid-connectivity/main.tf
  packages/cloud-abstraction/src/database/aws-database.ts
  packages/cloud-abstraction/src/database/azure-database.ts
  packages/cloud-abstraction/src/database/gcp-database.ts
  packages/cloud-abstraction/src/database/index.ts
  packages/cloud-abstraction/src/messaging/aws-messaging.ts
  packages/cloud-abstraction/src/messaging/azure-messaging.ts
  packages/cloud-abstraction/src/messaging/gcp-messaging.ts
  packages/cloud-abstraction/src/messaging/index.ts
  packages/cloud-abstraction/src/secrets/aws-secrets.ts
  packages/cloud-abstraction/src/secrets/azure-secrets.ts
  packages/cloud-abstraction/src/secrets/gcp-secrets.ts
  packages/cloud-abstraction/src/secrets/index.ts
  packages/cloud-migration/package.json
  packages/cloud-migration/src/discovery/index.ts
  packages/cloud-migration/src/index.ts
  packages/cloud-migration/src/migration/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(demos): add de-escalation unit tests and pipeline enhancements
  demos/deescalation/output/analysis_results.json
  demos/deescalation/pipelines/load_demo_data.py
  demos/deescalation/pipelines/test_load_demo_data.py
  demos/misinfo-defense/output/analysis_results.json
Due: prettier --write

feat(marketplace): add review and access grant services
  services/marketplace/src/index.ts
  services/marketplace/src/routes/access.ts
  services/marketplace/src/routes/reviews.ts
  services/marketplace/src/services/accessGrantService.ts
  services/marketplace/src/services/index.ts
  services/marketplace/src/services/reviewService.ts
Due: none

feat(monitoring): Extend and enhance production monitoring system
  monitoring/alertmanager/alertmanager-production.yml
  monitoring/blackbox-exporter/blackbox.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/k6/performance-test.js
  monitoring/prometheus.yml
  server/src/routes/metrics.ts
  server/tests/monitoring.integration.test.ts
Due: none

feat(prov-ledger): Add production-ready enhancements and mock-based tests
  services/prov-ledger/eslint.config.js
  services/prov-ledger/src/index.ts
  services/prov-ledger/src/scripts/migrate.ts
  services/prov-ledger/test/unit/schemas.test.ts
  services/prov-ledger/test/unit/utils.test.ts
Due: none

test: fix test expectations for sandbox execution
  services/innovation-sandbox/src/__tests__/SecureSandbox.test.ts
  services/innovation-sandbox/src/__tests__/SensitiveDataDetector.test.ts
Due: none

fix(observability): Fix TypeScript and ESM compatibility issues
  server/src/observability/enhanced-metrics.ts
  server/src/observability/index.ts
  server/src/observability/neo4j-instrumentation.ts
  server/src/observability/postgres-instrumentation.ts
  server/src/observability/tracer.ts
Due: none

chore: remove temporary research files
  MARKETPLACE_DESIGN_REFERENCE.md
  MARKETPLACE_RESEARCH.md
Due: prettier --write

chore: update demo output files from verification run
  demos/deescalation/output/analysis_results.json
  demos/misinfo-defense/output/analysis_results.json
Due: prettier --write

feat: complete visualization packages with full implementations
  packages/chart-components/jest.config.cjs
  packages/chart-components/src/__tests__/LineChart.test.tsx
  packages/chart-components/src/__tests__/setup.ts
  packages/geospatial-viz/src/components/GeoMap.tsx
  packages/geospatial-viz/src/index.ts
  packages/geospatial-viz/src/types.ts
  packages/network-viz/src/components/NetworkGraph.tsx
  packages/network-viz/src/index.ts
  packages/network-viz/src/types.ts
  packages/statistical-viz/src/components/BoxPlot.tsx
  packages/statistical-viz/src/index.ts
  packages/statistical-viz/src/types.ts
  packages/timeseries-viz/src/components/TimeSeriesChart.tsx
  packages/timeseries-viz/src/index.ts
  packages/timeseries-viz/src/types.ts
  packages/visualization-sdk/src/export.ts
  packages/visualization-sdk/src/index.ts
  packages/visualization-sdk/src/registry.ts
  packages/visualization-sdk/src/types.ts
  packages/visualization/src/hooks/useVisualization.ts
  packages/visualization/src/index.ts
  packages/visualization/src/types.ts
Due: eslint --fix --max-warnings=0 --cache

feat: Add enterprise security and operational capabilities
  packages/deepfake-detection/src/federated/federated-learning.ts
  packages/deepfake-detection/src/index.ts
  services/deception-detection-service/src/alerting-system.ts
  services/deception-detection-service/src/threat-intelligence.ts
Due: eslint --fix --max-warnings=0 --cache

feat(observability): Add GraphQL plugin and health endpoint
  server/src/graphql/plugins/observabilityPlugin.ts
  server/src/observability/index.ts
  server/src/routes/health.ts
Due: none

feat(tests): add comprehensive test coverage for critical services
  jest.config.cjs
  jest.projects.cjs
  services/audit_svc/__tests__/audit.test.ts
  services/copilot/__tests__/copilot.test.ts
  services/crypto-service/__tests__/crypto.test.ts
  services/graph-api/__tests__/graph-api.test.ts
  services/policy/__tests__/policy.test.ts
  tests/integration/db.test.ts
  tests/utils/jest-setup.ts
  tests/utils/test-factories.ts
Due: none

feat(digital-twin): Add Digital Twin Platform (Phase 0)
  services/digital-twin/Dockerfile
  services/digital-twin/README.md
  services/digital-twin/helm/Chart.yaml
  services/digital-twin/helm/values.yaml
  services/digital-twin/jest.config.cjs
  services/digital-twin/migrations/001_create_digital_twins.sql
  services/digital-twin/package.json
  services/digital-twin/src/api/resolvers.ts
  services/digital-twin/src/api/schema.ts
  services/digital-twin/src/core/EventBus.ts
  services/digital-twin/src/core/TwinRepository.ts
  services/digital-twin/src/core/TwinService.ts
  services/digital-twin/src/index.ts
  services/digital-twin/src/ingestion/StreamIngestion.ts
  services/digital-twin/src/server.ts
  services/digital-twin/src/simulation/SimulationEngine.ts
  services/digital-twin/src/state/StateEstimator.ts
  services/digital-twin/src/types/index.ts
  services/digital-twin/tests/SimulationEngine.test.ts
  services/digital-twin/tests/TwinService.test.ts
  services/digital-twin/tsconfig.json
Due: prettier --write

feat(governance): extended infrastructure with OPA, hooks, provenance, ADRs & scripts
  INTEGRATION_POINTS.md
  README_SERVICE_INVENTORY.md
  SERVICE_INVENTORY.md
  SERVICE_QUICK_REFERENCE.md
  adr/ADR-0005-canonical-entity-types.md
  adr/ADR-0006-authority-compiler.md
  adr/ADR-0007-evidence-first-copilot.md
  packages/authority-compiler/src/index.ts
  packages/authority-compiler/src/opa-client.ts
  packages/authority-compiler/src/provenance-integration.ts
  packages/authority-compiler/src/service-connectors.ts
  packages/governance-hooks/package.json
  packages/governance-hooks/src/connector-hooks.ts
  packages/governance-hooks/src/copilot-hooks.ts
  packages/governance-hooks/src/export-hooks.ts
  packages/governance-hooks/src/graphql-hooks.ts
  packages/governance-hooks/src/index.ts
  packages/governance-hooks/src/rag-hooks.ts
  packages/prov-ledger-extensions/package.json
  packages/prov-ledger-extensions/src/ai-attribution.ts
  packages/prov-ledger-extensions/src/citation-tracker.ts
  packages/prov-ledger-extensions/src/evidence-chain.ts
  packages/prov-ledger-extensions/src/export-manifest.ts
  packages/prov-ledger-extensions/src/index.ts
  scripts/wave0/01-validate-golden-path.sh
  scripts/wave0/02-install-packages.sh
  scripts/wave0/03-run-health-checks.sh
  scripts/wave0/README.md
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs(reports): add operational appendix with runnable commands
  reports/tech-debt-triage-q4-2025.md
Due: prettier --write

feat(talent-magnet): Add Global Talent Magnet AI service
  services/talent-magnet/.eslintrc.cjs
  services/talent-magnet/jest.config.cjs
  services/talent-magnet/package.json
  services/talent-magnet/pnpm-lock.yaml
  services/talent-magnet/src/__tests__/IncentiveGenerator.test.ts
  services/talent-magnet/src/__tests__/MatchingEngine.test.ts
  services/talent-magnet/src/index.ts
  services/talent-magnet/src/models/index.ts
  services/talent-magnet/src/models/types.ts
  services/talent-magnet/src/routes/talents.ts
  services/talent-magnet/src/services/IncentiveGenerator.ts
  services/talent-magnet/src/services/MatchingEngine.ts
  services/talent-magnet/src/services/OnboardingService.ts
  services/talent-magnet/src/services/TalentRepository.ts
  services/talent-magnet/src/services/index.ts
  services/talent-magnet/src/utils/logger.ts
  services/talent-magnet/tsconfig.json
Due: prettier --write

Draft incident response playbook for outages (#12118)
  RUNBOOKS/incident-response-playbook.md
Due: prettier --write
