Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Implement granular coverage tracking in governance_layers.py
  policy-fuzzer/governance_layers.py
Due: none

feat: Implement basic policy parser and integrate with policy generator
  policy-fuzzer/policy_generator.py
  policy-fuzzer/policy_parser.py
Due: none

feat: Refine PolicyOracle with property-based testing and improved logic
  policy-fuzzer/policy_oracle.py
Due: none

feat: add policy-aware synthetic log generator
  paslog/__init__.py
  paslog/distributions.py
  paslog/generator.py
  paslog/policy.py
  paslog/schema.py
  paslog/validator.py
  paslog/writer.py
  pyproject.toml
  tests/paslog/test_paslog.py
Due: none

feat: add pipeline flakiness detector toolkit
  tools/pfd/README.md
  tools/pfd/pfd/__init__.py
  tools/pfd/pfd/core.py
  tools/pfd/pfd/pytest_plugin.py
  tools/pfd/pfd/report.py
  tools/pfd/pyproject.toml
  tools/pfd/tests/test_detector.py
Due: prettier --write

feat: deliver human feedback arbitration workbench
  client/src/App.router.jsx
  client/src/features/hfa/HFAWorkbench.tsx
  server/src/app.ts
  server/src/routes/hfa.ts
  server/src/services/HumanFeedbackArbitrationService.test.ts
  server/src/services/HumanFeedbackArbitrationService.ts
Due: none

feat: add multicloud egress governor sidecar
  sdk/python/maestro_sdk/mdeg/__init__.py
  sdk/python/maestro_sdk/mdeg/client.py
  sdk/typescript/src/index.ts
  sdk/typescript/src/mdeg.ts
  services/mdeg/README.md
  services/mdeg/cmd/mdeg/main.go
  services/mdeg/config.example.yaml
  services/mdeg/go.mod
  services/mdeg/go.sum
  services/mdeg/internal/config/config.go
  services/mdeg/internal/manifest/manifest.go
  services/mdeg/internal/manifest/manifest_test.go
  services/mdeg/internal/manifest/store.go
  services/mdeg/internal/policy/enforcer.go
  services/mdeg/internal/policy/policy.go
  services/mdeg/internal/policy/policy_test.go
  services/mdeg/internal/policy/ratelimiter.go
  services/mdeg/internal/provider/cost.go
  services/mdeg/internal/server/handlers.go
  services/mdeg/internal/server/server.go
Due: prettier --write

feat: add categorical privacy validator package
  cpv/__init__.py
  cpv/evaluator.py
  cpv/heatmap.py
  cpv/remediation.py
  cpv/report.py
  tests/conftest.py
  tests/fixtures/cpv/injected_privacy_violations.json
  tests/unit/cpv/test_cpv.py
Due: prettier --write

feat: add federated schema registry with policy tags
  src/fsr-pt/SchemaCompatibility.ts
  src/fsr-pt/SchemaRegistry.ts
  src/fsr-pt/TagDiff.ts
  src/fsr-pt/clientGenerator.ts
  src/fsr-pt/index.ts
  src/fsr-pt/types.ts
  test/fsr-pt/schemaRegistry.test.ts
Due: none

feat: add data minimization planner service
  services/privacy/src/dataMinimizationPlanner.ts
  services/privacy/src/index.ts
  test/privacy/dataMinimizationPlanner.test.ts
Due: none

feat: add agql attestation graph workspace
  agql/Cargo.lock
  agql/Cargo.toml
  agql/agql-cli/Cargo.toml
  agql/agql-cli/src/main.rs
  agql/agql-core/Cargo.toml
  agql/agql-core/src/lib.rs
  agql/agql-server/Cargo.toml
  agql/agql-server/src/main.rs
Due: none

feat: add inference cost optimizer toolkit
  ico/README.md
  ico/controller/controller.go
  ico/controller/controller_test.go
  ico/controller/go.mod
  ico/controller/planfixtures/plan.json
  ico/dashboard/package-lock.json
  ico/dashboard/package.json
  ico/dashboard/src/index.ts
  ico/dashboard/test/dashboard.test.ts
  ico/dashboard/tsconfig.json
  ico/planner/conftest.py
  ico/planner/fixtures/benchmarks.json
  ico/planner/fixtures/request.json
  ico/planner/ico_planner/__init__.py
  ico/planner/ico_planner/models.py
  ico/planner/ico_planner/planner.py
  ico/planner/ico_planner/tests/test_planner.py
  ico/planner/main.py
Due: prettier --write

feat: add risk-adaptive limiter sidecar and sdk
  sdk/rarl/README.md
  sdk/rarl/package.json
  sdk/rarl/src/client.ts
  sdk/rarl/src/index.ts
  sdk/rarl/src/types.ts
  sdk/rarl/tsconfig.json
  tools/rarl/README.md
  tools/rarl/cmd/rarl/main.go
  tools/rarl/config/sample-config.json
  tools/rarl/go.mod
  tools/rarl/internal/rarl/config.go
  tools/rarl/internal/rarl/manager.go
  tools/rarl/internal/rarl/manager_test.go
  tools/rarl/internal/server/server.go
Due: prettier --write

feat: add jitae dual-control access service
  services/jitae/cmd/jitae-cli/main.go
  services/jitae/cmd/jitae-server/main.go
  services/jitae/go.mod
  services/jitae/go.sum
  services/jitae/internal/clock/clock.go
  services/jitae/internal/config/config.go
  services/jitae/internal/core/models.go
  services/jitae/internal/core/service.go
  services/jitae/internal/core/service_test.go
  services/jitae/internal/httpapi/handler.go
  services/jitae/internal/notifier/notifier.go
  ui/jitae/index.html
  ui/jitae/package-lock.json
  ui/jitae/package.json
  ui/jitae/src/App.css
  ui/jitae/src/App.tsx
  ui/jitae/src/main.tsx
  ui/jitae/src/types.ts
  ui/jitae/tsconfig.json
  ui/jitae/vite.config.ts
Due: prettier --write

feat: Implement metamorphic testing and integrate into main fuzzing loop
  policy-fuzzer/main.py
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: Add configurable attack grammar categories via command-line arguments
  policy-fuzzer/main.py
  policy-fuzzer/query_generator.py
Due: none

feat: add consent revocation propagator service
  services/crp/README.md
  services/crp/errors.go
  services/crp/go.mod
  services/crp/processor.go
  services/crp/processor_test.go
  services/crp/repository.go
  services/crp/systems.go
  services/crp/types.go
Due: prettier --write

feat: add mfue unlearning evaluation framework
  mfue/__init__.py
  mfue/baselines.py
  mfue/config.py
  mfue/datasets.py
  mfue/evaluator.py
  mfue/metrics.py
  mfue/models.py
  mfue/report.py
  tests/conftest.py
  tests/mfue/test_evaluator.py
Due: none

feat: Implement HTML report generation with visual coverage heatmap
  policy-fuzzer/reporter.py
Due: none

feat: Implement automated root cause analysis by capturing detailed failure reasons
  policy-fuzzer/governance_layers.py
  policy-fuzzer/main.py
Due: none

feat: add knowledge cutoff router
  src/kcr/__tests__/router.test.ts
  src/kcr/index.ts
  src/kcr/router.ts
  src/kcr/simulator.ts
  src/kcr/types.ts
  tests/kcr-simulator.ts
Due: none

docs: add CompanyOS initiative build playbooks
  project_management/companyos-jira.csv
  project_management/companyos/COS-EVIDENCE-PUB.md
  project_management/companyos/COS-HELM-HARDEN.md
  project_management/companyos/COS-ID-SCIM-ABAC.md
  project_management/companyos/COS-OTEL-SLO.md
  project_management/companyos/COS-PACT-E2E.md
  project_management/companyos/COS-POL-FETCH.md
  project_management/companyos/COS-RET-RTBF.md
  project_management/companyos/COS-ROLLOUT-GATE.md
  project_management/companyos/README.md
Due: prettier --write

feat: Implement severity and impact assessment for failing cases in reports
  policy-fuzzer/reporter.py
Due: none

feat: Complete initial policy fuzzer development with advanced features
  policy-fuzzer/attack_grammars.py
  server/src/db/repositories/evidenceRepo.ts
  server/src/db/repositories/trustRiskRepo.ts
  server/src/graphql/resolvers/provenance.ts
  server/src/graphql/resolvers/trust-risk.ts
  server/src/graphql/schema.provenance.ts
  server/src/graphql/schema.trust-risk.ts
  tests/graphql/provenance.link.test.ts
Due: none

chore: refine quality gate evidence packs
  EVIDENCE_BUNDLE.manifest.json
  chaos/scenarios/api-canary-outage.md
  docs/acceptance-packs/.gitignore
  docs/acceptance-packs/collaborative-intelligence-epic.json
  docs/acceptance-packs/feature-flag-governance-epic.json
  load/k6/quality-gates.js
  security/sbom/quality-gates-sbom.json
  src/graphql/__tests__/deployCollaborative.test.ts
  src/utils/__tests__/__fixtures__/quality-gates.yaml
  src/utils/__tests__/featureFlagService.test.ts
  tests/coverage-goals.json
  tests/e2e/quality-gates.spec.ts
  tests/integration/feature-flags/featureFlagService.integration.test.ts
Due: prettier --write

feat(flia): add blast radius analyzer with CLI and UI
  client/src/features/flia/FliaReport.tsx
  client/src/features/flia/__tests__/FliaReport.test.tsx
  client/src/features/flia/index.ts
  client/src/features/flia/sampleData.ts
  client/src/features/flia/types.ts
  python/intelgraph_py/__init__.py
  python/intelgraph_py/flia/__init__.py
  python/intelgraph_py/flia/analysis.py
  python/intelgraph_py/flia/cli.py
  python/intelgraph_py/flia/fixtures/__init__.py
  python/intelgraph_py/flia/fixtures/feature_catalog.json
  python/intelgraph_py/flia/fixtures/model_registry.json
  python/intelgraph_py/flia/fixtures/pipeline_dag.json
  python/intelgraph_py/flia/fixtures/tasks.py
  python/intelgraph_py/flia/graph.py
  python/intelgraph_py/flia/ingest.py
  python/intelgraph_py/flia/models.py
  python/intelgraph_py/flia/playbook.py
  python/tests/test_flia_analysis.py
Due: prettier --write

feat: add robust prompt template compiler
  packages/rptc/jest.config.ts
  packages/rptc/package.json
  packages/rptc/src/adapters/anthropic.ts
  packages/rptc/src/adapters/openai-chat.ts
  packages/rptc/src/adapters/types.ts
  packages/rptc/src/adapters/vertex-ai.ts
  packages/rptc/src/compiler.ts
  packages/rptc/src/errors.ts
  packages/rptc/src/format/ci-formatter.ts
  packages/rptc/src/index.ts
  packages/rptc/src/schema.ts
  packages/rptc/src/testing/test-generator.ts
  packages/rptc/src/testing/types.ts
  packages/rptc/test/compiler.test.ts
  packages/rptc/test/test-generator.test.ts
  packages/rptc/tsconfig.build.json
  packages/rptc/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add qawe quorum approval engine
  services/qawe/README.md
  services/qawe/cmd/qawe/main.go
  services/qawe/go.mod
  services/qawe/go.sum
  services/qawe/internal/bundle/bundle.go
  services/qawe/internal/engine/engine.go
  services/qawe/internal/engine/engine_test.go
  services/qawe/internal/policy/policy.go
  services/qawe/internal/server/server.go
  ui/qawe/index.html
  ui/qawe/package.json
  ui/qawe/src/App.tsx
  ui/qawe/src/api.ts
  ui/qawe/src/main.tsx
  ui/qawe/src/styles.css
  ui/qawe/src/types.ts
  ui/qawe/tsconfig.json
  ui/qawe/tsconfig.node.json
  ui/qawe/vite.config.ts
Due: prettier --write

feat: add drift root-cause explorer toolkit
  tools/__init__.py
  tools/drce/__init__.py
  tools/drce/analyzer.py
  tools/drce/models.py
  tools/drce/scenario.py
  tools/drce/synthetic.py
  tools/test/test_drce.py
Due: none

feat: add privacy incident tabletop drill engine
  server/src/pits/defaultScenario.ts
  server/src/pits/engine.ts
  server/src/pits/index.ts
  server/src/pits/integrations.ts
  server/src/pits/seededRandom.ts
  server/src/pits/types.ts
  server/tests/pits.engine.test.ts
Due: none

feat: add deterministic embedding store
  des/Cargo.lock
  des/Cargo.toml
  des/README.md
  des/src/batcher.rs
  des/src/config.rs
  des/src/diff.rs
  des/src/error.rs
  des/src/lib.rs
  des/src/store.rs
  sdk/python/maestro_sdk/__init__.py
  sdk/python/maestro_sdk/des/__init__.py
  sdk/typescript/src/des/deterministicBatcher.ts
  sdk/typescript/src/des/diff.ts
  sdk/typescript/src/des/embeddingConfig.ts
  sdk/typescript/src/des/embeddingStore.ts
  sdk/typescript/src/index.ts
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
