Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

chore: bump version to 5.2.47
  package.json
Due: prettier --write

chore: bump version to 5.2.48
  package.json
Due: prettier --write

fix(workflow-engine): improve pg-mem compatibility and fix type errors
  apps/workflow-engine/jest.config.cjs
  apps/workflow-engine/src/services/webhooks/WebhookDeliveryWorker.ts
  apps/workflow-engine/src/services/webhooks/WebhookRepository.ts
  jest.config.cjs
  services/authz-gateway/.dockerignore
Due: none

fix(web): add aria-label and fix test regex for TimelineRail
  apps/web/src/components/panels/TimelineRail.test.tsx
  apps/web/src/components/panels/TimelineRail.tsx
Due: none

fix(python): lint and type fixes in vision-investigation suite
  eval/baselines.py
  pnpm-lock.yaml
  python/intelgraph_py/vision_investigation/sandbox.py
  python/intelgraph_py/vision_investigation/tools.py
  python/tests/test_vision_investigation.py
  scripts/monitoring/agentic-vision-gemini3flash-drift.py
  verification/verify_webapp.py
Due: none

Palette: Improve EntityDrawer accessibility and interaction
  apps/web/src/components/panels/EntityDrawer.test.tsx
  apps/web/src/components/panels/EntityDrawer.tsx
Due: none

Sentinel: [CRITICAL] Fix hardcoded secret in ProofOfNonCollectionService
  server/src/services/ProofOfNonCollectionService.ts
  server/src/services/__tests__/ProofOfNonCollectionService_security.test.ts
Due: none

Bolt: Optimize data redaction performance
  server/src/utils/__tests__/dataRedaction.test.ts
  server/src/utils/dataRedaction.ts
Due: none

chore: bump version to 5.2.49
  package.json
Due: prettier --write

feat(policy): implement Policy Cards v0 MWS
  .github/workflows/policy-drift.yml
  .github/workflows/policy-validate.yml
  docs/governance/GA_EVIDENCE_MAP.yaml
  docs/governance/SECURITY_LEDGER.md
  docs/ops/runbooks/policy-cards-v0.md
  docs/security/data-handling/policy-cards-v0.md
  docs/security/threat-model/policy-cards-v0.md
  docs/standards/policy-cards-v0.md
  packages/agent-runtime/package.json
  packages/agent-runtime/src/index.ts
  packages/agent-runtime/src/policy/enforce.ts
  packages/agent-runtime/test/forbidden_tool_test.ts
  packages/agent-runtime/test/policy_bypass_attempt_test.ts
  packages/agent-runtime/test/run_tests.ts
  packages/policy-cards/package.json
  packages/policy-cards/src/canonicalize.ts
  packages/policy-cards/src/index.ts
  packages/policy-cards/src/schema/policy-card.schema.json
  packages/policy-cards/test/schema.test.ts
  packages/policy-cards/tsconfig.json
  pnpm-lock.yaml
  scripts/bench/policy_enforcement_bench.ts
  scripts/ci/__tests__/policy_validate.test.ts
  scripts/ci/policy_validate.ts
  scripts/monitoring/policy-cards-v0-drift.ts
  scripts/temp_policy_test/artifacts_fail/metrics.json
  scripts/temp_policy_test/artifacts_fail/report.json
  scripts/temp_policy_test/artifacts_fail/stamp.json
  scripts/temp_policy_test/invalid_policy.yaml
  scripts/temp_policy_test/valid_policy.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: bump version to 5.2.50
  package.json
Due: prettier --write

fix(ci): add missing inputs to _reusable-ci.yml
  .github/workflows/_reusable-ci.yml
Due: prettier --write

chore: bump version to 5.2.51
  package.json
Due: prettier --write

feat(ci): implement CI runner drift detection for deprecated images
  .github/workflows/ci-runner-drift.yml
  scripts/monitoring/ci-runner-drift.ts
Due: prettier --write

feat: Add CISA KEV monitoring automation
  .github/workflows/kev-alert.yml
  scripts/kev_watch.py
Due: prettier --write

feat: add claim-level-graphrag subsumption bundle
  .github/workflows/subsumption-bundle.yml
  backlog/claim-level-graphrag.yaml
  docs/decisions/claim-level-graphrag.md
  docs/ops/runbooks/claim-level-graphrag.md
  docs/security/data-handling/claim-level-graphrag.md
  docs/standards/claim-level-graphrag.md
  evidence/index.json
  evidence/schemas/metrics.schema.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
  evidence/subsumption/claim-level-graphrag/EVD-CLGRAG-CI-001/metrics.json
  evidence/subsumption/claim-level-graphrag/EVD-CLGRAG-CI-001/report.json
  evidence/subsumption/claim-level-graphrag/EVD-CLGRAG-CI-001/stamp.json
  scripts/ci/verify_subsumption_bundle.mjs
  scripts/monitoring/claim-level-graphrag-drift.mjs
  src/subsumption/claim_level/claim_extractor.ts
  src/subsumption/claim_level/claim_verifier_mock.ts
  src/subsumption/claim_level/hub_penalty.ts
  subsumption/claim-level-graphrag/deny-fixtures/contradiction_claim.json
  subsumption/claim-level-graphrag/deny-fixtures/prompt_injection_evidence.json
  subsumption/claim-level-graphrag/deny-fixtures/unsupported_claim.json
  subsumption/claim-level-graphrag/manifest.yaml
  tests/subsumption/claim-level-graphrag/claim_extractor.test.ts
  tests/subsumption/claim-level-graphrag/claim_verifier.test.ts
  tests/subsumption/claim-level-graphrag/deny_by_default_fixtures.test.ts
  tests/subsumption/claim-level-graphrag/hub_penalty.test.ts
  tests/subsumption/claim-level-graphrag/metrics_contract.test.ts
Due: prettier --write

chore: bump version to 5.2.52
  package.json
Due: prettier --write

Add Graph-PG Sync Validator
  .github/workflows/graph-sync.yml
  grafana/alerts/graph-sync-alerts.yaml
  grafana/dashboards/graph-sync.json
  packages/graph-sync-validator/README.md
  packages/graph-sync-validator/evidence/schemas/evidence.schema.json
  packages/graph-sync-validator/evidence/schemas/metrics.schema.json
  packages/graph-sync-validator/evidence/schemas/stamp.schema.json
  packages/graph-sync-validator/package.json
  packages/graph-sync-validator/scripts/backfill.mjs
  packages/graph-sync-validator/scripts/rollback.mjs
  packages/graph-sync-validator/src/compare/compare.mjs
  packages/graph-sync-validator/src/io/writeArtifacts.mjs
  packages/graph-sync-validator/src/snapshot/neo4j_edges.cql
  packages/graph-sync-validator/src/snapshot/neo4j_nodes.cql
  packages/graph-sync-validator/src/snapshot/pg_materialized_views.sql
  packages/graph-sync-validator/src/snapshot/pg_snapshot.sql
  packages/graph-sync-validator/src/util/hash.js
  packages/graph-sync-validator/src/util/jsonl.js
  scripts/ci/validate_graph_pg_sync.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: bump version to 5.2.53
  package.json
Due: prettier --write

fix(verify): accept both .ts and .js extensions for rate limiter import check
  server/scripts/verify-ga-security.ts
Due: none

fix: enforce pnpm@10.26.0 to mitigate PackageGate vulnerability
  docs/governance/SECURITY_LEDGER.md
  package.json
Due: prettier --write

Add Debezium OpenLineage integration docs
  docs/data/lineage/debezium-openlineage.md
Due: prettier --write

fix(companyos-api): mock OPA client to prevent flaky 503 errors
  companyos/services/companyos-api/tests/customer-read-guard.test.ts
  companyos/services/companyos-api/vitest.config.ts
Due: none

chore: bump version to 5.2.54
  package.json
Due: prettier --write

feat(ops): production readiness improvements
  .env.example
  docs/GO_LIVE_READINESS.md
  scripts/smoke-test-production.sh
  server/src/routes/health.ts
Due: prettier --write

fix(client): resolve SIGINTDashboard test failures and accessibility issues
  client/src/components/sigint/AgenticDemodulationPanel.tsx
  client/src/components/sigint/SignalStreamList.tsx
  client/src/components/sigint/__tests__/SIGINTDashboard.test.tsx
Due: none

feat: Add SLSA/Cosign supply-chain gate and OPA verification
  .github/workflows/supplychain-verify.yml
  policy/opa/supplychain.rego
  scripts/ci/attest_build.sh
Due: prettier --write

Support .ts extension in GA security verification script
  server/scripts/verify-ga-security.ts
Due: none

chore: bump version to 5.2.55
  package.json
Due: prettier --write

Add Infra Drift Risk Gate and Parity Check
  .github/workflows/infra-drift.yml
  .github/workflows/infra-parity.yml
  infra/policy/drift.rego
  infra/scripts/rollback.sh
  infra/scripts/validate_parity.sh
Due: prettier --write

feat(ops): add production readiness improvements
  Dockerfile
  docs/GO_LIVE_READINESS.md
  package.json
  server/.env.example
  server/scripts/smoke-test.cjs
  server/src/routes/health.ts
Due: prettier --write

chore: bump version to 5.2.56
  package.json
Due: prettier --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: bump version to 5.2.57
  package.json
Due: prettier --write

chore: bump version to 5.2.58
  package.json
Due: prettier --write

chore: bump version to 5.2.59
  package.json
Due: prettier --write

chore(release): prepare for v5.3.0 GA
  .github/releases/v5.3.0-ga.md
  AGENT_ACTIVITY.md
  TASK_BACKLOG.md
  contracts/integration/src/v1/edges.ts
  contracts/integration/src/v1/entities.ts
  contracts/integration/src/v1/ingestion.ts
  contracts/integration/src/v1/insights.ts
  contracts/integration/src/v1/provenance.ts
  contracts/integration/src/v1/queries.ts
  contracts/integration/src/v1/workflows.ts
  docs/roadmap/STATUS.json
  evals/runner/filesystem.ts
  evals/runner/run_skill_eval.ts
  evals/runner/run_skill_suite.ts
  evals/runner/run_skills_changed.ts
  package.json
  scripts/tag-and-push.sh
Due: prettier --write

chore: bump version to 5.2.60
  package.json
Due: prettier --write

fix(tenant-api): resolve race condition in test suite
  companyos/services/tenant-api/src/index.ts
  companyos/services/tenant-api/tests/tenant-api.test.ts
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
