Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(graph-analytics): comprehensive graph analytics suite implementation
  apps/graph-analytics/IMPLEMENTATION_SUMMARY.md
  apps/graph-analytics/docs/graph-analytics-suite.md
  apps/graph-analytics/src/__tests__/algorithms.test.ts
  apps/graph-analytics/src/algorithms/centrality.ts
  apps/graph-analytics/src/algorithms/community.ts
  apps/graph-analytics/src/algorithms/explainability.ts
  apps/graph-analytics/src/algorithms/pathfinding.ts
  apps/graph-analytics/src/algorithms/patterns.ts
  apps/graph-analytics/src/repositories/GraphRepository.ts
  apps/graph-analytics/src/services/EnhancedGraphAnalyticsService.ts
  apps/graph-analytics/src/types/analytics.ts
Due: prettier --write

feat(geotemporal): add comprehensive geo-temporal analytics module
  apps/mobile-native/package.json
  docs/geotemporal-analytics.md
  packages/geospatial/jest.config.cjs
  packages/geospatial/package-lock.json
  packages/geospatial/package.json
  packages/geospatial/src/__tests__/GeoTemporalService.test.ts
  packages/geospatial/src/__tests__/geotemporal-algorithms.test.ts
  packages/geospatial/src/analytics/geotemporal-algorithms.ts
  packages/geospatial/src/index.ts
  packages/geospatial/src/repository/GeoGraphRepository.ts
  packages/geospatial/src/services/GeoTemporalService.ts
  packages/geospatial/src/types/geotemporal.ts
  packages/geospatial/tsconfig.json
  services/geotemporal-api/README.md
  services/geotemporal-api/package.json
  services/geotemporal-api/src/index.ts
  services/geotemporal-api/src/routes/geotemporal.ts
  services/geotemporal-api/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(config): resolve tsconfig syntax errors and dependency conflicts
  apps/mobile-native/package.json
  packages/common-types/tsconfig.json
  packages/govbrief/package.json
  packages/govbrief/tsconfig.json
  packages/sigint-collector/package.json
  packages/types/tsconfig.json
Due: prettier --write

refactor: remove unnecessary @ts-ignore and improve code clarity
  gateway/src/index.ts
  server/app.ts
  server/src/db/budgetLedger.ts
  server/src/db/postgres.ts
  server/src/db/timescale.ts
  server/src/monitoring/opentelemetry.ts
  server/src/optimization/postgres-performance-optimizer.ts
Due: none

docs: add comprehensive codebase audit report
  CODEBASE_AUDIT_REPORT.md
Due: prettier --write

chore: update pnpm-lock.yaml after dependency changes
  pnpm-lock.yaml
Due: none

Draft ICP document and top accounts strategy (#12232)
  docs/sales/ICP-Strategy-2025.md
Due: prettier --write

docs: add Zero Trust enforcement plan (#12227)
  docs/ZERO_TRUST_PLAN.md
Due: prettier --write

fix(prov-ledger): add timestamp fields to Evidence and Claim interfaces
  prov-ledger-service/src/ledger.ts
  prov-ledger-service/src/server.ts
Due: none

docs(ai): add 11 comprehensive Claude implementation prompts
  docs/ai/claude-implementation-prompts.md
Due: prettier --write

fix(deps): fix additional dependency version and reference issues (batch 2)
  services/cost-optimization/package.json
  services/crm/package.json
  services/dashboard-service/package.json
  services/nlp-service/package.json
  services/sparql-endpoint/package.json
  services/warehouse-service/package.json
  services/websocket-server/package.json
Due: prettier --write

chore: temporarily exclude desktop-electron from workspace
  pnpm-workspace.yaml
Due: none

chore: remove pnpm-lock.yaml for fresh install attempt
  pnpm-lock.yaml
Due: none

docs: add comprehensive Claude Code CLI documentation
  CLAUDE.md
  CLAUDE_CODE.md
  README.md
Due: prettier --write

test: add comprehensive test coverage for critical areas
  docs/TEST_IMPROVEMENT_PLAN.md
  server/src/middleware/__tests__/audit-event-capture-middleware.test.ts
  server/src/middleware/__tests__/opa-enforcer.test.ts
  server/src/repos/__tests__/RelationshipRepo.test.ts
Due: prettier --write

feat(ai-copilot): implement NL query and GraphRAG with redaction & provenance
  docs/AI_COPILOT_GUIDE.md
  server/src/__tests__/GraphRAGQueryServiceEnhanced.test.ts
  server/src/__tests__/ai-copilot.e2e.test.ts
  server/src/routes/ai-copilot.ts
  server/src/services/AICopilotOrchestrator.ts
  server/src/services/GraphRAGQueryServiceEnhanced.ts
Due: prettier --write

feat: Complete data ingestion wizard and schema-aware ETL system
  INGESTION_GUIDE.md
  connectors/parquet_connector/connector.py
  connectors/parquet_connector/manifest.yaml
  connectors/registry.json
  data-pipelines/etl-assistant/ARCHITECTURE.md
  data-pipelines/etl-assistant/src/enrichers/__init__.py
  data-pipelines/etl-assistant/src/enrichers/base.py
  data-pipelines/etl-assistant/src/enrichers/exif_scrub.py
  data-pipelines/etl-assistant/src/enrichers/geoip.py
  data-pipelines/etl-assistant/src/enrichers/hashing.py
  data-pipelines/etl-assistant/src/enrichers/language.py
  data-pipelines/etl-assistant/src/enrichers/ocr_stt.py
  data-pipelines/etl-assistant/src/streaming_pipeline.py
  data-pipelines/etl-assistant/tests/test_enrichers.py
  data-pipelines/etl-assistant/tests/test_streaming_pipeline.py
Due: prettier --write

feat(prov-ledger): implement complete provenance & claim ledger service
  server/db/migrations/postgres/2025-11-24_provenance_ledger_claims_evidence.sql
  services/prov-ledger/openapi.yaml
  services/prov-ledger/package.json
  services/prov-ledger/src/index.ts
  services/prov-ledger/test/unit/claim-relationships.test.ts
  services/prov-ledger/test/unit/manifests.test.ts
  services/prov-ledger/test/unit/sources.test.ts
  services/prov-ledger/test/unit/transforms.test.ts
Due: prettier --write

feat(graph-analytics): implement pathfinding and pattern mining with XAI integration
  packages/graph-analytics/IMPLEMENTATION_SUMMARY.md
  packages/graph-analytics/README.md
  packages/graph-analytics/package.json
  packages/graph-analytics/src/algorithms/__tests__/pathfinding.test.ts
  packages/graph-analytics/src/algorithms/pathfinding.ts
  packages/graph-analytics/src/index.ts
  packages/graph-analytics/src/pattern-mining/__tests__/pattern-templates.test.ts
  packages/graph-analytics/src/pattern-mining/pattern-templates.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(graph-core): implement canonical model with bitemporal support
  services/graph-core/docs/CANONICAL_MODEL.md
  services/graph-core/jest.config.cjs
  services/graph-core/package.json
  services/graph-core/src/canonical/index.ts
  services/graph-core/src/canonical/store.ts
  services/graph-core/src/canonical/types.ts
  services/graph-core/src/canonical/validation.ts
  services/graph-core/src/graphql/index.ts
  services/graph-core/src/graphql/resolvers.ts
  services/graph-core/src/graphql/schema.graphql
  services/graph-core/src/index.ts
  services/graph-core/tests/canonical/temporal.test.ts
  services/graph-core/tests/canonical/validation.test.ts
  services/graph-core/tests/graphql/schema.test.ts
  services/graph-core/tsconfig.json
Due: prettier --write

feat(runbooks): Implement comprehensive runbook orchestration engine
  runbooks/engine/README.md
  runbooks/engine/src/api.ts
  runbooks/engine/src/authz.ts
  runbooks/engine/src/engine.ts
  runbooks/engine/src/executors.ts
  runbooks/engine/src/index.ts
  runbooks/engine/src/safety.ts
  runbooks/engine/src/types.ts
  runbooks/engine/tests/executors.test.ts
  runbooks/engine/tests/integration.test.ts
  runbooks/engine/tests/safety.test.ts
  services/runbooks/Dockerfile
  services/runbooks/README.md
  services/runbooks/k8s-deployment.yaml
  services/runbooks/package.json
  services/runbooks/src/index.ts
  services/runbooks/tsconfig.json
Due: prettier --write

feat(ai): add NL-to-Query copilot with GraphRAG and guardrails
  server/src/ai/copilot/__tests__/copilot.e2e.test.ts
  server/src/ai/copilot/__tests__/guardrails.service.test.ts
  server/src/ai/copilot/__tests__/nl-query.service.test.ts
  server/src/ai/copilot/copilot.service.ts
  server/src/ai/copilot/graphrag-provenance.service.ts
  server/src/ai/copilot/guardrails.service.ts
  server/src/ai/copilot/index.ts
  server/src/ai/copilot/nl-query.service.ts
  server/src/ai/copilot/redaction.service.ts
  server/src/ai/copilot/sandbox-executor.service.ts
  server/src/ai/copilot/types.ts
Due: none

feat(observability): implement comprehensive cost guardrails and admin API
  docs/runbooks/cost-alerts-budget-violations.md
  packages/metrics-exporter/README.md
  packages/metrics-exporter/package.json
  packages/metrics-exporter/src/index.test.ts
  packages/metrics-exporter/src/index.ts
  packages/metrics-exporter/tsconfig.json
  packages/slow-query-killer/README.md
  packages/slow-query-killer/package.json
  packages/slow-query-killer/src/index.test.ts
  packages/slow-query-killer/src/index.ts
  packages/slow-query-killer/tsconfig.json
  services/admin-api/Dockerfile
  services/admin-api/README.md
  services/admin-api/package.json
  services/admin-api/src/index.ts
  services/admin-api/src/resolvers.ts
  services/admin-api/src/schema.graphql
  services/admin-api/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(catalog): implement comprehensive data catalog & metadata service
  packages/data-catalog/src/services/DataSourceService.ts
  packages/data-catalog/src/services/MetadataSearchService.ts
  packages/data-catalog/src/services/SchemaRegistryService.ts
  packages/data-catalog/src/services/__tests__/DataSourceService.test.ts
  packages/data-catalog/src/services/__tests__/SchemaRegistryService.test.ts
  packages/data-catalog/src/services/index.ts
  packages/data-catalog/src/types/dataSourceTypes.ts
  packages/data-catalog/src/types/index.ts
  packages/data-catalog/src/types/schemaRegistry.ts
  services/catalog-service/src/controllers/DataSourceController.ts
  services/catalog-service/src/controllers/SchemaRegistryController.ts
  services/catalog-service/src/controllers/SearchController.ts
  services/catalog-service/src/routes/dataSourceRoutes.ts
  services/catalog-service/src/routes/schemaRoutes.ts
  services/catalog-service/src/routes/searchRoutes.ts
  services/catalog-service/src/server.ts
Due: eslint --fix --max-warnings=0 --cache

feat: Add comprehensive scenario simulation and evaluation harness
  sim-harness/.gitignore
  sim-harness/EXAMPLES.md
  sim-harness/IMPLEMENTATION_SUMMARY.md
  sim-harness/README.md
  sim-harness/__tests__/MetricsCollector.test.ts
  sim-harness/__tests__/ScenarioGenerator.test.ts
  sim-harness/__tests__/integration.test.ts
  sim-harness/config/default.yaml
  sim-harness/jest.config.js
  sim-harness/package.json
  sim-harness/src/cli.ts
  sim-harness/src/drivers/GhostAnalyst.ts
  sim-harness/src/generators/ScenarioGenerator.ts
  sim-harness/src/index.ts
  sim-harness/src/metrics/MetricsCollector.ts
  sim-harness/src/reporters/ComparisonReporter.ts
  sim-harness/src/types/index.ts
  sim-harness/src/utils/ConfigLoader.ts
  sim-harness/src/utils/Logger.ts
  sim-harness/tsconfig.json
  test-data/scenarios/corruption-network.yaml
  test-data/scenarios/fraud-ring.yaml
  test-data/scenarios/terror-cell.yaml
Due: prettier --write

feat: implement production-grade case workflow engine
  CASE_WORKFLOW_ENGINE_DELIVERY.md
  server/src/cases/workflow/CaseWorkflowService.ts
  server/src/cases/workflow/README.md
  server/src/cases/workflow/SLATracker.ts
  server/src/cases/workflow/StateMachine.ts
  server/src/cases/workflow/index.ts
  server/src/cases/workflow/repos/ApprovalRepo.ts
  server/src/cases/workflow/repos/ParticipantRepo.ts
  server/src/cases/workflow/repos/TaskRepo.ts
  server/src/cases/workflow/types.ts
  server/src/db/migrations/postgres/015_case_workflow_engine.sql
  server/src/routes/case-workflow.ts
  server/src/tests/case-workflow.integration.test.ts
Due: prettier --write

feat(authz): Implement comprehensive multi-tenant authorization system
  docs/AUTHZ_IMPLEMENTATION_SUMMARY.md
  packages/authz-core/README.md
  packages/authz-core/package.json
  packages/authz-core/src/AuthorizationService.ts
  packages/authz-core/src/LicenseService.ts
  packages/authz-core/src/WarrantService.ts
  packages/authz-core/src/index.ts
  packages/authz-core/src/types.ts
  packages/authz-core/tsconfig.json
  policies/opa/license_enforcement.rego
  policies/opa/warrant_authorization.rego
  server/db/migrations/postgres/2025-11-24_authorization_audit_log.sql
  server/db/migrations/postgres/2025-11-24_license_registry.sql
  server/db/migrations/postgres/2025-11-24_warrant_lifecycle_management.sql
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add CompanyOS and Switchboard Summit integrations
  october2025/companyos-switchboard/apps/web/src/switchboard/ai-enrichment.ts
  october2025/companyos-switchboard/apps/web/src/switchboard/chat-integration.ts
  october2025/companyos-switchboard/apps/web/src/switchboard/event-router.ts
  october2025/companyos-switchboard/apps/web/src/switchboard/gateway-throttling.ts
  services/companyos-sync/package.json
  services/companyos-sync/src/index.ts
  services/companyos-sync/src/sync-service.ts
  services/companyos-sync/src/types.ts
  services/companyos-sync/tsconfig.json
  services/feature-flags/package.json
  services/feature-flags/src/feature-flag-service.ts
  services/feature-flags/src/index.ts
  services/feature-flags/tsconfig.json
  services/health-aggregator/package.json
  services/health-aggregator/src/health-aggregator.ts
  services/health-aggregator/src/index.ts
  services/health-aggregator/tsconfig.json
  services/unified-audit/package.json
  services/unified-audit/src/aggregator.ts
  services/unified-audit/src/index.ts
  services/unified-audit/src/types.ts
  services/unified-audit/tsconfig.json
Due: prettier --write

feat: add copilot explanations with evidence
  client/src/components/ai/CopilotRunPanel.jsx
  client/src/components/ai/NlGraphQueryExplainer.jsx
  client/src/tests/NlGraphQueryExplainer.test.tsx
  server/src/ai/nl-graph-query/explainer.ts
  server/src/ai/nl-graph-query/nl-graph-query.service.ts
  server/src/ai/nl-graph-query/types.ts
  server/src/routes/nl-graph-query.ts
Due: none

feat: harden trust center audit exports
  server/src/routes/trust-center.ts
  server/src/trust-center/__tests__/trust-center-service.test.ts
  server/src/trust-center/trust-center-service.ts
Due: none

feat: add collaborative operation log
  client/src/components/graph/EnhancedGraphExplorer.jsx
  client/src/hooks/useCollaborationLog.js
  client/src/services/socket.js
  server/src/services/WebSocketService.js
  server/src/services/operationLog.js
  server/tests/operation-log.test.js
Due: none

docs: expand 32-prompt roadmap
  docs/roadmaps/master-roadmap-32-prompts.md
Due: prettier --write

test: add nl graph explanation coverage
  client/package-lock.json
  client/package.json
  client/src/components/ai/__tests__/NlGraphQueryExplainer.test.tsx
  client/src/tests/NlGraphQueryExplainer.test.tsx
  server/package-lock.json
  server/src/ai/nl-graph-query/__tests__/explainer.test.ts
  server/src/ai/nl-graph-query/__tests__/nl-graph-query.routes.test.ts
  server/src/ai/nl-graph-query/nl-graph-query.service.ts
Due: prettier --write

feat(audit): implement real-time notification system with multi-channel delivery
  NOTIFICATION_SYSTEM_IMPLEMENTATION.md
  docs/audit/real-time-notification-architecture.md
  server/db/migrations/postgres/2025-11-25_real_time_notification_system.sql
  server/src/graphql/notifications/resolvers.ts
  server/src/graphql/notifications/schema.graphql
  services/notification-router/README.md
  services/notification-router/package.json
  services/notification-router/src/delivery-channels/base-delivery.ts
  services/notification-router/src/delivery-channels/email-delivery.ts
  services/notification-router/src/delivery-channels/slack-delivery.ts
  services/notification-router/src/delivery-channels/websocket-delivery.ts
  services/notification-router/src/index.ts
  services/notification-router/src/notification-router.ts
  services/notification-router/src/notification-throttler.ts
  services/notification-router/src/severity-calculator.ts
  services/notification-router/src/types.ts
  services/notification-router/tsconfig.json
Due: prettier --write

fix: apply collaboration operation handling
  client/src/components/graph/EnhancedGraphExplorer.jsx
  server/src/services/operationLog.js
Due: none

fix: align audit export actor privileges
  server/src/trust-center/__tests__/trust-center-service.test.ts
  server/src/trust-center/trust-center-service.ts
Due: none

fix: apply pre-approved adaptations without auto apply
  services/regulatory-compliance-agents/src/services/ComplianceOrchestrator.ts
Due: none

test: comprehensive test infrastructure improvements and TODO implementations
  tests/README.md
  tests/e2e/maestro-api-ui-flow.spec.ts
  tests/unit/graphql_schema.test.ts
Due: prettier --write

docs: add comprehensive PR description for test infrastructure enhancements
  .github/PR_DESCRIPTION.md
Due: prettier --write
