Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: add three-track CI/governance improvements
  .github/workflows/branch-protection-drift.yml
  .github/workflows/ci-actionlint.yml
  docs/ci/REQUIRED_CHECKS_POLICY.yml
  docs/security/rbac-test-job.md
  docs/security/rbac-verification-summary.md
  docs/security/rbac_policy.md
  server/__tests__/rbac/investigation-export-rbac.test.ts
Due: prettier --write

ci(smoke): run full-stack smoke on PRs and releases (golden path)
  .github/workflows/smoke-gate.yml
  docs/ci/REQUIRED_CHECKS_POLICY.yml
Due: prettier --write

docs: add actionlint guidance to CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

refactor: replace any with unknown for type safety
  server/src/billing/BillingJobService.ts
  server/src/billing/BillingService.ts
  server/src/billing/sink.ts
  server/src/billing/types.ts
  server/src/search-index/SearchIndexService.ts
  server/src/search/query-parser.ts
  server/src/shared/logging/index.ts
  server/src/siem/SIEMPlatform.ts
  server/src/siem/types.ts
  server/src/stewardship/drift/types.ts
  server/src/time-series/analysis/forecast.ts
  server/src/time-series/dashboard/dashboard.ts
  server/src/time-series/engine.ts
  server/src/time-series/pipelines/aggregation.ts
  server/src/time-series/pipelines/downsampling.ts
Due: none

refactor: simplify GraphQL schema type definitions
  server/src/graphql/schema.ts
Due: none

docs: update GA soak report with stability vs functional lane findings
  docs/operations/GA_SOAK_REPORT_v5.3.2.md
Due: prettier --write

fix(server): support DISABLE_NEO4J and fix imports for stability
  server/scripts/smoke-test.cjs
  server/src/index.ts
  server/src/routes/health.ts
Due: none

chore(deps): bump next and eslint-config-next to 15.0.8 (fix RSC DoS)
  october2025/companyos-switchboard/apps/web/package.json
Due: prettier --write

fix(ci): enable lane B functional soak checks
  .github/workflows/smoke-gate.yml
  server/scripts/smoke-test.cjs
Due: prettier --write

feat: add governance infrastructure, ABAC middleware, and security tooling
  IMPLEMENTATION_SUMMARY.md
  docs/runbooks/database-backup-runbook.md
  middleware/abac-enforcement.ts
  middleware/graphql-caching.ts
  policy/opa/baseline_abac.rego
  scripts/ci/sbom-vulnerability-gate.sh
  server/src/app.ts
  server/src/graphql/schema.ts
  server/src/index.ts
  server/src/maestro/MaestroService.integrated.ts
  services/api-gateway/src/index.ts
Due: prettier --write

feat: add Maestro orchestrator store and type refinements
  server/src/graphql/schema.ts
  server/src/maestro/store/orchestrator-store.ts
  server/src/maestro/types.ts
Due: none

fix(graphql): add missing trustScore Query fields to schema
  server/src/graphql/schema.ts
Due: none

docs: update GA soak report v5.3.2
  docs/operations/GA_SOAK_REPORT_v5.3.2.md
  docs/roadmap/STATUS.json
  prompts/operations/soak-report-update@v1.md
  prompts/registry.yaml
Due: prettier --write

docs: record soak install blocker
  docs/operations/GA_SOAK_REPORT_v5.3.2.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs(soak): record smoke run with server unavailable
  docs/operations/GA_SOAK_REPORT_v5.3.2.md
Due: prettier --write

docs(soak): record dev stack build blocker
  docs/operations/GA_SOAK_REPORT_v5.3.2.md
Due: prettier --write

chore(deps): bump hono to 4.11.7 (fix ErrorBoundary XSS)
  package.json
Due: prettier --write

chore: restore quarantined artifacts
  docs/security/data-handling/item-UNKNOWN.md
Due: prettier --write

refactor(server): implement input validation tech debt
  server/src/middleware/advanced-query-security.ts
Due: none

fix(test): use unstable_mockModule for ESM support in AirGapVulnManager test
  server/src/security/__tests__/airgap-vuln-manager.test.ts
Due: none

feat: add vind (vCluster in Docker) driver integration
  .github/workflows/e2e-vind-lifecycle.yml
  .github/workflows/e2e-vind-smoke.yml
  dependency-delta.md
  docs/evidence-contract.md
  docs/security-never-log.md
  docs/vind-driver.md
  evidence/schema/index.schema.json
  evidence/schema/metrics.schema.json
  evidence/schema/report.schema.json
  evidence/schema/stamp.schema.json
  summit/cluster/__init__.py
  summit/cluster/drivers/__init__.py
  summit/cluster/drivers/vind/__init__.py
  summit/cluster/drivers/vind/driver.py
  summit/cluster/drivers/vind/test_vind.py
  summit/cluster/drivers/vind/vcluster_cli.py
  summit/cluster/registry.py
  summit/flags.py
  summit/policy/gates/gate_dependency_delta.py
  summit/policy/gates/gate_no_secret_logs.py
  summit/policy/gates/test_gates.py
Due: prettier --write

feat: integrate DeepSearchQA benchmark for research agents
  evidence/deepsearchqa-run/index.json
  evidence/deepsearchqa-run/metrics.json
  evidence/deepsearchqa-run/report.json
  evidence/deepsearchqa-run/stamp.json
  required_checks.todo.md
  summit/benchmarks/deepsearchqa/__init__.py
  summit/benchmarks/deepsearchqa/adapter_kaggle.py
  summit/benchmarks/deepsearchqa/entity_resolution.py
  summit/benchmarks/deepsearchqa/evidence/schemas/index.schema.json
  summit/benchmarks/deepsearchqa/evidence/schemas/metrics.schema.json
  summit/benchmarks/deepsearchqa/evidence/schemas/report.schema.json
  summit/benchmarks/deepsearchqa/evidence/schemas/stamp.schema.json
  summit/benchmarks/deepsearchqa/fixtures/tiny_public_sample.json
  summit/benchmarks/deepsearchqa/judge.py
  summit/benchmarks/deepsearchqa/run.py
  summit/benchmarks/deepsearchqa/schema.py
  summit/benchmarks/deepsearchqa/scoring.py
  summit/benchmarks/deepsearchqa/stop_diagnostics.py
  summit/benchmarks/deepsearchqa/tests/test_adapter.py
  summit/benchmarks/deepsearchqa/tests/test_categories.py
  summit/benchmarks/deepsearchqa/tests/test_entity_resolution.py
  summit/benchmarks/deepsearchqa/tests/test_judge_adversarial_inputs.py
  summit/benchmarks/deepsearchqa/tests/test_scoring_math.py
  summit/benchmarks/deepsearchqa/tests/test_stop_metrics.py
  summit/benchmarks/deepsearchqa/tests/verify_run.py
Due: prettier --write

feat: add evidence validation scaffold
  docs/roadmap/STATUS.json
  evidence/EVD-SDSBC-FOUNDATION-001/metrics.json
  evidence/EVD-SDSBC-FOUNDATION-001/report.json
  evidence/EVD-SDSBC-FOUNDATION-001/stamp.json
  evidence/README.md
  evidence/index.json
  schemas/evidence/index.schema.json
  tests/fixtures/evidence_bad_missing_stamp/evidence/EVD-TEST-002/metrics.json
  tests/fixtures/evidence_bad_missing_stamp/evidence/EVD-TEST-002/report.json
  tests/fixtures/evidence_bad_missing_stamp/evidence/index.json
  tests/fixtures/evidence_good/evidence/EVD-TEST-001/metrics.json
  tests/fixtures/evidence_good/evidence/EVD-TEST-001/report.json
  tests/fixtures/evidence_good/evidence/EVD-TEST-001/stamp.json
  tests/fixtures/evidence_good/evidence/index.json
  tests/test_validate_evidence.py
  tools/validate_evidence.py
Due: prettier --write

feat: add SDSBC evidence validation scaffold
  docs/roadmap/STATUS.json
  evidence/EVD-SDSBC-FOUNDATION-001/metrics.json
  evidence/EVD-SDSBC-FOUNDATION-001/report.json
  evidence/EVD-SDSBC-FOUNDATION-001/stamp.json
  evidence/README.md
  evidence/index.json
  schemas/evidence/index.schema.json
  tests/fixtures/evidence_bad_missing_stamp/evidence/EVD-TEST-002/metrics.json
  tests/fixtures/evidence_bad_missing_stamp/evidence/EVD-TEST-002/report.json
  tests/fixtures/evidence_bad_missing_stamp/evidence/index.json
  tests/fixtures/evidence_good/evidence/EVD-TEST-001/metrics.json
  tests/fixtures/evidence_good/evidence/EVD-TEST-001/report.json
  tests/fixtures/evidence_good/evidence/EVD-TEST-001/stamp.json
  tests/fixtures/evidence_good/evidence/index.json
  tests/test_validate_evidence.py
  tools/validate_evidence.py
Due: prettier --write

feat: implement Agent Trace specification v0.1.0
  .summit/agent-trace/records/test-rev/550e8400-e29b-41d4-a716-446655440000.json
  ci/gates/agent_trace_required.sh
  docs/agent-trace.md
  docs/security/agent-trace.md
  evidence/agent_trace/index.json
  evidence/agent_trace/metrics.json
  evidence/agent_trace/report.json
  evidence/agent_trace/schemas/index.schema.json
  evidence/agent_trace/schemas/metrics.schema.json
  evidence/agent_trace/schemas/report.schema.json
  evidence/agent_trace/schemas/stamp.schema.json
  evidence/agent_trace/stamp.json
  package.json
  packages/agent-trace/package.json
  packages/agent-trace/schemas/agent_trace_record.schema.json
  packages/agent-trace/src/cli.ts
  packages/agent-trace/src/evidence.ts
  packages/agent-trace/src/index.ts
  packages/agent-trace/src/integrity.ts
  packages/agent-trace/src/lineage.ts
  packages/agent-trace/src/policy.ts
  packages/agent-trace/src/redact.ts
  packages/agent-trace/src/store.ts
  packages/agent-trace/src/trace_record.ts
  packages/agent-trace/src/validate.ts
  packages/agent-trace/tests/fixtures/invalid/bad_uuid.json
  packages/agent-trace/tests/fixtures/invalid/missing_files.json
  packages/agent-trace/tests/fixtures/valid/minimal.json
  packages/agent-trace/tests/lineage.test.ts
  packages/agent-trace/tests/redact.test.ts
  packages/agent-trace/tests/validate.test.ts
  packages/agent-trace/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: restore quarantined artifacts
  docs/security/data-handling/item-UNKNOWN.md
  package.json
Due: prettier --write

feat(evidence): add evidence system skeleton with schemas
  summit/evidence/README.md
  summit/evidence/examples/metrics.json
  summit/evidence/examples/report.json
  summit/evidence/examples/stamp.json
  summit/evidence/index.json
  summit/evidence/schemas/report.schema.json
  summit/evidence/schemas/stamp.schema.json
  tests/test_evidence_schemas.py
Due: prettier --write

feat: enhance storage with Redis caching, partitioning and backup
  docker-compose.db.yml
  orchestration/deploy/compose/docker-compose.yml
  orchestration/runtime/cmd/chronosd/main.go
  orchestration/runtime/go.mod
  orchestration/runtime/go.sum
  orchestration/runtime/internal/state/store.go
  orchestration/runtime/internal/state/store_test.go
  scripts/backup_redis.sh
Due: none

feat: implement comprehensive Summit monitoring and observability
  apps/gateway/src/plugins/metricsPlugin.ts
  observability/prometheus/summit-alerts.yml
Due: none

fix(maestro): map snake_case db columns to camelCase template model
  server/src/maestro/engine.ts
Due: none

fix(ci): reduce predictd Docker build context
  docs/roadmap/STATUS.json
  prompts/operations/predictd-build-context@v1.md
  prompts/registry.yaml
  services/predictd/Dockerfile
Due: prettier --write

chore: add CTA evidence ingest bundle
  agents/examples/CTA_LEADERS_INGEST_20260131.json
  ci/verify_evidence.py
  deps.delta.md
  docs/roadmap/STATUS.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/metrics.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/report.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/sources.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/stamp.json
  evidence/index.json
  packages/decision-ledger/decision_ledger.json
  prompts/evidence/cta-leaders-ingest-scaffold@v1.md
  prompts/registry.yaml
  summit/fixtures/cta_leaders_2026_01/breakingdefense_excerpt.md
  summit/fixtures/cta_leaders_2026_01/cto_mil_excerpt.md
Due: prettier --write

chore: add CTA leaders evidence ingest scaffold
  agents/examples/CTA_LEADERS_INGEST_20260131.json
  ci/verify_evidence.py
  deps.delta.md
  docs/roadmap/STATUS.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/metrics.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/report.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/sources.json
  evidence/EVD-CTA-LEADERS-2026-01-INGEST-001/stamp.json
  evidence/index.json
  packages/decision-ledger/decision_ledger.json
  prompts/evidence/cta-leaders-ingest-scaffold@v1.md
  prompts/registry.yaml
  summit/fixtures/cta_leaders_2026_01/breakingdefense_excerpt.md
  summit/fixtures/cta_leaders_2026_01/cto_mil_excerpt.md
Due: prettier --write

feat: implement CodeData Framework
  .github/workflows/codedata.yml
  DEPENDENCY_DELTA.md
  ci/verifiers/codegen_drift.md
  ci/verifiers/determinism_smoke.md
  ci/verifiers/supplychain_delta.md
  codegen/generators/all.py
  codegen/generators/feature_flags.py
  codegen/summit_codegen/__init__.py
  codegen/summit_codegen/emit.py
  docs/codedata.md
  docs/dependency-policy.md
  evidence/EVD-SDSBC-CODEGEN-001/metrics.json
  evidence/EVD-SDSBC-CODEGEN-001/report.json
  evidence/EVD-SDSBC-CODEGEN-001/stamp.json
  evidence/index.json
  generated/.gitkeep
  generated/feature_flags.json
  required_checks.todo.md
  schemas/generated/.gitkeep
  tools/check_dep_delta.py
  tools/codegen_check.py
  tools/determinism_smoke.py
Due: prettier --write

feat: implement VM Workbench (clean-room subsumption)
  .github/workflows/vmworkbench-ci.yml
  bundle/manifest.vmworkbench.json
  ci/deps_delta.json
  ci/required_checks.json
  ci/verify_bundle.py
  tests/fixtures/allow/basic_qemu.sh
  tests/fixtures/deny/pipe.sh
  tests/fixtures/deny/subshell.sh
  tests/fixtures/inventory/usb_sample.json
  tests/fixtures/profiles/minimal_profile.toml
  tests/vmworkbench/test_inventory_classify.py
  tests/vmworkbench/test_launch_parser.py
  tests/vmworkbench/test_passthrough_plan_is_plan_only.py
  tests/vmworkbench/test_profile_loader.py
  vmworkbench/README.md
  vmworkbench/adapters/qemu/launch_script_parser.py
  vmworkbench/dangerous_ops/passthrough_plan.py
  vmworkbench/dangerous_ops/rollback_templates/README.md
  vmworkbench/inventory/classify.py
  vmworkbench/inventory/interfaces.py
  vmworkbench/policy/policy.md
  vmworkbench/profiles/builtin/README.md
  vmworkbench/profiles/loader.py
  vmworkbench/spec/dangerous_op_plan.schema.json
  vmworkbench/spec/device_ref.schema.json
  vmworkbench/spec/os_profile.schema.json
  vmworkbench/spec/vm_launch_spec.schema.json
Due: prettier --write

feat: add auto-approval GitHub Actions workflow for BrianCLong PRs
  .github/workflows/auto-approve-prs.yml
Due: prettier --write

feat: Implement orchestrator postgres store with comprehensive ABAC policies
  docs/orchestrator-persistence-runbook.md
  packages/maestro-core/migrations/002_durable_store.sql
  packages/maestro-core/src/__tests__/recovery.test.ts
  packages/maestro-core/src/engine.d.ts
  packages/maestro-core/src/engine.js
  packages/maestro-core/src/engine.js.map
  packages/maestro-core/src/engine.ts
  packages/maestro-core/src/index.ts
  packages/maestro-core/src/stores/__tests__/postgres-state-store.test.ts
  packages/maestro-core/src/stores/outbox-processor.ts
  packages/maestro-core/src/stores/postgres-state-store.ts
  packages/orchestrator/src/index.ts
  packages/orchestrator/src/scheduler/transitions.ts
  packages/orchestrator/src/store.ts
  packages/osint-collector/package.json
  packages/osint-collector/src/__tests__/osint-collector.test.ts
  packages/osint-collector/src/index.ts
  packages/osint-collector/src/types.ts
  packages/osint-collector/tsconfig.json
  packages/policy/src/index.ts
  scripts/release/publish-packages.sh
  server/db/managed-migrations/202604200001_orchestrator_persistence.down.sql
  server/db/managed-migrations/202604200001_orchestrator_persistence.up.sql
  server/src/maestro/store/orchestrator-store.ts
  server/src/orchestrator/OrchestratorOutboxWorker.ts
  server/src/orchestrator/PostgresStore.ts
  server/src/routes/osint.ts
  server/tests/orchestrator-pg.test.ts
  server/tests/orchestrator-recovery.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache
