Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(docs): reconcile PR #16811 - Intelligence Foundry Doc Bundle
  .jules/bolt.md
  RUNBOOKS/GRAPHQL_5XX.md
  RUNBOOKS/README.md
  SECURITY/sigstore-identity-policy.yml
  docs/ADR/0001-graphql-api-boundary.md
  docs/ADR/0002-polyglot-data-stores.md
  docs/ADR/0003-observability-stack.md
  docs/ADR/0004-compose-deployment-baseline.md
  docs/ADR/ADR-005_ontology_and_temporal_model.md
  docs/ADR/ADR-006_lbac_security_proxy.md
  docs/ADR/ADR-007_ingest_airgap_gateway.md
  docs/ADR/ADR-008_simulation_overlay_and_synthetic_policy.md
  docs/ADR/ADR-009_context_provenance_graph.md
  docs/ADR/ADR-010_invariant_carrying_context_capsules.md
  docs/ADR/ADR-021-intelligence-foundry.md
  docs/CERTIFICATION/ATTESTATION.md
  docs/CERTIFICATION/CRITERIA.md
  docs/CERTIFICATION/FRAMEWORK.md
  docs/CERTIFICATION/LEVELS.md
  docs/CERTIFICATION/OPERATORS.md
  docs/CERTIFICATION/PARTNERS.md
  docs/CERTIFICATION/PLUGINS.md
  docs/CERTIFICATION/REGISTRY.md
  docs/roadmap/STATUS.json
  pnpm-lock.yaml
  prompts/registry.yaml
Due: prettier --write

chore: bump version to 5.0.56
  package.json
Due: prettier --write

fix(ci): replace secrets in if-conditions with vars in backup-dr
  .github/workflows/backup-dr.yml
Due: prettier --write

fix(test): remove CLI override of testPathIgnorePatterns in run-jest.mjs
  server/scripts/run-jest.mjs
Due: none

fix(test): use .js extensions in Qwen3TTSProvider.test.ts for ESM compatibility
  server/src/services/voice/providers/__tests__/Qwen3TTSProvider.test.ts
Due: none

Add PR preview workflow configuration
  .github/workflows/pr-preview.yml
Due: prettier --write

Add PR preview cleanup workflow
  .github/workflows/pr-preview-cleanup.yml
Due: prettier --write

ci: add PR preview workflow configuration
  .github/workflows/pr-preview.yml
Due: prettier --write

ci: add PR preview cleanup workflow
  .github/workflows/pr-preview-cleanup.yml
Due: prettier --write

Add script to configure kubelogin for Kubernetes
  scripts/preview/configure_kubelogin.sh
Due: none

chore: bump version to 5.0.57
  package.json
Due: prettier --write

chore: add script to configure kubelogin for Kubernetes
  scripts/preview/configure_kubelogin.sh
Due: none

Add build_and_push.sh for Docker image management
  scripts/preview/build_and_push.sh
Due: none

chore: bump version to 5.0.58
  package.json
Due: prettier --write

Add deploy script for preview environments
  scripts/preview/deploy.sh
Due: none

fix(test): make testPathIgnorePatterns conditional for GA verify mode
  server/jest.config.ts
Due: none

chore: add deploy script for preview environments
  scripts/preview/deploy.sh
Due: none

chore: bump version to 5.0.59
  package.json
Due: prettier --write

Add script to post preview URL comment on PR
  scripts/preview/comment.sh
Due: none

fix(tenant-api): export ready promise for test initialization
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-signal-gate.yml
  companyos/services/tenant-api/src/index.ts
  companyos/services/tenant-api/tests/tenant-api.test.ts
  docs/evidence/moat/PR-0-disarm-taxonomy.evidence.json
  docs/standards/DISARM-Operational-Reference.md
  packages/intelgraph-disarm/__fixtures__/disarm.v1.yaml
  packages/intelgraph-disarm/__tests__/taxonomy.test.ts
  packages/intelgraph-disarm/eslint.config.js
  packages/intelgraph-disarm/jest.config.mjs
  packages/intelgraph-disarm/package.json
  packages/intelgraph-disarm/scripts/generate-evidence.ts
  packages/intelgraph-disarm/src/index.ts
  packages/intelgraph-disarm/src/taxonomy/loadTaxonomy.ts
  packages/intelgraph-disarm/src/taxonomy/schemas.ts
  packages/intelgraph-disarm/taxonomy/disarm.v1.yaml
  packages/intelgraph-disarm/tsconfig.json
  scripts/ci/compute_metrics.jq
  scripts/ci/enforce_policy.sh
  scripts/ci/harvest_actions.sh
  server/scripts/simulate_autonomous_review.ts
  server/src/autonomous/ChangeReviewAgent.ts
  server/src/autonomous/orchestrator.enhanced.ts
  server/src/autonomous/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add cleanup script for preview resources
  scripts/preview/cleanup.sh
Due: none

chore: add script to post preview URL comment on PR
  scripts/preview/comment.sh
Due: none

chore: add cleanup script for preview resources
  scripts/preview/cleanup.sh
Due: none

fix(ci): convert flow-style YAML to block-style in ci-pr and ci-post-merge
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-pr.yml
Due: prettier --write

Add Docker Compose configuration for GitHub runner
  infra/runner/docker-compose.yml
Due: prettier --write

chore: bump version to 5.0.60
  package.json
Due: prettier --write

chore: add build_and_push.sh for Docker image management
  scripts/preview/build_and_push.sh
Due: none

chore: add Docker Compose configuration for GitHub runner
  infra/runner/docker-compose.yml
Due: prettier --write

Create .env.example for runner configuration
  infra/runner/.env.example
Due: none

chore: bump version to 5.0.61
  package.json
Due: prettier --write

chore: create .env.example for runner configuration
  infra/runner/.env.example
Due: none

Create README for GitHub Self-Hosted Runner setup
  infra/runner/README.md
Due: prettier --write

chore: bump version to 5.0.62
  package.json
Due: prettier --write

chore: refine self-hosted runner and preview workflows with EKS and Helm alignment
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview.yml
  README.md
  deploy/helm/intelgraph/values-preview.yaml
  infra/runner/.env.example
  infra/runner/README.md
  infra/runner/docker-compose.yml
  scripts/preview/build_and_push.sh
  scripts/preview/cleanup.sh
  scripts/preview/comment.sh
  scripts/preview/configure_kubelogin.sh
  scripts/preview/deploy.sh
Due: prettier --write

feat: implement real smoke tests and k8s seeding job for previews
  .github/workflows/pr-preview.yml
  scripts/preview/deploy.sh
Due: prettier --write

feat(ci): add self-hosted runners example workflow with distributed build/test/deploy
  .github/workflows/self-hosted-runners-example.yml
Due: prettier --write

fix(ci): use self-hosted runners for faster CI execution
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-pr.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/slsa-provenance.yml
Due: prettier --write

feat(ci): migrate agent-guardrails workflow to self-hosted runner
  .github/workflows/agent-guardrails.yml
Due: prettier --write

docs: create README for GitHub Self-Hosted Runner setup
  infra/runner/README.md
Due: prettier --write

feat(ci): add self-hosted runners example workflow
  .github/workflows/self-hosted-runners-example.yml
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
