Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs: add comprehensive README for Intelligence Operations C2 Platform
  docs/operations/README.md
Due: prettier --write

Build biometric identity intelligence platform (#12013)
  docs/biometrics/GUIDE.md
  docs/privacy/COMPLIANCE.md
  packages/behavioral-analysis/package.json
  packages/behavioral-analysis/src/index.ts
  packages/behavioral-analysis/src/types.ts
  packages/behavioral-analysis/tsconfig.json
  packages/biometrics/package.json
  packages/biometrics/src/index.ts
  packages/biometrics/src/types.ts
  packages/biometrics/tsconfig.json
  packages/document-verification/package.json
  packages/document-verification/src/index.ts
  packages/document-verification/src/types.ts
  packages/document-verification/tsconfig.json
  packages/facial-recognition/package.json
  packages/facial-recognition/src/index.ts
  packages/facial-recognition/src/types.ts
  packages/facial-recognition/tsconfig.json
  packages/identity-resolution/package.json
  packages/identity-resolution/src/index.ts
  packages/identity-resolution/src/types.ts
  packages/identity-resolution/tsconfig.json
  packages/watchlist-screening/package.json
  packages/watchlist-screening/src/index.ts
  packages/watchlist-screening/src/types.ts
  packages/watchlist-screening/tsconfig.json
  services/biometric-service/package.json
  services/biometric-service/schema.sql
  services/biometric-service/src/index.ts
  services/biometric-service/tsconfig.json
  services/identity-fusion/package.json
  services/identity-fusion/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Build Advanced Deception Detection System (#12008)
  docs/deception/DETECTION_METHODS.md
  docs/deception/GUIDE.md
  packages/content-verification/package.json
  packages/content-verification/src/index.ts
  packages/content-verification/tsconfig.json
  packages/deception-detector/src/index.ts
  packages/deepfake-detection/package.json
  packages/deepfake-detection/src/facial/facial-detector.ts
  packages/deepfake-detection/src/index.ts
  packages/deepfake-detection/src/types.ts
  packages/deepfake-detection/src/video/video-analyzer.ts
  packages/deepfake-detection/src/voice/voice-detector.ts
  packages/deepfake-detection/tsconfig.json
  packages/disinformation-detection/package.json
  packages/disinformation-detection/src/index.ts
  packages/disinformation-detection/tsconfig.json
  packages/fake-account-detection/package.json
  packages/fake-account-detection/src/index.ts
  packages/fake-account-detection/tsconfig.json
  packages/media-manipulation/package.json
  packages/media-manipulation/src/index.ts
  packages/media-manipulation/src/metadata/metadata-analyzer.ts
  packages/media-manipulation/src/photo/photo-forensics.ts
  packages/media-manipulation/src/provenance/provenance-tracker.ts
  packages/media-manipulation/src/types.ts
  packages/media-manipulation/tsconfig.json
  packages/synthetic-media/package.json
  packages/synthetic-media/src/index.ts
  packages/synthetic-media/tsconfig.json
  services/authenticity-service/package.json
  services/authenticity-service/src/index.ts
  services/authenticity-service/tsconfig.json
  services/deception-detection-service/package.json
  services/deception-detection-service/src/index.ts
  services/deception-detection-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Refactor legacy module for improved maintainability (#12002)
  REFACTOR_PLAN_ReportingService.md
  server/src/services/reporting/ReportMetrics.ts
  server/src/services/reporting/ReportTemplateRegistry.ts
  server/src/services/reporting/exporters/CSVExporter.ts
  server/src/services/reporting/exporters/ExporterFactory.ts
  server/src/services/reporting/exporters/HTMLExporter.ts
  server/src/services/reporting/exporters/IReportExporter.ts
  server/src/services/reporting/exporters/JSONExporter.ts
  server/src/services/reporting/exporters/PDFExporter.ts
  server/src/services/reporting/index.ts
  server/src/services/reporting/templates/template-definitions.ts
  server/src/services/reporting/types/Report.ts
  server/src/services/reporting/types/Template.ts
  server/src/services/reporting/types/index.ts
  server/src/services/reporting/utils/HTMLRenderer.ts
  server/src/services/reporting/validators/ReportRequestValidator.ts
  server/src/services/reporting/validators/TemplateValidator.ts
  server/src/tests/fixtures/reporting/mock-investigation-data.ts
  server/src/tests/fixtures/reporting/mock-templates.ts
  server/src/tests/fixtures/reporting/test-helpers.ts
  server/src/tests/unit/reporting/validators/ReportRequestValidator.test.ts
  server/src/tests/unit/reporting/validators/TemplateValidator.test.ts
Due: prettier --write

feat: add advanced analytics, event streaming, integrations, and infrastructure
  k8s/postgres/statefulset.yaml
  k8s/supply-chain-service/deployment.yaml
  k8s/supply-chain-service/ingress.yaml
  packages/supply-chain-analytics/README.md
  packages/supply-chain-analytics/package.json
  packages/supply-chain-analytics/src/analytics-engine.ts
  packages/supply-chain-analytics/src/index.ts
  packages/supply-chain-analytics/tsconfig.json
  packages/supply-chain-integrations/README.md
  packages/supply-chain-integrations/package.json
  packages/supply-chain-integrations/src/adapters/carrier-adapter.ts
  packages/supply-chain-integrations/src/adapters/erp-adapter.ts
  packages/supply-chain-integrations/src/adapters/esg-rating-adapter.ts
  packages/supply-chain-integrations/src/adapters/threat-intel-adapter.ts
  packages/supply-chain-integrations/src/index.ts
  packages/supply-chain-integrations/tsconfig.json
  services/supply-chain-events/README.md
  services/supply-chain-events/package.json
  services/supply-chain-events/src/event-bus.ts
  services/supply-chain-events/src/event-store.ts
  services/supply-chain-events/src/index.ts
  services/supply-chain-events/tsconfig.json
  services/supply-chain-service/Dockerfile
  services/supply-chain-service/db/migrations/001_initial_schema.sql
  services/supply-chain-service/db/schema.sql
  services/supply-chain-service/db/seed.sql
  services/supply-chain-service/jest.config.cjs
  services/supply-chain-service/tests/api.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(agents): Add comprehensive tooling and documentation for agent framework
  services/agent-gateway/cli/summit-agent.ts
  services/agent-gateway/docs/SECURITY_GUIDE.md
  services/agent-gateway/docs/TROUBLESHOOTING.md
  services/agent-gateway/examples/data-quality-agent.ts
  services/agent-gateway/examples/monitoring-agent.ts
  services/agent-gateway/package.json
  services/agent-gateway/scripts/deploy.sh
  services/agent-gateway/scripts/rollback.sh
  services/agent-gateway/scripts/verify-deployment.sh
  services/agent-gateway/src/WebhookService.ts
Due: prettier --write

feat: add incident response, analysis frameworks, and deployment configs
  README.cyber.md
  docker-compose.cyber.yml
  packages/cti-client-sdk/README.md
  packages/cti-client-sdk/client.py
  packages/incident-response/package.json
  packages/incident-response/src/incident-manager.ts
  packages/incident-response/src/index.ts
  packages/incident-response/src/soar-integration.ts
  packages/incident-response/src/types.ts
  packages/incident-response/tsconfig.json
  packages/threat-intel-analysis/package.json
  packages/threat-intel-analysis/src/diamond-model.ts
  packages/threat-intel-analysis/src/index.ts
  packages/threat-intel-analysis/src/kill-chain.ts
  packages/threat-intel-analysis/tsconfig.json
  scripts/init-databases.sh
  services/cyber-intel-service/Dockerfile
  services/cyber-intel-service/schema.sql
  services/threat-hunting-service/Dockerfile
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add telemetry and observability to service (#12001)
  server/observability/README.md
  server/observability/grafana-dashboard.json
  server/observability/prometheus-alerts.yml
  server/src/app.ts
  server/src/middleware/correlation-id.ts
  server/src/observability/enhanced-metrics.ts
  server/src/observability/neo4j-instrumentation.ts
  server/src/observability/postgres-instrumentation.ts
  server/src/observability/redis-instrumentation.ts
  server/src/observability/tracer.ts
Due: prettier --write

Improve test coverage (#11999)
  TESTING_ROADMAP.md
  server/src/db/__tests__/postgres.test.ts
  server/src/repos/__tests__/EntityRepo.test.ts
  server/src/repos/__tests__/InvestigationRepo.test.ts
  server/src/security/__tests__/jwt-security.test.ts
  server/src/services/__tests__/AuthService.test.ts
Due: prettier --write

Implement Provenance and Claim Ledger Service (#11990)
  server/src/prov-ledger-client/client.ts
  server/src/prov-ledger-client/index.ts
  server/src/prov-ledger-client/types.ts
  services/prov-ledger/README.md
  services/prov-ledger/jest.config.js
  services/prov-ledger/openapi.yaml
  services/prov-ledger/package-lock.json
  services/prov-ledger/package.json
  services/prov-ledger/src/index.ts
  services/prov-ledger/src/scripts/migrate.ts
  services/prov-ledger/test/e2e/workflow.test.ts
  services/prov-ledger/test/unit/bundles.test.ts
  services/prov-ledger/test/unit/claims.test.ts
  services/prov-ledger/test/unit/evidence.test.ts
  services/prov-ledger/tsconfig.json
Due: prettier --write

Implement observability and cost guard rails (#11988)
  server/README_OBSERVABILITY_COST_GUARD.md
  server/docs/OBSERVABILITY_COST_GUARD.md
  server/examples/observability-integration/database-example.ts
  server/examples/observability-integration/graphql-example.ts
  server/src/cost-guard/index.ts
  server/src/cost-guard/middleware.ts
  server/src/observability/index.ts
  server/src/observability/standard-metrics.ts
  server/src/observability/tracing.ts
  server/tests/cost-guard/middleware.spec.ts
  server/tests/observability/standard-metrics.spec.ts
  server/tests/observability/tracing.spec.ts
Due: prettier --write

Harden golden path end-to-end smoke test (#11987)
  Makefile
  README.md
  scripts/run-migrations.sh
  scripts/smoke-test.js
  scripts/test-migrations.sh
Due: prettier --write

Advance Data Intake connectors toward GA (#11986)
  connectors/cisa-kev/.dpia.yaml
  connectors/cisa-kev/README.md
  connectors/cisa-kev/__init__.py
  connectors/cisa-kev/__tests__/golden/expected/entities.json
  connectors/cisa-kev/__tests__/golden/expected/ransomware_entities.json
  connectors/cisa-kev/__tests__/golden/input/ransomware_sample.json
  connectors/cisa-kev/__tests__/golden/input/sample_kev.json
  connectors/cisa-kev/__tests__/test_e2e.py
  connectors/cisa-kev/__tests__/test_golden.py
  connectors/cisa-kev/__tests__/test_mapping.py
  connectors/cisa-kev/connector.py
  connectors/cisa-kev/manifest.yaml
  connectors/cisa-kev/sample.json
  connectors/cisa-kev/schema_mapping.py
  docs/architecture/CONNECTOR_GA_SUMMARY.md
  docs/architecture/data-intake-ga-spec.md
Due: prettier --write

Design AI Copilot with GraphRAG integration (#11984)
  client/src/components/copilot/CopilotSidebar.tsx
  docs/COPILOT_MVP_IMPLEMENTATION.md
  server/src/graphql/resolvers.copilot-mvp.ts
  server/src/graphql/schema/copilot-mvp.graphql
  server/src/services/NLToCypherService.ts
  server/src/services/__tests__/NLToCypherService.test.ts
  tests/e2e/copilot-mvp.spec.ts
Due: prettier --write

Implement ABAC governance and audit foundations (#11983)
  AUTH_ARCHITECTURE_DOCUMENTATION.md
  GOVERNANCE_DESIGN.md
  GOVERNANCE_IMPLEMENTATION_CHECKLIST.md
  GOVERNANCE_README.md
  QUICK_AUTH_REFERENCE.md
  policies/intelgraph/abac/allow.rego
  server/src/graphql/resolvers/governedInvestigation.ts
  server/src/middleware/governance.ts
  server/src/migrations/001_governance_schema.sql
  server/src/migrations/002_neo4j_policy_tags.ts
  server/src/services/WarrantService.ts
  server/tests/governance-acceptance.test.ts
Due: prettier --write

feat: add comprehensive 12-week development roadmap
  DEVELOPMENT_ROADMAP_12_WEEKS.md
Due: prettier --write

Design Provenance and Claim Ledger service (#11982)
  docs/architecture/provenance-ledger-beta.md
  docs/provenance-ledger-beta-implementation.md
  server/db/migrations/neo4j/003_provenance_beta_constraints.cypher
  server/db/migrations/postgres/2025-11-20_provenance_ledger_beta.sql
  server/src/__tests__/provenance-ledger-beta.e2e.test.ts
  server/src/routes/provenance-beta.ts
  server/src/services/evidence-registration-flow.ts
  server/src/services/provenance-ledger-beta.ts
  server/src/types/provenance-beta.ts
  server/src/utils/merkle-tree.ts
Due: prettier --write

Set up Predictive Threat Suite and SLO dashboards (#11981)
  observability/grafana/dashboards/predictive-suite-forecasts.json
  observability/grafana/dashboards/predictive-suite-platform-health.json
  observability/prometheus.yml
  predictive_threat_suite/ARCHITECTURE.md
  predictive_threat_suite/DEPLOYMENT.md
  predictive_threat_suite/Dockerfile
  predictive_threat_suite/README.md
  predictive_threat_suite/api_service.py
  predictive_threat_suite/counterfactual_service.py
  predictive_threat_suite/docker-compose.yml
  predictive_threat_suite/forecasting_service.py
  predictive_threat_suite/grafana-provisioning/dashboards/dashboards.yml
  predictive_threat_suite/grafana-provisioning/datasources/prometheus.yml
  predictive_threat_suite/prometheus.yml
  predictive_threat_suite/quickstart.sh
  predictive_threat_suite/requirements.txt
  predictive_threat_suite/test_e2e.py
Due: prettier --write

Implement tri-pane UX with explain view panel (#11980)
  .tsbuildinfo
  apps/web/docs/ANALYST_NAVIGATION_PATTERNS.md
  apps/web/docs/TRI_PANE_UX_GUIDE.md
  apps/web/src/components/tri-pane/EnhancedTriPaneView.tsx
  apps/web/src/features/explain/ExplainViewSidebar.tsx
  apps/web/src/features/geospatial/MapView.tsx
  apps/web/src/hooks/useExplainView.ts
  apps/web/src/lib/flags.ts
  apps/web/src/store/index.ts
  apps/web/tests/tri-pane-view.spec.ts
Due: prettier --write

feat: add production-ready UI components and screens for mobile apps
  apps/mobile-native/src/components/UIComponents.tsx
  apps/mobile-native/src/screens/HomeScreen.tsx
  apps/mobile-native/src/screens/auth/LoginScreen.tsx
  tools/generate-icons.js
  tools/package.json
Due: prettier --write

feat(golden-path): Harden health probes and WebSocket reliability
  scripts/smoke-test.js
  scripts/wait-for-stack.sh
  server/src/routes/health.ts
Due: none

feat: add advanced collaboration features and infrastructure
  packages/collaboration-client/README.md
  packages/collaboration-client/package.json
  packages/collaboration-client/src/CollaborationClient.ts
  packages/collaboration-client/src/index.ts
  packages/collaboration-client/tsconfig.json
  packages/collaboration/src/ai/AICollaborationAssistant.ts
  packages/collaboration/src/ai/index.ts
  packages/collaboration/src/analytics/CollaborationAnalytics.ts
  packages/collaboration/src/analytics/index.ts
  services/collaboration-service/migrations/001_init_schema.sql
  services/collaboration-service/migrations/README.md
  services/notification-service/package.json
  services/notification-service/src/NotificationService.ts
  services/notification-service/src/channels.ts
  services/notification-service/src/index.ts
  services/notification-service/src/store.ts
  services/notification-service/src/types.ts
  services/notification-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: expand data integration platform with 10+ connectors, ingestion service, and data quality
  examples/data-integration/data-quality-check.ts
  examples/data-integration/rest-api-to-s3.ts
  examples/data-integration/salesforce-to-postgres.ts
  packages/data-integration/src/__tests__/BaseConnector.test.ts
  packages/data-integration/src/connectors/HubSpotConnector.ts
  packages/data-integration/src/connectors/JiraConnector.ts
  packages/data-integration/src/connectors/KafkaConnector.ts
  packages/data-integration/src/connectors/STIXTAXIIConnector.ts
  packages/data-integration/src/connectors/SalesforceConnector.ts
  packages/data-integration/src/index.ts
  packages/data-quality/README.md
  packages/data-quality/package.json
  packages/data-quality/src/DataProfiler.ts
  packages/data-quality/src/index.ts
  packages/data-quality/tsconfig.json
  packages/etl-framework/src/__tests__/DataTransformer.test.ts
  services/ingestion-service/package.json
  services/ingestion-service/src/ingestion/IngestionManager.ts
  services/ingestion-service/src/metrics/MetricsCollector.ts
  services/ingestion-service/src/registry/ConnectorRegistry.ts
  services/ingestion-service/src/server.ts
  services/ingestion-service/src/webhooks/WebhookReceiver.ts
  services/ingestion-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add operational infrastructure and tooling for governance system
  QUICK_START_GOVERNANCE.md
  docker-compose.governance.yml
  monitoring/prometheus.yml
  scripts/run-migrations.sh
  scripts/test-governance.sh
  server/src/routes/access-requests.ts
  server/src/routes/audit.ts
  server/src/routes/warrants.ts
Due: prettier --write

feat: add testing infrastructure, custom hooks, and utility functions
  apps/mobile-native/jest.config.js
  apps/mobile-native/jest.setup.js
  apps/mobile-native/src/__tests__/components/Button.test.tsx
  apps/mobile-native/src/__tests__/utils/formatters.test.ts
  apps/mobile-native/src/__tests__/utils/validators.test.ts
  apps/mobile-native/src/hooks/useAppState.ts
  apps/mobile-native/src/hooks/useKeyboard.ts
  apps/mobile-native/src/hooks/useNetworkStatus.ts
  apps/mobile-native/src/hooks/useOfflineSync.ts
  apps/mobile-native/src/utils/formatters.ts
  apps/mobile-native/src/utils/validators.ts
Due: none

Add DNS/WHOIS Connector + Registry + CI Integration (Phase 2)
  .github/workflows/connector-golden-tests.yml
  connectors/dns-whois/.dpia.yaml
  connectors/dns-whois/README.md
  connectors/dns-whois/__init__.py
  connectors/dns-whois/manifest.yaml
  connectors/dns-whois/sample_dns.json
  connectors/dns-whois/schema_mapping.py
  connectors/registry.json
  docs/architecture/DATA_INTAKE_PHASE2_SUMMARY.md
Due: prettier --write

docs: add comprehensive expanded features summary
  docs/data-integration/EXPANDED_FEATURES.md
Due: prettier --write

docs: add comprehensive enhancements documentation
  docs/collaboration/ENHANCEMENTS.md
Due: prettier --write

Add AI Copilot MVP - Production-Ready Enhancements
  client/src/data/copilotTemplates.ts
  client/src/graphql/copilot.operations.ts
  client/src/hooks/useCopilot.ts
  client/src/pages/InvestigationDetail.tsx
  client/src/types/copilot.ts
  docs/COPILOT_MVP_README.md
  docs/USER_GUIDE_AI_COPILOT.md
  monitoring/grafana-copilot-dashboard.json
  scripts/setup-copilot.sh
  server/src/monitoring/copilotMetrics.ts
Due: prettier --write

Add comprehensive implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: prettier --write

test: add comprehensive tests for repos, services, and workers
  server/src/repos/__tests__/RelationshipRepo.test.ts
  server/src/services/__tests__/ComplianceService.test.ts
  server/src/workers/__tests__/trustScore.test.ts
Due: none

feat: implement comprehensive screen components for mobile app
  apps/mobile-native/src/hooks/useDebounce.ts
  apps/mobile-native/src/screens/CameraScreen.tsx
  apps/mobile-native/src/screens/CasesScreen.tsx
  apps/mobile-native/src/screens/EntityDetailsScreen.tsx
  apps/mobile-native/src/screens/MapScreen.tsx
  apps/mobile-native/src/screens/SearchScreen.tsx
Due: none

Design audit event schema and database (#12027)
  docs/audit/audit-system-design.md
  docs/audit/hmac-signature-strategy.md
  docs/audit/soc2-compliance-requirements.md
  server/db/migrations/timescale/003_comprehensive_audit_system.sql
  server/src/audit/audit-types.ts
Due: prettier --write
