Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: harden audit export and verification
  services/audit-blackbox-service/README.md
  services/audit-blackbox-service/jest.config.cjs
  services/audit-blackbox-service/package.json
  services/audit-blackbox-service/src/__tests__/export-utils.test.ts
  services/audit-blackbox-service/src/api/audit-api.ts
  services/audit-blackbox-service/src/api/export-utils.ts
  services/audit-blackbox-service/src/cli/verify-chain.ts
  services/audit-blackbox-service/src/core/hash-utils.ts
  services/audit-blackbox-service/src/store/immutable-store.ts
Due: prettier --write

feat: harden ig backup integrity checks
  docs/IG_BACKUP_RUNBOOK.md
  tools/ig-backup/index.js
  tools/ig-backup/index.test.js
  tools/ig-backup/lib/backup-service.js
Due: prettier --write

chore: enforce sbom severity budgets
  .ci/scripts/sbom/diff_budget.py
  .ci/scripts/sbom/test_diff_budget.py
Due: none

feat: add audit export and verification chain (#13871)
  services/jitae/cmd/jitae-cli/main.go
  services/jitae/internal/audit/audit.go
  services/jitae/internal/audit/audit_test.go
  services/jitae/internal/httpapi/handler.go
Due: none

Add architecture README for Codex execution program (#13869)
  docs/architecture/README.md
Due: prettier --write

chore: add migration gate scaffolding (#13867)
  .ci/policies/migrations.rego
  .ci/scripts/migrations/dryrun_neo4j.sh
  .ci/scripts/migrations/dryrun_postgres.sh
  .ci/scripts/migrations/dryrun_typesense.sh
  .ci/scripts/migrations/plan_neo4j.sh
  .ci/scripts/migrations/plan_postgres.sh
  .ci/scripts/migrations/plan_typesense.sh
  .ci/scripts/migrations/rollback_plan.sh
  .ci/scripts/migrations/shadow_compare.py
  .github/workflows/migration-gate.yml
  RUNBOOKS/migrations-expand-contract.md
  RUNBOOKS/migrations-rollback.md
  apps/gateway/src/lib/data/migration_flags.ts
  deploy/helm/intelgraph/values-migrations.yaml
  migrations/neo4j/strategic-foresight/20250214_expand_shadow_graph.cypher
  migrations/postgres/strategic-foresight/20250214_expand_shadow_tables.sql
  migrations/typesense/strategic-foresight/20250214_shadow_index.json
  observability/grafana/dashboards/migrations.json
  services/strategic-foresight/db/alembic.ini
  services/strategic-foresight/db/versions/20250214_expand_shadow_tables.py
  services/strategic-foresight/workers/backfill_shadow_cases.py
Due: prettier --write

chore: add sops and sealed-secrets workflows (#13866)
  .ci/policies/secrets.rego
  .ci/scripts/secrets/leak_scan.sh
  .ci/scripts/secrets/seal.sh
  .github/workflows/seal-secrets.yml
  .github/workflows/secrets-lint.yml
  .pre-commit-config.yaml
  .security/keys/README.md
  .security/keys/age-org.pub
  .sops.yaml
  .vscode/tasks.json
  Makefile
  RUNBOOKS/secrets-operations.md
  deploy/helm/intelgraph/secrets/app-dev.sealed.yaml
  deploy/helm/intelgraph/secrets/app-prod.sealed.yaml
  deploy/helm/intelgraph/secrets/app-stage.sealed.yaml
  observability/grafana/dashboards/secrets.json
  secrets/envs/dev/app.enc.yaml
  secrets/envs/prod/app.enc.yaml
  secrets/envs/stage/app.enc.yaml
  secrets/templates/service-credentials.yaml
Due: prettier --write

chore: enforce sbom severity budgets (#14036)
  .ci/scripts/sbom/diff_budget.py
  .ci/scripts/sbom/test_diff_budget.py
Due: none

feat: harden ig backup integrity checks (#14035)
  docs/IG_BACKUP_RUNBOOK.md
  tools/ig-backup/index.js
  tools/ig-backup/index.test.js
  tools/ig-backup/lib/backup-service.js
Due: prettier --write

feat: audit export verification and CLI tooling (#14034)
  services/audit-blackbox-service/README.md
  services/audit-blackbox-service/jest.config.cjs
  services/audit-blackbox-service/package.json
  services/audit-blackbox-service/src/__tests__/export-utils.test.ts
  services/audit-blackbox-service/src/api/audit-api.ts
  services/audit-blackbox-service/src/api/export-utils.ts
  services/audit-blackbox-service/src/cli/verify-chain.ts
  services/audit-blackbox-service/src/core/hash-utils.ts
  services/audit-blackbox-service/src/store/immutable-store.ts
Due: prettier --write

Harden dependency policy enforcement (#14033)
  .ci/policies/deps.rego
  .security/deps/policy.yaml
Due: none

feat: add vuln trend dashboard and reporting automation (#14032)
  .github/workflows/org-vuln-weekly.yml
  .github/workflows/sbom-provenance.yml
  observability/grafana/dashboards/vuln-trend.json
Due: prettier --write

docs: update supply chain runbook and pr template (#14031)
  .github/PULL_REQUEST_TEMPLATE.md
  RUNBOOKS/supply-chain.md
Due: prettier --write

ci: add supply chain gates workflow (#14030)
  .ci/scripts/attest/attest_slsa.sh
  .ci/scripts/sbom/diff_budget.py
  .ci/scripts/sbom/generate_syft.sh
  .ci/scripts/sbom/scan_grype.sh
  .ci/scripts/sbom/scan_osv.sh
  .ci/scripts/signing/cosign_sign_verify.sh
  .github/workflows/supply-chain-gates.yml
Due: prettier --write

Harden release and deployment supply chain gates (#14029)
  .github/workflows/canary-deployment.yml
  .github/workflows/promote.yml
  .github/workflows/release-ga.yml
Due: prettier --write

Add sprint plan for Sep 14–25 2026 (#13862)
  sprint_plan_sep_14_25_2026_america_denver.md
Due: prettier --write

Add recommendation for UX-focused next prompt track (#13861)
  NEXT_PROMPTS_RECOMMENDATION.md
Due: prettier --write

Add implementation plan for features 41-48 (#13860)
  docs/roadmap/features-41-48-plan.md
Due: prettier --write

Add Q1 2027 revenue engine sprint plan (#13859)
  sprint_plan_q1_2027_revenue_engine.md
Due: prettier --write

Add Sprint 24 plan for Nov 9–20 2026 (#13858)
  sprint_plan_nov_9_20_2026_america_denver.md
Due: prettier --write

Add blueprint for prompts 25-32 (#13857)
  PROMPTS_25-32_PARALLEL_IMPLEMENTATION.md
Due: prettier --write

Add sprint plan for Oct 26–Nov 6 2026 enterprise platform (#13856)
  sprint_plan_oct_26_nov_6_2026_america_denver.md
Due: prettier --write

Add Sprint 22 trust verification sprint plan (#13855)
  sprint_plan_oct_12_23_2026_america_denver.md
Due: prettier --write

Add sprint 21 plan for Sep 28–Oct 9 2026 (#13854)
  sprint_plan_sep_28_oct_9_2026_america_denver.md
Due: prettier --write

feat: add provenance manifest verifier (#13853)
  ga-graphai/packages/prov-manifest/README.md
  ga-graphai/packages/prov-manifest/bin/ig-manifest.js
  ga-graphai/packages/prov-manifest/manifest.schema.json
  ga-graphai/packages/prov-manifest/package.json
  ga-graphai/packages/prov-manifest/src/cli.js
  ga-graphai/packages/prov-manifest/src/index.js
  ga-graphai/packages/prov-manifest/src/schema.js
  ga-graphai/packages/prov-manifest/src/types.js
  ga-graphai/packages/prov-manifest/src/verifyManifest.js
  ga-graphai/packages/prov-manifest/tests/fixtures/escape.txt
  ga-graphai/packages/prov-manifest/tests/fixtures/hash-mismatch/manifest.json
  ga-graphai/packages/prov-manifest/tests/fixtures/hash-mismatch/report.html
  ga-graphai/packages/prov-manifest/tests/fixtures/hash-mismatch/report.txt
  ga-graphai/packages/prov-manifest/tests/fixtures/missing-file/manifest.json
  ga-graphai/packages/prov-manifest/tests/fixtures/path-traversal/manifest.json
  ga-graphai/packages/prov-manifest/tests/fixtures/valid-bundle/evidence.txt
  ga-graphai/packages/prov-manifest/tests/fixtures/valid-bundle/manifest.json
  ga-graphai/packages/prov-manifest/tests/fixtures/valid-bundle/report.html
  ga-graphai/packages/prov-manifest/tests/fixtures/valid-bundle/report.txt
  ga-graphai/packages/prov-manifest/tests/manifest.test.js
Due: prettier --write

Add Switchboard flow expansion plan (#13851)
  docs/switchboard_flow_plan.md
Due: prettier --write

ci: add fast PR gate workflow (tiered CI) (#13651)
  .github/workflows/ci-pr-gate.yml
  docs/development/ci-tiers.md
  scripts/ci/pr-gate.sh
Due: prettier --write

chore: harden drop gateway security (#13659)
  apps/server/package.json
  apps/server/src/config/rateLimit.ts
  apps/server/src/config/security.ts
  apps/server/src/graphql/resolvers/drop.ts
  apps/server/src/graphql/schemas/drop.graphql
  apps/server/src/index.ts
  apps/server/src/observability/securityLogger.ts
  apps/server/src/security/validation.ts
  apps/server/src/security/vault.ts
Due: prettier --write

Optimize Postgres pooling configuration and add investigation indexes (#13662)
  server/src/db/migrations/20250821_investigation_expression_indexes.sql
  server/src/db/pg.ts
Due: none

Add MVP gate workflow and guardrail scaffolding (#13664)
  .github/workflows/mvp-gate.yml
  .node-version
  .nvmrc
  package.json
  packages/analytics/src/index.ts
  packages/analytics/src/trustScore.ts
  packages/governance/src/invariants.ts
  packages/governance/src/middleware.ts
  scripts/mvp/check-invariants.mjs
  scripts/mvp/check-smoke.mjs
  scripts/mvp/check-trustscore.mjs
  scripts/mvp/check-tsc.mjs
  scripts/mvp/gate.mjs
  scripts/mvp/smoke-http.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Summit automation CLI: golden path v1 (#13672)
  README.md
  cli/README.md
  cli/__tests__/automation.test.ts
  cli/jest.config.cjs
  cli/src/automation.ts
  cli/src/summit.ts
Due: prettier --write

fix: correct price-aware pool selection (#13680)
  server/src/conductor/scheduling/__tests__/pools.test.ts
  server/src/conductor/scheduling/pools.ts
Due: none

feat: add audit export verifier
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/tests/audit-export.test.ts
Due: none

feat: harden break-glass access controls
  ops/BREAK_GLASS_RUNBOOK.md
  services/authz-gateway/src/break-glass.ts
  services/authz-gateway/tests/break-glass.test.ts
Due: prettier --write

feat: add cost-aware queue autoscaling
  ga-graphai/packages/cost-guard/src/index.ts
  ga-graphai/packages/cost-guard/src/types.ts
  ga-graphai/packages/cost-guard/tests/costGuard.spec.ts
  ops/SLOS.md
  ops/alerts.yml
  ops/grafana/dashboards/intelgraph-platform-operations.json
  ops/keda/agent-queue-scaledobject.yaml
Due: prettier --write

docs(ops): finalize price-aware orchestration ADR + runbook + dashboard/alerts (#13683)
  DOCUMENTATION_INDEX.md
  SUMMIT_MAESTRO_DELIVERY_PLAN.md
  docs/architecture/ADR-051-Price-Aware-Orchestration.md
  docs/runbooks/price-aware-orchestration.md
  ops/grafana/dashboards/price-aware-orchestration.json
  ops/prometheus/alerts/price-aware-orchestration.rules.yaml
Due: prettier --write

ci: add helm governance pipeline
  .github/workflows/helm-governance.yml
  charts/ct.yaml
  docs/helm-governance.md
  helm/ai-service/values.ci.yaml
  helm/ct.yaml
  helm/policies/kyverno/baseline.yaml
  helm/policies/opa/chart-security.rego
  scripts/helm/render-manifests.sh
Due: prettier --write

perf(k6): enforce GraphQL SLO thresholds with tagged endpoint gates (#13684)
  .github/workflows/k6-gates.yml
  tests/k6-graphql-slo.js
  tests/k6-smoke.js
Due: prettier --write

feat: harden summit helm security controls
  summit_helm_argocd_multiacct_pack/00_README.md
  summit_helm_argocd_multiacct_pack/docs/SECURITY_PREP.md
  summit_helm_argocd_multiacct_pack/helm/summit/Chart.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/_helpers.tpl
  summit_helm_argocd_multiacct_pack/helm/summit/templates/audit-logging.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/certificate.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/deployment.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/external-secrets.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/ingress.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/mesh.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/namespace.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/provenance-secret.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/rbac.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/service.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/templates/serviceaccount.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-dev.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-prod.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-staging.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values.yaml
Due: prettier --write

feat: add helm umbrella and deployment guide
  docs/deploy/k8s.md
  helm/charts/summit-service/Chart.yaml
  helm/charts/summit-service/templates/_helpers.tpl
  helm/charts/summit-service/templates/_service.tpl
  helm/umbrella/Chart.yaml
  helm/umbrella/templates/resource-constraints.yaml
  helm/umbrella/templates/services.yaml
  helm/umbrella/values.yaml
Due: prettier --write
