Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(strategy): add governed 2026 partner target matrix
  docs/roadmap/STATUS.json
  docs/strategy/cloud_si_data_partner_target_matrix_2026.md
Due: prettier --write

docs(exec): add enterprise and investor narrative intelligence pitch decks
  docs/exec/NARRATIVE_INTELLIGENCE_PITCH_DECKS.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: set legal/compliance as next 6-month ICP priority
  docs/market-entry/sector-sequencing.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat(cogwar): harden policy gating and deterministic warning generation
  cogwar/iw/warning.py
  cogwar/policy/rules.py
  tests/iw/test_warning_hardening.py
  tests/policy/test_allow_defensive_iw_summary.py
  tests/policy/test_refuse_offensive_influence.py
Due: none

docs: harden narrative stack with 2026 research consolidation
  docs/narrative/README.md
  docs/narrative/claims-and-evidence.yaml
  docs/narrative/narrative-stack-hardening-2026.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add compliance-risk segment prioritization brief
  docs/market/2026-03-11-segment-prioritization.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat(design): phase 1 - architectural visual spec and manifesto
  apps/web/src/index.css
  docs/design/SUMMIT_DESIGN_MANIFESTO.md
Due: prettier --write

docs: operationalize backlog recovery triage
  docs/PR_BACKLOG_RECOVERY_PLAYBOOK.md
  docs/roadmap/STATUS.json
  scripts/pr-backlog-audit.mjs
Due: prettier --write

feat(design): phase 2 - refactor core UI primitives to architectural spec
  apps/web/src/components/ui/Badge.tsx
  apps/web/src/components/ui/Button.tsx
  apps/web/src/components/ui/Card.tsx
  apps/web/src/components/ui/Dialog.tsx
  apps/web/src/components/ui/Table.tsx
  apps/web/src/components/ui/Tabs.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/textarea.tsx
Due: none

feat(design): phase 3 - refactor layouts, nav, and dash components to architectural spec
  apps/web/src/components/Layout.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/components/panels/KPIStrip.tsx
  apps/web/src/graphs/GraphCanvas.tsx
  apps/web/src/pages/dashboards/CommandCenterDashboard.tsx
Due: none

feat(design): phase 4 - stark architecture applied to investigator workbench and entity drawer
  apps/web/src/components/investigation/InvestigatorWorkbench.tsx
  apps/web/src/components/panels/EntityDrawer.tsx
Due: none

feat(design): phase 5 - apply structural architectural styling to exploration and home pages
  apps/web/src/pages/ExplorePage.tsx
  apps/web/src/pages/HomePage.tsx
Due: none

feat(design): phase 6 - refactor demo control to align with museum-grade architectural spec
  apps/web/src/pages/DemoControlPage.tsx
Due: none

Add defensive cogwar plan
  cogwar/innovation/defensive_friction_planner.py
  cogwar/iw/warning.py
  cogwar/tests/__init__.py
  cogwar/tests/test_defensive_friction_planner.py
  docs/roadmap/STATUS.json
  evidence/EVD-nato-cogwar-techfamilies-gov-001/metrics.json
  schemas/cogwar/defensive_friction_plan.schema.json
Due: prettier --write

feat(deepagent): add governed strategy engine and fallback planning
  deepagent-mvp/README.md
  deepagent-mvp/src/agent/loop.ts
  deepagent-mvp/src/agent/reasoning/planner.ts
  deepagent-mvp/src/agent/reasoning/strategy-engine.ts
  deepagent-mvp/src/server/graphql/resolvers.ts
  deepagent-mvp/src/server/graphql/schema.graphql
  deepagent-mvp/tests/unit/planner.test.ts
  deepagent-mvp/tests/unit/strategy-engine.test.ts
Due: prettier --write

Add CogWar resilience delta sim
  docs/roadmap/STATUS.json
  docs/standards/cogwar-resilience-delta-simulator.md
  packages/summit-cogbattlespace/src/__tests__/resilienceDeltaSimulator.test.ts
  packages/summit-cogbattlespace/src/index.ts
  packages/summit-cogbattlespace/src/strategy/resilienceDeltaSimulator.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(design): overhaul investigator workbench and entity drawer for museum-grade operational clarity
  apps/web/src/components/investigation/InvestigatorWorkbench.tsx
  apps/web/src/components/panels/EntityDrawer.tsx
Due: none

Add cognitive pressure map warnings
  cogwar/innovation/__init__.py
  cogwar/innovation/cognitive_pressure_map.py
  cogwar/iw/warning.py
  docs/cogwar/cognitive-pressure-map.md
  docs/roadmap/STATUS.json
  schemas/cogwar/cognitive_pressure_map.schema.json
  tests/innovation/test_cognitive_pressure_map.py
  tests/iw/test_warning_cognitive_pressure_map.py
Due: prettier --write

Add adaptive warning feature
  cogwar/innovation/__init__.py
  cogwar/innovation/adaptive_inoculation_graph.py
  cogwar/iw/warning.py
  cogwar/tests/__init__.py
  cogwar/tests/test_adaptive_inoculation_graph.py
  docs/roadmap/STATUS.json
  docs/standards/ru-ua-cogwar-lab.md
  schemas/cogwar/adaptive_inoculation_plan.schema.json
Due: prettier --write

feat: add engineering intelligence network pipeline
  .github/workflows/engineering-intelligence-network.yml
  .global-intelligence/engineering-intelligence-network.json
  .global-intelligence/evidence-ledger-entry.json
  .global-intelligence/global-patterns.json
  .global-intelligence/network-learning-models.json
  .global-intelligence/repository-dataset.json
  docs/intelligence/engineering-intelligence-network.md
  docs/roadmap/STATUS.json
  scripts/network/global-pattern-detector.mjs
  scripts/network/network-intelligence-report.mjs
  scripts/network/network-learning-engine.mjs
  scripts/network/repository-ingestion-engine.mjs
Due: prettier --write

Flag supply chain trust shift
  Makefile
  apps/intelligence-console/Dockerfile.dev
  apps/intelligence-console/index.html
  apps/intelligence-console/package.json
  apps/intelligence-console/src/App.tsx
  apps/intelligence-console/src/components/OutcomeTracker.tsx
  apps/intelligence-console/src/main.tsx
  apps/intelligence-console/vite.config.ts
  docker-compose.dev.yaml
  docs/intelligence/learning-system-blueprint.md
  scripts/ga/verification-seal.sh
  scripts/generate-all-intelligence.mjs
  scripts/intelligence/architecture-learning-engine.mjs
  services/intelligence-api/Dockerfile
  services/intelligence-api/package.json
  services/intelligence-api/src/controller.ts
  services/intelligence-api/src/index.ts
  tools/summitctl/src/commands/intel.ts
  tools/summitctl/src/index.ts
Due: prettier --write

Add orchestrator multi-agent plan
  intelligence-substrate/global/learning-outcomes.json
  intelligence-substrate/learning-outcomes.json
  intelligence-substrate/repoos/architecture-roadmap.json
  intelligence-substrate/repoos/repository-state.json
  intelligence-substrate/repoos/summit-ga-certificate.json
  scripts/ga/verification-seal.sh
  scripts/generate-all-intelligence.mjs
  scripts/intelligence/architecture-learning-engine.mjs
  services/intelligence-api/src/controller.ts
  tools/summitctl/src/commands/intel.ts
Due: prettier --write

feat(roadmap): add THINKPOL OSINT subsumption plan
  docs/roadmap/STATUS.json
  docs/roadmap/thinkpol-osint-subsumption-plan.md
Due: prettier --write

docs: align README and API/ingestion docs with current surfaces
  README.md
  docs/api/companyos.md
  docs/api/graphql.md
  docs/api/rest.md
  docs/architecture/ingestion.md
  docs/graphrag/README.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs(roadmap): add phase 7 self-improving memory blueprint
  docs/roadmap/PHASE7_SELF_IMPROVING_MEMORY_LOOP.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat: add zero-config wow demo workflow and docs
  README.md
  datasets/wow/README.md
  datasets/wow/intsum-2026-threat-horizon.jsonl
  datasets/wow/mit-sloan-startups-2026.jsonl
  docs/api/graphql.md
  docs/architecture/ingestion.md
  docs/connectors/README.md
  docs/graphrag/README.md
  docs/roadmap/STATUS.json
  package.json
  scripts/wow.sh
Due: prettier --write

feat: add wow demo dataset bundle and one-command launcher
  README.md
  datasets/demo/README.md
  datasets/demo/demo-companies.jsonl
  datasets/demo/demo-news-articles.jsonl
  datasets/demo/demo-relationships.csv
  docs/architecture/ingestion.md
  docs/demo.md
  docs/roadmap/STATUS.json
  release_notes/v2026.03.15-wow.md
  scripts/wow-demo.sh
Due: prettier --write

feat(prompts): add summit ui total modernization master prompt
  docs/roadmap/STATUS.json
  prompts/registry.yaml
  prompts/ui/summit-ui-total-modernization@v1.md
Due: prettier --write

feat(summit-ui): scaffold intelligence os interface modules
  docs/roadmap/STATUS.json
  summit/ui/commands/IOSCommandPalette.tsx
  summit/ui/copilots/CopilotChat.tsx
  summit/ui/copilots/CopilotPanel.tsx
  summit/ui/copilots/CopilotSuggestions.tsx
  summit/ui/copilots/CopilotTaskRunner.tsx
  summit/ui/index.ts
  summit/ui/insights/InsightExplanation.tsx
  summit/ui/insights/InsightExplorer.tsx
  summit/ui/insights/InsightFeed.tsx
  summit/ui/insights/InsightGraph.tsx
  summit/ui/integration/intelgraphTypes.ts
  summit/ui/memory/InvestigationMemory.tsx
  summit/ui/memory/MemoryGraph.tsx
  summit/ui/memory/MemoryNotes.tsx
  summit/ui/memory/MemorySearch.tsx
  summit/ui/memory/MemoryTimeline.tsx
  summit/ui/missions/MissionDashboard.tsx
  summit/ui/missions/MissionEntities.tsx
  summit/ui/missions/MissionStatus.tsx
  summit/ui/missions/MissionTimeline.tsx
  summit/ui/narratives/NarrativeBuilder.tsx
  summit/ui/narratives/NarrativeComparison.tsx
  summit/ui/narratives/NarrativeExplorer.tsx
  summit/ui/narratives/NarrativeTimeline.tsx
  summit/ui/search/EntitySearch.tsx
  summit/ui/search/EventSearch.tsx
  summit/ui/search/GlobalSearch.tsx
  summit/ui/search/SearchResults.tsx
  summit/ui/workflows/IntelligenceWorkflowAutomation.ts
Due: prettier --write

feat(design): phase 9 - museum-grade redesign of public website and homepage
  website/src/app/(marketing)/page.tsx
  website/src/styles/tokens.css
Due: prettier --write

Add countermeasure playbook
  cogwar/innovation/__init__.py
  cogwar/innovation/countermeasure_orchestrator.py
  cogwar/iw/warning.py
  cogwar/schemas/countermeasure_playbook.schema.json
  cogwar/schemas/warning.schema.json
  docs/cogwar/countermeasure-orchestrator.md
  docs/roadmap/STATUS.json
  tests/innovation/test_countermeasure_orchestrator.py
  tests/iw/test_warning_countermeasure_playbook.py
Due: prettier --write

feat(design): phase 10 - museum-grade redesign of public solution pages (re-applied)
  summit-landing/pages/factflow.tsx
  summit-landing/pages/factgov.tsx
  summit-landing/pages/factlaw.tsx
  summit-landing/pages/factmarkets.tsx
Due: none

feat(governance): establish evidence contract schemas and artifact conventions
  docs/governance/EVIDENCE_CONTRACT_SPEC.md
  schemas/evidence/entropy-report.schema.json
  schemas/evidence/resurrection-report.schema.json
Due: prettier --write

feat(ops): complete Summit GA operational readiness suite
  GA_TRIAGE_POLICY.md
  docs/runbooks/GA_ESCALATION_MATRIX.md
  scripts/evaluate-rollback-criteria.mjs
  scripts/ga-smoke-test.mjs
  scripts/verify-ga-evidence-completeness.mjs
Due: prettier --write

feat(design): phase 11 - museum-grade documentation surface overhaul
  docs-site/docusaurus.config.js
  docs-site/src/css/custom.css
Due: prettier --write

feat(design): phase 12 - museum-grade administrative command center overhaul
  apps/web/src/features/org-admin/OrgAdminSettings.jsx
  apps/web/src/features/org-admin/OrgAdminSettings.tsx
Due: none

feat(ops): add GA emergency controls and update iteration loop
  RUNBOOKS/GA_LAUNCH_WEEK_ITERATION.md
  scripts/ga-emergency-controls.mjs
Due: prettier --write

feat: complete remaining platform and council integration
  ROADMAP.md
  apps/gateway/package.json
  apps/gateway/src/server.ts
  apps/gateway/subgraphs.yaml
  apps/web/vite.config.ts
  docker-compose.yml
  docs/roadmap/STATUS.json
  server/src/app.ts
  server/src/db/migrations/20260311_council_schema.sql
  server/src/routes/council.ts
  server/src/services/CouncilService.ts
  services/repoos/frontier-entropy.mjs
Due: prettier --write

feat(design): phase 13 - museum-grade operational access terminal overhaul
  apps/web/src/pages/SignInPage.tsx
Due: none
