Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json,yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

ci: add lint step
  .github/workflows/my-ci-core.yml
Due: prettier --write

feat(sprint2): implement Policy Intelligence v1 + Inventory Graph UI v1
  UpgradeOrchestration.md
  backend/graphql/inventory-graph-schema.js
  backend/routes/policy-notifications.js
  backend/services/policy-drift-detector.go
  conductor-ui/frontend/src/components/graph/InventoryGraphPanel.tsx
  conflict-resolution-1.md
  conflict-resolution-2.md
  conflict-resolution-3.md
  conflict-resolution-4.md
  conflict-resolution-5.md
  fastest→best_pr_scaffold_intel_graph_maestro_conductor_company_os_switchboard (1).md
  fastest→best_pr_scaffold_intel_graph_maestro_conductor_company_os_switchboard.md
  intel_graph_multi_llm_orchestration_pack_v_1.md
  python/ml/policy_change_risk_scorer.py
  scripts/ci/branch-protection-full.json
  scripts/execute-green-train-merge.sh
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(sprint2): complete SOAR v1.4 + Intel v4 + Observability - 100% DELIVERED
  observability/prometheus/alerts/sprint2-slo-alerts.yml
  python/ml/intel_active_learning_v4.py
  python/services/soar_bulk_operations.py
Due: prettier --write

docs: November Sprint 2 COMPLETE - 100% delivery (30/30 pts)
  docs/NOVEMBER_SPRINT_2_COMPLETE.md
Due: prettier --write

feat: add IntelGraph November 2025 release artifacts
  .github/workflows/release.yml
  CHANGELOG.md
  apps/web/tests/graph-ui.spec.ts
  deploy/helm/values-prod.yaml
  grafana/dashboards/intelgraph-slo-dashboard.json
  graphql/schema.graphql
  ops/alertmanager/receivers.yml
  ops/prometheus/alerts/policy_intelligence.yml
  release/EXEC_BRIEF_v2025.11.2.md
  release/RELEASE_NOTES_v2025.11.2.md
  server/ml/__tests__/model_quality.spec.ts
  tests/k6/soar_bulk_100rps.js
Due: prettier --write

feat: add copilot multi-llm routing
  .env.example
  .github/PULL_REQUEST_TEMPLATE/copilot_multi_llm.md
  .github/workflows/copilot-routing.yml
  .github/workflows/self-heal.yml
  Makefile
  RUNBOOK_FASTEST.md
  infra/grafana/copilot_dashboard.json
  infra/k8s/values-staging.yaml
  infra/neo4j/2025-10-06_provenance.cql
  infra/postgres/2025-10-06_llm_calls.sql
  infra/redis/redis.conf
  scripts/ci/self_heal.py
  scripts/ci/summarize_failure.py
  scripts/ops/import_grafana_dashboard.sh
  scripts/ops/seed_models.ts
  server/policies/llm-output.rego
  server/policies/llm-routing.rego
  server/src/graphql/resolvers.copilot.js
  server/src/services/llm-router.service.ts
  server/src/services/providers/anthropic.adapter.ts
  server/src/services/providers/google.adapter.ts
  server/src/services/providers/openai.adapter.ts
  server/src/services/providers/perplexity.adapter.ts
  server/src/services/providers/types.ts
  server/src/utils/cost-logger.ts
  server/src/utils/opa-client.ts
  server/src/utils/provenance.ts
  server/src/utils/timeout.ts
  server/src/utils/tokens.ts
Due: prettier --write

fix: update CI/CD workflow and add GraphQL entity resolvers
  .github/workflows/release.yml
  server/src/graphql/resolvers-combined.ts
  server/src/graphql/resolvers/entity.js
  server/src/graphql/resolvers/entity.ts
Due: prettier --write

chore: add orchestrator files and prompt
  .orchestrator/patches/10151/0001-feat-phase3-officially-transition-Phase-3-Cognitive-.patch
  .orchestrator/patches/10151/0002-docs-phase3-add-comprehensive-completion-and-Phase-4.patch
  .orchestrator/patches/10151/0003-docs-phase3-add-final-completion-certificate-for-Cog.patch
  .orchestrator/patches/10151/0004-docs-phase3-add-consolidated-completion-report-for-C.patch
  .orchestrator/patches/10151/0005-docs-phase3-add-ultimate-completion-certificate-for-.patch
  .orchestrator/patches/10151/0006-feat-phase3-complete-Cognitive-Decision-Support-Syst.patch
  .orchestrator/patches/10151/0007-docs-phase3-add-final-completion-summary-and-report-.patch
  .orchestrator/patches/10151/0008-docs-phase3-add-final-wrap-up-documentation-for-Cogn.patch
  .orchestrator/patches/10151/0009-docs-phase3-final-completion-confirmation-for-Cognit.patch
  .orchestrator/patches/10151/0010-docs-phase3-add-final-completion-status-JSON-for-Cog.patch
  .orchestrator/patches/10151/0011-Phase-3-final-completion-Cognitive-Decision-Support-.patch
  .orchestrator/patches/10151/0012-feat-november-add-comprehensive-November-2025-execut.patch
  .orchestrator/patches/10151/0013-feat-november-implement-RBAC-Phase-3-ABAC-JIT-elevat.patch
  .orchestrator/patches/10151/0014-feat-sprint1-implement-Asset-Inventory-v1.2-reconcil.patch
  .orchestrator/patches/10151/0015-feat-sprint1-complete-Asset-Inventory-v1.2-webhook-a.patch
  .orchestrator/patches/10151/0016-feat-sprint1-implement-Threat-Intel-Confidence-v3.patch
  .orchestrator/patches/10151/0017-docs-add-November-Sprint-1-progress-report.patch
  .orchestrator/patches/10151/0018-docs-phase3-confirm-Phase-3-completion-and-Green-Tra.patch
  .orchestrator/patches/10151/0019-docs-project-update-PROJECT_SUMMARY.md-for-Phase-3-c.patch
  .orchestrator/patches/10151/0020-feat-sprint1-implement-SOAR-v1.3-graph-aware-playboo.patch
  .orchestrator/patches/10151/0021-docs-phase3-finalize-all-changes-for-Phase-3-complet.patch
  .orchestrator/patches/10151/0022-docs-November-Sprint-1-FINAL-100-COMPLETE.patch
  .orchestrator/patches/10151/0023-docs-phase3-add-final-completion-status-JSON-for-Cog.patch
  .orchestrator/patches/10151/0024-docs-phase3-finalize-all-changes-for-Phase-3-complet.patch
  .orchestrator/patches/10151/0025-ci-restore-green-baseline-add-core-security-light-ch.patch
  .orchestrator/patches/10151/0026-docs-phase3-add-final-accomplishments-summary-for-Co.patch
  .orchestrator/patches/10151/0027-ci-add-workflow_dispatch-and-fix-helm-health-smoke.y.patch
  .orchestrator/patches/10151/0028-ci-simplify-workflows-for-debugging.patch
  .orchestrator/patches/10151/0029-ci-rename-workflows.patch
  .orchestrator/patches/10151/0030-chore-ci-retrigger.patch
  .orchestrator/patches/10151/0031-ci-add-workflow_dispatch-trigger.patch
  .orchestrator/patches/10151/0032-ci-restore-original-workflow-content.patch
  .orchestrator/patches/10151/0033-ci-add-lint-step.patch
  .orchestrator/patches/10151/0034-feat-sprint2-implement-Policy-Intelligence-v1-Invent.patch
  .orchestrator/patches/10151/0035-feat-sprint2-complete-SOAR-v1.4-Intel-v4-Observabili.patch
  .orchestrator/patches/10151/0036-docs-November-Sprint-2-COMPLETE-100-delivery-30-30-p.patch
  .orchestrator/patches/10151/0037-feat-add-IntelGraph-November-2025-release-artifacts.patch
  .orchestrator/patches/10151/0038-fix-update-CI-CD-workflow-and-add-GraphQL-entity-res.patch
  pr_orchestrator_prompt.md
Due: prettier --write

feat: add prahalad strategy prompt suite
  companyos/operating-modes.yaml
  october2025/companyos-switchboard/apps/web/src/components/Switchboard.tsx
Due: prettier --write

feat: orchestration: fast-lane, agent matrix, runbook auto-gen, CI, VS Code validation
  .github/workflows/maestro-fastlane.yml
  AGENTS.md
  MAESTRO_CONDUCTOR_GO_LIVE_RUNBOOK.md
  MAESTRO_DEPLOYMENT_REPORT.md
  MAESTRO_PRD_ADDENDA.md
  MAESTRO_PRD_IMPLEMENTATION_ANALYSIS.md
  MAESTRO_PRODUCTION_READINESS.md
  MAESTRO_V03_SPRINT_SUMMARY.md
  MAESTRO_v5-v10_IMPLEMENTATION_SUMMARY.md
  Makefile
  OPERATIONAL_READINESS_FRAMEWORK.md
  SUMMIT_MAESTRO_DELIVERY_PLAN.md
  deploy-hf.sh
  docs/specs/friction-alerts.md
  hf-space-docker/Dockerfile
  hf-space-docker/README.md
  hf-space-docker/app/main.py
  hf-space-docker/app/sample_graph.json
  hf-space-docker/requirements.txt
  hf-space-docs/README.md
  hf-space-docs/assets/app.jsx
  hf-space-docs/config.json
  hf-space-docs/index.html
  hf-space-static/README.md
  hf-space-static/assets/app.jsx
  hf-space-static/config.json
  hf-space-static/index.html
  intel_graph_maestro_conductor_system_prompt_v_2.md
  maestro-orchestration-api.yaml
  orchestration.yml
  schema.json
  scripts/generate_runbooks.py
Due: prettier --write

ci: add runbook auto-gen workflow
  .github/workflows/runbook-gen.yml
Due: prettier --write

docs: add Disclosure Pack checklist
  docs/disclosure_pack_checklist.md
Due: prettier --write

ci: add Grafana URL resolution to Maestro Fast-Lane workflow
  .github/workflows/maestro-fastlane.yml
Due: prettier --write

build: declare ESM module type and fix commitlint config
  commitlint.config.cjs
  package.json
Due: prettier --write

feat: add orchestrator fast-track router with feature flag
  .github/workflows/ci-green-baseline.yml
  .prbodies/orchestrator-fast-track.md
  config/orchestrator-router.fast-track.yaml
  feature-flags/ORCH_FAST_TRACK.md
  grafana/dashboards/llm-router-cost-slo.json
  scripts/grafana_import_dashboard.sh
Due: prettier --write

feat: orchestrator: polish pack (pre-commit, deps, OPA, tests, alerts, helm)
  commitlint.config.js
  grafana-vars.patch
  orchestrator-polish-pack/.github/dependabot.yml
  orchestrator-polish-pack/.github/workflows/metrics-alerts.yml
  orchestrator-polish-pack/.github/workflows/security-light.yml
  orchestrator-polish-pack/.pre-commit-config.yaml
  orchestrator-polish-pack/Makefile.additions
  orchestrator-polish-pack/helm/orchestrator/values.fast-track.yaml
  orchestrator-polish-pack/k8s/configmap-fast-track.yaml
  orchestrator-polish-pack/policy/router_guard.rego
  orchestrator-polish-pack/prometheus/orchestrator-alerts.yaml
  orchestrator-polish-pack/renovate.json
  orchestrator-polish-pack/tests/router.fast-track.test.ts
Due: prettier --write

feat: integrate OPA router authz and basic rate limit/circuit breaker
  services/api/src/app.ts
  services/api/src/middleware/opaRouterAuthz.ts
  services/api/src/middleware/rateLimit.ts
  services/api/src/utils/prometheus.ts
Due: none

fix: update setup_github_orchestration.sh for gh CLI compatibility
  scripts/setup_github_orchestration.sh
Due: none

fix: correct branch protection gh api call in setup script
  scripts/setup_github_orchestration.sh
Due: none

fix: make setup_github_orchestration.sh idempotent for PR creation
  scripts/setup_github_orchestration.sh
Due: none

feat: add install_precommit.sh script
  scripts/install_precommit.sh
Due: none

chore(pre-commit): make installer resilient (pipx run / python -m / venv fallback)
  scripts/install_precommit.sh
Due: none

fix: further correct branch protection gh api call in setup script
  scripts/setup_github_orchestration.sh
Due: none

fix: use jq for robust branch protection gh api call in setup script
  scripts/setup_github_orchestration.sh
Due: none

fix: simplify jq for robust branch protection gh api call in setup script
  scripts/setup_github_orchestration.sh
Due: none

fix: unset core.hooksPath before pre-commit install in setup script
  scripts/install_precommit.sh
Due: none

docs: enhance AGENTS.md with orchestration improvements
  AGENTS.md
Due: prettier --write

feat(P1): add SLO Alerts + Trace Exemplars for OPA decision latency
  docs/ALERTS_TRACE_EXEMPLARS_README.md
  observability/grafana/slo-core-dashboards-with-exemplars.json
  observability/prometheus/alertmanager.yml
  observability/prometheus/alerts/slo-alerts.yml
  scripts/test-alert-fire.sh
Due: prettier --write

docs: add comprehensive completion summary for October 2025 Master Plan
  OCTOBER_2025_COMPLETION_SUMMARY.md
Due: prettier --write

feat(P1): complete documentation pack for October 2025 delivery
  docs/PILOT_DEPLOYMENT_GUIDE.md
  docs/RELEASE_NOTES_2025.10.HALLOWEEN.md
  docs/THREAT_MODEL_DELTA_OCT2025.md
  docs/runbooks/CI_RELEASE_GATE_RUNBOOK.md
  docs/runbooks/SYNTHETICS_DASHBOARDS_RUNBOOK.md
Due: prettier --write

feat(P0): complete pilot SOW package with signed customer contract
  pilot/FEATURES_SOW_MAPPING.md
  pilot/PILOT_SOW_ACME_CORP_SIGNED.md
  pilot/PILOT_SOW_TEMPLATE.md
  pilot/VALUE_METRICS.md
Due: prettier --write

fix(ci): resolve CI failures - gitleaks, contract-tests, python deps
  .github/workflows/contract-tests.yml
  docs/PILOT_DEPLOYMENT_GUIDE.md
  docs/runbooks/SYNTHETICS_DASHBOARDS_RUNBOOK.md
  python/pyproject.toml
Due: prettier --write

feat(P1): implement Analyst Assist v0.2 with policy-aware UX
  backend/routes/policy-preview.js
  conductor-ui/frontend/src/components/analyst/AnalystAssist.tsx
  conductor-ui/frontend/src/components/analyst/ExplainabilityPanel.tsx
  conductor-ui/frontend/src/components/analyst/ExportRequest.tsx
  conductor-ui/frontend/src/components/analyst/QueryBuilder.tsx
  conductor-ui/frontend/src/components/ui/alert.tsx
  docs/ANALYST_ASSIST_V02_README.md
  tests/e2e/analyst-assist-demo.spec.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add October 2025 progress update - 9/15 tasks complete (60%)
  docs/OCTOBER_2025_PROGRESS_UPDATE.md
Due: prettier --write

feat(P1): implement IGAC/Provenance sign-off with policy bundle pinning
  governance/IGAC_SIGN_OFF_OCT2025.md
  governance/policy-bundle-manifest-2025.10.HALLOWEEN.json
  governance/policy-bundle-shas-2025.10.HALLOWEEN.txt
  scripts/governance/generate-policy-bundle-shas.sh
Due: prettier --write

feat(P1): implement Air-Gap Deploy v1 with offline bundle automation
  docs/AIR_GAP_DEPLOY_V1_README.md
  scripts/airgap/create-offline-bundle.sh
Due: prettier --write

docs: add final completion report for October 2025 Master Plan
  docs/OCTOBER_2025_COMPLETION_FINAL.md
Due: prettier --write
