Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: comprehensive enterprise-grade fixes and enhancements
  .github/workflows/comprehensive-ci.yml
  .tsbuildinfo
  apps/mobile-native/package.json
  client/tsconfig.tsbuildinfo
  packages/common-types/tsconfig.json
  packages/govbrief/tsconfig.json
  packages/graph-ai-core/tsconfig.json
  packages/ingest-wizard/tsconfig.json
  packages/jira-integration/tsconfig.json
  packages/maestro-cli/tsconfig.json
  packages/maestro-core/tsconfig.json
  packages/prov-ledger-sdk/tsconfig.json
  packages/rptc/tsconfig.json
  packages/sdk-ts/tsconfig.json
  packages/types/tsconfig.json
  scripts/fix-critical-issues.ts
  scripts/generate-test-suite.ts
  scripts/optimize-build.ts
Due: prettier --write

test(auth): add enterprise-grade comprehensive authentication test suite
  server/tests/AUTH_TESTING_GUIDE.md
  server/tests/integration/auth.integration.test.ts
  server/tests/middleware/auth.test.ts
  server/tests/security/auth.security.test.ts
  server/tests/utils/auth-test-helpers.ts
Due: prettier --write

docs: update implementation summary with TODO resolution details
  IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: add comprehensive delivery report
  COMPREHENSIVE_DELIVERY_REPORT.md
Due: prettier --write

feat(agentic-mesh): comprehensive distributed AI agent mesh evaluation system
  docker-compose.dev.yml
  services/agentic-mesh-evaluation/.github/workflows/ci.yml
  services/agentic-mesh-evaluation/Dockerfile
  services/agentic-mesh-evaluation/README.md
  services/agentic-mesh-evaluation/__tests__/coordinator.test.ts
  services/agentic-mesh-evaluation/grafana/dashboard.json
  services/agentic-mesh-evaluation/jest.config.js
  services/agentic-mesh-evaluation/k8s/deployment.yaml
  services/agentic-mesh-evaluation/package.json
  services/agentic-mesh-evaluation/src/api/resolvers.ts
  services/agentic-mesh-evaluation/src/api/schema.ts
  services/agentic-mesh-evaluation/src/coordinator/MeshCoordinator.ts
  services/agentic-mesh-evaluation/src/evaluation/EvaluationEngine.ts
  services/agentic-mesh-evaluation/src/fabric/CommunicationFabric.ts
  services/agentic-mesh-evaluation/src/index.ts
  services/agentic-mesh-evaluation/src/metrics/MetricsCollector.ts
  services/agentic-mesh-evaluation/src/registry/MeshRegistry.ts
  services/agentic-mesh-evaluation/src/types/mesh.ts
  services/agentic-mesh-evaluation/tsconfig.json
Due: prettier --write

fix(ai-wellbeing-predictors): fix ResourceAllocator logic and add tests
  packages/ai-wellbeing-predictors/src/ResourceAllocator.ts
  packages/ai-wellbeing-predictors/src/__tests__/WellbeingPredictor.test.ts
  packages/ai-wellbeing-predictors/tsconfig.json
  packages/ai-wellbeing-predictors/vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update build artifacts and lockfile
  .tsbuildinfo
  packages/ai-wellbeing-predictors/pnpm-lock.yaml
Due: none

fix: align analytics scheduled workers
  server/src/queues/processors/scheduledTasks.ts
Due: none

feat(platform): implement role-based theming and OAuth2/SAML foundation
  MASTER_IMPLEMENTATION_PLAN.md
  docs/features/role-based-theming.md
  server/db/migrations/postgres/2025-11-25_oauth2_saml_authentication.sql
  server/db/migrations/postgres/2025-11-25_role_based_theming.sql
  server/src/graphql/theming/resolvers.ts
  server/src/graphql/theming/schema.graphql
  server/src/services/theming/theme-service.ts
  server/src/services/theming/theme-types.ts
  web/src/components/settings/ThemeSettings.tsx
  web/src/theming/ThemeProvider.tsx
  web/src/theming/theme-queries.ts
Due: prettier --write

feat(geopolitical-analysis): add comprehensive geopolitical analysis system
  packages/geopolitical-analysis/README.md
  packages/geopolitical-analysis/jest.config.js
  packages/geopolitical-analysis/package.json
  packages/geopolitical-analysis/src/calculators/base.ts
  packages/geopolitical-analysis/src/calculators/food-security.ts
  packages/geopolitical-analysis/src/calculators/political-stability.ts
  packages/geopolitical-analysis/src/calculators/supply-chain.ts
  packages/geopolitical-analysis/src/index.ts
  packages/geopolitical-analysis/src/safeguards/compliance.ts
  packages/geopolitical-analysis/src/types/index.ts
  packages/geopolitical-analysis/src/utils/scoring.ts
  packages/geopolitical-analysis/tests/calculators.test.ts
  packages/geopolitical-analysis/tests/compliance.test.ts
  packages/geopolitical-analysis/tests/scoring.test.ts
  packages/geopolitical-analysis/tsconfig.json
  prompts/geopolitical/01-political-stability-analysis.md
  prompts/geopolitical/02-leadership-transition-risk.md
  prompts/geopolitical/03-food-security-risk.md
  prompts/geopolitical/04-supply-chain-vulnerability.md
  prompts/geopolitical/05-water-security-assessment.md
  prompts/geopolitical/06-alliance-stability-tracking.md
  prompts/geopolitical/07-economic-stability-monitoring.md
  prompts/geopolitical/08-military-capability-assessment.md
  prompts/geopolitical/09-sanctions-impact-analysis.md
  prompts/geopolitical/10-currency-sovereignty-tracking.md
  prompts/geopolitical/11-humanitarian-crisis-early-warning.md
  prompts/geopolitical/12-strategic-resource-dependency.md
  prompts/geopolitical/13-arctic-territorial-dynamics.md
  prompts/geopolitical/14-energy-security-analysis.md
  prompts/geopolitical/15-diaspora-influence-tracking.md
  prompts/geopolitical/16-nuclear-capability-monitoring.md
  prompts/geopolitical/17-power-transition-tracking.md
  prompts/geopolitical/18-scenario-modeling-framework.md
  prompts/geopolitical/19-climate-security-nexus.md
  prompts/geopolitical/20-cyber-sovereignty-dynamics.md
  prompts/geopolitical/21-regional-integration-dynamics.md
  prompts/geopolitical/README.md
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(admin-cli): add unified Admin & SRE CLI for IntelGraph platform
  tools/admin-cli/jest.config.js
  tools/admin-cli/package-lock.json
  tools/admin-cli/package.json
  tools/admin-cli/src/__tests__/api-client.test.ts
  tools/admin-cli/src/__tests__/audit.test.ts
  tools/admin-cli/src/__tests__/cli.test.ts
  tools/admin-cli/src/__tests__/config.test.ts
  tools/admin-cli/src/__tests__/confirm.test.ts
  tools/admin-cli/src/__tests__/logger.test.ts
  tools/admin-cli/src/__tests__/output.test.ts
  tools/admin-cli/src/cli.ts
  tools/admin-cli/src/commands/config.ts
  tools/admin-cli/src/commands/data.ts
  tools/admin-cli/src/commands/env.ts
  tools/admin-cli/src/commands/graph.ts
  tools/admin-cli/src/commands/index.ts
  tools/admin-cli/src/commands/security.ts
  tools/admin-cli/src/commands/tenant.ts
  tools/admin-cli/src/types/index.ts
  tools/admin-cli/src/utils/api-client.ts
  tools/admin-cli/src/utils/audit.ts
  tools/admin-cli/src/utils/config.ts
  tools/admin-cli/src/utils/confirm.ts
  tools/admin-cli/src/utils/index.ts
  tools/admin-cli/src/utils/logger.ts
  tools/admin-cli/src/utils/output.ts
  tools/admin-cli/tsconfig.json
Due: prettier --write

Fix P1: Add repo context for gh workflow run command
  .github/workflows/run_pr_merge.yml
Due: prettier --write

feat(audit): implement immutable audit black box system
  services/audit-blackbox-service/README.md
  services/audit-blackbox-service/jest.config.cjs
  services/audit-blackbox-service/package.json
  services/audit-blackbox-service/src/__tests__/hash-chain.test.ts
  services/audit-blackbox-service/src/__tests__/integration.test.ts
  services/audit-blackbox-service/src/api/audit-api.ts
  services/audit-blackbox-service/src/core/event-buffer.ts
  services/audit-blackbox-service/src/core/types.ts
  services/audit-blackbox-service/src/index.ts
  services/audit-blackbox-service/src/redaction/redaction-service.ts
  services/audit-blackbox-service/src/store/immutable-store.ts
  services/audit-blackbox-service/src/verification/integrity-verifier.ts
  services/audit-blackbox-service/tsconfig.json
  services/logging-pipeline/jest.config.cjs
  services/logging-pipeline/package.json
  services/logging-pipeline/src/__tests__/service-adapter.test.ts
  services/logging-pipeline/src/adapters/service-adapter.ts
  services/logging-pipeline/src/index.ts
  services/logging-pipeline/src/sink/audit-sink.ts
  services/logging-pipeline/tsconfig.json
Due: prettier --write

feat(security): implement zero-trust network policies and policy-as-code
  zero-trust/README.md
  zero-trust/RUNBOOKS/mtls-failures.md
  zero-trust/RUNBOOKS/policy-denials.md
  zero-trust/config/communication-matrix.yaml
  zero-trust/config/service-registry.yaml
  zero-trust/config/trust-domain.yaml
  zero-trust/identity/spire/agent.yaml
  zero-trust/identity/spire/entries/core-services.yaml
  zero-trust/identity/spire/server.yaml
  zero-trust/observability/alerts/zero-trust-alerts.yaml
  zero-trust/observability/dashboards/zero-trust-dashboard.json
  zero-trust/policies/istio/authorization-policy.yaml
  zero-trust/policies/istio/destination-rules.yaml
  zero-trust/policies/istio/peer-authentication.yaml
  zero-trust/policies/network/base/default-deny.yaml
  zero-trust/policies/network/services/ai-services.yaml
  zero-trust/policies/network/services/api-gateway.yaml
  zero-trust/policies/network/services/api-server.yaml
  zero-trust/policies/network/services/databases.yaml
  zero-trust/policies/network/services/intelligence-services.yaml
  zero-trust/policies/opa/service-authz.rego
  zero-trust/policies/opa/tests/service-authz_test.rego
  zero-trust/tests/chaos/lateral-movement.yaml
  zero-trust/tests/integration/connectivity_test.go
  zero-trust/tools/policy-diff.sh
  zero-trust/tools/policy-lint.sh
  zero-trust/tools/validate-matrix.ts
Due: prettier --write

feat(sandbox): add sandbox tenant profile and data lab services
  deploy/opa/policies/sandbox.rego
  deploy/opa/policies/sandbox_test.rego
  services/datalab-service/README.md
  services/datalab-service/package.json
  services/datalab-service/src/__tests__/DataAnonymizer.test.ts
  services/datalab-service/src/__tests__/SyntheticDataGenerator.test.ts
  services/datalab-service/src/__tests__/integration/DataIsolation.test.ts
  services/datalab-service/src/anonymization/DataAnonymizer.ts
  services/datalab-service/src/api/DataLabAPI.ts
  services/datalab-service/src/data/DataCloneService.ts
  services/datalab-service/src/index.ts
  services/datalab-service/src/promotion/PromotionWorkflow.ts
  services/datalab-service/src/synthetic/SyntheticDataGenerator.ts
  services/datalab-service/src/types/index.ts
  services/datalab-service/src/utils/logger.ts
  services/datalab-service/tsconfig.json
  services/datalab-service/vitest.config.ts
  services/sandbox-tenant-profile/README.md
  services/sandbox-tenant-profile/package.json
  services/sandbox-tenant-profile/src/__tests__/SandboxConfigManager.test.ts
  services/sandbox-tenant-profile/src/__tests__/SandboxEnforcer.test.ts
  services/sandbox-tenant-profile/src/__tests__/SandboxValidator.test.ts
  services/sandbox-tenant-profile/src/config/SandboxConfigManager.ts
  services/sandbox-tenant-profile/src/enforcement/SandboxEnforcer.ts
  services/sandbox-tenant-profile/src/index.ts
  services/sandbox-tenant-profile/src/types/index.ts
  services/sandbox-tenant-profile/src/utils/logger.ts
  services/sandbox-tenant-profile/src/validation/SandboxValidator.ts
  services/sandbox-tenant-profile/tsconfig.json
  services/sandbox-tenant-profile/vitest.config.ts
Due: prettier --write

fix: restore low-risk auto-apply for adaptations
  services/regulatory-compliance-agents/src/services/ComplianceOrchestrator.ts
Due: none

fix: ensure campaigns record valid dates
  packages/foreign-influence/src/index.ts
Due: eslint --fix --max-warnings=0 --cache

Fix P1: Add repo context for gh workflow run command (#12297)
  .github/workflows/run_pr_merge.yml
Due: prettier --write

feat(observability): add SLO exporter with GraphQL metrics
  .github/workflows/slo-compliance.yml
  apps/slo-exporter/Dockerfile
  apps/slo-exporter/package.json
  apps/slo-exporter/src/__tests__/index.test.ts
  apps/slo-exporter/src/index.ts
  apps/slo-exporter/tsconfig.json
  observability/grafana/dashboards/graphql-slo.json
  observability/prometheus/rules/slo-alerts.yml
  scripts/ci/generate-slo-badge.mjs
Due: prettier --write

fix: correct resource allocator typings and imports
  server/src/lib/resources/resource-allocator.ts
  server/src/routes/resources.ts
Due: none

feat: implement comprehensive platform improvements from technical review
  MERGE_READY_VERIFICATION_CHECKLIST.md
  server/src/middleware/__tests__/security.test.ts
  server/src/monitoring/EnhancedObservability.ts
  server/src/security/SecurityHardeningConfig.ts
  tests/integration/third-party-integrations.test.ts
Due: prettier --write

feat(auth): Implement comprehensive user authentication system
  server/src/app.ts
  server/src/db/migrations/postgres/011_auth_security_tables.sql
  server/src/graphql/resolvers/auth.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/resolvers/user.ts
  server/src/graphql/schema.ts
  server/src/middleware/authRateLimit.ts
  server/src/routes/authRoutes.ts
  server/src/services/PasswordResetService.ts
  server/src/services/__tests__/auth.integration.test.ts
Due: none

chore: Update TypeScript build cache files
  .tsbuildinfo
  client/tsconfig.tsbuildinfo
Due: none

Update torch version to 2.6.0 in requirements
  services/vision-api/requirements.txt
Due: none

Update paddlepaddle version to 2.6.0
  server/requirements.txt
Due: none

docs(agents): add platform-optimized AI agent superprompts
  docs/agents/README.md
  docs/agents/variants/README.md
  docs/agents/variants/ci-aware-superprompt.md
  docs/agents/variants/claude-code-superprompt.md
  docs/agents/variants/codex-superprompt.md
  docs/agents/variants/jules-gemini-superprompt.md
  docs/agents/variants/summit-ig-superprompt.md
  docs/agents/variants/warp-cursor-superprompt.md
Due: prettier --write

feat: add reference workflows and deploy tests
  ga-graphai/.github/workflows/post-deploy-tests.yml
  ga-graphai/docs/hello-workflows.md
  ga-graphai/package.json
  ga-graphai/packages/meta-orchestrator/package.json
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/tests/referenceWorkflows.test.ts
Due: prettier --write

🤖 Add agentic task orchestrator workflow for automated PR generation
  .github/workflows/agentic-task-orchestrator.yml
Due: prettier --write

📋 Add comprehensive agentic execution guide with multi-provider orchestration
  AGENTIC_EXECUTION_GUIDE.md
Due: prettier --write

🤖 Add Task 1 prompt: Fix Jest ESM configuration
  .agentic-prompts/task-11847-fix-jest-esm.md
Due: prettier --write

fix: harden companyos service scaffolding
  companyos/scripts/companyos-cli.mjs
  docs/companyos-new-service.md
  package.json
Due: prettier --write

docs: deepen wave18 OS module specs
  docs/wave18/operating-system-modules.md
Due: prettier --write

docs: add security prompts 11-20
  docs/security/security-high-value-prompts.md
Due: prettier --write

feat: add reusable companyos service templates
  .github/workflows/companyos-api.yml
  .github/workflows/companyos-service-template.yml
  companyos/scripts/check-canary-slo.mjs
  companyos/scripts/scaffold-service.mjs
  companyos/services/companyos-api/service.yaml
  observability/prometheus/generated/companyos-api-alert-rules.yaml
  observability/prometheus/generated/companyos-api-recording-rules.yaml
  observability/prometheus/templates/svc-alert-rules.tpl.yaml
  observability/prometheus/templates/svc-recording-rules.tpl.yaml
  observability/slo/generated/companyos-api.slo.yaml
  observability/slo/templates/default.slo.tpl.yaml
Due: prettier --write

docs: add wave17 codex campaign plan
  docs/wave17_codex_campaign_plan.md
Due: prettier --write

feat: Add Claude Code Third-Order Perfection Mode prompt template
  .agentic-prompts/THIRD_ORDER_PERFECTION_MODE.md
Due: prettier --write

docs: Add Wave 17 codex campaign plan (#12313)
  docs/wave17_codex_campaign_plan.md
Due: prettier --write

chore(security): audit and tighten multi-tenant isolation
  docs/TENANCY_ISOLATION.md
  server/src/graphql/resolvers/core.ts
  server/src/monitoring/metrics.js
  server/src/repos/EntityRepo.ts
  server/src/repos/InvestigationRepo.ts
  server/src/security/crypto/services.ts
  server/src/services/CopilotNLQueryService.ts
  server/tests/tenancy/isolation.test.ts
Due: prettier --write

feat(prompts): Add enterprise AI agent prompt bundle
  prompts/README.md
  prompts/__tests__/prompt-integrity.test.ts
  prompts/capability-matrix.md
  prompts/ci-cd-enforcement.md
  prompts/claude-code.md
  prompts/codex.md
  prompts/cursor-warp.md
  prompts/enterprise-4th-order.md
  prompts/jules-gemini.md
  prompts/meta-router.md
  prompts/summit-platform.md
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
