Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add AMES/PEG tactical plan
  docs/architecture/ames-peg-tactical-plan.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add PEGra/BES module brief
  agents/examples/PEGRA_BES_MODULE_TASK.json
  docs/briefs/pegra-bes-module.md
  docs/roadmap/STATUS.json
  prompts/briefs/pegra-bes-module@v1.md
  prompts/registry.yaml
Due: prettier --write

docs: add PEGra/BES standards and runbook
  docs/ops/runbooks/procurement-espionage-pegra-bes.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/procurement-espionage-pegra-bes.md
  docs/standards/procurement-espionage-pegra-bes.md
Due: prettier --write

chore: remediate python advisory pins
  adversarial-misinfo-defense-platform/requirements.txt
  apps/ml-engine/src/python/requirements.txt
  copilot/requirements.txt
  predictive_threat_suite/requirements.txt
  server/data-pipelines/requirements.txt
  server/services/osint_service/requirements.txt
  services/deepfake-detection-service/requirements.txt
  services/insight-ai/requirements.txt
  services/ml-serving/requirements.txt
  services/vision-api/requirements.txt
  summit-cog-war/requirements-optional-graph.txt
  summit-cog-war/requirements.txt
  tools/deps-drift/__tests__/fixtures/requirements.txt
Due: none

chore: pin python packages and isolate ipqualityscore
  adversarial-misinfo-defense-platform/requirements.txt
  copilot/requirements.txt
  server/data-pipelines/requirements.txt
  server/services/osint_service/requirements-optional.txt
  server/services/osint_service/requirements.txt
  services/deepfake-detection-service/requirements.txt
Due: none

chore: pin remaining python deps
  adversarial-misinfo-defense-platform/requirements.txt
  server/data-pipelines/requirements.txt
  server/services/osint_service/requirements.txt
Due: none

fix(ci): repair malformed YAML in workflow files
  .github/workflows/ci-core.yml
  .github/workflows/pr-gates.yml
  .github/workflows/server-typecheck.yml
  .github/workflows/verify-claims.yml
Due: prettier --write

fix(ci): add missing Build & Package required check
  .github/workflows/ci-core.yml
Due: prettier --write

fix(ci): repair malformed YAML in 35 additional workflow files
  .github/workflows/_reusable-build.yml
  .github/workflows/_reusable-ga-readiness.yml
  .github/workflows/_reusable-security-compliance.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/a11y-keyboard-smoke.yml
  .github/workflows/agent-guardrails.yml
  .github/workflows/agentic-plan-gate.yml
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-preflight.yml
  .github/workflows/ci-runner-drift.yml
  .github/workflows/ci-sgf.yml
  .github/workflows/ci-workflow-diff.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/eval-skills.yml
  .github/workflows/evidence-validate.yml
  .github/workflows/ga-evidence-attest.yml
  .github/workflows/ga-evidence-pack.yml
  .github/workflows/ga-evidence.yml
  .github/workflows/go-live-gate.yml
  .github/workflows/go-live-release.yml
  .github/workflows/graph-guardrail-fuzz.yml
  .github/workflows/pr-conflict-forecast.yml
  .github/workflows/prod-simulation.yml
  .github/workflows/release-integrity.yml
  .github/workflows/release-rc.yml
  .github/workflows/security-regressions.yml
  .github/workflows/security-supplychain.yml
  .github/workflows/security-tests.yml
  .github/workflows/semver-label.yml
  .github/workflows/slsa-provenance.yml
  .github/workflows/smoke-gate.yml
  .github/workflows/soc-controls.yml
  .github/workflows/supply-chain-attest.yml
Due: prettier --write

chore(ci): use ubuntu-latest runners for fork compatibility
  .github/workflows/ci-core.yml
Due: prettier --write

docs: add Feb 5 2026 daily intel/cyber brief
  briefs/2026-02-05-daily-intel-cyber-brief.md
  docs/roadmap/STATUS.json
Due: prettier --write

chore(graphql): finalize hardening of plugins and apollo v5 server
  server/src/graphql/apollo-v5-server.ts
  server/src/graphql/dataloaders/index.ts
  server/src/graphql/index.ts
  server/src/graphql/plugins/apqPlugin.ts
  server/src/graphql/plugins/auditLogger.ts
  server/src/graphql/plugins/circuitBreakerPlugin.ts
  server/src/graphql/plugins/deprecation-plugin.ts
  server/src/graphql/plugins/dlpPlugin.ts
  server/src/graphql/plugins/graphqlCostPlugin.ts
  server/src/graphql/plugins/httpStatusCodePlugin.ts
  server/src/graphql/plugins/pbac.ts
  server/src/graphql/plugins/performanceMonitoringPlugin.ts
  server/src/graphql/plugins/persistedQueries.ts
  server/src/graphql/plugins/queryComplexityPlugin.ts
  server/src/graphql/plugins/rateLimitAndCache.ts
  server/src/graphql/plugins/requireBudgetPlugin.ts
  server/src/graphql/resolvers/cases.ts
  server/src/graphql/resolvers/legacy.ts
Due: none

feat: add vfs lane-1 scaffolding
  .github/policies/vfs-policy.json
  .github/scripts/verify-evidence.ts
  agent-contract.json
  agents/examples/VFS_LANE1_20260206.json
  docs/architecture/vfs.md
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/evidence.schemas/index.schema.json
  docs/ga/evidence.schemas/metrics.schema.json
  docs/ga/evidence.schemas/report.schema.json
  docs/ga/evidence.schemas/stamp.schema.json
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  docs/security/vfs-threat-model.md
  evidence/index.json
  evidence/metrics.json
  evidence/report.json
  evidence/stamp.json
  prompts/ops/vfs-lane1@v1.md
  prompts/registry.yaml
  reports/a11y-keyboard/README.md
  required_checks.todo.md
  src/agents/vfs/backend.ts
  src/agents/vfs/backends/local.ts
  src/agents/vfs/backends/memory.ts
  src/agents/vfs/router.ts
  src/agents/vfs/tools.ts
  src/agents/vfs/types.ts
  tests/agents/vfs/policy.test.ts
  tests/agents/vfs/router.test.ts
Due: prettier --write

chore: add evidence schema validation
  .github/scripts/verify-evidence.mjs
  .github/workflows/ci-verify.yml
  docs/governance/evidence/README.md
  docs/governance/evidence/schemas/metrics.schema.json
  docs/governance/evidence/schemas/report.schema.json
  docs/governance/evidence/schemas/stamp.schema.json
  docs/roadmap/STATUS.json
  scripts/ci/__tests__/fixtures/evidence-validator/bad-timestamp/evidence/index.json
  scripts/ci/__tests__/fixtures/evidence-validator/bad-timestamp/evidence/metrics.json
  scripts/ci/__tests__/fixtures/evidence-validator/bad-timestamp/evidence/report.json
  scripts/ci/__tests__/fixtures/evidence-validator/bad-timestamp/evidence/stamp.json
  scripts/ci/__tests__/fixtures/evidence-validator/valid/evidence/index.json
  scripts/ci/__tests__/fixtures/evidence-validator/valid/evidence/metrics.json
  scripts/ci/__tests__/fixtures/evidence-validator/valid/evidence/report.json
  scripts/ci/__tests__/fixtures/evidence-validator/valid/evidence/stamp.json
  scripts/ci/__tests__/verify_evidence_validator.test.mjs
Due: prettier --write

chore: pin pillow/prefect/transformers
  adversarial-misinfo-defense-platform/requirements.txt
  server/data-pipelines/requirements.txt
  server/services/osint_service/requirements.txt
Due: none

fix(ci): repair malformed YAML in 39 workflow files and add Build & Package job
  .github/workflows/_reusable-build.yml
  .github/workflows/_reusable-ga-readiness.yml
  .github/workflows/_reusable-security-compliance.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/a11y-keyboard-smoke.yml
  .github/workflows/agent-guardrails.yml
  .github/workflows/agentic-plan-gate.yml
  .github/workflows/ci-core.yml
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-preflight.yml
  .github/workflows/ci-runner-drift.yml
  .github/workflows/ci-sgf.yml
  .github/workflows/ci-workflow-diff.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/eval-skills.yml
  .github/workflows/evidence-validate.yml
  .github/workflows/ga-evidence-attest.yml
  .github/workflows/ga-evidence-pack.yml
  .github/workflows/ga-evidence.yml
  .github/workflows/go-live-gate.yml
  .github/workflows/go-live-release.yml
  .github/workflows/graph-guardrail-fuzz.yml
  .github/workflows/pr-conflict-forecast.yml
  .github/workflows/pr-gates.yml
  .github/workflows/prod-simulation.yml
  .github/workflows/release-integrity.yml
  .github/workflows/release-rc.yml
  .github/workflows/security-regressions.yml
  .github/workflows/security-supplychain.yml
  .github/workflows/security-tests.yml
  .github/workflows/semver-label.yml
  .github/workflows/server-typecheck.yml
  .github/workflows/slsa-provenance.yml
  .github/workflows/smoke-gate.yml
  .github/workflows/soc-controls.yml
  .github/workflows/supply-chain-attest.yml
  .github/workflows/verify-claims.yml
Due: prettier --write

fix(security): [CRITICAL] Fix SQL injection in PgVectorSync
  cli/__tests__/pgvector-security.test.ts
  cli/src/lib/pgvector-sync.ts
Due: none

fix: pin entities@^4.5.0 to restore parse5 / Jest compatibility
  docs/roadmap/STATUS.json
  package.json
  packages/decision-ledger/decision_ledger.json
  pnpm-lock.yaml
  prompts/maintenance/jest-entities-override@v1.md
  prompts/registry.yaml
Due: prettier --write

feat(sovereign-ai): integrate sovereign ai mandates and bump version to 4.1.9
  package.json
  packages/provenance/src/mapping.ts
  policy/supply_chain.rego
  policy/supply_chain_test.rego
  scripts/ci/generate-opa-input.cjs
  server/package.json
  server/src/services/StreamingIngestionService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: add connector-sdk dependency to server package
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

feat(trust): implement high-risk operations framework and trust intelligence checks
  policy/high_risk/operations.rego
  policy/high_risk/operations_test.rego
  server/src/services/HighRiskOperationService.ts
  server/src/services/TrustIntelligenceService.ts
Due: none

docs: update quality gates status and add known test issues section
  docs/GO_LIVE_READINESS.md
Due: prettier --write

fix(osint): address PR review comments
  agents/osint/reasoning.yaml
  scripts/ci/verify-osint-evidence.mjs
Due: none

fix(build): enable TypeScript build to succeed with warnings
  docs/ga/MERGE_TRAIN_STATUS.md
  server/package.json
  server/src/lib/queryParams.ts
  server/tsconfig.build.json
Due: prettier --write

fix(security): resolve critical Dependabot vulnerabilities
  pnpm-lock.yaml
  sdk/typescript/package.json
Due: prettier --write

fix(security): resolve high-severity Dependabot vulnerabilities
  deepagent-mvp/package.json
  gateway/package.json
  package.json
  packages/rate-limiter/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): remove stale package lockfiles with vm2 vulnerabilities
  packages/plugin-system/pnpm-lock.yaml
  packages/smart-contracts/pnpm-lock.yaml
Due: none

refactor(server): remove duplicate middleware and add security hardening
  server/src/middleware/apiVersion.ts
  server/src/middleware/audit-first.ts
  server/src/middleware/correlationId.ts
  server/src/middleware/rateLimiting.ts
  server/src/middleware/requestId.ts
  server/src/middleware/sanitize.ts
  server/src/validation/MutationValidators.ts
Due: none

chore: pin librosa/torch/dagster
  adversarial-misinfo-defense-platform/requirements.txt
  server/data-pipelines/requirements.txt
  server/services/osint_service/requirements.txt
Due: none

feat(security): sovereign operation policies and argon2 migration
  packages/provenance/src/index.ts
  policy/supply_chain.rego
  server/src/services/AuthService.ts
  server/src/services/securityService.ts
Due: eslint --fix --max-warnings=0 --cache

fix(security): add overrides for fastify and fast-xml-parser vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): add overrides for tar, hono, and multer vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(ga): add workspace setup requirements for full typecheck
  docs/ga/SALVAGE_FROM_CLOSED_PRS.md
  docs/ga/WORKSPACE_SETUP_REQUIREMENTS.md
Due: prettier --write

chore: add evidence verify scaffolding
  .github/scripts/fixtures/invalid-evidence-index.json
  .github/scripts/fixtures/invalid-evidence-item.json
  .github/scripts/verify-evidence-fixtures.mjs
  .github/scripts/verify-evidence.mjs
  .github/workflows/ci-verify-evidence.yml
  docs/roadmap/STATUS.json
  prompts/governance/agentic-vision-evidence-scaffold@v1.md
  prompts/registry.yaml
  required_checks.todo.md
Due: prettier --write

chore: pin soundfile/sentencepiece/neo4j
  adversarial-misinfo-defense-platform/requirements.txt
  server/data-pipelines/requirements.txt
  server/services/osint_service/requirements.txt
Due: none

chore: pin pandas and psycopg2-binary
  adversarial-misinfo-defense-platform/requirements.txt
  server/data-pipelines/requirements.txt
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
