Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add zero trust security controls (#1616)
  idp/oidc-config.md
  idp/scim-profile.md
  policies/opa/tenant_role_abac.rego
  policies/opa/tests/tenant_role_abac_test.rego
  security/crypto-plan.md
  security/pii-catalog.md
  tests/security/misuse/securityMisuse.spec.ts
Due: prettier --write

feat: add temporal access token service (#1608)
  services/tats/.gitignore
  services/tats/BENCHMARK.md
  services/tats/Cargo.toml
  services/tats/README.md
  services/tats/benches/perf.rs
  services/tats/clients/python/__init__.py
  services/tats/clients/python/tats_client.py
  services/tats/clients/ts/package.json
  services/tats/clients/ts/src/index.ts
  services/tats/clients/ts/tsconfig.json
  services/tats/src/attenuation.rs
  services/tats/src/config.rs
  services/tats/src/lib.rs
  services/tats/src/main.rs
  services/tats/src/replay.rs
  services/tats/src/server.rs
  services/tats/src/token.rs
  services/tats/src/verifier.rs
Due: prettier --write

feat: add schema evolution simulator tool (#1607)
  .github/workflows/ses.yml
  tools/ses/README.md
  tools/ses/fixtures/changes.json
  tools/ses/fixtures/config.json
  tools/ses/fixtures/data.json
  tools/ses/fixtures/schema.json
  tools/ses/fixtures/telemetry.json
  tools/ses/package.json
  tools/ses/src/analyzer.ts
  tools/ses/src/index.ts
  tools/ses/src/loader.ts
  tools/ses/src/migrator.ts
  tools/ses/src/rollout.ts
  tools/ses/src/simulator.ts
  tools/ses/src/types.ts
  tools/ses/tests/simulator.test.ts
  tools/ses/tsconfig.json
  tools/ses/vitest.config.ts
Due: prettier --write

docs: add influence network detection framework blueprint (#1605)
  docs/INFLUENCE_NETWORK_DETECTION_FRAMEWORK.md
Due: prettier --write

feat: add fairness constrained trainer toolkit (#1600)
  tools/fct/README.md
  tools/fct/__init__.py
  tools/fct/lagrangian.py
  tools/fct/metrics.py
  tools/fct/pareto.py
  tools/fct/policy.py
  tools/fct/postprocessing.py
Due: prettier --write

feat(mobile): implement comprehensive mobile app optimization
  apps/mobile-native/OPTIMIZATION_SUMMARY.md
  apps/mobile-native/PERFORMANCE.md
  apps/mobile-native/metro.config.js
  apps/mobile-native/package.json
  apps/mobile-native/scripts/analyze-bundle.js
  apps/mobile-native/src/hooks/usePerformance.ts
  apps/mobile-native/src/services/EnhancedOfflineSync.ts
  apps/mobile-native/src/services/PerformanceMonitor.ts
  apps/mobile-native/src/services/StartupOptimizer.ts
  apps/mobile-native/src/stores/appStore.ts
  apps/mobile-native/src/stores/syncStore.ts
  apps/mobile-native/src/utils/reactQueryPersistence.ts
Due: prettier --write

feat: design and implement comprehensive service mesh architecture
  RUNBOOKS/service-mesh-operations.md
  docs/architecture/service-mesh-architecture.md
  docs/architecture/service-mesh-best-practices.md
  docs/architecture/service-mesh-implementation-summary.md
  infra/service-mesh/circuit-breakers.yaml
  infra/service-mesh/distributed-tracing.yaml
  infra/service-mesh/load-balancing.yaml
  infra/service-mesh/retry-policies.yaml
Due: prettier --write

feat: add comprehensive data pipeline and ETL infrastructure
  docs/data-pipelines/DATA_PIPELINE_GUIDE.md
  docs/data-pipelines/OPERATIONS_RUNBOOK.md
  packages/etl-framework/src/__tests__/integration/pipeline.integration.test.ts
  packages/etl-framework/src/cdc/CDCEngine.ts
  packages/etl-framework/src/incremental/IncrementalLoader.ts
  packages/etl-framework/src/index.ts
  packages/etl-framework/src/lineage/ProvenanceIntegration.ts
  packages/etl-framework/src/quality/DataQualityMonitor.ts
  services/etl-service/README.md
  services/etl-service/package.json
  services/etl-service/src/index.ts
  services/etl-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: optimize container strategy and orchestration
  .dockerignore
  .github/workflows/container-security.yml
  .hadolint.yaml
  Dockerfile.optimized
  docs/CONTAINER_BEST_PRACTICES.md
  docs/CONTAINER_TROUBLESHOOTING.md
  k8s/autoscaling/hpa-custom-metrics.yaml
  k8s/base/enhanced-health-checks.yaml
  k8s/base/pdb-resource-quotas.yaml
Due: prettier --write

feat: implement comprehensive cost optimization and resource efficiency
  docs/COST_OPTIMIZATION_GUIDE.md
  k8s/autoscaling/comprehensive-autoscaling.yaml
  k8s/cost-optimization/spot-instances.yaml
  observability/alerts/cost-alerts.yml
  observability/dashboards/cost-optimization-dashboard.json
  server/src/db/Neo4jConnectionManager.ts
  server/src/middleware/TieredRateLimitMiddleware.ts
  server/src/services/CostAnomalyDetectionService.ts
  server/src/services/ResourceTaggingService.ts
Due: prettier --write

fix: resolve all TypeScript and test issues for ER service
  er-service/jest.config.js
  er-service/src/core/features.ts
  er-service/src/index.ts
  er-service/src/scoring/scorer.ts
  er-service/src/types.ts
  er-service/tests/benchmarks/performance.test.ts
  er-service/tests/integration/api.test.ts
  er-service/tests/integration/er-engine.test.ts
  er-service/tests/unit/features.test.ts
  er-service/tests/unit/scoring.test.ts
Due: none

fix: resolve TypeScript type errors in data governance and quality service
  packages/data-governance/src/policies/policy-engine.ts
  services/data-quality-service/src/server.ts
Due: eslint --fix --max-warnings=0 --cache

feat: implement comprehensive E2E testing framework with parallelization
  .github/workflows/ci.yml
  docs/E2E_TESTING.md
  server/tests/e2e/auth.setup.ts
  tests/e2e/README.md
  tests/e2e/dashboard-comprehensive.spec.ts
  tests/e2e/fixtures/index.ts
  tests/e2e/playwright.config.ts
  tests/e2e/utils/auth-helpers.ts
  tests/e2e/visual-regression.spec.ts
Due: prettier --write

feat: add PR dashboard analysis and visualization tools
  .gitignore
  scripts/PR_DASHBOARD_README.md
  scripts/generate-pr-dashboard-html.ts
  scripts/pr-dashboard.ts
  scripts/run-pr-dashboard.sh
Due: prettier --write

chore: update TypeScript build cache files
  .tsbuildinfo
  client/tsconfig.tsbuildinfo
Due: none

ci: optimize CI/CD pipeline for 30-40% faster execution
  .github/actions/setup-pnpm/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/server-ci.yml
  CI_CD_AUDIT_REPORT.md
  CI_CD_IMPLEMENTATION_GUIDE.md
  CI_CD_IMPROVEMENTS_SUMMARY.md
  turbo.json
Due: prettier --write

feat: add comprehensive API rate limiting and throttling system
  .env.example
  RATE_LIMITING_IMPLEMENTATION_SUMMARY.md
  docs/API_RATE_LIMITING.md
  docs/rate-limiting/IMPLEMENTATION_GUIDE.md
  packages/rate-limiter/README.md
  packages/rate-limiter/jest.config.cjs
  packages/rate-limiter/package.json
  packages/rate-limiter/src/__tests__/sliding-window.test.ts
  packages/rate-limiter/src/__tests__/token-bucket.test.ts
  packages/rate-limiter/src/admin/routes.ts
  packages/rate-limiter/src/algorithms/sliding-window.ts
  packages/rate-limiter/src/algorithms/token-bucket.ts
  packages/rate-limiter/src/config.ts
  packages/rate-limiter/src/index.ts
  packages/rate-limiter/src/middleware/express.ts
  packages/rate-limiter/src/middleware/graphql.ts
  packages/rate-limiter/src/monitoring/metrics.ts
  packages/rate-limiter/src/rate-limiter.ts
  packages/rate-limiter/src/store/redis-store.ts
  packages/rate-limiter/src/types.ts
  packages/rate-limiter/tsconfig.json
  services/api/src/middleware/rateLimit.new.ts
  services/api/src/routes/admin.rateLimit.new.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore(tooling): setup automated code style enforcement
  .eslintignore
  .husky/pre-commit
  .prettierignore
  .prettierrc
  CODE_STYLE_SETUP.md
  docs/CODE_STYLE_GUIDE.md
  eslint.config.js
  package.json
  ruff.toml
Due: prettier --write

fix(time-series): add packages to tsconfig.build.json and fix type dependencies
  packages/anomaly-detection/package.json
  packages/anomaly-detection/tsconfig.json
  packages/forecasting/package.json
  packages/forecasting/tsconfig.json
  packages/seasonal-decomposition/package.json
  packages/seasonal-decomposition/tsconfig.json
  packages/time-series/package.json
  packages/time-series/tsconfig.json
  packages/ts-feature-engineering/package.json
  packages/ts-feature-engineering/tsconfig.json
  services/forecasting-service/package.json
  services/forecasting-service/tsconfig.json
  services/time-series-service/package.json
  services/time-series-service/tsconfig.json
  tsconfig.build.json
Due: prettier --write

feat: implement comprehensive backup and disaster recovery system
  docker-compose.pitr.yml
  docs/disaster-recovery/COMPREHENSIVE_DR_SYSTEM.md
  k8s/postgres-pitr/base-backup-cronjob.yaml
  ops/observability/grafana/dashboards/backup-rto-rpo-monitoring.json
  services/backup-encryption/encrypt-backup.sh
  services/disaster-recovery/src/orchestrator/RecoveryOrchestrator.ts
  services/file-storage-backup/file-backup.sh
  services/neo4j-backup/incremental-backup.sh
  services/neo4j-backup/restore-incremental.sh
  services/postgres-pitr/Dockerfile
  services/postgres-pitr/config/postgresql-pitr.conf
  services/postgres-pitr/config/walg.json
  services/postgres-pitr/scripts/base-backup.sh
  services/postgres-pitr/scripts/wal-archive.sh
  services/postgres-pitr/scripts/wal-restore.sh
Due: prettier --write

feat: implement production-ready WebSocket infrastructure
  docker-compose.dev.yml
  packages/websocket-client/package.json
  packages/websocket-client/src/index.ts
  packages/websocket-client/tsconfig.json
  services/websocket-server/.env.example
  services/websocket-server/Dockerfile
  services/websocket-server/README.md
  services/websocket-server/docker-compose.yml
  services/websocket-server/jest.config.ts
  services/websocket-server/k8s/deployment.yaml
  services/websocket-server/k8s/hpa.yaml
  services/websocket-server/observability/grafana-dashboard.json
  services/websocket-server/package.json
  services/websocket-server/src/handlers/index.ts
  services/websocket-server/src/handlers/messages.ts
  services/websocket-server/src/handlers/presence.ts
  services/websocket-server/src/handlers/rooms.ts
  services/websocket-server/src/health.ts
  services/websocket-server/src/index.ts
  services/websocket-server/src/managers/ConnectionManager.ts
  services/websocket-server/src/managers/MessagePersistence.ts
  services/websocket-server/src/managers/PresenceManager.ts
  services/websocket-server/src/managers/RoomManager.ts
  services/websocket-server/src/metrics/prometheus.ts
  services/websocket-server/src/middleware/auth.ts
  services/websocket-server/src/middleware/rateLimit.ts
  services/websocket-server/src/server.ts
  services/websocket-server/src/types/index.ts
  services/websocket-server/src/utils/config.ts
  services/websocket-server/src/utils/logger.ts
  services/websocket-server/tests/integration.test.ts
  services/websocket-server/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add comprehensive API documentation README
  openapi/README.md
Due: prettier --write

chore(deps): add security fixes and dependency health check
  DEPENDENCY_HEALTH_CHECK.md
  DEPENDENCY_HEALTH_CHECK_SUMMARY.md
  apps/mobile-native/package.json
  package.json
Due: prettier --write

feat: add comprehensive test coverage for new modules
  SECURITY/__tests__/integration/security-modules.integration.test.ts
  SECURITY/policy/__tests__/opa-bundle.test.ts
  SECURITY/secrets/__tests__/rotation.test.ts
  TESTING_COVERAGE.md
  __tests__/e2e/security-workflow.e2e.test.ts
  active-measures-module/src/core/__tests__/ActiveMeasuresEngine.test.ts
  jest.coverage.config.js
  scripts/run-coverage.sh
Due: prettier --write

feat: implement comprehensive advanced search system with Elasticsearch
  .env.example
  apps/search-engine/src/__tests__/ElasticsearchService.test.ts
  apps/search-engine/src/__tests__/QueryBuilderService.test.ts
  apps/search-engine/src/config/indexMappings.ts
  apps/search-engine/src/services/IndexingService.ts
  apps/search-engine/src/services/SearchAnalyticsService.ts
  apps/search-engine/src/services/SearchInitService.ts
  docker-compose.dev.yml
  docs/SEARCH_API.md
  server/src/db/migrations/020_search_system.sql
  server/src/graphql/resolvers/search.ts
  server/src/graphql/schema/search.graphql
Due: prettier --write

fix: eliminate flaky test patterns for improved stability
  FLAKY_TESTS_REPORT.md
  client/tests/fuzz/framed-stream.test.ts
  config/__tests__/neo4j.test.ts
  graphql/__tests__/schema-registry.test.ts
  scripts/find-flaky-tests.sh
  server/tests/activity.test.ts
  server/tests/federal-integration.test.ts
Due: prettier --write

fix(time-series): disable allowImportingTsExtensions for building packages
  packages/anomaly-detection/tsconfig.json
  packages/forecasting/tsconfig.json
  packages/seasonal-decomposition/tsconfig.json
  packages/time-series/tsconfig.json
  packages/ts-feature-engineering/tsconfig.json
  services/forecasting-service/tsconfig.json
  services/time-series-service/tsconfig.json
Due: prettier --write

feat: add comprehensive admin panel with RBAC and full audit trail
  apps/web/src/components/admin/DashboardOverview.tsx
  apps/web/src/components/admin/UserManagement.tsx
  apps/web/src/pages/AdminDashboard.tsx
  docs/ADMIN_PANEL.md
  graphql/schema/admin-panel.graphql
  policy/admin-panel.rego
  server/db/migrations/postgres/2025-11-20_admin_panel_schema.sql
  server/src/graphql/resolvers/adminPanelResolvers.ts
  server/src/services/AdminPanelService.ts
Due: prettier --write

feat: add comprehensive feature flag system
  docs/feature-flags/BEST_PRACTICES.md
  docs/feature-flags/INTEGRATION_GUIDE.md
  observability/grafana/dashboards/feature-flags.json
  packages/feature-flags/.eslintrc.cjs
  packages/feature-flags/README.md
  packages/feature-flags/examples/basic-usage.ts
  packages/feature-flags/examples/gradual-rollout.ts
  packages/feature-flags/jest.config.js
  packages/feature-flags/package.json
  packages/feature-flags/src/FeatureFlagService.ts
  packages/feature-flags/src/__tests__/FeatureFlagService.test.ts
  packages/feature-flags/src/__tests__/rollout.test.ts
  packages/feature-flags/src/__tests__/targeting.test.ts
  packages/feature-flags/src/admin/AdminComponents.tsx
  packages/feature-flags/src/cache/RedisCache.ts
  packages/feature-flags/src/index.ts
  packages/feature-flags/src/metrics/PrometheusMetrics.ts
  packages/feature-flags/src/middleware/index.ts
  packages/feature-flags/src/providers/LaunchDarklyProvider.ts
  packages/feature-flags/src/providers/UnleashProvider.ts
  packages/feature-flags/src/react/index.tsx
  packages/feature-flags/src/types.ts
  packages/feature-flags/src/utils/rollout.ts
  packages/feature-flags/src/utils/targeting.ts
  packages/feature-flags/tsconfig.json
  server/src/feature-flags/middleware.ts
  server/src/feature-flags/setup.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(automl): resolve TypeScript build and ESLint errors across all packages
  .tsbuildinfo
  node-compile-cache/v22.21.1-x64-9de703df-0/1e7f928a
  packages/auto-feature-engineering/src/generators/FeatureGenerator.ts
  packages/auto-feature-engineering/src/index.ts
  packages/auto-feature-engineering/src/selectors/FeatureSelector.ts
  packages/auto-feature-engineering/src/selectors/ImportanceSelector.ts
  packages/auto-feature-engineering/tsconfig.json
  packages/automl/src/core/AutoMLOrchestrator.ts
  packages/automl/src/core/ModelSelector.ts
  packages/automl/src/core/types.ts
  packages/automl/src/deployment/ModelDeployer.ts
  packages/automl/src/experiment-tracking/ExperimentTracker.ts
  packages/automl/src/index.ts
  packages/automl/src/pipeline/PipelineBuilder.ts
  packages/automl/src/pipeline/PipelineExecutor.ts
  packages/automl/tsconfig.json
  packages/hyperopt/src/StudyManager.ts
  packages/hyperopt/src/index.ts
  packages/hyperopt/src/optimizers/BayesianOptimizer.ts
  packages/hyperopt/src/optimizers/GeneticAlgorithm.ts
  packages/hyperopt/src/optimizers/GridSearch.ts
  packages/hyperopt/src/optimizers/RandomSearch.ts
  packages/hyperopt/src/strategies/EarlyStopping.ts
  packages/hyperopt/src/strategies/WarmStart.ts
  packages/hyperopt/src/types.ts
  packages/hyperopt/tsconfig.json
  packages/meta-learning/tsconfig.json
  packages/nas/tsconfig.json
  pnpm-lock.yaml
  services/automl-service/tsconfig.json
  services/nas-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

perf(db): optimize database queries for 5-500x performance improvement
  QUERY_OPTIMIZATION_RESULTS.md
  server/db/migrations/postgres/2025-11-20_performance_indexes.sql
  server/src/db/OPTIMIZATION_SUMMARY.md
  server/src/db/benchmarks/query-performance-benchmark.ts
  server/src/db/optimization/postgres-performance-optimizer.ts
  server/src/db/performance-analysis.md
  server/src/repos/InvestigationRepo.ts
  server/src/repos/RelationshipRepo.ts
Due: prettier --write

fix(anomaly-detection): use standardDeviation instead of std from simple-statistics
  packages/anomaly-detection/src/detectors/ChangePointDetector.ts
  packages/anomaly-detection/src/detectors/StatisticalDetector.ts
Due: eslint --fix --max-warnings=0 --cache

feat: comprehensive audit logging and compliance system
  AUDIT_COMPLIANCE_IMPLEMENTATION.md
  docs/AUDIT_AND_COMPLIANCE.md
  server/db/migrations/postgres/2025-11-20_enhanced_audit_event_sourcing.sql
  server/src/middleware/audit-event-capture-middleware.ts
  server/src/services/ComplianceMonitoringService.ts
  server/src/services/ElasticsearchAuditService.ts
  server/src/services/EventSourcingService.ts
  server/src/services/GDPRComplianceService.ts
  server/src/services/HIPAAComplianceService.ts
  server/src/services/__tests__/EventSourcingService.test.ts
  server/src/services/__tests__/GDPRComplianceService.test.ts
Due: prettier --write

fix(automl): correct parameter naming in PipelineExecutor and PipelineBuilder
  .tsbuildinfo
  packages/automl/src/pipeline/PipelineBuilder.ts
  packages/automl/src/pipeline/PipelineExecutor.ts
Due: eslint --fix --max-warnings=0 --cache

feat: add comprehensive queue management system with BullMQ
  services/queue-manager/.env.example
  services/queue-manager/.gitignore
  services/queue-manager/Dockerfile
  services/queue-manager/INTEGRATION.md
  services/queue-manager/README.md
  services/queue-manager/docker-compose.yml
  services/queue-manager/examples/basic-usage.ts
  services/queue-manager/jest.config.js
  services/queue-manager/package.json
  services/queue-manager/prometheus.yml
  services/queue-manager/public/index.html
  services/queue-manager/src/__tests__/QueueManager.test.ts
  services/queue-manager/src/__tests__/RateLimiter.test.ts
  services/queue-manager/src/api/server.ts
  services/queue-manager/src/config/queue.config.ts
  services/queue-manager/src/core/QueueManager.ts
  services/queue-manager/src/index.ts
  services/queue-manager/src/monitoring/MetricsCollector.ts
  services/queue-manager/src/scaling/WorkerManager.ts
  services/queue-manager/src/types/index.ts
  services/queue-manager/src/utils/RateLimiter.ts
  services/queue-manager/src/utils/logger.ts
  services/queue-manager/tsconfig.json
Due: prettier --write

feat: implement comprehensive API versioning strategy
  .tsbuildinfo
  apps/analytics-engine/dist/config.d.ts
  apps/analytics-engine/dist/middleware/auth.d.ts
  apps/analytics-engine/dist/utils/logger.d.ts
  apps/graph-analytics/dist/config.d.ts
  apps/graph-analytics/dist/middleware/auth.d.ts
  apps/graph-analytics/dist/utils/logger.d.ts
  apps/ml-engine/dist/config.d.ts
  apps/ml-engine/dist/config.js
  apps/ml-engine/dist/server.js
  apps/ml-engine/dist/services/EntityResolutionService.d.ts
  apps/ml-engine/dist/services/EntityResolutionService.js
  apps/ml-engine/dist/training/TrainingPipeline.d.ts
  apps/ml-engine/dist/training/TrainingPipeline.js
  apps/ml-engine/dist/utils/logger.d.ts
  apps/search-engine/dist/middleware/auth.d.ts
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  client/tsconfig.tsbuildinfo
  docs/API_VERSIONING.md
  docs/API_VERSIONING_IMPLEMENTATION_SUMMARY.md
  server/logger.js
  server/logger.js.map
  services/api/src/app.ts
  services/api/src/routes/versioning.ts
  services/api/src/versioning/README.md
  services/api/src/versioning/__tests__/version-middleware.test.ts
  services/api/src/versioning/__tests__/version-registry.test.ts
  services/api/src/versioning/changelog-automation.ts
  services/api/src/versioning/compatibility-layer.ts
  services/api/src/versioning/documentation-generator.ts
  services/api/src/versioning/index.ts
  services/api/src/versioning/schema-versioning.ts
  services/api/src/versioning/version-middleware.ts
  services/api/src/versioning/version-registry.ts
  tests/factories/requestFactory.js
  tests/factories/requestFactory.js.map
  tests/factories/userFactory.js
  tests/factories/userFactory.js.map
Due: prettier --write

feat: add comprehensive internationalization (i18n) system
  docs/I18N_SYSTEM.md
  packages/i18n/README.md
  packages/i18n/graphql/resolvers-example.ts
  packages/i18n/graphql/schema.graphql
  packages/i18n/locales/ar-SA/common.json
  packages/i18n/locales/en-US/auth.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/dashboard.json
  packages/i18n/locales/en-US/navigation.json
  packages/i18n/locales/es-ES/common.json
  packages/i18n/package.json
  packages/i18n/scripts/extract-strings.js
  packages/i18n/scripts/validate-translations.js
  packages/i18n/src/components/I18nProvider.tsx
  packages/i18n/src/components/LanguageSwitcher.tsx
  packages/i18n/src/config/i18next.ts
  packages/i18n/src/config/locales.ts
  packages/i18n/src/hooks/useI18n.ts
  packages/i18n/src/index.ts
  packages/i18n/src/types/index.ts
  packages/i18n/src/utils/validation.test.ts
  packages/i18n/src/utils/validation.ts
  packages/i18n/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add comprehensive email template system with Mjml/React Email
  apps/mobile-native/package.json
  server/package.json
  server/src/email-service/EmailQueue.ts
  server/src/email-service/EmailService.ts
  server/src/email-service/README.md
  server/src/email-service/TemplateRenderer.ts
  server/src/email-service/ab-testing/ABTestManager.ts
  server/src/email-service/analytics/EmailAnalyticsService.ts
  server/src/email-service/deliverability/DeliverabilityChecker.ts
  server/src/email-service/examples/usage.ts
  server/src/email-service/migrations/001_email_system_schema.sql
  server/src/email-service/providers/EmailProvider.ts
  server/src/email-service/providers/SMTPProvider.ts
  server/src/email-service/templates/alert-critical.mjml
  server/src/email-service/templates/investigation-shared.mjml
  server/src/email-service/templates/password-reset.mjml
  server/src/email-service/templates/weekly-digest.mjml
  server/src/email-service/templates/welcome.mjml
  server/src/email-service/types.ts
  server/src/email-service/unsubscribe/UnsubscribeManager.ts
  server/src/email-service/versioning/TemplateVersionManager.ts
Due: prettier --write

chore: remove pnpm-lock.yaml for fresh dependency resolution
  pnpm-lock.yaml
Due: none

fix(health): correct logger import and add health endpoint tests
  server/src/routes/health.ts
  server/tests/observability/health.routes.spec.ts
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
