Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add Final Readiness Report for MVP-4-GA hardening
  FINAL_READINESS_REPORT.md
Due: prettier --write

fix(docker): use --no-frozen-lockfile in apps/ui Dockerfile
  apps/ui/Dockerfile
Due: none

fix(jest): convert jest-setup.ts to CommonJS for ESM compatibility
  tests/utils/jest-setup.ts
Due: none

fix(jest): use global jest object instead of importing
  tests/utils/jest-setup.ts
Due: none

docs: complete MVP-4-GA preparation documentation suite
  docs/ga/ACCEPTANCE.md
  docs/ga/CANARY.md
  docs/ga/DEPLOYMENT.md
  docs/ga/MVP4-GA-MASTER-CHECKLIST.md
  docs/ga/OBSERVABILITY.md
  docs/ga/RELEASE-READINESS-REPORT.md
  docs/ga/ROLLBACK.md
Due: prettier --write

fix(security): fix tenant isolation, auth context, and hardcoded secrets
  apps/mobile-native/src/services/Database.ts
  server/src/agents/swarm/ConsensusEngine.ts
  server/src/audit/advanced-audit-system.ts
  server/src/cases/workflow/CaseWorkflowService.ts
  server/src/routes/case-workflow.ts
  server/src/routes/governance.ts
Due: none

security: fix critical JWT authentication vulnerabilities
  docs/security/SECURITY-ISSUE-LEDGER.md
  services/sandbox-gateway/src/middleware/auth.ts
Due: prettier --write

docs: add comprehensive Security Readiness Report
  docs/security/SECURITY-READINESS-REPORT.md
Due: prettier --write

docs: add comprehensive security and remediation documentation
  docs/DEPLOYMENT_FAILURE_ANALYSIS.md
  docs/ISSUE_RESOLUTION_LEDGER.md
  docs/REQUIRED_ENV_VARS_SECURITY.md
Due: prettier --write

docs: add comprehensive critical TODO catalog and remediation package
  docs/security/CRITICAL_TODOS_CATALOG.md
  docs/security/SECURITY_TODOS_ANALYSIS.md
  docs/security/TODO_REMEDIATION_PLAN.md
  docs/security/critical-todos-ledger.json
  scripts/create-todo-issues.sh
Due: prettier --write

feat(ga): restore operational readiness framework and create sprint resolution matrix
  SPRINT_RESOLUTION_MATRIX.md
  docs/OPERATIONAL_READINESS_FRAMEWORK.md
Due: prettier --write

feat(ga): complete streaming platform GA readiness validation
  docs/streaming/GA_READINESS.md
Due: prettier --write

fix(server): resolve TypeScript compilation errors for Reproducible Build
  Makefile
  server/src/app.ts
  server/src/lib/errors.ts
  server/src/maestro/pipelines/decision-analysis-pipeline.ts
  server/src/routes/docs.ts
  server/src/routes/ingestion.ts
  server/src/routes/intel-graph.ts
  server/src/services/IntelGraphService.ts
  server/src/services/correlation/AdvancedCorrelationEngine.ts
Due: none

fix(server): resolve remaining TypeScript compilation errors
  server/src/graphql/dataloaders/policyVerdictLoader.ts
  server/src/maestro/pipelines/decision-analysis-pipeline.ts
  server/src/services/IntelGraphService.ts
Due: none

fix(policy): update all Rego files to OPA 1.0 syntax
  package.json
  pnpm-lock.yaml
  policy/admin-panel.rego
  policy/ci_gate.rego
  policy/conftest/docker_security.rego
  policy/conftest/helm-ci/helm_ci.rego
  policy/conftest/kubernetes_admission.rego
  policy/deploy.rego
  policy/docker.rego
  policy/docs/content.rego
  policy/helm.rego
  policy/helm/mtls_rollout_policy.rego
  policy/mc-admin.rego
  policy/opa/image.rego
  policy/provenance.rego
  policy/rego/data_retention.rego
  policy/rego/gpu-policy.rego
  policy/rego/taint-rules.rego
  policy/regulatory_advantage.rego
  policy/regulatory_advantage_test.rego
  policy/sbom.rego
  policy/stewardship.rego
  policy/v040/mc-admin-v040.rego
  policy/v041/sovereign-safeguards.rego
Due: prettier --write

docs: add wedlm research and demo harness
  docs/ADR/ADR-014-wedlm-local-inference-option.md
  docs/ADR/index.md
  docs/README.md
  docs/labs/wedlm/README.md
  docs/labs/wedlm/smoke_prompts.txt
  docs/research/wedlm.md
  scripts/wedlm_demo.sh
Due: prettier --write

feat: add agent lab tool bus and workflows
  .gitignore
  docs/agent-lab.md
  examples/agent-lab/targets.txt
  examples/agent-lab/workflows/asset-metadata.yaml
  examples/agent-lab/workflows/evidence-only-smoke.yaml
  packages/agent-lab/AGENTS.md
  packages/agent-lab/__tests__/agent-lab.test.ts
  packages/agent-lab/bin/agent-lab.js
  packages/agent-lab/jest.config.cjs
  packages/agent-lab/package.json
  packages/agent-lab/src/cli.ts
  packages/agent-lab/src/contentBoundary.ts
  packages/agent-lab/src/evidence.ts
  packages/agent-lab/src/index.ts
  packages/agent-lab/src/judge.ts
  packages/agent-lab/src/node-shim.d.ts
  packages/agent-lab/src/policy.ts
  packages/agent-lab/src/toolBus.ts
  packages/agent-lab/src/tools.ts
  packages/agent-lab/src/workflow.schema.json
  packages/agent-lab/src/workflowSpec.ts
  packages/agent-lab/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(policy): final OPA 1.0 syntax migration for all remaining Rego files
  policy/access_control.rego
  policy/auditor.rego
  policy/data_science.rego
  policy/deploy_test.rego
  policy/export.rego
  policy/graphql_test.rego
  policy/ingestion.rego
  policy/lineage_integrity.rego
  policy/main.rego
  policy/merge_train.rego
  policy/opa/access_control.rego
  policy/opa/authz.rego
  policy/opa/cve_budget.rego
  policy/opa/services.rego
  policy/pr.rego
  policy/pr_test.rego
  policy/sbom_test.rego
  policy/signer.rego
  policy/tests/mc-admin_test.rego
  policy/tests/merge_train_freeze_test.rego
  policy/tests/signer_test.rego
  policy/tests/simulation_test.rego
Due: none

feat: add skills controller runtime
  docs/roadmap/STATUS.json
  server/package.json
  server/src/scripts/run-skills-controller.ts
  server/src/skills/README.md
  server/src/skills/__tests__/skills-controller.test.ts
  server/src/skills/abi.ts
  server/src/skills/controller.ts
  server/src/skills/demo/echoSkill.ts
  server/src/skills/demo/singleSkillController.ts
  server/src/skills/events.ts
  server/src/skills/index.ts
  server/src/skills/policy.ts
  server/src/skills/provenance.ts
  server/src/skills/registry.ts
  server/src/skills/tracing.ts
Due: prettier --write

chore: add context engineering skills pack
  .gitmodules
  skills/README.md
  skills/context-engineering-pack/SKILL.md
  skills/context-engineering-pack/references/UPSTREAM.md
  skills/context-engineering-pack/scripts/list_upstream_skills.sh
  skills/context-engineering-pack/scripts/update_upstream.sh
Due: prettier --write

fix(policy): fix OPA 1.0 syntax in bundle/companyos/rbac.rego
  policy/bundle/companyos/rbac.rego
Due: none

fix(policy): replace OPA implies with standard conditional rules
  policy/v042/cognitive-synthesis.rego
Due: none

feat: add ktoon spec and core package
  docs/roadmap/STATUS.json
  packages/ktoon/README.md
  packages/ktoon/package.json
  packages/ktoon/src/index.ts
  packages/ktoon/tests/ktoon.test.ts
  packages/ktoon/tsconfig.json
  spec/ktoon.md
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(policy): additional OPA 1.0 syntax fixes
  policy/docs.rego
  policy/intelgraph_governance.rego
  policy/kubernetes.rego
  policy/rego/maestro.rego
  policy/rego/maestro_placement.rego
Due: none

fix(policy): rewrite contract_activation.rego for OPA 1.0 compliance
  policy/revops/rego/contract_activation.rego
Due: none

fix(policy): fix OPA 1.0 syntax in export/export.rego
  policy/export/export.rego
Due: none

fix(policy): fix OPA 1.0 syntax in lead_routing.rego
  policy/revops/rego/lead_routing.rego
Due: none

fix(policy): comprehensive OPA 1.0 syntax migration
  policy/billing/rego/cost_model_changes.rego
  policy/billing/rego/invariants.rego
  policy/billing/rego/invoice_actions.rego
  policy/billing/tests/cost_model_changes_test.rego
  policy/billing/tests/credits_and_discounts_test.rego
  policy/billing/tests/invoice_actions_test.rego
  policy/billing/tests/price_plan_changes_test.rego
  policy/cognition/cognition_policy.rego
  policy/conductor.rego
  policy/dockerfile_test.rego
  policy/export/export_test.rego
  policy/kubernetes.rego
  policy/pilot/risk_gate_test.rego
  policy/rego/conductor.rego
  policy/regulatory_advantage_test.rego
  policy/revops/rego/discount_approvals.rego
  policy/revops/rego/governance.rego
  policy/revops/tests/contract_activation_test.rego
  policy/stewardship.rego
  policy/tests/merge_train_freeze_test.rego
  policy/v040/mc-admin-v040.rego
  policy/v042/cognitive-synthesis.rego
Due: none

fix(policy): complete OPA 1.0 syntax migration
  policy/authz.rego
  policy/authz/abac.rego
  policy/authz/rbac.rego
  policy/billing/rego/cost_model_changes.rego
  policy/billing/rego/credits_and_discounts.rego
  policy/billing/rego/invariants.rego
  policy/billing/rego/invoice_actions.rego
  policy/billing/rego/price_plan_changes.rego
  policy/billing/tests/credits_and_discounts_test.rego
  policy/billing/tests/invoice_actions_test.rego
  policy/billing/tests/price_plan_changes_test.rego
  policy/common/helpers.rego
  policy/conftest/helm-ci/helm_ci.rego
  policy/dockerfile.rego
  policy/docs.rego
  policy/export/export.rego
  policy/graphql_test.rego
  policy/merge_train.rego
  policy/opa/access_control.rego
  policy/opa/cve_budget.rego
  policy/opa/retention.rego
  policy/orchestrator.rego
  policy/pilot/risk_gate.rego
  policy/rego/access_control.rego
  policy/rego/conductor.rego
  policy/rego/governance.rego
  policy/revops/rego/contract_activation.rego
  policy/revops/rego/discount_approvals.rego
  policy/revops/rego/governance.rego
  policy/revops/rego/tenant_overrides.rego
  policy/revops/tests/contract_activation_test.rego
  policy/revops/tests/discount_approvals_test.rego
  policy/revops/tests/governance_test.rego
  policy/revops/tests/invariants_test.rego
  policy/revops/tests/lead_routing_test.rego
  policy/tests/admission_test.rego
  policy/tests/authz_test.rego
  policy/tests/governance_test.rego
Due: none

fix(policy): update OPA bundle manifest with all package roots
  policy/bundle/.manifest
Due: none

fix(ci): switch OPA bundle to rego target and fix unsafe var
  .github/workflows/intelgraph-ci.yml
  policy/bundle/companyos/rbac.rego
Due: prettier --write

Harden Summit MVP for general availability (#15149)
  .github/workflows/_reusable-ci-fast.yml
  .github/workflows/mvp4-gate.yml
  CRITICAL_NEEDS_LEDGER.md
  CRITICAL_NEEDS_RESOLUTION_MATRIX.md
  FINAL_READINESS_REPORT.md
  apps/api/src/app.ts
  apps/api/src/middleware/security.ts
  apps/api/src/routes/actions/execute.ts
  docs/roadmap/STATUS.json
  src/runtime-gates/experimental-features.ts
Due: prettier --write

Security audit and fixes for Summit repository (#15150)
  docs/security/SECURITY-ISSUE-LEDGER.md
  docs/security/SECURITY-READINESS-REPORT.md
  services/sandbox-gateway/src/middleware/auth.ts
Due: prettier --write

Fix repository issues and improve governance (#15152)
  apps/mobile-native/src/services/Database.ts
  docs/DEPLOYMENT_FAILURE_ANALYSIS.md
  docs/ISSUE_RESOLUTION_LEDGER.md
  docs/REQUIRED_ENV_VARS_SECURITY.md
  server/src/agents/swarm/ConsensusEngine.ts
  server/src/audit/advanced-audit-system.ts
  server/src/cases/workflow/CaseWorkflowService.ts
  server/src/routes/case-workflow.ts
  server/src/routes/governance.ts
Due: prettier --write

Identify and catalog critical TODOs (#15151)
  docs/security/CRITICAL_TODOS_CATALOG.md
  docs/security/SECURITY_TODOS_ANALYSIS.md
  docs/security/TODO_REMEDIATION_PLAN.md
  docs/security/critical-todos-ledger.json
  scripts/create-todo-issues.sh
Due: prettier --write

Update merge priority playbook (#15145)
  docs/merge-priority-plan.md
Due: prettier --write

Add WeDLM research note and local demo harness (#15153)
  docs/ADR/ADR-014-wedlm-local-inference-option.md
  docs/ADR/index.md
  docs/README.md
  docs/labs/wedlm/README.md
  docs/labs/wedlm/smoke_prompts.txt
  docs/research/wedlm.md
  scripts/wedlm_demo.sh
Due: prettier --write

feat: add agent lab tool bus and workflows (#15154)
  .gitignore
  docs/agent-lab.md
  examples/agent-lab/targets.txt
  examples/agent-lab/workflows/asset-metadata.yaml
  examples/agent-lab/workflows/evidence-only-smoke.yaml
  packages/agent-lab/AGENTS.md
  packages/agent-lab/__tests__/agent-lab.test.ts
  packages/agent-lab/bin/agent-lab.js
  packages/agent-lab/jest.config.cjs
  packages/agent-lab/package.json
  packages/agent-lab/src/cli.ts
  packages/agent-lab/src/contentBoundary.ts
  packages/agent-lab/src/evidence.ts
  packages/agent-lab/src/index.ts
  packages/agent-lab/src/judge.ts
  packages/agent-lab/src/node-shim.d.ts
  packages/agent-lab/src/policy.ts
  packages/agent-lab/src/toolBus.ts
  packages/agent-lab/src/tools.ts
  packages/agent-lab/src/workflow.schema.json
  packages/agent-lab/src/workflowSpec.ts
  packages/agent-lab/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
