Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

verify: final deadlock proof
  README.md
Due: prettier --write

verify: final governance seal
  docs/ci/MERGE_SURGE_RUNBOOK.md
Due: prettier --write

gov: finalize gold snapshot and sanitized runbook
  docs/ci/MERGE_SURGE_RUNBOOK.md
  docs/governance/gold/branch_protection_main.json
Due: prettier --write

docs: add Summit Switchboard (Control Plane) v0.1 specification suite (#18317)
  docs/switchboard/ACCEPTANCE_TESTS.md
  docs/switchboard/CONTROL_PLANE_BOUNDARIES.md
  docs/switchboard/DISAMBIGUATION.md
  docs/switchboard/PR_PLAN.md
  docs/switchboard/RECEIPT_SCHEMA.md
  docs/switchboard/SPEC.md
Due: prettier --write

docs: add ANTIGRAVITY master prompt and session-init hook (#18075)
  .claude/README.md
  .claude/commands/antigravity.md
  .claude/hooks/session-init.sh
  .claude/settings.json
  .claude/skills/assumption-ledger.md
  .claude/skills/diff-budget.md
  .claude/skills/evidence-bundle.md
  .claude/skills/goal-to-tests.md
  .claude/skills/security-boundary-check.md
  .prbodies/claude-evidence.md
Due: prettier --write

governance: seal branch protection snapshot + merge-surge runbook (#18395)
  docs/ci/MERGE_SURGE_RUNBOOK.md
  docs/governance/gold/branch_protection_main.json
Due: prettier --write

🎨 Palette: Improve accessibility for loading states (#18071)
  .jules/palette.md
  apps/web/src/components/ui/Button.tsx
  apps/web/src/components/ui/Spinner.tsx
  apps/web/src/components/ui/components.test.tsx
Due: prettier --write

🎨 Palette: Improve accessibility and consistency of HITLReviewPanel (#18062)
  apps/web/src/components/HITLReviewPanel.tsx
  apps/web/src/components/__tests__/HITLReviewPanel.test.tsx
Due: none

feat(sdes-jee): Initialize Sovereign Data Espionage Shield module (#18036)
  docs/architecture/repo_assumptions.md
  packages/sdes-jee/package.json
  packages/sdes-jee/src/__tests__/sdg_builder.spec.ts
  packages/sdes-jee/src/fixtures/sdg.json
  packages/sdes-jee/src/jee/runner.ts
  packages/sdes-jee/src/sdg/builder.ts
  packages/sdes-jee/src/sdg/schema.ts
  packages/sdes-jee/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(compliance): implement Regulatory Controls Pack pipeline (#17877)
  .github/workflows/regulatory-drift.yml
  audit/regulatory/README.md
  audit/regulatory/schema/claimmap.schema.json
  audit/regulatory/schema/controlpack.schema.json
  audit/regulatory/schema/driftreport.schema.json
  cli/src/cli.ts
  cli/src/commands/regulatory.ts
  cli/src/lib/regulatory/builder.ts
  cli/src/lib/regulatory/diff.ts
  cli/src/lib/regulatory/sources/allowlist.json
  cli/src/lib/regulatory/sources/dod_ai_strategy_2026.ts
  cli/src/lib/regulatory/sources/eu_gpai_guidelines.ts
  cli/src/lib/regulatory/sources/fedramp_20x_ksis.ts
  docs/ops/runbooks/reg-automation-update-2026-02-04.md
  docs/security/data-handling/reg-automation-update-2026-02-04.md
  docs/standards/reg-automation-update-2026-02-04.md
  package.json
  scripts/monitoring/lib/github_issue_upsert.ts
  scripts/monitoring/reg-automation-update-2026-02-04-drift.ts
  tests/regulatory/allowlist_failclosed.test.ts
  tests/regulatory/controlpack_determinism.test.ts
  tests/regulatory/drift_severity.test.ts
Due: prettier --write
