Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

refactor: resolve actionable tech debt in services and client
  client/src/components/ErrorBoundary.tsx
  gateway/src/index.ts
  server/server.ts
Due: none

feat(ci): add slack notifications for policy gate failures
  .github/workflows/policy-enforce.yml
  .github/workflows/reusable/notify-on-failure.yml
Due: prettier --write

feat(lsc): implement phase 1 of Live Safety Case
  .github/workflows/ci-guarded-rail.yml
  .github/workflows/pr-dashboard-multi.yml
  .github/workflows/pr-dashboard-v24.yml
  .maestro/changes/20251020-lsc-phase1.yaml
  Justfile
  conductor-ui/frontend/src/views/tools/SafetyCaseViewer.html
  package.json
  project_management/pr_drafts/v24/README.md
  project_management/pr_drafts/v25/README.md
  project_management/pr_drafts/v25/SHARED-SECTIONS.md
  project_management/pr_drafts/waves.json
  scripts/pr-drafts/open-drafts.sh
  scripts/pr-drafts/publish-prs.sh
  scripts/pr_drafts.sh
  services/lsc-service/Dockerfile
  services/lsc-service/src/index.ts
  src/core/ComposerVNext.js
Due: prettier --write

feat(sprint): scaffold artifacts for v0.5 guarded rail
  .github/workflows/ci-guarded-rail.yml
  .github/workflows/pr-dashboard-v25.yml
  Justfile
  client/tests/e2e/auth-and-search.spec.ts
  client/tests/e2e/playwright.config.ts
  docs/evidence-bundle.manifest.json
  helm/overlays/canary/values.yaml
  observability/grafana/dashboards/graphql-latency.json
  observability/prometheus/alerts/api-slo-burn.yaml
  policies/abac.rego
  policies/tests/abac_allow.json
  policies/tests/abac_deny_cross_tenant.json
  project_management/pr_drafts/v25/PR-01-runtime unification: go 1.23.md
  project_management/pr_drafts/v25/PR-02-otel coverage: tier 2 services.md
  project_management/pr_drafts/v25/PR-03-pipeline slo migration: batch 2.md
  project_management/pr_drafts/v25/PR-04-release train: reusable jobs v2.md
  project_management/pr_drafts/v25/PR-05-canary-by-default: helm extensions.md
  project_management/pr_drafts/v25/PR-06-migration gate: phase 2.md
  project_management/pr_drafts/v25/PR-07-opa enforcement: phase 2 (residency cmk).md
  project_management/pr_drafts/v25/PR-08-ci hygiene & speed: batch 2.md
  project_management/pr_drafts/v25/PR-09-module containerization: v25.md
  project_management/pr_drafts/v25/PR-10-security hardening: fuzz coverage expansion.md
  project_management/pr_drafts/v25/titles.txt
  scripts/bootstrap/labels-and-milestones.sh
  scripts/pr-drafts/seed-drafts.sh
  scripts/pr_drafts.sh
  scripts/repo/open-pr-sprint-v0_5.sh
  server/gateway/src/plugins/opaEnforcer.ts
  server/gateway/src/resolvers/guard.ts
  tests/k6/baseline.js
  tests/k6/smoke.js
  tests/k6/soak.js
  tools/coverage-gate.js
Due: prettier --write

feat(release): complete and merge v0.5 guarded rail sprint
  .github/workflows/ci-guarded-rail.yml
  .github/workflows/pr-dashboard-v25.yml
  Justfile
  client/tests/e2e/auth-and-search.spec.ts
  client/tests/e2e/playwright.config.ts
  docs/evidence-bundle.manifest.json
  helm/overlays/canary/values.yaml
  observability/grafana/dashboards/graphql-latency.json
  observability/prometheus/alerts/api-slo-burn.yaml
  policies/abac.rego
  policies/tests/abac_allow.json
  policies/tests/abac_deny_cross_tenant.json
  project_management/pr_drafts/v25/PR-01-runtime unification: go 1.23.md
  project_management/pr_drafts/v25/PR-02-otel coverage: tier 2 services.md
  project_management/pr_drafts/v25/PR-03-pipeline slo migration: batch 2.md
  project_management/pr_drafts/v25/PR-04-release train: reusable jobs v2.md
  project_management/pr_drafts/v25/PR-05-canary-by-default: helm extensions.md
  project_management/pr_drafts/v25/PR-06-migration gate: phase 2.md
  project_management/pr_drafts/v25/PR-07-opa enforcement: phase 2 (residency cmk).md
  project_management/pr_drafts/v25/PR-08-ci hygiene & speed: batch 2.md
  project_management/pr_drafts/v25/PR-09-module containerization: v25.md
  project_management/pr_drafts/v25/PR-10-security hardening: fuzz coverage expansion.md
  project_management/pr_drafts/v25/titles.txt
  scripts/bootstrap/labels-and-milestones.sh
  scripts/pr-drafts/seed-drafts.sh
  scripts/pr_drafts.sh
  scripts/repo/open-pr-sprint-v0_5.sh
  server/gateway/src/plugins/opaEnforcer.ts
  server/gateway/src/resolvers/guard.ts
  tests/k6/baseline.js
  tests/k6/smoke.js
  tests/k6/soak.js
  tools/coverage-gate.js
Due: prettier --write

feat(hardening): add chaos testing and SAST scanning
  .github/workflows/chaos-testing.yml
  .github/workflows/ci-guarded-rail.yml
  .semgrep.yml
  conductor-ui/frontend/src/components/evidence/EvidenceExportButton.tsx
  conductor-ui/frontend/src/components/policy/OpaDecisionBadge.tsx
  conductor-ui/frontend/src/components/runs/StreamingLogsPane.tsx
  conductor-ui/frontend/src/views/runs/RunGraphView.tsx
  conductor-ui/frontend/tests/e2e/run-detail-views.spec.ts
  docs/architecture/ADR-013-Graph-Rendering.md
  docs/sprints/sprint-v0.5-review.md
  tests/chaos/pod-delete-experiment.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs(release): add release notes for v2.1.0
  RELEASE_NOTES_v2.1.0.md
Due: prettier --write

feat(knowledge-os): implement phase 1 of Knowledge OS
  .github/workflows/knowledge-os-indexer.yml
  docs/architecture/ADR-050-Knowledge-OS-Data-Model.md
  release-v24/executions/20250915T002437Z/cohort-0.05-evidence.yaml
  release-v24/executions/20250915T002437Z/deploy.deploy_log
  release-v24/executions/20250915T002538Z/cohort-0.25-evidence.yaml
  release-v24/executions/20250915T002538Z/deploy.deploy_log
  release-v24/executions/20250915T002538Z/deployment-report.md
  release-v24/executions/20250915T002538Z/manifest.yaml
  release-v24/executions/20250915T002618Z/cohort-1.00-evidence.yaml
  release-v24/executions/20250915T002618Z/deploy.deploy_log
  release-v24/executions/20250915T002618Z/deployment-report.md
  release-v24/executions/20250915T002618Z/manifest.yaml
  services/knowledge-service/Dockerfile
  services/knowledge-service/src/index.ts
  services/knowledge-service/src/indexer.ts
Due: prettier --write

feat(knowledge-os): implement phase 2 with API and frontend views
  conductor-ui/frontend/src/components/knowledge/ExpertFinder.tsx
  conductor-ui/frontend/src/views/tools/SemanticSearchView.tsx
  conductor-ui/frontend/tests/e2e/knowledge-os.spec.ts
  services/knowledge-service/src/index.ts
Due: eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
