Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs(ops): update ledger with security remediation completion
  docs/ops/BACKLOG_EXECUTION_LEDGER.md
Due: prettier --write

docs: add readiness assertion and P0/P1 ledger
  docs/SUMMIT_READINESS_ASSERTION.md
  docs/risk/P0_P1_REMEDIATION_LEDGER.md
Due: prettier --write

fix: override qs to remediate GHSA-6rw7-vpxm-498p
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add dependency review gate for PRs
  .github/workflows/dependency-review.yml
Due: prettier --write

docs: align security evidence and control mappings
  SECURITY.md
  docs/compliance/EVIDENCE_INDEX.md
  docs/compliance/control-matrix.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: register security prompt and task spec
  agents/examples/SECURITY_P0P1_GATES_20260103.json
  prompts/registry.yaml
  prompts/security/p0p1-security-gates.md
Due: prettier --write

feat(security): implement dependency evidence pack and remediate CVEs
  docs/security/DEPENDENCY_HYGIENE.md
  docs/security/SUPPLY_CHAIN_REPORT.md
  package.json
  packages/bitemporal/package.json
  packages/maestro-core/package.json
  pnpm-lock.yaml
  scripts/security/__tests__/deps-report.offline.test.ts
  scripts/security/deps-drift-check.ts
  scripts/security/deps-report.ts
  scripts/security/dup-deps-check.ts
Due: prettier --write

fix(security): remediate path traversal in CaseBundleService
  server/src/cases/bundles/CaseBundleService.ts
Due: none

feat(security): implement end-to-end release integrity (SBOM/SLSA)
  .github/workflows/_reusable-release.yml
  .github/workflows/_reusable-slsa-build.yml
  COMPLIANCE_CONTROLS.md
  COMPLIANCE_EVIDENCE_INDEX.md
  Makefile
  docs/ops/RELEASE_CONTRACT.md
  docs/ops/RELEASE_INTEGRITY.md
  scripts/release/sbom.sh
  scripts/release/verify.sh
Due: prettier --write

feat(security): implement end-to-end release integrity (SBOM/SLSA)
  scripts/compliance/generate_sbom.ts
Due: none

fix(security): eliminate dicer vulnerability by replacing apollo-server-testing
  pnpm-lock.yaml
  server/package.json
  server/tests/document.test.ts
Due: prettier --write

fix(tests): stabilize CI test infrastructure
  server/.github/workflows/ci.yml
  server/docs/CI_TEST_STABILIZATION.md
  server/src/hunting/ThreatHuntingOrchestrator.ts
  server/src/hunting/__tests__/ThreatHuntingOrchestrator.test.ts
Due: prettier --write

feat(adversarial): add comprehensive Adversarial Defense Platform components
  client/src/components/adversarial/AdversarialDashboard.tsx
  client/src/components/adversarial/AdversaryComparison.tsx
  client/src/components/adversarial/AdversaryProfileCard.tsx
  client/src/components/adversarial/AlertNotificationCenter.tsx
  client/src/components/adversarial/AttackSimulationControls.tsx
  client/src/components/adversarial/CampaignTracker.tsx
  client/src/components/adversarial/DefenseStrategyCard.tsx
  client/src/components/adversarial/IOCManager.tsx
  client/src/components/adversarial/IncidentResponsePanel.tsx
  client/src/components/adversarial/MitreAttackMatrix.tsx
  client/src/components/adversarial/PlaybookLibrary.tsx
  client/src/components/adversarial/RiskScoreGauge.tsx
  client/src/components/adversarial/SecurityMetricsDashboard.tsx
  client/src/components/adversarial/TacticEvolutionTimeline.tsx
  client/src/components/adversarial/ThreatActorGraph.tsx
  client/src/components/adversarial/ThreatDetectionPanel.tsx
  client/src/components/adversarial/ThreatHeatmap.tsx
  client/src/components/adversarial/ThreatIntelligenceFeed.tsx
  client/src/components/adversarial/__tests__/AdversaryProfileCard.test.tsx
  client/src/components/adversarial/__tests__/ThreatDetectionPanel.test.tsx
  client/src/components/adversarial/__tests__/useAdversarial.test.tsx
  client/src/components/adversarial/context/AdversarialContext.tsx
  client/src/components/adversarial/fixtures/index.ts
  client/src/components/adversarial/fixtures/mockData.ts
  client/src/components/adversarial/hooks/useAdversarial.ts
  client/src/components/adversarial/index.ts
  client/src/components/adversarial/services/adversarialApi.ts
  client/src/components/adversarial/types/index.ts
Due: none

docs: fix security prompt hash
  agents/examples/SECURITY_P0P1_GATES_20260103.json
  prompts/registry.yaml
Due: prettier --write

fix(security): eliminate request vulnerability by removing dtslint
  pnpm-lock.yaml
  sdk/typescript/package.json
Due: prettier --write

docs(ops): add ledger update with quality validation completion
  docs/ops/BACKLOG_EXECUTION_LEDGER.md
Due: prettier --write

feat(llm): add Claude API integration for scenario generation
  adversarial-misinfo-defense-platform/llm/__init__.py
  adversarial-misinfo-defense-platform/llm/claude_client.py
  adversarial-misinfo-defense-platform/llm/prompts.py
  adversarial-misinfo-defense-platform/llm/scenario_generator.py
  adversarial-misinfo-defense-platform/requirements.txt
Due: none

fix(adversarial): improve test reliability for component tests
  client/src/components/adversarial/__tests__/AdversaryProfileCard.test.tsx
  client/src/components/adversarial/__tests__/ThreatDetectionPanel.test.tsx
Due: none

feat(security): apply birthday hardening and security-utils
  pr-body-security-p0p1.md
Due: prettier --write

fix(security): convert provenance scripts to CommonJS and update weights
  .ci/gen-provenance.cjs
  .ci/verify-provenance.cjs
  Makefile
  server/tests/setup/jest.setup.cjs
Due: none

docs(changelog): document version 4.0.1 hardening sweep
  CHANGELOG.md
Due: prettier --write

chore(release): bump version to 4.0.5 for hardening sweep
  CHANGELOG.md
  package.json
  server/package.json
Due: prettier --write

chore(release): bump version to 4.0.5 for security hardening sweep
  package.json
  server/package.json
Due: prettier --write

fix(security): add missing scorecard script
  package.json
Due: prettier --write

fix(security): restore scorecard script
  scripts/security/scorecard.ts
Due: none

feat(security): Birthday Hardening Definitive State - v4.0.5
  .github/workflows/security-hardened-gate.yml
  packages/security-utils/package.json
  packages/security-utils/src/index.ts
  server/package.json
  server/src/services/AttachmentService.ts
  services/exporter/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(ops): add merge-train automation and preflight tooling
  Makefile
  docs/ops/MERGE_TRAIN.md
  docs/ops/PR_QUEUE.json
  docs/ops/PR_QUEUE.md
  scripts/ci/preflight.sh
  scripts/ops/merge_train.sh
  scripts/ops/pr_queue_snapshot.sh
Due: prettier --write

fix(security): lock-in security scripts and overrides
  package.json
  packages/security-utils/package.json
  packages/security-utils/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(security): definitive path traversal guards and scorecard integration
  server/src/cases/bundles/CaseBundleService.ts
  server/src/services/AttachmentService.ts
  services/exporter/src/index.ts
Due: none

feat(security): integrate scorecard into preflight
  scripts/ci/preflight.sh
Due: none

feat(security): integrate scorecard into GA gate
  scripts/ga-gate.sh
Due: none

feat(security): harden security headers
  server/src/middleware/securityHeaders.ts
Due: none

docs(ops): add test runtime determinism documentation
  docs/ops/TEST_RUNTIME.md
  scripts/verification/verify_runtime.sh
Due: prettier --write

feat: fix duplicate mock files and enhance metricsRoute resilience
  docs/test-harness-deterministic.md
  server/src/http/metricsRoute.ts
  server/tests/deterministic-test-harness.test.ts
Due: prettier --write

fix(ops): improve verify_runtime script robustness
  .claude/settings.local.json
  provenance.json
  scripts/security/scorecard.ts
  scripts/verification/verify_runtime.sh
Due: prettier --write

feat: implement deterministic test harness for server
  .github/workflows/intelgraph-ci.yml
  COMPLIANCE_EVIDENCE_INDEX.md
  docs/test-harness-deterministic.md
  server/src/metrics/registry.ts
  server/tests/deterministic-test-harness.test.ts
  server/tests/setup/jest.setup.cjs
Due: prettier --write
