Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json,yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: add explainable sampling auditor toolkit
  tools/esa/README.md
  tools/esa/esa/__init__.py
  tools/esa/esa/cli.py
  tools/esa/esa/evaluation.py
  tools/esa/esa/reporting.py
  tools/esa/esa/sampling.py
  tools/esa/esa/utils.py
  tools/esa/pyproject.toml
  tools/esa/tests/conftest.py
  tools/esa/tests/test_ci_gate.py
  tools/esa/tests/test_sampling.py
Due: prettier --write

feat: add immutable business rules sandbox engine
  Cargo.lock
  Cargo.toml
  bindings/ibrs-node/Cargo.toml
  bindings/ibrs-node/build.rs
  bindings/ibrs-node/index.d.ts
  bindings/ibrs-node/index.js
  bindings/ibrs-node/package.json
  bindings/ibrs-node/src/lib.rs
  ibrs/Cargo.toml
  ibrs/src/bin/ibrs-cli.rs
  ibrs/src/lib.rs
  ibrs/src/parser.rs
  ibrs/src/runtime.rs
  ibrs/tests/completeness.rs
Due: prettier --write

feat: add on-device privacy mobile sdks
  sdk/mobile/README.md
  sdk/mobile/android/.gitignore
  sdk/mobile/android/README.md
  sdk/mobile/android/build.gradle.kts
  sdk/mobile/android/settings.gradle.kts
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/Batching.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/Consent.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/DifferentialPrivacy.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/Policy.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/TelemetryModels.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/TelemetryPipeline.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/TransmissionVerifier.kt
  sdk/mobile/android/src/test/kotlin/com/summit/odps/android/TelemetryPipelineTest.kt
  sdk/mobile/android/src/test/kotlin/com/summit/odps/android/TestFixtures.kt
  sdk/mobile/ios/.gitignore
  sdk/mobile/ios/Package.swift
  sdk/mobile/ios/README.md
  sdk/mobile/ios/Sources/ODPS/Batching.swift
  sdk/mobile/ios/Sources/ODPS/Consent.swift
  sdk/mobile/ios/Sources/ODPS/DifferentialPrivacy.swift
  sdk/mobile/ios/Sources/ODPS/Policy.swift
  sdk/mobile/ios/Sources/ODPS/TelemetryModels.swift
  sdk/mobile/ios/Sources/ODPS/TelemetryPipeline.swift
  sdk/mobile/ios/Sources/ODPS/TransmissionVerifier.swift
  sdk/mobile/ios/Tests/ODPSTests/TelemetryPipelineTests.swift
  sdk/mobile/ios/Tests/ODPSTests/TestFixtures.swift
Due: prettier --write

feat: add adaptive consistency controller sidecar and sdk
  sdk/acc/.eslintrc.cjs
  sdk/acc/.gitignore
  sdk/acc/README.md
  sdk/acc/package.json
  sdk/acc/src/index.ts
  sdk/acc/test/client.test.ts
  sdk/acc/tsconfig.json
  services/acc/README.md
  services/acc/benchmarks/README.md
  services/acc/benchmarks/latest.txt
  services/acc/cmd/acc/main.go
  services/acc/config/policies.yaml
  services/acc/fixtures/bounded-analytics.json
  services/acc/fixtures/personalization-session.json
  services/acc/fixtures/strong-auth.json
  services/acc/go.mod
  services/acc/go.sum
  services/acc/internal/config/policy.go
  services/acc/internal/planner/bench_test.go
  services/acc/internal/planner/fixture_test.go
  services/acc/internal/planner/planner.go
  services/acc/internal/planner/planner_test.go
  services/acc/internal/server/server.go
  services/acc/internal/session/store.go
Due: prettier --write

feat: add consent graph explorer service and ui
  client/src/App.router.jsx
  client/src/features/consent-graph/ConsentGraphExplorer.tsx
  server/src/consent-graph/__tests__/consentGraphService.test.ts
  server/src/consent-graph/fixtures.ts
  server/src/consent-graph/index.ts
  server/src/consent-graph/service.ts
  server/src/consent-graph/temporal.ts
  server/src/consent-graph/types.ts
  server/src/graphql/resolvers/consentGraph.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/schema.consentGraph.ts
  server/src/graphql/schema/index.ts
Due: none

feat: add csiks idempotency service and clients
  samples/k8s/csiks-deployment.yaml
  sdk/python/maestro_sdk/csiks.py
  sdk/python/test/test_csiks.py
  sdk/typescript/src/csiks.ts
  sdk/typescript/src/index.ts
  sdk/typescript/test/csiks.test.js
  services/csiks/Cargo.lock
  services/csiks/Cargo.toml
  services/csiks/src/main.rs
Due: prettier --write

feat(mtif): add stix taxii threat intelligence service
  services/mtif/jest.config.ts
  services/mtif/package.json
  services/mtif/src/adapters/lrt.ts
  services/mtif/src/adapters/ppc.ts
  services/mtif/src/adapters/rsr.ts
  services/mtif/src/config.ts
  services/mtif/src/index.ts
  services/mtif/src/schema/stix21-bundle.json
  services/mtif/src/server.ts
  services/mtif/src/services/BundleFactory.ts
  services/mtif/src/services/FeedRepository.ts
  services/mtif/src/services/StixValidator.ts
  services/mtif/src/services/TaxiiService.ts
  services/mtif/src/types.ts
  services/mtif/src/utils/signing.ts
  services/mtif/tests/adapters.test.ts
  services/mtif/tests/stixFactory.test.ts
  services/mtif/tests/taxiiApi.test.ts
  services/mtif/tsconfig.json
Due: prettier --write

feat: add agsm synthetic governance monitoring
  .github/workflows/agsm-probes.yml
  services/agsm/README.md
  services/agsm/cmd/agsm/main.go
  services/agsm/config/profile.canary.yaml
  services/agsm/config/profile.production.yaml
  services/agsm/go.mod
  services/agsm/go.sum
  services/agsm/internal/config/config.go
  services/agsm/internal/metrics/metrics.go
  services/agsm/internal/probes/probes.go
  services/agsm/internal/runner/runner.go
  services/agsm/internal/runner/runner_test.go
  services/agsm/internal/storage/file_storage.go
  services/agsm/state/.gitkeep
  tools/agsm-dashboard/README.md
  tools/agsm-dashboard/package.json
  tools/agsm-dashboard/src/index.ts
  tools/agsm-dashboard/tsconfig.json
Due: prettier --write

feat: add metric definition registry
  mdr/.gitignore
  mdr/README.md
  mdr/golden/bigquery/orders_revenue/udf.sql
  mdr/golden/bigquery/orders_revenue/view.sql
  mdr/golden/postgres/orders_revenue/udf.sql
  mdr/golden/postgres/orders_revenue/view.sql
  mdr/golden/snowflake/orders_revenue/udf.sql
  mdr/golden/snowflake/orders_revenue/view.sql
  mdr/package.json
  mdr/specs/orders_revenue/v1.yaml
  mdr/src/cli.ts
  mdr/src/index.ts
  mdr/src/loader.ts
  mdr/src/registry.ts
  mdr/src/sql/generators.ts
  mdr/src/types.ts
  mdr/src/utils.ts
  mdr/tsconfig.json
Due: prettier --write

feat: add krpcp rotation planner and ui
  services/krpcp/fixtures/sample_fixture.json
  services/krpcp/go.mod
  services/krpcp/planner.go
  services/krpcp/planner_test.go
  services/krpcp/ui/package.json
  services/krpcp/ui/src/index.ts
  services/krpcp/ui/tsconfig.json
Due: prettier --write

feat: add emergency containment controller
  client/src/features/admin/AdminStudio.tsx
  client/src/features/admin/EmergencyContainmentPanel.tsx
  server/src/app.ts
  server/src/conductor/resilience/ecc-controller.ts
  server/src/routes/__tests__/ecc.test.ts
  server/src/routes/ecc.ts
Due: none

feat: add legal hold orchestrator and UI
  client/src/features/lho/LhoDashboard.test.tsx
  client/src/features/lho/LhoDashboard.tsx
  client/src/features/lho/data/sampleHold.json
  client/src/features/lho/types.ts
  client/src/features/lho/utils.ts
  lho/cmd/lho/main.go
  lho/go.mod
  lho/go.sum
  lho/internal/custody/ledger.go
  lho/internal/diff/diff.go
  lho/internal/model/scope.go
  lho/internal/orchestrator/orchestrator.go
  lho/internal/systems/elasticsearch.go
  lho/internal/systems/kafka.go
  lho/internal/systems/lifecycle.go
  lho/internal/systems/postgres.go
  lho/internal/systems/s3.go
  lho/internal/systems/system.go
  lho/orchestrator_test.go
Due: prettier --write

feat: add access path minimizer planner
  apm/Cargo.lock
  apm/Cargo.toml
  apm/src/bin/apm-cli.rs
  apm/src/exposure.rs
  apm/src/lib.rs
  apm/src/planner.rs
  apm/src/simulator.rs
  apm/src/types.rs
  apm/tests/planner_tests.rs
  sdk/typescript/apm/package.json
  sdk/typescript/apm/src/index.ts
  sdk/typescript/apm/test/apm.test.mjs
  sdk/typescript/apm/tsconfig.json
Due: prettier --write

feat: add hapl ledger with verification tooling
  ga-graphai/packages/prov-ledger/package.json
  ga-graphai/packages/prov-ledger/src/cli/hapl-verify.js
  ga-graphai/packages/prov-ledger/src/index.js
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/tests/hapl-ledger.test.ts
Due: prettier --write

feat: add adaptive consent sdk
  sdk/acx/__snapshots__/render.test.ts.snap
  sdk/acx/android/build.gradle.kts
  sdk/acx/android/src/main/AndroidManifest.xml
  sdk/acx/android/src/main/kotlin/com/summit/acx/AdaptiveConsent.kt
  sdk/acx/ios/Package.swift
  sdk/acx/ios/Sources/ACX/AdaptiveConsent.swift
  sdk/acx/ios/Tests/ACXTests/AdaptiveConsentTests.swift
  sdk/acx/jest.config.js
  sdk/acx/package.json
  sdk/acx/scripts/check-dark-patterns.js
  sdk/acx/src/artifact.ts
  sdk/acx/src/dark-patterns.json
  sdk/acx/src/index.ts
  sdk/acx/src/sdk.ts
  sdk/acx/src/templatePack.ts
  sdk/acx/src/types.ts
  sdk/acx/src/validators.ts
  sdk/acx/src/variants.ts
  sdk/acx/templates/policyPack.json
  sdk/acx/test/artifact.test.ts
  sdk/acx/test/experiment.test.ts
  sdk/acx/test/linter.test.ts
  sdk/acx/test/render.test.ts
  sdk/acx/test/scope.test.ts
  sdk/acx/test/snapshotResolver.cjs
  sdk/acx/tsconfig.json
Due: prettier --write

feat: add data diff governance mapper
  package.json
  tools/ddgm/package.json
  tools/ddgm/pnpm-lock.yaml
  tools/ddgm/src/canonical.ts
  tools/ddgm/src/index.ts
  tools/ddgm/src/io.ts
  tools/ddgm/src/plan.ts
  tools/ddgm/src/signature.ts
  tools/ddgm/src/simulator.ts
  tools/ddgm/src/types.ts
  tools/ddgm/test/fixtures/diff.customer_events.json
  tools/ddgm/test/fixtures/golden/action-plan.yaml
  tools/ddgm/test/fixtures/golden/simulation.json
  tools/ddgm/test/fixtures/keys/ddgm_private.pem
  tools/ddgm/test/fixtures/keys/ddgm_public.pem
  tools/ddgm/test/plan.test.ts
  tools/ddgm/tsconfig.json
Due: prettier --write

feat: add aql audit query engine
  tools/aql/.gitignore
  tools/aql/Cargo.lock
  tools/aql/Cargo.toml
  tools/aql/README.md
  tools/aql/fixtures/idtl-proofs.json
  tools/aql/fixtures/idtl.json
  tools/aql/fixtures/ledger-proofs.json
  tools/aql/fixtures/ledger.json
  tools/aql/fixtures/logs-proofs.json
  tools/aql/fixtures/logs.json
  tools/aql/fixtures/mpc-proofs.json
  tools/aql/fixtures/mpc.json
  tools/aql/package.json
  tools/aql/samples/find-alice.aql
  tools/aql/src/bin/aqlc.rs
  tools/aql/src/connectors/mod.rs
  tools/aql/src/connectors/registry.rs
  tools/aql/src/dsl/mod.rs
  tools/aql/src/dsl/parser.rs
  tools/aql/src/engine.rs
  tools/aql/src/error.rs
  tools/aql/src/lib.rs
  tools/aql/src/models.rs
  tools/aql/src/verifier.rs
  tools/aql/tests/integration.rs
  tools/aql/ts/cli.ts
  tools/aql/tsconfig.json
Due: prettier --write

feat: Simulate user roles and network conditions in fuzzer
  policy-fuzzer/governance_layers.py
  policy-fuzzer/main.py
  policy-fuzzer/policy_templates/network_access.yaml
  policy-fuzzer/policy_templates/role_based_access.yaml
Due: prettier --write

feat: add csdb broker service and client sdk
  sdk/typescript/jest.config.cjs
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/csdb.ts
  sdk/typescript/src/index.ts
  sdk/typescript/test/csdb-client.test.ts
  sdk/typescript/test/integration.test.ts
  services/csdb/README.md
  services/csdb/cmd/csdb/main.go
  services/csdb/go.mod
  services/csdb/go.sum
  services/csdb/internal/broker/broker.go
  services/csdb/internal/broker/broker_test.go
  services/csdb/internal/crypto/manifest.go
  services/csdb/internal/data/fixtures.go
  services/csdb/internal/server/server.go
Due: prettier --write

feat: Implement performance anomaly detection in fuzzer
  policy-fuzzer/main.py
Due: none

feat: Enhance policy generation with dynamic conditions and structural variations
  policy-fuzzer/policy_generator.py
  policy-fuzzer/policy_templates/data_classification_policy.yaml
  policy-fuzzer/policy_templates/purpose_based_access_policy.yaml
Due: prettier --write

feat: Expand metamorphic testing with data and policy transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: Further enhance metamorphic testing with diverse time-based transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: add deterministic prompt execution cache
  packages/dpec/AGENTS.md
  packages/dpec/package.json
  packages/dpec/src/adapters/anthropic.ts
  packages/dpec/src/adapters/openai.ts
  packages/dpec/src/cache.ts
  packages/dpec/src/hash.ts
  packages/dpec/src/index.ts
  packages/dpec/src/types.ts
  packages/dpec/test/dpec.spec.ts
  packages/dpec/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Further enhance metamorphic testing with diverse geo-based transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: add policy backtest simulator
  pbs/README.md
  pbs/cmd/pbs/main.go
  pbs/go.mod
  pbs/internal/pbs/engine.go
  pbs/internal/pbs/engine_test.go
  pbs/internal/pbs/io.go
  pbs/internal/pbs/recommendation.go
  pbs/internal/pbs/signing.go
  pbs/internal/pbs/types.go
  pbs/testdata/history_sample.json
  pbs/testdata/policy_baseline.json
  pbs/testdata/policy_hardened.json
  pbs/testdata/recommendation_hardened.golden.txt
  pbs/testdata/recommendation_sample.txt
  pbs/testdata/report_sample.json
  pbs/testdata/signing_key.json
  pbs/tools/pbs-dashboard/package.json
  pbs/tools/pbs-dashboard/src/cli.ts
  pbs/tools/pbs-dashboard/src/generator.ts
  pbs/tools/pbs-dashboard/src/types.ts
  pbs/tools/pbs-dashboard/tsconfig.json
Due: prettier --write

feat(spom): add semantic pii ontology mapper
  services/spom/README.md
  services/spom/fsr-pt-plugin.ts
  services/spom/pyproject.toml
  services/spom/spom/__init__.py
  services/spom/spom/diff.py
  services/spom/spom/mapper.py
  services/spom/spom/ml.py
  services/spom/spom/models.py
  services/spom/spom/rules.py
  services/spom/tests/conftest.py
  services/spom/tests/test_diff.py
  services/spom/tests/test_mapper.py
Due: prettier --write

feat: add immutable training run capsule tooling
  tools/itrc/README.md
  tools/itrc/__init__.py
  tools/itrc/__main__.py
  tools/itrc/capsule.py
  tools/itrc/cli.py
  tools/itrc/receipt.py
  tools/itrc/runner.py
  tools/itrc/signing.py
  tools/itrc/utils.py
Due: prettier --write

feat: add resb rare-event synthesizer
  resb/README.md
  resb/pyproject.toml
  resb/src/resb/__init__.py
  resb/src/resb/auditor.py
  resb/src/resb/config.py
  resb/src/resb/constraints.py
  resb/src/resb/dp.py
  resb/src/resb/generator.py
  resb/src/resb/reporting.py
  resb/tests/test_resb_pipeline.py
Due: prettier --write

feat: add federated attribution evaluator
  services/fae/go/fae/aggregates.go
  services/fae/go/fae/attribution.go
  services/fae/go/fae/cuped.go
  services/fae/go/fae/dp.go
  services/fae/go/fae/fae_test.go
  services/fae/go/fae/go.mod
  services/fae/go/fae/report.go
  services/fae/python/fae/__init__.py
  services/fae/python/fae/aggregates.py
  services/fae/python/fae/attribution.py
  services/fae/python/fae/bias.py
  services/fae/python/fae/cohort.py
  services/fae/python/fae/dp.py
  services/fae/python/fae/report.py
  services/fae/python/fae/uplift.py
  services/fae/tests/test_fae.py
Due: none

feat: add consent state reconciler service
  services/csr/README.md
  services/csr/package.json
  services/csr/src/app.ts
  services/csr/src/index.ts
  services/csr/src/reconciler.ts
  services/csr/src/types.ts
  services/csr/test/api.test.ts
  services/csr/test/reconciler.test.ts
  services/csr/tsconfig.json
  services/csr/vitest.config.ts
Due: prettier --write

feat: add consent state reconciler service
  services/csr/jest.config.js
  services/csr/package.json
  services/csr/src/config.ts
  services/csr/src/index.ts
  services/csr/src/reconciler.ts
  services/csr/src/types.ts
  services/csr/tests/reconciler.test.ts
  services/csr/tsconfig.json
Due: prettier --write

feat: add mocc contract validation library
  ga-graphai/packages/mocc/AGENTS.md
  ga-graphai/packages/mocc/package.json
  ga-graphai/packages/mocc/src/index.ts
  ga-graphai/packages/mocc/tests/mocc.test.ts
  ga-graphai/packages/mocc/tsconfig.json
Due: prettier --write
