Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Build Advanced Automation and Workflow Engine (#12022)
  apps/workflow-engine/migrations/001_create_workflow_tables.sql
  apps/workflow-engine/src/services/WorkflowService.ts
  docs/automation/GUIDE.md
  packages/business-rules/package.json
  packages/business-rules/src/index.ts
  packages/business-rules/tsconfig.json
  packages/connectors/package.json
  packages/connectors/src/index.ts
  packages/connectors/tsconfig.json
  packages/no-code-builder/package.json
  packages/no-code-builder/src/index.ts
  packages/no-code-builder/tsconfig.json
  packages/orchestration/package.json
  packages/orchestration/src/index.ts
  packages/orchestration/tsconfig.json
  packages/rpa/package.json
  packages/rpa/src/index.ts
  packages/rpa/tsconfig.json
  packages/task-routing/package.json
  packages/task-routing/src/index.ts
  packages/task-routing/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Build Synthetic Data Generation Platform (#12021)
  docs/synthetic-data/GUIDE.md
  docs/synthetic-data/README.md
  packages/audio-synthesis/package.json
  packages/audio-synthesis/src/index.ts
  packages/data-augmentation/package.json
  packages/data-augmentation/src/index.ts
  packages/geospatial-synthesis/package.json
  packages/geospatial-synthesis/src/index.ts
  packages/graph-synthesis/package.json
  packages/graph-synthesis/src/index.ts
  packages/image-synthesis/package.json
  packages/image-synthesis/src/index.ts
  packages/privacy-preserving/package.json
  packages/privacy-preserving/src/anonymization/KAnonymity.ts
  packages/privacy-preserving/src/differential-privacy/DifferentialPrivacy.ts
  packages/privacy-preserving/src/index.ts
  packages/privacy-preserving/src/validation/PrivacyValidator.ts
  packages/synthetic-data/package.json
  packages/synthetic-data/src/generators/TabularSynthesizer.ts
  packages/synthetic-data/src/generators/TimeSeriesSynthesizer.ts
  packages/synthetic-data/src/index.ts
  packages/synthetic-data/src/quality/QualityAssessor.ts
  packages/synthetic-data/src/utils/DataProfiler.ts
  packages/synthetic-data/tsconfig.json
  packages/text-generation/package.json
  packages/text-generation/src/entities/NamedEntityGenerator.ts
  packages/text-generation/src/gpt/TextSynthesizer.ts
  packages/text-generation/src/index.ts
  services/synthesis-service/package.json
  services/synthesis-service/src/index.ts
  services/synthesis-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Fix all security vulnerabilities (#11978)
  .eslintrc.security.cjs
  .github/workflows/security-scan.yml
  .husky/pre-commit
  apps/mobile-native/package.json
  docs/SECURITY.md
  package.json
  server/src/routes/streaming.ts
  server/src/security/security-headers.ts
  server/src/utils/README.md
  server/src/utils/crypto-secure-random.ts
  server/src/utils/input-sanitization.ts
Due: prettier --write

feat: Implement comprehensive IP Platform infrastructure
  client/src/pages/IPConsole/IPConsolePage.tsx
  client/src/pages/IPConsole/README.md
  client/src/pages/IPConsole/index.ts
  client/src/services/orchestrator/orchestrator.ts
  connectors/stix_taxii_connector/ip.meta.json
  docs/competitive/IP_PLATFORM_MOAT.md
  docs/ip/INDEX.md
  docs/ip/IP_PROGRAM_ROADMAP.md
  docs/ip/LINKING_CODE.md
  docs/ip/OBSERVABILITY.md
  docs/ip/PLATFORM_OVERVIEW.md
  docs/ip/ip-registry.yaml
  package.json
  packages/prov-ledger/ip.meta.json
  packages/prov-ledger/src/index.ts
  scripts/ip-metrics.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(counterterrorism): add production deployment and testing infrastructure
  docs/counterterrorism/DEPLOYMENT.md
  docs/counterterrorism/examples/integration-example.ts
  services/counterterrorism-service/Dockerfile
  services/counterterrorism-service/docker-compose.yml
  services/counterterrorism-service/k8s/configmap.yml
  services/counterterrorism-service/k8s/deployment.yml
  services/counterterrorism-service/k8s/hpa.yml
  services/counterterrorism-service/k8s/ingress.yml
  services/counterterrorism-service/k8s/service.yml
  services/counterterrorism-service/monitoring/grafana/datasources/prometheus.yml
  services/counterterrorism-service/monitoring/prometheus.yml
  services/counterterrorism-service/openapi.yml
  services/counterterrorism-service/scripts/deploy.sh
  services/counterterrorism-service/test/integration.test.ts
  services/threat-assessment-service/Dockerfile
  services/threat-assessment-service/openapi.yml
  services/threat-assessment-service/test/integration.test.ts
Due: prettier --write

docs(counterterrorism): add comprehensive platform README
  docs/counterterrorism/README.md
Due: prettier --write

feat: Implement comprehensive organized crime and trafficking intelligence platform
  .tsbuildinfo
  docs/organized-crime/GUIDE.md
  docs/organized-crime/INVESTIGATION_SUPPORT.md
  docs/organized-crime/README.md
  packages/corruption-tracking/package.json
  packages/corruption-tracking/src/index.ts
  packages/corruption-tracking/src/models/Corruption.ts
  packages/corruption-tracking/tsconfig.json
  packages/cybercrime-monitor/package.json
  packages/cybercrime-monitor/src/index.ts
  packages/cybercrime-monitor/src/models/Cybercrime.ts
  packages/cybercrime-monitor/tsconfig.json
  packages/drug-intelligence/package.json
  packages/drug-intelligence/src/index.ts
  packages/drug-intelligence/src/models/DrugTrafficking.ts
  packages/drug-intelligence/tsconfig.json
  packages/financial-crime/package.json
  packages/financial-crime/src/index.ts
  packages/financial-crime/src/models/FinancialCrime.ts
  packages/financial-crime/tsconfig.json
  packages/organized-crime-tracker/package.json
  packages/organized-crime-tracker/src/index.ts
  packages/organized-crime-tracker/src/models/CriminalOrganization.ts
  packages/organized-crime-tracker/src/services/OrganizationService.ts
  packages/organized-crime-tracker/src/utils/ComplianceValidators.ts
  packages/organized-crime-tracker/tsconfig.json
  packages/trafficking-networks/package.json
  packages/trafficking-networks/src/index.ts
  packages/trafficking-networks/src/models/TraffickingNetwork.ts
  packages/trafficking-networks/tsconfig.json
  services/law-enforcement-service/src/models/LawEnforcementOperations.ts
  services/organized-crime-service/src/middleware/auditMiddleware.ts
  services/organized-crime-service/src/middleware/authMiddleware.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Add comprehensive security hardening and testing
  .tsbuildinfo
  apps/analytics-engine/dist/config.d.ts
  apps/analytics-engine/dist/middleware/auth.d.ts
  apps/analytics-engine/dist/utils/logger.d.ts
  apps/graph-analytics/dist/config.d.ts
  apps/graph-analytics/dist/middleware/auth.d.ts
  apps/graph-analytics/dist/utils/logger.d.ts
  apps/ml-engine/dist/config.d.ts
  apps/ml-engine/dist/config.js
  apps/ml-engine/dist/server.js
  apps/ml-engine/dist/services/EntityResolutionService.d.ts
  apps/ml-engine/dist/services/EntityResolutionService.js
  apps/ml-engine/dist/training/TrainingPipeline.d.ts
  apps/ml-engine/dist/training/TrainingPipeline.js
  apps/ml-engine/dist/utils/logger.d.ts
  apps/search-engine/dist/middleware/auth.d.ts
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  client/tsconfig.tsbuildinfo
  server/src/controllers/WarRoomController.js
  server/src/examples/secure-api-endpoint.example.ts
  server/src/federal/airgap-service.ts
  server/src/federal/fips-compliance.ts
  server/src/federal/worm-audit-chain.ts
  server/src/http/incident.ts
  server/src/provenance/ledger.ts
  server/src/utils/__tests__/crypto-secure-random.test.ts
  server/src/utils/__tests__/input-sanitization.test.ts
Due: none

docs: Add comprehensive security improvements summary
  docs/SECURITY_IMPROVEMENTS_SUMMARY.md
Due: prettier --write

feat: Deep IP Platform enhancement - disclosures, API, automation
  .github/workflows/ip-metrics.yml
  adversarial-misinfo-defense-platform/ip.meta.json
  cognitive-targeting-engine/ip.meta.json
  docs/ip/F1-provenance-multi-llm-orchestration.md
  docs/ip/F2-cognitive-targeting-active-measures.md
  docs/ip/F3-adversarial-misinfo-defense.md
  observability/ip.meta.json
  package.json
  scripts/ip-weekly-report.ts
  server/src/connectors/ip.meta.json
  server/src/graphql/ip-registry.ts
  server/src/graphql/ip.meta.json
Due: prettier --write

Fix TypeScript compilation issues and problematic package dependencies
  apps/desktop-electron/package.json.disabled
  apps/mobile-native/package.json.disabled
  packages/common-types/tsconfig.json
  packages/geospatial/package.json
  packages/geospatial/src/index.ts
  packages/geospatial/tsconfig.json
  packages/govbrief/tsconfig.json
  packages/graph-ai-core/tsconfig.json
  packages/ingest-wizard/tsconfig.json
  packages/jira-integration/tsconfig.json
  packages/maestro-cli/tsconfig.json
  packages/maestro-core/tsconfig.json
  packages/prov-ledger-sdk/tsconfig.json
  packages/rptc/tsconfig.json
  packages/sdk-ts/tsconfig.json
  packages/types/tsconfig.json
  pnpm-workspace.yaml
  services/dashboard-service/package.json.disabled
  services/nlp-service/package.json.disabled
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Add invention disclosures for F4-F10 IP families
  docs/ip/F10-universal-connector-sdk.md
  docs/ip/F4-multi-cloud-arbitrage.md
  docs/ip/F5-graphrag-query-preview.md
  docs/ip/F6-investigation-workflow-golden-path.md
  docs/ip/F7-multimodal-ai-extraction.md
  docs/ip/F8-observability-slo-driven.md
  docs/ip/F9-export-controls-governance.md
Due: prettier --write

Fix node: imports and reduce TS errors from 203 to 195
  packages/govbrief/tsconfig.json
Due: prettier --write

feat(web): Add integration points and polish for tri-pane view
  .tsbuildinfo
  apps/web/src/App.tsx
  apps/web/src/components/tri-pane/EnhancedTriPaneView.tsx
  apps/web/src/components/tri-pane/index.ts
  apps/web/src/components/tri-pane/tri-pane.css
  apps/web/src/features/explain/index.ts
  apps/web/src/features/geospatial/index.ts
  apps/web/src/pages/ExplorePage.tsx
  apps/web/src/pages/TriPaneDemoPage.tsx
  apps/web/src/types/tri-pane-extended.ts
Due: prettier --write

Add production-ready features to Predictive Threat Suite
  docs/observability/runbooks/predictive-suite-runbook.md
  observability/prometheus/predictive-suite-alerts.yml
  predictive_threat_suite/benchmark.py
  predictive_threat_suite/config.yaml
  predictive_threat_suite/examples/python_client.py
  predictive_threat_suite/examples/typescript_client.ts
Due: prettier --write

Add GraphQL API, validation, CLI tools, and examples for Provenance Ledger Beta
  scripts/provenance-example.ts
  scripts/verify-provenance-bundle.ts
  server/src/app.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/resolvers/provenance-beta.ts
  server/src/graphql/schema.provenance-beta.ts
  server/src/graphql/schema/index.ts
  server/src/middleware/provenance-validation.ts
  server/src/routes/provenance-beta.ts
Due: none

Add PR description file
  PR_DESCRIPTION.md
Due: prettier --write

feat: Implement canonical graph schema and entity resolution pipeline (GA-ready)
  docs/design/canonical-graph-entity-resolution.md
  migrations/neo4j/003_canonical_entities.cypher
  packages/canonical-schema/README.md
  packages/canonical-schema/package.json
  packages/canonical-schema/src/core/base.ts
  packages/canonical-schema/src/entities/organization.ts
  packages/canonical-schema/src/entities/person.ts
  packages/canonical-schema/src/er/types.ts
  packages/canonical-schema/src/index.ts
  packages/canonical-schema/tsconfig.json
  server/db/migrations/postgres/2025-11-20_canonical_schema.sql
  server/src/graphql/schema/canonical.graphql
  services/er/src/ERDecisionService.ts
  services/er/src/ERScoringService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add pull request description for Provenance Ledger Beta
  PULL_REQUEST_DESCRIPTION.md
Due: prettier --write

feat: add behavioral telemetry analysis report (#11820)
  analysis/behavioral_telemetry/analyze.py
  analysis/behavioral_telemetry/events.json
  analysis/behavioral_telemetry/insights.md
Due: prettier --write

feat: add bias mitigation evaluation via cognitive NLP engine (#11819)
  cognitive_nlp_engine/__init__.py
  cognitive_nlp_engine/bias_mitigation_evaluation.py
  tests/intelgraph/test_bias_mitigation_evaluation.py
Due: none

Expand zero-cost control plane references across deployment docs (#11794)
  DEPLOYMENT_GUIDE.md
  deploy/aws/README.md
  deploy/free-stack/bootstrap-free.sh
  deploy/zero-cost-stacks.md
Due: prettier --write

fix: align jest config usage and refine MoE routing priorities (#11791)
  server/package.json
  server/src/conductor/router/index.ts
Due: prettier --write

docs: add targeted high-priority bug fix prompt (#11790)
  docs/Targeted-High-Priority-Bug-Fix-Prompt.md
Due: prettier --write

docs: capture deepagent mvp deliverable (#11789)
  docs/deepagent-mvp.md
Due: prettier --write

docs: deliver summit observability blueprint (#11772)
  docs/observability/phase-1-delivery-runbook.md
  docs/observability/summit-build-platform-monitoring-observability-spec.md
  docs/observability/summit-observability-delivery-blueprint.md
Due: prettier --write

docs: consolidate and enhance Summit documentation
  CONTRIBUTING.md
  README.md
  docs/AI_AGENT_WORKFLOW.md
  docs/ONBOARDING.md
Due: prettier --write

docs: add comprehensive testing strategy and templates
  docs/TESTING_STRATEGY.md
  docs/test-templates/README.md
  docs/test-templates/ai-ml-pipeline.test.ts
  docs/test-templates/golden-path-integration.test.ts
  docs/test-templates/graphql-resolver.test.ts
  docs/test-templates/narrative-engine.test.ts
  docs/test-templates/neo4j-operations.test.ts
  jest.coverage.config.cjs
Due: prettier --write

ci: add comprehensive PR automation workflows
  .github/labeler.yml
  .github/workflows/README-PR-AUTOMATION.md
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/pr-auto-assign-reviewers.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-size-checker.yml
  .github/workflows/pr-test-coverage-check.yml
Due: prettier --write

security: add comprehensive security hardening review report
  SECURITY_HARDENING_REVIEW.md
Due: prettier --write

feat(api): add comprehensive API documentation and client SDKs
  .github/workflows/api-docs.yml
  docs/API_INTEGRATION_GUIDE.md
  docs/API_README.md
  docs/API_VERSIONING_STRATEGY.md
  docs/index.html
  examples/python/basic_investigation.py
  examples/typescript/basic-investigation.ts
  openapi/sdk-config-python.json
  openapi/sdk-config-typescript.json
  scripts/generate-sdks.sh
Due: prettier --write

docs: comprehensive dependency audit and consolidation plan
  AUDIT_SUMMARY.md
  DEPENDENCY_AUDIT_REPORT.md
  UPGRADE_PATH.md
Due: prettier --write

feat(db): comprehensive database migration and schema management strategy
  .github/workflows/schema-validation.yml
  MIGRATION_STRATEGY_SUMMARY.md
  db/migrations/000_schema_versions.sql
  docs/DATABASE_MIGRATION_STRATEGY.md
  docs/MIGRATION_QUICK_START.md
  scripts/create-migration.sh
  scripts/migration-catalog.json
Due: prettier --write

feat: implement comprehensive caching strategy for Summit
  docs/CACHING_BEST_PRACTICES.md
  docs/CACHING_STRATEGY.md
  server/src/services/CacheInvalidationService.ts
  server/src/services/CacheWarmingService.ts
Due: prettier --write

feat(observability): comprehensive monitoring and observability enhancements
  RUNBOOKS/observability/error-rate-spike.md
  RUNBOOKS/observability/high-latency.md
  docker-compose.dev.yml
  docs/OBSERVABILITY.md
  docs/OBSERVABILITY_AUDIT.md
  observability/alertmanager/alertmanager.yaml
  observability/grafana/dashboards/summit-golden-signals.json
  observability/grafana/dashboards/summit-slo-overview.json
  observability/grafana/provisioning/datasources/jaeger.yml
  observability/grafana/provisioning/datasources/loki.yml
  observability/loki/loki-config.yaml
  observability/prometheus/alerts/comprehensive-slo-burn-alerts.yaml
  observability/prometheus/alerts/resource-alerts.yaml
  observability/prometheus/prometheus-dev.yml
  observability/promtail/promtail-config.yaml
  observability/slo/comprehensive-slos.yaml
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/examples.ts
  packages/logger/src/index.ts
  packages/logger/tsconfig.json
  services/dev-gateway/otel.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add observability enhancement summary
  OBSERVABILITY_SUMMARY.md
Due: prettier --write

docs: comprehensive PR triage plan to reduce 428 open PRs to <100
  PR_ANALYSIS.md
  PR_TRIAGE_EXECUTIVE_SUMMARY.md
  PR_TRIAGE_PLAN.md
  PR_TRIAGE_QUICK_START.md
  PR_TRIAGE_README.md
Due: prettier --write

feat: comprehensive deployment and infrastructure optimization
  .dockerignore
  .github/workflows/optimized-deployment.yml
  Dockerfile.optimized
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_OPTIMIZATION_SUMMARY.md
  docs/INFRASTRUCTURE.md
  helm/summit/Chart.yaml
  helm/summit/templates/_helpers.tpl
  helm/summit/values.yaml
  k8s/deployments/blue-green-strategy.yaml
  k8s/deployments/canary-strategy.yaml
  scripts/automated-rollback-system.sh
  scripts/build-optimized-docker.sh
Due: prettier --write

feat: implement comprehensive error handling and resilience patterns
  RESILIENCE_IMPLEMENTATION_SUMMARY.md
  docs/ERROR_HANDLING_GUIDE.md
  packages/error-handling/README.md
  packages/error-handling/package.json
  packages/error-handling/src/__tests__/errors.test.ts
  packages/error-handling/src/__tests__/resilience.test.ts
  packages/error-handling/src/database.ts
  packages/error-handling/src/error-codes.ts
  packages/error-handling/src/errors.ts
  packages/error-handling/src/examples/database-clients.ts
  packages/error-handling/src/examples/opa-client.ts
  packages/error-handling/src/index.ts
  packages/error-handling/src/middleware.ts
  packages/error-handling/src/resilience.ts
  packages/error-handling/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
