Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Add managed migration and backup workflow (#12582)
  server/db/MIGRATIONS.md
  server/db/managed-migrations/202412010001_migration_backups.down.sql
  server/db/managed-migrations/202412010001_migration_backups.up.sql
  server/db/managed-migrations/202412010002_guardrails.down.sql
  server/db/managed-migrations/202412010002_guardrails.up.sql
  server/db/managed-seeds/202412010001_seed_migration_backups.sql
  server/migrations/migrator.ts
  server/package.json
  server/scripts/managed-migrate.ts
  server/src/db/migrations/versioning.ts
  server/tests/db/migration-manager.test.ts
Due: prettier --write

Enhance model serving infrastructure (#12581)
  services/model-serving-service/README.md
  services/model-serving-service/src/batching.ts
  services/model-serving-service/src/monitoring.ts
  services/model-serving-service/src/registry.ts
  services/model-serving-service/src/runtime.ts
  services/model-serving-service/src/types.ts
Due: prettier --write

feat: add time-series analysis engine (#12579)
  docs/time-series-engine.md
  server/migrations/20260314000000-time-series-engine.sql
  server/src/time-series/__tests__/timeSeriesEngine.test.ts
  server/src/time-series/analysis/anomaly.ts
  server/src/time-series/analysis/forecast.ts
  server/src/time-series/connectors/influx-connector.ts
  server/src/time-series/connectors/timescale-connector.ts
  server/src/time-series/dashboard/dashboard.ts
  server/src/time-series/engine.ts
  server/src/time-series/index.ts
  server/src/time-series/pipelines/aggregation.ts
  server/src/time-series/pipelines/downsampling.ts
  server/src/time-series/types.ts
Due: prettier --write

feat: enhance search service with multi-backend features (#12577)
  services/search/README.md
  services/search/src/main.py
  services/search/tests/test_main.py
Due: prettier --write

feat: enhance media pipeline with CDN automation (#12576)
  server/src/services/CdnUploadService.ts
  server/src/services/ImageProcessingPipeline.ts
  server/src/services/MediaUploadService.ts
  server/src/services/__tests__/CdnUploadService.test.ts
  server/src/services/__tests__/ImageProcessingPipeline.test.ts
Due: none

feat: add event sourcing cqrs toolkit (#12575)
  ga-graphai/packages/event-sourcing-cqrs/AGENTS.md
  ga-graphai/packages/event-sourcing-cqrs/README.md
  ga-graphai/packages/event-sourcing-cqrs/package.json
  ga-graphai/packages/event-sourcing-cqrs/src/commandBus.ts
  ga-graphai/packages/event-sourcing-cqrs/src/consistency.ts
  ga-graphai/packages/event-sourcing-cqrs/src/eventBus.ts
  ga-graphai/packages/event-sourcing-cqrs/src/eventStore.ts
  ga-graphai/packages/event-sourcing-cqrs/src/index.ts
  ga-graphai/packages/event-sourcing-cqrs/src/queryModel.ts
  ga-graphai/packages/event-sourcing-cqrs/src/replayer.ts
  ga-graphai/packages/event-sourcing-cqrs/src/saga.ts
  ga-graphai/packages/event-sourcing-cqrs/src/snapshotStore.ts
  ga-graphai/packages/event-sourcing-cqrs/src/types.ts
  ga-graphai/packages/event-sourcing-cqrs/tests/eventSourcing.spec.ts
  ga-graphai/packages/event-sourcing-cqrs/tsconfig.json
Due: prettier --write

Enhance webhook management and dashboard (#12574)
  client/src/pages/WebhookDashboard.jsx
  client/src/services/api.js
  server/db/migrations/postgres/2025-11-28_webhook_attempts.sql
  server/src/webhooks/__tests__/webhook.test.ts
  server/src/webhooks/webhook.service.ts
  server/src/webhooks/webhook.worker.ts
Due: none

Add advanced security platform blueprint documentation (#12573)
  docs/security/ADVANCED_SECURITY_PLATFORM.md
Due: prettier --write

Add orchestration stack for dev and production (#12572)
  ops/orchestration/README.md
  ops/orchestration/docker-compose.dev.yml
  ops/orchestration/helm/summit-platform/Chart.yaml
  ops/orchestration/helm/summit-platform/templates/_helpers.tpl
  ops/orchestration/helm/summit-platform/templates/api.yaml
  ops/orchestration/helm/summit-platform/templates/istio.yaml
  ops/orchestration/helm/summit-platform/templates/namespace.yaml
  ops/orchestration/helm/summit-platform/templates/web.yaml
  ops/orchestration/helm/summit-platform/templates/worker.yaml
  ops/orchestration/helm/summit-platform/values.yaml
  ops/orchestration/k8s/api.yaml
  ops/orchestration/k8s/istio-gateway.yaml
  ops/orchestration/k8s/namespace.yaml
  ops/orchestration/k8s/web.yaml
  ops/orchestration/k8s/worker.yaml
Due: prettier --write

Add unified CI/CD workflow with security scanning and rollback automation (#12571)
  .github/workflows/unified-ci-cd.yml
Due: prettier --write

Add distributed tracing support to authz gateway (#12570)
  services/authz-gateway/README.md
  services/authz-gateway/package.json
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/observability.ts
  services/authz-gateway/tests/observability.test.ts
Due: prettier --write

Add Kong and Traefik gateway blueprints (#12569)
  ops/gateway/README.md
  ops/gateway/kong/kong.yaml
  ops/gateway/kong/values.yaml
  ops/gateway/traefik/dynamic/ingressroutes.yaml
  ops/gateway/traefik/values.yaml
Due: prettier --write

Add disaster recovery automation and runbooks (#12566)
  ops/disaster-recovery/README.md
  ops/disaster-recovery/architecture.md
  ops/disaster-recovery/config/backup-policy.yaml
  ops/disaster-recovery/runbooks/recovery-runbook.md
  ops/disaster-recovery/scripts/backup_runner.sh
  ops/disaster-recovery/scripts/backup_verify.sh
Due: prettier --write

Create minimal dev assistant prompt template (#12551)
  tools/prompt-system/README.md
  tools/prompt-system/jest.config.js
  tools/prompt-system/package.json
  tools/prompt-system/pnpm-lock.yaml
  tools/prompt-system/schemas/template.schema.json
  tools/prompt-system/src/cli/context.ts
  tools/prompt-system/src/cli/generator.ts
  tools/prompt-system/src/cli/index.ts
  tools/prompt-system/src/cli/interactive.ts
  tools/prompt-system/src/core/composer.ts
  tools/prompt-system/src/core/engine.ts
  tools/prompt-system/src/core/index.ts
  tools/prompt-system/src/core/registry.ts
  tools/prompt-system/src/core/types.ts
  tools/prompt-system/src/core/validator.ts
  tools/prompt-system/src/metrics/analytics.ts
  tools/prompt-system/src/metrics/reporter.ts
  tools/prompt-system/src/metrics/tracker.ts
  tools/prompt-system/templates/core/bug-fix.md
  tools/prompt-system/templates/core/feature.md
  tools/prompt-system/templates/core/refactor.md
  tools/prompt-system/templates/core/security-fix.md
  tools/prompt-system/templates/core/ui-ux-fix.md
  tools/prompt-system/templates/specialized/db-migration.md
  tools/prompt-system/templates/specialized/graphql-schema.md
  tools/prompt-system/tests/core/engine.test.ts
  tools/prompt-system/tests/core/validator.test.ts
  tools/prompt-system/tsconfig.json
Due: prettier --write

Fix logical flaws and validate correct behavior (#12539)
  packages/ai-wellbeing-predictors/pnpm-lock.yaml
  packages/ai-wellbeing-predictors/src/ResourceAllocator.ts
  packages/ai-wellbeing-predictors/src/__tests__/WellbeingPredictor.test.ts
  packages/ai-wellbeing-predictors/src/index.ts
  packages/ai-wellbeing-predictors/tsconfig.json
  packages/ai-wellbeing-predictors/vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: expand summit cloud commercial pitch (#12530)
  summit-commercial-product-pitch.md
Due: prettier --write

Build privacy-preserving analytics service with aggregation (#12520)
  services/privacy-analytics-service/.env.example
  services/privacy-analytics-service/README.md
  services/privacy-analytics-service/jest.config.js
  services/privacy-analytics-service/jest.setup.js
  services/privacy-analytics-service/package.json
  services/privacy-analytics-service/src/__tests__/DifferentialPrivacy.test.ts
  services/privacy-analytics-service/src/__tests__/PolicyEnforcer.test.ts
  services/privacy-analytics-service/src/__tests__/QueryTranslator.test.ts
  services/privacy-analytics-service/src/__tests__/security.test.ts
  services/privacy-analytics-service/src/db/connections.ts
  services/privacy-analytics-service/src/governance/GovernanceClient.ts
  services/privacy-analytics-service/src/index.ts
  services/privacy-analytics-service/src/metrics/PredefinedMetrics.ts
  services/privacy-analytics-service/src/privacy/DifferentialPrivacy.ts
  services/privacy-analytics-service/src/privacy/PolicyEnforcer.ts
  services/privacy-analytics-service/src/query/QueryExecutor.ts
  services/privacy-analytics-service/src/query/QueryTranslator.ts
  services/privacy-analytics-service/src/server.ts
  services/privacy-analytics-service/src/types/index.ts
  services/privacy-analytics-service/src/utils/config.ts
  services/privacy-analytics-service/src/utils/logger.ts
  services/privacy-analytics-service/tsconfig.json
Due: prettier --write

Build threat pattern library and knowledge graph (#12519)
  services/threat-library-service/README.md
  services/threat-library-service/jest.config.js
  services/threat-library-service/package.json
  services/threat-library-service/src/__tests__/api.test.ts
  services/threat-library-service/src/__tests__/cypher-generator.test.ts
  services/threat-library-service/src/__tests__/repository.test.ts
  services/threat-library-service/src/__tests__/service.test.ts
  services/threat-library-service/src/data/sample-threats.ts
  services/threat-library-service/src/errors.ts
  services/threat-library-service/src/index.ts
  services/threat-library-service/src/repository.ts
  services/threat-library-service/src/server.ts
  services/threat-library-service/src/service.ts
  services/threat-library-service/src/types.ts
  services/threat-library-service/src/utils/cache.ts
  services/threat-library-service/src/utils/cypher-generator.ts
  services/threat-library-service/tsconfig.json
Due: prettier --write

Implement case spaces with ABAC/RBAC and audit (#12509)
  server/src/cases/domain/CaseAuditLog.ts
  server/src/cases/domain/CasePolicyEngine.ts
  server/src/cases/domain/CaseTypes.ts
Due: none

Plan additional defensive security sprints (#12506)
  docs/security/INFORMATION-WARFARE-ROADMAP.md
Due: prettier --write

Research information warfare detection methods (#12505)
  docs/INFLUENCE_OPERATIONS_DEFENSE_ROADMAP.md
  docs/INFLUENCE_OPS_ARCHITECTURE.md
  docs/INFLUENCE_OPS_INTEGRATION_GUIDE.md
Due: prettier --write

Build AI copilot for natural language graph queries (#12504)
  server/src/ai/copilot/__tests__/copilot.e2e.test.ts
  server/src/ai/copilot/__tests__/guardrails.service.test.ts
  server/src/ai/copilot/__tests__/nl-query.service.test.ts
  server/src/ai/copilot/copilot.service.ts
  server/src/ai/copilot/graphrag-provenance.service.ts
  server/src/ai/copilot/guardrails.service.ts
  server/src/ai/copilot/index.ts
  server/src/ai/copilot/nl-query.service.ts
  server/src/ai/copilot/redaction.service.ts
  server/src/ai/copilot/sandbox-executor.service.ts
  server/src/ai/copilot/types.ts
Due: none

Extend roadmap with five new defense sprints (#12503)
  docs/INFORMATION_WARFARE_DEFENSE_ROADMAP_45_SPRINTS.md
Due: prettier --write

Deepfake detection and defense mechanisms (#12502)
  DEEPFAKE_DETECTION_README.md
  docker-compose.deepfake.yml
  docs/DEEPFAKE_DETECTION_ARCHITECTURE.md
  packages/deepfake-detection/README.md
  packages/deepfake-detection/jest.config.js
  packages/deepfake-detection/src/__tests__/validation.test.ts
  packages/deepfake-detection/src/constants/index.ts
  packages/deepfake-detection/src/types/alert.ts
  packages/deepfake-detection/src/types/detection.ts
  packages/deepfake-detection/src/types/index.ts
  packages/deepfake-detection/src/types/media.ts
  packages/deepfake-detection/src/types/model.ts
  packages/deepfake-detection/src/utils/ensemble.ts
  packages/deepfake-detection/src/utils/index.ts
  packages/deepfake-detection/src/utils/metrics.ts
  packages/deepfake-detection/src/utils/validation.ts
  packages/deepfake-detection/tsconfig.json
  services/deepfake-detection-service/.env.example
  services/deepfake-detection-service/Dockerfile
  services/deepfake-detection-service/migrations/001_initial_schema.sql
  services/deepfake-detection-service/requirements.txt
  services/deepfake-detection-service/src/__init__.py
  services/deepfake-detection-service/src/api/__init__.py
  services/deepfake-detection-service/src/api/main.py
  services/deepfake-detection-service/src/detectors/__init__.py
  services/deepfake-detection-service/src/detectors/audio_detector.py
  services/deepfake-detection-service/src/detectors/ensemble.py
  services/deepfake-detection-service/src/detectors/image_detector.py
  services/deepfake-detection-service/src/detectors/video_detector.py
  services/deepfake-detection-service/src/models/__init__.py
  services/deepfake-detection-service/src/models/loader.py
  services/deepfake-detection-service/src/utils/__init__.py
  services/deepfake-detection-service/src/utils/config.py
  services/deepfake-detection-service/src/utils/metrics.py
  services/deepfake-detection-service/src/utils/storage.py
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add ultra-prime prompt suite summary (#12492)
  docs/companyos_parallel_paved_road.md
  docs/ultra_prime_recursive_prompt.md
Due: prettier --write

Fix eMASS bundle CLI usability (#12489)
  tools/federal/EMASS_BUNDLE.md
  tools/federal/emass-bundle.ts
Due: prettier --write

Add BYOK/HSM orchestrator with zero-trust rotation (#12488)
  security/crypto-plan.md
  server/src/security/crypto/__tests__/byok-hsm-orchestrator.test.ts
  server/src/security/crypto/byok-hsm-orchestrator.ts
  server/src/security/crypto/index.ts
Due: prettier --write

Add predictive autoscaling optimization and cost-aware scheduling (#12487)
  src/scale/GlobalScaleManager.ts
Due: none

Enhance chaos resiliency harness (#12486)
  non_functional_targets/chaos_runner.py
  tests/chaos/chaos-experiments.yaml
  tests/chaos/test_chaos_runner.py
  tests/non_functional_targets/test_non_functional_targets.py
Due: none

Add connector discovery API and dynamic adapters (#12485)
  packages/connectors/package.json
  packages/connectors/src/__tests__/discovery.test.ts
  packages/connectors/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add copilot cost preview with guardrails (#12483)
  ga-graphai/packages/query-copilot/package.json
  ga-graphai/packages/query-copilot/src/costPreview.ts
  ga-graphai/packages/query-copilot/tests/costPreview.spec.ts
Due: prettier --write

feat: add autonomous evolution orchestrator (#12482)
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/src/prompt/autonomousEvolution.ts
  ga-graphai/packages/meta-orchestrator/tests/autonomousEvolution.test.ts
Due: none

feat: add parallel universe optimization to qecf (#12481)
  ops/qecf/quantum_cognition.py
Due: none

feat: add disclosure packager views (#12480)
  packages/tasks-core/src/ops/disclosure.package.ts
  packages/tasks-core/test/disclosure.package.spec.ts
Due: eslint --fix --max-warnings=0 --cache

Add external provenance bundle validation workflow (#12479)
  ga-graphai/packages/prov-ledger/src/externalValidator.ts
  ga-graphai/packages/prov-ledger/tests/external-validator.test.ts
Due: none

feat: harden contextual step-up elevation (#12478)
  services/authz-gateway/src/stepup.ts
  services/authz-gateway/src/types.ts
  services/authz-gateway/tests/auth.test.ts
  services/authz-gateway/tests/proxy.test.ts
  services/authz-gateway/tests/security.test.ts
  services/authz-gateway/tests/stepup.test.ts
Due: none

feat: add tri-pane ux layout controls (#12476)
  ga-graphai/packages/web/tests/triPane.test.ts
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
