Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(governance): add Qwen AI integration with determinism assurance
  scripts/ci/verify_evidence_id_consistency.mjs
Due: none

docs: add MCP agent-age alignment guidance
  agents/examples/MCP_AGENT_AGE_ALIGNMENT_001.json
  docs/roadmap/STATUS.json
  intelgraph-mcp/docs/strategy/agent-age-mcp-alignment.md
  intelgraph-mcp/docs/strategy/best-in-class-mcp.md
  prompts/docs/mcp-agent-age-alignment@v1.md
  prompts/registry.yaml
Due: prettier --write

feat(context-shell): add policy-gated context shell
  agents/examples/context-shell-task.json
  docs/context-shell.md
  docs/roadmap/STATUS.json
  docs/runbooks/context-shell-repo-audit.md
  libs/context-shell/node/index.ts
  libs/context-shell/node/package.json
  libs/context-shell/node/src/context-shell.ts
  libs/context-shell/node/src/evidence.ts
  libs/context-shell/node/src/policy.ts
  libs/context-shell/node/src/types.ts
  libs/context-shell/node/src/utils.ts
  prompts/engineering/context-shell@v1.md
  prompts/registry.yaml
  server/package.json
  server/src/maestro/engine/WorkflowEngine.ts
  server/src/maestro/tools/context-shell.ts
  tests/context-shell/context-shell.test.ts
Due: prettier --write

feat: add context shell tooling
  agents/examples/CONTEXT_SHELL_V1.json
  docs/roadmap/STATUS.json
  docs/runbooks/context-shell-repo-audit.md
  docs/runbooks/context-shell.md
  jest.config.cjs
  jest.projects.cjs
  libs/context-shell/node/README.md
  libs/context-shell/node/__tests__/context-shell.test.ts
  libs/context-shell/node/evidence.ts
  libs/context-shell/node/index.ts
  libs/context-shell/node/interpreter.ts
  libs/context-shell/node/package.json
  libs/context-shell/node/policy.ts
  libs/context-shell/node/redaction.ts
  libs/context-shell/node/types.ts
  prompts/implement/context-shell@v1.md
  prompts/registry.yaml
  server/src/maestro/engine/WorkflowEngine.ts
  server/src/maestro/tools/context-shell.ts
Due: prettier --write

docs: Add merge readiness verification checklist
  MERGE_READINESS.md
Due: prettier --write

chore: add policy-audit source map to gitignore
  .gitignore
Due: none

feat: Add production-grade System Health & Invariants operator dashboard
  client/src/App.router.jsx
  client/src/flags/featureFlags.ts
  client/src/flags/types.ts
  client/src/pages/SystemHealthDashboard.tsx
  client/src/pages/__tests__/SystemHealthDashboard.test.tsx
  docs/system-health-dashboard.md
  server/src/app.ts
  server/src/routes/__tests__/ops-health.test.ts
  server/src/routes/ops-health.ts
Due: prettier --write

docs: Add System Health Dashboard quickstart guide and update .env.example
  .env.example
  SYSTEM_HEALTH_QUICKSTART.md
Due: prettier --write

feat(governance): implement deterministic Evidence ID Consistency gate v1.3.0
  scripts/ci/__tests__/verify_evidence_id_consistency.test.mjs
  scripts/ci/ai-providers/cache.mjs
  scripts/ci/ai-providers/ledger.mjs
  scripts/ci/ai-providers/patch-generator.mjs
  scripts/ci/ai-providers/qwen-client.mjs
  scripts/ci/ai-providers/qwen.mjs
  scripts/ci/lib/canonical-json-serializer.mjs
  scripts/ci/verify_evidence_id_consistency.mjs
Due: none

fix: resolve TypeScript compilation errors and improve module paths
  tools/issue-sweeper/LEDGER.ndjson
  tools/issue-sweeper/REPORT.md
  tools/issue-sweeper/STATE.json
  tools/issue-sweeper/lib/github.ts
  tools/issue-sweeper/lib/multi-repo.ts
  tools/issue-sweeper/lib/patterns.ts
  tools/issue-sweeper/lib/pr-automation.ts
  tools/issue-sweeper/lib/reporter.ts
  tools/issue-sweeper/lib/state.ts
  tools/issue-sweeper/lib/verifier.ts
  tools/issue-sweeper/package.json
Due: prettier --write

feat: add workflow to populate roadmap items into Project #19
  .github/workflows/populate-roadmap.yml
Due: prettier --write

chore(governance): finalize P0-P2 evidence ID consistency gate with Qwen integration
  scripts/ci/__tests__/determinism-validation-enhanced.test.mjs
  scripts/ci/verify_evidence_id_consistency.mjs
Due: none

fix(determinism): prevent zero-byte artifacts via single-writer stamp architecture
  scripts/ci/verify_evidence_id_consistency.mjs
Due: none

feat: add branch protection reconciliation plan for issue #15790
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.json
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.md
  evidence/branch-protection-reconciliation-issue-comment.md
  evidence/branch-protection-reconciliation-runbook-2026-01-16T01-15-54Z.sh
Due: prettier --write

fix(security): sandbox migration scripts and add security policies
  docs/ci/BRANCH_PROTECTION_REQUIRED_CHECKS_NOTES.md
  docs/security/SECURITY_MERGE_POLICY.md
  docs/security/SECURITY_MERGE_POLICY.yml
  docs/security/sprint/2026-01-15_antigravity_merge_order_and_risks.md
  server/src/migrations/migrationFramework.ts
  server/tests/security/manual_isolation.test.ts
Due: prettier --write

ci: security trust separation
  .github/workflows/ci-trusted.yml
  .github/workflows/ci.yml
Due: prettier --write

feat(governance): implement atomic stamp writing to prevent zero-byte artifacts
  scripts/ci/__tests__/final-determinism-verification.test.mjs
Due: none

feat: enhance SOC control CI integration for issue #14700
  .github/workflows/ci-core.yml
  scripts/test-soc-controls.sh
Due: prettier --write

feat(standup): add 2026-01-15 execution plan with 4-workstream coordination
  STANDUP_EXECUTION_PLAN_2026-01-15.md
Due: prettier --write

chore: branch protection smoke test (no-op)
  .github/workflows/ci.yml
  .github/workflows/project19-generate-snapshot.yml
  docs/ci/BRANCH_PROTECTION_REQUIRED_CHECKS_NOTES.md
  docs/governance/CI_INTEGRATION_GUIDE.md
  docs/governance/OPERATING_PROCEDURES.md
  docs/governance/SYSTEM_IMPLEMENTATION_COMPLETE.md
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.json
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.md
  evidence/branch-protection-reconciliation-issue-comment.md
  evidence/branch-protection-reconciliation-runbook-2026-01-16T01-15-54Z.sh
  package.json
  packages/work-graph/ROADMAP.md
  packages/work-graph/scripts/enrich-batch.sh
  packages/work-graph/scripts/enrich-unenriched.sh
  packages/work-graph/scripts/sync-all-platforms.ts
  packages/work-graph/src/sync/enrichment.ts
  packages/work-graph/src/sync/platform-sync.ts
  scripts/config/project19-field-map.json
  scripts/config/project19-field-schema.json
  scripts/config/project19-label-map.json
  scripts/config/project19-score-policy.json
  scripts/config/project19-views.json
  scripts/config/project19-workflow-map.json
  scripts/governance/project19/README.md
  scripts/governance/project19/bin/apply-event.mjs
  scripts/governance/project19/bin/apply-workflow-run.mjs
  scripts/governance/project19/bin/ensure-fields.mjs
  scripts/governance/project19/bin/generate-board-snapshot.mjs
  scripts/governance/project19/bin/health-check.mjs
  scripts/governance/project19/bin/process-ci-signal.mjs
  scripts/governance/project19/bin/process-event.mjs
  scripts/governance/project19/bin/reconcile-nightly.mjs
  scripts/test-soc-controls.sh
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: verify and close Issue #14700 - SOC control tests already integrated
  evidence/issue-14700-improvement-issues.md
  evidence/issue-14700-soc-control-tests-verification.json
  evidence/issue-14700-soc-control-tests-verification.md
  tools/issue-sweeper/ledger/14700.json
Due: prettier --write

chore(devstation): add Ubuntu Summit dev station bootstrap
  docs/devstation/README.md
  infra/devstation/README.md
  scripts/devstation/ubuntu/bootstrap.sh
  scripts/devstation/ubuntu/verify.sh
  scripts/devstation/ubuntu/versions.lock.json
Due: prettier --write

ci(soc): integrate SOC-control tests into CI (#14700)
  .github/workflows/compliance.yml
  docs/governance/GATES/soc-control-verification.md
  package.json
  scripts/compliance/verify_governance.ts
Due: prettier --write

docs(security): add branch protection validation report
  docs/security/branch_protection_validation_report.md
Due: prettier --write

feat(governance): add insurance-grade risk metrics and board snapshot
  .github/workflows/ci-trusted.yml
  .github/workflows/deploy-stage.yml
  deploy/charts/summit/Chart.yaml
  deploy/charts/summit/templates/_helpers.tpl
  deploy/charts/summit/templates/deployment.yaml
  deploy/charts/summit/templates/ingress.yaml
  deploy/charts/summit/templates/service.yaml
  deploy/charts/summit/values.yaml
  deploy/values/stage.yaml
  docs/ga/BOARD_TRUST_SNAPSHOT.md
  schemas/risk_metrics.schema.json
  scripts/ci/compute_risk_metrics.mjs
  scripts/ci/evaluate_trust_state.mjs
  scripts/ci/verify_determinism.mjs
  scripts/ci/verify_external_attestation.mjs
  scripts/config/project19-field-map.json
  scripts/verify-deployment.sh
Due: prettier --write

feat(governance): add regulator control mapping and automated dossier generation
  .commitlintrc.cjs
  .github/workflows/ci-trusted.yml
  .prettierignore
  docs/ga/REGULATOR_MAPPING.yml
  schemas/control_mapping.schema.json
  scripts/ci/generate_evidence_dossier.mjs
Due: prettier --write

feat(infra): consolidate manifests into Helm chart and add stage deploy workflow
  scripts/ci/verify_evidence_id_consistency.mjs
  scripts/config/project19-field-schema.json
  scripts/config/project19-label-map.json
  scripts/verify-deployment.sh
Due: prettier --write

docs: add minimal architecture index and graph schema
  agents/examples/ARCH_INDEX_MINIMAL_20260115.json
  docs/architecture/README.md
  docs/architecture/summit-graph.schema.json
  docs/architecture/system-index.json
  docs/architecture/system-index.md
  docs/roadmap/STATUS.json
  prompts/architecture/minimal-architecture-index@v1.md
  prompts/registry.yaml
Due: prettier --write

docs: add content model schemas and example
  docs/roadmap/STATUS.json
  docs/specs/content-model/README.md
  docs/specs/content-model/block.schema.json
  docs/specs/content-model/brief.schema.json
  docs/specs/content-model/claim.schema.json
  docs/specs/content-model/governance-drift-brief.example.json
  prompts/docs/content-model-brief-claim-block@v1.md
  prompts/registry.yaml
Due: prettier --write

chore: align branch protection ruleset payloads
  .github/protection-rules.yml
  agents/examples/BRANCH_PROTECTION_RULESET_20260114.json
  docs/ci/BRANCH_PROTECTION_POLICY.md
  docs/roadmap/STATUS.json
  package.json
  prompts/ci/branch-protection-enforcement.md
  prompts/registry.yaml
  scripts/ci/__tests__/generate_ruleset_payload.test.mjs
  scripts/ci/generate_ruleset_payload.mjs
Due: prettier --write

docs: add supply chain integrity update
  docs/roadmap/STATUS.json
  docs/supply-chain/INTEGRITY_UPDATE_2026-01-14.md
  prompts/docs/supply-chain-integrity-update@v1.md
  prompts/registry.yaml
Due: prettier --write

feat(provenance): add w3c prov exporter and ci verification gate
  .github/workflows/lineage-provenance-verification.yml
  GAP_ANALYSIS_PROVENANCE.md
  docs/ga/AUDIT_REPLAY.md
  docs/ga/EVIDENCE_LINEAGE_PROVENANCE.md
  docs/ga/EVIDENCE_RETENTION_POLICY.yml
  docs/ga/EXTERNAL_ATTESTATION_CONTRACT.md
  docs/ga/EXTERNAL_AUDITOR_REPLAY.md
  docs/ga/FAILURE_ECONOMICS.yml
  docs/ga/GA_SUPPLY_CHAIN_PROOF.yml
  docs/ga/TRUST_DEGRADATION_MODEL.yml
  docs/ga/slsa_provenance.example.json
  docs/ga/slsa_provenance.schema.json
  docs/governance/CI_INTEGRATION_GUIDE.md
  docs/governance/OPERATING_PROCEDURES.md
  docs/governance/SYSTEM_IMPLEMENTATION_COMPLETE.md
  docs/security/branch_protection_validation_report.md
  docs/security/trusted_attestors.json
  infra/postgres/provsql-extension.sql
  package.json
  packages/provenance-exporter/package.json
  packages/provenance-exporter/schemas/prov.schema.json
  packages/provenance-exporter/src/prov-export.ts
  packages/provenance-exporter/tsconfig.json
  packages/work-graph/scripts/enrich-from-file.sh
  packages/work-graph/scripts/organize-sprints.sh
  schemas/external_attestation.schema.json
  scripts/config/project19-score-policy.json
  scripts/config/project19-views.json
  scripts/config/project19-workflow-map.json
  scripts/db/provenance-sync.mjs
  scripts/governance/project19/README.md
  scripts/governance/project19/lib/determinism.mjs
  scripts/governance/project19/lib/field-ops.mjs
  scripts/governance/project19/lib/github-graphql.mjs
  scripts/governance/project19/lib/item-ops.mjs
  scripts/governance/project19/lib/mapping.mjs
  scripts/governance/project19/lib/schema.mjs
  stage-artifact.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add content primitives governance runbook
  docs/roadmap/STATUS.json
  docs/runbooks/content-primitives-model.md
Due: prettier --write

feat: add deterministic OpenLineage emitter
  agents/examples/LINEAGE_EMITTER_TASK.json
  docs/roadmap/STATUS.json
  package.json
  packages/lineage-emitter/README.md
  packages/lineage-emitter/package.json
  packages/lineage-emitter/src/index.ts
  packages/lineage-emitter/src/openlineage.test.ts
  packages/lineage-emitter/src/openlineage.ts
  packages/lineage-emitter/tsconfig.json
  prompts/lineage/lineage-emitter@v1.md
  prompts/registry.yaml
  schemas/openlineage-event.schema.json
  src/data-pipeline/pipeline.ts
  tests/data-pipeline.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore(security): add branch protection drift detector
  .github/workflows/branch-protection-drift.yml
  docs/ci/BRANCH_PROTECTION_REQUIRED_CHECKS_NOTES.md
  docs/security/branch_protection_snapshots/DRIFT_DETECTOR.md
  docs/security/branch_protection_snapshots/README.md
  scripts/security/check_branch_protection_drift.ts
Due: prettier --write

chore(security): add drift detector simulation mode
  .github/workflows/branch-protection-drift.yml
  docs/security/branch_protection_snapshots/DRIFT_DETECTOR.md
  scripts/release/check_branch_protection_drift.sh
Due: prettier --write

feat(release): implement release-train hardening with deterministic GA verification
  .github/workflows/release-determinism-gate.yml
  docs/ga/GA_VERIFICATION.md
  package.json
  scripts/ga/ga-proof.mjs
  scripts/ga/generate-readiness-marker.mjs
  scripts/ga/validate-determinism.mjs
  scripts/release/lib/determinism.mjs
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
