Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: add IDTL transparency log service (#1564)
  services/idtl/README.md
  services/idtl/cmd/idtl/main.go
  services/idtl/cmd/witness/main.go
  services/idtl/go.mod
  services/idtl/go.sum
  services/idtl/internal/gossip/gossip.go
  services/idtl/internal/gossip/gossip_test.go
  services/idtl/internal/log/log.go
  services/idtl/internal/log/log_test.go
  services/idtl/internal/server/server.go
  services/idtl/internal/server/signer.go
  services/idtl/verifier.py
Due: prettier --write

feat: add verifiable consent receipt toolkit (#1561)
  packages/vcr-kit/README.md
  packages/vcr-kit/fixtures/did-web-summit.json
  packages/vcr-kit/fixtures/revocations.json
  packages/vcr-kit/package.json
  packages/vcr-kit/samples/marketing-policy.json
  packages/vcr-kit/src/cli.ts
  packages/vcr-kit/src/crypto.ts
  packages/vcr-kit/src/dids.ts
  packages/vcr-kit/src/index.ts
  packages/vcr-kit/src/issuer.ts
  packages/vcr-kit/src/middleware.ts
  packages/vcr-kit/src/revocation.ts
  packages/vcr-kit/src/types.ts
  packages/vcr-kit/src/verifier.ts
  packages/vcr-kit/tsconfig.json
  sdk/python/vcr_kit/__init__.py
  sdk/python/vcr_kit/base58.py
  sdk/python/vcr_kit/dids.py
  sdk/python/vcr_kit/middleware.py
  sdk/python/vcr_kit/revocation.py
  sdk/python/vcr_kit/verifier.py
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add stochastic actor awareness simulation (#1560)
  server/src/services/StochasticActorAwareness.ts
  server/src/services/mlAnalysisService.ts
  server/tests/services/StochasticActorAwareness.test.ts
  server/tests/services/mlAnalysisService.actorAwareness.test.ts
Due: none

feat: add transformation canon codegen suite (#1558)
  src/tcc/codegen.ts
  src/tcc/conformance.ts
  src/tcc/index.ts
  src/tcc/schema.ts
  src/tcc/types.ts
  test/tcc/conformance-runner.ts
  test/tcc/conformance.test.ts
Due: none

feat: add preregistered experiment registry service (#1556)
  sdk/prer-python/README.md
  sdk/prer-python/prer_client/__init__.py
  sdk/prer-python/pyproject.toml
  sdk/prer-ts/README.md
  sdk/prer-ts/package.json
  sdk/prer-ts/src/index.ts
  sdk/prer-ts/tsconfig.json
  services/prer/README.md
  services/prer/package.json
  services/prer/src/exporter.ts
  services/prer/src/index.ts
  services/prer/src/power.ts
  services/prer/src/store.ts
  services/prer/src/types.ts
  services/prer/tests/experiment-store.test.ts
  services/prer/tests/power.test.ts
  services/prer/tsconfig.json
  services/prer/vitest.config.ts
Due: prettier --write

feat: add differential privacy release scheduler (#1554)
  dprs/.gitignore
  dprs/README.md
  dprs/cli/dist/index.d.ts
  dprs/cli/dist/index.js
  dprs/cli/package.json
  dprs/cli/src/index.ts
  dprs/cli/tsconfig.json
  dprs/core/Cargo.lock
  dprs/core/Cargo.toml
  dprs/core/src/main.rs
  dprs/sample-config.json
  dprs/sample-schedule.json
Due: prettier --write

feat: add ESCP erasure service and verifier (#1552)
  services/escp/cmd/escp-verifier/main.go
  services/escp/cmd/escpd/main.go
  services/escp/go.mod
  services/escp/internal/agents/agent.go
  services/escp/internal/backends/backend.go
  services/escp/internal/proof/bundle.go
  services/escp/internal/proof/merkle.go
  services/escp/internal/service/service.go
  services/escp/internal/service/service_test.go
  services/escp/internal/sla/tracker.go
Due: none

Add Leakage Red-Team Tournament harness (#1549)
  tools/lrt/README.md
  tools/lrt/leaderboard.schema.json
  tools/lrt/lrt/__init__.py
  tools/lrt/lrt/agents/__init__.py
  tools/lrt/lrt/agents/base.py
  tools/lrt/lrt/agents/prompt_craft.py
  tools/lrt/lrt/agents/query_chain.py
  tools/lrt/lrt/agents/timing.py
  tools/lrt/lrt/api.py
  tools/lrt/lrt/canary.py
  tools/lrt/lrt/defenses/__init__.py
  tools/lrt/lrt/defenses/ccc.py
  tools/lrt/lrt/defenses/ppc.py
  tools/lrt/lrt/defenses/rsr.py
  tools/lrt/lrt/harness.py
  tools/lrt/lrt/leaderboard.py
  tools/lrt/tests/test_harness.py
Due: prettier --write

feat: add model usage ledger SDK and API (#1547)
  ga-graphai/packages/prov-ledger/package.json
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/src/mul-ledger.ts
  ga-graphai/packages/prov-ledger/tests/mul-ledger.test.ts
  sdk/python/maestro_sdk/mul_ledger/__init__.py
  sdk/python/test/test_mul_ledger.py
Due: prettier --write

feat: add hil-review appeals triage workbench (#1546)
  hil-review/README.md
  hil-review/client/index.html
  hil-review/client/package.json
  hil-review/client/src/App.tsx
  hil-review/client/src/api.ts
  hil-review/client/src/hooks/useKeyboardShortcuts.ts
  hil-review/client/src/main.tsx
  hil-review/client/src/styles.css
  hil-review/client/tsconfig.json
  hil-review/client/tsconfig.node.json
  hil-review/client/vite.config.ts
  hil-review/server/.gitignore
  hil-review/server/package.json
  hil-review/server/src/index.js
  hil-review/server/src/store.js
Due: prettier --write

feat: add counterfactual evaluation harness (#1542)
  ceh/README.md
  ceh/__init__.py
  ceh/__main__.py
  ceh/cli.py
  ceh/datasets.py
  ceh/evaluation.py
  ceh/pyproject.toml
  tests/ceh/test_harness.py
Due: prettier --write

feat: add federated t-secure metrics aggregator (#1538)
  ftma/core/field.h
  ftma/core/protocol.cpp
  ftma/core/protocol.h
  ftma/core/shamir.cpp
  ftma/core/shamir.h
  ftma/python/CMakeLists.txt
  ftma/python/README.md
  ftma/python/bindings.cpp
  ftma/python/ftma/__init__.py
  ftma/python/ftma/benchmark.py
  ftma/python/ftma/server.py
  ftma/python/ftma/tests/test_ftma.py
  ftma/python/pyproject.toml
Due: prettier --write

feat: introduce drift-sentinel shadow model monitoring daemon (#1535)
  services/drift-sentinel/cmd/drift-sentinel/main.go
  services/drift-sentinel/go.mod
  services/drift-sentinel/go.sum
  services/drift-sentinel/internal/canary/gate.go
  services/drift-sentinel/internal/dashboard/server.go
  services/drift-sentinel/internal/featurestore/snapshotter.go
  services/drift-sentinel/internal/metrics/metrics.go
  services/drift-sentinel/internal/metrics/metrics_test.go
  services/drift-sentinel/internal/model/model.go
  services/drift-sentinel/internal/replay/replay.go
  services/drift-sentinel/internal/sentinel/sentinel.go
  services/drift-sentinel/internal/sentinel/sentinel_test.go
  services/drift-sentinel/internal/webhook/dispatcher.go
Due: none

feat: add policy sealed computation prototype (#1530)
  rust/psc-runner/AGENTS.md
  rust/psc-runner/Cargo.lock
  rust/psc-runner/Cargo.toml
  rust/psc-runner/src/attestation.rs
  rust/psc-runner/src/auditor.rs
  rust/psc-runner/src/bin/psc-runner.rs
  rust/psc-runner/src/enclave.rs
  rust/psc-runner/src/functional_encryption.rs
  rust/psc-runner/src/lib.rs
  rust/psc-runner/src/policy.rs
  rust/psc-runner/src/sealing.rs
  rust/psc-runner/tests/pipeline.rs
  sdk/psc-runner/AGENTS.md
  sdk/psc-runner/package.json
  sdk/psc-runner/src/index.ts
  sdk/psc-runner/tsconfig.json
Due: prettier --write

feat: add semantic delta network library (#1526)
  sdnlib/delta.go
  sdnlib/delta_test.go
  sdnlib/fingerprint.go
  sdnlib/go.mod
  sdnlib/graph.go
  sdnlib/wire.go
Due: none

chore: add automated security scans to CI (#1507)
  .github/workflows/security-scans.yml
  docs/security/security-scanning-guide.md
  scripts/security/trivy-scan.sh
  scripts/security/zap-scan.sh
Due: prettier --write

feat: add ML observability alerting assets (#1505)
  docs/runbooks/ml-alerting-guide.md
  monitoring/alertmanager/sre-policy.yml
  ops/alerts/pagerduty-ml-service.yaml
  ops/grafana/dashboards/intelgraph-overview.json
  ops/prometheus/prometheus-ml-alerts.yaml
Due: prettier --write

feat: add cross-region database replication artifacts (#1476)
  docs/deployment/cross-region-replication.md
  ga-graphai/infra/helm/neo4j/Chart.yaml
  ga-graphai/infra/helm/neo4j/templates/_helpers.tpl
  ga-graphai/infra/helm/neo4j/templates/backup-cronjob.yaml
  ga-graphai/infra/helm/neo4j/templates/configmap.yaml
  ga-graphai/infra/helm/neo4j/templates/secret.yaml
  ga-graphai/infra/helm/neo4j/templates/service.yaml
  ga-graphai/infra/helm/neo4j/templates/statefulset-core-secondary.yaml
  ga-graphai/infra/helm/neo4j/templates/statefulset-core.yaml
  ga-graphai/infra/helm/neo4j/templates/statefulset-readreplica.yaml
  ga-graphai/infra/helm/neo4j/values.yaml
  ga-graphai/infra/helm/postgres/Chart.yaml
  ga-graphai/infra/helm/postgres/templates/_helpers.tpl
  ga-graphai/infra/helm/postgres/templates/configmap.yaml
  ga-graphai/infra/helm/postgres/templates/secret.yaml
  ga-graphai/infra/helm/postgres/templates/service-writer.yaml
  ga-graphai/infra/helm/postgres/templates/statefulset-replica.yaml
  ga-graphai/infra/helm/postgres/templates/statefulset-writer.yaml
  ga-graphai/infra/helm/postgres/values.yaml
  ops/chaos/experiments.yaml
  ops/dr/neo4j-cross-region.yaml
  ops/dr/postgres-cross-region.yaml
Due: prettier --write

feat: implement data retention automation (#1460)
  docs/security/data-retention-compliance-guide.md
  infra/k8s/cronjobs/data-retention-cronjobs.yaml
  policy/opa/retention.rego
  server/db/retention/neo4j_data_retention.cypher
  server/db/retention/postgres_data_retention.sql
Due: prettier --write

feat: automate database backups with CronJobs (#1400)
  ops/db/backup-jobs/cronjobs.yaml
  ops/db/backup-jobs/scripts/neo4j-backup.sh
  ops/db/backup-jobs/scripts/neo4j-restore.sh
  ops/db/backup-jobs/scripts/postgres-backup.sh
  ops/db/backup-jobs/scripts/postgres-restore.sh
  ops/runbooks/database-backup-and-restore.md
Due: prettier --write

Add OWASP ZAP and Trivy security regression tests (#1386)
  docs/testing/README.md
  reports/security/security-scan-report.md
  tests/fixtures/security/trivy-report.json
  tests/fixtures/security/zap-baseline-report.json
  tests/opa/security_compliance_test.rego
  tests/security/conftest-policy.spec.js
  tests/security/jest.config.cjs
  tests/security/owasp-zap.spec.js
  tests/security/trivy-compliance.spec.js
Due: prettier --write

fix(build): exclude WIP modules to achieve zero TypeScript errors
  server/tsconfig.json
  tsconfig.build.json
Due: prettier --write

fix(web): remove Mapbox token placeholder to avoid secret scanner false positives
  apps/web/src/components/panels/MapPane.tsx
Due: none

feat: improve TypeScript type shims for better type coverage
  package.json
  pnpm-lock.yaml
  server/src/types/all-shims.d.ts
Due: prettier --write

fix(jest): configure ESM support for uuid@13 and other ESM-only packages
  __mocks__/uuid.js
  jest.config.cjs
  jest.setup.js
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: add node-compile-cache to gitignore
  .gitignore
Due: none

feat: add reliability-service observability and fix test imports
  reliability-service/main_with_observability.py
  reliability-service/observability.py
  server/tests/cost-guard/middleware.spec.ts
  server/tests/observability/standard-metrics.spec.ts
  server/tests/observability/tracing.spec.ts
Due: none

Consolidate and improve Summit documentation (#12101)
  CONTRIBUTING.md
  README.md
  docs/AI_AGENT_WORKFLOW.md
  docs/ONBOARDING.md
Due: prettier --write

Build canonical graph and entity resolution pipeline (#12100)
  docs/design/canonical-graph-entity-resolution.md
  migrations/neo4j/003_canonical_entities.cypher
  packages/canonical-schema/README.md
  packages/canonical-schema/package.json
  packages/canonical-schema/src/core/base.ts
  packages/canonical-schema/src/entities/organization.ts
  packages/canonical-schema/src/entities/person.ts
  packages/canonical-schema/src/er/types.ts
  packages/canonical-schema/src/index.ts
  packages/canonical-schema/tsconfig.json
  server/db/migrations/postgres/2025-11-20_canonical_schema.sql
  server/src/graphql/schema/canonical.graphql
  services/er/src/ERDecisionService.ts
  services/er/src/ERScoringService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Design comprehensive testing strategy for Summit (#12099)
  docs/TESTING_STRATEGY.md
  docs/test-templates/README.md
  docs/test-templates/ai-ml-pipeline.test.ts
  docs/test-templates/golden-path-integration.test.ts
  docs/test-templates/graphql-resolver.test.ts
  docs/test-templates/narrative-engine.test.ts
  docs/test-templates/neo4j-operations.test.ts
  jest.coverage.config.cjs
Due: prettier --write

Add GitHub Actions automation workflows (#12098)
  .github/labeler.yml
  .github/workflows/README-PR-AUTOMATION.md
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/pr-auto-assign-reviewers.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-size-checker.yml
  .github/workflows/pr-test-coverage-check.yml
Due: prettier --write

Enhance CI/CD pipeline with quality gates (#12097)
  .github/workflows/code-quality-gates.yml
  .github/workflows/performance-regression.yml
  .github/workflows/pr-size-check.yml
  .github/workflows/release-notes.yml
  docs/CICD_BEST_PRACTICES.md
  docs/CICD_ENHANCEMENTS_SUMMARY.md
  renovate.json
Due: prettier --write

Enhance monitoring and observability for Summit (#12094)
  OBSERVABILITY_SUMMARY.md
  RUNBOOKS/observability/error-rate-spike.md
  RUNBOOKS/observability/high-latency.md
  docker-compose.dev.yml
  docs/OBSERVABILITY.md
  docs/OBSERVABILITY_AUDIT.md
  observability/alertmanager/alertmanager.yaml
  observability/grafana/dashboards/summit-golden-signals.json
  observability/grafana/dashboards/summit-slo-overview.json
  observability/grafana/provisioning/datasources/jaeger.yml
  observability/grafana/provisioning/datasources/loki.yml
  observability/loki/loki-config.yaml
  observability/prometheus/alerts/comprehensive-slo-burn-alerts.yaml
  observability/prometheus/alerts/resource-alerts.yaml
  observability/prometheus/prometheus-dev.yml
  observability/promtail/promtail-config.yaml
  observability/slo/comprehensive-slos.yaml
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/examples.ts
  packages/logger/src/index.ts
  packages/logger/tsconfig.json
  services/dev-gateway/otel.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Design database migration and schema strategy (#12093)
  .github/workflows/schema-validation.yml
  MIGRATION_STRATEGY_SUMMARY.md
  db/migrations/000_schema_versions.sql
  docs/DATABASE_MIGRATION_STRATEGY.md
  docs/MIGRATION_QUICK_START.md
  scripts/create-migration.sh
  scripts/migration-catalog.json
Due: prettier --write

Generate API documentation and client SDKs (#12092)
  .github/workflows/api-docs.yml
  docs/API_INTEGRATION_GUIDE.md
  docs/API_README.md
  docs/API_VERSIONING_STRATEGY.md
  docs/index.html
  examples/python/basic_investigation.py
  examples/typescript/basic-investigation.ts
  openapi/sdk-config-python.json
  openapi/sdk-config-typescript.json
  scripts/generate-sdks.sh
Due: prettier --write

Design multi-layer caching strategy for Summit (#12091)
  docs/CACHING_BEST_PRACTICES.md
  docs/CACHING_STRATEGY.md
  server/src/services/CacheInvalidationService.ts
  server/src/services/CacheWarmingService.ts
Due: prettier --write
