Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Release: GA Candidate 4.1.15-rc.1 (#18890)
  .github/workflows/ci-preflight.yml
  RELEASE_CANDIDATE_REPORT.md
  artifacts/evidence-bundle.json
  docker-compose.dev.yml
Due: prettier --write

feat(explain): Subsume SHAP-IQ Explainability Pipeline (#19026)
  docs/ops/runbooks/shap-iq.md
  docs/repo_assumptions.md
  docs/security/data-handling/shap-iq.md
  docs/standards/shap-iq.md
  scripts/monitoring/shap_iq-drift.py
  summit/explain/shap_iq/__init__.py
  summit/explain/shap_iq/engine.py
  summit/explain/shap_iq/interactions.py
  summit/explain/shap_iq/report.py
  summit/explain/shap_iq/schema.py
  summit/explain/shap_iq/test_determinism.py
Due: prettier --write

ci: add post-deployment hardening for workflow consolidation
  .github/workflows/pr-gate.yml
  docs/ci/stabilization-complete-summary.md
  scripts/ci/cancel-archived-workflow-runs.sh
  scripts/ci/workflow-budget-sentinel.mjs
Due: prettier --write

ci: add runner saturation policy automation
  docs/ci/recovery-status-update.md
  scripts/ci/runner-saturation-policy.sh
Due: prettier --write

docs: add comprehensive post-deployment hardening summary
  docs/ci/post-deployment-hardening-complete.md
Due: prettier --write

docs: add CI emergency runbook, cost analysis, and migration guide
  docs/ci/emergency-runbook.md
  docs/ci/old-pr-migration-guide.md
  scripts/ci/workflow-cost-analysis.mjs
Due: prettier --write

docs(ci): add executive summary and historical crisis documentation
  docs/ci/ESCALATION-REQUIRED.md
  docs/ci/EXECUTIVE-SUMMARY.md
Due: prettier --write

feat(ci): add automated monitoring setup script
  scripts/ci/setup-automated-monitoring.sh
Due: none

feat(ci): add migration instruction poster for old PRs
  scripts/ci/post-migration-instructions.sh
Due: none

feat(ci): add batch migration comment poster
  scripts/ci/batch-post-migration-comments.sh
Due: none

docs(ci): add comprehensive final status report
  docs/ci/FINAL-STATUS-REPORT.md
Due: prettier --write

ci: fix queue saturation check to target merge queue depth
  .github/workflows/pr-gate.yml
Due: prettier --write

ci: add merge-train-autopilot batch drain script
  .github/scripts/merge-train-autopilot.sh
Due: none

feat(ci): add comprehensive CI monitoring and analysis tools
  scripts/ci/analyze-pr-migration-status.sh
  scripts/ci/ci-metrics-dashboard.sh
  scripts/ci/quick-migration-check.sh
Due: none

fix: address gemini review — arg validation, stderr hygiene, jq efficiency
  .github/scripts/merge-train-autopilot.sh
Due: none

fix: align merge method with protection-rules.yml (--merge not --squash)
  .github/scripts/merge-train-autopilot.sh
Due: none

docs(ci): add queue spike analysis and fix automated recovery
  docs/ci/queue-spike-analysis-2026-03-04.md
Due: prettier --write

chore: commit all work in progress (CI + feature development)
  .github/workflows/a11y-keyboard-smoke.yml
  GA_READINESS_REPORT.md
  docker-compose.dev.yaml
  docker-compose.hardening.yaml
  docker-compose.yml
  docs/ci/recovery-status-update.md
  docs/ga/verification-map.json
  empty.env
  gateway-proxy.js
  package.json
  packages/cryptographic-agility/package.json
  packages/cryptographic-agility/src/fips-compliance.ts
  packages/cryptographic-agility/src/index.ts
  pnpm-lock.yaml
  scripts/generate-evidence-bundle.js
  scripts/hypervelocity-pr-processor.sh
  scripts/mass-pr-consolidation.sh
  server/package.json
  server/verify-audit-ledger.ts
  services/api-gateway/src/resolvers.ts
  services/api-gateway/src/schema.ts
  services/prov-ledger/package.json
  services/prov-ledger/src/ledger.ts
  services/prov-ledger/src/schema.ts
  walkthrough.md
Due: prettier --write, eslint --fix --max-warnings=0 --cache

ci: add merge-train-autopilot scheduled + dispatch workflow and align MAX_QUEUE
  .github/scripts/merge-train-autopilot.sh
  .github/workflows/merge-train-autopilot.yml
Due: prettier --write

fix(ci): post-emergency closeout - verify stability and prevent regression
  .github/workflows/a11y-keyboard-smoke.yml
  docs/ci/stabilization-complete-summary.md
Due: prettier --write

🛡️ Sentinel: [CRITICAL] Fix SQL Injection Bypass in Tenant Scoping (#19012)
  .jules/sentinel.md
  server/src/db/__tests__/query-scope.test.ts
  server/src/db/query-scope.ts
Due: prettier --write

ci: restore batch-merge autopilot script
  scripts/ci/batch-merge-autopilot.sh
Due: none

🛡️ Sentinel: Harden administrative and operational routes (#19015)
  .jules/sentinel.md
  CHANGELOG.md
  server/src/routes/airgap.ts
  server/src/routes/analytics.ts
  server/src/routes/dr.ts
Due: prettier --write

🎨 Palette: Fix unassociated form labels and semantic headers (#19011)
  .github/compose/pg_neo.yml
  .github/workflows/.archive/disinfo.yml
  .github/workflows/.archive/repro-docker.yml
  .jules/palette.md
  pnpm-lock.yaml
  ui/src/components/RAGConsole.jsx
  ui/src/components/RoutingStudio.jsx
Due: prettier --write

test: validate new 8-workflow CI system
  README.md
  server/src/routes/health.ts
Due: prettier --write

feat(maestro): add hierarchical orchestration loop for summit agent workflows
  docs/AI_AGENT_WORKFLOW.md
  docs/roadmap/STATUS.json
  ga-graphai/packages/maestro-conductor/src/hierarchical-orchestration.ts
  ga-graphai/packages/maestro-conductor/src/index.ts
  ga-graphai/packages/maestro-conductor/tests/hierarchical-orchestration.test.ts
Due: prettier --write

docs: add SHAP-IQ governed explainability brief
  docs/roadmap/STATUS.json
  docs/roadmap/shap-iq-governed-explainability-brief-2026-03-01.md
Due: prettier --write

⚡ Bolt: Optimize array processing in supplyChainVerification (#19013)
  .github/workflows/.archive/a11y-keyboard-smoke.yml
  .github/workflows/.archive/repro-docker.yml
  .github/workflows/a11y-keyboard-smoke.yml
  .github/workflows/pr-gate.yml
  conductor-ui/frontend/src/maestro/utils/supplyChainVerification.ts
  docker-compose.dev.yaml
  services/chatops/src/utils/opa-client.ts
  services/search-indexer/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: ⚡ Bolt: Optimize StrategicPlanRepo with batch-loading (#19014)
  .jules/bolt.md
  CHANGELOG.md
  docs/releases/reason-codes.yml
  ops/docker-compose.yml
  scripts/generate-sbom.sh
  server/db/managed-migrations/023_strategic_planning.down.sql
  server/db/managed-migrations/023_strategic_planning.up.sql
  server/src/data-residency/__tests__/residency-guard.test.ts
  server/src/migrations/023_strategic_planning.ts
  server/src/repos/StrategicPlanRepo.ts
  server/src/repos/__tests__/StrategicPlanRepo.perf.test.ts
  server/src/repos/__tests__/StrategicPlanRepo.test.ts
  server/src/runtime/global/__tests__/FailoverOrchestrator.test.ts
  server/src/runtime/global/__tests__/GlobalTrafficSteering.test.ts
Due: prettier --write

docs: Add Cloud GA readiness spec and public artifacts (#19017)
  .doclinkignore
  .github/workflows/.archive/a11y-keyboard-smoke.yml
  .github/workflows/.archive/golden-path/_golden-path-pipeline.yml
  .github/workflows/.archive/repro-docker.yml
  .github/workflows/.archive/reusable/build-test.yml
  .github/workflows/.archive/reusable/e2e.yml
  .github/workflows/.archive/reusable/package.yml
  .github/workflows/.archive/reusable/security.yml
  .github/workflows/.archive/reusable/smoke.yml
  .github/workflows/.archive/reusable/unit.yml
  docs/architecture/cloud-ga-architecture.md
  docs/ops/cloud-ga-slo.md
  docs/rfcs/cloud-ga-readiness-spec.md
  docs/security/cloud-ga-security-model.md
  pr_body.md
Due: prettier --write

feat(governance): add LSN Window Validator badge + deterministic artifact (#19020)
  .github/required-checks.yml
  .github/workflows/.archive/golden-path/_golden-path-pipeline.yml
  .github/workflows/.archive/repro-docker.yml
  .github/workflows/.archive/reusable/build-test.yml
  .github/workflows/.archive/reusable/e2e.yml
  .github/workflows/.archive/reusable/package.yml
  .github/workflows/.archive/reusable/security.yml
  .github/workflows/.archive/reusable/smoke.yml
  .github/workflows/.archive/reusable/unit.yml
  .github/workflows/lsn-window.yml
  README.md
  data/fixtures/debezium_sample.jsonl
  docs/governance/evidence-map.yml
  tests/ci/test_lsn_window.py
  tools/lsn/lsn_scanner.py
Due: prettier --write

chore(ci): Add path-based filters and fast-track workflows (#19022)
  .github/required-checks.yml
  .github/workflows/.archive/ci-core.yml
  .github/workflows/.archive/comprehensive-test-suite.yml
  .github/workflows/.archive/comprehensive-test.yml
  .github/workflows/.archive/e2e-tests.yml
  .github/workflows/.archive/e2e-vind-bench.yml
  .github/workflows/.archive/e2e-vind-lifecycle.yml
  .github/workflows/.archive/e2e-vind-smoke.yml
  .github/workflows/.archive/golden-path-e2e.yml
  .github/workflows/.archive/integration-tests.yml
  .github/workflows/docs-fast-track.yml
  .github/workflows/prompt-evidence-guard.yml
  CHANGELOG.md
  docs/releases/reason-codes.yml
  package.json
  scripts/ci/parity_check.sh
  security/relay_policy/enforce.py
  security/supply_chain/verify_signatures.py
  server/package.json
  server/src/maestro/__tests__/integration.test.ts
Due: prettier --write

feat: add evidence pack to GitHub PRs (#19023)
  .github/workflows/.archive/ci-preflight.yml
  .github/workflows/.archive/evidence-validate.yml
  .github/workflows/.archive/golden-path/_golden-path-pipeline.yml
  .github/workflows/.archive/parity-check.yml
  .github/workflows/.archive/provenance-verify.yml
  .github/workflows/.archive/repro-docker.yml
  .github/workflows/.archive/reusable/build-test.yml
  .github/workflows/.archive/reusable/e2e.yml
  .github/workflows/.archive/reusable/package.yml
  .github/workflows/.archive/reusable/security.yml
  .github/workflows/.archive/reusable/smoke.yml
  .github/workflows/.archive/reusable/unit.yml
  .github/workflows/.archive/security-supplychain.yml
  .github/workflows/.archive/slsa-provenance.yml
  .github/workflows/evidence-pack.yml
  CHANGELOG.md
  README.evidence-pack.md
  docs/compliance/CONTROL_REGISTRY.md
  docs/governance/GOVERNANCE_RULES.md
  docs/governance/evidence-map.yml
  package.json
  security/relay_policy/enforce.py
  security/relay_policy/policy.json
  server/src/maestro/__tests__/integration.test.ts
  tools/evidence/attach_summary.sh
  tools/evidence/generate_evidence.sh
  tools/evidence/package_and_upload.sh
Due: prettier --write

feat: add telemetry lineage normalizer package and CI gates (#19024)
  .github/required-checks.yml
  .github/workflows/.archive/experiment-aware-release.yml
  .github/workflows/telemetry-lineage-gates.yml
  CHANGELOG.md
  packages/summit-lineage-normalizer/jest.config.js
  packages/summit-lineage-normalizer/package.json
  packages/summit-lineage-normalizer/src/index.test.ts
  packages/summit-lineage-normalizer/src/index.ts
  packages/summit-lineage-normalizer/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add OpenTelemetry to OpenLineage emission and PROV mapper (#19019)
  .github/workflows/validate_lineage.yml
  emitters/otel_openlineage_emitter.py
  emitters/otel_prov_mapper.py
  tests/test_prov_mapping.py
  tools/generate_sample_spans.py
  tools/validate_prov_openlineage.py
Due: prettier --write

feat: implement Agent Skills architectural scaffold (#19029)
  .github/workflows/.archive/ci.yml
  .github/workflows/.archive/graph-sync.yml
  .github/workflows/.archive/pr-triage.yml
  .github/workflows/.archive/reusable/security.yml
  CHANGELOG.md
  src/agents/archetypes/base/AgentRegistry.ts
  src/agents/archetypes/base/BaseAgentArchetype.ts
  src/agents/skills/baseSkill.ts
  src/agents/skills/graphQuerySkill.ts
  src/agents/skills/index.ts
  src/agents/skills/registry/__tests__/registry.test.ts
  src/agents/skills/registry/index.ts
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
