Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Add CI SBOM generation and vulnerability gate
  .github/workflows/ci-sbom-vulnerability-gate.yml
  scripts/ci/sbom-vulnerability-gate.sh
Due: prettier --write

feat: add auto-approval GitHub Actions workflow
  .github/workflows/auto-approve-prs.yml
Due: prettier --write

feat(orchestrator): integrate Rego policy engine for InvariantValidator
  agents/orchestrator/__tests__/InvariantValidator.test.ts
  agents/orchestrator/package.json
  agents/orchestrator/src/context/capsules/InvariantValidator.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat(typhoon-s): implement OPDTrainer train_step with teacher-in-loop
  summit/post_training/recipes/typhoon_s/opd_trainer.py
  tests/unit/test_opd_trainer.py
Due: none

ci(governance): sync REQUIRED_CHECKS_POLICY to GitHub branch protection
  .github/workflows/sync-branch-protection.yml
  package.json
  pnpm-lock.yaml
  scripts/ci/sync-branch-protection.mjs
Due: prettier --write

feat: implement Safe Test Sampling Logic in TestSamplerScout
  summit/scouts/test_sampler.py
  summit/scouts/tests/test_sampler.py
Due: none

feat: implement MMSD2.0 dataset adapter
  summit/eval/mmsd/dataset.py
  summit/eval/mmsd/run_eval.py
  tests/eval/test_mmsd_dataset.py
Due: none

feat: implement SkillForge CLI command routing
  summit/skillforge/cli.py
  summit/skillforge/config.py
  summit/skillforge/eval.py
  summit/skillforge/generate.py
  summit/skillforge/validate.py
Due: none

feat: Hardening Evidence System (PR1 + PR2)
  .github/workflows/evidence-validate.yml
  docs/evidence/EVIDENCE_SYSTEM.md
  evidence/fixtures/fail/bad_bundle/index.json
  evidence/fixtures/pass/basic_bundle/index.json
  evidence/fixtures/pass/basic_bundle/metrics.json
  evidence/fixtures/pass/basic_bundle/report.json
  evidence/fixtures/pass/basic_bundle/stamp.json
  evidence/schemas/evidence.index.schema.json
  evidence/schemas/metrics.schema.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
  tools/evidence/validate.mjs
Due: prettier --write

feat: Comet/Codex Agentic Execution - Governance and Orchestrator Fixes
  COMET_TRIAGE_REPORT.md
  docs/ci/REQUIRED_CHECKS_POLICY.yml
  orchestration/runtime/internal/state/store.go
  policy/deploy.rego
  policy/deploy_test.rego
  services/gateway-service/package.json
Due: prettier --write

feat: Add GraphQL caching middleware with persisted queries and ABAC enforcement
  packages/orchestrator/src/store.ts
  packages/orchestrator/src/types.ts
  server/db/managed-migrations/202604210001_orchestrator_hardening.up.sql
  server/db/managed-migrations/202604220001_orchestrator_scalability.up.sql
  server/db/managed-migrations/202604230001_orchestrator_worker_resilience.up.sql
  server/db/managed-migrations/202604240001_orchestrator_retention_hardening.up.sql
  server/src/graphql/GraphQLCacheManager.ts
  server/src/graphql/GraphQLCacheMiddleware.ts
  server/src/orchestrator/OrchestratorWorker.ts
  server/src/orchestrator/PostgresStore.ts
  server/src/orchestrator/__tests__/OrchestratorAdversarial.test.ts
  server/src/orchestrator/metrics.ts
Due: eslint --fix --max-warnings=0 --cache

fix(ci): merge main, resolve STATUS.json conflict
  docs/roadmap/STATUS.json
Due: prettier --write

fix(ci): reduce predictd Docker build context
  docs/roadmap/STATUS.json
  prompts/operations/predictd-build-context@v1.md
  prompts/registry.yaml
  services/predictd/Dockerfile
Due: prettier --write

feat: secure codebase indexing and similarity-based reuse
  .ci/verify_evidence.sh
  configs/feature_flags/index_reuse.yaml
  docs/indexing/secure_index_reuse.md
  evidence/EVD-CURSOR-SECURE-INDEXING-PERF-001/metrics.json
  evidence/EVD-CURSOR-SECURE-INDEXING-PERF-001/report.json
  evidence/EVD-CURSOR-SECURE-INDEXING-PERF-001/stamp.json
  evidence/EVD-SDSBC-FOUNDATION-001/metrics.json
  evidence/EVD-SDSBC-FOUNDATION-001/report.json
  evidence/index.json
  required_checks.todo.md
  services/index_store/__init__.py
  services/index_store/proofs/__init__.py
  services/index_store/proofs/store.py
  services/index_store/snapshots/__init__.py
  services/index_store/snapshots/store.py
  services/index_store/tests/test_store.py
  services/indexing/__init__.py
  services/indexing/cache/__init__.py
  services/indexing/cache/embedding_cache.py
  services/indexing/cache/tests/test_cache.py
  services/indexing/merkle/__init__.py
  services/indexing/merkle/builder.py
  services/indexing/merkle/models.py
  services/indexing/merkle/tests/test_builder.py
  services/indexing/simhash/__init__.py
  services/indexing/simhash/ann.py
  services/indexing/simhash/compute.py
  services/indexing/simhash/tests/test_simhash.py
  services/retrieval/__init__.py
  services/retrieval/proof_filter.py
  services/retrieval/tests/test_proof_filter_leakage.py
  tools/bench_indexing/__init__.py
  tools/bench_indexing/run.py
Due: prettier --write

fix: drop native deps blocking pnpm install
  packages/advanced-caching/package.json
  packages/nlp/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add MCP/A2A interop mental model scaffold
  docs/deps/PR1_dependency_delta.md
  docs/interop/mcp_a2a_mental_model.md
  docs/roadmap/STATUS.json
  evidence/EVD-mcp-a2a-mental-model-interop-001/metrics.json
  evidence/EVD-mcp-a2a-mental-model-interop-001/report.json
  evidence/EVD-mcp-a2a-mental-model-interop-001/stamp.json
  evidence/index.json
Due: prettier --write

docs: add MCP/A2A interop mental-model doc and evidence scaffold
  docs/deps/PR1_dependency_delta.md
  docs/interop/mcp_a2a_mental_model.md
  docs/roadmap/STATUS.json
  evidence/EVD-mcp-a2a-mental-model-interop-001/metrics.json
  evidence/EVD-mcp-a2a-mental-model-interop-001/report.json
  evidence/EVD-mcp-a2a-mental-model-interop-001/stamp.json
  evidence/index.json
Due: prettier --write

docs: add comprehensive summary of completed P1 tasks for automation triage
  COMPLETED_TASKS_SUMMARY.md
Due: prettier --write

fix: apply ruff import and typing cleanups
  summit/benchmarks/deepsearchqa/adapter_kaggle.py
  summit/benchmarks/deepsearchqa/entity_resolution.py
  summit/benchmarks/deepsearchqa/judge.py
  summit/benchmarks/deepsearchqa/run.py
  summit/benchmarks/deepsearchqa/schema.py
  summit/benchmarks/deepsearchqa/scoring.py
  summit/benchmarks/deepsearchqa/stop_diagnostics.py
  summit/benchmarks/deepsearchqa/tests/test_adapter.py
  summit/benchmarks/deepsearchqa/tests/test_categories.py
  summit/benchmarks/deepsearchqa/tests/test_entity_resolution.py
  summit/benchmarks/deepsearchqa/tests/test_judge_adversarial_inputs.py
  summit/benchmarks/deepsearchqa/tests/test_scoring_math.py
  summit/benchmarks/deepsearchqa/tests/test_stop_metrics.py
  summit/benchmarks/deepsearchqa/tests/verify_run.py
  summit/cluster/drivers/vind/__init__.py
  summit/cluster/drivers/vind/driver.py
  summit/cluster/drivers/vind/test_vind.py
  summit/cluster/registry.py
  summit/policy/gates/gate_dependency_delta.py
  summit/policy/gates/test_gates.py
  tests/test_evidence_schemas.py
Due: none

docs(soak): record predictd build failures
  docs/operations/GA_SOAK_REPORT_v5.3.2.md
Due: prettier --write

security(business-rules): remediate js/polynomial-redos vulnerability
  packages/business-rules/src/__tests__/security.test.ts
  packages/business-rules/src/index.ts
Due: eslint --fix --max-warnings=0 --cache

fix: ruff import/typing cleanups
  summit/benchmarks/deepsearchqa/adapter_kaggle.py
  summit/benchmarks/deepsearchqa/entity_resolution.py
  summit/benchmarks/deepsearchqa/judge.py
  summit/benchmarks/deepsearchqa/run.py
  summit/benchmarks/deepsearchqa/schema.py
  summit/benchmarks/deepsearchqa/scoring.py
  summit/benchmarks/deepsearchqa/stop_diagnostics.py
  summit/benchmarks/deepsearchqa/tests/test_adapter.py
  summit/benchmarks/deepsearchqa/tests/test_categories.py
  summit/benchmarks/deepsearchqa/tests/test_entity_resolution.py
  summit/benchmarks/deepsearchqa/tests/test_judge_adversarial_inputs.py
  summit/benchmarks/deepsearchqa/tests/test_scoring_math.py
  summit/benchmarks/deepsearchqa/tests/test_stop_metrics.py
  summit/benchmarks/deepsearchqa/tests/verify_run.py
  summit/cluster/drivers/vind/__init__.py
  summit/cluster/drivers/vind/driver.py
  summit/cluster/drivers/vind/test_vind.py
  summit/cluster/registry.py
  summit/policy/gates/gate_dependency_delta.py
  summit/policy/gates/test_gates.py
  tests/test_evidence_schemas.py
Due: none

fix: escape newlines in git tag message for release-cut workflow
  .github/workflows/release-cut.yml
Due: prettier --write

chore: rename @maestro/core to @intelgraph/maestro-core
  packages/maestro-core/package.json
Due: prettier --write

chore(deps): align express 4.21.2
  apps/gateway/package.json
  apps/server/package.json
  docs/roadmap/STATUS.json
Due: prettier --write

chore(deps): align express to 4.21.2 in apps (remediate CVEs)
  apps/gateway/package.json
  apps/server/package.json
  docs/roadmap/STATUS.json
Due: prettier --write

fix(security): Hono XSS remediation proof and CI gate
  .github/workflows/security-supplychain.yml
  evidence/HONO-ERRBOUNDARY-XSS/index.json
  evidence/HONO-ERRBOUNDARY-XSS/metrics.json
  evidence/HONO-ERRBOUNDARY-XSS/report.json
  evidence/HONO-ERRBOUNDARY-XSS/stamp.json
  evidence/index.json
  scripts/ci/verify_evidence.py
  scripts/verify_evidence.py
  tools/security/fixtures/pnpm-lock.bad.yaml
  tools/security/fixtures/pnpm-lock.good.yaml
  tools/security/verify_hono_lockfile.mjs
  tools/security/verify_hono_lockfile.test.mjs
  walkthrough.md
Due: prettier --write

perf(neo4j): optimize result normalization and query caching
  .jules/bolt.md
  server/src/db/neo4j.ts
  server/src/db/queryOptimizer.ts
  server/src/graph/optimizer/GraphOptimizer.ts
  server/src/lib/streaming/GraphStreamer.ts
Due: prettier --write

feat: implement Solo OS Foundation and Engine Scaffold
  solo_os/README.md
  solo_os/ci/verify_solo_os.sh
  solo_os/engines/base.py
  solo_os/engines/content_engine.py
  solo_os/engines/evidence_helper.py
  solo_os/engines/orchestration_engine.py
  solo_os/engines/registry.py
  solo_os/engines/revenue_engine.py
  solo_os/engines/signal_engine.py
  solo_os/eval/fixtures/negative/policy.deny_all.json
  solo_os/eval/fixtures/positive/policy.allow_outbound.json
  solo_os/eval/test_engines.py
  solo_os/eval/test_gate_fixtures.py
  solo_os/eval/verifier.py
  solo_os/evidence/index.json
  solo_os/evidence/index.schema.json
  solo_os/evidence/metrics.schema.json
  solo_os/evidence/report.schema.json
  solo_os/evidence/stamp.schema.json
  solo_os/governance/gate.py
  solo_os/governance/policy.default.json
  solo_os/governance/policy.schema.json
  solo_os/required_checks.todo.md
Due: prettier --write

feat: implement Deck Production Workflow
  ci/check_decks_evidence.py
  ci/deck_build.sh
  ci/deck_lint.py
  cli/summit_decks_cmd.py
  evidence/decks/foundation/metrics.json
  evidence/decks/foundation/report.json
  evidence/decks/foundation/stamp.json
  evidence/decks/index.json
  evidence/schemas/deck_metrics.schema.json
  evidence/schemas/deck_report.schema.json
  fixtures/decks/negative_forbidden_shell/main.tex
  fixtures/decks/positive_clean/main.tex
  packages/summit_decks/README.md
  packages/summit_decks/summit_decks/__init__.py
  packages/summit_decks/summit_decks/build.py
  packages/summit_decks/summit_decks/lint.py
  packages/summit_decks/summit_decks/optimal_rhetoric.py
  packages/summit_decks/tests/test_optimal_rhetoric.py
  required_checks.todo.md
Due: prettier --write

chore: rename @summit packages to @summi7 for npm publishing
  packages/graph-sync-validator/package.json
Due: prettier --write

security(server): add rate limiting to governance and case workflow routes
  server/src/config/rateLimit.ts
  server/src/routes/__tests__/case-workflow.rate-limit.test.ts
  server/src/routes/__tests__/governance.rate-limit.test.ts
  server/src/routes/case-workflow.ts
  server/src/routes/governance.ts
Due: none

security: add rate limiting to governance and case-workflow routes
  server/src/config/rateLimit.ts
  server/src/routes/__tests__/case-workflow.rate-limit.test.ts
  server/src/routes/__tests__/governance.rate-limit.test.ts
  server/src/routes/case-workflow.ts
  server/src/routes/governance.ts
Due: none

fix(security): remove unused vm2 from plugin-system (CRITICAL)
  packages/plugin-system/package.json
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
