Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(client): add type annotations for implicit any parameters (23 errors fixed)
  client/src/components/GraphCanvas.tsx
  client/src/components/GraphPreview.tsx
  client/src/components/IntelGraphWorkbench.tsx
  client/src/components/InvestigationManager.tsx
  client/src/components/PolicyDenialBanner.tsx
  client/src/components/analytics/AdvancedAnalyticsDashboard.tsx
  client/src/components/graph/KShortestPathsPanel.tsx
Due: none

fix(client): add type annotations for implicit any parameters (7 errors fixed)
  client/src/components/InvestigationManager.tsx
  client/src/components/SentimentVolatility.tsx
  client/src/components/presence/PresencePill.tsx
  client/src/components/risk/RiskPanel.tsx
Due: none

fix(client): add type annotations to StegoAnalyzer D3 callbacks (9 errors fixed)
  client/src/components/StegoAnalyzer.tsx
Due: none

fix(client): add type annotations for map callbacks in AlertTriageV2 and WargameOptimizer (9 errors fixed)
  client/src/components/WargameOptimizer.tsx
  client/src/components/triage/AlertTriageV2Panel.tsx
Due: none

fix(client): batch fix implicit any parameters in SymphonyOperatorConsole (19 errors fixed)
  client/src/features/console/SymphonyOperatorConsole.tsx
Due: none

fix(client): batch fix implicit any parameters across multiple features (16 errors fixed)
  client/src/features/link-analysis/CommandPalette.tsx
  client/src/features/link-analysis/MapPane.tsx
  client/src/features/link-analysis/TimelinePane.tsx
  client/src/features/link-analysis/store.ts
  client/src/features/wargame/AdversaryIntentDisplay.tsx
  client/src/features/wargame/StrategicPlaybookDisplay.tsx
  client/src/features/workflows/Editor.tsx
  client/src/lib/assistant/transport.test.ts
  client/src/lib/assistant/transport.ts
Due: none

fix(client): add type annotations to implicit any parameters (40 errors fixed)
  client/src/components/ai-enhanced/tests/assistant.chunking.fuzz.test.tsx
  client/src/features/link-analysis/GraphPane.tsx
  client/src/features/wargame/StrategicPlaybookDisplay.tsx
  client/src/features/wargame/TelemetryDisplay.tsx
  client/src/integrations/cytoscape-codex-bridge.ts
  client/src/lib/assistant/transport.ts
  client/src/lib/toastBus.ts
  client/src/live/useLiveClient.ts
  client/src/pages/GraphWorkbench/GraphCanvas.tsx
  client/src/routes/HomeRoute.tsx
Due: none

fix(client): add type annotations to callbacks in routes and services (20 errors fixed)
  client/src/routes/HomeRoute.tsx
  client/src/routes/OsintHealth.tsx
  client/src/services/orchestrator/modules.ts
Due: none

fix(client): add type annotations to destructuring parameters (13 errors fixed)
  client/src/components/IntelGraphWorkbench.tsx
  client/src/components/graph/NeighborhoodStreaming.tsx
  client/src/features/maestro/pages/Pipelines.tsx
Due: none

fix(client): fix MUI import errors (8 errors fixed)
  client/src/components/Switchboard/Switchboard.tsx
  client/src/pages/Investigations/InvestigationDetail.tsx
Due: none

fix(client): add missing React and MUI imports (3 errors fixed)
  client/src/features/conductor/ConductorStudio.tsx
  client/src/features/conductor/panels/NLToCypherPreview.tsx
Due: none

refactor(client): linter improvements for type safety
  client/src/components/ai/NaturalLanguageAssistant.tsx
  client/src/components/graph/NeighborhoodStreaming.tsx
Due: none

fix(client): improve error handling in PolicyDenialBanner
  client/src/components/PolicyDenialBanner.tsx
Due: none

feat(server): install missing type packages - 263 TypeScript errors fixed
  server/package.json
Due: prettier --write

fix(server): install luxon and attempt useServer import fix
  server/package.json
  server/src/index.ts
  server/src/live-server.ts
Due: prettier --write

feat: add bias mitigation evaluation via cognitive NLP engine
  cognitive_nlp_engine/__init__.py
  cognitive_nlp_engine/bias_mitigation_evaluation.py
  tests/intelgraph/test_bias_mitigation_evaluation.py
Due: none

feat: add behavioral telemetry analysis report
  analysis/behavioral_telemetry/analyze.py
  analysis/behavioral_telemetry/events.json
  analysis/behavioral_telemetry/insights.md
Due: prettier --write

feat(typescript): optimize builds with project references and incremental compilation
  package.json
  server/src/cases/chain-of-custody.ts
  server/src/conductor/mcp/servers/files-server.ts
  server/src/data-residency/residency-service.ts
  server/src/graphql/index.ts
  server/src/index.ts
  server/src/live-server.ts
  server/src/qam/RedisStateManager.ts
  server/src/types/graphql-ws.d.ts
  tsconfig.base.json
  tsconfig.build.json
Due: prettier --write

fix(types): resolve Express type compatibility and module imports
  apps/webapp/src/panes/TimelinePane.tsx
  services/authz-gateway/src/index.ts
  services/exporter/src/index.ts
  services/graph-core/src/index.ts
  services/graph-core/src/routes/entities.ts
  services/graph-core/src/routes/er.ts
  services/graph-core/src/routes/query.ts
  services/graph-core/src/routes/relationships.ts
Due: none

fix(types): comprehensive TypeScript error fixes - 62 to 38 errors
  .claude/settings.local.json
  packages/maestro-core/package.json
  packages/maestro-core/src/observability/tracer.ts
  packages/maestro-core/src/plugins/openapi-plugin.ts
  packages/maestro-core/src/plugins/web-scraper-plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(types): fix zod enum type assertions and paramsSchema
  apps/analytics-engine/dist/services/DashboardService.js
  apps/analytics-engine/src/server.ts
  apps/analytics-engine/src/services/DashboardService.ts
  apps/intelgraph-api/src/index.ts
  packages/common-types/src/types.ts
  server/src/graphql/index.ts
  server/src/live-server.ts
  services/authz-gateway/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(search): fix Elasticsearch type assertions
  apps/search-engine/src/services/ElasticsearchService.ts
Due: none

fix(maestro-core): fix OpenTelemetry tracer configuration
  apps/search-engine/src/services/ElasticsearchService.ts
  packages/common-types/package.json
  packages/maestro-cli/tsconfig.json
  packages/maestro-core/src/observability/tracer.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(maestro-core): add prometheusExporter property declaration
  .tsbuildinfo
  packages/maestro-core/src/observability/tracer.ts
Due: eslint --fix --max-warnings=0 --cache

fix(types): linter improvements - achieve 0 TypeScript errors
  packages/maestro-core/src/observability/tracer.ts
  packages/rptc/src/testing/test-generator.ts
Due: eslint --fix --max-warnings=0 --cache

refactor: apply linter fixes and improve error handling
  apps/search-engine/src/routes/searchRoutes.ts
  apps/search-engine/src/utils/nlp.ts
  apps/web/src/pages/ExplorePage.tsx
  apps/web/src/pages/maestro/pages/Runs.tsx
  services/exporter/.eslintrc.cjs
  services/exporter/src/index.ts
Due: none

feat(scripts): add test:quick script for pre-push hook
  package.json
Due: prettier --write

fix(types): resolve prom-client and prometheus query typing issues
  server/src/websocket/connectionManager.ts
  server/src/workers/canary-guard.ts
Due: none

feat(observability): add typed logging and metrics infrastructure
  server/src/http/metricsRoute.ts
  server/src/observability/metrics.ts
  server/src/shared/logging/Logger.ts
  server/src/shared/logging/index.ts
  server/tests/observability/metrics.health.spec.ts
Due: none

docs(changelog): add v0.1.1 release notes
  CHANGELOG.md
Due: prettier --write

feat(observability): wire metrics endpoint and add Grafana dashboards
  observability/README.md
  observability/dashboards/application-metrics.json
  observability/dashboards/system-health.json
  server/src/app.ts
Due: prettier --write

feat(observability): wire WebSocket metrics and migrate to typed Logger
  server/src/websocket/connectionManager.ts
  server/src/websocket/core.ts
  server/src/workers/OutboxNeo4jSync.ts
Due: none

fix(kpw-media): publish cli build artifacts
  .gitignore
  commitlint.config.js
  packages/kpw-media/dist/cli.d.ts
  packages/kpw-media/dist/cli.d.ts.map
  packages/kpw-media/dist/cli.js
  packages/kpw-media/dist/index.d.ts
  packages/kpw-media/dist/index.d.ts.map
  packages/kpw-media/dist/index.js
  packages/kpw-media/dist/merkle.d.ts
  packages/kpw-media/dist/merkle.d.ts.map
  packages/kpw-media/dist/merkle.js
  packages/kpw-media/dist/server.d.ts
  packages/kpw-media/dist/server.d.ts.map
  packages/kpw-media/dist/server.js
  packages/kpw-media/dist/types.d.ts
  packages/kpw-media/dist/types.d.ts.map
  packages/kpw-media/dist/types.js
  packages/kpw-media/dist/verifier.d.ts
  packages/kpw-media/dist/verifier.d.ts.map
  packages/kpw-media/dist/verifier.js
  packages/kpw-media/dist/wallet.d.ts
  packages/kpw-media/dist/wallet.d.ts.map
  packages/kpw-media/dist/wallet.js
  packages/kpw-media/package.json
  packages/kpw-media/src/index.ts
  packages/kpw-media/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: refresh onboarding and runbooks
  RUNBOOKS/INDEX.md
  RUNBOOKS/dev-bootstrap.md
  RUNBOOKS/schema-migration-playbook.md
  docs/ONBOARDING.md
  docs/README.md
Due: prettier --write
