Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Add context engineering skills pack wrapper and tooling (#15156)
  .gitmodules
  skills/README.md
  skills/context-engineering-pack/SKILL.md
  skills/context-engineering-pack/references/UPSTREAM.md
  skills/context-engineering-pack/scripts/list_upstream_skills.sh
  skills/context-engineering-pack/scripts/update_upstream.sh
Due: prettier --write

feat: add ktoon spec and core package (#15158)
  docs/roadmap/STATUS.json
  packages/ktoon/README.md
  packages/ktoon/package.json
  packages/ktoon/src/index.ts
  packages/ktoon/tests/ktoon.test.ts
  packages/ktoon/tsconfig.json
  spec/ktoon.md
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add runtime governance layer definitions and export tooling (#15120)
  docs/ga/RUNTIME-FEEDBACK.md
  docs/runtime/FAILURE-MODES.md
  docs/runtime/RUNTIME-EVIDENCE.md
  docs/runtime/RUNTIME-POLICIES.md
  docs/runtime/VIOLATION-RESPONSES.md
  runtime/enforcement/README.md
  runtime/policies/catalog.yaml
  runtime/response-matrix.yaml
  runtime/telemetry/schema.json
  scripts/runtime/export-signals.ts
Due: prettier --write

Add predictive risk scoring and adaptive governance controls (#15119)
  agent-feedback/risk-hints.md
  artifacts/risk-decisions/example-pr.json
  artifacts/risk-report.sample.json
  docs/ga/RISK-ADAPTIVE-CI.md
  docs/ga/RISK-DRIFT.md
  docs/ga/RISK-TAXONOMY.md
  risk/taxonomy.yaml
  risk/weights.yaml
  scripts/ci/enforce-risk.ts
  scripts/risk/detect-drift.ts
  scripts/risk/score-change.ts
Due: prettier --write

Add GA verification guardrails and deterministic checks (#15118)
  AGENTS.md
  Makefile
  agent-contract.json
  docs/ga/AGENTS.md
  docs/ga/LEGACY-MODE.md
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/TESTING-STRATEGY.md
  docs/ga/verification-map.json
  scripts/ga/verify-ga-surface.mjs
  testing/ga-verification/ga-features.ga.test.mjs
Due: prettier --write

Add Admin Studio feature flag helpers and tests (#15116)
  ops/admin_studio_api.py
  ops/tests/test_admin_studio_api.py
Due: none

Add GA readiness prompt template (#15114)
  docs/GA_READINESS_PROMPT.md
Due: prettier --write

Add GA state discovery prompt template (#15113)
  docs/GA_STATE_DISCOVERY_PROMPT.md
Due: prettier --write

Add GitHub inventory helper runbook and script (#15112)
  docs/ga/GITHUB_INVENTORY.md
  scripts/github_inventory.sh
Due: prettier --write

Add agent-native prompt governance pipeline (#15108)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  agents/examples/closed-loop-governance.yaml
  agents/task-spec.schema.json
  artifacts/agent-metrics.json
  artifacts/agent-runs/TASK-N4-0001.json
  docs/ga/AGENT-FAILURE-MODES.md
  docs/ga/AGENT-RUN-LIFECYCLE.md
  metrics/agent-metrics.schema.json
  prompts/governance/agent-native-loop-n4.md
  prompts/registry.yaml
  scripts/ci/lib/prompt-registry.ts
  scripts/ci/validate-pr-metadata.ts
  scripts/ci/verify-prompt-integrity.ts
Due: prettier --write

Add continuous audit readiness tooling (#15107)
  .github/workflows/audit-exception-expiry.yml
  audit/control-map.yaml
  audit/evidence-registry.yaml
  audit/exceptions.yaml
  docs/audit/AGENT-GOVERNANCE.md
  docs/audit/AUDIT-QUERIES.md
  docs/audit/CONTROL-MAP.md
  docs/audit/EVIDENCE.md
  docs/audit/EXCEPTIONS.md
  scripts/audit/check-exceptions.js
  scripts/audit/generate-audit-pack.ts
  scripts/audit/run-queries.ts
Due: prettier --write

docs: map TODOs to planning structure (#15099)
  PLANNING_SATURATION_GAP_REPORT.md
Due: prettier --write

Add performer-evaluator handoff documentation package (#15084)
  docs/evaluator-evaluation-handoff-package.md
Due: prettier --write

docs: add wedge spec scaffolding (#15075)
  ip/draft_spec.md
  ip/fto.md
  ip/prior_art.csv
  spec/anfis/advantages.md
  spec/anfis/claims_full.md
  spec/anfis/embodiments.md
  spec/fopb-lg/advantages.md
  spec/fopb-lg/claims_full.md
  spec/fopb-lg/embodiments.md
  spec/ilc-pwd/advantages.md
  spec/ilc-pwd/claims_full.md
  spec/ilc-pwd/embodiments.md
  spec/itd-oip/advantages.md
  spec/itd-oip/claims_full.md
  spec/itd-oip/embodiments.md
  spec/oaeac/advantages.md
  spec/oaeac/claims_full.md
  spec/oaeac/embodiments.md
Due: prettier --write

docs: note offline github automation limitations
  docs/github-automation-limitations.md
Due: prettier --write

feat: add kafka stream ingestion for knowledge graph
  ga-graphai/packages/common-types/src/events.ts
  ga-graphai/packages/knowledge-graph/src/index.ts
  ga-graphai/packages/knowledge-graph/src/streams.ts
  ga-graphai/packages/knowledge-graph/tests/graphStream.test.ts
  ga-graphai/packages/knowledge-graph/tests/knowledgeGraph.test.ts
Due: none

feat: add analytic provenance and opa agent policies
  docs/roadmap/STATUS.json
  ga-graphai/packages/policy/src/agent-opa.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/agent-opa.test.ts
  ga-graphai/packages/prov-ledger/src/analytic-evidence.ts
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/tests/analytic-evidence.test.ts
  ga-graphai/packages/threat-analytics/package.json
  ga-graphai/packages/threat-analytics/src/engine.ts
  ga-graphai/packages/threat-analytics/src/types.ts
  ga-graphai/packages/threat-analytics/tests/provenance.test.ts
  pnpm-lock.yaml
Due: prettier --write

Enforce tagging on OPA data paths (#14934)
  .github/policies/data-paths.rego
  server/config/data-paths.yaml
  server/config/schemas/data-paths.schema.json
Due: prettier --write

Add plugin manifest validation and signature stub (#14925)
  packages/plugin-system/jest.config.cjs
  packages/plugin-system/package.json
  packages/plugin-system/src/__tests__/PluginManager.install.test.ts
  packages/plugin-system/src/core/PluginManager.ts
  packages/plugin-system/src/errors/PluginManifestValidationError.ts
  packages/plugin-system/src/index.ts
  packages/plugin-system/src/manifest/schema.ts
  packages/plugin-system/src/security/verifySignature.ts
  packages/plugin-system/src/types/permissions.ts
  packages/plugin-system/src/types/plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add kafka stream ingestion for knowledge graph (#15161)
  ga-graphai/packages/common-types/src/events.ts
  ga-graphai/packages/knowledge-graph/src/index.ts
  ga-graphai/packages/knowledge-graph/src/streams.ts
  ga-graphai/packages/knowledge-graph/tests/graphStream.test.ts
  ga-graphai/packages/knowledge-graph/tests/knowledgeGraph.test.ts
Due: none

docs: note offline GitHub automation limitations (#15160)
  docs/github-automation-limitations.md
Due: prettier --write

docs: add sprint 26 issue brief
  docs/roadmap/STATUS.json
  sprint/sprint-26-golden-path-issue-brief.md
Due: prettier --write

docs: add sprint 27 governance fabric plan and metadata
  SPRINT_INDEX.md
  agents/examples/sprint-27-governance-fabric.yaml
  artifacts/agent-runs/SPRINT27-GOV-FABRIC.json
  docs/roadmap/STATUS.json
  prompts/plans/sprint-27-governance-fabric.md
  prompts/registry.yaml
  sprint/sprint_plan_jan_19_jan_30_2026_america_denver.md
Due: prettier --write

docs: add data spine sprint 28 plan
  .evidence/sprint-28/data-catalog/README.md
  .evidence/sprint-28/lineage/README.md
  .evidence/sprint-28/residency/README.md
  .evidence/sprint-28/retention/README.md
  SPRINT_INDEX.md
  agents/examples/task-data-spine-sprint-28.json
  docs/roadmap/STATUS.json
  docs/sprints/COMPANYOS_SPRINT_28_DATA_SPINE.md
  prompts/docs/data-spine-sprint-plan.md
  prompts/registry.yaml
Due: prettier --write

docs: add sprint 29 reliability rails plan
  docs/roadmap/STATUS.json
  sprint/sprint_plan_feb_16_feb_27_2026_america_denver.md
Due: prettier --write

docs: add graph-xai differentiation plan
  docs/roadmap/STATUS.json
  ga-graphai/docs/explainability.md
Due: prettier --write

docs: add graph-xai differentiation plan (#15166)
  docs/roadmap/STATUS.json
  ga-graphai/docs/explainability.md
Due: prettier --write

fix(server): persist static metrics and mocks for tests
  server/src/gtm/gtm-messaging-service.ts
  server/src/tests/IntelGraphService.test.ts
Due: none

fix(test): mock ledger to prevent initialization errors
  server/src/tests/IntelGraphService.test.ts
Due: none

fix(test): update IntelGraphService.test.ts to match service API
  server/src/tests/IntelGraphService.test.ts
Due: none

fix(test): use shared mock instances in IntelGraphService.test.ts
  server/src/tests/IntelGraphService.test.ts
Due: none

fix(server): correct invalid zod import in IntelGraphService
  server/src/services/IntelGraphService.ts
Due: none

fix(server): use namespace import for zod to fix build
  server/src/services/IntelGraphService.ts
Due: none

fix(server): stabilize environment and release 4.0.1 (#15170)
  server/src/gtm/gtm-messaging-service.ts
  server/src/services/IntelGraphService.ts
  server/src/tests/IntelGraphService.test.ts
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
