Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

fix(ga): comprehensive stabilization (tsconfig, hygiene, scim, pino, supply-chain)
  .github/merge-engine/README.md
  .github/merge-engine/config.yml
  .github/scripts/merge-engine/apply_labels.sh
  .github/scripts/merge-engine/gh_pr_inventory.sh
  .github/scripts/merge-engine/triage_prs.py
  .github/workflows/auto-enqueue.yml
  .github/workflows/ci.yml
  .github/workflows/merge-engine.yml
  docs/ci/MERGE-ORCHESTRATION-FINAL-SUMMARY-2026-03-01.md
  docs/merge-policy.md
  docs/ops/PR_BACKLOG_ZERO_PLAYBOOK.md
  docs/roadmap/STATUS.json
  libs/context-shell/tsconfig.json
  packages/bilateral-relations/src/types.ts
  packages/diplomatic-personnel/src/DiplomaticPersonnelTracker.ts
  packages/maestroflow/src/transpile/tekton.ts
  packages/multilateral-tracking/src/types.ts
  packages/quantum-supply-chain/src/types.ts
  packages/rf-processor/src/analysis/SpectralAnalyzer.ts
  packages/supply-chain-ai/src/types.ts
  packages/watchlist-screening/src/types.ts
  packages/work-graph/packages/work-graph/src/policy/engine.ts
  packages/work-graph/packages/work-graph/src/store/neo4j.ts
  scripts/README.md
  scripts/ops/__tests__/export_open_prs_snapshot.test.mjs
  scripts/ops/__tests__/merge_train_queue_planner.test.mjs
  scripts/ops/__tests__/merge_train_queue_sync_labels.test.mjs
  scripts/ops/export_open_prs_snapshot.mjs
  scripts/ops/merge_train_queue_planner.mjs
  scripts/ops/merge_train_queue_sync_labels.mjs
  scripts/setup_merge_queue.sh
  server/src/routes/scim.ts
  server/src/routes/supply-chain.ts
  server/src/shared/logging/index.ts
  server/tsconfig.build.json
  server/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(ga): batch type casting for request parameters and pino ESM fixes
  docs/ops/PR_BACKLOG_ZERO_PLAYBOOK.md
  scripts/README.md
  scripts/ops/__tests__/merge_train_queue_sync_labels.test.mjs
  scripts/ops/merge_train_queue_sync_labels.mjs
  server/src/app.ts
  server/src/billing/sink.ts
  server/src/routes/approvals.ts
  server/src/routes/case-workflow.ts
  server/src/routes/dlp.ts
  server/src/routes/governance.ts
  server/src/routes/ingestion.ts
  server/src/routes/maestro_routes.ts
  server/src/routes/mastery.ts
  server/src/routes/ontology.ts
  server/src/routes/provenance-beta.ts
  server/src/routes/sandbox/sandbox-admin.ts
  server/src/routes/soar.ts
  server/src/routes/summitsight.ts
  server/src/routes/v4/ai-governance.ts
  server/src/routes/v4/compliance.ts
  server/src/routes/v4/zero-trust.ts
  server/src/security/vulnerability-dashboard-api.ts
  server/src/shared/logging/index.ts
Due: prettier --write

fix(ga): definitive route parameter casting and build stabilization
  server/src/routes/approvals.ts
  server/src/routes/dlp.ts
  server/src/routes/governance.ts
  server/src/routes/ontology.ts
  server/src/routes/sandbox/sandbox-admin.ts
  server/src/routes/soar.ts
  server/src/routes/summitsight.ts
Due: none

feat(ops): add deterministic pr backlog merge-train planner
  docs/ops/PR_BACKLOG_ZERO_PLAYBOOK.md
  docs/roadmap/STATUS.json
  scripts/README.md
  scripts/ops/__tests__/merge_train_queue_planner.test.mjs
  scripts/ops/merge_train_queue_planner.mjs
Due: prettier --write

fix(evidence): deterministic bundle generation (determinism fix)
  scripts/release/generate_evidence_bundle.mjs
Due: none

feat(telemetry): add js-yaml dependency for Neo4j plan sampler
  pnpm-lock.yaml
Due: none

chore(triage): deterministic P0 queue bot
  .github/scripts/issue-queue-bot/__tests__/bot.test.cjs
  .github/scripts/issue-queue-bot/__tests__/classifier.test.cjs
  .github/scripts/issue-queue-bot/bot.cjs
  .github/scripts/issue-queue-bot/classifier.cjs
  .github/scripts/issue-queue-bot/rules.json
  .github/scripts/issue-queue-bot/run.cjs
  .github/workflows/issue-queue-bot.yml
  docs/ops/issue-queue-bot.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat(runtime-gates): replace mock approval logic with actual OPA/S3 evaluation
  tests/agent_simulator/simulate_approval.py
Due: none

fix(test): enable real database usage in integration tests by conditional mocking
  server/src/maestro/__tests__/integration.test.ts
  server/tests/mocks/ioredis.ts
  server/tests/mocks/neo4j-driver.ts
  server/tests/mocks/pg.ts
  server/tests/setup/jest.setup.cjs
Due: none

fix: purge orphaned worktree references
  Makefile
  docker-compose.dev.yaml
  docker-compose.yml
  scripts/ga-gate.sh
  scripts/k6_smoke.sh
  server/build.mjs
  server/src/config.ts
  server/src/routes/v4/zero-trust.ts
  services/api-gateway/src/middleware/policy.ts
  services/api-gateway/src/resolvers.ts
  services/api-gateway/src/schema.ts
Due: none

fix: add missing js-yaml dependency for neo4j plan sampler
  docker-compose.hardening.yaml
  services/api-gateway/Dockerfile
Due: none

fix(governance): correct table header checks in verify_governance script
  scripts/compliance/verify_governance.ts
Due: none

fix: correct governance checks and documentation links
  docs/DEPLOYMENT_FAILURE_ANALYSIS.md
  docs/runbooks/observability/database-down.md
  scripts/compliance/verify_governance.ts
Due: prettier --write

fix: add missing js-yaml dependency for Neo4j sampler
  pnpm-lock.yaml
Due: none

ci: add polyglot CI coverage for Rust and Python, OSSF Scorecard, and supply chain improvements
  .github/dependabot.yml
  .github/workflows/_reusable-python.yml
  .github/workflows/_reusable-rust.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/pr-size-labeler.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  README.md
  codecov.yml
Due: prettier --write

feat(security): implement semantic context validator with pattern-based detection
  .env.example
  server/src/conductor/validation/__tests__/semantic-validator.spec.ts
  server/src/conductor/validation/injection-patterns.ts
  server/src/conductor/validation/semantic-validator.ts
Due: none

fix(ci): sync GA gate baseline (required checks/meta/lockfile)
  .github/workflows/ci.yml
Due: prettier --write

docs(ops): add 2026-02-09 daily sprint report
  docs/ops/DAILY_SPRINT_2026-02-09.md
  docs/ops/evidence/daily-sprint-2026-02-09/metrics.json
  docs/ops/evidence/daily-sprint-2026-02-09/report.json
  docs/ops/evidence/daily-sprint-2026-02-09/stamp.json
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add legal agreements to onboarding
  docs/ONBOARDING.md
  docs/legal/AGREEMENTS_TEMPLATES.md
Due: prettier --write

docs: document architecture decisions and threat model
  adr/0002-tenancy-model.md
  adr/0003-data-plane-security.md
  adr/0004-region-sharding.md
  adr/0005-cache-strategy.md
  adr/0006-eventing-backbone.md
  adr/0007-schema-ownership.md
  docs/architecture.md
  runbooks/rollback.md
  security/threat-model.md
Due: prettier --write

fix(ga): final readiness - deterministic evidence, real OPA gates, and audit verification
  dependency_delta.md
  deps/dependency_delta.md
  scripts/generate-evidence-bundle.js
  server/verify-audit-ledger.ts
  services/chatops/src/autonomy/bounded-autonomy.ts
  services/chatops/src/utils/opa-client.ts
Due: prettier --write

docs: add onboarding tutorial video scripts
  README.md
  docs/tutorials/README.md
  docs/tutorials/data-ingestion-wizard-script.md
  docs/tutorials/data-ingestion-wizard-transcript.md
  docs/tutorials/graph-querying-script.md
  docs/tutorials/graph-querying-transcript.md
  docs/tutorials/ml-integration-script.md
  docs/tutorials/ml-integration-transcript.md
Due: prettier --write

ci: add workflow concurrency; add helper to re-queue PRs after CI pin
  scripts/requeue_after_ci_pin.sh
Due: none

test: add automated quality gates evidence
  docs/testing/quality-gates-plan.md
  package.json
  policies/quality_gates.rego
  policies/tests/quality_gates_input.json
  policies/tests/quality_gates_test.rego
  scripts/ci/run-quality-gates.sh
  scripts/policy/run-quality-gates-eval.mjs
  server/jest.config.ts
  server/src/utils/__tests__/CircuitBreaker.test.ts
  server/tests/e2e/health-slo.spec.ts
  tests/acceptance/epics/policy-supply-chain/README.md
  tests/acceptance/epics/policy-supply-chain/evidence.yaml
  tests/acceptance/epics/policy-supply-chain/fixtures/license-allowlist.json
  tests/acceptance/epics/policy-supply-chain/scenarios.yaml
  tests/acceptance/epics/slo-guardrail/README.md
  tests/acceptance/epics/slo-guardrail/evidence.yaml
  tests/acceptance/epics/slo-guardrail/fixtures/latency-budget.json
  tests/acceptance/epics/slo-guardrail/scenarios.yaml
  tests/chaos/control-plane-latency-experiment.yaml
  tests/fixtures/qa/circuit-breaker-latencies.json
  tests/load/health-p95.k6.js
Due: prettier --write

test: add rollout canary k6 scenario
  .github/k6/intelgraph-canary-validation.js
  .github/k6/rollout-canary.js
  deploy/argocd/apps/intelgraph-canary.yaml
  docs/deployment/canary-deployment-guide.md
  helm/intelgraph/templates/rollout.yaml
  helm/intelgraph/values.yaml
  helm/intelgraph/values/canary.yaml
  tests/README.md
Due: prettier --write

ci: add Deploy Dev (AWS) workflow
  .github/workflows/deploy-dev.yml
Due: prettier --write

ci: add nightly docker-enabled integration workflow
  .github/workflows/integration-nightly.yml
  package.json
Due: prettier --write

test: expand policy reasoner coverage
  services/authz-gateway/src/config.ts
  services/authz-gateway/src/integrations/expressAdapter.ts
  services/authz-gateway/src/integrations/graphqlPlugin.ts
  services/authz-gateway/src/policies/default-bundle.json
  services/authz-gateway/tests/__snapshots__/policyReasoner.test.ts.snap
  services/authz-gateway/tests/fixtures/golden-policy-cases.json
  services/authz-gateway/tests/indexCoverage.test.ts
  services/authz-gateway/tests/integrations.test.ts
  services/authz-gateway/tests/policyInternals.test.ts
  services/authz-gateway/tests/policyReasoner.test.ts
  services/authz-gateway/tests/policyRoutes.test.ts
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
