Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Port PR 18468: 🎨 Palette: Spinner accessibility improvement
  docs/ops/DAILY_SPRINT_2026-02-11.md
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list.txt
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list_error.txt
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list.txt
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list_error.txt
  docs/ops/evidence/daily-sprint-2026-02-11/metrics.json
  docs/ops/evidence/daily-sprint-2026-02-11/pr_18468_after_fix.json
  docs/ops/evidence/daily-sprint-2026-02-11/report.json
  docs/ops/evidence/daily-sprint-2026-02-11/stamp.json
  docs/roadmap/STATUS.json
Due: prettier --write

🎨 Palette: Spinner accessibility improvement (Port) (#19434)
  docs/ops/DAILY_SPRINT_2026-02-11.md
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list.txt
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list_error.txt
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list.txt
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list_error.txt
  docs/ops/evidence/daily-sprint-2026-02-11/metrics.json
  docs/ops/evidence/daily-sprint-2026-02-11/pr_18468_after_fix.json
  docs/ops/evidence/daily-sprint-2026-02-11/report.json
  docs/ops/evidence/daily-sprint-2026-02-11/stamp.json
  docs/roadmap/STATUS.json
Due: prettier --write

Port PR 18506: ⚡ Bolt: optimize RiskRepository with batched signal inserts
  .github/workflows/pr-gates.yml
  .github/workflows/release-train.yml
  .nvmrc
  client/jest.config.cjs
  docs/standards/factgov.md
  evidence/schemas/index.schema.json
  server/src/db/__tests__/RiskRepository.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: prettier --write

⚡ Bolt: optimize RiskRepository with batched signal inserts (Port) (#19435)
  .github/workflows/pr-gates.yml
  .github/workflows/release-train.yml
  .nvmrc
  client/jest.config.cjs
  docs/standards/factgov.md
  evidence/schemas/index.schema.json
  server/src/db/__tests__/RiskRepository.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: prettier --write

Port PR 18813: feat(pve): add APISurfaceValidator for API governance checks
  .github/workflows/jetrl-ci.yml
  .github/workflows/release-integrity.yml
  .github/workflows/repro-docker.yml
  docs/releases/reason-codes.yml
  packages/pve/src/evaluator/OPAAdapter.ts
  packages/pve/src/evaluator/validators/APISurfaceValidator.ts
  packages/pve/src/evaluator/validators/index.ts
  packages/pve/tests/evaluator/validators/APISurfaceValidator.test.ts
  scripts/ci/verify_governance_docs.mjs
  scripts/ga/check-pr-metadata.mjs
  scripts/ga/verify-saos.mjs
  server/src/data-residency/__tests__/residency-guard.test.ts
  server/src/maestro/__tests__/integration.test.ts
  server/src/runtime/global/__tests__/FailoverOrchestrator.test.ts
  server/src/runtime/global/__tests__/GlobalTrafficSteering.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(pve): add APISurfaceValidator for API governance checks (Port) (#19436)
  .github/workflows/jetrl-ci.yml
  .github/workflows/release-integrity.yml
  .github/workflows/repro-docker.yml
  docs/releases/reason-codes.yml
  packages/pve/src/evaluator/OPAAdapter.ts
  packages/pve/src/evaluator/validators/APISurfaceValidator.ts
  packages/pve/src/evaluator/validators/index.ts
  packages/pve/tests/evaluator/validators/APISurfaceValidator.test.ts
  scripts/ci/verify_governance_docs.mjs
  scripts/ga/check-pr-metadata.mjs
  scripts/ga/verify-saos.mjs
  server/src/data-residency/__tests__/residency-guard.test.ts
  server/src/maestro/__tests__/integration.test.ts
  server/src/runtime/global/__tests__/FailoverOrchestrator.test.ts
  server/src/runtime/global/__tests__/GlobalTrafficSteering.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Port PR 18345: feat(cogwar): add campaign and evidence schemas
  docs/roadmap/STATUS.json
  docs/standards/cogwar-adaptive-influence-systems-2026.md
  repo_assumptions.md
  src/cogwar/schema/campaign-object.schema.json
  src/cogwar/schema/evidence-bundle.schema.json
  tests/cogwar/schema.test.ts
Due: prettier --write

feat(cogwar): add campaign and evidence schemas (Port) (#19437)
  docs/roadmap/STATUS.json
  docs/standards/cogwar-adaptive-influence-systems-2026.md
  repo_assumptions.md
  src/cogwar/schema/campaign-object.schema.json
  src/cogwar/schema/evidence-bundle.schema.json
  tests/cogwar/schema.test.ts
Due: prettier --write

Port PR 18427: Golden Path Restore – Bootstrap + Up succeeds deterministically
  .env.example
  .github/workflows/ci-preflight.yml
  Makefile
  README.md
  docs/dev/golden-path-troubleshooting.md
  scripts/golden-path.sh
Due: prettier --write

Golden Path Restore – Bootstrap + Up succeeds deterministically (Port) (#19438)
  .env.example
  .github/workflows/ci-preflight.yml
  Makefile
  README.md
  docs/dev/golden-path-troubleshooting.md
  scripts/golden-path.sh
Due: prettier --write

Switchboard PR#2: Registry discovery + schema validation + `registry validate` CLI (#18330)
  apps/switchboard-console/package.json
  apps/switchboard-console/src/index.ts
  apps/switchboard-console/src/registry/loader.ts
  apps/switchboard-console/src/registry/schema.ts
  apps/switchboard-console/src/registry/types.ts
  apps/switchboard-console/src/registry/validator.ts
  apps/switchboard-console/tests/fixtures/reg/invalid.json
  apps/switchboard-console/tests/fixtures/reg/registry.json
  apps/switchboard-console/tests/registry.test.ts
Due: prettier --write

Port PR 18562: Enhance Summit storage, partitioning, and backup systems
  evidence/index.json
  server/src/cache/DistributedCacheService.ts
  server/src/orchestrator/PartitionManager.ts
  server/src/services/BackupService.ts
  server/src/services/PartitionMaintenanceService.ts
  server/src/services/UsageMeteringService.ts
  server/src/services/__tests__/UsageMeteringService.test.ts
Due: prettier --write

Enhance Summit storage, partitioning, and backup systems (Port) (#19439)
  evidence/index.json
  server/src/cache/DistributedCacheService.ts
  server/src/orchestrator/PartitionManager.ts
  server/src/services/BackupService.ts
  server/src/services/PartitionMaintenanceService.ts
  server/src/services/UsageMeteringService.ts
  server/src/services/__tests__/UsageMeteringService.test.ts
Due: prettier --write

Port PR 18751: feat(income-engine): add deterministic income engine MWS with governance guards
  docs/ops/runbooks/income_engine.md
  docs/repo_assumptions.md
  docs/roadmap/STATUS.json
  docs/standards/income-engine.md
  pipelines/income_engine/__init__.py
  pipelines/income_engine/cost_model.py
  pipelines/income_engine/engine.py
  pipelines/income_engine/income_model.schema.json
  pipelines/income_engine/leverage.py
  pipelines/income_engine/recurrence.py
  pipelines/income_engine/report.py
  pipelines/tests/test_income_engine.py
  scripts/monitoring/income-engine-drift.py
  scripts/profile_income_engine.py
Due: prettier --write

feat(income-engine): add deterministic income engine MWS with governance guards (Port) (#19440)
  docs/ops/runbooks/income_engine.md
  docs/repo_assumptions.md
  docs/roadmap/STATUS.json
  docs/standards/income-engine.md
  pipelines/income_engine/__init__.py
  pipelines/income_engine/cost_model.py
  pipelines/income_engine/engine.py
  pipelines/income_engine/income_model.schema.json
  pipelines/income_engine/leverage.py
  pipelines/income_engine/recurrence.py
  pipelines/income_engine/report.py
  pipelines/tests/test_income_engine.py
  scripts/monitoring/income-engine-drift.py
  scripts/profile_income_engine.py
Due: prettier --write

Port PR 18492: ⚡ Bolt: Optimized input sanitization middleware
  server/src/middleware/__tests__/sanitization.correctness.test.ts
  server/src/middleware/sanitization.ts
Due: none

⚡ Bolt: Optimized input sanitization middleware (Port) (#19441)
  server/src/middleware/__tests__/sanitization.correctness.test.ts
  server/src/middleware/sanitization.ts
Due: none

Port PR 18752: feat(pkg): add governed Unity package scan, DAG, semver, and registry policy
  docs/ops/runbooks/unity-packages.md
  docs/standards/unity-packages.md
  repo_assumptions.md
  scripts/monitoring/unity-drift.py
  summit/cli/summit_pkg_scan.py
  summit/pkg/__init__.py
  summit/pkg/dag.py
  summit/pkg/policy.py
  summit/pkg/semver.py
  summit/pkg/unity_adapter.py
  summit/tests/fixtures/unity_pkg/Analytics.asmdef
  summit/tests/fixtures/unity_pkg/package.json
  summit/tests/pkg/test_unity_adapter.py
  summit/tests/pkg/test_unity_policy.py
Due: prettier --write

feat(pkg): add governed Unity package scan, DAG, semver, and registry policy (Port) (#19442)
  docs/ops/runbooks/unity-packages.md
  docs/standards/unity-packages.md
  repo_assumptions.md
  scripts/monitoring/unity-drift.py
  summit/cli/summit_pkg_scan.py
  summit/pkg/__init__.py
  summit/pkg/dag.py
  summit/pkg/policy.py
  summit/pkg/semver.py
  summit/pkg/unity_adapter.py
  summit/tests/fixtures/unity_pkg/Analytics.asmdef
  summit/tests/fixtures/unity_pkg/package.json
  summit/tests/pkg/test_unity_adapter.py
  summit/tests/pkg/test_unity_policy.py
Due: prettier --write

Port PR 18533: ⚡ Bolt: Optimize AlertsPage rendering performance
  apps/web/src/pages/AlertsPage.tsx
Due: none

⚡ Bolt: Optimize AlertsPage rendering performance (Port) (#19443)
  apps/web/src/pages/AlertsPage.tsx
Due: none

Port PR 18526: 🛡️ Sentinel: [HIGH] Fix user spoofing in AI feedback endpoints
  server/src/routes/ai.ts
  server/src/tests/ai.feedback.test.ts
Due: none

🛡️ Sentinel: [HIGH] Fix user spoofing in AI feedback endpoints (Port) (#19444)
  server/src/routes/ai.ts
  server/src/tests/ai.feedback.test.ts
Due: none

Port PR 18784: feat(modulith): add modular boundary verifier MWS with deterministic artifacts
  config/modules.yaml
  docs/roadmap/STATUS.json
  repo_assumptions.md
  summit/modulith/__init__.py
  summit/modulith/__main__.py
  summit/modulith/config.py
  summit/modulith/main.py
  summit/modulith/reporter.py
  summit/modulith/scanner.py
  summit/modulith/schemas.py
  summit/modulith/tests/test_modulith.py
  summit/modulith/verifier.py
Due: prettier --write

feat(modulith): add modular boundary verifier MWS with deterministic artifacts (Port) (#19445)
  config/modules.yaml
  docs/roadmap/STATUS.json
  repo_assumptions.md
  summit/modulith/__init__.py
  summit/modulith/__main__.py
  summit/modulith/config.py
  summit/modulith/main.py
  summit/modulith/reporter.py
  summit/modulith/scanner.py
  summit/modulith/schemas.py
  summit/modulith/tests/test_modulith.py
  summit/modulith/verifier.py
Due: prettier --write

Port PR 18543: ⚡ Bolt: optimize risk signals insertion with batching
  server/scripts/benchmark-risk-repo.ts
  server/src/db/repositories/RiskRepository.ts
  server/src/db/repositories/__tests__/RiskRepository.test.ts
Due: none

⚡ Bolt: optimize risk signals insertion with batching (Port) (#19446)
  server/scripts/benchmark-risk-repo.ts
  server/src/db/repositories/RiskRepository.ts
  server/src/db/repositories/__tests__/RiskRepository.test.ts
Due: none

Port PR 18538: ⚡ Bolt: Batch Neo4j synchronization in IngestService
  .github/workflows/jetrl-ci.yml
  client/src/setupTests.js
  docs/standards/factgov.md
  server/src/services/IngestService.ts
  server/src/services/__tests__/IngestService.test.ts
Due: prettier --write

⚡ Bolt: Batch Neo4j synchronization in IngestService (Port) (#19447)
  .github/workflows/jetrl-ci.yml
  client/src/setupTests.js
  docs/standards/factgov.md
  server/src/services/IngestService.ts
  server/src/services/__tests__/IngestService.test.ts
Due: prettier --write

Port PR 18460: feat(ga): add deterministic GA hardening audit runner
  docs/roadmap/STATUS.json
  package.json
  scripts/ga/README.md
  scripts/ga/__tests__/hardening-audit.test.mjs
  scripts/ga/lib/hardening-audit.mjs
  scripts/ga/run-ga-hardening-audit.mjs
Due: prettier --write

feat(ga): add deterministic GA hardening audit runner (Port) (#19448)
  docs/roadmap/STATUS.json
  package.json
  scripts/ga/README.md
  scripts/ga/__tests__/hardening-audit.test.mjs
  scripts/ga/lib/hardening-audit.mjs
  scripts/ga/run-ga-hardening-audit.mjs
Due: prettier --write

Port PR 18783: feat(graphrag): add cogops evidence bundle foundation and CI verifier
  .github/MILESTONES/ga-cogops.yml
  .github/policies/jurisdiction.policy.json
  .github/policies/media-claims.policy.json
  .github/workflows/ci-verify.yml
  docs/api/schemas/evidence/index.schema.json
  docs/api/schemas/evidence/metrics.schema.json
  docs/api/schemas/evidence/report.schema.json
  docs/roadmap/STATUS.json
  required_checks.todo.md
  scripts/ci/verify-evidence-bundle.ts
  src/graphrag/evidence/index.ts
  src/graphrag/evidence/types.ts
  src/graphrag/evidence/writer.ts
  tests/fixtures/evidence/negative/index.json
  tests/fixtures/evidence/negative/metrics.json
  tests/fixtures/evidence/negative/report.json
  tests/fixtures/evidence/negative/stamp.json
  tests/fixtures/evidence/positive/index.json
  tests/fixtures/evidence/positive/metrics.json
  tests/fixtures/evidence/positive/report.json
  tests/fixtures/evidence/positive/stamp.json
  tests/graphrag/evidence/schema-validation.test.ts
  tests/graphrag/evidence/writer.test.ts
Due: prettier --write

feat(graphrag): add cogops evidence bundle foundation and CI verifier (Port) (#19449)
  .github/MILESTONES/ga-cogops.yml
  .github/policies/jurisdiction.policy.json
  .github/policies/media-claims.policy.json
  .github/workflows/ci-verify.yml
  docs/api/schemas/evidence/index.schema.json
  docs/api/schemas/evidence/metrics.schema.json
  docs/api/schemas/evidence/report.schema.json
  docs/roadmap/STATUS.json
  required_checks.todo.md
  scripts/ci/verify-evidence-bundle.ts
  src/graphrag/evidence/index.ts
  src/graphrag/evidence/types.ts
  src/graphrag/evidence/writer.ts
  tests/fixtures/evidence/negative/index.json
  tests/fixtures/evidence/negative/metrics.json
  tests/fixtures/evidence/negative/report.json
  tests/fixtures/evidence/negative/stamp.json
  tests/fixtures/evidence/positive/index.json
  tests/fixtures/evidence/positive/metrics.json
  tests/fixtures/evidence/positive/report.json
  tests/fixtures/evidence/positive/stamp.json
  tests/graphrag/evidence/schema-validation.test.ts
  tests/graphrag/evidence/writer.test.ts
Due: prettier --write

Port PR 18580: feat: add council evidence scaffolding (schemas, validator, CI workflow)
  .github/scripts/validate-evidence.ts
  .github/workflows/ci-council-evidence.yml
  agents/examples/LLM_COUNCIL_EVIDENCE_SCAFFOLDING_20260208.json
  docs/roadmap/STATUS.json
  evidence/schemas/council-index.schema.json
  evidence/schemas/council-metrics.schema.json
  evidence/schemas/council-report.schema.json
  evidence/schemas/council-stamp.schema.json
  prompts/evidence/llm-council-evidence-scaffold@v1.md
  prompts/registry.yaml
  required_checks.todo.md
Due: prettier --write

feat: add council evidence scaffolding (schemas, validator, CI workflow) (Port) (#19450)
  .github/scripts/validate-evidence.ts
  .github/workflows/ci-council-evidence.yml
  agents/examples/LLM_COUNCIL_EVIDENCE_SCAFFOLDING_20260208.json
  docs/roadmap/STATUS.json
  evidence/schemas/council-index.schema.json
  evidence/schemas/council-metrics.schema.json
  evidence/schemas/council-report.schema.json
  evidence/schemas/council-stamp.schema.json
  prompts/evidence/llm-council-evidence-scaffold@v1.md
  prompts/registry.yaml
  required_checks.todo.md
Due: prettier --write

Port PR 18476: chore(ops): daily sprint evidence refresh + schema conflict repair
  docs/ops/DAILY_SPRINT_2026-02-11.md
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list.json
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list.json
  docs/ops/evidence/daily-sprint-2026-02-11/metrics.json
  docs/ops/evidence/daily-sprint-2026-02-11/report.json
  docs/ops/evidence/daily-sprint-2026-02-11/stamp.json
  docs/roadmap/STATUS.json
  docs/standards/factgov.md
  evidence/schemas/index.schema.json
  evidence/schemas/report.schema.json
Due: prettier --write

chore(ops): daily sprint evidence refresh + schema conflict repair (Port) (#19451)
  docs/ops/DAILY_SPRINT_2026-02-11.md
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/gh_issue_list.json
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/gh_pr_list.json
  docs/ops/evidence/daily-sprint-2026-02-11/metrics.json
  docs/ops/evidence/daily-sprint-2026-02-11/report.json
  docs/ops/evidence/daily-sprint-2026-02-11/stamp.json
  docs/roadmap/STATUS.json
  docs/standards/factgov.md
  evidence/schemas/index.schema.json
  evidence/schemas/report.schema.json
Due: prettier --write

Port PR 18444: feat(web): RBAC UX Guardrails for GraphView
  .github/workflows/ci-core.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  apps/web/src/components/DisabledOverlay.tsx
  apps/web/src/components/FlagGuard.tsx
  apps/web/src/components/__tests__/FlagGuard.test.tsx
  apps/web/src/graphs/GraphCanvas.tsx
Due: prettier --write
