Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add consent constraint compiler (#1533)
  generated/ccc/go/consentguard/go.mod
  generated/ccc/go/consentguard/guard.go
  generated/ccc/go/consentguard/policy_data.go
  generated/ccc/js/index.d.ts
  generated/ccc/js/index.js
  generated/ccc/js/index.ts
  generated/ccc/python/consent_guard/__init__.py
  generated/ccc/python/consent_guard/guard.py
  generated/ccc/python/consent_guard/policy_data.py
  policies/ccc/calls.yaml
  policies/ccc/policy.yaml
  samples/ccc/go/go.mod
  samples/ccc/go/main_test.go
  samples/ccc/js/sample.test.js
  samples/ccc/python/app.py
  samples/ccc/python/tests/test_guard.py
  src/ccc/cli.js
  src/ccc/compiler.js
  src/ccc/index.js
  src/ccc/linter.js
  src/ccc/playground.js
  src/ccc/simple-yaml.js
  test/ccc/compiler.test.js
  test/ccc/linter.test.js
Due: none

Add GW-DE dual-entropy watermark suite (#1531)
  gwde/CMakeLists.txt
  gwde/README.md
  gwde/bindings/python_module.cpp
  gwde/include/gwde/watermark.hpp
  gwde/python/gwde/__init__.py
  gwde/python/gwde/_fallback.py
  gwde/python/gwde/roc.py
  gwde/src/watermark.cpp
  tests/test_gwde.py
Due: prettier --write

feat: add zk selector overlap service (#1528)
  sdk/zk-tx-client/.gitignore
  sdk/zk-tx-client/package.json
  sdk/zk-tx-client/src/index.ts
  sdk/zk-tx-client/tsconfig.json
  services/zk-tx-svc/.gitignore
  services/zk-tx-svc/Cargo.lock
  services/zk-tx-svc/Cargo.toml
  services/zk-tx-svc/src/circuit.rs
  services/zk-tx-svc/src/commitment.rs
  services/zk-tx-svc/src/lib.rs
  services/zk-tx-svc/src/main.rs
  services/zk-tx-svc/src/model.rs
  services/zk-tx-svc/src/red_team.rs
  services/zk-tx-svc/src/server.rs
  services/zk-tx-svc/tests/overlap_prop.rs
Due: prettier --write

Add workflow-engine load testing automation assets (#1521)
  docs/workflows/grafana-workflow-load-test.json
  docs/workflows/k6-argo-workflow-load-test.js
  docs/workflows/prometheus-workflow-load-test.yml
  docs/workflows/workflow-engine-load-testing-guide.md
Due: prettier --write

Add environment-specific synthetic CI checks (#1512)
  .github/workflows/environment-specific-tests.yml
  docker-compose.env-tests.yml
  docs/ci/environment-specific-testing.md
  scripts/tests/data/synthetic-test-data.json
  scripts/tests/run_env_tests.sh
  scripts/tests/run_k8s_env_tests.sh
  scripts/tests/run_local_env_tests.sh
  scripts/tests/run_node_tests.mjs
  scripts/tests/run_python_tests.py
Due: prettier --write

feat: integrate graph anomaly detection into analytics dashboard (#1485)
  client/src/components/dashboard/GraphAnomalyWidget.tsx
  client/src/routes/HomeRoute.tsx
  docs/ml/graph-traversal-anomaly-widget.md
  server/ml/__init__.py
  server/ml/models/__init__.py
  server/ml/models/graph_anomaly.py
  server/ml/tests/test_graph_anomaly.py
  server/src/graphql/resolvers.graphops.js
  server/src/graphql/schema.graphops.js
  server/src/services/GraphAnomalyService.js
Due: prettier --write

feat: automate postgres and neo4j backup verification (#1484)
  docs/deployment/backup-verification.md
  ops/backup-verification/neo4j-backup-verify.sh
  ops/backup-verification/postgres-backup-verify.sh
  ops/deployment/backup-verification-cronjobs.yaml
  ops/prometheus/backup-verification-rules.yaml
Due: prettier --write

feat: add realtime graph query preview (#1483)
  client/src/components/graph/InteractiveGraphExplorer.jsx
  client/src/components/search/QueryBuilderPreview.stories.tsx
  client/src/components/search/QueryBuilderPreview.tsx
  client/tests/e2e/query-preview.spec.ts
Due: none

feat: add Dask preprocessing pipeline for ingest wizard (#1453)
  ml/app/pipelines/__init__.py
  ml/app/pipelines/preprocessing_pipeline.py
  ml/benchmarks/__init__.py
  ml/benchmarks/preprocessing_pipeline.py
  ml/pyproject.toml
  ml/tests/test_preprocessing_pipeline.py
  services/ingest/README.md
  services/ingest/ingest/app/ingest.py
  services/ingest/ingest/app/models.py
  services/ingest/tests/test_ingest.py
Due: prettier --write

feat: add Python batching workers for feed-processor (#1465)
  deploy/compose/docker-compose.full.yml
  docs/architecture/feed-processor-throughput.md
  services/feed-processor/Dockerfile
  services/feed-processor/README.md
  services/feed-processor/feed_processor/__init__.py
  services/feed-processor/feed_processor/cli.py
  services/feed-processor/feed_processor/config.py
  services/feed-processor/feed_processor/metrics.py
  services/feed-processor/feed_processor/perf/benchmark.py
  services/feed-processor/feed_processor/perf/benchmark_results.json
  services/feed-processor/feed_processor/processor.py
  services/feed-processor/feed_processor/queue.py
  services/feed-processor/feed_processor/tracing.py
  services/feed-processor/pyproject.toml
  services/feed-processor/tests/test_metrics.py
  services/feed-processor/tests/test_queue.py
Due: prettier --write

Add chaos resiliency testing assets (#1409)
  docs/resiliency/chaos-test-execution-guide.md
  docs/resiliency/resiliency-report.md
  ops/chaos/nodejs-backend-pod-chaos.yaml
  ops/chaos/postgres-primary-failure.yaml
  ops/chaos/python-api-network-latency.yaml
  ops/slo/slo.yaml
Due: prettier --write

Refactor ingest wizard into modular components (#1387)
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/ingestWizard/IngestWizard.tsx
  frontend/src/ingestWizard/README.md
  frontend/src/ingestWizard/__stories__/DataSourceSelection.stories.tsx
  frontend/src/ingestWizard/__stories__/IngestWizard.stories.tsx
  frontend/src/ingestWizard/__stories__/SchemaMappingStep.stories.tsx
  frontend/src/ingestWizard/__stories__/ValidationStep.stories.tsx
  frontend/src/ingestWizard/components/DataSourceSelection.tsx
  frontend/src/ingestWizard/components/SchemaMappingStep.tsx
  frontend/src/ingestWizard/components/ValidationStep.tsx
  frontend/src/ingestWizard/index.ts
  frontend/src/ingestWizard/state.ts
  frontend/src/ingestWizard/styles.css
  frontend/src/ingestWizard/types.ts
Due: prettier --write

Automate staging ArgoCD deployment pipeline (#1382)
  .github/workflows/staging-deployment.yml
  deploy/argocd/appsets/companyos-environments.yaml
  deploy/argocd/projects/companyos-project.yaml
  ops/runbooks/staging-rollback-playbook.md
Due: prettier --write

feat: implement comprehensive logging and debugging infrastructure
  docs/LOGGING_BEST_PRACTICES.md
  docs/LOGGING_INFRASTRUCTURE.md
  docs/LOGGING_MIGRATION_GUIDE.md
  docs/LOGGING_RETENTION_POLICY.md
  monitoring/loki/local-config.yaml
  monitoring/promtail/config.yml
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/src/middleware.ts
  packages/logger/tsconfig.json
  scripts/logging/archive-logs.sh
  tools/logging-debug/package.json
  tools/logging-debug/src/log-analyze.ts
  tools/logging-debug/src/log-query.ts
  tools/logging-debug/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(graphql): implement comprehensive performance optimizations
  GRAPHQL_OPTIMIZATION_SUMMARY.md
  server/docs/GRAPHQL_OPTIMIZATION.md
  server/package.json
  server/src/graphql/apollo-v5-server.ts
  server/src/graphql/dataloaders/__tests__/entityLoader.test.ts
  server/src/graphql/dataloaders/entityLoader.ts
  server/src/graphql/dataloaders/index.ts
  server/src/graphql/dataloaders/investigationLoader.ts
  server/src/graphql/dataloaders/relationshipLoader.ts
  server/src/graphql/dataloaders/userLoader.ts
  server/src/graphql/plugins/apqPlugin.ts
  server/src/graphql/plugins/performanceMonitoringPlugin.ts
  server/src/graphql/plugins/queryComplexityPlugin.ts
  server/src/graphql/resolvers/entity.ts
Due: prettier --write

feat(config-management): implement comprehensive configuration management system
  docker-compose.consul.yml
  docs/config-management/ARCHITECTURE.md
  docs/config-management/IMPLEMENTATION_GUIDE.md
  docs/config-management/README.md
  server/src/config/distributed/approval-workflow.ts
  server/src/config/distributed/consul-repository.ts
  server/src/config/distributed/index.ts
  server/src/config/distributed/multi-backend-repository.ts
  server/src/config/distributed/postgres-repository.ts
  server/src/config/distributed/secrets-manager.ts
Due: prettier --write

feat(streaming): add event-time compliance window enforcer (#1700)
  streaming/etcwe/go.mod
  streaming/etcwe/operator.go
  streaming/etcwe/operator_test.go
Due: none

feat: add mocc contract validation library (#1699)
  ga-graphai/packages/mocc/AGENTS.md
  ga-graphai/packages/mocc/package.json
  ga-graphai/packages/mocc/src/index.ts
  ga-graphai/packages/mocc/tests/mocc.test.ts
  ga-graphai/packages/mocc/tsconfig.json
Due: prettier --write

feat: add consent state reconciler service (#1698)
  services/csr/jest.config.js
  services/csr/package.json
  services/csr/src/config.ts
  services/csr/src/index.ts
  services/csr/src/reconciler.ts
  services/csr/src/types.ts
  services/csr/tests/reconciler.test.ts
  services/csr/tsconfig.json
Due: prettier --write

feat: add rare-event synthetic booster toolkit (#1695)
  resb/README.md
  resb/pyproject.toml
  resb/src/resb/__init__.py
  resb/src/resb/auditor.py
  resb/src/resb/config.py
  resb/src/resb/constraints.py
  resb/src/resb/dp.py
  resb/src/resb/generator.py
  resb/src/resb/reporting.py
  resb/tests/test_resb_pipeline.py
Due: prettier --write

feat: add immutable training run capsule toolkit (#1694)
  tools/itrc/README.md
  tools/itrc/__init__.py
  tools/itrc/__main__.py
  tools/itrc/capsule.py
  tools/itrc/cli.py
  tools/itrc/receipt.py
  tools/itrc/runner.py
  tools/itrc/signing.py
  tools/itrc/utils.py
Due: prettier --write

feat: add deterministic prompt execution cache package (#1691)
  packages/dpec/AGENTS.md
  packages/dpec/package.json
  packages/dpec/src/adapters/anthropic.ts
  packages/dpec/src/adapters/openai.ts
  packages/dpec/src/cache.ts
  packages/dpec/src/hash.ts
  packages/dpec/src/index.ts
  packages/dpec/src/types.ts
  packages/dpec/test/dpec.spec.ts
  packages/dpec/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add aql audit query engine (#1689)
  tools/aql/.gitignore
  tools/aql/Cargo.lock
  tools/aql/Cargo.toml
  tools/aql/README.md
  tools/aql/fixtures/idtl-proofs.json
  tools/aql/fixtures/idtl.json
  tools/aql/fixtures/ledger-proofs.json
  tools/aql/fixtures/ledger.json
  tools/aql/fixtures/logs-proofs.json
  tools/aql/fixtures/logs.json
  tools/aql/fixtures/mpc-proofs.json
  tools/aql/fixtures/mpc.json
  tools/aql/package.json
  tools/aql/samples/find-alice.aql
  tools/aql/src/bin/aqlc.rs
  tools/aql/src/connectors/mod.rs
  tools/aql/src/connectors/registry.rs
  tools/aql/src/dsl/mod.rs
  tools/aql/src/dsl/parser.rs
  tools/aql/src/engine.rs
  tools/aql/src/error.rs
  tools/aql/src/lib.rs
  tools/aql/src/models.rs
  tools/aql/src/verifier.rs
  tools/aql/tests/integration.rs
  tools/aql/ts/cli.ts
  tools/aql/tsconfig.json
Due: prettier --write

feat: add adaptive consent experience sdk (#1687)
  sdk/acx/__snapshots__/render.test.ts.snap
  sdk/acx/android/build.gradle.kts
  sdk/acx/android/src/main/AndroidManifest.xml
  sdk/acx/android/src/main/kotlin/com/summit/acx/AdaptiveConsent.kt
  sdk/acx/ios/Package.swift
  sdk/acx/ios/Sources/ACX/AdaptiveConsent.swift
  sdk/acx/ios/Tests/ACXTests/AdaptiveConsentTests.swift
  sdk/acx/jest.config.js
  sdk/acx/package.json
  sdk/acx/scripts/check-dark-patterns.js
  sdk/acx/src/artifact.ts
  sdk/acx/src/dark-patterns.json
  sdk/acx/src/index.ts
  sdk/acx/src/sdk.ts
  sdk/acx/src/templatePack.ts
  sdk/acx/src/types.ts
  sdk/acx/src/validators.ts
  sdk/acx/src/variants.ts
  sdk/acx/templates/policyPack.json
  sdk/acx/test/artifact.test.ts
  sdk/acx/test/experiment.test.ts
  sdk/acx/test/linter.test.ts
  sdk/acx/test/render.test.ts
  sdk/acx/test/scope.test.ts
  sdk/acx/test/snapshotResolver.cjs
  sdk/acx/tsconfig.json
Due: prettier --write

feat: introduce KRPCP rotation planner and coverage UI (#1682)
  services/krpcp/fixtures/sample_fixture.json
  services/krpcp/go.mod
  services/krpcp/planner.go
  services/krpcp/planner_test.go
  services/krpcp/ui/package.json
  services/krpcp/ui/src/index.ts
  services/krpcp/ui/tsconfig.json
Due: prettier --write

feat: add metric definition registry (#1681)
  mdr/.gitignore
  mdr/README.md
  mdr/golden/bigquery/orders_revenue/udf.sql
  mdr/golden/bigquery/orders_revenue/view.sql
  mdr/golden/postgres/orders_revenue/udf.sql
  mdr/golden/postgres/orders_revenue/view.sql
  mdr/golden/snowflake/orders_revenue/udf.sql
  mdr/golden/snowflake/orders_revenue/view.sql
  mdr/package.json
  mdr/specs/orders_revenue/v1.yaml
  mdr/src/cli.ts
  mdr/src/index.ts
  mdr/src/loader.ts
  mdr/src/registry.ts
  mdr/src/sql/generators.ts
  mdr/src/types.ts
  mdr/src/utils.ts
  mdr/tsconfig.json
Due: prettier --write

feat: add MTIF STIX/TAXII service (#1679)
  services/mtif/jest.config.ts
  services/mtif/package.json
  services/mtif/src/adapters/lrt.ts
  services/mtif/src/adapters/ppc.ts
  services/mtif/src/adapters/rsr.ts
  services/mtif/src/config.ts
  services/mtif/src/index.ts
  services/mtif/src/schema/stix21-bundle.json
  services/mtif/src/server.ts
  services/mtif/src/services/BundleFactory.ts
  services/mtif/src/services/FeedRepository.ts
  services/mtif/src/services/StixValidator.ts
  services/mtif/src/services/TaxiiService.ts
  services/mtif/src/types.ts
  services/mtif/src/utils/signing.ts
  services/mtif/tests/adapters.test.ts
  services/mtif/tests/stixFactory.test.ts
  services/mtif/tests/taxiiApi.test.ts
  services/mtif/tsconfig.json
Due: prettier --write

feat: add mobile ODPS SDKs for Android and iOS (#1674)
  sdk/mobile/README.md
  sdk/mobile/android/.gitignore
  sdk/mobile/android/README.md
  sdk/mobile/android/build.gradle.kts
  sdk/mobile/android/settings.gradle.kts
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/Batching.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/Consent.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/DifferentialPrivacy.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/Policy.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/TelemetryModels.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/TelemetryPipeline.kt
  sdk/mobile/android/src/main/kotlin/com/summit/odps/android/TransmissionVerifier.kt
  sdk/mobile/android/src/test/kotlin/com/summit/odps/android/TelemetryPipelineTest.kt
  sdk/mobile/android/src/test/kotlin/com/summit/odps/android/TestFixtures.kt
  sdk/mobile/ios/.gitignore
  sdk/mobile/ios/Package.swift
  sdk/mobile/ios/README.md
  sdk/mobile/ios/Sources/ODPS/Batching.swift
  sdk/mobile/ios/Sources/ODPS/Consent.swift
  sdk/mobile/ios/Sources/ODPS/DifferentialPrivacy.swift
  sdk/mobile/ios/Sources/ODPS/Policy.swift
  sdk/mobile/ios/Sources/ODPS/TelemetryModels.swift
  sdk/mobile/ios/Sources/ODPS/TelemetryPipeline.swift
  sdk/mobile/ios/Sources/ODPS/TransmissionVerifier.swift
  sdk/mobile/ios/Tests/ODPSTests/TelemetryPipelineTests.swift
  sdk/mobile/ios/Tests/ODPSTests/TestFixtures.swift
Due: prettier --write

feat: add immutable business rules sandbox engine (#1673)
  Cargo.lock
  Cargo.toml
  bindings/ibrs-node/Cargo.toml
  bindings/ibrs-node/build.rs
  bindings/ibrs-node/index.d.ts
  bindings/ibrs-node/index.js
  bindings/ibrs-node/package.json
  bindings/ibrs-node/src/lib.rs
  ibrs/Cargo.toml
  ibrs/src/bin/ibrs-cli.rs
  ibrs/src/lib.rs
  ibrs/src/parser.rs
  ibrs/src/runtime.rs
  ibrs/tests/completeness.rs
Due: prettier --write

feat: add knowledge cutoff router library (#1635)
  src/kcr/__tests__/router.test.ts
  src/kcr/index.ts
  src/kcr/router.ts
  src/kcr/simulator.ts
  src/kcr/types.ts
  tests/kcr-simulator.ts
Due: none

feat: add mfue unlearning evaluation framework (#1634)
  mfue/__init__.py
  mfue/baselines.py
  mfue/config.py
  mfue/datasets.py
  mfue/evaluator.py
  mfue/metrics.py
  mfue/models.py
  mfue/report.py
  tests/conftest.py
  tests/mfue/test_evaluator.py
Due: none

feat: add consent revocation propagator service (#1633)
  services/crp/README.md
  services/crp/errors.go
  services/crp/go.mod
  services/crp/processor.go
  services/crp/processor_test.go
  services/crp/repository.go
  services/crp/systems.go
  services/crp/types.go
Due: prettier --write

feat: add risk-adaptive limiter sidecar and sdk (#1631)
  sdk/rarl/README.md
  sdk/rarl/package.json
  sdk/rarl/src/client.ts
  sdk/rarl/src/index.ts
  sdk/rarl/src/types.ts
  sdk/rarl/tsconfig.json
  tools/rarl/README.md
  tools/rarl/cmd/rarl/main.go
  tools/rarl/config/sample-config.json
  tools/rarl/go.mod
  tools/rarl/internal/rarl/config.go
  tools/rarl/internal/rarl/manager.go
  tools/rarl/internal/rarl/manager_test.go
  tools/rarl/internal/server/server.go
Due: prettier --write

feat: add agql attestation graph workspace (#1629)
  agql/Cargo.lock
  agql/Cargo.toml
  agql/agql-cli/Cargo.toml
  agql/agql-cli/src/main.rs
  agql/agql-core/Cargo.toml
  agql/agql-core/src/lib.rs
  agql/agql-server/Cargo.toml
  agql/agql-server/src/main.rs
Due: none

feat: add federated schema registry with policy tags (#1627)
  src/fsr-pt/SchemaCompatibility.ts
  src/fsr-pt/SchemaRegistry.ts
  src/fsr-pt/TagDiff.ts
  src/fsr-pt/clientGenerator.ts
  src/fsr-pt/index.ts
  src/fsr-pt/types.ts
  test/fsr-pt/schemaRegistry.test.ts
Due: none

feat(quality): add comprehensive code quality and static analysis tools
  .github/workflows/code-quality.yml
  .github/workflows/danger.yml
  .jscpd.json
  CLAUDE.md
  README.md
  dangerfile.ts
  docs/CODE_QUALITY_DASHBOARD.md
  docs/CODING_STANDARDS.md
  docs/TECHNICAL_DEBT.md
  package.json
Due: prettier --write

feat: add provenance CLI and export manifest spec (#1619)
  exports/examples/export-public.pem
  exports/examples/ledger.json
  exports/examples/manifest-tampered.json
  exports/examples/manifest.json
  exports/manifest-spec.md
  provenance/model.md
  provenance/schema.json
  services/provenance-cli/package.json
  services/provenance-cli/src/canonicalize.ts
  services/provenance-cli/src/hash.ts
  services/provenance-cli/src/index.ts
  services/provenance-cli/src/ledger.ts
  services/provenance-cli/src/manifest.ts
  services/provenance-cli/src/signing.ts
  services/provenance-cli/tsconfig.json
  tests/provenance/provenance-cli.spec.ts
Due: prettier --write

feat: add explainable ranking auditor toolkit (#1617)
  tools/xra/README.md
  tools/xra/dashboard/package.json
  tools/xra/dashboard/src/generateDashboard.ts
  tools/xra/dashboard/tsconfig.json
  tools/xra/examples/sample_retrieval_v1.json
  tools/xra/examples/sample_retrieval_v2.json
  tools/xra/pyproject.toml
  tools/xra/runs/.gitkeep
  tools/xra/tests/conftest.py
  tools/xra/tests/test_metrics.py
  tools/xra/xra/__init__.py
  tools/xra/xra/cli.py
  tools/xra/xra/explanations.py
  tools/xra/xra/metrics.py
  tools/xra/xra/models.py
  tools/xra/xra/replay.py
  tools/xra/xra/report.py
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
