Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(devcontainer): enhance Dev Container with Summit dev station tools
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  docs/devstation/DEVCONTAINER.md
  docs/devstation/README.md
Due: prettier --write

docs: add osint architecture memo
  agents/examples/osint-architecture-memo.task.json
  docs/osint/OSINT_ARCHITECTURE_MEMO.md
  docs/roadmap/STATUS.json
  prompts/docs/osint-architecture-memo@v1.md
  prompts/registry.yaml
Due: prettier --write

docs: add linear governance runbook and board spec
  docs/roadmap/STATUS.json
  docs/runbooks/linear-governance-runbook.md
  docs/runbooks/linear/board-spec.yaml
Due: prettier --write

feat: add branch protection reconciliation plan for issue #15790
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.json
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.md
  evidence/branch-protection-reconciliation-issue-comment.md
  evidence/branch-protection-reconciliation-runbook-2026-01-16T01-15-54Z.sh
Due: prettier --write

fix(governance): align #15790 required checks package to always_required list
  .commitlintrc.cjs
  docs/ci/BRANCH_PROTECTION_DRIFT.md
  docs/security/README.md
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.json
  evidence/branch-protection-reconciliation-2026-01-16T01-15-54Z.md
  evidence/branch-protection-reconciliation-issue-comment.md
  evidence/branch-protection-reconciliation-runbook-2026-01-16T01-15-54Z.sh
  package.json
  scripts/ci/lib/canonical-serializer.mjs
  scripts/ci/verify_evidence_id_consistency.mjs
  server/src/analysis/GraphAnalysisService.ts
Due: prettier --write

fix(governance): final alignment of issue comment contexts count
  evidence/branch-protection-reconciliation-issue-comment.md
Due: prettier --write

chore(security): tighten CODEOWNERS for security-critical paths
  .github/CODEOWNERS
  docs/security/README.md
Due: prettier --write

feat(governance): Summit Development Roadmap automation system - Complete implementation of Project 19 governance with 40+ new fields, automation, safety features, and CI/CD integration
  .github/workflows/project19-ci-signals.yml
  .github/workflows/project19-event-sync.yml
  .github/workflows/project19-fields-ensure.yml
  .github/workflows/project19-generate-snapshot.yml
  .github/workflows/project19-nightly-reconcile.yml
  docs/governance/CI_INTEGRATION_GUIDE.md
  docs/governance/OPERATING_PROCEDURES.md
  docs/governance/PROJECT19_FIELD_EXPANSION_PLAN.md
  docs/governance/SYSTEM_IMPLEMENTATION_COMPLETE.md
  package.json
  packages/work-graph/ROADMAP.md
  packages/work-graph/scripts/enrich-remaining.sh
  packages/work-graph/scripts/final-stats.sh
  packages/work-graph/scripts/schedule-all-backlog.sh
  packages/work-graph/scripts/sync-to-project.sh
  scripts/ci/verify_evidence_id_consistency.mjs
  scripts/config/project19-field-map.json
  scripts/config/project19-field-schema.json
  scripts/config/project19-label-map.json
  scripts/config/project19-score-policy.json
  scripts/config/project19-views.json
  scripts/config/project19-workflow-map.json
  scripts/governance/project19/README.md
  scripts/governance/project19/lib/artifacts.mjs
  scripts/governance/project19/lib/determinism.mjs
  scripts/governance/project19/lib/field-ops.mjs
  scripts/governance/project19/lib/github-graphql.mjs
  scripts/governance/project19/lib/item-ops.mjs
  scripts/governance/project19/lib/mapping.mjs
  scripts/governance/project19/lib/schema.mjs
  scripts/governance/project19/lib/scoring.mjs
Due: prettier --write

feat(governance): implement single-writer architecture for deterministic evidence ID gate
  packages/work-graph/scripts/add-all-sprint-labels.sh
  packages/work-graph/scripts/comprehensive-check.sh
  packages/work-graph/scripts/schedule-unassigned.sh
Due: none

feat: add provider conformance harness
  .github/workflows/ci.yml
  .github/workflows/provider-conformance.yml
  agents/examples/provider-conformance-harness-task.json
  docs/provider-conformance.md
  docs/roadmap/STATUS.json
  libs/provider-conformance/src/adapters/anthropic.ts
  libs/provider-conformance/src/adapters/azure_openai.ts
  libs/provider-conformance/src/adapters/base.ts
  libs/provider-conformance/src/adapters/bedrock.ts
  libs/provider-conformance/src/adapters/openai.ts
  libs/provider-conformance/src/adapters/vertex.ts
  libs/provider-conformance/src/contracts/headers_sanity.ts
  libs/provider-conformance/src/contracts/index.ts
  libs/provider-conformance/src/contracts/json_strictness.ts
  libs/provider-conformance/src/contracts/max_tokens.ts
  libs/provider-conformance/src/contracts/rate_limit.ts
  libs/provider-conformance/src/contracts/streaming.ts
  libs/provider-conformance/src/contracts/tool_calls.ts
  libs/provider-conformance/src/contracts/types.ts
  libs/provider-conformance/src/errors.ts
  libs/provider-conformance/src/index.ts
  libs/provider-conformance/src/reporters/json.ts
  libs/provider-conformance/src/reporters/md.ts
  libs/provider-conformance/src/types.ts
  libs/provider-conformance/src/utils.ts
  libs/provider-conformance/tsconfig.json
  package.json
  prompts/engineering/provider-conformance-harness.md
  prompts/registry.yaml
  scripts/provider-conformance.ts
Due: prettier --write

feat: add copilot cli wrapper
  Makefile
  agents/examples/COPILOT_CLI_WRAPPER_20260115.json
  docs/dev/copilot-cli.md
  docs/roadmap/STATUS.json
  prompts/dev/copilot-cli-wrapper@v1.md
  prompts/registry.yaml
  tools/copilot/summit-copilot
Due: prettier --write

feat: add context pruning service
  agents/examples/context-pruning-task.json
  agents/examples/context-pruning-task.md
  docs/context-pruning.md
  docs/roadmap/STATUS.json
  scripts/ops/generate-context-pruning-evidence.ts
  services/context-pruner/Dockerfile
  services/context-pruner/README.md
  services/context-pruner/docker-compose.context-pruner.yml
  services/context-pruner/fixtures/sample_en.txt
  services/context-pruner/fixtures/sample_zh.txt
  services/context-pruner/requirements.txt
  services/context-pruner/src/main.py
  services/context-pruner/tests/test_highlight.py
  services/graphrag/src/GraphRAGOrchestrator.ts
  services/graphrag/src/__tests__/ContextPacker.test.ts
  services/graphrag/src/__tests__/ContextPrunerClient.test.ts
  services/graphrag/src/context/ContextPacker.ts
  services/graphrag/src/context/ContextPrunerClient.ts
  services/graphrag/src/context/types.ts
  services/graphrag/src/index.ts
  services/graphrag/src/types/index.ts
Due: prettier --write

feat(maestro): add tool-aware calibration instrumentation
  .github/pr_metadata.json
  .github/workflows/ci-core.yml
  .lintstagedrc.json
  agents/examples/TASK_TOOL_CALIBRATION_20260114.json
  docs/governance/calibration.md
  docs/roadmap/STATUS.json
  package.json
  packages/maestro-core/src/confidence/ConfidenceReport.ts
  packages/maestro-core/src/confidence/__tests__/__snapshots__/calibrationReport.test.ts.snap
  packages/maestro-core/src/confidence/__tests__/calibrationReport.test.ts
  packages/maestro-core/src/confidence/__tests__/confidenceMiddleware.test.ts
  packages/maestro-core/src/confidence/__tests__/confidenceReport.test.ts
  packages/maestro-core/src/confidence/__tests__/evidenceNoise.test.ts
  packages/maestro-core/src/confidence/calibration-params.json
  packages/maestro-core/src/confidence/calibrationReport.ts
  packages/maestro-core/src/confidence/calibrator.ts
  packages/maestro-core/src/confidence/evidenceNoise.ts
  packages/maestro-core/src/confidence/index.ts
  packages/maestro-core/src/confidence/toolType.ts
  packages/maestro-core/src/middleware/confidenceMiddleware.ts
  scripts/ci/run-calibration-smoke.ts
  scripts/release/collect_evidence.sh
Due: prettier --write, eslint --fix --max-warnings=0 --cache

ci: add automated security remediation workflow
  .github/workflows/auto-security-fix.yml
Due: prettier --write

chore(security): CODEOWNERS enforcement smoke test (do not merge)
  .github/workflows/.codeowners-smoke-test.md
  docs/security/.codeowners-smoke-test.md
  server/tests/security/manual_isolation.test.ts
Due: prettier --write

chore(security): trigger intelgraph-security CODEOWNERS
  server/src/security/index.ts
Due: none

docs(security): add CODEOWNERS smoke test evidence
  docs/security/branch_protection_snapshots/2026-01-16-smoke-test-results.md
Due: prettier --write

docs: add 1code parity plan for maestro
  agents/examples/DOCS_1CODE_PARITY_PLAN.json
  docs/competitive/1code-parity-maestro.md
  docs/roadmap/STATUS.json
  prompts/competitive/1code-parity-plan@v1.md
  prompts/registry.yaml
Due: prettier --write

docs: add summit simplifier contract
  agents/examples/summit-simplifier-contract-task.json
  docs/governance/SUMMIT_SIMPLIFIER_CONTRACT.md
  docs/roadmap/STATUS.json
  prompts/governance/summit-simplifier-contract@v1.md
  prompts/registry.yaml
Due: prettier --write

feat: add maestro query explicitation stage
  agents/examples/explicate-query-stage.json
  docs/maestro-explicitation-contract.md
  docs/roadmap/STATUS.json
  packages/agent-lab/package.json
  packages/agent-lab/src/tools.ts
  packages/maestro-cli/src/commands/explicate.ts
  packages/maestro-cli/src/index.ts
  packages/maestro-core/package.json
  packages/maestro-core/src/explicitation/__tests__/explicateQuery.test.ts
  packages/maestro-core/src/explicitation/explicateQuery.ts
  packages/maestro-core/src/explicitation/index.ts
  packages/maestro-core/src/explicitation/retrievalGate.ts
  packages/maestro-core/src/explicitation/types.ts
  prompts/maestro/explicate-query-stage@v1.md
  prompts/registry.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(cloud): implement deterministic GA artifact promotion to dev/stage/prod
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/release-ga-pipeline.yml
  docs/releases/CLOUD_PROMOTION_MODEL.md
  scripts/cloud/rollback-promotion.sh
  scripts/cloud/verify-promotion-contract.sh
  scripts/release/generate-ga-ready-contract.sh
Due: prettier --write

docs: add Claude Code UI best practices guide
  docs/claude-code-prompts/CLAUDE_CODE_UI_GUIDE.md
  docs/claude-code-prompts/README.md
Due: prettier --write

fix(deps): resolve CI/CD blocking dependency version conflicts
  .commitlintrc.cjs
  api/security/tar_extraction.py
  api/tests/test_tar_extraction_security.py
  package.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

fix(deps): remove unused Set import from typing
  api/security/tar_extraction.py
Due: none

fix(deps): resolve CI/CD blocking dependency and type conflicts
  .commitlintrc.cjs
  api/security/tar_extraction.py
  api/tests/test_tar_extraction_security.py
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove old .commitlintrc.js file after rename to .cjs
  .commitlintrc.js
Due: none

fix(ci): resolve pnpm version conflicts in workflows
  .github/workflows/release-train.yml
  .github/workflows/verify-claims.yml
Due: prettier --write

fix(ci): standardize pnpm version to 10.0.0 across all workflows
  .github/workflows/ci-core.yml
  .github/workflows/pr-gates.yml
Due: prettier --write

fix(ci): use pnpm instead of npm in evidence-id-consistency workflow
  .github/workflows/evidence-id-consistency.yml
Due: prettier --write

fix(ci): update gitleaks-action SHA to valid reference
  .github/workflows/ga-ready.yml
Due: prettier --write

fix(deps): resolve CI/CD blocking dependency version conflicts (#16465)
  .commitlintrc.cjs
  .github/workflows/ci-core.yml
  .github/workflows/evidence-id-consistency.yml
  .github/workflows/ga-ready.yml
  .github/workflows/pr-gates.yml
  .github/workflows/release-train.yml
  .github/workflows/verify-claims.yml
  api/security/tar_extraction.py
  api/tests/test_tar_extraction_security.py
  package.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

feat: add deep research evaluation harness
  .github/workflows/deep-research-eval.yml
  AGENT_ACTIVITY.md
  TASK_BACKLOG.md
  agent-contract.json
  agents/examples/DEEP_RESEARCH_EVAL_HARNESS.task.json
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/deep-research-eval.md
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  packages/cli/package.json
  packages/cli/src/commands/eval.ts
  packages/cli/src/index.ts
  packages/deep-research-eval/README.md
  packages/deep-research-eval/fixtures/golden-claims.json
  packages/deep-research-eval/fixtures/reports.sample.json
  packages/deep-research-eval/fixtures/taskpack.sample.json
  packages/deep-research-eval/package.json
  packages/deep-research-eval/src/evidence/bundle.ts
  packages/deep-research-eval/src/factcheck/claim_extractor.ts
  packages/deep-research-eval/src/factcheck/verdict_schema.ts
  packages/deep-research-eval/src/factcheck/verifier.ts
  packages/deep-research-eval/src/filters/access_feasibility.ts
  packages/deep-research-eval/src/filters/search_necessity.ts
  packages/deep-research-eval/src/filters/task_qualification.ts
  packages/deep-research-eval/src/filters/types.ts
  packages/deep-research-eval/src/index.ts
  packages/deep-research-eval/src/rubric/adaptive_rubric.ts
  packages/deep-research-eval/src/rubric/scorer.ts
  packages/deep-research-eval/src/rubric/types.ts
  packages/deep-research-eval/src/run.ts
  packages/deep-research-eval/src/taskpack/loader.ts
  packages/deep-research-eval/src/taskpack/schema.ts
  packages/deep-research-eval/tests/claim-extractor.test.ts
  packages/deep-research-eval/tests/evidence-bundle.test.ts
  packages/deep-research-eval/tests/filters.test.ts
  packages/deep-research-eval/tests/rubric.test.ts
  packages/deep-research-eval/tsconfig.json
  prompts/engineering/deep-research-eval@v1.md
  prompts/registry.yaml
  scripts/ci/deep-research-eval.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add maestro reasoning crew scaffold
  agents/examples/MAESTRO_REASONING_CREW_TASK.json
  docs/maestro/REASONING_CREW.md
  docs/maestro/reasoning-evidence.schema.json
  docs/roadmap/STATUS.json
  packages/maestro-reasoning/package.json
  packages/maestro-reasoning/src/__tests__/scoring.test.ts
  packages/maestro-reasoning/src/adjudicator.ts
  packages/maestro-reasoning/src/aggregator.ts
  packages/maestro-reasoning/src/cascade.ts
  packages/maestro-reasoning/src/crew.ts
  packages/maestro-reasoning/src/evidence.ts
  packages/maestro-reasoning/src/index.ts
  packages/maestro-reasoning/src/lanes/defaultLanes.ts
  packages/maestro-reasoning/src/provenance.ts
  packages/maestro-reasoning/src/types.ts
  packages/maestro-reasoning/tsconfig.json
  prompts/maestro/reasoning-crew@v1.md
  prompts/registry.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add agent registry v0 scaffolding
  agents/examples/AGENT_REGISTRY_V0.task.json
  docs/agents/AGENT_REGISTRY_V0.md
  docs/agents/README.md
  docs/agents/registry/decision-critic.yaml
  docs/agents/registry/maestro-orchestrator.yaml
  docs/agents/registry/sop-compiler.yaml
  docs/roadmap/STATUS.json
  packages/agent-registry/package.json
  packages/agent-registry/src/__tests__/registry.test.ts
  packages/agent-registry/src/index.ts
  packages/agent-registry/tsconfig.json
  packages/cli/package.json
  packages/cli/src/commands/agents.ts
  packages/cli/src/index.ts
  prompts/agents/agent-registry-v0.md
  prompts/registry.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: clarify pr metadata enforcement
  docs/roadmap/STATUS.json
  docs/runbooks/CI_RELEASE_GATE_RUNBOOK.md
Due: prettier --write

fix(ci): resolve dependency and build configuration issues
  .commitlintrc.cjs
  api/security/tar_extraction.py
  api/tests/test_tar_extraction_security.py
  package.json
  pnpm-lock.yaml
  server/scripts/run-jest.mjs
Due: prettier --write

fix(deps): correct invalid dependency versions in overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(lint): resolve all TypeScript and Python linting errors
  .commitlintrc.cjs
  api/security/tar_extraction.py
  api/tests/test_tar_extraction_security.py
  package.json
  packages/sdk-ts/tsconfig.json
  pnpm-lock.yaml
  scripts/setup-type-stubs.sh
  types/hapi__catbox/index.d.ts
  types/hapi__shot/index.d.ts
Due: prettier --write

fix(ci): downgrade express types and chalk for compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(integrations): add 90-day integration roadmap
  docs/integrations/roadmap-90day.md
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
