Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Add supply chain runbook and PR checklist item (#13965)
  .github/PULL_REQUEST_TEMPLATE.md
  RUNBOOKS/supply-chain.md
Due: prettier --write

feat: add sbom budget diff enforcement (#13966)
  .ci/scripts/sbom/__init__.py
  .ci/scripts/sbom/diff_budget.py
  .maestro/ci_budget.json
  test/test_diff_budget.py
Due: prettier --write

Harden release and deployment supply-chain gates (#13967)
  .github/workflows/canary-deployment.yml
  .github/workflows/promote.yml
  .github/workflows/release-ga.yml
Due: prettier --write

Add dependency SBOM policy enforcement (#13968)
  .ci/policies/deps.rego
  .github/workflows/build-images.yml
  .github/workflows/promote-on-build.yml
  .security/deps/policy.yaml
Due: prettier --write

Add ig backup CLI for encrypted backups and restores (#13970)
  docs/IG_BACKUP_RUNBOOK.md
  tools/ig-backup/index.js
  tools/ig-backup/index.test.js
  tools/ig-backup/lib/backup-service.js
  tools/ig-backup/lib/crypto.js
  tools/ig-backup/lib/passphrase.js
  tools/ig-backup/lib/storage.js
Due: prettier --write

Add deterministic fuzz cases for gateway inputs (#13971)
  jest.config.cjs
  server/src/__tests__/fuzz-inputs.test.ts
  server/src/utils/input-sanitization.ts
  tests/utils/jest-setup.ts
  tsconfig.test.json
Due: prettier --write

Add progressive graph rendering with accessibility and performance tests (#13972)
  ga-graphai/packages/web/src/components/graph/ProgressiveGraph.tsx
  ga-graphai/packages/web/src/index.ts
  ga-graphai/packages/web/tests/progressiveGraph.test.tsx
  ga-graphai/packages/web/vitest.config.ts
Due: none

feat: add case overview cache endpoint (#13973)
  server/scripts/rebuild-case-overview-cache.ts
  server/src/cases/overview/CaseOverviewService.ts
  server/src/db/migrations/postgres/022_case_overview_cache.sql
  server/src/repos/CaseOverviewCacheRepo.ts
  server/src/routes/cases.ts
  server/src/tests/case-overview-cache.test.ts
Due: none

Add clustering controls and geo points endpoint (#13974)
  apps/mobile/__tests__/components/ClusteringToggle.test.tsx
  apps/mobile/src/components/geoint/ClusteringToggle.tsx
  apps/mobile/src/components/geoint/GEOINTMap.tsx
  apps/mobile/src/config/index.ts
  services/geoint-threat-platform/src/__tests__/geo-points.test.ts
  services/geoint-threat-platform/src/index.ts
  services/geoint-threat-platform/src/neo4j/repository.ts
Due: none

feat: add webhook delivery pipeline (#13975)
  server/db/managed-migrations/202503010001_webhook_delivery.down.sql
  server/db/managed-migrations/202503010001_webhook_delivery.up.sql
  server/src/queues/config.ts
  server/src/webhooks/__tests__/webhooks.test.ts
  server/src/webhooks/metrics.ts
  server/src/webhooks/repository.ts
  server/src/webhooks/service.ts
  server/src/webhooks/signature.ts
  server/src/webhooks/types.ts
  server/tests/setup/jest.setup.ts
Due: none

feat: add break-glass access flow (#13976)
  docs/runbooks/break-glass-runbook.md
  services/authz-gateway/src/attribute-service.ts
  services/authz-gateway/src/audit.ts
  services/authz-gateway/src/break-glass.ts
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/middleware.ts
  services/authz-gateway/src/session.ts
  services/authz-gateway/src/types.ts
  services/authz-gateway/tests/break-glass.test.ts
Due: prettier --write

Replace 2027 capacity budget workbook with markdown (#13977)
  planning/2027_capacity_budget_v1.md
  planning/2027_kpi_tree_v1.md
  planning/2027_quarterly_okrs_v1.md
  planning/2027_risk_register_v1.md
  planning/board_pack_lite_v1.md
  planning/stage_gates_v2.md
Due: prettier --write

Add MVP-3 GA master orchestration prompt (#13979)
  MASTER_ORCHESTRATION_PROMPT_MVP3_TO_GA.md
Due: prettier --write

feat: scaffold reference adapters (#13980)
  adapters/reference/index.ts
  adapters/reference/oidc-scim/definition.ts
  adapters/reference/packaging.ts
  adapters/reference/s3-storage/definition.ts
  adapters/reference/types.ts
  adapters/reference/webhook-sink/definition.ts
  package.json
  tests/adapters/reference-adapters.test.ts
  tests/utils/jest-setup.ts
Due: prettier --write

feat: add adapter executor runtime (#13981)
  packages/adapter-sdk/package.json
  packages/adapter-sdk/src/cli/index.ts
  packages/adapter-sdk/src/cli/replay.ts
  packages/adapter-sdk/src/index.ts
  packages/adapter-sdk/src/runtime/executor.test.ts
  packages/adapter-sdk/src/runtime/executor.ts
  packages/adapter-sdk/src/runtime/types.ts
  packages/adapter-sdk/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: add data path tagging validation (#13982)
  .github/policies/data-paths.rego
  .github/workflows/abac-policy.yml
  server/config/data-paths.yaml
  server/config/schemas/data-paths.schema.json
Due: prettier --write

chore: configure multi-service canary workflows (#13983)
  .github/workflows/blue-green-canary.yml
  .github/workflows/canary-deployment.yml
  .github/workflows/deploy-prod-canary.yml
  scripts/canary/deploy-canary.sh
  summit_release_env_pack/k8s/canary/canary-stage-config.json
Due: prettier --write

Add RED + saturation Grafana dashboard and validation (#13984)
  .github/workflows/docs-screenshots.yml
  .github/workflows/validate-grafana-json.yml
  docs/observability/screenshots/README.md
  docs/observability/screenshots/intelgraph-red-saturation.png
  grafana/dashboards/intelgraph-red-saturation.json
  observability/grafana/alerts/intelgraph-red-alerts.yaml
Due: prettier --write

feat: add abac authorization guards (#13989)
  client/src/auth/withAuthorization.test.tsx
  client/src/auth/withAuthorization.tsx
  client/src/hooks/useActionSafetyStatus.ts
  client/src/routes/ActionDetailsRoute.tsx
  client/src/routes/HomeRoute.tsx
  client/src/routes/__tests__/ActionDetailsRoute.test.tsx
  client/src/utils/capabilities.test.ts
  client/src/utils/capabilities.ts
Due: none

feat: add runtime evidence bundle flow (#13992)
  client/src/pages/DisclosurePackagerPage.tsx
  client/src/services/disclosures.ts
  server/src/disclosure/runtime-evidence.ts
  server/src/routes/disclosures.ts
  tests/redaction/pii-fields.test.ts
  tools/runtime-evidence-bundle.ts
Due: none

feat: publish trust decisions to audit bus (#13994)
  docs/governance/decision-audit-retention.md
  docs/governance/log-samples/decision-audit-sample.json
  zero-trust/federation/trust-propagation-controller.ts
Due: prettier --write

docs: add IP intake and defensive pub drafts (#13995)
  docs/defensive-pubs/dp-budgeting-defensive-publication.md
  docs/defensive-pubs/offline-mirror-defensive-publication.md
  docs/ip/fto-he-mpc-checklist.md
  docs/ip/invention-intake-template.md
  docs/ip/provisionals-wave1.md
Due: prettier --write

feat: add vulnerability class registry skeleton (#14025)
  docs/security/vuln-classes.md
  tools/security/vuln-classify.ts
Due: prettier --write

Add FinOps TTL governance for preview environments (#13964)
  .ci/policies/preview.rego
  .ci/scripts/preview/calc_cost.py
  .ci/scripts/preview/extend_destroy_webhook.ts
  .ci/scripts/preview/pr_comment.py
  .github/workflows/preview-env.yml
  .github/workflows/preview-janitor.yml
  .maestro/ci_budget.json
  .security/policy/ingress-preview.yaml
  RUNBOOKS/preview-env.md
  deploy/helm/intelgraph/templates/preview-quota.yaml
  deploy/helm/intelgraph/values-preview.yaml
  observability/grafana/dashboards/preview-fleet.json
Due: prettier --write

Harden SBOM provenance workflow with keyless signing defaults (#13963)
  .github/workflows/sbom-provenance.yml
Due: prettier --write

Add OTEL golden path probes and instrumentation (#13962)
  .ci/policies/goldenpaths.rego
  .github/workflows/golden-paths-ci.yml
  RUNBOOKS/golden-paths.md
  apps/gateway/src/middleware/otel.ts
  apps/web/src/lib/otel-client.ts
  deploy/helm/intelgraph/templates/synth-probe-cron.yaml
  observability/golden_paths.yaml
  observability/grafana/dashboards/golden-paths.json
  tools/synth-probe/Dockerfile
  tools/synth-probe/__init__.py
  tools/synth-probe/__main__.py
  tools/synth-probe/probe.py
  tools/synth-probe/requirements.txt
Due: prettier --write

Add OPA authz policy pack and enforcement (#13961)
  .ci/policies/k8s.rego
  .ci/scripts/opa/build_wasm.sh
  .github/workflows/policy-ci.yml
  RUNBOOKS/authz.md
  apps/gateway/src/middleware/authz.ts
  apps/gateway/src/middleware/policyGuard.ts
  deploy/helm/intelgraph/templates/opa/configmap.yaml
  deploy/helm/intelgraph/templates/opa/sidecar.yaml
  deploy/helm/intelgraph/values.yaml
  observability/grafana/dashboards/authz.json
  policy/authz/abac.rego
  policy/authz/admin.rego
  policy/authz/rbac.rego
  policy/common/helpers.rego
  policy/data/permissions.json
  policy/data/roles.json
  policy/fixtures/admin_impersonate.json
  policy/fixtures/admin_impersonate_missing_warrant.json
  policy/fixtures/analyst_report.json
  policy/fixtures/analyst_report_missing_reason.json
  policy/fixtures/cross_tenant.json
  policy/schema/input.schema.json
  policy/tests/authz_test.rego
  services/ai-nlq/src/server.ts
  services/ingest/src/server.ts
  services/lib/authz.ts
  services/reporting/src/reportingService.ts
Due: prettier --write

feat: scaffold data plane reliability baseline (#13960)
  .ci/scripts/db/explain_guard.ts
  .ci/scripts/db/slow_query_lint.py
  .github/workflows/index-advisor.yml
  RUNBOOKS/data-plane.md
  apps/gateway/src/lib/tenant_context.ts
  configs/data-plane/defaults.yaml
  deploy/helm/intelgraph/charts/pgbouncer/Chart.yaml
  deploy/helm/intelgraph/charts/pgbouncer/templates/configmap.yaml
  deploy/helm/intelgraph/charts/pgbouncer/templates/deployment.yaml
  deploy/helm/intelgraph/charts/pgbouncer/values.yaml
  k6/data-plane-smoke.js
  libs/reliability/node/circuit_breaker.ts
  libs/reliability/python/circuit_breaker.py
  libs/reliability/python/db_client.py
  observability/grafana/dashboards/data-plane-overview.json
  observability/grafana/dashboards/neo4j-queries.json
  observability/grafana/dashboards/postgres-slow-queries.json
  observability/grafana/dashboards/redis-overview.json
  schemas/index_catalog.yaml
Due: prettier --write

Add DR backup orchestration scaffolding and workflows (#13959)
  .ci/policies/dr.rego
  .ci/scripts/dr/cutback.sh
  .ci/scripts/dr/failover.sh
  .github/workflows/backup-verify.yml
  .github/workflows/failover-cutback.yml
  RUNBOOKS/dr-cutback.md
  RUNBOOKS/dr-failover.md
  deploy/helm/intelgraph/values-dr.yaml
  deploy/terraform/envs/dr/main.tf
  deploy/terraform/envs/dr/variables.tf
  dr/rto_rpo.yaml
  observability/grafana/dashboards/dr-overview.json
  tools/backup-orchestrator/__init__.py
  tools/backup-orchestrator/cli.py
Due: prettier --write

Add performance k6 suite and autoscaling tuning (#13958)
  .ci/scripts/perf/pr_comment_summary.py
  .github/workflows/performance-gate.yml
  RUNBOOKS/performance.md
  deploy/helm/intelgraph/templates/hpa/consumer-keda.yaml
  deploy/helm/intelgraph/templates/hpa/web-hpa.yaml
  k6/README.md
  k6/golden-baseline.js
  k6/golden-soak.js
  k6/golden-spike.js
  k6/golden-stress.js
  observability/grafana/dashboards/hpa-behavior.json
  observability/grafana/dashboards/perf-overview.json
  perf/models.yaml
  tools/perf-predict/__init__.py
  tools/perf-predict/main.py
Due: prettier --write

chore: add alert webhook rollback triggers (#13954)
  .github/workflows/auto-rollback.yml
  .github/workflows/pipeline-rollback.yml
  RUNBOOK.md
Due: prettier --write

feat: enhance abac dual-control coverage (#13948)
  package.json
  policy/abac/README.md
  policy/abac/abac.rego
  policy/abac/data.json
  policy/simulation/README.md
  policy/simulation/privileged_actions.json
  policy/simulation/privileged_actions_test.rego
  policy/tests/abac_test.rego
  scripts/policy-test.sh
Due: prettier --write

Enforce OPA guard on Maestro routing endpoint (#13946)
  server/src/conductor/api/__tests__/policy-routes-opa.test.ts
  server/src/conductor/api/policy-routes.ts
  server/tests/setup/jest.setup.ts
Due: none

Add receipt schema, signer, and worker pipeline (#13944)
  packages/provenance/jest.config.cjs
  packages/provenance/package.json
  packages/provenance/src/__tests__/receipt.test.ts
  packages/provenance/src/index.ts
  packages/provenance/tsconfig.json
  prov-ledger-service/package.json
  prov-ledger-service/src/export/receiptBundle.ts
  prov-ledger-service/src/receipts.ts
  prov-ledger-service/src/server.ts
  prov-ledger-service/tests/receipts.test.ts
  prov-ledger-service/tsconfig.json
  prov-ledger/schema/receipt.v0.1.json
  services/receipt-signer/jest.config.cjs
  services/receipt-signer/package.json
  services/receipt-signer/src/__tests__/server.test.ts
  services/receipt-signer/src/server.ts
  services/receipt-signer/src/signer.ts
  services/receipt-signer/tsconfig.json
  services/receipt-worker/jest.config.cjs
  services/receipt-worker/package.json
  services/receipt-worker/src/__tests__/queue.test.ts
  services/receipt-worker/src/node-stubs.d.ts
  services/receipt-worker/src/queue.ts
  services/receipt-worker/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: document Maestro SLOs and add burn-rate enforcement (#13938)
  .github/workflows/error-budget-monitoring.yml
  scripts/route_slo_check.ts
  slo/maestro.md
Due: prettier --write

ci: extend post-deploy verification (#13937)
  .github/workflows/post-deploy-verification.yml
Due: prettier --write

chore: wire otel defaults for maestro logging (#13936)
  charts/intelgraph/templates/deployment.yaml
  charts/intelgraph/values.yaml
  server/.env.example
  server/src/middleware/correlation-id.ts
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
