Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

fix: apply linting fixes to newly added modules
  packages/covert-ops-module/src/encryptedComms.js
  packages/psyops-module/src/index.ts
Due: eslint --fix --max-warnings=0 --cache

docs: Add master meta-prompt documentation for v13
  activities-v13/docs/master-meta-prompt.md
Due: prettier --write

feat: Commit all outstanding changes
  .eslintcache
  client/src/features/admin/AdminStudio.tsx
  client/src/features/runs/RunViewer.tsx
  e2e/maestro.a11y.fixed.spec.ts
  e2e/maestro.a11y.spec.ts
  intelgraph_agent_tickets.yaml
  intelgraph_psyops_system.py
  playwright-report/index.html
  server/src/routes/admin.ts
Due: prettier --write

feat(maestro, federal): introduce Maestro GA and Federal Compliance Suite
  .eslintcache
  activities-v14.zip
  activities.md
  client/src/components/TimeTravelDiff.tsx
  packages/types/src/index.ts
  server/src/migrations/017_v17_wasm_plugins_integrity.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: remove .eslintcache file
  .eslintcache
Due: none

Implement remaining v1.24 features.
  .github/workflows/ci-hyper.yml
  .github/workflows/ci.yml
  .github/workflows/federal-ato.yml
  .github/workflows/preview.yml
  activities-v17.zip
  activities-v18.zip
  client/src/components/ArtifactBusPanel.tsx
  server/db/redactions.sql
  services/agents/src/bus.ts
  services/agents/src/decomposer.ts
  services/agents/src/deployer.ts
  services/agents/src/planner.ts
  services/agents/src/reviewer.ts
  services/tgo/src/csat.ts
  services/tgo/src/emit-matrix-csat.ts
  tools/ci/ast_diff.ts
  tools/ci/fli_build_map.ts
  tools/ci/fli_select.ts
  tools/ci/run_cached_oci.ts
  tools/db/ephemeral_clone.sh
  tools/federal/oscal-ssp-export.ts
  tools/oci/push.ts
Due: prettier --write

v24: freeze persisted queries
  .maestro/persisted-queries.json
Due: prettier --write

fix(ci): use --legacy-peer-deps to resolve dependency conflicts
  .github/workflows/coverage.yml
  .github/workflows/flags-promote.yml
  .github/workflows/flake-budget.yml
  .github/workflows/golden-ci-pipeline.yml
  .github/workflows/infra-drift.yml
  .github/workflows/infra-plan.yml
  .github/workflows/preview-teardown.yml
  .github/workflows/synthetics.yml
  .github/workflows/verify-release.yml
  .spectral.yaml
  charts/app/templates/rollout.yaml
  feature-flags/flags.yaml
  k8s/chaos/pod-killer.yaml
  k8s/chaos/rbac.yaml
  load/k6/smoke.js
  scripts/ffctl.ts
  scripts/infracost_enforce.js
  src/database/migration/ExpandContractMigration.ts
  src/database/migration/MigrationManager.ts
  src/features/deployment/FeatureDeploymentPipeline.ts
  src/features/integrations/LaunchDarklyProvider.ts
Due: prettier --write

fix(deps): align typescript-eslint versions
  .github/ISSUE_TEMPLATE/incident.yaml
  .github/workflows/golden-ci-pipeline.yml
  .github/workflows/rollback.yml
  package.json
  server/package.json
  src/database/migration/MigrationValidator.ts
Due: prettier --write

fix(deps): align jest versions
  .github/workflows/dpia-guard.yml
  k8s/cron/purge.yaml
  package.json
  server/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
