Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement MCP client reconnection with exponential backoff
  server/src/conductor/mcp/client.ts
Due: none

feat: gate demo metrics in Conductor API
  server/src/conductor/api/conductor-routes.ts
Due: none

fix: pin Docker images in docker-compose.yml
  docker-compose.yml
Due: prettier --write

ci: add image pinning guardrail to golden CI pipeline
  .github/workflows/golden-ci-pipeline.yml
  scripts/ci/check-image-pins.sh
Due: prettier --write

feat: enforce OPA/ABAC middleware for Maestro routes
  server/src/app.ts
  server/src/conductor/admission/budget-control.ts
  server/src/conductor/governance/opa-integration.ts
  server/src/middleware/context-binding.ts
  server/src/middleware/maestro-authz.ts
Due: none

feat: implement end-to-end multi-tenancy for Maestro entities
  server/src/maestro/executors/executors-repo.ts
  server/src/maestro/pipelines/pipelines-repo.ts
  server/src/maestro/runs/runs-repo.ts
  server/src/migrations/003_add_tenant_id_to_maestro_tables.ts
Due: none

feat: integrate budget admission into Maestro runs API
  server/src/maestro/runs/runs-api.ts
Due: none

feat: implement simplified runtime budget preemption
  server/src/conductor/index.ts
Due: none

ci: add image pinning guardrail to golden CI pipeline
  .github/workflows/golden-ci-pipeline.yml
Due: prettier --write

feat: integrate one-click Maestro launch tool and GitHub Action
  .github/workflows/oneclick-launch.yml
  Makefile
  evidence-20250903-094320/EVIDENCE_REPORT.md
  evidence-20250903-094320/backup-verification.txt
  evidence-20250903-094320/canary-analysis.txt
  evidence-20250903-094320/circuit-breaker-test.txt
  evidence-20250903-094320/cosign-verify.json
  evidence-20250903-094320/database-flap-test.txt
  evidence-20250903-094320/docker-compose-config.txt
  evidence-20250903-094320/gatekeeper-deny-test.txt
  evidence-20250903-094320/image-digest.txt
  evidence-20250903-094320/pagerduty-incident.txt
  evidence-20250903-094320/pitr-test.txt
  evidence-20250903-094320/production-sequence.txt
  evidence-20250903-094320/rollout-status.txt
  evidence-20250903-094320/slo-dashboard-check.txt
  evidence-20250903-094320/staging-sequence.txt
  evidence-20250903-094320/unpinned-images.txt
  evidence-20250903-094320/validation-report.txt
  scripts/oneclick-launch/launch.sh
  scripts/oneclick-launch/witness/witness.sh
Due: prettier --write

chore: remove generated evidence directory from repo
  .gitignore
Due: none

chore: address remaining go-live checklist items
  infra/k8s/auth/oidc-auth.yaml
  k8s/maestro-rollout.yaml
Due: prettier --write

feat: add 5xx rate metric to Argo Rollouts analysis template
  deploy/argo/rollout-maestro.yaml
Due: prettier --write

docs(maestro): add Go-Live readiness & cutover plan; one-click commands documented; OIDC templating and strict verify wired in CD
  docs/MAESTRO_GO_LIVE_READINESS_AND_CUTOVER.md
Due: prettier --write

feat: set up keycloak for local development
  deploy/setup/setup_maestro_env.sh
  docker-compose.override.yml
  infra/keycloak/realm-export/intelgraph-realm.json
Due: prettier --write

feat(devops): add AWS deploy scripts and conductor UI scaffold
  .github/workflows/aws-deploy.yml
  Makefile
  ZERO_COST_DEPLOYMENT_COMPLETE.md
  conductor-ui/Dockerfile.dev
  conductor-ui/package.json
  conductor-ui/public/index.html
  conductor-ui/src/App.css
  conductor-ui/src/App.js
  conductor-ui/src/index.css
  conductor-ui/src/index.js
  deploy/aws/Dockerfile
  deploy/aws/README.md
  deploy/aws/cloud-init.yaml
  deploy/aws/cloudfront-setup.sh
  deploy/aws/enhanced-monitoring.yaml
  deploy/aws/entrypoint.sh
  deploy/aws/security-hardening.yaml
  deploy/aws/zero-cost-enhancements.yaml
  deploy/aws/zero-cost-production-setup.sh
  deploy/go-live-now.sh
  deploy/local-dev-setup.sh
  deploy/monitoring/grafana-dev/dashboards/dashboard.yml
  deploy/monitoring/grafana-dev/datasources/datasource.yml
  deploy/monitoring/prometheus-dev.yml
  deploy/setup/keycloak/maestro-client.json.tmpl
  docker-compose.dev.yml
  start-dev.sh
  stop-dev.sh
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
