Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(benchmark): add AgentVista subsumption bundle plan (#19748)
  subsumption/agentvista/claims.md
  subsumption/agentvista/docs/repo_assumptions.md
  subsumption/agentvista/fixtures/policy/deny/README.md
  subsumption/agentvista/fixtures/tests/negative/missing_docs/README.md
  subsumption/agentvista/fixtures/tests/positive/minimal_bundle/README.md
  subsumption/agentvista/manifest.yaml
  subsumption/agentvista/plan.md
Due: prettier --write

feat: generalized reference-fidelity benchmark subsumption (#19747)
  benchmarks/ref_fid_benchmark.py
  datasets/ref_fid_adapter.py
  docs/ops/runbooks/ref_fid.md
  docs/security/data-handling/ref_fid.md
  docs/standards/ref_fid.md
  evidence/attention_inspector.py
  metrics/attention_coverage.py
  metrics/highfreq_similarity.py
  metrics/mask_containment.py
  pipelines/reference_fidelity_eval/__init__.py
  pipelines/reference_fidelity_eval/pipeline.py
  scripts/monitoring/ref_fid_drift.py
  scripts/profile_ref_fid.py
  subsumption/hifi_inpaint_generalized/claims.md
  subsumption/hifi_inpaint_generalized/manifest.yaml
  subsumption/hifi_inpaint_generalized/plan.md
  subsumption/hifi_inpaint_generalized/repo_assumptions.md
  tests/test_attention_coverage.py
  tests/test_highfreq_metric.py
  tests/test_mask_containment.py
  tests/test_reference_fidelity_pipeline.py
Due: prettier --write

Implement Bitemporal WriteSet Ledger Infrastructure (#19745)
  packages/summit-core/package.json
  packages/summit-core/src/ledger/ledgerStore.ts
  packages/summit-core/src/ledger/materializeViews.ts
  packages/summit-core/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Implement CDLRM Cognitive Battlespace UI Layer (#19744)
  packages/summit-cultural/package.json
  packages/summit-cultural/pnpm-lock.yaml
  packages/summit-cultural/src/index.ts
  packages/summit-cultural/src/ui/CognitiveBattlespaceMap.tsx
  packages/summit-cultural/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(praxeology): add praxeology endpoints and action signature validations (#19743)
  packages/summit-praxeology/package.json
  packages/summit-praxeology/src/__tests__/validateActionSignature.test.ts
  packages/summit-praxeology/src/engine/pgWriteSet.ts
  packages/summit-praxeology/src/index.ts
  packages/summit-praxeology/src/pgServe.ts
  packages/summit-praxeology/src/validate/validateActionSignature.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(text-intel): Implement Text Intelligence Engine skeleton (#19741)
  ci/text_intelligence_ci.yml
  docs/ops/runbooks/text_intelligence.md
  docs/security/data-handling/text_intelligence.md
  docs/standards/text_intelligence.md
  evidence/text_intelligence_metrics.json
  scripts/analytics_pipeline.py
  scripts/extract_metrics.py
  scripts/ingest_documents.py
  scripts/monitoring/text_intelligence_drift.py
  scripts/qa_validation.py
  summit/core/agents/analytics_agent.py
  summit/core/agents/document_agent.py
  summit/core/agents/extraction_agent.py
  summit/core/agents/graph_agent.py
  summit/core/agents/qa_agent.py
  tests/test_analytics_agent.py
  tests/test_document_agent.py
  tests/test_extraction_agent.py
  tests/test_graph_agent.py
  tests/test_qa_agent.py
Due: prettier --write

Add Cognitive Battlespace UI (#19740)
  packages/summit-ui/src/components/cogbattlespace/ExplainDrawer.tsx
  packages/summit-ui/src/components/cogbattlespace/LayerToggle.tsx
  packages/summit-ui/src/components/cogbattlespace/MetricsPanel.tsx
  packages/summit-ui/src/components/cogbattlespace/RejectionReportPanel.tsx
  packages/summit-ui/src/pages/cogbattlespace/index.tsx
Due: eslint --fix --max-warnings=0 --cache

feat(ontology): add AI-enabled influence campaign schema and catalogs (#19738)
  __tests__/ontology/ontology.determinism.test.ts
  __tests__/ontology/ontology.fixtures.test.ts
  __tests__/ontology/ontology.graphql.test.ts
  __tests__/ontology/ontology.schema.test.ts
  agents/ontology/aiInfluenceCampaignEnricher.ts
  analysis/ontology/emit-artifacts.ts
  analysis/ontology/normalize-ai-influence-campaign.ts
  api/graphql/ontology/aiInfluenceCampaign.resolvers.ts
  api/graphql/ontology/aiInfluenceCampaign.types.graphql
  artifacts/ontology/ai-influence-campaign/metrics.json
  artifacts/ontology/ai-influence-campaign/report.json
  artifacts/ontology/ai-influence-campaign/stamp.json
  config/ontology/ai-influence-campaign/fixtures/cartel-fear-amplification.json
  config/ontology/ai-influence-campaign/fixtures/scam-transnational-repression.json
  config/ontology/ai-influence-campaign/fixtures/state-io-uk-china.json
  config/ontology/ai-influence-campaign/ontology.schema.json
  config/ontology/ai-influence-campaign/tactics.catalog.json
  config/ontology/ai-influence-campaign/techniques.catalog.json
  docs/ops/runbooks/ai-influence-campaign-ontology.md
  docs/security/data-handling/ai-influence-campaign-ontology.md
  docs/standards/ai-influence-campaign-ontology.md
  scripts/monitoring/ai-influence-campaign-drift.ts
  vitest.config.ts
Due: prettier --write

feat(intelgraph): implement persian narrative radar mws (#19737)
  GOLDEN/datasets/iran_narratives_persian_mws/seed.json
  RUNBOOKS/narrative-radar-iran-persian.md
  SECURITY/data-handling/iran-persian-narratives.md
  absorption/narrative-sitrep/report_generator.ts
  active-measures-module/narratives/schema.ts
  active-measures-module/narratives/scoring.ts
  active-measures-module/src/graphql/schema.ts
  active-measures-module/visual-risk/heuristics.ts
  adapters/persian-media/normalize.ts
  docs/standards/iran-narrative-radar.md
  repoos/concerns/repo_assumptions.md
  reports/ai-infra-stack/iran-persian-narratives/generate.ts
  run_checks.sh
  scripts/monitoring/iran-narrative-drift.ts
  tsconfig.json
Due: prettier --write

feat(startup): add founder momentum scoring module and AI founder agent (#19735)
  scripts/eval/founder_momentum_runner.py
  summit/agents/ai_founder_agent/__init__.py
  summit/agents/ai_founder_agent/agent.py
  summit/agents/ai_founder_agent/clarity_test.py
  summit/agents/ai_founder_agent/ingestion.py
  summit/agents/ai_founder_agent/interview_planner.py
  summit/agents/ai_founder_agent/momentum_scoring.py
  summit/agents/ai_founder_agent/problem_definition.py
  summit/agents/ai_founder_agent/report_generator.py
  summit/agents/ai_founder_agent/tests/__init__.py
  summit/agents/ai_founder_agent/tests/test_agent_pipeline.py
  summit/evaluation/startup_momentum/__init__.py
  summit/evaluation/startup_momentum/momentum_score.py
  summit/tests/test_momentum_score.py
  tests/fixtures/test_idea.md
Due: prettier --write

feat: implement Iran War COP base logic, schema, and templates (#19731)
  .opa/policy/war_cop.rego
  analysis/war_cop/__tests__/claim_state_machine.test.ts
  analysis/war_cop/__tests__/disinfo_heuristics.test.ts
  analysis/war_cop/__tests__/render.test.ts
  analysis/war_cop/__tests__/snapshot_builder.test.ts
  analysis/war_cop/brief_templates/scenario.md.hbs
  analysis/war_cop/brief_templates/sitrep.md.hbs
  analysis/war_cop/claim_state_machine.ts
  analysis/war_cop/disinfo_heuristics.ts
  analysis/war_cop/event_dedupe.ts
  analysis/war_cop/red_cell.ts
  analysis/war_cop/render.ts
  analysis/war_cop/schema.ts
  analysis/war_cop/snapshot_builder.ts
  audit/war_cop/__tests__/explain_assertion.test.ts
  audit/war_cop/explain_assertion.ts
  code_review.py
  connect/war_cop/__tests__/normalize.test.ts
  connect/war_cop/adapters/official_statements.ts
  connect/war_cop/config.ts
  connect/war_cop/normalize.ts
  docs/ops/runbooks/iran-war-cop.md
  docs/security/data-handling/iran-war-cop.md
  docs/standards/iran-war-cop.md
  repo_assumptions.md
  scripts/monitoring/iran-war-cop-drift.py
  test_fix.cjs
  test_fix.js
Due: prettier --write

feat: add track 3 prompts for ga readiness (#19727)
  prompts/ga-track-3-prompts.md
Due: prettier --write

feat: add PR triage workspace with queue, diff preview, and risk checklist (#19726)
  .github/workflows/ci-pr-triage.yml
  apps/web/src/App.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/features/pr-triage/PRTriagePage.tsx
  apps/web/src/features/pr-triage/__tests__/PRTriagePage.test.tsx
  apps/web/src/features/pr-triage/__tests__/usePRTriageAdapter.test.ts
  apps/web/src/features/pr-triage/types.ts
  apps/web/src/features/pr-triage/usePRTriageAdapter.ts
Due: prettier --write

feat: add Summit Code UI – repo-scale workflow browser (#19725)
  .github/workflows/summit-ui-ci.yml
  apps/summit-ui/.eslintrc.cjs
  apps/summit-ui/.gitignore
  apps/summit-ui/index.html
  apps/summit-ui/ops/README.md
  apps/summit-ui/package.json
  apps/summit-ui/pnpm-lock.yaml
  apps/summit-ui/server/config.ts
  apps/summit-ui/server/index.ts
  apps/summit-ui/server/routes/artifacts.ts
  apps/summit-ui/server/routes/dashboard.ts
  apps/summit-ui/server/routes/prompts.ts
  apps/summit-ui/server/routes/release.ts
  apps/summit-ui/server/utils/git.ts
  apps/summit-ui/server/utils/metrics.ts
  apps/summit-ui/src/App.tsx
  apps/summit-ui/src/api.ts
  apps/summit-ui/src/components/Nav.tsx
  apps/summit-ui/src/components/Pagination.tsx
  apps/summit-ui/src/components/StatusBadge.tsx
  apps/summit-ui/src/components/TopFindings.tsx
  apps/summit-ui/src/main.tsx
  apps/summit-ui/src/pages/ArtifactBrowser.tsx
  apps/summit-ui/src/pages/Dashboard.tsx
  apps/summit-ui/src/pages/GoNoGo.tsx
  apps/summit-ui/src/pages/PromptSearch.tsx
  apps/summit-ui/src/styles/app.css
  apps/summit-ui/src/types.ts
  apps/summit-ui/test/server.test.ts
  apps/summit-ui/tsconfig.build.json
  apps/summit-ui/tsconfig.json
  apps/summit-ui/vite.config.ts
  apps/summit-ui/vitest.config.ts
Due: prettier --write

feat: integrate UMAD (Uncertainty-Guided Multi-Agent Debate) into SocietyOfThoughtEngine (#19722)
  summit/orchestration/society_of_thought.py
  summit/orchestration/umad/ppo_update.py
  summit/orchestration/umad/signals.py
  summit/orchestration/umad/test_signals.py
  summit/orchestration/umad/umad_config.yaml
  summit/orchestration/umad/umad_engine.py
Due: none

feat(orchestrator): add bayesian uncertainty decomposition formulas for MAD (#19720)
  summit/orchestration/mad_uncertainty.test.ts
  summit/orchestration/mad_uncertainty.ts
Due: none

feat(orchestrator): implement explicit Uncertainty Control Plane subsystem (#19719)
  patch.cjs
  patch.js
  summit/agents/orchestrator/agent-orchestrator.ts
  summit/agents/orchestrator/uncertainty/evolution.ts
  summit/agents/orchestrator/uncertainty/index.ts
  summit/agents/orchestrator/uncertainty/models.ts
  summit/agents/orchestrator/uncertainty/policy-engine.ts
  summit/agents/orchestrator/uncertainty/registry.ts
  summit/agents/orchestrator/uncertainty/sensors.ts
  summit/agents/scripts/orchestrate-uncertainty-demo.ts
Due: none

feat: Add initial Uncertainty Control Plane schema and policy engine (#19718)
  src/agent-graph/uncertainty/UncertaintyPolicyEngine.ts
  src/agent-graph/uncertainty/UncertaintyRecord.ts
  tests/agent-graph/uncertainty/UncertaintyPolicyEngine.test.ts
Due: none

refactor: unify test harnesses (#19710)
  server/tests/harness/governance/governance.test.ts
  server/tests/harness/governance/llm-governance.test.ts
  server/tests/harness/semantic/semantic-search.test.ts
  server/tests/harness/semantic/semantic-validator-integration.test.ts
  server/tests/harness/semantic/semantic-validator.test.ts
  server/tests/harness/workflow/case-workflow.integration.test.ts
  test_debt_report.md
  tests/harness/generate_test_debt_report.sh
Due: prettier --write

feat: add PR triage service (#19703)
  src/services/pr-triage.ts
Due: none

feat: Implement automated security issue tracking and triage (#19702)
  .github/ISSUE_TEMPLATE/security-issue.yml
  .github/SECURITY.md
  .github/workflows/security-issue-triage.yml
Due: prettier --write

feat: add neo4j stress tests and graph health report (#19698)
  reports/neo4j-stress/graph-health-report.md
  reports/neo4j-stress/metrics.json
  reports/neo4j-stress/report.json
  reports/neo4j-stress/stamp.json
  scripts/run_neo4j_stress.sh
  tests/integration/neo4j_stress/neo4j_stress.test.ts
Due: prettier --write

feat(cli): complete CLI architecture for Summit agents (#19696)
  docs/ops/runbooks/cli-create.md
  docs/ops/runbooks/cli-marketplace.md
  docs/ops/runbooks/cli-publish.md
  docs/security/cli-threat-model.md
  docs/security/data-handling/summit-cli.md
  docs/standards/summit-cli-interop.md
  packages/cli/src/index.ts
  scripts/monitoring/cli-drift.ts
  scripts/profile-cli.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Add branch ownership and naming enforcement (#19694)
  .github/workflows/branch-ownership.yml
  branch-ownership-plan.md
  scripts/governance/branch_ownership_enforcer.ts
Due: prettier --write

feat(analyst-workspace): build tri-pane analyst UI end-to-end (UH679)
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/__tests__/AnalystWorkspace.test.tsx
  frontend/src/__tests__/DetailPanel.test.tsx
  frontend/src/__tests__/EntityExplorer.test.tsx
  frontend/src/__tests__/analystAdapter.test.ts
  frontend/src/__tests__/workspaceSlice.test.ts
  frontend/src/components/AnalystWorkspace.css
  frontend/src/components/AnalystWorkspace.tsx
  frontend/src/components/DetailPanel.tsx
  frontend/src/components/EntityExplorer.tsx
  frontend/src/components/MainCanvas.tsx
  frontend/src/services/analystAdapter.ts
  frontend/src/setupTests.js
  frontend/src/store/hooks.ts
  frontend/src/store/index.ts
  frontend/src/store/workspaceSlice.ts
  frontend/vite.config.js
Due: prettier --write

fix(plugin-system): implement RSA-SHA256 signature verification and harden install flow
  packages/plugin-system/src/core/PluginManager.ts
  packages/plugin-system/src/index.ts
  packages/plugin-system/src/security/verifySignature.ts
Due: eslint --fix --max-warnings=0 --cache

chore: update pnpm-lock.yaml after plugin-system dependency install
  pnpm-lock.yaml
Due: none

test(plugin-system): fix install tests after real verifySignature implementation
  packages/plugin-system/src/__tests__/PluginManager.install.test.ts
Due: eslint --fix --max-warnings=0 --cache

feat: implement complete RepoOS Evolution Intelligence System
  .github/workflows/pr-planner.yml
  services/evolution-ledger/dataset-governance.mjs
  services/evolution-ledger/decision-api.mjs
  services/repoos/concern-router.mjs
  services/repoos/frontier-engine.mjs
  services/repoos/frontier-entropy.mjs
  services/repoos/hierarchical-frontiers.mjs
  services/repoos/homeostasis-monitor.mjs
  services/repoos/patch-market.mjs
Due: prettier --write

feat(evolution-ledger): add predictMergeRisk method to DecisionAPI
  services/evolution-ledger/decision-api.mjs
Due: none

feat(repoos): implement critical stability layer for autonomous engineering
  scripts/repoos/check-frontier-sovereignty.mjs
  services/repoos/frontier-entropy.mjs
  services/repoos/frontier-lock.mjs
  services/repoos/patch-window-manager.mjs
Due: none

feat: add RepoOS governance and operational layer
  .github/workflows/evolution-constitution.yml
  .repoos/constitution.yml
  services/repoos/control-plane-dashboard.mjs
Due: prettier --write

feat(repoos): add classification accuracy monitoring
  scripts/repoos/monitor-classification-accuracy.mjs
Due: none

fix(repoos): address PR #19774 operational blockers
  .github/workflows/evolution-constitution.yml
  .repoos/frontier-ownership.yml
Due: prettier --write
