Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: implement comprehensive social network analysis platform
  algorithms/community-detection/README.md
  docs/network-analysis/GUIDE.md
  docs/network-analysis/schema.sql
  packages/community-detection/package.json
  packages/community-detection/src/LabelPropagation.ts
  packages/community-detection/src/LouvainAlgorithm.ts
  packages/community-detection/src/index.ts
  packages/community-detection/tsconfig.json
  packages/influence-analysis/package.json
  packages/influence-analysis/src/DiffusionModels.ts
  packages/influence-analysis/src/index.ts
  packages/influence-analysis/tsconfig.json
  packages/link-prediction/package.json
  packages/link-prediction/src/LinkPredictors.ts
  packages/link-prediction/src/index.ts
  packages/link-prediction/tsconfig.json
  packages/network-analysis/package.json
  packages/network-analysis/src/CentralityMetrics.ts
  packages/network-analysis/src/GraphBuilder.ts
  packages/network-analysis/src/MotifAnalysis.ts
  packages/network-analysis/src/NetworkMetrics.ts
  packages/network-analysis/src/index.ts
  packages/network-analysis/src/types.ts
  packages/network-analysis/tsconfig.json
  packages/network-visualization/package.json
  packages/network-visualization/src/LayoutEngine.ts
  packages/network-visualization/src/index.ts
  packages/network-visualization/tsconfig.json
  packages/social-media-analysis/package.json
  packages/social-media-analysis/src/SocialNetworkAnalyzer.ts
  packages/social-media-analysis/src/index.ts
  packages/social-media-analysis/tsconfig.json
  services/network-service/package.json
  services/network-service/src/NetworkService.ts
  services/network-service/src/server.ts
  services/network-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update TypeScript build info
  .tsbuildinfo
Due: none

feat: Implement advanced search and information retrieval system
  docs/search/GUIDE.md
  infrastructure/elasticsearch/README.md
  infrastructure/elasticsearch/config/elasticsearch.yml
  infrastructure/elasticsearch/config/index-templates/entities.json
  infrastructure/elasticsearch/docker-compose.yml
  packages/knowledge-graph-search/package.json
  packages/knowledge-graph-search/src/index.ts
  packages/knowledge-graph-search/src/traversal/GraphTraversal.ts
  packages/knowledge-graph-search/src/types.ts
  packages/knowledge-graph-search/tsconfig.json
  packages/query-understanding/package.json
  packages/query-understanding/src/correction/SpellCorrector.ts
  packages/query-understanding/src/expansion/QueryExpander.ts
  packages/query-understanding/src/index.ts
  packages/query-understanding/src/intent/IntentClassifier.ts
  packages/query-understanding/src/types.ts
  packages/query-understanding/tsconfig.json
  packages/ranking/package.json
  packages/ranking/src/diversity/MMR.ts
  packages/ranking/src/fusion/HybridFusion.ts
  packages/ranking/src/index.ts
  packages/ranking/src/ltr/LambdaMART.ts
  packages/ranking/src/types.ts
  packages/ranking/tsconfig.json
  packages/semantic-search/package.json
  packages/semantic-search/src/embeddings/SentenceTransformerModel.ts
  packages/semantic-search/src/index.ts
  packages/semantic-search/src/models/CrossEncoder.ts
  packages/semantic-search/src/retrieval/SemanticSearchEngine.ts
  packages/semantic-search/src/types.ts
  packages/semantic-search/src/utils/vectorSimilarity.ts
  packages/semantic-search/tsconfig.json
  packages/vector-search/package.json
  packages/vector-search/src/index.ts
  packages/vector-search/src/indexes/FAISSIndex.ts
  packages/vector-search/src/indexes/HNSWIndex.ts
  packages/vector-search/src/types.ts
  packages/vector-search/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive synthetic data generation platform
  docs/synthetic-data/GUIDE.md
  docs/synthetic-data/README.md
  packages/audio-synthesis/package.json
  packages/audio-synthesis/src/index.ts
  packages/data-augmentation/package.json
  packages/data-augmentation/src/index.ts
  packages/geospatial-synthesis/package.json
  packages/geospatial-synthesis/src/index.ts
  packages/graph-synthesis/package.json
  packages/graph-synthesis/src/index.ts
  packages/image-synthesis/package.json
  packages/image-synthesis/src/index.ts
  packages/privacy-preserving/package.json
  packages/privacy-preserving/src/anonymization/KAnonymity.ts
  packages/privacy-preserving/src/differential-privacy/DifferentialPrivacy.ts
  packages/privacy-preserving/src/index.ts
  packages/privacy-preserving/src/validation/PrivacyValidator.ts
  packages/synthetic-data/package.json
  packages/synthetic-data/src/generators/TabularSynthesizer.ts
  packages/synthetic-data/src/generators/TimeSeriesSynthesizer.ts
  packages/synthetic-data/src/index.ts
  packages/synthetic-data/src/quality/QualityAssessor.ts
  packages/synthetic-data/src/utils/DataProfiler.ts
  packages/synthetic-data/tsconfig.json
  packages/text-generation/package.json
  packages/text-generation/src/entities/NamedEntityGenerator.ts
  packages/text-generation/src/gpt/TextSynthesizer.ts
  packages/text-generation/src/index.ts
  services/synthesis-service/package.json
  services/synthesis-service/src/index.ts
  services/synthesis-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update TypeScript build artifacts after CI verification
  .tsbuildinfo
  apps/analytics-engine/dist/config.d.ts
  apps/analytics-engine/dist/middleware/auth.d.ts
  apps/analytics-engine/dist/utils/logger.d.ts
  apps/graph-analytics/dist/config.d.ts
  apps/graph-analytics/dist/middleware/auth.d.ts
  apps/graph-analytics/dist/utils/logger.d.ts
  apps/ml-engine/dist/config.d.ts
  apps/ml-engine/dist/utils/logger.d.ts
  apps/search-engine/dist/middleware/auth.d.ts
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  client/tsconfig.tsbuildinfo
Due: none

feat(docs): build comprehensive documentation system
  .github/workflows/docs-build-deploy.yml
  docs-site/docs/api-catalog.md
  docs-site/docusaurus.config.js
  docs-site/static/api-specs/core-api.yaml
  docs-site/static/api-specs/evidence-api.yaml
  docs-site/static/api-specs/executors-api.yaml
  docs-site/static/api-specs/maestro-api.yaml
  docs-site/static/api-specs/pipelines-api.yaml
  docs-site/static/api-specs/policy-pack-api.yaml
  docs/.templates/api-reference-template.md
  docs/.templates/concept-template.md
  docs/.templates/howto-template.md
  docs/.templates/runbook-template.md
  docs/.templates/tutorial-template.md
  docs/development/jsdoc-guide.md
  docs/index.md
  eslint-jsdoc.config.mjs
  package.json
  scripts/docs/generate-api-docs.js
  server/src/services/AuthService.ts
Due: prettier --write

chore: update pnpm-lock.yaml after edge platform dependencies
  pnpm-lock.yaml
Due: none

feat: implement Enterprise Support and Operations Platform (PRIORITY 50)
  .tsbuildinfo
  docs/support/OPERATIONS.md
  docs/support/SLA_GUIDE.md
  frontend/customer-portal/index.html
  frontend/customer-portal/package.json
  frontend/customer-portal/src/index.css
  frontend/customer-portal/src/main.tsx
  frontend/customer-portal/tsconfig.json
  frontend/customer-portal/tsconfig.node.json
  frontend/customer-portal/vite.config.ts
  migrations/postgres/015_enterprise_support_schema.sql
  packages/health-monitoring/package.json
  packages/health-monitoring/src/index.ts
  packages/health-monitoring/tsconfig.json
  packages/knowledge-base/package.json
  packages/knowledge-base/src/KnowledgeBaseService.ts
  packages/knowledge-base/src/index.ts
  packages/knowledge-base/src/types.ts
  packages/knowledge-base/tsconfig.json
  packages/sla-management/package.json
  packages/sla-management/src/index.ts
  packages/sla-management/tsconfig.json
  packages/support-system/package.json
  packages/support-system/src/TicketService.ts
  packages/support-system/src/index.ts
  packages/support-system/src/types.ts
  packages/support-system/tsconfig.json
  packages/training-platform/package.json
  packages/training-platform/src/index.ts
  packages/training-platform/tsconfig.json
  services/help-desk/package.json
  services/help-desk/src/index.ts
  services/help-desk/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement advanced biometric and identity intelligence platform
  docs/biometrics/GUIDE.md
  docs/privacy/COMPLIANCE.md
  packages/behavioral-analysis/package.json
  packages/behavioral-analysis/src/index.ts
  packages/behavioral-analysis/src/types.ts
  packages/behavioral-analysis/tsconfig.json
  packages/biometrics/package.json
  packages/biometrics/src/index.ts
  packages/biometrics/src/types.ts
  packages/biometrics/tsconfig.json
  packages/document-verification/package.json
  packages/document-verification/src/index.ts
  packages/document-verification/src/types.ts
  packages/document-verification/tsconfig.json
  packages/facial-recognition/package.json
  packages/facial-recognition/src/index.ts
  packages/facial-recognition/src/types.ts
  packages/facial-recognition/tsconfig.json
  packages/identity-resolution/package.json
  packages/identity-resolution/src/index.ts
  packages/identity-resolution/src/types.ts
  packages/identity-resolution/tsconfig.json
  packages/watchlist-screening/package.json
  packages/watchlist-screening/src/index.ts
  packages/watchlist-screening/src/types.ts
  packages/watchlist-screening/tsconfig.json
  services/biometric-service/package.json
  services/biometric-service/schema.sql
  services/biometric-service/src/index.ts
  services/biometric-service/tsconfig.json
  services/identity-fusion/package.json
  services/identity-fusion/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive GEOINT satellite imagery platform
  docs/geoint/GUIDE.md
  docs/imagery/COLLECTION.md
  packages/change-detection/package.json
  packages/change-detection/src/detection.ts
  packages/change-detection/src/index.ts
  packages/change-detection/src/types.ts
  packages/change-detection/tsconfig.json
  packages/geoint/package.json
  packages/geoint/src/archive.ts
  packages/geoint/src/index.ts
  packages/geoint/src/intelligence.ts
  packages/geoint/src/types.ts
  packages/geoint/tsconfig.json
  packages/geospatial-analysis/package.json
  packages/geospatial-analysis/src/analysis.ts
  packages/geospatial-analysis/src/index.ts
  packages/geospatial-analysis/src/types.ts
  packages/geospatial-analysis/tsconfig.json
  packages/object-detection/package.json
  packages/object-detection/src/detection.ts
  packages/object-detection/src/index.ts
  packages/object-detection/src/types.ts
  packages/object-detection/tsconfig.json
  packages/sar-processing/package.json
  packages/sar-processing/src/index.ts
  packages/sar-processing/src/processing.ts
  packages/sar-processing/src/types.ts
  packages/sar-processing/tsconfig.json
  packages/satellite-imagery/package.json
  packages/satellite-imagery/src/index.ts
  packages/satellite-imagery/src/ingestion.ts
  packages/satellite-imagery/src/preprocessing.ts
  packages/satellite-imagery/src/types.ts
  packages/satellite-imagery/tsconfig.json
  services/geoint-processor/src/main.ts
  services/imagery-service/src/main.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update tsbuildinfo after OSINT platform build
  .tsbuildinfo
Due: none

feat: implement comprehensive cyber threat intelligence platform
  docs/cyber/GUIDE.md
  docs/cyber/PLAYBOOKS.md
  packages/attack-surface/package.json
  packages/attack-surface/src/index.ts
  packages/attack-surface/src/types.ts
  packages/attack-surface/tsconfig.json
  packages/ioc-manager/package.json
  packages/ioc-manager/src/enrichment.ts
  packages/ioc-manager/src/index.ts
  packages/ioc-manager/src/ioc-manager.ts
  packages/ioc-manager/src/types.ts
  packages/ioc-manager/tsconfig.json
  packages/malware-analysis/package.json
  packages/malware-analysis/src/index.ts
  packages/malware-analysis/src/types.ts
  packages/malware-analysis/tsconfig.json
  packages/threat-actors/package.json
  packages/threat-actors/src/index.ts
  packages/threat-actors/src/types.ts
  packages/threat-actors/tsconfig.json
  packages/threat-intelligence/package.json
  packages/threat-intelligence/src/dark-web-monitor.ts
  packages/threat-intelligence/src/feed-aggregator.ts
  packages/threat-intelligence/src/index.ts
  packages/threat-intelligence/src/types.ts
  packages/threat-intelligence/tsconfig.json
  packages/vulnerability-intel/package.json
  packages/vulnerability-intel/src/index.ts
  packages/vulnerability-intel/src/types.ts
  packages/vulnerability-intel/tsconfig.json
  services/cyber-intel-service/__init__.py
  services/cyber-intel-service/main.py
  services/cyber-intel-service/requirements.txt
  services/threat-hunting-service/__init__.py
  services/threat-hunting-service/main.py
  services/threat-hunting-service/requirements.txt
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(counterintel): implement comprehensive counterintelligence operations platform
  .tsbuildinfo
  docs/counterintel/GUIDE.md
  docs/counterintel/OPERATIONS.md
  packages/counterespionage/package.json
  packages/counterespionage/src/index.ts
  packages/counterespionage/tsconfig.json
  packages/espionage-detection/package.json
  packages/espionage-detection/src/index.ts
  packages/espionage-detection/src/social-engineering/SocialEngineeringDetector.ts
  packages/espionage-detection/src/surveillance/SurveillanceDetector.ts
  packages/espionage-detection/src/types.ts
  packages/espionage-detection/tsconfig.json
  packages/foreign-influence/package.json
  packages/foreign-influence/src/index.ts
  packages/foreign-influence/tsconfig.json
  packages/insider-threat/README.md
  packages/insider-threat/package.json
  packages/insider-threat/src/detection/BehavioralAnomalyDetector.ts
  packages/insider-threat/src/index.ts
  packages/insider-threat/src/monitoring/PrivilegedAccessMonitor.ts
  packages/insider-threat/src/types.ts
  packages/insider-threat/tsconfig.json
  packages/personnel-security/package.json
  packages/personnel-security/src/index.ts
  packages/personnel-security/tsconfig.json
  packages/technical-ci/package.json
  packages/technical-ci/src/index.ts
  packages/technical-ci/tsconfig.json
  services/counterintel-service/package.json
  services/counterintel-service/src/server.ts
  services/counterintel-service/tsconfig.json
  services/threat-detection-service/package.json
  services/threat-detection-service/src/server.ts
  services/threat-detection-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(humint): implement comprehensive HUMINT Management Platform
  docs/humint/GUIDE.md
  docs/humint/TRADECRAFT.md
  packages/debrief-system/package.json
  packages/debrief-system/src/DebriefSystem.ts
  packages/debrief-system/src/index.ts
  packages/debrief-system/src/types.ts
  packages/debrief-system/tsconfig.json
  packages/handler-tools/package.json
  packages/handler-tools/src/HandlerTools.ts
  packages/handler-tools/src/index.ts
  packages/handler-tools/src/types.ts
  packages/handler-tools/tsconfig.json
  packages/humint-manager/package.json
  packages/humint-manager/src/HumintManager.ts
  packages/humint-manager/src/index.ts
  packages/humint-manager/tsconfig.json
  packages/opsec-monitor/package.json
  packages/opsec-monitor/src/OpsecMonitor.ts
  packages/opsec-monitor/src/index.ts
  packages/opsec-monitor/src/types.ts
  packages/opsec-monitor/tsconfig.json
  packages/secure-comms/package.json
  packages/secure-comms/src/SecureComms.ts
  packages/secure-comms/src/index.ts
  packages/secure-comms/src/types.ts
  packages/secure-comms/tsconfig.json
  packages/source-database/package.json
  packages/source-database/src/SourceDatabase.ts
  packages/source-database/src/index.ts
  packages/source-database/src/types.ts
  packages/source-database/tsconfig.json
  services/humint-service/package.json
  services/humint-service/src/index.ts
  services/humint-service/tsconfig.json
  services/source-management-service/package.json
  services/source-management-service/src/index.ts
  services/source-management-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update pnpm-lock.yaml for HUMINT packages
  pnpm-lock.yaml
Due: none

feat(supply-chain): implement comprehensive supply chain intelligence system
  docs/supply-chain/GUIDE.md
  docs/supply-chain/RISK_FRAMEWORK.md
  packages/compliance-monitor/package.json
  packages/compliance-monitor/src/index.ts
  packages/compliance-monitor/src/types.ts
  packages/compliance-monitor/tsconfig.json
  packages/component-tracker/package.json
  packages/component-tracker/src/index.ts
  packages/component-tracker/src/types.ts
  packages/component-tracker/tsconfig.json
  packages/logistics-intel/package.json
  packages/logistics-intel/src/index.ts
  packages/logistics-intel/src/types.ts
  packages/logistics-intel/tsconfig.json
  packages/supplier-risk/package.json
  packages/supplier-risk/src/RiskAssessor.ts
  packages/supplier-risk/src/index.ts
  packages/supplier-risk/src/types.ts
  packages/supplier-risk/tsconfig.json
  packages/supply-chain-mapper/package.json
  packages/supply-chain-mapper/src/NetworkMapper.ts
  packages/supply-chain-mapper/src/index.ts
  packages/supply-chain-mapper/src/types.ts
  packages/supply-chain-mapper/tsconfig.json
  packages/third-party-risk/package.json
  packages/third-party-risk/src/index.ts
  packages/third-party-risk/src/types.ts
  packages/third-party-risk/tsconfig.json
  services/supply-chain-service/migrations/001_create_supply_chain_tables.sql
  services/supply-chain-service/package.json
  services/supply-chain-service/src/index.ts
  services/supply-chain-service/src/resolvers/compliance.ts
  services/supply-chain-service/src/resolvers/component.ts
  services/supply-chain-service/src/resolvers/index.ts
  services/supply-chain-service/src/resolvers/logistics.ts
  services/supply-chain-service/src/resolvers/network.ts
  services/supply-chain-service/src/resolvers/risk.ts
  services/supply-chain-service/src/resolvers/vendor.ts
  services/supply-chain-service/src/schema.graphql
  services/supply-chain-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Implement comprehensive deception detection system
  docs/deception/DETECTION_METHODS.md
  docs/deception/GUIDE.md
  packages/content-verification/package.json
  packages/content-verification/src/index.ts
  packages/content-verification/tsconfig.json
  packages/deception-detector/src/index.ts
  packages/deepfake-detection/package.json
  packages/deepfake-detection/src/facial/facial-detector.ts
  packages/deepfake-detection/src/index.ts
  packages/deepfake-detection/src/types.ts
  packages/deepfake-detection/src/video/video-analyzer.ts
  packages/deepfake-detection/src/voice/voice-detector.ts
  packages/deepfake-detection/tsconfig.json
  packages/disinformation-detection/package.json
  packages/disinformation-detection/src/index.ts
  packages/disinformation-detection/tsconfig.json
  packages/fake-account-detection/package.json
  packages/fake-account-detection/src/index.ts
  packages/fake-account-detection/tsconfig.json
  packages/media-manipulation/package.json
  packages/media-manipulation/src/index.ts
  packages/media-manipulation/src/metadata/metadata-analyzer.ts
  packages/media-manipulation/src/photo/photo-forensics.ts
  packages/media-manipulation/src/provenance/provenance-tracker.ts
  packages/media-manipulation/src/types.ts
  packages/media-manipulation/tsconfig.json
  packages/synthetic-media/package.json
  packages/synthetic-media/src/index.ts
  packages/synthetic-media/tsconfig.json
  services/authenticity-service/package.json
  services/authenticity-service/src/index.ts
  services/authenticity-service/tsconfig.json
  services/deception-detection-service/package.json
  services/deception-detection-service/src/index.ts
  services/deception-detection-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(reports): add Q4 2025 tech debt triage analysis
  reports/tech-debt-triage-q4-2025.md
Due: prettier --write

feat: implement comprehensive Environmental and Climate Intelligence Platform
  .tsbuildinfo
  docs/environmental/GUIDE.md
  docs/environmental/RISK_ASSESSMENT.md
  packages/air-water-quality/package.json
  packages/air-water-quality/src/index.ts
  packages/air-water-quality/src/types/index.ts
  packages/air-water-quality/tsconfig.json
  packages/climate-monitoring/package.json
  packages/climate-monitoring/src/analytics/ClimateAnalyticsEngine.ts
  packages/climate-monitoring/src/index.ts
  packages/climate-monitoring/src/services/ClimateMonitoringService.ts
  packages/climate-monitoring/src/types/index.ts
  packages/climate-monitoring/tsconfig.json
  packages/climate-risk/package.json
  packages/climate-risk/src/index.ts
  packages/climate-risk/src/types/index.ts
  packages/climate-risk/tsconfig.json
  packages/disaster-tracking/package.json
  packages/disaster-tracking/src/index.ts
  packages/disaster-tracking/src/services/DisasterTrackingService.ts
  packages/disaster-tracking/src/types/index.ts
  packages/disaster-tracking/tsconfig.json
  packages/environmental-degradation/package.json
  packages/environmental-degradation/src/index.ts
  packages/environmental-degradation/src/types/index.ts
  packages/environmental-degradation/tsconfig.json
  packages/resource-tracking/package.json
  packages/resource-tracking/src/index.ts
  packages/resource-tracking/src/types/index.ts
  packages/resource-tracking/tsconfig.json
  pnpm-lock.yaml
  services/climate-intelligence-service/package.json
  services/climate-intelligence-service/src/index.ts
  services/climate-intelligence-service/tsconfig.json
  services/environmental-service/package.json
  services/environmental-service/src/index.ts
  services/environmental-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: add @types/node and @types/jest to remaining packages
  packages/climate-risk/package.json
  packages/resource-tracking/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add comprehensive 12-month roadmap and technical debt retirement strategy
  docs/ROADMAP_12_MONTH_TECH_DEBT_STRATEGY.md
Due: prettier --write

fix(security): implement HMAC-SHA256 verification for webhook signatures
  server/src/conductor/events/engine.ts
Due: none

feat(cost): add comprehensive cloud cost optimization review and automation scripts
  docs/cloud-cost-optimization-review.md
  scripts/cloud-cost/README.md
  scripts/cloud-cost/database-pod-metrics.sh
  scripts/cloud-cost/ebs-orphaned-volumes.sh
  scripts/cloud-cost/eks-node-utilization.sh
  scripts/cloud-cost/gpu-utilization.sh
  scripts/cloud-cost/inter-az-traffic.sh
  scripts/cloud-cost/k8s-pvc-utilization.sh
  scripts/cloud-cost/nat-gateway-costs.sh
  scripts/cloud-cost/rds-utilization.sh
  scripts/cloud-cost/s3-bucket-analysis.sh
  scripts/cloud-cost/spot-coverage.sh
Due: prettier --write

feat(config): Add comprehensive configuration cleanup tools and documentation
  CONFIGURATION_CLEANUP_SUMMARY.md
  config/env.example.cleaned
  docs/CONFIG_CLEANUP_GUIDE.md
  scripts/config-analyzer.py
Due: prettier --write

docs: add comprehensive CLAUDE.md for AI assistant guidance
  CLAUDE.md
Due: prettier --write
