Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add sprint 5 white-label kit plan
  sprint/sprint-05-white-label-kit.md
Due: prettier --write

docs: add 90-day architecture delivery plan
  docs/architecture_delivery_plan_v0.md
Due: prettier --write

docs: add sprint plan for jun 8-19 2026
  sprint_plan_jun_8_19_2026_america_denver.md
Due: prettier --write

docs: add sprint 16 plan
  sprint_plan_jan_5_16_2026_collab_streaming_alerting.md
Due: prettier --write

docs: add long-running memory playbook
  docs/LONG_RUNNING_MEMORY_PLAYBOOK.md
Due: prettier --write

docs: add p0 ui ux incident prompt
  templates/reports/p0-ui-ux-incident-prompt.md
Due: prettier --write

docs: outline finops billing pipeline
  docs/finops_billing_pipeline.md
Due: prettier --write

fix: harden tri-pane snapshots
  ga-graphai/packages/web/src/tri-pane.ts
  ga-graphai/packages/web/tests/triPane.test.ts
Due: none

feat: add switchboard graph schema and ui slice
  server/migrations/202511290001_switchboard_graph.sql
  ui/components/Switchboard.tsx
Due: none

feat(intelgraph): implement Decision Claims schema and API for Sprint 1
  server/src/canonical/entities/Claim.ts
  server/src/canonical/entities/Decision.ts
  server/src/canonical/entities/Evidence.ts
  server/src/graphql/intelgraph/resolvers.ts
  server/src/graphql/intelgraph/schema.ts
  server/src/graphql/intelgraph/types.ts
  services/graph/src/decisions.ts
  services/graph/src/evidence.ts
Due: none

Fix YAML syntax for stabilization workflow name
  .github/workflows/stabilization.yml
Due: prettier --write

test(procurement): add comprehensive unit tests and build configuration
  services/procurement-automation/jest.config.js
  services/procurement-automation/package.json
  services/procurement-automation/pnpm-lock.yaml
  services/procurement-automation/src/__tests__/engine.test.ts
  services/procurement-automation/src/__tests__/requirements-parser.test.ts
  services/procurement-automation/src/__tests__/sbom-integration.test.ts
  services/procurement-automation/tsconfig.json
Due: prettier --write

feat(xai): add unified XAI integration bridging defense AI with overlay service
  server/src/services/explainable-defense-ai/index.ts
  server/src/services/explainable-defense-ai/xai-integration.ts
Due: none

fix(battle-management): fix TypeScript configuration and type errors
  packages/battle-fusion/tsconfig.json
  packages/battle-types/src/index.ts
  packages/battle-types/tsconfig.json
  services/battle-api/tsconfig.json
  services/battle-command-service/tsconfig.json
  services/battle-fusion-service/tsconfig.json
  services/battle-ingest-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: plan recommendation execution
  RECOMMENDATION_EXECUTION_PLAN.md
Due: prettier --write

chore: harden security defaults
  .env.example
  server/src/app.ts
  server/src/config/index.js
  server/src/config/index.ts
Due: none

feat(rag): implement agentic semantic RAG knowledge graph system
  server/src/services/semantic-rag/GraphTraversalAlgorithms.ts
  server/src/services/semantic-rag/HybridSemanticRetriever.ts
  server/src/services/semantic-rag/README.md
  server/src/services/semantic-rag/STIXTAXIIFusionService.ts
  server/src/services/semantic-rag/SemanticKGRAGService.ts
  server/src/services/semantic-rag/__tests__/SemanticKGRAGService.test.ts
  server/src/services/semantic-rag/index.ts
  server/src/services/semantic-rag/types.ts
Due: prettier --write

chore: update tsbuildinfo cache files
  .tsbuildinfo
  client/tsconfig.tsbuildinfo
Due: none

feat(geoint): add comprehensive GEOINT threat analysis platform
  services/geoint-threat-platform/README.md
  services/geoint-threat-platform/package.json
  services/geoint-threat-platform/src/__tests__/fusion-service.test.ts
  services/geoint-threat-platform/src/__tests__/geoint-service.test.ts
  services/geoint-threat-platform/src/__tests__/ioc-management.test.ts
  services/geoint-threat-platform/src/index.ts
  services/geoint-threat-platform/src/neo4j/repository.ts
  services/geoint-threat-platform/src/services/fusion-service.ts
  services/geoint-threat-platform/src/services/geoint-service.ts
  services/geoint-threat-platform/src/services/ioc-management-service.ts
  services/geoint-threat-platform/src/types/index.ts
  services/geoint-threat-platform/src/ui/GEOINTDashboard.tsx
  services/geoint-threat-platform/tsconfig.json
  services/geoint-threat-platform/vitest.config.ts
Due: prettier --write

feat(security): implement SLSA L3 compliance with cosign OIDC + airgap builds
  .github/workflows/_reusable-slsa-build.yml
  .github/workflows/slsa-l3-airgap-build.yml
  .github/workflows/slsa-l3-provenance.yml
  docs/security/SLSA-L3-COMPLIANCE.md
  scripts/security/verify-slsa-l3.sh
Due: prettier --write

feat(infra): add air-gapped deployment infrastructure
  .github/workflows/airgap-deployment.yml
  infra/airgap/docs/DEFENSE-IN-DEPTH.md
  infra/airgap/kubernetes/malware-scanning-station.yaml
  infra/airgap/kubernetes/namespace.yaml
  infra/airgap/kubernetes/network-policies.yaml
  infra/airgap/kubernetes/proxy-chain-sensor.yaml
  infra/airgap/kubernetes/removable-media-controller.yaml
  infra/airgap/kubernetes/siem-ot-backup.yaml
  infra/airgap/kubernetes/snmp-monitoring.yaml
  infra/airgap/sbom/slsa-sbom-policy.yaml
  infra/airgap/scripts/generate-sbom.sh
  infra/airgap/terraform/main.tf
  infra/airgap/terraform/variables.tf
  infra/airgap/tests/test_policies.py
Due: prettier --write

feat(security): add IC-grade multi-tenant security hardening
  SECURITY/docs/IC-MULTI-TENANCY.md
  SECURITY/policy/opa/multi-tenant-abac.rego
  server/src/audit/__tests__/forensics-logger.test.ts
  server/src/audit/forensics-logger.ts
  server/src/auth/__tests__/multi-tenant-rbac.test.ts
  server/src/auth/github-actions-oidc.ts
  server/src/auth/multi-tenant-rbac.ts
  server/src/security/__tests__/secret-rotation.test.ts
  server/src/security/secret-rotation.ts
Due: prettier --write

fix: harden audit buffering and backpressure
  services/audit-blackbox-service/src/core/event-buffer.ts
  services/audit-blackbox-service/src/store/immutable-store.ts
  services/logging-pipeline/src/sink/audit-sink.ts
Due: none

fix: harden postgres retention queries
  server/src/governance/retention/redactionEngine.ts
  server/src/governance/retention/rtbfOrchestrator.ts
  server/src/governance/retention/types.ts
Due: none

CI Refresh
  .github/workflows/ci-golden-path.yml
  .github/workflows/ci-lint-and-unit.yml
  .github/workflows/ci.green.yml
  .github/workflows/ci.main.yml
  .github/workflows/ci.yml
  README.md
  RUNBOOKS/INDEX.md
  runbooks/ci.md
  scripts/smoke.sh
Due: prettier --write

feat: add execution plan automation
  EXECUTION_FRAMEWORK_AND_MONITORING.md
  execution-plan.json
  tools/execution/__tests__/batchTracker.test.js
  tools/execution/batchTracker.js
Due: prettier --write

feat: harden execution tracker automation
  EXECUTION_FRAMEWORK_AND_MONITORING.md
  execution-plan.json
  tools/execution/README.md
  tools/execution/__tests__/batchTracker.test.js
  tools/execution/batchTracker.js
Due: prettier --write

fix: resolve lint and build errors to unblock CI
  packages/liquid-nano/tsconfig.json
  server/src/cross-border/graphql/resolvers.ts
  server/src/graphql/resolvers/entity.ts
  server/src/notifications-hub/index.ts
  server/src/services/DigitalTwinService.ts
  server/src/services/__tests__/FeatureFlagService.test.ts
  server/src/utils/crypto-secure-random.ts
Due: prettier --write

docs: add CI reliability plan
  docs/ci-reliability-plan.md
Due: prettier --write

fix: add tests and fix TypeScript compilation for WMD packages
  packages/missile-intelligence/src/capability-assessor.ts
  packages/missile-intelligence/src/missile-tracker.ts
  packages/missile-intelligence/tests/missile-intelligence.spec.ts
  packages/missile-intelligence/tsconfig.json
  packages/nuclear-monitoring/src/facility-tracker.ts
  packages/nuclear-monitoring/src/infrastructure-monitor.ts
  packages/nuclear-monitoring/src/testing-detection.ts
  packages/nuclear-monitoring/tests/nuclear-monitoring.spec.ts
  packages/nuclear-monitoring/tsconfig.json
  packages/proliferation-networks/tests/proliferation-networks.spec.ts
  packages/proliferation-networks/tsconfig.json
  packages/technical-analysis/tests/technical-analysis.spec.ts
  packages/technical-analysis/tsconfig.json
  packages/treaty-verification/tests/treaty-verification.spec.ts
  packages/treaty-verification/tsconfig.json
  packages/wmd-tracking/src/biological-weapons.ts
  packages/wmd-tracking/src/chemical-weapons.ts
  packages/wmd-tracking/src/weapons-development.ts
  packages/wmd-tracking/tests/wmd-tracking.spec.ts
  packages/wmd-tracking/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(citizen-service): add real-time citizen-centric service automation
  services/citizen-service/package.json
  services/citizen-service/src/graphql/schema.graphql
  services/citizen-service/src/index.ts
  services/citizen-service/src/routes/citizen.ts
  services/citizen-service/src/schemas/citizen.ts
  services/citizen-service/src/services/CitizenDataStore.ts
  services/citizen-service/src/services/CitizenService.ts
  services/citizen-service/tsconfig.json
Due: prettier --write

feat(citizen-service): add production-ready infrastructure
  services/citizen-service/Dockerfile
  services/citizen-service/README.md
  services/citizen-service/docker-compose.yml
  services/citizen-service/package-lock.json
  services/citizen-service/package.json
  services/citizen-service/src/__tests__/CitizenService.test.ts
  services/citizen-service/src/__tests__/routes.test.ts
  services/citizen-service/src/index.ts
  services/citizen-service/src/middleware/health.ts
  services/citizen-service/src/middleware/metrics.ts
  services/citizen-service/src/routes/citizen.ts
  services/citizen-service/src/services/CacheService.ts
  services/citizen-service/src/services/Neo4jStore.ts
  services/citizen-service/tsconfig.json
  services/citizen-service/vitest.config.ts
Due: prettier --write

feat(citizen-service): add security, OpenAPI spec, and polish
  services/citizen-service/.gitignore
  services/citizen-service/openapi.yaml
  services/citizen-service/package-lock.json
  services/citizen-service/src/index.ts
  services/citizen-service/src/middleware/security.ts
Due: prettier --write

feat(citizen-service): add CORS and barrel exports
  services/citizen-service/src/index.ts
  services/citizen-service/src/lib.ts
  services/citizen-service/src/middleware/cors.ts
Due: none

test(time-series): add tests for seasonal-decomposition and ts-feature-engineering
  packages/seasonal-decomposition/src/__tests__/SeasonalDecomposition.test.ts
  packages/ts-feature-engineering/src/__tests__/FeatureEngineering.test.ts
Due: eslint --fix --max-warnings=0 --cache

test: add unit tests and update CHANGELOG for knowledge graph platform
  CHANGELOG.md
  packages/entity-resolution/src/__tests__/entity-resolution.test.ts
  packages/knowledge-graph/src/__tests__/knowledge-graph.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(admin-automation): add GraphQL API, server, and full test suite
  services/admin-automation/README.md
  services/admin-automation/package-lock.json
  services/admin-automation/package.json
  services/admin-automation/src/__tests__/proactive-service-resolver.test.ts
  services/admin-automation/src/citizen-profile-aggregator.ts
  services/admin-automation/src/config.ts
  services/admin-automation/src/form-autocomplete.ts
  services/admin-automation/src/graphql/context.ts
  services/admin-automation/src/graphql/resolvers.ts
  services/admin-automation/src/graphql/schema.ts
  services/admin-automation/src/index.ts
  services/admin-automation/src/server.ts
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
