Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs: refresh SummitThreat roadmap narrative
  docs/ROADMAP.md
  docs/roadmap.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add agent launch runbook for ts remediation
  RUNBOOKS/agent-launch.md
Due: prettier --write

feat: persist postgres usage metering
  docs/roadmap/STATUS.json
  server/src/usage/__tests__/service.test.ts
  server/src/usage/service.ts
Due: prettier --write

feat: add advisory lock to billing close
  docs/roadmap/STATUS.json
  server/src/billing/BillingJobService.ts
  server/src/config.ts
  server/src/services/TenantCostService.ts
  server/tests/billing/BillingJobService.test.ts
Due: prettier --write

feat: add opa cache hit metrics
  docs/roadmap/STATUS.json
  server/src/middleware/__tests__/opa-enforcer.test.ts
  server/src/middleware/opa-enforcer.ts
Due: prettier --write

feat: enforce usage quotas
  server/src/usage/__tests__/quota.test.ts
  server/src/usage/quota.ts
Due: none

fix(test): make JWT security tests more robust and isolated
  server/src/security/__tests__/jwt-security.test.ts
Due: none

fix(docker): use node:20-alpine instead of unavailable Chainguard image
  Dockerfile
Due: none

fix(ci): disable broken reusable workflow references in subdirectories
  .github/workflows/copilot-golden-path.yml
  .github/workflows/golden-path-supply-chain.yml
Due: prettier --write

chore: add severity ledger enforcement gate
  docs/roadmap/STATUS.json
  governance/SEVERITY_LEDGER.md
  governance/severity-ledger.schema.json
  governance/severity-ledger.yaml
  scripts/ci/pr-gate.sh
  scripts/ci/validate-severity-ledger.ts
Due: prettier --write

feat: harden usage metering and enforcement
  PROGRESS.md
  server/src/billing/BillingJobService.ts
  server/src/billing/__tests__/BillingJobService.test.ts
  server/src/middleware/__tests__/opa-enforcer.test.ts
  server/src/middleware/opa-enforcer.ts
  server/src/usage/__tests__/quota.test.ts
  server/src/usage/__tests__/service.test.ts
  server/src/usage/quota.ts
  server/src/usage/service.ts
Due: prettier --write

docs: add freeze-certify-release sprint kit
  README.md
  SPRINT_INDEX.md
  docs/CERTIFICATION/integrity.md
  docs/CERTIFICATION/security.md
  docs/LIMITS.md
  docs/roadmap/STATUS.json
  sprint/sprint-n+3-freeze-certify-release.md
Due: prettier --write

fix(test): skip JWT security tests pending ESM mock fix
  server/src/security/__tests__/jwt-security.test.ts
Due: none

feat(dedup): migrate to pgvector-based duplicate detection
  server/db/migrations/postgres/2026-01-01_add_entity_metadata_for_dedup.down.sql
  server/db/migrations/postgres/2026-01-01_add_entity_metadata_for_dedup.sql
  server/src/graphql/resolvers/deduplication.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/schema/index.ts
  server/src/graphql/schemas/deduplication.graphql
  server/src/services/SimilarityService.ts
  server/src/services/__tests__/SimilarityService.dedup.test.ts
Due: none

feat(deduplication): optimize performance and enhance UX in DeduplicationInspector
  PLANNING_SATURATION_GAP_REPORT.md
  TODO.md
  intelgraph/client/src/components/DeduplicationInspector.jsx
  intelgraph/server/src/services/SimilarityService.js
  intelgraph/server/tests/services/SimilarityService.test.js
Due: prettier --write

feat: codify partner operating model guardrails
  PARTNER_CERTIFICATION.md
  PARTNER_VALUE_MAP.md
  docs/roadmap/STATUS.json
  package.json
  partners/approved_patterns.json
  partners/certification.json
  partners/claims_registry.json
  partners/lifecycle.json
  partners/partner_model.json
  scripts/ci/check_partner_model.js
Due: prettier --write

chore(client): update deps and auth test
  .claude/settings.local.json
  client/package.json
  client/src/auth/__tests__/withAuthorization.test.tsx
  pnpm-lock.yaml
Due: prettier --write

Add agent launch runbook for TS build remediation (#15278)
  RUNBOOKS/agent-launch.md
Due: prettier --write

docs: refresh SummitThreat roadmap narrative (#15277)
  docs/ROADMAP.md
  docs/roadmap.md
  docs/roadmap/STATUS.json
Due: prettier --write

Add GA operator handbook and incident runbooks (#15275)
  README.md
  docs/ga/OPERATOR_HANDBOOK.md
  docs/ga/RUNBOOKS.md
Due: prettier --write

test(client): stabilize UI tests and mocks
  client/jest.config.ts
  client/src/components/__tests__/HomeRoute.test.tsx
  client/src/components/ai-enhanced/__tests__/EnhancedAIAssistant.test.tsx
  client/src/routes/HomeRoute.tsx
  client/src/setupTests.js
Due: none

Harden usage metering and enforcement (#15286)
  PROGRESS.md
  server/src/billing/BillingJobService.ts
  server/src/billing/__tests__/BillingJobService.test.ts
  server/src/middleware/__tests__/opa-enforcer.test.ts
  server/src/middleware/opa-enforcer.ts
  server/src/usage/__tests__/quota.test.ts
  server/src/usage/__tests__/service.test.ts
  server/src/usage/quota.ts
  server/src/usage/service.ts
Due: prettier --write

Set up autonomous Summit priority system (#15294)
  PLANNING_SATURATION_GAP_REPORT.md
  TODO.md
  intelgraph/client/src/components/DeduplicationInspector.jsx
  intelgraph/server/src/services/SimilarityService.js
  intelgraph/server/tests/services/SimilarityService.test.js
Due: prettier --write

Add Claude Code prompt for priority work (#15290)
  server/db/migrations/postgres/2026-01-01_add_entity_metadata_for_dedup.down.sql
  server/db/migrations/postgres/2026-01-01_add_entity_metadata_for_dedup.sql
  server/src/graphql/resolvers/deduplication.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/schema/index.ts
  server/src/graphql/schemas/deduplication.graphql
  server/src/services/SimilarityService.ts
  server/src/services/__tests__/SimilarityService.dedup.test.ts
Due: none

docs: add freeze-certify-release sprint kit (#15287)
  README.md
  SPRINT_INDEX.md
  docs/CERTIFICATION/integrity.md
  docs/CERTIFICATION/security.md
  docs/LIMITS.md
  docs/roadmap/STATUS.json
  sprint/sprint-n+3-freeze-certify-release.md
Due: prettier --write

docs: document next roadmap priorities
  agents/examples/roadmap-priorities-20260101.yaml
  docs/roadmap/STATUS.json
  docs/roadmap/next-priorities-2026-01-01.md
Due: prettier --write

test: restore jwt security coverage
  docs/roadmap/STATUS.json
  server/src/security/__tests__/jwt-security.test.ts
  server/src/security/jwt-security.ts
  tasks/next_priorities.md
Due: prettier --write

chore: add agent guardrails and steering controls
  .github/workflows/agent-guardrails.yml
  AGENT_ACTIVITY.md
  AGENT_CONTRACT.md
  HUMAN_OWNER_GUIDE.md
  TASK_BACKLOG.md
  agent-contract.json
  docs/AGENT_OPS_HANDBOOK.md
  docs/roadmap/STATUS.json
Due: prettier --write

fix(ci): disable golden-path-supply-chain workflow temporarily
  .github/workflows/golden-path-supply-chain.yml
Due: prettier --write

docs(governance): clarify agent guidance status
  docs/archive/AUTONOMOUS_COUNTER_PSYOPS_AGENTS_COMPLETED.md
  docs/archive/root-history/AUTONOMOUS_COUNTER_PSYOPS_AGENTS_COMPLETED.md
  docs/archived/AUTONOMOUS_COUNTER_PSYOPS_AGENTS_COMPLETED.md
  docs/governance/AGENT_MANDATES.md
  services/agent-gateway/docs/AGENT_ONBOARDING.md
Due: prettier --write

feat: codify partner operating model guardrails (#15293)
  PARTNER_CERTIFICATION.md
  PARTNER_VALUE_MAP.md
  docs/roadmap/STATUS.json
  intelgraph/client/src/components/DeduplicationInspector.jsx
  intelgraph/server/src/services/SimilarityService.js
  intelgraph/server/tests/services/SimilarityService.test.js
  package.json
  partners/approved_patterns.json
  partners/certification.json
  partners/claims_registry.json
  partners/lifecycle.json
  partners/partner_model.json
  scripts/ci/check_partner_model.js
Due: prettier --write

Add severity ledger zero-tolerance CI gate (#15285)
  docs/roadmap/STATUS.json
  governance/SEVERITY_LEDGER.md
  governance/severity-ledger.schema.json
  governance/severity-ledger.yaml
  scripts/ci/pr-gate.sh
  scripts/ci/validate-severity-ledger.ts
Due: prettier --write

Implement quota evaluation for PostgresQuotaService (#15282)
  server/src/usage/__tests__/quota.test.ts
  server/src/usage/quota.ts
Due: none

docs: add truth operations adversarial defense pack
  docs/roadmap/STATUS.json
  docs/truth-operations/adversarial-threat-model.md
  docs/truth-operations/authority-continuity.md
  docs/truth-operations/blast-radius-containment.md
  docs/truth-operations/diagrams/truth-defense-flow.svg
  docs/truth-operations/integrity-scoring.md
  docs/truth-operations/narrative-collision.md
  docs/truth-operations/temporal-truth.md
  policies/truth-defense.rego
  schemas/integrity-metadata.schema.json
Due: prettier --write

feat: add red-team harness to sim-harness
  docs/roadmap/STATUS.json
  sim-harness/README.md
  sim-harness/__tests__/RedTeamHarness.test.ts
  sim-harness/config/redteam.default.yaml
  sim-harness/src/cli.ts
  sim-harness/src/index.ts
  sim-harness/src/redteam/DetectionEngine.ts
  sim-harness/src/redteam/RedTeamHarness.ts
  sim-harness/src/redteam/RedTeamPlanLoader.ts
  sim-harness/src/redteam/defaults.ts
  sim-harness/src/types/index.ts
  sim-harness/src/utils/ConfigLoader.ts
Due: prettier --write

docs: add continuity and succession safeguards
  docs/continuity/anti-capture-incentives.md
  docs/continuity/authority-transition.md
  docs/continuity/custodianship.md
  docs/continuity/diagrams/continuity-defense.svg
  docs/continuity/merger-safety.md
  docs/continuity/purpose-lock.md
  docs/continuity/semantic-drift.md
  docs/roadmap/STATUS.json
  doctrine/continuity-amendment.md
  policies/continuity.rego
Due: prettier --write

feat: add doctrine spine and enforcement guardrails
  .lintstagedrc.json
  docs/doctrine/amendment-process.md
  docs/doctrine/epistemic-law.md
  docs/doctrine/information-lifecycle.md
  docs/doctrine/narrative-invariants.md
  docs/doctrine/purpose-lock.md
  docs/doctrine/refusal-surface.md
  docs/roadmap/STATUS.json
  package.json
  packages/doctrine-enforcement/package.json
  packages/doctrine-enforcement/src/__tests__/decision-enforcement.test.ts
  packages/doctrine-enforcement/src/decision-validator.ts
  packages/doctrine-enforcement/src/index.ts
  packages/doctrine-enforcement/src/information-gate.ts
  packages/doctrine-enforcement/src/refusal-record.ts
  packages/doctrine-enforcement/src/types.ts
  packages/doctrine-enforcement/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add redteam harness module
  Justfile
  agents/redteam/registry.json
  agents/redteam/tasks/backdoor-pr.yaml
  agents/redteam/tasks/dependency-tampering.yaml
  agents/redteam/tasks/exfiltration.yaml
  docs/roadmap/STATUS.json
  pnpm-lock.yaml
  sim-harness/__tests__/MetricsCollector.test.ts
  sim-harness/__tests__/RedteamHarness.test.ts
  sim-harness/__tests__/integration.test.ts
  sim-harness/agent-redteam/README.md
  sim-harness/agent-redteam/scenarios/backdoor-pr.yaml
  sim-harness/agent-redteam/scenarios/dependency-tampering.yaml
  sim-harness/agent-redteam/scenarios/exfiltration.yaml
  sim-harness/jest.config.js
  sim-harness/package.json
  sim-harness/src/agent-redteam/AgentTaskRegistry.ts
  sim-harness/src/agent-redteam/PromptRegistry.ts
  sim-harness/src/agent-redteam/RedteamHarness.ts
  sim-harness/src/agent-redteam/runner.ts
  sim-harness/src/agent-redteam/types.ts
  sim-harness/src/drivers/GhostAnalyst.ts
  sim-harness/src/generators/ScenarioGenerator.ts
  sim-harness/src/index.ts
  sim-harness/src/metrics/MetricsCollector.ts
  sim-harness/tsconfig.jest.json
  sim-harness/tsconfig.json
Due: prettier --write

feat: enforce agent attestations and diff risk gates
  docs/roadmap/STATUS.json
  scripts/ci/high-risk-diff-check.cjs
  scripts/ci/pr-gate.sh
  server/src/conductor/api/conductor-routes.ts
  server/src/conductor/observability/anomaly-detector.ts
  server/src/conductor/router/router-api.ts
  server/src/conductor/security/agent-attestation.ts
Due: prettier --write
