Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Port PR 18747: AgentPlace Governance & Risk Evaluator Implementation
  .github/workflows/agentplace-drift.yml
  .github/workflows/agentplace-policy.yml
  .github/workflows/disinfo.yml
  .github/workflows/golden-path/_golden-path-pipeline.yml
  .github/workflows/release-train.yml
  .github/workflows/repro-docker.yml
  .github/workflows/reusable/build-test.yml
  .github/workflows/reusable/e2e.yml
  .github/workflows/reusable/package.yml
  .github/workflows/reusable/security.yml
  .github/workflows/reusable/smoke.yml
  .github/workflows/reusable/unit.yml
  CHANGELOG.md
  agents/manifests/malicious_agent.json
  agents/manifests/standard_agent.json
  docs/governance/GOVERNANCE_RULES.md
  docs/ops/runbooks/agentplace.md
  docs/security/data-handling/agentplace.md
  docs/standards/agentplace.md
  drift_report.json
  metrics.json
  modules/agentplace/evaluator.py
  modules/agentplace/risk_model.yaml
  modules/agentplace/schemas/agent_manifest.schema.json
  modules/agentplace/tests/test_evaluator.py
  scripts/ci/evaluate-policies.ts
  scripts/monitoring/agentplace-drift.py
  scripts/profile_agentplace.py
Due: prettier --write

AgentPlace Governance & Risk Evaluator Implementation (Port) (#19311)
  .github/workflows/agentplace-drift.yml
  .github/workflows/agentplace-policy.yml
  .github/workflows/disinfo.yml
  .github/workflows/golden-path/_golden-path-pipeline.yml
  .github/workflows/release-train.yml
  .github/workflows/repro-docker.yml
  .github/workflows/reusable/build-test.yml
  .github/workflows/reusable/e2e.yml
  .github/workflows/reusable/package.yml
  .github/workflows/reusable/security.yml
  .github/workflows/reusable/smoke.yml
  .github/workflows/reusable/unit.yml
  CHANGELOG.md
  agents/manifests/malicious_agent.json
  agents/manifests/standard_agent.json
  docs/governance/GOVERNANCE_RULES.md
  docs/ops/runbooks/agentplace.md
  docs/security/data-handling/agentplace.md
  docs/standards/agentplace.md
  drift_report.json
  metrics.json
  modules/agentplace/evaluator.py
  modules/agentplace/risk_model.yaml
  modules/agentplace/schemas/agent_manifest.schema.json
  modules/agentplace/tests/test_evaluator.py
  scripts/ci/evaluate-policies.ts
  scripts/monitoring/agentplace-drift.py
  scripts/profile_agentplace.py
Due: prettier --write

Port PR 18635: feat(route-opt): add deterministic ROAM module with CI reproducibility gates
  .github/workflows/route-opt.yml
  agents/route_opt/__init__.py
  agents/route_opt/planner.py
  agents/route_opt/reporter.py
  agents/route_opt/schemas/route_plan.schema.json
  agents/route_opt/tests/fixtures/input.json
  agents/route_opt/tests/test_route_opt.py
  agents/route_opt/tools/constraint_solver.py
  agents/route_opt/tools/distance_matrix.py
  agents/route_opt/validator.py
  docs/ops/runbooks/route-opt.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/route-opt.md
  docs/standards/route-opt.md
  repo_assumptions.md
  scripts/ci/check_determinism_hash.py
  scripts/ci/check_route_schema.py
  scripts/monitoring/route-opt-drift.py
  scripts/profile_route_opt.py
Due: prettier --write

feat(route-opt): add deterministic ROAM module with CI reproducibility gates (Port) (#19312)
  .github/workflows/route-opt.yml
  agents/route_opt/__init__.py
  agents/route_opt/planner.py
  agents/route_opt/reporter.py
  agents/route_opt/schemas/route_plan.schema.json
  agents/route_opt/tests/fixtures/input.json
  agents/route_opt/tests/test_route_opt.py
  agents/route_opt/tools/constraint_solver.py
  agents/route_opt/tools/distance_matrix.py
  agents/route_opt/validator.py
  docs/ops/runbooks/route-opt.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/route-opt.md
  docs/standards/route-opt.md
  repo_assumptions.md
  scripts/ci/check_determinism_hash.py
  scripts/ci/check_route_schema.py
  scripts/monitoring/route-opt-drift.py
  scripts/profile_route_opt.py
Due: prettier --write

Port PR 18655: Advance Comet v2 Triage, WebSocket metrics, and Agentic Issue Triage
  assistant/autotriage/README.md
  assistant/autotriage/__tests__/backlog-parser.test.d.ts.map
  assistant/autotriage/__tests__/initiative-classifier.test.d.ts
  assistant/autotriage/__tests__/initiative-classifier.test.d.ts.map
  assistant/autotriage/__tests__/initiative-classifier.test.js
  assistant/autotriage/__tests__/initiative-classifier.test.ts
  assistant/autotriage/automation/comment-drafter.d.ts.map
  assistant/autotriage/automation/label-generator.d.ts.map
  assistant/autotriage/classifier/area-detector.d.ts.map
  assistant/autotriage/classifier/impact-analyzer.d.ts.map
  assistant/autotriage/classifier/initiative-classifier.d.ts
  assistant/autotriage/classifier/initiative-classifier.d.ts.map
  assistant/autotriage/classifier/initiative-classifier.js
  assistant/autotriage/classifier/initiative-classifier.ts
  assistant/autotriage/classifier/issue-clusterer.d.ts.map
  assistant/autotriage/classifier/type-classifier.d.ts.map
  assistant/autotriage/cli.d.ts.map
  assistant/autotriage/config.d.ts
  assistant/autotriage/config.d.ts.map
  assistant/autotriage/config.js
  assistant/autotriage/config.ts
  assistant/autotriage/data/backlog-parser.d.ts.map
  assistant/autotriage/data/bugbash-parser.d.ts.map
  assistant/autotriage/data/github-fetcher.d.ts.map
  assistant/autotriage/examples/usage-example.d.ts.map
  assistant/autotriage/examples/usage-example.js
  assistant/autotriage/examples/usage-example.ts
  assistant/autotriage/monitoring.d.ts.map
  assistant/autotriage/scripts/comet_status.py
  assistant/autotriage/scripts/test_comet_status.py
  assistant/autotriage/tsconfig.json
  assistant/autotriage/types.d.ts
  assistant/autotriage/types.d.ts.map
  assistant/autotriage/types.ts
  docs/comet-v2-status.json
Due: prettier --write

Advance Comet v2 Triage, WebSocket metrics, and Agentic Issue Triage (Port) (#19313)
  assistant/autotriage/README.md
  assistant/autotriage/__tests__/backlog-parser.test.d.ts.map
  assistant/autotriage/__tests__/initiative-classifier.test.d.ts
  assistant/autotriage/__tests__/initiative-classifier.test.d.ts.map
  assistant/autotriage/__tests__/initiative-classifier.test.js
  assistant/autotriage/__tests__/initiative-classifier.test.ts
  assistant/autotriage/automation/comment-drafter.d.ts.map
  assistant/autotriage/automation/label-generator.d.ts.map
  assistant/autotriage/classifier/area-detector.d.ts.map
  assistant/autotriage/classifier/impact-analyzer.d.ts.map
  assistant/autotriage/classifier/initiative-classifier.d.ts
  assistant/autotriage/classifier/initiative-classifier.d.ts.map
  assistant/autotriage/classifier/initiative-classifier.js
  assistant/autotriage/classifier/initiative-classifier.ts
  assistant/autotriage/classifier/issue-clusterer.d.ts.map
  assistant/autotriage/classifier/type-classifier.d.ts.map
  assistant/autotriage/cli.d.ts.map
  assistant/autotriage/config.d.ts
  assistant/autotriage/config.d.ts.map
  assistant/autotriage/config.js
  assistant/autotriage/config.ts
  assistant/autotriage/data/backlog-parser.d.ts.map
  assistant/autotriage/data/bugbash-parser.d.ts.map
  assistant/autotriage/data/github-fetcher.d.ts.map
  assistant/autotriage/examples/usage-example.d.ts.map
  assistant/autotriage/examples/usage-example.js
  assistant/autotriage/examples/usage-example.ts
  assistant/autotriage/monitoring.d.ts.map
  assistant/autotriage/scripts/comet_status.py
  assistant/autotriage/scripts/test_comet_status.py
  assistant/autotriage/tsconfig.json
  assistant/autotriage/types.d.ts
  assistant/autotriage/types.d.ts.map
  assistant/autotriage/types.ts
  docs/comet-v2-status.json
Due: prettier --write

Port PR 18796: feat(bench): add deterministic ai-mockup-2026 benchmark pipeline and CI gates
  .github/workflows/ai-mockup-2026-benchmark.yml
  benchmarks/ai-mockup-2026/fixtures/determinism.sha256
  benchmarks/ai-mockup-2026/fixtures/ground_truth_claims.json
  benchmarks/ai-mockup-2026/runner.py
  benchmarks/ai-mockup-2026/tasks.yaml
  benchmarks/ai-mockup-2026/test_runner.py
  benchmarks/ai-mockup-2026/tools.yaml
  docs/ops/runbooks/ai-mockup-2026.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/ai-mockup-2026.md
  docs/standards/ai-mockup-2026.md
  repo_assumptions.md
  reports/ai-mockup-2026/metrics.json
  reports/ai-mockup-2026/report.json
  reports/ai-mockup-2026/stamp.json
  scripts/monitoring/ai-mockup-2026-drift.py
Due: prettier --write

feat(bench): add deterministic ai-mockup-2026 benchmark pipeline and CI gates (Port) (#19314)
  .github/workflows/ai-mockup-2026-benchmark.yml
  benchmarks/ai-mockup-2026/fixtures/determinism.sha256
  benchmarks/ai-mockup-2026/fixtures/ground_truth_claims.json
  benchmarks/ai-mockup-2026/runner.py
  benchmarks/ai-mockup-2026/tasks.yaml
  benchmarks/ai-mockup-2026/test_runner.py
  benchmarks/ai-mockup-2026/tools.yaml
  docs/ops/runbooks/ai-mockup-2026.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/ai-mockup-2026.md
  docs/standards/ai-mockup-2026.md
  repo_assumptions.md
  reports/ai-mockup-2026/metrics.json
  reports/ai-mockup-2026/report.json
  reports/ai-mockup-2026/stamp.json
  scripts/monitoring/ai-mockup-2026-drift.py
Due: prettier --write

Port PR 18673: [CRITICAL] fix(deps): add missing @types/hapi type definitions
  .github/workflows/_reusable-slsa-build.yml
  .github/workflows/golden-path-supply-chain.yml
  apps/analytics-engine/package.json
  apps/analytics-engine/src/middleware/auth.ts
  apps/analytics-engine/src/server.ts
  apps/analytics-engine/src/services/ChartService.ts
  apps/analytics-engine/src/services/DashboardService.ts
  package.json
  packages/osint-collector/.gitignore
  packages/osint-collector/jest.config.cjs
  packages/osint-collector/src/collectors/SimpleFeedCollector.test.ts
  packages/osint-collector/src/collectors/SimpleFeedCollector.ts
  packages/osint-collector/src/utils/security.test.ts
  packages/osint-collector/src/utils/security.ts
  pnpm-lock.yaml
  tests/utils/jest-setup.cjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

[CRITICAL] fix(deps): add missing @types/hapi type definitions (Port) (#19315)
  .github/workflows/_reusable-slsa-build.yml
  .github/workflows/golden-path-supply-chain.yml
  apps/analytics-engine/package.json
  apps/analytics-engine/src/middleware/auth.ts
  apps/analytics-engine/src/server.ts
  apps/analytics-engine/src/services/ChartService.ts
  apps/analytics-engine/src/services/DashboardService.ts
  package.json
  packages/osint-collector/.gitignore
  packages/osint-collector/jest.config.cjs
  packages/osint-collector/src/collectors/SimpleFeedCollector.test.ts
  packages/osint-collector/src/collectors/SimpleFeedCollector.ts
  packages/osint-collector/src/utils/security.test.ts
  packages/osint-collector/src/utils/security.ts
  pnpm-lock.yaml
  tests/utils/jest-setup.cjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Port PR 18806: ci: stabilize cache keys via content hashes + set sane retention
  .github/required-checks.yml
  .github/workflows/_reusable-ci.yml
  .github/workflows/_reusable-security-compliance.yml
  .github/workflows/ci-core.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/intelgraph-ci.yml
  .github/workflows/parity-check.yml
  .github/workflows/pr-quality-gate.yml
  .github/workflows/repro-docker.yml
  .github/workflows/smoke-gate.yml
  Makefile
  docs/compliance/CONTROL_REGISTRY.md
  docs/governance/evidence-map.yml
  evidence/EVID-NARINT-SMOKE/report.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
  package.json
  packages/observability/package.json
  pnpm-lock.yaml
  scripts/check-changelog.sh
  scripts/ci/parity_check.sh
  scripts/ci/verify_governance_docs.mjs
  scripts/ga/check-pr-metadata.mjs
  scripts/ga/verify-saos.mjs
  scripts/generate-sbom.sh
  scripts/verify-release.sh
  scripts/verify_evidence.py
  security/relay_policy/enforce.py
  security/supply_chain/verify_signatures.py
  server/data/metering/events.jsonl
  server/package.json
  server/src/maestro/__tests__/integration.test.ts
  server/src/utils/Bulkhead.ts
Due: prettier --write

ci: stabilize cache keys via content hashes + set sane retention (Port) (#19316)
  .github/required-checks.yml
  .github/workflows/_reusable-ci.yml
  .github/workflows/_reusable-security-compliance.yml
  .github/workflows/ci-core.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/intelgraph-ci.yml
  .github/workflows/parity-check.yml
  .github/workflows/pr-quality-gate.yml
  .github/workflows/repro-docker.yml
  .github/workflows/smoke-gate.yml
  Makefile
  docs/compliance/CONTROL_REGISTRY.md
  docs/governance/evidence-map.yml
  evidence/EVID-NARINT-SMOKE/report.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
  package.json
  packages/observability/package.json
  pnpm-lock.yaml
  scripts/check-changelog.sh
  scripts/ci/parity_check.sh
  scripts/ci/verify_governance_docs.mjs
  scripts/ga/check-pr-metadata.mjs
  scripts/ga/verify-saos.mjs
  scripts/generate-sbom.sh
  scripts/verify-release.sh
  scripts/verify_evidence.py
  security/relay_policy/enforce.py
  security/supply_chain/verify_signatures.py
  server/data/metering/events.jsonl
  server/package.json
  server/src/maestro/__tests__/integration.test.ts
  server/src/utils/Bulkhead.ts
Due: prettier --write

Port PR 18736: feat(governance): Implement Agentic Human Outsourcing Detector
  .github/compose/pg_neo.yml
  CHANGELOG.md
  Makefile
  apps/web/package.json
  ci/check_agentic_proxy.py
  detectors/__init__.py
  detectors/human_outsourcing_detector.py
  docs/ADR/ADR-026-ci-resilience-and-release-gating.md
  docs/governance/evidence-map.yml
  docs/ops/runbooks/agentic-human-outsourcing.md
  docs/security/data-handling/agentic-human-outsourcing.md
  docs/standards/agentic-human-outsourcing.md
  evidence/causality_ledger.py
  evidence/stamp.json
  package.json
  policies/ai_human_outsourcing.yaml
  scripts/monitoring/agentic-outsourcing-drift.py
  scripts/ux-ci-enforcer.js
  scripts/verify_evidence.py
  security/relay_policy/enforce.py
  security/supply_chain/verify_signatures.py
  server/package.json
  tests/fixtures/abuse/ai_rents_human.json
  tests/test_human_outsourcing_detector.py
  tests/test_precision_flow_policy.py
Due: prettier --write

feat(governance): Implement Agentic Human Outsourcing Detector (Port) (#19318)
  .github/compose/pg_neo.yml
  CHANGELOG.md
  Makefile
  apps/web/package.json
  ci/check_agentic_proxy.py
  detectors/__init__.py
  detectors/human_outsourcing_detector.py
  docs/ADR/ADR-026-ci-resilience-and-release-gating.md
  docs/governance/evidence-map.yml
  docs/ops/runbooks/agentic-human-outsourcing.md
  docs/security/data-handling/agentic-human-outsourcing.md
  docs/standards/agentic-human-outsourcing.md
  evidence/causality_ledger.py
  evidence/stamp.json
  package.json
  policies/ai_human_outsourcing.yaml
  scripts/monitoring/agentic-outsourcing-drift.py
  scripts/ux-ci-enforcer.js
  scripts/verify_evidence.py
  security/relay_policy/enforce.py
  security/supply_chain/verify_signatures.py
  server/package.json
  tests/fixtures/abuse/ai_rents_human.json
  tests/test_human_outsourcing_detector.py
  tests/test_precision_flow_policy.py
Due: prettier --write

Port PR 18608: feat: authenticated web vitals monitoring and histograms
  apps/web/src/reportWebVitals.ts
  observability/prometheus/summit-alerts.yml
  pnpm-lock.yaml
  server/data/metering/events.jsonl
  server/src/monitoring/metrics.ts
  server/src/routes/monitoring.ts
Due: none

feat: authenticated web vitals monitoring and histograms (Port) (#19320)
  apps/web/src/reportWebVitals.ts
  observability/prometheus/summit-alerts.yml
  pnpm-lock.yaml
  server/data/metering/events.jsonl
  server/src/monitoring/metrics.ts
  server/src/routes/monitoring.ts
Due: none

Port PR 18658: feat(ui): Improve EmptyState icons and accessibility
  apps/web/src/components/ui/EmptyState.test.tsx
Due: none

feat(ui): Improve EmptyState icons and accessibility (Port) (#19321)
  apps/web/src/components/ui/EmptyState.test.tsx
Due: none

Port PR 18732: feat: add Maestro Spec Interview Orchestrator capability
  .github/workflows/golden-path-e2e.yml
  .github/workflows/pr-quality-gate.yml
  .gitignore
  CHANGELOG.md
  agents/maestro/interview_engine.py
  agents/registry/agents.json
  docs/governance/evidence-map.yml
  docs/gtm/reference-architecture.md
  docs/gtm/roi-tco-model.md
  docs/gtm/trust-center.md
  docs/ops/runbooks/maestro_spec.md
  docs/releases/reason-codes.yml
  docs/repo_assumptions.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/maestro_spec.md
  docs/standards/maestro_spec.md
  helm/Chart.yaml
  package.json
  pnpm-lock.yaml
  prompts/maestro/maestro_spec_interview_v1.md
  prompts/registry.yaml
  schemas/maestro_spec.schema.json
  schemas/spec_bundle.schema.json
  scripts/emit_spec_bundle.py
  scripts/ga/ga-verify-runner.mjs
  scripts/ga/scan-pii.mjs
  scripts/ga/verify-maestro-spec.mjs
  scripts/generate-sbom.sh
  scripts/monitoring/maestro_spec-drift.py
  server/package.json
  tests/test_precision_flow_policy.py
Due: prettier --write

feat: add Maestro Spec Interview Orchestrator capability (Port) (#19322)
  .github/workflows/golden-path-e2e.yml
  .github/workflows/pr-quality-gate.yml
  .gitignore
  CHANGELOG.md
  agents/maestro/interview_engine.py
  agents/registry/agents.json
  docs/governance/evidence-map.yml
  docs/gtm/reference-architecture.md
  docs/gtm/roi-tco-model.md
  docs/gtm/trust-center.md
  docs/ops/runbooks/maestro_spec.md
  docs/releases/reason-codes.yml
  docs/repo_assumptions.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/maestro_spec.md
  docs/standards/maestro_spec.md
  helm/Chart.yaml
  package.json
  pnpm-lock.yaml
  prompts/maestro/maestro_spec_interview_v1.md
  prompts/registry.yaml
  schemas/maestro_spec.schema.json
  schemas/spec_bundle.schema.json
  scripts/emit_spec_bundle.py
  scripts/ga/ga-verify-runner.mjs
  scripts/ga/scan-pii.mjs
  scripts/ga/verify-maestro-spec.mjs
  scripts/generate-sbom.sh
  scripts/monitoring/maestro_spec-drift.py
  server/package.json
  tests/test_precision_flow_policy.py
Due: prettier --write

Port PR 18742: feat: Switchboard V1 & Approvals Schema Fix
  apps/switchboard-web/src/App.tsx
  apps/switchboard-web/src/api.ts
  apps/switchboard-web/src/components/ApprovalCard.tsx
  apps/switchboard-web/src/components/TaskFeed.tsx
  apps/switchboard-web/vite.config.d.ts
  apps/switchboard-web/vite.config.js
  pnpm-lock.yaml
  server/db/migrations/V10__fix_approvals_schema.sql
Due: none

feat: Switchboard V1 & Approvals Schema Fix (Port) (#19323)
  apps/switchboard-web/src/App.tsx
  apps/switchboard-web/src/api.ts
  apps/switchboard-web/src/components/ApprovalCard.tsx
  apps/switchboard-web/src/components/TaskFeed.tsx
  apps/switchboard-web/vite.config.d.ts
  apps/switchboard-web/vite.config.js
  pnpm-lock.yaml
  server/db/migrations/V10__fix_approvals_schema.sql
Due: none

Port PR 18621: CI: enforce golden path
  .github/workflows/ci-golden-path.yml
  .github/workflows/golden-path/_golden-path-pipeline.yml
  .github/workflows/repro-docker.yml
  .github/workflows/reusable/build-test.yml
  .github/workflows/reusable/e2e.yml
  .github/workflows/reusable/package.yml
  .github/workflows/reusable/security.yml
  .github/workflows/reusable/smoke.yml
  .github/workflows/reusable/unit.yml
  AGENTS.md
  CHANGELOG.md
  Makefile
  README.md
  docs/governance/evidence-map.yaml
  ops/docker-compose.yml
  pnpm-lock.yaml
  scripts/golden-path.sh
  scripts/verify_evidence.py
  server/package.json
  server/src/maestro/__tests__/integration.test.ts
Due: prettier --write

CI: enforce golden path (Port) (#19324)
  .github/workflows/ci-golden-path.yml
  .github/workflows/golden-path/_golden-path-pipeline.yml
  .github/workflows/repro-docker.yml
  .github/workflows/reusable/build-test.yml
  .github/workflows/reusable/e2e.yml
  .github/workflows/reusable/package.yml
  .github/workflows/reusable/security.yml
  .github/workflows/reusable/smoke.yml
  .github/workflows/reusable/unit.yml
  AGENTS.md
  CHANGELOG.md
  Makefile
  README.md
  docs/governance/evidence-map.yaml
  ops/docker-compose.yml
  pnpm-lock.yaml
  scripts/golden-path.sh
  scripts/verify_evidence.py
  server/package.json
  server/src/maestro/__tests__/integration.test.ts
Due: prettier --write

Port PR 18640: 🎨 Palette: Improve accessibility of Keyboard Shortcuts Help
  .github/workflows/golden-path-e2e.yml
  .gitignore
  .jules/palette.md
  apps/web/src/components/KeyboardShortcutsHelp.tsx
  apps/web/src/components/MaestroRunConsole.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/components/__tests__/KeyboardShortcutsHelp.test.tsx
  apps/web/src/components/ui/EmptyState.tsx
  apps/web/src/lib/utils.ts
  docs/governance/evidence-map.yml
  pnpm-lock.yaml
Due: prettier --write

🎨 Palette: Improve accessibility of Keyboard Shortcuts Help (Port) (#19325)
  .github/workflows/golden-path-e2e.yml
  .gitignore
  .jules/palette.md
  apps/web/src/components/KeyboardShortcutsHelp.tsx
  apps/web/src/components/MaestroRunConsole.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/components/__tests__/KeyboardShortcutsHelp.test.tsx
  apps/web/src/components/ui/EmptyState.tsx
  apps/web/src/lib/utils.ts
  docs/governance/evidence-map.yml
  pnpm-lock.yaml
Due: prettier --write

Port PR 18620: GA Release v4.2.4
  .github/workflows/_reusable-ga-readiness.yml
  .github/workflows/ci-core.yml
  .github/workflows/infra-drift.yml
  .github/workflows/pr-quality-gate.yml
  .github/workflows/repro-docker.yml
  .github/workflows/reusable-golden-path.yml
  .github/workflows/supplychain-verify.yml
  GA_RELEASE_PACKET.md
  apps/web/package.json
  apps/web/src/components/KeyboardShortcutsHelp.tsx
  client/package.json
  docs/releases/reason-codes.yml
  package.json
  pnpm-lock.yaml
  server/data/metering/events.jsonl
  server/package.json
  server/src/llm/__tests__/nvidia-nim.test.ts
  server/src/routes/__tests__/actions.test.ts
  server/src/routes/actions.ts
  server/src/routes/osint.ts
  server/src/services/ActionPolicyService.ts
  server/src/services/__tests__/ActionPolicyService.test.ts
  server/src/services/__tests__/BitemporalService.test.ts
  server/src/services/__tests__/UsageMeteringService.test.ts
  tests/factories/requestFactory.ts
Due: prettier --write

GA Release v4.2.4 (Port) (#19326)
  .github/workflows/_reusable-ga-readiness.yml
  .github/workflows/ci-core.yml
  .github/workflows/infra-drift.yml
  .github/workflows/pr-quality-gate.yml
  .github/workflows/repro-docker.yml
  .github/workflows/reusable-golden-path.yml
  .github/workflows/supplychain-verify.yml
  GA_RELEASE_PACKET.md
  apps/web/package.json
  apps/web/src/components/KeyboardShortcutsHelp.tsx
  client/package.json
  docs/releases/reason-codes.yml
  package.json
  pnpm-lock.yaml
  server/data/metering/events.jsonl
  server/package.json
  server/src/llm/__tests__/nvidia-nim.test.ts
  server/src/routes/__tests__/actions.test.ts
  server/src/routes/actions.ts
  server/src/routes/osint.ts
  server/src/services/ActionPolicyService.ts
  server/src/services/__tests__/ActionPolicyService.test.ts
  server/src/services/__tests__/BitemporalService.test.ts
  server/src/services/__tests__/UsageMeteringService.test.ts
  tests/factories/requestFactory.ts
Due: prettier --write

Port PR 18678: Fix server errors in middleware and services
  docs/roadmap/STATUS.json
  pnpm-lock.yaml
  server/data/metering/events.jsonl
  server/src/graphql/__tests__/cognitive-security.test.ts
  server/src/maestro/__tests__/integration.test.ts
  server/src/middleware/__tests__/maestro-authz.test.ts
  server/src/middleware/__tests__/opa-abac.test.ts
  server/src/middleware/__tests__/requestId.test.ts
  server/src/middleware/__tests__/tenantHeader.test.ts
  server/src/middleware/__tests__/validation.test.ts
  server/src/middleware/requestId.ts
  server/src/middleware/sanitize.ts
  server/src/predictive/__tests__/PredictiveService.test.ts
  server/src/services/AuthService.ts
  server/src/services/__tests__/AuthService.test.ts
  server/src/services/__tests__/CognitiveMapperService.test.ts
  server/src/services/__tests__/DeceptionService.test.ts
  server/src/services/__tests__/HumintService.test.ts
  server/src/services/__tests__/IntelligenceAnalysisService.test.ts
  server/src/services/__tests__/PrivacyService.test.ts
  server/src/services/__tests__/SimilarityService.dedup.test.ts
  server/src/services/__tests__/TenantUsageService.test.ts
  server/src/services/semantic-rag/__tests__/SemanticKGRAGService.test.ts
  server/src/utils/require.ts
Due: prettier --write

Fix server errors in middleware and services (Port) (#19327)
  docs/roadmap/STATUS.json
  pnpm-lock.yaml
  server/data/metering/events.jsonl
  server/src/graphql/__tests__/cognitive-security.test.ts
  server/src/maestro/__tests__/integration.test.ts
  server/src/middleware/__tests__/maestro-authz.test.ts
  server/src/middleware/__tests__/opa-abac.test.ts
  server/src/middleware/__tests__/requestId.test.ts
  server/src/middleware/__tests__/tenantHeader.test.ts
  server/src/middleware/__tests__/validation.test.ts
  server/src/middleware/requestId.ts
  server/src/middleware/sanitize.ts
  server/src/predictive/__tests__/PredictiveService.test.ts
  server/src/services/AuthService.ts
  server/src/services/__tests__/AuthService.test.ts
  server/src/services/__tests__/CognitiveMapperService.test.ts
  server/src/services/__tests__/DeceptionService.test.ts
  server/src/services/__tests__/HumintService.test.ts
  server/src/services/__tests__/IntelligenceAnalysisService.test.ts
  server/src/services/__tests__/PrivacyService.test.ts
  server/src/services/__tests__/SimilarityService.dedup.test.ts
  server/src/services/__tests__/TenantUsageService.test.ts
  server/src/services/semantic-rag/__tests__/SemanticKGRAGService.test.ts
  server/src/utils/require.ts
Due: prettier --write

Port PR 18642: feat: Deterministic Run System & Replay CLI
  .github/workflows/experiment-aware-release.yml
  .github/workflows/ga-evidence.yml
  .github/workflows/reproducibility.yml
  .github/workflows/slo-smoke-gate.yml
  .github/workflows/ux-governance.yml
  CHANGELOG.md
  ops/docker-compose.yml
  packages/cli/src/commands/replay.ts
  packages/cli/src/index.ts
  packages/orchestrator/package.json
  packages/orchestrator/src/determinism.ts
  packages/orchestrator/src/index.ts
  packages/orchestrator/src/run_manifest.ts
  packages/orchestrator/src/scheduler/graph.ts
  packages/policy/package.json
  packages/policy/src/index.ts
  packages/policy/tsconfig.json
  pnpm-lock.yaml
  run1/events.jsonl
  run1/manifest.json
  run2/events.jsonl
  run2/manifest.json
  schemas/run_manifest.schema.json
  scripts/test-determinism.ts
  scripts/verify_evidence.py
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Deterministic Run System & Replay CLI (Port) (#19328)
  .github/workflows/experiment-aware-release.yml
  .github/workflows/ga-evidence.yml
  .github/workflows/reproducibility.yml
  .github/workflows/slo-smoke-gate.yml
  .github/workflows/ux-governance.yml
  CHANGELOG.md
  ops/docker-compose.yml
  packages/cli/src/commands/replay.ts
  packages/cli/src/index.ts
  packages/orchestrator/package.json
  packages/orchestrator/src/determinism.ts
  packages/orchestrator/src/index.ts
  packages/orchestrator/src/run_manifest.ts
  packages/orchestrator/src/scheduler/graph.ts
  packages/policy/package.json
  packages/policy/src/index.ts
  packages/policy/tsconfig.json
  pnpm-lock.yaml
  run1/events.jsonl
  run1/manifest.json
  run2/events.jsonl
  run2/manifest.json
  schemas/run_manifest.schema.json
  scripts/test-determinism.ts
  scripts/verify_evidence.py
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Port PR 18634: feat(rag): add RAG system health monitoring dashboard
  .learnings
  README.md
  apps/web/src/App.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/pages/admin/RagHealthDashboard.tsx
  apps/web/vite.config.ts
  docker-compose.yml
  docs/runbooks/rag-health.md
  observability/prometheus/prometheus.yml
  pnpm-lock.yaml
  services/graphrag/package.json
  services/graphrag/src/server.ts
  services/rag/Dockerfile
  services/rag/src/main.py
  update_app_tsx.py
  update_graphrag_middleware.py
  update_graphrag_server.py
  update_navigation.py
  update_rag_main.py
  update_vite_config.py
Due: prettier --write

feat(rag): add RAG system health monitoring dashboard (Port) (#19329)
  .learnings
  README.md
  apps/web/src/App.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/pages/admin/RagHealthDashboard.tsx
  apps/web/vite.config.ts
  docker-compose.yml
  docs/runbooks/rag-health.md
  observability/prometheus/prometheus.yml
  pnpm-lock.yaml
  services/graphrag/package.json
  services/graphrag/src/server.ts
  services/rag/Dockerfile
  services/rag/src/main.py
  update_app_tsx.py
  update_graphrag_middleware.py
  update_graphrag_server.py
  update_navigation.py
  update_rag_main.py
  update_vite_config.py
Due: prettier --write

Port PR 18803: InfoWar SITREP System Implementation
  .github/MILESTONES/infowar-sitrep-ga.yml
  .github/scripts/check-never-log.ts
  .github/scripts/never-log-scan.ts
  .github/scripts/validate-evidence.ts
  docs/architecture/infowar-narrative-graph.md
  docs/governance/dependency-delta.md
  docs/operations/infowar-sitrep-template.md
  docs/security/infowar-analytics-guardrails.md
  docs/security/threat-model-infowar.md
  evidence/INFOWAR/metrics.json
  evidence/INFOWAR/report.json
  evidence/INFOWAR/stamp.json
  evidence/index.json
  packages/intelgraph/graphrag/package.json
  packages/intelgraph/graphrag/src/evidence/index.ts
  packages/intelgraph/graphrag/src/evidence/schemas/index.schema.json
  packages/intelgraph/graphrag/src/evidence/schemas/metrics.schema.json
  packages/intelgraph/graphrag/src/evidence/schemas/report.schema.json
  packages/intelgraph/graphrag/src/evidence/schemas/stamp.schema.json
  packages/intelgraph/graphrag/src/index.ts
  packages/intelgraph/graphrag/src/narratives/builder.ts
  packages/intelgraph/graphrag/src/narratives/index.ts
  packages/intelgraph/graphrag/src/ontology/index.ts
  packages/intelgraph/graphrag/tsconfig.json
  pnpm-lock.yaml
  required_checks.todo.md
  scripts/ci/parity_check.sh
  server/src/connectors/csv/infowar/index.ts
  server/src/connectors/rss/index.ts
  server/src/graphrag/ontology/index.ts
  server/src/routes/infowar.ts
  tests/connectors/csv/infowar/infowar-csv.spec.ts
  tests/connectors/rss/rss.spec.ts
  tests/graphrag/evidence/evidence.spec.ts
  tests/graphrag/narratives/narrative-graph.spec.ts
  tests/utils/jest-setup.cjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

InfoWar SITREP System Implementation (Port) (#19330)
  .github/MILESTONES/infowar-sitrep-ga.yml
  .github/scripts/check-never-log.ts
  .github/scripts/never-log-scan.ts
  .github/scripts/validate-evidence.ts
  docs/architecture/infowar-narrative-graph.md
  docs/governance/dependency-delta.md
  docs/operations/infowar-sitrep-template.md
  docs/security/infowar-analytics-guardrails.md
  docs/security/threat-model-infowar.md
  evidence/INFOWAR/metrics.json
  evidence/INFOWAR/report.json
  evidence/INFOWAR/stamp.json
  evidence/index.json
  packages/intelgraph/graphrag/package.json
  packages/intelgraph/graphrag/src/evidence/index.ts
  packages/intelgraph/graphrag/src/evidence/schemas/index.schema.json
  packages/intelgraph/graphrag/src/evidence/schemas/metrics.schema.json
  packages/intelgraph/graphrag/src/evidence/schemas/report.schema.json
  packages/intelgraph/graphrag/src/evidence/schemas/stamp.schema.json
  packages/intelgraph/graphrag/src/index.ts
  packages/intelgraph/graphrag/src/narratives/builder.ts
  packages/intelgraph/graphrag/src/narratives/index.ts
  packages/intelgraph/graphrag/src/ontology/index.ts
  packages/intelgraph/graphrag/tsconfig.json
  pnpm-lock.yaml
  required_checks.todo.md
  scripts/ci/parity_check.sh
  server/src/connectors/csv/infowar/index.ts
  server/src/connectors/rss/index.ts
  server/src/graphrag/ontology/index.ts
  server/src/routes/infowar.ts
  tests/connectors/csv/infowar/infowar-csv.spec.ts
  tests/connectors/rss/rss.spec.ts
  tests/graphrag/evidence/evidence.spec.ts
  tests/graphrag/narratives/narrative-graph.spec.ts
  tests/utils/jest-setup.cjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache
