Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add deterministic bellingcat mws workflow scaffold
  artifacts/toolkit/bellingcat.json
  docs/ops/runbooks/bellingcat-osint-toolkit.md
  docs/security/data-handling/bellingcat-osint-toolkit.md
  docs/standards/bellingcat-osint-toolkit.md
  examples/bellingcat_mws.yaml
  fixtures/mws_case1/expected/metrics.json
  fixtures/mws_case1/expected/provenance.json
  fixtures/mws_case1/expected/report.json
  fixtures/mws_case1/expected/stamp.json
  fixtures/mws_case1/input/archive_results.json
  fixtures/mws_case1/input/chronolocate_candidates.json
  fixtures/mws_case1/input/geolocate_matches.json
  fixtures/mws_case1/input/media/example.jpg
  fixtures/mws_case1/input/reverse_image_results.json
  scripts/monitoring/bellingcat-osint-toolkit-drift.ts
  src/evidence/evid.ts
  src/evidence/schema.json
  src/evidence/writer.ts
  src/toolkit/normalize.ts
  src/toolkit/schema.json
  src/toolkit/sources/bellingcat.ts
  src/workflows/runner.ts
  src/workflows/schema.json
  src/workflows/steps/archive.ts
  src/workflows/steps/chronolocate_shadow.ts
  src/workflows/steps/geolocate_hint.ts
  src/workflows/steps/reverse_image.ts
  tests/drift/test_drift_schema.test.ts
  tests/evidence/test_determinism.test.ts
  tests/policy/test_connectors_deny_by_default.test.ts
  tests/security/test_redaction.test.ts
Due: prettier --write

docs(roadmap): add fsociety deep subsumption governance plan
  docs/roadmap/FSOCIETY_DEEP_SUBSUMPTION_PLAN.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add Codex Security analysis and AI engineering infrastructure strategy
  docs/AI_CODING_AGENT_LANDSCAPE.md
  docs/AI_ENGINEERING_INFRASTRUCTURE_STRATEGY.md
  docs/CODEX_SECURITY_ANALYSIS.md
Due: prettier --write

fix(ci): make Python CI robust for root package (no [dev] extra, no src/)
  .github/workflows/_reusable-python.yml
  .github/workflows/ci-python.yml
Due: prettier --write

fix(ci): make Python CI robust for packages without [dev] extra or src/ layout
  .github/workflows/_reusable-python.yml
  .github/workflows/ci-python.yml
Due: prettier --write

chore: harden typecheck preflight and dependency pins
  apps/intelgraph-api/package.json
  package.json
  tools/typecheck/validate-tsconfig-types.mjs
Due: prettier --write

docs: add repository archaeology engine design brief
  docs/architecture/repository-archaeology-engine.md
  docs/roadmap/STATUS.json
Due: prettier --write

Create README.md.github: add summit control plane scaffold
  .github/summit/README.md
Due: prettier --write

Create routeEvent.tsfeat(.github): add routeEvent stub
  .github/summit/event-router/routeEvent.ts
Due: none

Create artifacts.ts
  .github/summit/lib/artifacts.ts
Due: none

Create context.tsCreate context.ts
  .github/summit/lib/context.ts
Due: none

Create triageAgent.tsCreate triageAgent.ts
  .github/summit/agents/triageAgent.ts
Due: none

Create readinessAgent.tsCreate readinessAgent.ts
  .github/summit/agents/readinessAgent.ts
Due: none

Create architectureDriftAgent.ts
  .github/summit/agents/architectureDriftAgent.ts
Due: none

Create securityPostureAgent.ts
  .github/summit/agents/securityPostureAgent.ts
Due: none

Create observabilityRollupAgent.ts
  .github/summit/agents/observabilityRollupAgent.ts
Due: none

Update routeEvent.ts
  .github/summit/event-router/routeEvent.ts
Due: none

Create engineering-health.jsonCreate engineering-health.json
  .github/summit/dashboards/engineering-health.json
Due: prettier --write

Create security-posture.json
  .github/summit/dashboards/security-posture.json
Due: prettier --write

Create merge-readiness.json
  .github/summit/dashboards/merge-readiness.json
Due: prettier --write

Create readiness-policy.json
  .github/summit/policies/readiness-policy.json
Due: prettier --write

feat: add PR triage workspace with queue, diff preview, risk checklist, and branch convergence
  .github/workflows/ci-pr-triage.yml
  apps/web/src/App.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/features/pr-triage/PRTriagePage.tsx
  apps/web/src/features/pr-triage/__tests__/PRTriagePage.test.tsx
  apps/web/src/features/pr-triage/__tests__/usePRTriageAdapter.test.ts
  apps/web/src/features/pr-triage/types.ts
  apps/web/src/features/pr-triage/usePRTriageAdapter.ts
Due: prettier --write

feat(summit-ui): add Summit Code UI – browser tool for repo-scale workflows
  .github/workflows/summit-ui-ci.yml
  apps/summit-ui/.eslintrc.cjs
  apps/summit-ui/.gitignore
  apps/summit-ui/index.html
  apps/summit-ui/ops/README.md
  apps/summit-ui/package.json
  apps/summit-ui/pnpm-lock.yaml
  apps/summit-ui/server/config.ts
  apps/summit-ui/server/index.ts
  apps/summit-ui/server/routes/artifacts.ts
  apps/summit-ui/server/routes/dashboard.ts
  apps/summit-ui/server/routes/prompts.ts
  apps/summit-ui/server/routes/release.ts
  apps/summit-ui/server/utils/git.ts
  apps/summit-ui/server/utils/metrics.ts
  apps/summit-ui/src/App.tsx
  apps/summit-ui/src/api.ts
  apps/summit-ui/src/components/Nav.tsx
  apps/summit-ui/src/components/Pagination.tsx
  apps/summit-ui/src/components/StatusBadge.tsx
  apps/summit-ui/src/components/TopFindings.tsx
  apps/summit-ui/src/main.tsx
  apps/summit-ui/src/pages/ArtifactBrowser.tsx
  apps/summit-ui/src/pages/Dashboard.tsx
  apps/summit-ui/src/pages/GoNoGo.tsx
  apps/summit-ui/src/pages/PromptSearch.tsx
  apps/summit-ui/src/styles/app.css
  apps/summit-ui/src/types.ts
  apps/summit-ui/test/server.test.ts
  apps/summit-ui/tsconfig.build.json
  apps/summit-ui/tsconfig.json
  apps/summit-ui/vite.config.ts
  apps/summit-ui/vitest.config.ts
Due: prettier --write

test: validate Evolution Intelligence PR classification workflow
  DEPLOYMENT_STATUS.md
  EVOLUTION_VALIDATION.md
Due: prettier --write

chore(ga): finalize GA readiness report and workspace repairs (#19712)
  apps/gateway/package.json
  artifacts/audit_report_evidence.json
  docs/architecture/FINAL_GA_READINESS_REPORT.md
  docs/architecture/diagrams/ga_readiness_summary.md
  server/package.json
  services/sandbox-gateway/package.json
Due: prettier --write

docs(architecture): add Summit Technical Architecture Map (#19687)
  docs/architecture/summit-resilience-platform.md
Due: prettier --write

docs(.github): add summit control plane scaffold (#19654)
  .github/summit/README.md
  .github/summit/agents/architectureDriftAgent.ts
  .github/summit/agents/observabilityRollupAgent.ts
  .github/summit/agents/readinessAgent.ts
  .github/summit/agents/securityPostureAgent.ts
  .github/summit/agents/triageAgent.ts
  .github/summit/dashboards/engineering-health.json
  .github/summit/dashboards/merge-readiness.json
  .github/summit/dashboards/security-posture.json
  .github/summit/event-router/routeEvent.ts
  .github/summit/lib/artifacts.ts
  .github/summit/lib/context.ts
  .github/summit/policies/readiness-policy.json
Due: prettier --write

docs(architecture): Add Software Evolution Ledger documentation (#19676)
  docs/architecture/software-evolution-ledger.md
Due: prettier --write

feat: activate Evolution Intelligence PR classification workflows
  .github/workflows/evolution-pr-events.yml
  .github/workflows/pr-classification.yml
  INTEGRATION_MAPPING.md
Due: prettier --write

docs: add MOOSE-Star mapped architecture diagram (#19739)
  docs/architecture/moose-star-autonomous-research.md
Due: prettier --write

docs: add repository civilization simulation architecture document (#19729)
  docs/architecture/repository-civilization-simulation.md
Due: prettier --write

feat(docs): draft operational spine and intelgraph schema (#19733)
  .github/workflows/ga-slice-org-mesh-twin.yml
  docs/architecture/spine.md
  docs/ops/runbooks/governance-watcher.md
  docs/security/data-handling/intelgraph-war-room.md
  docs/standards/intelgraph-core-schema-v1.md
  intelgraph/schema/core-v1.json
Due: prettier --write

feat: Implement AI Infrastructure Early Warning Layer (#19714)
  packages/ai-infra-stack/__tests__/early-warning.test.ts
  packages/ai-infra-stack/src/early-warning/config.ts
  packages/ai-infra-stack/src/early-warning/service.ts
Due: eslint --fix --max-warnings=0 --cache

feat: implement PR artifact preservation (#19715)
  .github/workflows/pr-artifact-preserver.yml
  artifacts/pr-artifacts.json
  scripts/pr-artifact-archive.ts
Due: prettier --write

feat: implement patch frontiers system (#19711)
  repoos/frontiers/frontier-manager.test.ts
  repoos/frontiers/frontier-manager.ts
  repoos/frontiers/frontier-state.json
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
