Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(agents): Implement complete agentic automation framework (AGENT-1 through AGENT-16)
  db/migrations/017_agent_framework.sql
  policy/agent/agent_policy.rego
  services/agent-gateway/.env.example
  services/agent-gateway/README.md
  services/agent-gateway/docs/AGENT_ONBOARDING.md
  services/agent-gateway/docs/SUMMIT_INTEGRATION.md
  services/agent-gateway/examples/maintenance-agent.ts
  services/agent-gateway/jest.config.js
  services/agent-gateway/package.json
  services/agent-gateway/src/AgentGateway.ts
  services/agent-gateway/src/AgentService.ts
  services/agent-gateway/src/ApprovalService.ts
  services/agent-gateway/src/MonitoringService.ts
  services/agent-gateway/src/ObservabilityService.ts
  services/agent-gateway/src/PolicyEnforcer.ts
  services/agent-gateway/src/QuotaManager.ts
  services/agent-gateway/src/__tests__/safety-scenarios.test.ts
  services/agent-gateway/src/server.ts
  services/agent-gateway/src/types.ts
  services/agent-gateway/tsconfig.json
Due: prettier --write

docs: add comprehensive documentation & onboarding debt plan
  docs/DOCUMENTATION_DEBT_SUMMARY.md
  docs/templates/4_WEEK_DOCUMENTATION_PLAN.md
  docs/templates/ARCHITECTURE_DIAGRAM_GUIDE.md
  docs/templates/ON_CALL_GUIDE_TEMPLATE.md
  docs/templates/SERVICE_CATALOG_TEMPLATE.md
  docs/templates/TROUBLESHOOTING_GUIDE_TEMPLATE.md
Due: prettier --write

feat: implement comprehensive maintainability metrics system
  .eslintrc.complexity.cjs
  .github/workflows/maintainability-check.yml
  MAINTAINABILITY.md
  docs/MAINTAINABILITY_IMPLEMENTATION.md
  package.json
  scripts/maintainability-report.js
  sonar-project.properties
Due: prettier --write

feat: implement comprehensive espionage and foreign intelligence operations platform
  docs/espionage/GUIDE.md
  docs/espionage/OPERATIONS_MANUAL.md
  packages/agent-identification/package.json
  packages/agent-identification/src/agent-analyzer.ts
  packages/agent-identification/src/index.ts
  packages/agent-identification/tsconfig.json
  packages/counterintel-ops/package.json
  packages/counterintel-ops/src/ci-manager.ts
  packages/counterintel-ops/src/index.ts
  packages/counterintel-ops/tsconfig.json
  packages/covert-operations/package.json
  packages/covert-operations/src/index.ts
  packages/covert-operations/src/operations-detector.ts
  packages/covert-operations/tsconfig.json
  packages/espionage-tracking/package.json
  packages/espionage-tracking/src/index.ts
  packages/espionage-tracking/src/types.ts
  packages/espionage-tracking/tsconfig.json
  packages/foreign-intelligence/package.json
  packages/foreign-intelligence/src/agency-tracker.ts
  packages/foreign-intelligence/src/index.ts
  packages/foreign-intelligence/tsconfig.json
  packages/technical-intelligence/package.json
  packages/technical-intelligence/src/index.ts
  packages/technical-intelligence/src/techint-analyzer.ts
  packages/technical-intelligence/tsconfig.json
  services/espionage-service/package.json
  services/espionage-service/src/index.ts
  services/espionage-service/src/routes/agents.ts
  services/espionage-service/src/routes/analytics.ts
  services/espionage-service/src/routes/counterintel.ts
  services/espionage-service/src/routes/operations.ts
  services/espionage-service/tsconfig.json
  services/foreign-intel-service/package.json
  services/foreign-intel-service/src/index.ts
  services/foreign-intel-service/src/routes/agencies.ts
  services/foreign-intel-service/src/routes/capabilities.ts
  services/foreign-intel-service/src/routes/cooperation.ts
  services/foreign-intel-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add espionage architecture guide from codebase exploration
  .tsbuildinfo
  ESPIONAGE_ARCHITECTURE_GUIDE.md
Due: prettier --write

feat: implement comprehensive MLOps platform with full model lifecycle management
  docs/mlops/BEST_PRACTICES.md
  docs/mlops/GUIDE.md
  packages/mlops-platform/package.json
  packages/mlops-platform/src/core/FeatureStore.ts
  packages/mlops-platform/src/core/ModelRegistry.ts
  packages/mlops-platform/src/core/TrainingOrchestrator.ts
  packages/mlops-platform/src/index.ts
  packages/mlops-platform/src/types/index.ts
  packages/mlops-platform/tsconfig.json
  packages/model-explainability/package.json
  packages/model-explainability/src/ExplainabilityEngine.ts
  packages/model-explainability/src/index.ts
  packages/model-explainability/tsconfig.json
  packages/model-monitoring/package.json
  packages/model-monitoring/src/DriftDetector.ts
  packages/model-monitoring/src/index.ts
  packages/model-monitoring/tsconfig.json
  packages/model-serving/package.json
  packages/model-serving/src/ModelServer.ts
  packages/model-serving/src/index.ts
  packages/model-serving/tsconfig.json
  packages/training-orchestration/package.json
  packages/training-orchestration/src/AutoMLEngine.ts
  packages/training-orchestration/src/index.ts
  packages/training-orchestration/tsconfig.json
  services/mlops-service/package.json
  services/mlops-service/src/server.ts
  services/mlops-service/tsconfig.json
  services/model-registry-service/package.json
  services/model-registry-service/src/server.ts
  services/model-registry-service/tsconfig.json
  tsconfig.build.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update TypeScript build cache
  .tsbuildinfo
Due: none

chore: update build artifacts after MLOps platform implementation
  .tsbuildinfo
  apps/analytics-engine/dist/config.d.ts
  apps/analytics-engine/dist/middleware/auth.d.ts
  apps/analytics-engine/dist/utils/logger.d.ts
  apps/graph-analytics/dist/config.d.ts
  apps/graph-analytics/dist/middleware/auth.d.ts
  apps/graph-analytics/dist/utils/logger.d.ts
  apps/ml-engine/dist/config.d.ts
  apps/ml-engine/dist/utils/logger.d.ts
  apps/search-engine/dist/middleware/auth.d.ts
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  client/tsconfig.tsbuildinfo
Due: none

feat: add Intelligence Operations Command & Control Platform
  docs/operations/C2_PROCEDURES.md
  docs/operations/GUIDE.md
  packages/collection-coordination/package.json
  packages/collection-coordination/src/index.ts
  packages/collection-coordination/tsconfig.json
  packages/decision-support/package.json
  packages/decision-support/src/index.ts
  packages/decision-support/tsconfig.json
  packages/multi-int-fusion/package.json
  packages/multi-int-fusion/src/index.ts
  packages/multi-int-fusion/tsconfig.json
  packages/operations-center/package.json
  packages/operations-center/src/index.ts
  packages/operations-center/tsconfig.json
  packages/operations-management/package.json
  packages/operations-management/src/index.ts
  packages/operations-management/tsconfig.json
  packages/targeting-support/package.json
  packages/targeting-support/src/index.ts
  packages/targeting-support/tsconfig.json
  services/mission-coordination-service/package.json
  services/mission-coordination-service/src/index.js
  services/operations-c2-service/package.json
  services/operations-c2-service/src/index.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(deep-learning): Add DL training service implementation
  services/dl-training-service/package.json
  services/dl-training-service/src/index.ts
  services/dl-training-service/tsconfig.json
Due: prettier --write

feat: implement comprehensive real-time stream processing and event intelligence platform
  docs/streaming/CEP_PATTERNS.md
  docs/streaming/DEPLOYMENT.md
  docs/streaming/GUIDE.md
  packages/cep-engine/package.json
  packages/cep-engine/src/index.ts
  packages/cep-engine/tsconfig.json
  packages/event-processing/package.json
  packages/event-processing/src/cep/CEPEngine.ts
  packages/event-processing/src/enrichment/EventEnricher.ts
  packages/event-processing/src/filtering/EventFilter.ts
  packages/event-processing/src/index.ts
  packages/event-processing/src/transformation/EventTransformer.ts
  packages/event-processing/src/types.ts
  packages/event-processing/tsconfig.json
  packages/real-time-analytics/package.json
  packages/real-time-analytics/src/analytics/StreamAnalytics.ts
  packages/real-time-analytics/src/index.ts
  packages/real-time-analytics/src/types.ts
  packages/real-time-analytics/tsconfig.json
  packages/stream-ingestion/package.json
  packages/stream-ingestion/src/index.ts
  packages/stream-ingestion/tsconfig.json
  packages/stream-processing/package.json
  packages/stream-processing/src/broker/MessageBroker.ts
  packages/stream-processing/src/broker/TopicManager.ts
  packages/stream-processing/src/index.ts
  packages/stream-processing/src/partition/PartitionManager.ts
  packages/stream-processing/src/protocol/StreamConsumer.ts
  packages/stream-processing/src/protocol/StreamProducer.ts
  packages/stream-processing/src/replication/ReplicationManager.ts
  packages/stream-processing/src/storage/StorageEngine.ts
  packages/stream-processing/src/types.ts
  packages/stream-processing/tsconfig.json
  services/event-correlation-service/package.json
  services/event-correlation-service/src/server.ts
  services/event-correlation-service/tsconfig.json
  services/streaming-service/package.json
  services/streaming-service/src/server.ts
  services/streaming-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive knowledge graph and entity resolution platform
  docs/knowledge-graph/GUIDE.md
  docs/knowledge-graph/ONTOLOGY.md
  docs/knowledge-graph/QUERIES.md
  docs/knowledge-graph/README.md
  packages/entity-resolution/README.md
  packages/entity-resolution/package.json
  packages/entity-resolution/src/deduplication/EntityDeduplicator.ts
  packages/entity-resolution/src/extraction/EntityExtractor.ts
  packages/entity-resolution/src/index.ts
  packages/entity-resolution/src/matching/EntityMatcher.ts
  packages/entity-resolution/src/types.ts
  packages/entity-resolution/tsconfig.json
  packages/graph-analytics/package.json
  packages/graph-analytics/src/index.ts
  packages/graph-analytics/tsconfig.json
  packages/knowledge-graph/README.md
  packages/knowledge-graph/package.json
  packages/knowledge-graph/src/KnowledgeGraph.ts
  packages/knowledge-graph/src/database/GraphDatabase.ts
  packages/knowledge-graph/src/index.ts
  packages/knowledge-graph/src/storage/TripleStore.ts
  packages/knowledge-graph/src/types.ts
  packages/knowledge-graph/src/utils/Logger.ts
  packages/knowledge-graph/src/versioning/VersionManager.ts
  packages/knowledge-graph/tsconfig.json
  packages/ontology-management/package.json
  packages/ontology-management/src/index.ts
  packages/ontology-management/tsconfig.json
  packages/semantic-reasoning/package.json
  packages/semantic-reasoning/src/index.ts
  packages/semantic-reasoning/tsconfig.json
  services/entity-resolution-service/package.json
  services/entity-resolution-service/src/index.ts
  services/entity-resolution-service/tsconfig.json
  services/kg-service/package.json
  services/kg-service/src/index.ts
  services/kg-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update TypeScript build info
  .tsbuildinfo
Due: none

fix: rerun neo4j migrations after recovery (#11846)
  server/src/config/database.ts
  server/src/db/neo4j.ts
Due: none

feat: implement agent archetypes and competitive gap analysis
  docs/architecture/agent-archetypes.md
  docs/competitive-analysis/gap-assessment.md
  docs/gtm/case-study-summit-internal.md
  docs/gtm/competitive-positioning.md
  docs/gtm/pricing.md
  docs/gtm/reference-architecture.md
  docs/gtm/trust-center.md
  policies/agent-archetypes.rego
  src/agents/archetypes/README.md
  src/agents/archetypes/base/AgentRegistry.ts
  src/agents/archetypes/base/BaseAgentArchetype.ts
  src/agents/archetypes/base/index.ts
  src/agents/archetypes/base/types.ts
  src/agents/archetypes/chief-of-staff/ChiefOfStaffAgent.ts
  src/agents/archetypes/coo/COOAgent.ts
  src/agents/archetypes/index.ts
  src/agents/archetypes/revops/RevOpsAgent.ts
Due: prettier --write

feat(time-series): Build comprehensive time series analytics and forecasting platform
  docs/time-series/ANOMALIES.md
  docs/time-series/FORECASTING.md
  docs/time-series/GUIDE.md
  packages/anomaly-detection/package.json
  packages/anomaly-detection/src/detectors/ChangePointDetector.ts
  packages/anomaly-detection/src/detectors/StatisticalDetector.ts
  packages/anomaly-detection/src/index.ts
  packages/anomaly-detection/src/models/AnomalyModels.ts
  packages/anomaly-detection/src/realtime/StreamingAnomalyDetector.ts
  packages/anomaly-detection/tsconfig.json
  packages/forecasting/package.json
  packages/forecasting/src/algorithms/ARIMA.ts
  packages/forecasting/src/algorithms/ExponentialSmoothing.ts
  packages/forecasting/src/ensemble/EnsembleForecaster.ts
  packages/forecasting/src/evaluation/Backtesting.ts
  packages/forecasting/src/index.ts
  packages/forecasting/src/models/ForecastModels.ts
  packages/forecasting/tsconfig.json
  packages/seasonal-decomposition/package.json
  packages/seasonal-decomposition/src/index.ts
  packages/seasonal-decomposition/tsconfig.json
  packages/time-series/package.json
  packages/time-series/src/compression/CompressionManager.ts
  packages/time-series/src/index.ts
  packages/time-series/src/models/TimeSeries.ts
  packages/time-series/src/query/QueryBuilder.ts
  packages/time-series/src/retention/RetentionManager.ts
  packages/time-series/src/storage/TimescaleStorage.ts
  packages/time-series/tsconfig.json
  packages/ts-feature-engineering/package.json
  packages/ts-feature-engineering/src/index.ts
  packages/ts-feature-engineering/tsconfig.json
  services/forecasting-service/package.json
  services/forecasting-service/src/index.ts
  services/forecasting-service/tsconfig.json
  services/time-series-service/package.json
  services/time-series-service/src/index.ts
  services/time-series-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(graph-db): implement comprehensive graph database and relationship intelligence platform
  .tsbuildinfo
  docs/graph-db/ALGORITHMS.md
  docs/graph-db/GUIDE.md
  docs/graph-db/QUERY_LANGUAGE.md
  packages/graph-algorithms/package.json
  packages/graph-algorithms/src/centrality/CentralityMeasures.ts
  packages/graph-algorithms/src/clustering/GraphClustering.ts
  packages/graph-algorithms/src/community/CommunityDetection.ts
  packages/graph-algorithms/src/index.ts
  packages/graph-algorithms/src/pathfinding/ShortestPath.ts
  packages/graph-algorithms/tsconfig.json
  packages/graph-database/package.json
  packages/graph-database/src/index.ts
  packages/graph-database/src/storage/GraphStorage.ts
  packages/graph-database/src/types.ts
  packages/graph-database/tsconfig.json
  packages/graph-query/package.json
  packages/graph-query/src/QueryEngine.ts
  packages/graph-query/src/index.ts
  packages/graph-query/tsconfig.json
  packages/link-prediction/package.json
  packages/link-prediction/src/LinkPredictor.ts
  packages/link-prediction/src/index.ts
  packages/link-prediction/tsconfig.json
  packages/relationship-mining/package.json
  packages/relationship-mining/src/PatternMining.ts
  packages/relationship-mining/src/index.ts
  packages/relationship-mining/tsconfig.json
  services/graph-db-service/package.json
  services/graph-db-service/src/server.ts
  services/graph-db-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: capture Prometheus metrics in observability stubs (#11845)
  ops/observability.py
  tests/ops/test_ops.py
Due: none

fix(authz-gateway): harden opa decision parsing (#11844)
  services/authz-gateway/src/policy.ts
  services/authz-gateway/tests/policy.test.ts
Due: none

feat: implement advanced data visualization and analytics dashboard platform
  docs/visualization/BEST_PRACTICES.md
  docs/visualization/CUSTOM_VIZ.md
  docs/visualization/GUIDE.md
  packages/chart-components/package.json
  packages/chart-components/src/charts/BarChart.tsx
  packages/chart-components/src/charts/LineChart.tsx
  packages/chart-components/src/index.ts
  packages/chart-components/src/types.ts
  packages/chart-components/src/utils/axes.ts
  packages/chart-components/src/utils/index.ts
  packages/chart-components/src/utils/scales.ts
  packages/chart-components/src/utils/tooltip.ts
  packages/chart-components/tsconfig.json
  packages/dashboard-builder/package.json
  packages/dashboard-builder/src/components/DashboardCanvas.tsx
  packages/dashboard-builder/src/components/WidgetRenderer.tsx
  packages/dashboard-builder/src/index.ts
  packages/dashboard-builder/src/types.ts
  packages/dashboard-builder/tsconfig.json
  packages/geospatial-viz/package.json
  packages/geospatial-viz/tsconfig.json
  packages/network-viz/package.json
  packages/network-viz/tsconfig.json
  packages/statistical-viz/package.json
  packages/statistical-viz/tsconfig.json
  packages/timeseries-viz/package.json
  packages/timeseries-viz/tsconfig.json
  packages/visualization-sdk/package.json
  packages/visualization-sdk/tsconfig.json
  packages/visualization/package.json
  packages/visualization/tsconfig.json
  services/dashboard-service/package.json
  services/dashboard-service/src/db/schema.sql
  services/dashboard-service/src/graphql/schema.graphql
  services/dashboard-service/src/index.ts
  services/dashboard-service/tsconfig.json
  services/visualization-service/package.json
  services/visualization-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(supply-chain): add revolutionary next-generation capabilities
  docs/supply-chain/NEXT_GEN_CAPABILITIES.md
  packages/quantum-supply-chain/package.json
  packages/quantum-supply-chain/src/QuantumOptimizer.ts
  packages/quantum-supply-chain/src/index.ts
  packages/quantum-supply-chain/src/types.ts
  packages/quantum-supply-chain/tsconfig.json
  packages/supply-chain-ai/package.json
  packages/supply-chain-ai/src/AIIntelligenceEngine.ts
  packages/supply-chain-ai/src/index.ts
  packages/supply-chain-ai/src/types.ts
  packages/supply-chain-ai/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Docs: refresh onboarding and runbooks (#11839)
  RUNBOOKS/INDEX.md
  RUNBOOKS/dev-bootstrap.md
  RUNBOOKS/schema-migration-playbook.md
  docs/ONBOARDING.md
  docs/README.md
Due: prettier --write

feat: extend multimodal fusion intelligence (#11843)
  server/src/graphql/multimodalResolvers.ts
  server/src/graphql/multimodalSchema.ts
  server/src/services/AIExtractionService.js
  server/src/services/MultimodalDataService.js
  server/src/services/MultimodalFusionLayer.js
  server/tests/services/MultimodalFusionLayer.test.ts
Due: none

Improve developer experience in summit monorepo (#11852)
  Makefile
  README.md
  docs/COMMAND_REFERENCE.md
  docs/ERGONOMICS_IMPROVEMENTS.md
  docs/ONBOARDING.md
  scripts/wait-for-stack.sh
  server/src/config.ts
  server/src/routes/health.ts
Due: prettier --write

feat: add collaborative investigation realtime workflows (#11842)
  server/src/realtime/graph-crdt.ts
  server/src/realtime/investigationAccess.ts
  server/src/realtime/investigationState.ts
  server/src/realtime/socket.ts
  server/tests/socket-auth-rbac.test.ts
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
