Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Add release train evidence workflow and metadata schema (#13718)
  .github/workflows/release-train-evidence.yml
  docs/release/release-metadata.schema.json
  docs/release/release-metadata.schema.yaml
Due: prettier --write

Add agent budget manifests and risk gating checks (#13717)
  agents/audit/.gitignore
  agents/audit/logStub.js
  agents/audit/logs/.gitkeep
  agents/budgets/codex.budget.json
  agents/budgets/executor.budget.json
  agents/budgets/governance.budget.json
  agents/budgets/jules.budget.json
  agents/budgets/multimodal.budget.json
  agents/budgets/orchestrator.budget.json
  agents/budgets/predictive.budget.json
  agents/budgets/psyops.budget.json
  agents/budgets/reviewer.budget.json
  schemas/agent-budget-manifest.schema.json
  scripts/enforce-pr-risk.js
  scripts/validate-agent-budgets.js
Due: prettier --write

Add GA architecture surface and readiness checklist (#13715)
  docs/ga/ga-checklist.md
Due: prettier --write

fix(rbac): honor RBAC_ENABLED and disable authz in mock CI surface (#13710)
  docs/security/rbac.md
  server/src/conductor/auth/__tests__/rbac-enabled-toggle.test.ts
Due: prettier --write

chore: harden server security middleware (#13701)
  .github/workflows/security-quickscan.yml
  server/src/middleware/__tests__/secure-session.test.ts
  server/src/middleware/secure-session.ts
  server/src/security/incident-response.ts
Due: prettier --write

chore: codify agent governance controls (#13694)
  .github/workflows/agent-audit-check.yml
  .github/workflows/agent-governance.yml
  .github/workflows/require-labels.yml
  docs/audit/template.md
Due: prettier --write

Add safety toggles for price-aware routing and capacity futures (#13693)
  server/src/conductor/api/__tests__/operations-routes.test.ts
  server/src/conductor/api/operations-routes.ts
  server/src/conductor/config/__tests__/feature-flags.test.ts
  server/src/conductor/config/feature-flags.ts
  server/src/conductor/scheduling/__tests__/selector.test.ts
Due: none

Restore premium routing build with fail-open defaults (#13689)
  server/scripts/run-premium-tests.js
  server/src/conductor/premium-routing/__tests__/premium-model-router.test.ts
  server/types/shims.d.ts
Due: none

ci(db): add postgres migration plan and shadow verify gates (#13687)
  docs/ci/db-migration-gates.md
Due: prettier --write

feat: propagate price-aware pool selection end-to-end (#13682)
  db/migrations/V19__pool_selection_audit.sql
  server/src/conductor/scheduling/__tests__/pool-selection-audit.test.ts
  server/src/conductor/scheduling/__tests__/queue-worker.test.ts
  server/src/conductor/scheduling/__tests__/scheduler-api.test.ts
  server/src/conductor/scheduling/pool-selection-audit.ts
Due: none

Mock capacity futures with API and reserved-first pool selection (#13681)
  server/db/managed-migrations/202512020001_capacity_reservations.down.sql
  server/db/managed-migrations/202512020001_capacity_reservations.up.sql
  server/src/conductor/api/capacity-routes.ts
  server/src/conductor/scheduling/capacity-futures.ts
  server/tests/conductor/capacity-futures.test.ts
Due: none

Playwright stabilization and P0 journey coverage (#13671)
  .github/workflows/playwright-osint-nightly.yml
  e2e/osint/journey-case.spec.ts
Due: prettier --write

Build Organized Crime Intelligence Platform (#12104)
  docs/organized-crime/GUIDE.md
  docs/organized-crime/INVESTIGATION_SUPPORT.md
  docs/organized-crime/README.md
  packages/corruption-tracking/package.json
  packages/corruption-tracking/src/index.ts
  packages/corruption-tracking/src/models/Corruption.ts
  packages/corruption-tracking/tsconfig.json
  packages/cybercrime-monitor/package.json
  packages/cybercrime-monitor/src/index.ts
  packages/cybercrime-monitor/src/models/Cybercrime.ts
  packages/cybercrime-monitor/tsconfig.json
  packages/drug-intelligence/package.json
  packages/drug-intelligence/src/index.ts
  packages/drug-intelligence/src/models/DrugTrafficking.ts
  packages/drug-intelligence/tsconfig.json
  packages/financial-crime/package.json
  packages/financial-crime/src/index.ts
  packages/financial-crime/src/models/FinancialCrime.ts
  packages/financial-crime/tsconfig.json
  packages/organized-crime-tracker/package.json
  packages/organized-crime-tracker/src/index.ts
  packages/organized-crime-tracker/src/models/CriminalOrganization.ts
  packages/organized-crime-tracker/src/services/OrganizationService.ts
  packages/organized-crime-tracker/src/utils/ComplianceValidators.ts
  packages/organized-crime-tracker/tsconfig.json
  packages/trafficking-networks/package.json
  packages/trafficking-networks/src/index.ts
  packages/trafficking-networks/src/models/TraffickingNetwork.ts
  packages/trafficking-networks/tsconfig.json
  services/law-enforcement-service/src/models/LawEnforcementOperations.ts
  services/organized-crime-service/src/middleware/auditMiddleware.ts
  services/organized-crime-service/src/middleware/authMiddleware.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Optimize Summit deployment and infrastructure (#12096)
  .github/workflows/optimized-deployment.yml
  docs/DEPLOYMENT_OPTIMIZATION_SUMMARY.md
  docs/INFRASTRUCTURE.md
  helm/summit/templates/_helpers.tpl
  k8s/deployments/blue-green-strategy.yaml
  k8s/deployments/canary-strategy.yaml
  scripts/automated-rollback-system.sh
  scripts/build-optimized-docker.sh
Due: prettier --write

fix: repair TypeScript errors after PR merge consolidation
  client/src/hooks/usePerfMarkers.tsx
  server/src/middleware/input-sanitization-enhanced.ts
Due: none

chore(monorepo): resolve TypeScript typecheck errors in client and server
  .claude/settings.local.json
  .github/pull_request_template.md
  client/package.json
  client/tsconfig.strict.json
  client/tsconfig.tsbuildinfo
  docs/roadmap.md
  finops/allocation.js
  finops/allocation.js.map
  packages/policy-audit/src/types.js
  packages/policy-audit/src/types.js.map
  rag/index/rag.duckdb
  runbooks/ci.md
  server/dist/config.js
  server/dist/utils/logger.js
  server/src/routes/geoint.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: harden authz gateway security
  pnpm-lock.yaml
  services/authz-gateway/package.json
  services/authz-gateway/src/index.ts
  services/authz-gateway/tests/security.test.ts
Due: prettier --write

chore(client): add jest-dom matcher typings
  client/types/@testing-library/jest-dom/index.d.ts
Due: none

chore: add supply chain provenance gates
  .ci/policies/deps.rego
  .ci/scripts/attest/attest_slsa.sh
  .ci/scripts/sbom/diff_budget.py
  .ci/scripts/sbom/generate_syft.sh
  .ci/scripts/sbom/scan_grype.sh
  .ci/scripts/sbom/scan_osv.sh
  .ci/scripts/signing/cosign_sign_verify.sh
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release-ga.yml
  .github/workflows/supply-chain-gates.yml
  .security/deps/policy.yaml
  RUNBOOKS/supply-chain.md
  observability/grafana/dashboards/vuln-trend.json
Due: prettier --write

chore: tighten security gating and deps
  .github/scripts/trivy-to-cve-budget.js
  .github/workflows/nightly-cve-scan.yml
  .github/workflows/security-scan.yml
  ops/security/cve_budget/config.yaml
  pnpm-lock.yaml
  services/authz-gateway/package.json
Due: prettier --write

chore: finalize v2.0.0 migration closeout
  .ci/scripts/validate-whitepaper.js
  .github/workflows/release-train.yml
  CHANGELOG-v2.0.0.md
  docs/MIGRATION-v0.1-to-v2.0.md
  docs/ops/MIGRATION-COMMS-v0.1-to-v2.0.md
  docs/whitepaper/summit-architecture.md
  scripts/migration/upgrade-v0.1-to-v2.0.sh
Due: prettier --write

docs: add immediate v2.0 hardening priorities
  docs/roadmap.md
Due: prettier --write

chore: repair ci workflows
  .github/workflows/ci-golden-path.yml
  .github/workflows/ci-lint-and-unit.yml
Due: prettier --write

feat: enhance observability dashboards and runbooks
  RUNBOOKS/CI.md
  RUNBOOKS/golden-path-observability.md
  ops/alerts/golden-path-alerts.yml
  ops/observability/grafana/dashboards/golden-path-service-health.json
Due: prettier --write

chore: harden meta-router governance coverage
  docs/BLACK_PROJECTS.md
  prompts/__tests__/prompt-integrity.test.ts
  prompts/capability-matrix.md
  prompts/meta-router.md
Due: prettier --write

docs: expand onboarding and api guidance
  docs/API_DOCUMENTATION.md
  docs/ONBOARDING.md
Due: prettier --write

ci: fix workflow definitions
  .github/workflows/ci-golden-path.yml
  .github/workflows/ci-lint-and-unit.yml
Due: prettier --write

chore: add security gates and graphql hardening
  .github/workflows/security-gate.yml
  SECURITY/risk-change-log.md
  SECURITY/security-patch-release-playbook.md
  provenance/sample-provenance.intoto.jsonl
  server/src/middleware/__tests__/graphql-hardening-limits.test.ts
Due: prettier --write

feat: harden observability and slo coverage
  RUNBOOKS/observability.md
  docs/observability/prometheus-scrape-tuning.md
  docs/slo.md
  ga-graphai/packages/meta-orchestrator/src/metaContextOrchestrator.ts
  ga-graphai/packages/meta-orchestrator/src/telemetry.ts
  ops/grafana/dashboards/intelgraph-overview.json
  ops/observability/monitoring-stack/alertmanager.yml
  ops/observability/prometheus.yml
  ops/prometheus/observability-slo-rules.yaml
  packages/narrative-engine/package.json
  packages/narrative-engine/src/api/routes.ts
  packages/narrative-engine/src/core/SimulationEngine.ts
  packages/narrative-engine/src/telemetry.ts
  scripts/wait-for-stack.sh
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add bug bash process and reporting tooling
  docs/process/bug-bash-reports/README.md
  docs/process/bug-bash.md
  ops/bug-bash/report.ts
Due: prettier --write

chore: add projects automation and guide
  .github/workflows/projects-sla.yml
  docs/process/projects-dashboard.md
Due: prettier --write

chore: capture dependency scan blockers
  tech-debt/code-smells.md
  tech-debt/outdated.csv
Due: prettier --write

chore: add issue audit report
  ops/issue-audit/audit_issues.py
  ops/issue-audit/high-impact.md
Due: prettier --write

docs: add mvp3 ga epics and tasks
  MVP3_GA_Epics_Tasks.md
Due: prettier --write

feat: enhance meta orchestrator governance and routing
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/meta-orchestrator/PLUGINS.md
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/tests/meta-orchestrator.test.ts
  ga-graphai/packages/meta-orchestrator/tests/promptIntegrity.test.ts
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
