Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add policy-constrained distillation framework
  ga-graphai/packages/pckd/AGENTS.md
  ga-graphai/packages/pckd/README.md
  ga-graphai/packages/pckd/pckd/__init__.py
  ga-graphai/packages/pckd/pckd/attestations.py
  ga-graphai/packages/pckd/pckd/baselines.py
  ga-graphai/packages/pckd/pckd/compliance.py
  ga-graphai/packages/pckd/pckd/data.py
  ga-graphai/packages/pckd/pckd/distillation.py
  ga-graphai/packages/pckd/pckd/filters.py
  ga-graphai/packages/pckd/pckd/models.py
  ga-graphai/packages/pckd/pyproject.toml
  ga-graphai/packages/pckd/tests/test_pipeline.py
Due: prettier --write

feat: Integrate policy fuzzer into workstream starter pack documentation and CI
  .github/workflows/ci.yml
  backlog/backlog.json
  docs/conductor-summary.md
  docs/raci.md
Due: prettier --write

feat: add scpe supply chain gate
  .github/workflows/scpe.yml
  tools/scpe/README.md
  tools/scpe/examples/dataset.csv
  tools/scpe/examples/keys/scpe-signing.pub
  tools/scpe/examples/receipt.json
  tools/scpe/examples/sbom.json
  tools/scpe/examples/scpe-config.yml
  tools/scpe/examples/trainer.whl
  tools/scpe/examples/training-manifest.json
  tools/scpe/pyproject.toml
  tools/scpe/src/scpe/__init__.py
  tools/scpe/src/scpe/cli.py
  tools/scpe/src/scpe/config.py
  tools/scpe/src/scpe/errors.py
  tools/scpe/src/scpe/receipt.py
  tools/scpe/src/scpe/sbom.py
  tools/scpe/src/scpe/signatures.py
  tools/scpe/src/scpe/utils.py
  tools/scpe/src/scpe/validator.py
  tools/scpe/tests/test_scpe.py
Due: prettier --write

feat: add consent-compliant messaging orchestrator
  client/src/App.router.jsx
  client/src/features/ccmo/CCMOSandbox.tsx
  client/src/pages/CCMOSandbox.tsx
  sdk/python/maestro_sdk/__init__.py
  sdk/python/maestro_sdk/ccmo.py
  sdk/typescript/src/ccmoClient.ts
  sdk/typescript/src/index.ts
  services/ccmo/cmd/ccmo/main.go
  services/ccmo/go.mod
  services/ccmo/internal/ccmo/appeals.go
  services/ccmo/internal/ccmo/clock.go
  services/ccmo/internal/ccmo/consent.go
  services/ccmo/internal/ccmo/frequency.go
  services/ccmo/internal/ccmo/http.go
  services/ccmo/internal/ccmo/service.go
  services/ccmo/internal/ccmo/service_test.go
  services/ccmo/internal/ccmo/templates.go
  services/ccmo/internal/ccmo/templates/email_welcome_en_us_dark.tmpl
  services/ccmo/internal/ccmo/templates/email_welcome_en_us_light.tmpl
  services/ccmo/internal/ccmo/templates/email_welcome_es_dark.tmpl
  services/ccmo/internal/ccmo/templates/email_welcome_es_light.tmpl
  services/ccmo/internal/ccmo/templates/in-app_welcome_en_light.tmpl
  services/ccmo/internal/ccmo/templates/push_welcome_en_light.tmpl
  services/ccmo/internal/ccmo/templates/testdata/email_welcome_en_us_light.txt
  services/ccmo/internal/ccmo/templates/testdata/email_welcome_es_dark.txt
  services/ccmo/internal/ccmo/templates_test.go
Due: none

feat: add purpose drift auditor service
  client/src/features/pda/PdaDashboard.tsx
  client/src/features/pda/__tests__/PdaDashboard.test.tsx
  client/src/features/pda/index.ts
  sdk/typescript/jest.config.cjs
  sdk/typescript/src/index.ts
  sdk/typescript/src/pda/client.ts
  sdk/typescript/src/pda/types.ts
  sdk/typescript/test/pda/client.test.ts
  services/pda/README.md
  services/pda/cmd/pda/main.go
  services/pda/go.mod
  services/pda/internal/engine/engine.go
  services/pda/internal/engine/engine_test.go
  services/pda/internal/engine/replay_test.go
  services/pda/internal/engine/types.go
  services/pda/pkg/api/handler.go
  services/pda/testdata/clean.ndjson
  services/pda/testdata/drift.ndjson
Due: prettier --write

feat: add multi-tenant fairness scheduler
  services/mtfs/.gitignore
  services/mtfs/Cargo.lock
  services/mtfs/Cargo.toml
  services/mtfs/README.md
  services/mtfs/client/package.json
  services/mtfs/client/src/index.ts
  services/mtfs/client/tsconfig.json
  services/mtfs/core/Cargo.toml
  services/mtfs/core/src/lib.rs
  services/mtfs/proto/mtfs.proto
  services/mtfs/server/Cargo.toml
  services/mtfs/server/build.rs
  services/mtfs/server/src/main.rs
Due: prettier --write

feat(slice-reg): add versioned slice registry service
  sdk/python/slice_reg_sdk/__init__.py
  sdk/python/slice_reg_sdk/client.py
  sdk/python/test/test_slice_reg_client.py
  sdk/typescript/jest.config.cjs
  sdk/typescript/src/index.ts
  sdk/typescript/src/sliceRegClient.ts
  sdk/typescript/test/sliceRegClient.test.ts
  services/slice_reg/.gitignore
  services/slice_reg/__init__.py
  services/slice_reg/app.py
  services/slice_reg/diff_tool.py
  services/slice_reg/registry.py
  services/slice_reg/tests/test_app.py
  services/slice_reg/tests/test_registry.py
  ui/components/SliceCoveragePanel.tsx
Due: none

feat: add dsar fulfillment engine
  apps/intelgraph-api/package.json
  client/src/features/compliance/DsarReviewer.tsx
  client/src/features/compliance/__tests__/DsarReviewer.test.tsx
  server/src/privacy/dsar/connectors.ts
  server/src/privacy/dsar/dfe.ts
  server/src/privacy/dsar/identity.ts
  server/src/privacy/dsar/index.ts
  server/src/privacy/dsar/proofs.ts
  server/src/privacy/dsar/redaction.ts
  server/src/privacy/dsar/signing.ts
  server/src/privacy/dsar/types.ts
  server/tests/privacy/dfe.integration.ts
  server/tests/privacy/dfe.test.ts
Due: prettier --write

feat: Integrate policy fuzzer into GitHub project plan, labels, and issue templates
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labels.json
  docs/github-project-plan.md
Due: prettier --write

feat: Update bootstrap script with fuzzer labels and seed issues
  scripts/bootstrap.sh
Due: none

feat: add crkre jurisdictional key service
  sdk/python/maestro_sdk/crkre.py
  sdk/typescript/src/crkre.ts
  sdk/typescript/src/index.ts
  services/crkre/Cargo.lock
  services/crkre/Cargo.toml
  services/crkre/README.md
  services/crkre/src/api.rs
  services/crkre/src/crypto.rs
  services/crkre/src/lib.rs
  services/crkre/src/main.rs
  services/crkre/src/service.rs
  services/crkre/src/time.rs
Due: prettier --write

feat: add cdqd service and ui
  package.json
  services/cdqd/README.md
  services/cdqd/cmd/cdqd/main.go
  services/cdqd/go.mod
  services/cdqd/internal/api/server.go
  services/cdqd/internal/core/rules.go
  services/cdqd/internal/core/store.go
  services/cdqd/internal/core/store_test.go
  services/cdqd/internal/core/time_series.go
  services/cdqd/internal/models/models.go
  services/cdqd/internal/util/http.go
  ui/cdqd/README.md
  ui/cdqd/index.html
  ui/cdqd/package.json
  ui/cdqd/src/App.tsx
  ui/cdqd/src/components/AnomalyTable.tsx
  ui/cdqd/src/components/SuppressionForm.tsx
  ui/cdqd/src/hooks/useCdqdApi.ts
  ui/cdqd/src/main.tsx
  ui/cdqd/src/styles.css
  ui/cdqd/src/types.ts
  ui/cdqd/tsconfig.json
  ui/cdqd/tsconfig.node.json
  ui/cdqd/vite.config.ts
Due: prettier --write

feat: add ltdim legal diff impact mapper
  test/fixtures/ltdim/baseline.txt
  test/fixtures/ltdim/expected-impact-summary.json
  test/fixtures/ltdim/expected-policy-deltas.json
  test/fixtures/ltdim/expected-policy-pr.json
  test/fixtures/ltdim/revised.txt
  test/ltdim.test.ts
  tools/legal/ltdim/index.ts
Due: prettier --write

docs: mature interventional countermeasure blueprint
  docs/interventional-narrative-countermeasures-front-runners.md
Due: prettier --write

feat: Update repo bootstrap document with policy fuzzer CI integration
  docs/repo-bootstrap.md
Due: prettier --write

feat: add spar artifact registry
  services/spar/package.json
  services/spar/src/index.ts
  services/spar/src/manifest.ts
  services/spar/src/registry.ts
  services/spar/src/types.ts
  services/spar/src/utils.ts
  services/spar/test/spar-registry.test.ts
  services/spar/tsconfig.json
Due: prettier --write

feat(graphai): add differential lineage replayer planner
  ga-graphai/packages/graphai/src/dlr.py
  ga-graphai/packages/graphai/tests/test_dlr.py
Due: none

feat: add cryptographic cohort sampler
  ccs/bindings/package.json
  ccs/bindings/src/index.ts
  ccs/bindings/test/replay.test.ts
  ccs/bindings/tsconfig.json
  ccs/cmd/ccsverify/main.go
  ccs/encoding.go
  ccs/go.mod
  ccs/sampler.go
  ccs/sampler_test.go
  ccs/types.go
  ccs/verify.go
  ccs/verify_test.go
Due: prettier --write

feat: add consent-aware feature flag service and sdk
  demos/caff-demo/.gitignore
  demos/caff-demo/README.md
  demos/caff-demo/app/globals.css
  demos/caff-demo/app/layout.tsx
  demos/caff-demo/app/page.tsx
  demos/caff-demo/lib/caff.ts
  demos/caff-demo/next-env.d.ts
  demos/caff-demo/next.config.mjs
  demos/caff-demo/package.json
  demos/caff-demo/tsconfig.json
  sdk/typescript/jest.config.cjs
  sdk/typescript/src/caff.ts
  sdk/typescript/src/index.ts
  sdk/typescript/test/caff.test.ts
  services/caff/README.md
  services/caff/evaluator/evaluator.go
  services/caff/evaluator/evaluator_test.go
  services/caff/go.mod
  services/caff/go.sum
  services/caff/main.go
  services/caff/policy/diff.go
  services/caff/policy/store.go
  services/caff/policy/types.go
  services/caff/server/server.go
Due: prettier --write

feat: add data embargo scheduler and cli
  decs/.gitignore
  decs/Cargo.lock
  decs/Cargo.toml
  decs/src/bin/decs_scheduler.rs
  decs/src/lib.rs
  decs/src/model.rs
  decs/src/reconciler.rs
  decs/src/scheduler.rs
  decs/tests/scheduler_tests.rs
  tools/decs-cli/package.json
  tools/decs-cli/src/index.ts
  tools/decs-cli/tsconfig.json
Due: prettier --write

feat: add query-time pseudonymization gateway
  sdk/qpg/README.md
  sdk/qpg/python/__init__.py
  sdk/qpg/python/qpg_client.py
  sdk/qpg/typescript/package.json
  sdk/qpg/typescript/src/index.ts
  sdk/qpg/typescript/tsconfig.json
  services/qpg/README.md
  services/qpg/config/policies.yaml
  services/qpg/config/vault.yaml
  services/qpg/go.mod
  services/qpg/go.sum
  services/qpg/internal/config/config.go
  services/qpg/internal/policy/policy.go
  services/qpg/internal/server/server.go
  services/qpg/internal/server/server_test.go
  services/qpg/internal/tokenvault/tokenvault.go
  services/qpg/main.go
Due: prettier --write

feat: add side-channel budget auditor harness
  tools/__init__.py
  tools/scba/README.md
  tools/scba/__init__.py
  tools/scba/attacks.py
  tools/scba/ci.py
  tools/scba/cli.py
  tools/scba/cmd/scba/main.go
  tools/scba/go.mod
  tools/scba/measurements.py
  tools/scba/policies.py
  tools/scba/probes.py
  tools/scba/runner.py
  tools/scba/stats.py
  tools/scba/tests/test_scba.py
Due: prettier --write

feat(tools): add hardware determinism guard toolkit
  tools/__init__.py
  tools/hdg/README.md
  tools/hdg/__init__.py
  tools/hdg/__main__.py
  tools/hdg/cli.py
  tools/hdg/determinism.py
  tools/hdg/pytest_plugin.py
  tools/hdg/receipt.py
  tools/hdg/scanner.py
  tools/tests/__init__.py
  tools/tests/test_hdg.py
Due: prettier --write

feat: add pseudonym linkage risk auditor library
  plra/__init__.py
  plra/auditor.py
  plra/fixtures.py
  plra/report.py
  plra/tests/test_auditor.py
Due: none

feat: add regulator evidence portal
  client/src/App.router.jsx
  client/src/context/AuthContext.jsx
  client/src/pages/RSSPPortal.tsx
  client/src/services/rssp.ts
  server/src/app.ts
  server/src/routes/__tests__/rssp.test.ts
  server/src/routes/rssp.ts
  server/src/transparency/rssp/__tests__/verification.test.ts
  server/src/transparency/rssp/attestations.ts
  server/src/transparency/rssp/guard.ts
  server/src/transparency/rssp/verification.ts
Due: none

feat: add bayesian fusion to early warning ensemble
  analysis/early_warning.py
  tests/test_early_warning.py
Due: none

feat: add governed chargeback metering
  sdk/typescript/jest.config.cjs
  sdk/typescript/src/gcm.ts
  sdk/typescript/src/index.ts
  sdk/typescript/test/gcm.test.ts
  services/gcm/README.md
  services/gcm/cmd/gcm-service/main.go
  services/gcm/go.mod
  services/gcm/go.sum
  services/gcm/internal/httpapi/server.go
  services/gcm/internal/service/budget.go
  services/gcm/internal/service/config.go
  services/gcm/internal/service/pricing.go
  services/gcm/internal/service/service.go
  services/gcm/internal/service/service_test.go
  services/gcm/internal/service/storage.go
  services/gcm/internal/service/types.go
  services/gcm/internal/signature/signature.go
  ui/gcm-simulator/README.md
  ui/gcm-simulator/index.html
  ui/gcm-simulator/script.js
  ui/gcm-simulator/styles.css
Due: prettier --write

feat: add redaction consistent search indexer
  sdk/typescript/jest.config.cjs
  sdk/typescript/src/index.ts
  sdk/typescript/src/rcsi/client.ts
  sdk/typescript/src/rcsi/index.ts
  sdk/typescript/src/rcsi/proof.ts
  sdk/typescript/src/rcsi/types.ts
  sdk/typescript/test/rcsi.test.ts
  services/rcsi/cmd/rcsi/main.go
  services/rcsi/doc.go
  services/rcsi/fixtures/corpus.json
  services/rcsi/fixtures/redactions.json
  services/rcsi/go.mod
  services/rcsi/internal/index/index.go
  services/rcsi/internal/index/index_test.go
  services/rcsi/internal/index/proof.go
  services/rcsi/internal/index/testdata/index_snapshot.json
Due: prettier --write

feat: add knowledge purge orchestrator
  server/src/kpro/__tests__/kpro.test.ts
  server/src/kpro/adapters/vectorStoreAdapter.ts
  server/src/kpro/cache/cacheInvalidator.ts
  server/src/kpro/chunk/chunkStore.ts
  server/src/kpro/index.ts
  server/src/kpro/kpro.ts
  server/src/kpro/types.ts
Due: none

feat: add tenant isolation prover
  .github/workflows/tip.yml
  requirements.in
  samples/tip/bad/manifests.yaml
  samples/tip/bad/policies.yaml
  samples/tip/good/manifests.yaml
  samples/tip/good/policies.yaml
  tools/tip/__init__.py
  tools/tip/cli.py
  tools/tip/loader.py
  tools/tip/prover.py
  tools/tip/tests/test_tip.py
Due: prettier --write

feat: add safe retrieval pattern library
  package.json
  packages/srpl/package.json
  packages/srpl/src/index.ts
  packages/srpl/src/macros.ts
  packages/srpl/src/plugin/index.ts
  packages/srpl/src/plugin/rules/no-unsafe-retrieval.ts
  packages/srpl/src/policy.ts
  packages/srpl/src/types.ts
  packages/srpl/test/golden/cases/safe-macro/input.ts
  packages/srpl/test/golden/cases/safe-macro/types.ts
  packages/srpl/test/golden/cases/unsafe-inline-select/expected-fixed.ts
  packages/srpl/test/golden/cases/unsafe-inline-select/input.ts
  packages/srpl/test/golden/cases/unsafe-inline-select/types.ts
  packages/srpl/test/golden/golden.test.ts
  packages/srpl/test/macros.test.ts
  packages/srpl/tsconfig.json
  packages/srpl/vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Enhance policy parser to support complex policy structures and integrate with oracle
  policy-fuzzer/main.py
  policy-fuzzer/policy_generator.py
  policy-fuzzer/policy_oracle.py
  policy-fuzzer/policy_parser.py
Due: none

feat: add data residency shadow tester
  drst/README.md
  drst/cmd/drst/main.go
  drst/go.mod
  drst/go.sum
  drst/pkg/agent/agent.go
  drst/pkg/config/config.go
  drst/pkg/controller/controller.go
  drst/pkg/probe/dns_tracer.go
  drst/pkg/probe/edge.go
  drst/pkg/report/report.go
  drst/pkg/storage/filesystem.go
  drst/pkg/storage/scanner.go
  drst/region-map.json
  drst/sample-config.yaml
Due: prettier --write

feat: Implement dynamic policy generation from templates and integrate with main fuzzer loop
  policy-fuzzer/main.py
  policy-fuzzer/policy_generator.py
  policy-fuzzer/policy_templates/consent_policy.yaml
  policy-fuzzer/policy_templates/geo_policy.yaml
  policy-fuzzer/policy_templates/retention_policy.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
