Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: complete v0.4.1 Go-Live Seal Pack + begin v0.4.2 Cognitive Synthesis Engine
  .github/workflows/v041-go-live.yml
  Makefile
  docs/architecture/MC_PLATFORM_V042_DESIGN.md
  docs/runbooks/v0.4.1-go-live.md
  graphql/v042/cognitive-synthesis.graphql
  mc_v_0_4.yaml
  policy/v042/cognitive-synthesis.rego
  pr-open.json
  scripts/execute-v041-go-live.sh
Due: prettier --write

chore(cd): add FORCE_BREACH to canary-watch for drills
  scripts/canary-watch.sh
Due: none

feat: add airgap bundle tooling and region overlays
  .prettierignore
  Makefile
  infra/airgap/README.md
  infra/airgap/build_airgap_bundle.py
  infra/airgap/bundle.manifest.json
  infra/airgap/export_bundle.sh
  infra/airgap/import_bundle.sh
  infra/airgap/verify_provenance.py
  infra/helm/intelgraph/templates/configmap.yaml
  infra/helm/intelgraph/templates/deployment-api-gateway.yaml
  infra/helm/intelgraph/templates/file-drop-pvc.yaml
  infra/helm/intelgraph/values.yaml
  infra/helm/intelgraph/values/airgap.yaml
  infra/helm/intelgraph/values/region-sharding.yaml
  infra/runbooks/airgap-bundle.md
  infra/runbooks/dr-failover.md
  infra/runbooks/kind-airgap-config.yaml
  infra/terraform/aws/main.tf
  infra/terraform/aws/outputs.tf
  infra/terraform/aws/variables.tf
Due: prettier --write

feat(ci): enforce supply chain security gates
  .github/workflows/evidence-bundle-release.yml
  .github/workflows/gitleaks.yml
  .github/workflows/pr-triage.yml
  .github/workflows/supply-chain-security.yml
  .prettierignore
  infra/helm/intelgraph/templates/deployment-client.yaml
  infra/helm/intelgraph/templates/deployment-server.yaml
  infra/helm/intelgraph/templates/pod-security-policy.yaml
  infra/helm/intelgraph/templates/serviceaccount.yaml
  infra/helm/intelgraph/values.yaml
  services/api-gateway/Dockerfile
  services/client/Dockerfile
  services/client/server.mjs
Due: prettier --write

feat: add neo4j graph subgraph service
  ga-graphai/apps/subgraph-graph/.env.example
  ga-graphai/apps/subgraph-graph/README.md
  ga-graphai/apps/subgraph-graph/datasets/golden/triad.cypher
  ga-graphai/apps/subgraph-graph/package.json
  ga-graphai/apps/subgraph-graph/perf/CHAOS.md
  ga-graphai/apps/subgraph-graph/perf/README.md
  ga-graphai/apps/subgraph-graph/perf/k6-neighborhood.js
  ga-graphai/apps/subgraph-graph/perf/k6-paths.js
  ga-graphai/apps/subgraph-graph/scripts/analyze-cost-extension.mjs
  ga-graphai/apps/subgraph-graph/src/cache/redisCache.ts
  ga-graphai/apps/subgraph-graph/src/config.ts
  ga-graphai/apps/subgraph-graph/src/cost/costCollector.ts
  ga-graphai/apps/subgraph-graph/src/cost/plugin.ts
  ga-graphai/apps/subgraph-graph/src/datasources/neo4jGraphSource.ts
  ga-graphai/apps/subgraph-graph/src/index.ts
  ga-graphai/apps/subgraph-graph/src/logging.ts
  ga-graphai/apps/subgraph-graph/src/resolvers/index.ts
  ga-graphai/apps/subgraph-graph/src/schema.ts
  ga-graphai/apps/subgraph-graph/src/server.ts
  ga-graphai/apps/subgraph-graph/src/types.ts
  ga-graphai/apps/subgraph-graph/src/utils/cursor.ts
  ga-graphai/apps/subgraph-graph/src/utils/mappers.ts
  ga-graphai/apps/subgraph-graph/tests/costCollector.test.ts
  ga-graphai/apps/subgraph-graph/tests/cursor.test.ts
  ga-graphai/apps/subgraph-graph/tests/resolvers.neighborhood.test.ts
  ga-graphai/apps/subgraph-graph/tsconfig.json
  ga-graphai/package.json
  ga-graphai/packages/gateway/src/app.js
  ga-graphai/packages/gateway/src/graphql/schema.js
  ga-graphai/packages/gateway/src/graphql/subgraphClient.js
  ga-graphai/packages/gateway/tests/graph-subgraph-client.test.js
Due: prettier --write

feat: add unified slo observability
  ALERT_POLICIES.yaml
  ga-graphai/packages/gateway/package.json
  ga-graphai/packages/gateway/src/app.js
  ga-graphai/packages/gateway/src/metrics.js
  ga-graphai/packages/gateway/src/orchestrator.js
  ga-graphai/packages/graphai/pyproject.toml
  ga-graphai/packages/graphai/src/main.py
  ga-graphai/packages/graphai/src/observability.py
  infra/grafana/dashboards/api-slo.json
  infra/grafana/dashboards/cost-overview.json
  infra/grafana/dashboards/ingest-slo.json
  infra/helm/intelgraph/templates/otel-config.yaml
  packages/connectors/pyproject.toml
  packages/connectors/src/main.py
  packages/connectors/src/observability.py
  packages/connectors/src/orchestrator.py
  scripts/slo_green_gate.py
Due: prettier --write

feat: add s3 csv ingest pipeline
  infra/helm/intelgraph/templates/connectors-worker.yaml.tpl
  infra/helm/intelgraph/values.yaml
  infra/runbooks/s3-csv-ingest.md
  infra/terraform/storage/s3_ingest_policy.tf
  packages/connectors/pyproject.toml
  packages/connectors/src/bench/__init__.py
  packages/connectors/src/bench/loadgen.py
  packages/connectors/src/connectors/__init__.py
  packages/connectors/src/main.py
  packages/connectors/src/models.py
  packages/connectors/src/orchestrator.py
  packages/connectors/src/sources/base.py
  packages/connectors/src/sources/file.py
  packages/connectors/src/sources/s3.py
  packages/connectors/src/sources/types.py
  packages/connectors/src/utils/__init__.py
  packages/connectors/src/utils/bloom.py
  packages/connectors/tests/test_file_connector.py
  packages/connectors/tests/test_s3_connector.py
Due: prettier --write

feat: wire provenance signing and verification
  apps/web/public/exports/run-101/manifest.json
  apps/web/public/exports/run-101/manifest.sig
  apps/web/public/exports/run-101/public.key
  apps/web/src/data/sampleProvenance.ts
  apps/web/src/lib/provenance.ts
  apps/web/src/pages/maestro/pages/Artifacts.tsx
  apps/web/src/pages/maestro/pages/Audit.tsx
  packages/connectors/pyproject.toml
  packages/connectors/src/connectors/main.py
  packages/connectors/src/connectors/models.py
  packages/prov-ledger/package.json
  packages/prov-ledger/src/cli/verify.ts
  packages/prov-ledger/src/index.ts
  packages/sdk-py/pyproject.toml
  packages/sdk-py/src/maestro_sdk/provenance.py
  summit_helm_argocd_multiacct_pack/helm/summit/templates/provenance-secret.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-dev.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-prod.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-staging.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: integrate opa policy enforcement
  .github/workflows/policy-ci.yml
  apps/gateway/jest.config.cjs
  apps/gateway/src/plugins/policyGate.test.ts
  apps/gateway/src/plugins/policyGate.ts
  apps/gateway/src/server.ts
  contracts/policy/abac.bundle.sha256
  contracts/policy/abac.rego
  contracts/policy/fixtures.json
  package.json
  packages/policy-audit/__tests__/__snapshots__/policy-matrix.test.js.snap
  packages/policy-audit/__tests__/audit.test.js
  packages/policy-audit/__tests__/policy-audit.test.js
  packages/policy-audit/__tests__/policy-matrix.test.js
  packages/policy-audit/__tests__/policy-parity.test.js
  packages/policy-audit/__tests__/policy-sidecar.test.js
  packages/policy-audit/__tests__/policy.test.js
  packages/policy-audit/index.js
  packages/policy-audit/src/audit.js
  packages/policy-audit/src/index.js
  packages/policy-audit/src/policy.js
  pnpm-lock.yaml
  scripts/policy-simulate.js
  sdk/python/maestro_sdk/__init__.py
  sdk/python/maestro_sdk/policy.py
  sdk/python/test/conftest.py
  sdk/python/test/integration_test.py
  sdk/python/test/test_policy.py
  sdk/typescript/jest.config.cjs
  sdk/typescript/src/client.ts
  sdk/typescript/src/generated.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/policy/client.ts
  sdk/typescript/test/integration.test.ts
  sdk/typescript/test/policyClient.test.ts
  services/policy-sidecar/server.js
  test-results/policy/matrix.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: ignore binary lock artifacts
  .gitattributes
  .gitignore
  services/trr/package-lock.json
  services/trr/package.json
  services/trr/src/index.ts
  services/trr/src/ingestor.ts
  services/trr/src/policy.ts
  services/trr/src/registry.ts
  services/trr/src/scoring.ts
  services/trr/src/signer.ts
  services/trr/src/types.ts
  services/trr/tests/trr.spec.ts
  services/trr/tsconfig.json
Due: prettier --write

chore: ignore sdk typescript lockfile
  .gitignore
  sdk/typescript/.gitignore
  sdk/typescript/jest.config.cjs
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/tddl.ts
  sdk/typescript/test/integration.test.ts
  sdk/typescript/test/tddl.test.ts
Due: prettier --write

chore: avoid binary diffs for srlc outputs
  .gitattributes
  .gitignore
  packages/srlc/package.json
  packages/srlc/scripts/dump_kotlin_golden.cjs
  packages/srlc/scripts/dump_targets.cjs
  packages/srlc/scripts/dump_typescript_golden.cjs
  packages/srlc/scripts/renderPolicy.ts
  packages/srlc/src/compiler.ts
  packages/srlc/src/descriptors.ts
  packages/srlc/src/emitter/kafkaEmitter.ts
  packages/srlc/src/emitter/sqlEmitter.ts
  packages/srlc/src/emitter/typescriptEmitter.ts
  packages/srlc/src/explain.ts
  packages/srlc/src/index.ts
  packages/srlc/src/parser.ts
  packages/srlc/src/types.ts
  packages/srlc/src/validator.ts
  packages/srlc/test/compiler.spec.ts
  packages/srlc/test/golden/customer_protection.kt
  packages/srlc/test/golden/customer_protection.sql
  packages/srlc/test/golden/customer_protection.ts
  packages/srlc/test/policies/customer_protection.srlc
  packages/srlc/test/shims.d.ts
  packages/srlc/tsconfig.json
  packages/srlc/tsconfig.test.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: ignore fcs lock artifacts
  .gitignore
  sdk/fcs-client/.gitignore
  sdk/fcs-client/README.md
  sdk/fcs-client/package.json
  sdk/fcs-client/src/index.ts
  sdk/fcs-client/src/types.ts
  sdk/fcs-client/tsconfig.json
  services/fcs/.gitignore
  services/fcs/cmd/fcs/main.go
  services/fcs/go.mod
  services/fcs/go.sum
  services/fcs/internal/httpserver/server.go
  services/fcs/internal/model/types.go
  services/fcs/internal/model/types_test.go
  services/fcs/internal/provenance/manager.go
  services/fcs/internal/service/pipeline.go
  services/fcs/internal/service/service_test.go
  services/fcs/internal/store/memory.go
  services/fcs/internal/store/store.go
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
