Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

chore: add pnpm overrides to fix security vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove server/junit.xml from tracking
  server/junit.xml
Due: none

fix: update Dockerfiles for monorepo build context
  apps/gateway/Dockerfile
  services/predictd/Dockerfile
Due: none

fix(gateway): update to CommonJS for Node.js compatibility
  apps/gateway/package.json
  apps/gateway/server.js
  apps/gateway/tsconfig.json
Due: prettier --write

refactor(libs/audit): update audit library implementation
  libs/audit/node/index.js
  libs/audit/node/json-canon.js
Due: none

feat(maestro): add governance service and subagent coordinator
  server/src/maestro/MaestroService.ts
  server/src/maestro/governance-service.ts
  server/src/maestro/model.ts
  server/src/maestro/subagent-coordinator.ts
  server/src/maestro/types.ts
Due: none

chore: update docker-compose.dev.yaml configuration
  docker-compose.dev.yaml
Due: none

feat: add governance schema definitions
  server/server/data/governance/schemas/2cebfd60-0d5e-4ad8-a1ea-5346cf70dea4.json
  server/server/data/governance/schemas/4f22185d-0956-41b4-a4fa-7c44876d8d91.json
  server/server/data/governance/schemas/d1dcbcd0-366f-42ab-900a-c15d7772c974.json
Due: prettier --write

feat(libs/flags): add node flags library
  libs/flags/node/index.js
Due: none

fix(gateway): add explicit server startup and error handling
  apps/gateway/server.js
Due: none

feat(correctness): add agent coordination and governance system
  server/src/correctness-program/agent-coordination.ts
Due: none

Add concurrency configuration to security workflow
  .github/workflows/security-comprehensive.yml
Due: prettier --write

refactor(correctness): update correctness program types and exports
  server/src/correctness-program/index.ts
  server/src/correctness-program/types.ts
Due: none

fix(correctness): use provenance ledger singleton instance
  server/src/correctness-program/agent-coordination.ts
Due: none

feat: add audit ledger hash chain
  server/src/app.ts
  server/src/audit/__tests__/ledger.test.ts
  server/src/audit/ledger.ts
  server/src/logging/structuredLogger.ts
  server/src/routes/ops.ts
Due: none

chore: add service lockfiles and improve type safety
  server/src/cache/index.ts
  server/src/middleware/request-validation.ts
  services/federation-service/pnpm-lock.yaml
  services/self-upgrading-infrastructure/pnpm-lock.yaml
  services/sigint-service/pnpm-lock.yaml
  services/signal-bus-service/pnpm-lock.yaml
  services/smart-contracting-service/pnpm-lock.yaml
  services/spacetime-service/pnpm-lock.yaml
  services/spar/pnpm-lock.yaml
  services/sparql-endpoint/pnpm-lock.yaml
  services/strategic-foresight/pnpm-lock.yaml
  services/stream-processor/pnpm-lock.yaml
  services/streaming-ingest/pnpm-lock.yaml
  services/sum/pnpm-lock.yaml
  services/supply-chain-service/pnpm-lock.yaml
  services/sync-service/pnpm-lock.yaml
  services/synthdata/pnpm-lock.yaml
  services/synthesis-service/pnpm-lock.yaml
  services/tenant-admin/pnpm-lock.yaml
  services/threat-assessment-service/pnpm-lock.yaml
  services/threat-library-service/pnpm-lock.yaml
  services/timeseries-metrics/pnpm-lock.yaml
  services/transcription-service/pnpm-lock.yaml
  services/trr/pnpm-lock.yaml
  services/unified-audit/pnpm-lock.yaml
  services/universal-ingestion/pnpm-lock.yaml
  services/vision-api/pnpm-lock.yaml
  services/warehouse-service/pnpm-lock.yaml
  services/websocket-server/pnpm-lock.yaml
  services/worker-queue/pnpm-lock.yaml
  services/workflow/pnpm-lock.yaml
  services/zk-deconfliction/pnpm-lock.yaml
  services/zk-tx/pnpm-lock.yaml
Due: none

chore: add tool lockfiles and improve test imports
  server/src/hunting/__tests__/ThreatHuntingOrchestrator.test.ts
  tools/agsm-dashboard/pnpm-lock.yaml
  tools/aql/pnpm-lock.yaml
  tools/auditctl/pnpm-lock.yaml
  tools/claim-verifier/pnpm-lock.yaml
  tools/debt-detector/pnpm-lock.yaml
  tools/decs-cli/pnpm-lock.yaml
  tools/plugin-cli/pnpm-lock.yaml
  tools/promise-tracker/pnpm-lock.yaml
  tools/prompt-system/pnpm-lock.yaml
  tools/replayctl/pnpm-lock.yaml
  tools/sandbox-cli/pnpm-lock.yaml
  tools/scaffold-cli/pnpm-lock.yaml
  tools/security-gates/pnpm-lock.yaml
  tools/ses/pnpm-lock.yaml
  tools/summitctl/pnpm-lock.yaml
  tools/tesq/pnpm-lock.yaml
Due: none

chore: remove redundant .env.example.removed backup
  .env.example.removed
Due: none

chore: remove zip artifacts from repository
  activities/activities-v14.zip
  activities/activities-v15-fixed.zip
  activities/activities-v15.zip
  activities/activities-v17.zip
  activities/activities-v18.zip
  living-matrix-app-start.zip
  living-matrix-app-starter.zip
  living-matrix-pro-pack.zip
  logs_18102009979.zip
  sprint25_day1_artifacts.zip
  sprint25_pr_patchset.zip
  summit-company-extended-pack.zip
Due: none

chore: remove generated report files from root
  ai-analysis-report.json
  bundle-verification-report.json
  finops-report.json
  out/grounding-report.json
  reports/dead-code-report.json
  validation-report.json
Due: prettier --write

chore: remove out/ directory from tracking
  out/T3-sim-quick.json
  out/daily-ops-delta-20250925.json
  out/grounding-week1.json
  out/v033-readiness-20250926/production-readiness-report.json
  out/victory-lap/d1-20250926/post-deploy-review.json
  out/victory-lap/d1-20250926/tenant-budget-report.txt
  out/victory-lap/d3-20250926/gateway-swap-091557.json
  out/victory-lap/d3-20250926/values-egress-gateway-backup.yaml
  out/victory-lap/d3-20250926/values-egress-gateway-secondary.yaml
  out/victory-lap/d7-20250926/ops-retrospective.json
  out/victory-lap/d7-20250926/threshold-adjustments.yaml
  out/victory-lap/d7-20250926/v034-slo-targets.yaml
Due: prettier --write

fix(correctness): correct import paths in agent-coordination
  server/src/correctness-program/agent-coordination.ts
Due: none

chore: remove test result artifacts from tracking
  bug-bash-results/20250922/P0-critical.md
  bug-bash-results/20250922/P1-degraded.md
  bug-bash-results/20250922/P2-papercuts.md
  bug-bash-results/20250922/health-check-results.json
  bug-bash-results/20250922/runbook-checklist.md
  bug-bash-results/20250922/summary.md
  bug-bash-results/20250922/triage-summary.md
  bug-bash-results/20250922/ui-test-results-chromium.json
  bug-bash-results/20250922/ui-test-results-firefox.json
  bug-bash-results/20250922/ui-test-results-webkit.json
  client/junit.xml
  client/test-results.json
  junit.xml
  test-summary-junit.xml
Due: prettier --write

chore: remove test database file from tracking
  python/test.db
Due: none

chore: add more patterns to .gitignore
  .gitignore
Due: none

fix(correctness): use valid MutationType in provenance entry
  server/src/correctness-program/agent-coordination.ts
Due: none

chore: remove backup Justfile from tracking
  Justfile.backup.1756599934
Due: none

feat: add hash-chained audit ledger with verification endpoint (#14531)
  server/src/app.ts
  server/src/audit/__tests__/ledger.test.ts
  server/src/audit/ledger.ts
  server/src/logging/structuredLogger.ts
  server/src/routes/ops.ts
Due: none

Add AI safety governance suite (#14492)
  packages/ai-safety-suite/__tests__/ai-safety-suite.test.ts
  packages/ai-safety-suite/package.json
  packages/ai-safety-suite/src/approvals/gate.ts
  packages/ai-safety-suite/src/context/packer.ts
  packages/ai-safety-suite/src/evals/harness.ts
  packages/ai-safety-suite/src/index.ts
  packages/ai-safety-suite/src/prompts/registry.ts
  packages/ai-safety-suite/src/redteam/runner.ts
  packages/ai-safety-suite/src/routing/router.ts
  packages/ai-safety-suite/src/toolplan/interpreter.ts
  packages/ai-safety-suite/src/tools/permissions.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: capture backend feature batch contracts (#14493)
  docs/lineage_confidence_feature_batch.md
Due: prettier --write

Add guarded sharing primitives and routes (#14494)
  server/src/app.ts
  server/src/routes/sharing.ts
  server/src/sharing/__tests__/sharing.test.ts
  server/src/sharing/downloads.ts
  server/src/sharing/labels.ts
  server/src/sharing/permissions.ts
  server/src/sharing/preview.ts
  server/src/sharing/revocation.ts
  server/src/sharing/service.ts
  server/src/sharing/store.ts
  server/src/sharing/types.ts
  server/src/sharing/utils.ts
Due: none

Add privacy and compliance wave ten prompts (#14496)
  wave10-privacy-compliance-prompts-73-80.md
Due: prettier --write

docs: blueprint for security and reliability features (#14497)
  docs/feature_set_fls_trust_ocr_plan.md
Due: prettier --write

Add blueprint for flagged collaboration and security features (#14498)
  docs/collaboration-federation-encryption-indexing-plan.md
Due: prettier --write

Add wave16 security batch plan (#14499)
  docs/wave16/airgap-security-batch.md
Due: prettier --write

Add review queue API with decision auditing (#14500)
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/review/ReviewAuditLog.ts
  apps/api/src/review/ReviewDecisionEngine.test.ts
  apps/api/src/review/ReviewDecisionEngine.ts
  apps/api/src/review/ReviewQueueService.ts
  apps/api/src/review/models.ts
  apps/api/src/routes/review/index.ts
  apps/api/src/routes/review/review.integration.test.ts
Due: prettier --write

Add data integrity tooling and schema compatibility gate (#14501)
  ga-graphai/.github/workflows/schema-compatibility.yml
  ga-graphai/packages/data-integrity/AGENTS.md
  ga-graphai/packages/data-integrity/README.md
  ga-graphai/packages/data-integrity/package.json
  ga-graphai/packages/data-integrity/schema/event-envelope.v1.json
  ga-graphai/packages/data-integrity/schema/event-envelope.v2.json
  ga-graphai/packages/data-integrity/schema/export-manifest.v1.json
  ga-graphai/packages/data-integrity/schema/export-manifest.v2.json
  ga-graphai/packages/data-integrity/schema/ingest-object.v1.json
  ga-graphai/packages/data-integrity/schema/ingest-object.v2.json
  ga-graphai/packages/data-integrity/src/canonical/canonicalizer.ts
  ga-graphai/packages/data-integrity/src/eventlog/eventLog.ts
  ga-graphai/packages/data-integrity/src/index.ts
  ga-graphai/packages/data-integrity/src/invariants/index.ts
  ga-graphai/packages/data-integrity/src/migrations/runner.ts
  ga-graphai/packages/data-integrity/src/reconcile/reconciler.ts
  ga-graphai/packages/data-integrity/src/roundtrip/roundtripVerifier.ts
  ga-graphai/packages/data-integrity/src/schema/cli.ts
  ga-graphai/packages/data-integrity/src/schema/registry.ts
  ga-graphai/packages/data-integrity/src/schema/rules.ts
  ga-graphai/packages/data-integrity/src/schema/types.ts
  ga-graphai/packages/data-integrity/src/write-boundary/transactionalBoundary.ts
  ga-graphai/packages/data-integrity/tests/canonical.spec.ts
  ga-graphai/packages/data-integrity/tests/eventlog.spec.ts
  ga-graphai/packages/data-integrity/tests/invariants.spec.ts
  ga-graphai/packages/data-integrity/tests/migrations.spec.ts
  ga-graphai/packages/data-integrity/tests/reconcile-roundtrip.spec.ts
  ga-graphai/packages/data-integrity/tests/schema.spec.ts
  ga-graphai/packages/data-integrity/tsconfig.json
  ga-graphai/packages/prov-ledger/package.json
  ga-graphai/packages/prov-ledger/src/manifest.ts
  ga-graphai/packages/workflow-diff-engine/package.json
  ga-graphai/packages/workflow-diff-engine/src/index.ts
Due: prettier --write

Sync 10 commits from TopicalityLLC/summit to BrianCLong/summit (#14542)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deno.yml
  .github/workflows/docker-build.yml
  .github/workflows/mirror-to-personal.yml
  ENTERPRISE-SETUP.md
  docs/BIDIRECTIONAL-SYNC-SETUP.md
  n8n-workflows/01-issue-to-deploy-pipeline.json
  n8n-workflows/README.md
  n8n-workflows/SETUP-GUIDE.md
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
