Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

Add golden fixtures for IntelGraph and Maestro testing (#13392)
  docs/testing/golden-datasets.md
  ga-graphai/packages/maestro-conductor/tests/predictiveInsights.test.ts
  scripts/testing/load-golden-intelgraph.ts
  scripts/testing/load-golden-maestro.ts
  testdata/intelgraph/golden-graph.json
  testdata/maestro/golden-runs.json
Due: prettier --write

Harden auth session guard for cookie and token sessions (#13397)
  apps/web/src/contexts/AuthContext.tsx
Due: none

Architecture Governance: ADRs & Living System Map (#13399)
  docs/architecture/adr/ADR-001-monorepo-structure.md
  docs/architecture/adr/ADR-002-llm-client-architecture.md
  docs/architecture/adr/ADR-003-graph-first-intelligence-engine.md
  docs/architecture/system-map.png
Due: prettier --write

chore: drop tracked tsbuildinfo cache (#13400)
  .gitignore
  .tsbuildinfo
Due: none

sec: RBAC & permission system hardening (phase 1) (#13402)
  client/src/context/AuthContext.js
  client/src/context/AuthContext.jsx
  client/src/features/admin/OverridesPanel.tsx
  client/src/features/maestro/components/CommandPalette.tsx
  client/src/utils/capabilities.test.ts
  client/src/utils/capabilities.ts
  docs/security/permissions-map.md
  server/src/maestro/runs/runs-api.ts
  server/src/middleware/__tests__/authorization.test.ts
  server/src/middleware/authorization.ts
  server/src/routes/__tests__/authorization.integration.test.ts
  server/src/routes/admin.js
  server/src/routes/admin.ts
  server/src/routes/entities.js
  server/src/security/__tests__/permissions.test.ts
  server/src/security/permissions.ts
Due: prettier --write

Add safe mode and kill switch controls (#13404)
  docs/ops/safe-mode-kill-switch.md
  server/src/app.ts
  server/src/config/safety.ts
  server/src/middleware/safety-mode.ts
Due: prettier --write

compliance: Automation skeleton & SOC2/ISO/NIST mapping (#13407)
  .github/workflows/compliance-check.yml
  compliance/control-matrix.yml
  docs/compliance/control-matrix.md
  scripts/compliance/check-controls.ts
  scripts/security/secrets-baseline.sh
Due: prettier --write

Startup Race Condition Audit & Hardening (Phase 1) (#13414)
  .github/workflows/startup-race-test.yml
  docker-compose.yml
  docs/ops/health/healthcheck-policy.md
  reliability-service/main.py
  scripts/scan-startup-races.mjs
  server/src/conductor/worker-entrypoint.ts
  server/src/routes/health.ts
  server/src/utils/startup-readiness.ts
Due: prettier --write

safety: HITL approvals for risky automations (initial flow) (#13416)
  client/src/App.router.jsx
  client/src/features/approvals/ApprovalsPage.tsx
  docs/safety/human-in-the-loop.md
  server/src/monitoring/metrics.js
  server/src/routes/approvals.ts
  server/src/services/__tests__/approvals.test.ts
  server/src/services/approvals.ts
Due: prettier --write

sec: Service Isolation & Sandbox Mode Hardening (#13421)
  docs/security/sandbox-mode.md
  ga-graphai/packages/common-types/src/guardrails.ts
  ga-graphai/packages/knowledge-graph/schema.json
  ga-graphai/packages/knowledge-graph/tests/knowledgeGraph.test.ts
  ga-graphai/packages/maestro-conductor/src/types.ts
Due: prettier --write

Enhance PostgreSQL read replica routing and health scoring (#13434)
  server/PRODUCTION_DEPLOYMENT.md
  server/src/db/__tests__/postgres.test.ts
Due: prettier --write

Add IntelGraph query monitoring and throttling (#13436)
  ga-graphai/packages/query-copilot/package.json
  ga-graphai/packages/query-copilot/src/index.ts
  ga-graphai/packages/query-copilot/src/queryMonitor.ts
  ga-graphai/packages/query-copilot/src/types.ts
  ga-graphai/packages/query-copilot/tests/queryMonitor.spec.ts
Due: prettier --write

Add provenance policies and lineage graph scaffolding (#13456)
  packages/intelgraph-server/src/provenance/components/NodeDetailsPanel.tsx
  packages/intelgraph-server/src/provenance/graphTypes.ts
  packages/intelgraph-server/src/provenance/lineageEmitter.ts
  policy/lineage_integrity.rego
  policy/sbom_policy.rego
  policy/slsa_attestation.rego
Due: eslint --fix --max-warnings=0 --cache

Streamline developer experience and scripts (#13459)
  docs/dev/DEV_EXPERIENCE_FAST_LANE.md
Due: prettier --write

Analyze and reduce frontend bundle size (#13463)
  apps/web/src/components/ui/index.ts
  apps/web/vite.config.ts
Due: none

Add preview scaffolding for services and CI pipelines (#13549)
  apps/gateway/package.json
  apps/gateway/server.js
  apps/gateway/tsconfig.json
  apps/ui/build.js
  apps/ui/package.json
Due: prettier --write

Upgrade to agentic semantic RAG with knowledge graphs (#13354)
  docs/graphrag-architecture.md
  services/graphrag/.env.example
  services/graphrag/Dockerfile
  services/graphrag/README.md
  services/graphrag/jest.config.js
  services/graphrag/package.json
  services/graphrag/src/GraphRAGOrchestrator.ts
  services/graphrag/src/__tests__/CitationManager.test.ts
  services/graphrag/src/__tests__/ContextFusion.test.ts
  services/graphrag/src/__tests__/GraphRetriever.test.ts
  services/graphrag/src/__tests__/LLMIntegration.test.ts
  services/graphrag/src/analysis/CounterfactualEngine.ts
  services/graphrag/src/citation/CitationManager.ts
  services/graphrag/src/fusion/ContextFusion.ts
  services/graphrag/src/graphql/resolvers.ts
  services/graphrag/src/graphql/schema.graphql
  services/graphrag/src/index.ts
  services/graphrag/src/llm/LLMIntegration.ts
  services/graphrag/src/retrieval/DocumentRetriever.ts
  services/graphrag/src/retrieval/GraphRetriever.ts
  services/graphrag/src/retrieval/PolicyRetriever.ts
  services/graphrag/src/retrieval/TemporalRetriever.ts
  services/graphrag/src/server.ts
  services/graphrag/src/types/index.ts
  services/graphrag/tsconfig.json
Due: prettier --write

Streamline pnpm cache usage in CI pipeline (#13199)
  docs/CI_TIME_BUDGET.md
Due: prettier --write

Implement STIX/TAXII feed ingestion with vector storage (#13198)
  services/stix-taxii-ingestion/README.md
  services/stix-taxii-ingestion/package.json
  services/stix-taxii-ingestion/pnpm-lock.yaml
  services/stix-taxii-ingestion/src/client/AirgapProxy.ts
  services/stix-taxii-ingestion/src/client/TaxiiClient.ts
  services/stix-taxii-ingestion/src/client/index.ts
  services/stix-taxii-ingestion/src/enrichment/AgenticEnricher.ts
  services/stix-taxii-ingestion/src/enrichment/index.ts
  services/stix-taxii-ingestion/src/index.ts
  services/stix-taxii-ingestion/src/services/StixIngestionService.ts
  services/stix-taxii-ingestion/src/services/index.ts
  services/stix-taxii-ingestion/src/storage/Neo4jGraphStore.ts
  services/stix-taxii-ingestion/src/storage/PgVectorStore.ts
  services/stix-taxii-ingestion/src/storage/index.ts
  services/stix-taxii-ingestion/src/types/index.ts
  services/stix-taxii-ingestion/src/types/stix-2.1.ts
  services/stix-taxii-ingestion/src/types/taxii-2.1.ts
  services/stix-taxii-ingestion/tests/benchmarks/ingestion-benchmark.ts
  services/stix-taxii-ingestion/tests/stix-ingestion.test.ts
  services/stix-taxii-ingestion/tsconfig.json
  services/stix-taxii-ingestion/vitest.config.ts
Due: prettier --write

Satellite imagery fusion into Neo4j with change detection (#13197)
  packages/geospatial/README.md
  packages/geospatial/package.json
  packages/geospatial/src/__tests__/satellite-processor.test.ts
  packages/geospatial/src/index.ts
  packages/geospatial/src/neo4j/geo-repository.ts
  packages/geospatial/src/neo4j/index.ts
  packages/geospatial/src/processing/airgapped-cache.ts
  packages/geospatial/src/processing/change-detection.ts
  packages/geospatial/src/processing/gdal-pipeline.ts
  packages/geospatial/src/processing/index.ts
  packages/geospatial/src/processing/raster-vector-fusion.ts
  packages/geospatial/src/types/satellite.ts
  packages/geospatial/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add STIX 2.1 bundle exporter with secure sharing (#13185)
  server/src/conductor/auth/rbac-middleware.ts
  server/src/intel/cti-routes.ts
  server/src/intel/cti/README.md
  server/src/intel/cti/__tests__/bundle-serializer.test.ts
  server/src/intel/cti/__tests__/signing.test.ts
  server/src/intel/cti/__tests__/taxii-e2e.test.ts
  server/src/intel/cti/bundle-serializer.ts
  server/src/intel/cti/entity-mapper.ts
  server/src/intel/cti/index.ts
  server/src/intel/cti/signing.ts
  server/src/intel/cti/taxii-service.ts
  server/src/intel/cti/types.ts
Due: prettier --write

Resolve merge conflicts via rebase (#13164)
  server/jest.config.ts
  server/src/provenance/ledger.ts
  server/src/routes/time-series-intelligence.ts
  server/src/services/TimeSeriesIntelligenceService.ts
  server/src/tests/time-series-intelligence.test.ts
  server/tests/security/ledger-crypto-integration.test.ts
Due: none

fix(server): resolve middleware, db, and telemetry type errors
  server/src/db/neo4j.ts
  server/src/db/postgres.ts
  server/src/db/redis.ts
  server/src/lib/telemetry/comprehensive-telemetry.ts
  server/src/lib/telemetry/diagnostic-snapshotter.ts
  server/src/middleware/__tests__/rbac.test.ts
  server/src/middleware/__tests__/security.test.ts
  server/src/middleware/api-version.ts
  server/src/middleware/audit-first.ts
  server/src/middleware/deprecation.ts
  server/src/middleware/graphql-validation-plugin.ts
  server/src/middleware/opa-abac.ts
  server/src/provenance/ledger.ts
  server/src/services/GraphIndexAdvisorService.ts
  server/src/utils/logger.ts
  server/src/utils/sampleData.ts
Due: none

Add streamlined CI lanes and runbook (#13056)
  .github/workflows/ci-lint-and-unit.yml
  README.md
Due: prettier --write

Harden security defaults (#12881)
  .env.example
  server/src/app.ts
  server/src/config/index.ts
Due: none

Add approvals center scaffolding (#12845)
  ga-graphai/packages/web/package.json
  ga-graphai/packages/web/src/api/approvals.ts
  ga-graphai/packages/web/src/api/types.ts
  ga-graphai/packages/web/src/components/approvals/ApprovalDetailDrawer.tsx
  ga-graphai/packages/web/src/components/approvals/ApprovalFilters.tsx
  ga-graphai/packages/web/src/components/approvals/ApprovalsPage.tsx
  ga-graphai/packages/web/src/components/approvals/ApprovalsTable.tsx
  ga-graphai/packages/web/src/components/timeline/ApprovalTimelineEvent.tsx
  ga-graphai/packages/web/tsconfig.json
Due: prettier --write

feat: expose external governance API with rate limits (#12843)
  services/authz-gateway/README.md
  services/authz-gateway/src/api-keys.ts
  services/authz-gateway/src/events.ts
  services/authz-gateway/src/quota.ts
  services/authz-gateway/src/rate-limit.ts
  services/authz-gateway/tests/external-api.test.ts
Due: prettier --write

Add approvals observability and SLO pack (#12840)
  ops/observability/grafana/dashboards/approvals-provenance-dashboard.json
  ops/prometheus/approvals-observability-rules.yaml
  ops/runbooks/approvals-slo-breach.md
  ops/slo/approvals-slos.yaml
  synthetics/journeys/approvals-happy-path.json
Due: prettier --write

Fix Jest ESM config (#12794)
  server/src/conductor/__tests__/mcp-client.test.ts
  server/tsconfig.test.json
Due: prettier --write

Improve test coverage for untested files (#12780)
  services/api/src/db/__tests__/postgres.test.ts
  services/api/src/db/__tests__/redis.test.ts
  services/api/src/db/postgres.ts
  services/api/src/db/redis.ts
  services/api/src/middleware/__tests__/auditLog.test.ts
  services/api/src/middleware/__tests__/auth.test.ts
  services/api/src/middleware/__tests__/openapi-validator.test.ts
  services/api/src/middleware/__tests__/rateLimit.new.test.ts
  services/api/src/middleware/__tests__/slowQuery.test.ts
Due: none

Add API documentation with OpenAPI (#12776)
  .github/workflows/ci-golden-path.yml
  .github/workflows/ci-lint-and-unit.yml
  .github/workflows/ci.green.yml
  .github/workflows/ci.main.yml
  README.md
  RUNBOOKS/INDEX.md
  docs/API_DOCUMENTATION.md
  infra/helm/intelgraph/values-stage.yaml
  openapi/spec.yaml
  packages/liquid-nano/tsconfig.json
  runbooks/ci.md
  scripts/smoke.sh
  server/src/cross-border/graphql/resolvers.ts
  server/src/notifications-hub/index.ts
  server/src/services/DigitalTwinService.ts
  server/src/services/__tests__/FeatureFlagService.test.ts
  server/src/utils/crypto-secure-random.ts
Due: prettier --write

Build analyst workspace with graph explorer and reports (#12751)
  apps/web/src/pages/CaseDetailPage.tsx
  apps/web/src/pages/CasesPage.tsx
  apps/web/src/pages/ReportsPage.tsx
  apps/web/src/types/index.ts
Due: none
