Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs: add phased roadmap for items 60-95
  docs/roadmap/STATUS.json
  docs/roadmap/items-60-95-plan.json
Due: prettier --write

feat: harden help desk integrations
  src/documentation/support/HelpDeskIntegrationEngine.ts
Due: none

chore: refine server test execution
  .github/workflows/_reusable-ci-fast.yml
  server/jest.config.js
  server/package.json
Due: prettier --write

fix(test): add monitoring mocks to prevent ESM import issues
  server/src/security/__tests__/replay-harness.test.ts
Due: none

fix(test): clear mock Redis storage between secret-rotation tests
  server/src/security/__tests__/secret-rotation.test.ts
Due: none

feat: add SIEM export integration
  server/migrations/020_siem_export_idempotency.sql
  server/src/integrations/siem/siem-export.service.ts
  server/src/routes/siem-export.ts
Due: none

fix: enforce deployment and citation gate readiness
  .github/workflows/mvp4-gate.yml
  server/src/conductor/deployment/deploymentGateService.ts
  server/src/gates/CitationGate.ts
  server/src/gates/migrationGates.ts
  server/src/runtime/gateHealth.ts
  server/src/server_entry.ts
  server/src/services/graphrag/citation-gate.ts
  server/tests/gates/citation-gate.test.ts
Due: prettier --write

feat: add read-only explainability API
  server/src/explainability/ExplainabilityExplorerService.ts
  server/src/explainability/types.ts
  server/src/routes/explainability-explorer.ts
Due: none

feat: enforce api auth and rbac protections
  .github/workflows/ci.yml
  apps/api/src/app.ts
  apps/api/src/middleware/security.ts
  apps/api/src/routes/actions/execute.ts
  apps/api/src/routes/actions/preflight.ts
  apps/api/src/routes/epics/index.ts
  apps/api/src/routes/receipts/get.ts
  apps/api/src/routes/review/index.ts
  apps/api/src/services/PolicyDecisionStore.ts
  apps/api/tests/auth-and-rbac.e2e.spec.ts
Due: prettier --write

feat: add GRC compliance export
  server/migrations/021_grc_compliance_export.sql
  server/src/integrations/grc/grc-export.service.ts
  server/src/routes/grc-export.ts
Due: none

feat: strengthen webauthn and deduplication flows
  intelgraph/client/src/components/DeduplicationInspector.jsx
  intelgraph/client/src/components/DeduplicationInspector.test.jsx
  intelgraph/server/src/services/SimilarityService.js
  intelgraph/server/src/services/__tests__/SimilarityService.benchmark.test.js
  package.json
  pnpm-lock.yaml
  src/auth/webauthn/WebAuthnManager.ts
  tests/auth/WebAuthnManager.test.mts
Due: prettier --write

feat: add provenance explorer UI
  client/src/components/explainability/RunComparisonView.tsx
  client/src/components/explainability/RunDetailView.tsx
  client/src/components/explainability/RunTimeline.tsx
Due: none

docs: define agent capability and audit models
  docs/agents/AUDIT_MODEL.md
  docs/agents/CAPABILITY_MODEL.md
Due: prettier --write

feat: add transparency report generator
  scripts/generate-transparency-report.ts
Due: none

feat: add explainability CLI
  cli/src/commands/explain.ts
Due: none

feat: add centralized agent limits and budgets
  agents/registry.yaml
  server/src/agents/limits/EnforcementEngine.ts
Due: none

feat: add agent audit logging
  server/src/agents/audit/AgentAuditLogger.ts
Due: none

test: verify integrations and redaction
  test/verification/integrations.node.test.ts
Due: none

test: verify explainability and redaction
  test/verification/explainability.node.test.ts
Due: none

feat: enforce policy and approval hooks
  server/src/agents/policy/PolicyHooks.ts
Due: none

ci: enforce ecosystem export checks
  .github/workflows/ci.yml
Due: prettier --write

docs: add explainability evidence pack
  docs/explainability/EVIDENCE_EXPLAINABILITY.md
Due: prettier --write

ops: add agent revocation and kill-switch
  scripts/revoke-agent.ts
Due: none

test: verify agent governance enforcement
  test/verification/agent-governance.node.test.ts
Due: none

docs: add ecosystem integration evidence pack
  docs/integrations/EVIDENCE_ECOSYSTEM.md
Due: prettier --write

docs: add agent governance evidence pack
  docs/agents/EVIDENCE_AGENT_GOVERNANCE.md
Due: prettier --write

docs: define predictive analytics contract
  docs/analytics/PREDICTIVE_MODEL_CONTRACT.md
Due: prettier --write

feat: add governed predictive engine
  server/src/analytics/engine/PredictiveExecutionEngine.ts
  server/src/analytics/engine/index.ts
  server/src/analytics/engine/types.ts
Due: none

docs: define agent negotiation protocol
  docs/agents/NEGOTIATION_PROTOCOL.md
Due: prettier --write

feat: add negotiation runtime with policy hooks
  server/src/agents/negotiation/NegotiationRuntime.ts
  server/src/agents/negotiation/index.ts
  server/src/agents/negotiation/types.ts
Due: none

feat: add trust and confidence scoring
  docs/agents/TRUST_MODEL.md
  server/src/agents/trust/TrustScoringService.ts
  server/src/agents/trust/index.ts
  server/src/agents/trust/types.ts
Due: prettier --write

test: verify predictive and negotiation governance
  test/verification/negotiation.node.test.ts
  test/verification/predictive.node.test.ts
Due: none

docs: add predictive/negotiation evidence pack
  docs/analytics/EVIDENCE_PREDICTIVE_NEGOTIATION.md
Due: prettier --write

test: significantly expand test coverage across codebase
  apps/api/src/services/__tests__/EpicService.test.ts
  apps/server/src/scoreboard/__tests__/scoreboardService.expanded.test.ts
  apps/server/src/security/__tests__/validation.test.ts
  packages/advanced-caching/src/__tests__/MultiTierCache.comprehensive.test.ts
  server/src/analytics/anomalies/__tests__/AnomalyDetector.comprehensive.test.ts
Due: eslint --fix --max-warnings=0 --cache

feat: wire explainability API to real data sources
  server/src/db/migrations/postgres/20251231_explainable_runs.sql
  server/src/explainability/ExplainabilityExplorerService.ts
Due: none

feat: add SIEM export for explainability data
  server/src/integrations/SIEMExportService.ts
  server/src/routes/explainability-exports.ts
Due: none

feat: add GRC integration and transparency reports
  server/src/integrations/GRCIntegrationService.ts
  server/src/services/TransparencyReportService.ts
Due: none

fix: complete critical unfinished work across codebase
  CLAUDE_PROGRESS.md
  TODO.md
  apps/gateway/src/routes/search.ts
  apps/web/src/sync/history-explain-bridge.ts
  apps/web/tests/tri-pane-view.spec.ts
  intelgraph/server/src/services/SimilarityService.js
  packages/extensions/src/loader.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add ga operator handbook and runbooks
  README.md
  docs/ga/OPERATOR_HANDBOOK.md
  docs/ga/RUNBOOKS.md
Due: prettier --write

ci: add accessibility keyboard smoke gate
  .github/workflows/a11y-keyboard-smoke.yml
  agent-contract.json
  docs/ga/GATE_POLICY.md
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  e2e/README.md
  e2e/a11y-keyboard/a11y-gate.spec.ts
  e2e/a11y-keyboard/harness.ts
  ops/gates/gates.yaml
  package.json
  playwright.a11y-keyboard.config.ts
  reports/a11y-keyboard/README.md
Due: prettier --write
