Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Implement BULWARK cyber defense controls (#14224)
  docs/cyber/cybint_bulwark_roadmap.md
  packages/cybint-bulwark/jest.config.cjs
  packages/cybint-bulwark/package.json
  packages/cybint-bulwark/src/__tests__/bulwark.test.ts
  packages/cybint-bulwark/src/index.ts
  packages/cybint-bulwark/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add flow governance guardrails toolkit (#14223)
  docs/THROUGHPUT_TOIL_EXECUTION_PLAYBOOK.md
  packages/flow-governance/__tests__/flow-governance.test.ts
  packages/flow-governance/package.json
  packages/flow-governance/src/flow-metrics.ts
  packages/flow-governance/src/guardrails.ts
  packages/flow-governance/src/index.ts
  packages/flow-governance/src/reporting.ts
  packages/flow-governance/src/types.ts
  packages/flow-governance/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Implement forward defense orchestration module (#14222)
  src/security/ForwardDefenseOrchestrator.ts
  tasks/task-set-2-advanced-epics.md
  tests/forwardDefenseOrchestrator.test.ts
Due: prettier --write

Harden extension runtime and installs (#14220)
  docs/ecosystem_extensibility_execution_plan.md
  packages/extensions/cli.ts
  packages/extensions/package.json
  packages/extensions/src/__tests__/installer.spec.ts
  packages/extensions/src/__tests__/loader-policy.spec.ts
  packages/extensions/src/__tests__/sandbox-runner.spec.ts
  packages/extensions/src/compatibility.ts
  packages/extensions/src/health.ts
  packages/extensions/src/installer.ts
  packages/extensions/src/loader.ts
  packages/extensions/src/observability.ts
  packages/extensions/src/policy/static-validator.ts
  packages/extensions/src/registry.ts
  packages/extensions/src/sandbox/sandbox-runner.ts
  packages/extensions/src/sandbox/sandbox-worker.ts
  packages/extensions/vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Implement multi-region governance routing and locality enforcement (#14218)
  docs/GLOBAL_MULTI_REGION_PROGRAM.md
  server/src/cross-border/__tests__/multi-region-governance.test.ts
  server/src/cross-border/index.ts
  server/src/cross-border/multi-region-governance.ts
Due: prettier --write

Add golden path service scaffold tooling (#14197)
  docs/team_prompts_parallel.md
  packages/golden-path/__tests__/golden-path.test.ts
  packages/golden-path/package.json
  packages/golden-path/src/compliance/disclosurePack.ts
  packages/golden-path/src/generator.ts
  packages/golden-path/src/governance/residency.ts
  packages/golden-path/src/governance/retention.ts
  packages/golden-path/src/index.ts
  packages/golden-path/src/ingest/ingestService.ts
  packages/golden-path/src/observability/metrics.ts
  packages/golden-path/src/policy/abac.ts
  packages/golden-path/src/release/canaryController.ts
  packages/golden-path/src/supply-chain/sbom.ts
  packages/golden-path/src/types.ts
  packages/golden-path/template/.github/workflows/service-ci.yml
  packages/golden-path/template/Dockerfile
  packages/golden-path/template/Makefile
  packages/golden-path/template/README.md
  packages/golden-path/template/api/openapi.yaml
  packages/golden-path/template/cmd/server.ts
  packages/golden-path/template/configs/slo.yaml
  packages/golden-path/template/deploy/docker-compose.yml
  packages/golden-path/template/docs/runbook.md
  packages/golden-path/template/package.json
  packages/golden-path/template/tsconfig.json
  packages/golden-path/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: harden trust safety orchestration (#14193)
  ga-graphai/docs/trust_safety_master_orchestration.md
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/src/trustSafetyOrchestrator.ts
  ga-graphai/packages/meta-orchestrator/tests/trustSafetyOrchestrator.test.ts
Due: prettier --write

Add public health orchestration blueprint (#14192)
  docs/public_health_orchestration.md
Due: prettier --write

Implement competitive execution engine package (#14219)
  docs/competitive_execution_plan.md
  packages/competitive-execution/__tests__/competitive-execution.test.ts
  packages/competitive-execution/package.json
  packages/competitive-execution/src/index.ts
  packages/competitive-execution/tsconfig.json
  tsconfig.build.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add payments credit workflow to meta orchestrator (#14191)
  docs/intelgraph-master-orchestration-v14.md
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/tests/referenceWorkflows.test.ts
Due: prettier --write

feat: add audit verification to dpec cache (#14189)
  packages/dpec/src/cache.ts
  packages/dpec/src/index.ts
  packages/dpec/src/types.ts
  packages/dpec/test/dpec.spec.ts
Due: eslint --fix --max-warnings=0 --cache

Implement IntelGraph ingest pipeline orchestration (#14188)
  docs/intelgraph_master_orchestration.md
  packages/stream-processing/jest.config.cjs
  packages/stream-processing/package.json
  packages/stream-processing/src/index.ts
  packages/stream-processing/src/intelgraphPipeline.test.ts
  packages/stream-processing/src/intelgraphPipeline.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add edge orchestration playbook (#14187)
  docs/edge/intelgraph-master-orchestration.md
Due: prettier --write

Add IntelGraph multi-region readiness blueprint (#14186)
  docs/intelgraph-multi-region-readiness.md
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/src/multi-region-readiness.ts
  ga-graphai/packages/policy/tests/multi-region-readiness.test.ts
Due: prettier --write

Add partner marketplace master orchestration blueprint (#14185)
  docs/partner_marketplace_master_plan.md
Due: prettier --write

Add FinOps and GreenOps orchestration master plan (#14184)
  docs/finops-greenops/intelgraph-cost-greenops-master-orchestration.md
Due: prettier --write

Add MVP-3 GA epics 13-16 addendum (#14182)
  docs/MVP3_GA_Epics_13-16.md
Due: prettier --write

Add IntelGraph execution progress report (#14180)
  INTELGRAPH_EXECUTION_STATUS.md
Due: prettier --write

Add IntelGraph master orchestration plan (#14179)
  MASTER_ORCHESTRATION_PLAN.md
Due: prettier --write

Add black-cell orchestration blueprint (#14178)
  BLACK_CELL_ORCHESTRATION_PLAN.md
Due: prettier --write

Add master orchestration execution plan (#14177)
  INTELGRAPH_MASTER_ORCHESTRATION_PLAN.md
Due: prettier --write

Add IntelGraph execution progress tracker (#14176)
  EPIC_PROGRESS.md
Due: prettier --write

Streamline quickstart and automate API docs (#14171)
  .github/workflows/api-docs-sync.yml
  README.md
  docs/API_DOCUMENTATION.md
  docs/CODING_STANDARDS.md
  docs/CONTRIBUTOR_CHEATSHEET.md
  docs/MIGRATION-v2.0.0-to-MVP-3.md
  docs/ONBOARDING.md
  docs/ONBOARDING_WALKTHROUGH.md
  package.json
  scripts/generate-docs.sh
  scripts/quickstart.sh
  server/public/openapi.json
Due: prettier --write

feat: enhance meta orchestrator governance and routing (#14169)
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/meta-orchestrator/PLUGINS.md
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/tests/meta-orchestrator.test.ts
  ga-graphai/packages/meta-orchestrator/tests/promptIntegrity.test.ts
Due: prettier --write

Add MVP-3 GA epics and tasks (#14168)
  MVP3_GA_Epics_Tasks.md
Due: prettier --write

Add issue audit automation and report (#14167)
  ops/issue-audit/audit_issues.py
  ops/issue-audit/high-impact.md
Due: prettier --write

chore: capture dependency scan blockers (#14166)
  tech-debt/code-smells.md
  tech-debt/outdated.csv
Due: prettier --write

Add GitHub Projects automation and dashboard guide (#14165)
  .github/workflows/projects-sla.yml
  docs/process/projects-dashboard.md
Due: prettier --write

Add bug bash playbook and reporting tooling (#14164)
  docs/process/bug-bash-reports/README.md
  docs/process/bug-bash.md
  ops/bug-bash/report.ts
Due: prettier --write

Harden observability and SLO coverage (#14163)
  RUNBOOKS/observability.md
  docs/observability/prometheus-scrape-tuning.md
  docs/slo.md
  ga-graphai/packages/meta-orchestrator/src/metaContextOrchestrator.ts
  ga-graphai/packages/meta-orchestrator/src/telemetry.ts
  ops/grafana/dashboards/intelgraph-overview.json
  ops/observability/monitoring-stack/alertmanager.yml
  ops/observability/prometheus.yml
  ops/prometheus/observability-slo-rules.yaml
  packages/narrative-engine/package.json
  packages/narrative-engine/src/api/routes.ts
  packages/narrative-engine/src/core/SimulationEngine.ts
  packages/narrative-engine/src/telemetry.ts
  scripts/wait-for-stack.sh
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add security gate workflow and hardening docs (#14162)
  .github/workflows/security-gate.yml
  SECURITY/risk-change-log.md
  SECURITY/security-patch-release-playbook.md
  provenance/sample-provenance.intoto.jsonl
  server/src/middleware/__tests__/graphql-hardening-limits.test.ts
Due: prettier --write

Fix CI workflow definitions for golden path and lint/unit (#14161)
  .github/workflows/ci-golden-path.yml
  .github/workflows/ci-lint-and-unit.yml
Due: prettier --write

docs: expand onboarding and api guidance (#14160)
  docs/API_DOCUMENTATION.md
  docs/ONBOARDING.md
Due: prettier --write

Harden meta-router governance coverage (#14159)
  docs/BLACK_PROJECTS.md
  prompts/__tests__/prompt-integrity.test.ts
  prompts/capability-matrix.md
  prompts/meta-router.md
Due: prettier --write

Enhance golden-path observability dashboards and runbooks (#14158)
  RUNBOOKS/CI.md
  RUNBOOKS/golden-path-observability.md
  ops/alerts/golden-path-alerts.yml
  ops/observability/grafana/dashboards/golden-path-service-health.json
Due: prettier --write

docs: add immediate v2.0 hardening priorities (#14156)
  docs/roadmap.md
Due: prettier --write

Finalize v2.0.0 migration readiness and whitepaper gate (#14155)
  .ci/scripts/validate-whitepaper.js
  .github/workflows/release-train.yml
  CHANGELOG-v2.0.0.md
  docs/MIGRATION-v0.1-to-v2.0.md
  docs/ops/MIGRATION-COMMS-v0.1-to-v2.0.md
  docs/whitepaper/summit-architecture.md
  scripts/migration/upgrade-v0.1-to-v2.0.sh
Due: prettier --write

Add jest-dom matcher typings for client test suite (#14152)
  client/types/@testing-library/jest-dom/index.d.ts
Due: none

fix: add @ts-nocheck to newly merged files with type errors
  .claude/settings.local.json
  packages/mdm-core/src/types/domain.ts
  packages/mdm-core/src/types/master-record.ts
  packages/mdm-core/src/types/matching.ts
  packages/mdm-core/src/types/quality.ts
  packages/mdm-core/src/types/stewardship.ts
  packages/mdm-core/src/types/sync.ts
  runbooks/ci.md
  server/src/governance/litigation/ediscoveryExportService.ts
  server/src/gtm/claims-repository.ts
  server/src/gtm/types.ts
  server/src/jobs/ingest-docs.ts
  server/src/observability/reliability-metrics.ts
  server/src/trust-center/service.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
