Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

docs: expand abac step-up plan
  docs/identity-policy-abac-step-up-plan.md
Due: prettier --write

feat: enrich IntelCraft graph ingestion toolkit
  intelgraph/README.md
  intelgraph/__init__.py
  intelgraph/graph_analytics/core_analytics.py
  intelgraph/intelcraft/__init__.py
  intelgraph/intelcraft/integration.py
  intelgraph/tests/test_intelcraft_integration.py
  simulated_ingestion/ingestion_pipeline.py
Due: prettier --write

feat: integrate shared asset manager across systems
  packages/shared/asset-manager.ts
  services/data-quality/src/lineage-tracker.ts
  src/quantum/QuantumCrypto.ts
Due: none

chore: ignore devkit lockfiles
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  .envrc.template
  .evidence/reports/devkit-onboarding-report.md
  .evidence/reports/devkit-onboarding-timer.json
  .githooks/pre-push
  .github/workflows/devkit-smoke.yml
  .gitignore
  .prbodies/pr-11.md
  Makefile
  adr/0002-developer-ergonomics-dev-kit.md
  alertmanager/route-mc-v035.yml
  controllers/admission/k8s-cosign-verified.yaml
  dashboard/grafana/devkit-golden-path.json
  docker-compose.yml
  docs/developer-ergonomics-dev-kit.md
  local-dev/mock-services/notifications/Dockerfile
  local-dev/mock-services/notifications/package.json
  local-dev/mock-services/notifications/src/server.js
  local-dev/worker/Dockerfile
  local-dev/worker/package.json
  local-dev/worker/src/index.js
  observability/otel/local-config.yaml
  package.json
  policy/devkit/authz.rego
  policy/devkit/config.yaml
  scripts/devkit/onboarding-timer.sh
  scripts/devkit/seed-fixtures.js
  scripts/devkit/verify-provenance.sh
  server/db/fixtures/local-dev.json
  server/db/seeds/neo4j/dev-fixtures.cypher
  server/db/seeds/postgres/30_dev_fixtures.sql
  smoke-test.js
  synthetics/journeys/devkit-golden-path.yml
Due: prettier --write

feat: deliver railhead automation pack
  .gitignore
  config/railhead.inputs.example.yaml
  docs/railhead-pack.md
  gate-minimums.yaml
  scripts/railhead/_common.sh
  scripts/railhead/bootstrap.sh
  scripts/railhead/install-ci-workflow.sh
  scripts/railhead/load-governance.sh
  scripts/railhead/publish-artifacts.sh
  scripts/railhead/run-discovery.sh
  scripts/railhead/schedule-recurring.sh
  scripts/railhead/security-baseline.sh
  scripts/railhead/self-test.sh
  scripts/railhead/update_manifest.py
  templates/railhead-ci-workflow.yaml
Due: prettier --write

docs: add proof-first core ga sprint kit
  docs/project_management/proof-first-core-ga-sprint-kit.md
Due: prettier --write

docs: add comprehensive release summary for v0.4.5 Adaptive Quantum Excellence
  RELEASE_v0.4.5_SUMMARY.md
Due: prettier --write

chore: ignore psb sdk lockfile
  .gitattributes
  .gitignore
  sdk/psb-client/README.md
  sdk/psb-client/package.json
  sdk/psb-client/src/index.ts
  sdk/psb-client/tsconfig.json
  services/psb/README.md
  services/psb/cmd/psb/main.go
  services/psb/data/sample_dataset.json
  services/psb/fixtures/certificate.json
  services/psb/fixtures/request.json
  services/psb/fixtures/response.json
  services/psb/fixtures/sample.json
  services/psb/fixtures/vrf_private_key.hex
  services/psb/fixtures/vrf_public_key.hex
  services/psb/go.mod
  services/psb/go.sum
  services/psb/internal/files/files.go
  services/psb/internal/model/types.go
  services/psb/internal/policy/policy.go
  services/psb/internal/policy/policy_test.go
  services/psb/internal/sampler/sampler.go
  services/psb/internal/sampler/sampler_test.go
  services/psb/internal/server/server.go
  services/psb/internal/verifier/verifier.go
  services/psb/internal/verifier/verifier_test.go
  services/psb/internal/vrf/vrf.go
  services/psb/internal/vrf/vrf_test.go
Due: prettier --write

fix: replace wasm sample with text source
  .gitattributes
  .gitignore
  raewr/README.md
  raewr/keys/ed25519.json
  raewr/package.json
  raewr/policies/default-policy.json
  raewr/samples/add.wat
  raewr/src/attestation.ts
  raewr/src/chain.ts
  raewr/src/cli/raewr-verify.ts
  raewr/src/index.ts
  raewr/src/policy.ts
  raewr/src/runtime.ts
  raewr/src/sdk.ts
  raewr/src/types.ts
  raewr/tsconfig.json
Due: prettier --write

docs: expand merge-train readiness snapshot
  GREEN_TRAIN_STATUS_REPORT.md
Due: prettier --write

fix: prevent mstc lockfile regression
  .gitignore
  services/mstc/jest.config.cjs
  services/mstc/src/adapters/cws.ts
  services/mstc/src/adapters/ppc.ts
  services/mstc/src/adapters/rsr.ts
  services/mstc/src/builder.ts
  services/mstc/src/data/canon.ts
  services/mstc/src/index.ts
  services/mstc/src/types.ts
  services/mstc/src/utils.ts
  services/mstc/test/__snapshots__/adapter-cws-opioids.json
  services/mstc/test/__snapshots__/adapter-ppc-en-US.json
  services/mstc/test/__snapshots__/adapter-rsr-en-US.json
  services/mstc/test/__snapshots__/canon-ar-SA.json
  services/mstc/test/__snapshots__/canon-da-DK.json
  services/mstc/test/__snapshots__/canon-de-DE.json
  services/mstc/test/__snapshots__/canon-en-GB.json
  services/mstc/test/__snapshots__/canon-en-US.json
  services/mstc/test/__snapshots__/canon-es-ES.json
  services/mstc/test/__snapshots__/canon-es-MX.json
  services/mstc/test/__snapshots__/canon-fi-FI.json
  services/mstc/test/__snapshots__/canon-fr-CA.json
  services/mstc/test/__snapshots__/canon-fr-FR.json
  services/mstc/test/__snapshots__/canon-hi-IN.json
  services/mstc/test/__snapshots__/canon-it-IT.json
  services/mstc/test/__snapshots__/canon-ja-JP.json
  services/mstc/test/__snapshots__/canon-ko-KR.json
  services/mstc/test/__snapshots__/canon-nl-NL.json
  services/mstc/test/__snapshots__/canon-pt-BR.json
  services/mstc/test/__snapshots__/canon-pt-PT.json
  services/mstc/test/__snapshots__/canon-sv-SE.json
  services/mstc/test/__snapshots__/canon-zh-CN.json
  services/mstc/test/__snapshots__/canon-zh-TW.json
  services/mstc/test/__snapshots__/supported-locales.json
  services/mstc/test/run.cjs
Due: prettier --write

feat: enforce cve budgets and attestation gates
  ops/attest/README.md
  ops/attest/fixtures/release-manifest-blocked.json
  ops/attest/fixtures/release-manifest-pass.json
  ops/attest/image_attestation_gate.py
  ops/grafana/dashboards/supply-chain-risk.json
  ops/security/cve_budget/README.md
  ops/security/cve_budget/config.yaml
  ops/security/cve_budget/fixtures/sample-failing-build.txt
  ops/security/cve_budget/fixtures/sbom-conductor-api.json
  ops/security/cve_budget/fixtures/sbom-inference-worker.json
  ops/security/cve_budget/fixtures/sbom-reporting-api.json
  ops/security/cve_budget/fixtures/vuln-report-fail.json
  ops/security/cve_budget/fixtures/vuln-report-pass.json
  ops/security/cve_budget/gate.py
  policy/conftest/kubernetes_admission.rego
  policy/opa/README.md
  policy/opa/cve_budget.rego
  reports/security-weekly-2025-09-01.md
  runs/cve-budget-pass.json
  runs/release-blocked.json
  runs/release-pass.json
Due: prettier --write

feat: add canary rollout controller with auto rollback
  scripts/release/canary-rollback-playbook.sh
  services/release/canary/README.md
  services/release/canary/canaryManager.test.ts
  services/release/canary/canaryManager.ts
  services/release/canary/healthScorer.ts
  services/release/canary/types.ts
Due: prettier --write

feat: establish data spine governance toolkit
  .github/workflows/data-spine-governance.yml
  docs/adr/ADR-0001-data-spine.md
  docs/audits/data-residency-audit.md
  services/data-spine/README.md
  services/data-spine/bin/data-spine.js
  services/data-spine/contracts/customer-profile/1.0.0/schema.json
  services/data-spine/contracts/customer-profile/1.1.0/schema.json
  services/data-spine/contracts/transaction-events/1.0.0/schema.avsc
  services/data-spine/lineage/snapshots/mvp.json
  services/data-spine/package.json
  services/data-spine/reports/residency-audit.json
  services/data-spine/src/cli.js
  services/data-spine/src/constants.js
  services/data-spine/src/index.js
  services/data-spine/src/lineageSink.js
  services/data-spine/src/policyHooks.js
  services/data-spine/src/schemaRegistry.js
  services/data-spine/src/tokenization.js
  services/data-spine/test/lineageSink.test.js
  services/data-spine/test/policyHooks.test.js
  services/data-spine/test/schemaRegistry.test.js
Due: prettier --write

docs: outline observability first telemetry program
  docs/observability-first-plan.md
Due: prettier --write

feat: add AFL Store module and Kubernetes manifest
  deploy/k8s/afl-store.yaml
  deploy_maestro.sh
  packages/afl-store/package.json
  packages/afl-store/src/index.ts
  packages/afl-store/src/types.ts
  packages/afl-store/tests/afl.spec.ts
  packages/afl-store/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Gateway Tariff module
  packages/gateway-tariff/package.json
  packages/gateway-tariff/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add AER Ledger module, UI components, and Kubernetes manifest
  apps/web/public/js/aer-badge.js
  apps/web/src/components/AERBadge.tsx
  deploy/k8s/aer-ledger.yaml
  packages/aer-ledger/Dockerfile
  packages/aer-ledger/package.json
  packages/aer-ledger/src/cli.ts
  packages/aer-ledger/src/crypto.ts
  packages/aer-ledger/src/server.ts
  packages/aer-ledger/src/types.ts
  packages/aer-ledger/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add CRSP module
  packages/crsp/package.json
  packages/crsp/src/index.ts
  packages/crsp/src/types.ts
  packages/crsp/tests/crsp.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Adaptive Tariff Learner (ATL) module
  deploy_maestro.sh
  packages/atl/package.json
  packages/atl/src/index.ts
  packages/atl/tests/atl.spec.ts
  packages/atl/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add HIT Reputation Network (HRN) module
  deploy_maestro.sh
  packages/hrn/package.json
  packages/hrn/src/index.ts
  packages/hrn/tests/hrn.spec.ts
  packages/hrn/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Active Deception & Counterdrop (ADC) module
  packages/adc/package.json
  packages/adc/src/index.ts
  packages/adc/tests/adc.spec.ts
  packages/adc/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Continuous Forensics Agent / Temporal Drift Watcher (CFA/TDW) module
  packages/cfa-tdw/package.json
  packages/cfa-tdw/src/index.ts
  packages/cfa-tdw/tests/cfa-tdw.spec.ts
  packages/cfa-tdw/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Graph-Backed Deception Reconcilers (GDR) module
  packages/gdr/package.json
  packages/gdr/src/index.ts
  packages/gdr/tests/gdr.spec.ts
  packages/gdr/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: update deployment configurations and CI workflow for new modules
  deploy/k8s/networkpolicies.yaml
  packages/hrn/package.json
  packages/hrn/src/index.ts
  packages/hrn/tests/hrn.spec.ts
  packages/hrn/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: wire new modules into Agent Gateway
  packages/agent-gateway/src/dissent/gate.ts
  packages/agent-gateway/src/export/lreg.ts
  packages/agent-gateway/src/ingest/pipeline.ts
  packages/agent-gateway/src/middleware/tariff.ts
Due: eslint --fix --max-warnings=0 --cache

feat: add gatekeeper policy linter
  tools/__init__.py
  tools/gatekeeper/__init__.py
  tools/gatekeeper/__main__.py
  tools/gatekeeper/cli.py
  tools/gatekeeper/lint.py
  tools/gatekeeper/reporting.py
  tools/gatekeeper/tests/test_cli.py
Due: none

docs: outline ghostkey jira ticket plan
  tools/ghostkey/jira_tickets.md
Due: prettier --write

feat(docforge): add deterministic docs generator
  .gitignore
  jest.config.cjs
  package.json
  tools/docforge/__tests__/__fixtures__/broken_site/index.html
  tools/docforge/__tests__/__fixtures__/golden/adr-adr-0001-adopt-docforge.html
  tools/docforge/__tests__/__fixtures__/golden/index.html
  tools/docforge/__tests__/__fixtures__/golden/module-pcbo__engine_go.html
  tools/docforge/__tests__/__fixtures__/golden/module-src__analytics_js.html
  tools/docforge/__tests__/__fixtures__/golden/module-tools__report_py.html
  tools/docforge/__tests__/__fixtures__/golden/search-index.json
  tools/docforge/__tests__/__fixtures__/golden/sitemap.xml
  tools/docforge/__tests__/__fixtures__/golden/version-index.html
  tools/docforge/__tests__/__fixtures__/golden/versions.json
  tools/docforge/__tests__/__fixtures__/sample_repo/docs/adr/0001-use-docforge.md
  tools/docforge/__tests__/__fixtures__/sample_repo/package.json
  tools/docforge/__tests__/__fixtures__/sample_repo/pcbo/engine.go
  tools/docforge/__tests__/__fixtures__/sample_repo/src/analytics.js
  tools/docforge/__tests__/__fixtures__/sample_repo/tools/report.py
  tools/docforge/__tests__/__fixtures__/valid_site/docs/page.html
  tools/docforge/__tests__/__fixtures__/valid_site/index.html
  tools/docforge/__tests__/build.test.js
  tools/docforge/__tests__/linkcheck.test.js
  tools/docforge/cli.js
  tools/docforge/src/build.js
  tools/docforge/src/collect-adr.js
  tools/docforge/src/extractors/go.js
  tools/docforge/src/extractors/js.js
  tools/docforge/src/extractors/python.js
  tools/docforge/src/fs-utils.js
  tools/docforge/src/linkcheck.js
  tools/docforge/src/markdown.js
  tools/docforge/src/sanitizers.js
  tools/docforge/src/search.js
  tools/docforge/src/sitemap.js
  tools/docforge/src/templates.js
  tools/docforge/src/text.js
Due: prettier --write

feat: add migratevet sql migration linter
  tools/migratevet/__init__.py
  tools/migratevet/cli.py
  tools/migratevet/models.py
  tools/migratevet/postgres_rules.py
  tools/migratevet/scanner.py
  tools/migratevet/tests/fixtures/postgres/bad/001_risky_ops.sql
  tools/migratevet/tests/fixtures/postgres/good/001_create_table.sql
  tools/migratevet/tests/test_cli.py
Due: none

feat: polish devkit docs and smoke telemetry
  .github/ISSUE_TEMPLATE/dev_environment.yml
  docs/ENV_VARS.md
  docs/TROUBLESHOOTING.md
  docs/devkit-local-development.md
  tools/devkit/smoke.js
Due: prettier --write

docs(ratelaw): define jira plan for dsl compiler
  tools/ratelaw/JIRA_TICKETS.md
Due: prettier --write

feat: add Federated Zero-Trust Relay (FZTR) module
  packages/fztr-relay/Dockerfile
  packages/fztr-relay/package.json
  packages/fztr-relay/src/index.ts
  packages/fztr-relay/tests/fztr-relay.spec.ts
  packages/fztr-relay/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
