Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

fix: correct vitest setup file path in web app config
  apps/web/vite.config.ts
Due: none

test(server): enable BulkOperationService skipped tests with proper mocking
  server/src/bulk/__tests__/BulkOperationService.test.ts
Due: none

fix(streaming-ingest): resolve TypeScript errors with proper module resolution
  pnpm-lock.yaml
  services/streaming-ingest/pnpm-lock.yaml
  services/streaming-ingest/tsconfig.json
Due: prettier --write

docs(ga): add salvage ledger tracking closed PRs and tech debt recovery
  docs/ga/SALVAGE_FROM_CLOSED_PRS.md
Due: prettier --write

fix: resolve React duplicate instance and import path issues
  apps/web/src/components/ui/__snapshots__/design-system.snap.test.tsx.snap
  pnpm-lock.yaml
  server/src/graphql/resolvers/legacy.ts
Due: none

fix: add missing semicolon in storage.ts to prevent ASI issue
  apps/web/src/features/workspaces/storage.ts
Due: none

docs(architecture): introduce intelligence foundry spec, comparisons, and moat narrative
  agents/examples/intelligence-foundry-docs.task.json
  docs/adr/ADR-021-intelligence-foundry.md
  docs/architecture/comparisons/adobe-firefly-foundry-vs-summit.md
  docs/architecture/intelligence-foundry/API_CONTRACTS.md
  docs/architecture/intelligence-foundry/DATA_MODEL.md
  docs/architecture/intelligence-foundry/EVIDENCE_ATTESTATIONS.md
  docs/architecture/intelligence-foundry/OPERATING_MODEL.md
  docs/architecture/intelligence-foundry/README.md
  docs/architecture/intelligence-foundry/ROADMAP.md
  docs/architecture/intelligence-foundry/SPEC.md
  docs/architecture/intelligence-foundry/THREAT_MODEL.md
  docs/architecture/narratives/investor_moat_narrative.md
  docs/roadmap/STATUS.json
  prompts/docs/intelligence-foundry-docs@v1.md
  prompts/registry.yaml
Due: prettier --write

fix: improve error fingerprint normalization for consistent grouping
  apps/web/src/telemetry/__tests__/metrics.test.ts
  apps/web/src/telemetry/metrics.ts
Due: none

fix: add body to draft before saving in annotations test
  apps/web/src/features/annotations/annotationsSlice.test.ts
Due: none

feat: add media provenance governance and tooling
  .github/workflows/ci-verify.yml
  COMPLIANCE_CONTROLS.md
  COMPLIANCE_EVIDENCE_INDEX.md
  agent-contract.json
  agents/examples/MEDIA_PROVENANCE_V1.json
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/MVP4_GA_EVIDENCE_MAP.md
  docs/ga/verification-map.json
  docs/governance/media_provenance.md
  docs/roadmap/STATUS.json
  packages/cli/package.json
  packages/cli/src/commands/media.ts
  packages/cli/src/index.ts
  packages/cli/src/media/__tests__/provenance.test.ts
  packages/cli/src/media/provenance.ts
  prompts/governance/media-provenance@v1.md
  prompts/registry.yaml
  scripts/ci/verify_media_provenance.ts
  testing/ga-verification/ga-features.ga.test.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: register drift gate prompt
  agents/examples/graph-postgres-drift-gate.json
  config/governance/drift.yml
  docs/ops/graph-postgres-drift.md
  docs/roadmap/STATUS.json
  prompts/governance/graph-postgres-drift-gate.md
  prompts/registry.yaml
  schemas/gates/graph-postgres-drift-report.schema.json
  scripts/ci/__tests__/graph_postgres_drift_check.test.mjs
  scripts/ci/graph_postgres_drift_check.mjs
Due: prettier --write

feat(security): integrate OPA-backed ABAC with rich mission context
  server/scripts/verify-ga-security.ts
  server/src/services/AccessControl.ts
  server/src/services/PolicyService.ts
  server/src/services/__tests__/PolicyService.test.ts
Due: none

fix: update eslint config to flat format in designTokenLintRule test
  apps/web/src/__tests__/designTokenLintRule.test.ts
Due: none

feat(security): implement ABAC authorization for REST routes and expand integration tests
  server/src/middleware/auth.ts
  server/src/routes/influence-operations.ts
  server/src/services/__tests__/gnn-db-ac.integration.test.ts
Due: none

chore: bump version to 1.1.0 for GA security release
  server/package.json
Due: prettier --write

fix: add Worker mock for CanvasGraphRenderer test
  apps/web/src/graphs/__tests__/CanvasGraphRenderer.test.tsx
Due: none

fix: correct ESLint selector for design token restrictions
  apps/web/tools/eslint/design-token-restrictions.js
Due: none

fix: use correct preset defaults for panel migration
  .dockerignore
  apps/web/src/features/workspaces/storage.ts
  docker-compose.yml
  server/Dockerfile
  server/Dockerfile.dev
  services/api-gateway/Dockerfile
Due: none

feat(forecasting): harden mass-behavior-dynamics with psychographic agents and SEIRS models
  packages/mass-behavior-dynamics/src/index.ts
  packages/mass-behavior-dynamics/src/models/cognitive-agent.ts
  packages/mass-behavior-dynamics/src/simulation/agent-based-simulator.ts
  server/src/resolvers/advancedML.ts
  server/src/services/BehavioralFingerprintService.ts
  server/src/services/CIBDetectionService.ts
  server/src/services/GNNService.ts
  server/src/services/InfluenceOperationsService.ts
  server/src/services/NarrativeForecastingService.ts
  server/src/services/__tests__/forecasting-simulation.integration.test.ts
Due: eslint --fix --max-warnings=0 --cache

fix: resolve multiple test failures and missing components
  apps/web/src/components/__tests__/ErrorBoundary.test.tsx
  apps/web/src/components/ui/RadioGroup.tsx
  apps/web/src/features/workflow/workflow.e2e.ts
Due: none

fix: update ErrorBoundary.spec assertion to include context parameter
  apps/web/src/components/error/ErrorBoundary.spec.tsx
  perf/k6/graphql-slo.js
  services/api-gateway/src/resolvers.ts
  services/api-gateway/src/schema.ts
Due: none

fix: skip TriPaneShell tests pending infrastructure work
  apps/web/src/features/triPane/TriPaneShell.new.test.tsx
  apps/web/src/features/triPane/TriPaneShell.test.tsx
  apps/web/src/features/triPane/mockData.ts
Due: none

fix: update test assertions and skip flaky tests
  apps/web/src/components/error/__tests__/ErrorBoundary.test.tsx
  apps/web/src/panes/__tests__/MapPane.test.tsx
Due: none

fix: fix require path alias in error boundary tests
  apps/web/src/components/error/__tests__/DataFetchErrorBoundary.test.tsx
  apps/web/src/components/error/__tests__/MutationErrorBoundary.test.tsx
Due: none

chore: bump version to v5.0.1 for GA release
  package.json
Due: prettier --write

fix: fix integration error-boundaries test require path
  apps/web/src/__tests__/integration/error-boundaries.test.tsx
Due: none

test: skip flaky async tests for stability
  apps/web/src/__tests__/PromptActivityMonitor.test.tsx
  apps/web/src/__tests__/accessibility/landmarkKeyboardFlow.test.tsx
  apps/web/src/components/__tests__/MaestroRunConsole.test.tsx
  apps/web/src/features/annotations/AnnotationPanel.test.tsx
  apps/web/src/pages/dashboards/CommandCenterDashboard.test.tsx
Due: none

fix: skip flaky tests pending infrastructure fixes
  apps/web/src/features/review-queue/__tests__/ReviewQueuePage.test.tsx
Due: none

fix(ci): repair ci template and health monitor workflows
  .github/workflows/ci-health-monitor.yml
  .github/workflows/ci-template-optimized.yml
Due: prettier --write

docs(ga): add salvage ledger for closed PR recreation
  docs/ga/SALVAGE_FROM_CLOSED_PRS.md
Due: prettier --write

docs(ga): update salvage ledger with completed branches
  docs/ga/SALVAGE_FROM_CLOSED_PRS.md
Due: prettier --write

chore: add pr lifecycle reporting artifacts
  agents/examples/pr-lifecycle-report-task.json
  docs/pr-lifecycle-report.md
  docs/roadmap/STATUS.json
  prompts/governance/pr-lifecycle-report.md
  prompts/registry.yaml
  scripts/pr-lifecycle-report.mjs
Due: prettier --write

chore(ga): enforce verification map ordering
  AGENT_ACTIVITY.md
  TASK_BACKLOG.md
  agent-contract.json
  agents/examples/ga-verification-map-ordering-task.json
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  prompts/ga/verification-map-ordering@v1.md
  prompts/registry.yaml
  scripts/ga/verify-ga-surface.mjs
Due: prettier --write

fix: resolve server test failures and add missing mocks
  server/jest.config.ts
  server/src/canonical/entities/Intelligence.ts
  server/src/conductor/deployment/deploymentGateService.ts
  server/src/tests/deploymentGateService.test.ts
  server/tests/mocks/connector-sdk.ts
  server/tests/mocks/mysql2.ts
  server/tests/mocks/osint-collector-types.ts
  server/tests/mocks/osint-collector.ts
  server/tests/mocks/provenance-ledger.ts
Due: none

chore: bump version to v5.0.2 for GA release
  package.json
Due: prettier --write

docs(release): add draft PR promotion runbook and session reports
  docs/draft-promotion-reports/DRAFTS_SUMMARY_2026-01-27.md
  docs/draft-promotion-reports/SESSION_2026-01-27_0315.md
  docs/draft-promotion-reports/TRIAGE_2026-01-27.md
  docs/runbooks/draft-pr-promotion.md
  scripts/gh/draft_promotion_report.mjs
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
