Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(streaming): add event-time compliance window enforcer
  streaming/etcwe/go.mod
  streaming/etcwe/operator.go
  streaming/etcwe/operator_test.go
Due: none

feat: add rtgh governance gate fuzzer
  tools/__init__.py
  tools/rtgh/__init__.py
  tools/rtgh/adapters.py
  tools/rtgh/cli.py
  tools/rtgh/config.py
  tools/rtgh/grammar.py
  tools/rtgh/harness.py
  tools/rtgh/mutators.py
  tools/rtgh/report.py
  tools/rtgh/tests/test_harness.py
Due: none

feat: Further enhance metamorphic testing with diverse consent/license transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: launch Topicality Collective marketing microsites
  web/brands/companyos.html
  web/brands/intelgraph.html
  web/brands/koshchei.html
  web/brands/mc.html
  web/brands/stribog.html
  web/brands/summi7.html
  web/brands/summit-co.html
  web/brands/topicality-co.html
  web/brands/topicality-llc.html
  web/index.html
  web/script.js
  web/styles.css
Due: prettier --write

docs: add legal agreements to onboarding
  docs/ONBOARDING.md
  docs/legal/AGREEMENTS_TEMPLATES.md
Due: prettier --write

feat: add djce-pb join risk estimator
  bindings/djce-pb/.gitignore
  bindings/djce-pb/README.md
  bindings/djce-pb/native/.gitkeep
  bindings/djce-pb/package.json
  bindings/djce-pb/src/index.ts
  bindings/djce-pb/src/types.ts
  bindings/djce-pb/tsconfig.json
  djce-pb/.gitignore
  djce-pb/Cargo.lock
  djce-pb/Cargo.toml
  djce-pb/README.md
  djce-pb/src/bindings.rs
  djce-pb/src/bloom.rs
  djce-pb/src/hash.rs
  djce-pb/src/lib.rs
  djce-pb/src/minhash.rs
  djce-pb/src/report.rs
  djce-pb/src/sketch.rs
Due: prettier --write

feat: add policy-aware pacdc replicator
  services/pacdc/README.md
  services/pacdc/cmd/pacdc/main.go
  services/pacdc/go.mod
  services/pacdc/go.sum
  services/pacdc/pkg/config/config.go
  services/pacdc/pkg/manifest/manifest.go
  services/pacdc/pkg/policy/engine.go
  services/pacdc/pkg/replicator/replicator.go
  services/pacdc/pkg/replicator/replicator_test.go
  services/pacdc/pkg/source/fake.go
  services/pacdc/pkg/source/postgres.go
  services/pacdc/pkg/target/bigquery.go
  services/pacdc/pkg/target/s3.go
  services/pacdc/pkg/target/storage.go
  services/pacdc/pkg/tooling/backfill.go
Due: prettier --write

feat: Further enhance metamorphic testing with diverse retention-based transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: add data lease controller service
  sdk/python/dlc_client/README.md
  sdk/python/dlc_client/dlc_client/__init__.py
  sdk/python/dlc_client/dlc_client/client.py
  sdk/python/dlc_client/pyproject.toml
  sdk/ts/dlc-client/README.md
  sdk/ts/dlc-client/package.json
  sdk/ts/dlc-client/src/index.ts
  sdk/ts/dlc-client/tsconfig.json
  services/dlc/Cargo.lock
  services/dlc/Cargo.toml
  services/dlc/src/bin/reconciler.rs
  services/dlc/src/bin/server.rs
  services/dlc/src/engine.rs
  services/dlc/src/events.rs
  services/dlc/src/lib.rs
  services/dlc/src/store.rs
  services/dlc/src/types.rs
  services/dlc/state/.gitkeep
  services/dlc/tests/lease_engine.rs
Due: prettier --write

feat: Further enhance metamorphic testing with diverse user role and network condition transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: add attested dataset delivery network
  services/addn/cmd/addn-server/main.go
  services/addn/cmd/addn-verifier/main.go
  services/addn/go.mod
  services/addn/go.sum
  services/addn/internal/cache/cache.go
  services/addn/internal/cache/cache_test.go
  services/addn/pkg/addn/types.go
  services/addn/pkg/addn/verify.go
Due: none

feat: add policy-gated vector router
  pgvr/Cargo.lock
  pgvr/Cargo.toml
  pgvr/fixtures/sample-fixture.json
  pgvr/src/backend.rs
  pgvr/src/bin/pgvr-cli.rs
  pgvr/src/error.rs
  pgvr/src/fixtures.rs
  pgvr/src/lib.rs
  pgvr/src/policy.rs
  pgvr/src/router.rs
  pgvr/src/types.rs
  pgvr/tests/recall.rs
  sdk/typescript/pgvr/package.json
  sdk/typescript/pgvr/src/index.ts
  sdk/typescript/pgvr/tests/pgvr.test.ts
  sdk/typescript/pgvr/tsconfig.json
Due: prettier --write

feat: Further enhance metamorphic testing with diverse data classification and purpose-based transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: add PII-free prompt tracer package
  apps/intelgraph-api/package.json
  package.json
  packages/pfpt/.gitignore
  packages/pfpt/fixtures/mixed-prompts.json
  packages/pfpt/package.json
  packages/pfpt/src/diff.ts
  packages/pfpt/src/formatter.ts
  packages/pfpt/src/index.ts
  packages/pfpt/src/loader.ts
  packages/pfpt/src/node-shims.d.ts
  packages/pfpt/src/prompt.ts
  packages/pfpt/src/redaction.ts
  packages/pfpt/src/risk.ts
  packages/pfpt/src/types.ts
  packages/pfpt/src/utils.ts
  packages/pfpt/test/pfpt.spec.mjs
  packages/pfpt/tsconfig.build.json
  packages/pfpt/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Further enhance metamorphic testing with diverse policy transformations
  policy-fuzzer/metamorphic_tester.py
Due: none

feat: advance companyos patent intelligence
  server/src/services/CompanyOSPatentService.ts
  server/src/tests/services/CompanyOSPatentService.test.ts
Due: none

refactor: streamline clsl stress lab
  .gitignore
  tools/clsl/README.md
  tools/clsl/clsl/__init__.py
  tools/clsl/clsl/cli.py
  tools/clsl/clsl/config.py
  tools/clsl/clsl/dataset.py
  tools/clsl/clsl/detectors.py
  tools/clsl/clsl/evaluator.py
  tools/clsl/clsl/reporting.py
  tools/clsl/clsl/transforms.py
  tools/clsl/clsl/utils.py
  tools/clsl/configs/sample.json
  tools/clsl/requirements.txt
  tools/clsl/run.ts
  tools/clsl/sample_data/dataset.json
  tools/clsl/sample_data/plain.txt
  tools/clsl/sample_data/watermarked.claim.json
  tools/clsl/sample_data/watermarked.txt
  tools/clsl/tests/test_pipeline.py
Due: prettier --write

feat: add FHE micro-analytics service and client
  sdk/typescript/fhem-client/package.json
  sdk/typescript/fhem-client/src/index.ts
  sdk/typescript/fhem-client/tests/golden.test.ts
  sdk/typescript/fhem-client/tsconfig.json
  services/fhem/Cargo.lock
  services/fhem/Cargo.toml
  services/fhem/fhem-core/Cargo.toml
  services/fhem/fhem-core/benches/throughput.rs
  services/fhem/fhem-core/src/bin/fhem-cli.rs
  services/fhem/fhem-core/src/engine.rs
  services/fhem/fhem-core/src/error.rs
  services/fhem/fhem-core/src/keys.rs
  services/fhem/fhem-core/src/lib.rs
  services/fhem/fhem-core/src/metrics.rs
  services/fhem/fhem-core/src/operations.rs
  services/fhem/fhem-core/tests/golden.rs
  services/fhem/fhem-server/Cargo.toml
  services/fhem/fhem-server/src/main.rs
Due: prettier --write

feat: implement remote forensic capture pipelines
  server/src/conductor/incident/response-engine.ts
Due: none

feat: Implement basic feedback-driven fuzzing with coverage analysis and recommendations
  policy-fuzzer/main.py
Due: none

feat: Implement policy mutation capabilities in fuzzer
  policy-fuzzer/policy_generator.py
Due: none

feat: add osrp rollout planner and dashboard
  services/osrp/cmd/osrp/main.go
  services/osrp/config/default.json
  services/osrp/fixtures/rollout_failure.json
  services/osrp/fixtures/rollout_success.json
  services/osrp/fixtures/test-ed25519-priv.key
  services/osrp/go.mod
  services/osrp/go.sum
  services/osrp/internal/plan/bayesian.go
  services/osrp/internal/plan/planner.go
  services/osrp/internal/plan/planner_test.go
  services/osrp/internal/plan/signer.go
  services/osrp/internal/plan/types.go
  web/osrp-dashboard/README.md
  web/osrp-dashboard/fixtures/rollout_failure_manifest.json
  web/osrp-dashboard/fixtures/rollout_success_manifest.json
  web/osrp-dashboard/package.json
  web/osrp-dashboard/src/index.ts
  web/osrp-dashboard/src/manifest.ts
  web/osrp-dashboard/src/view-model.ts
  web/osrp-dashboard/test/dashboard.test.ts
  web/osrp-dashboard/tsconfig.json
Due: prettier --write

feat: add consent-aware dataflow compiler
  acdc/Cargo.lock
  acdc/Cargo.toml
  acdc/README.md
  acdc/src/dsl.rs
  acdc/src/lib.rs
  acdc/src/main.rs
  acdc/src/planner.rs
  acdc/src/policy.rs
  acdc/src/signing.rs
  acdc/src/simulator.rs
  samples/acdc/consent.json
  samples/acdc/demo.dsl
  samples/acdc/policy.json
  tools/acdc-cli/package.json
  tools/acdc-cli/src/index.ts
  tools/acdc-cli/tsconfig.json
Due: prettier --write

feat: add mpes multi-party enclave runner
  mpes/go.mod
  mpes/policy.go
  mpes/runner.go
  mpes/runner_test.go
  mpes/sandbox.go
  mpes/signing.go
  mpes/types.go
Due: none

feat(dth): add deterministic toolchain hasher cli
  ga-graphai/packages/dth/AGENTS.md
  ga-graphai/packages/dth/README.md
  ga-graphai/packages/dth/package.json
  ga-graphai/packages/dth/src/cli.js
  ga-graphai/packages/dth/src/diff.js
  ga-graphai/packages/dth/src/hash.js
  ga-graphai/packages/dth/src/index.js
  ga-graphai/packages/dth/src/manifest.js
  ga-graphai/packages/dth/src/receipt.js
  ga-graphai/packages/dth/tests/hash.test.js
Due: prettier --write

feat: add ohie opt-out analytics toolkit
  client/src/features/observability/ObservabilityPanel.tsx
  client/src/features/ohie/OHIEPanel.tsx
  client/src/features/ohie/index.ts
  packages/ohie/README.md
  packages/ohie/pyproject.toml
  packages/ohie/src/ohie/__init__.py
  packages/ohie/src/ohie/brief.py
  packages/ohie/src/ohie/core.py
  packages/ohie/src/ohie/dp.py
  packages/ohie/tests/test_ohie.py
Due: prettier --write

feat: add cross-modal origin linker core
  .gitignore
  cmol/Cargo.toml
  cmol/README.md
  cmol/src/bin/cmol.rs
  cmol/src/lib.rs
  server/src/provenance/cmol/index.ts
Due: prettier --write

feat: add msqe tracing middleware
  ga-graphai/packages/msqe/AGENTS.md
  ga-graphai/packages/msqe/package.json
  ga-graphai/packages/msqe/src/index.ts
  ga-graphai/packages/msqe/src/inspector/index.ts
  ga-graphai/packages/msqe/src/inspector/msqe-inspector.tsx
  ga-graphai/packages/msqe/src/middleware.ts
  ga-graphai/packages/msqe/src/redaction.ts
  ga-graphai/packages/msqe/src/signer.ts
  ga-graphai/packages/msqe/src/types.ts
  ga-graphai/packages/msqe/tests/middleware.test.ts
  ga-graphai/packages/msqe/tsconfig.json
Due: prettier --write

feat: Implement Chekist-Mode with Mecha-Chekist Copilot for aggressive fuzzing
  policy-fuzzer/chekist_copilot.py
  policy-fuzzer/main.py
Due: none

feat: add csrs retention simulator
  client/src/features/csrs/__tests__/CsrsTimeline.test.tsx
  client/src/features/csrs/components/CsrsTimeline.tsx
  client/src/features/csrs/dataTransforms.ts
  client/src/features/csrs/types.ts
  python/intelgraph_py/csrs/__init__.py
  python/intelgraph_py/csrs/diff.py
  python/intelgraph_py/csrs/models.py
  python/intelgraph_py/csrs/planner.py
  python/tests/fixtures/csrs_golden_plan.json
  python/tests/fixtures/csrs_input.json
  python/tests/test_csrs.py
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
