Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

chore: sync PR template content
  .github/pull_request_template.md
Due: prettier --write

fix: resolve TypeScript errors in server and web client
  apps/web/src/components/ui/index.ts
  apps/web/src/contexts/FeatureFlagContext.tsx
  apps/web/src/features/search/QueryBuilder.tsx
  apps/web/src/pages/DataSourcesPage.tsx
  apps/web/src/pages/QueryStudio.tsx
  apps/web/src/pages/admin/FeatureFlags.tsx
  apps/web/src/pages/dashboards/AdvancedDashboardPage.tsx
  server/src/lib/cache/multi-tier-cache.ts
  server/src/lib/resources/QuotaConfig.ts
  server/src/lib/resources/budget-tracker.ts
  server/src/lib/resources/resource-allocator.ts
  server/src/lib/telemetry/comprehensive-telemetry.ts
  server/src/maestro/governance-service.ts
  server/src/maestro/subagent-coordinator.ts
  server/src/routes/feature-flags.ts
  server/src/routes/sharing.ts
  server/src/services/billing/MeteringService.ts
  server/tsconfig.json
Due: prettier --write

fix: add triggeredThresholds to BudgetStatus and fix linter issues
  server/src/lib/resources/types.ts
  server/src/maestro/governance-service.ts
  server/src/maestro/subagent-coordinator.ts
  server/src/routes/sharing.ts
  server/src/services/billing/MeteringService.ts
Due: none

fix(maestro): add Agent interface extending MaestroAgent
  server/src/maestro/governance-service.ts
Due: none

fix(security): replace vulnerable expr-eval with safe expression parser
  .github/workflows/ci.yml
  packages/business-rules/package.json
  packages/business-rules/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Create critical company success roadmap for 2027
  planning/CRITICAL_COMPANY_SUCCESS_ROADMAP_ITEMS.md
Due: prettier --write

chore: regenerate lockfile after removing expr-eval dependency
  pnpm-lock.yaml
Due: none

Add script to automate critical roadmap items addition
  scripts/add-critical-roadmap-items.sh
Due: none

chore: remove erroneous srcsrc directory (malformed path)
  server/srcsrc/graphql/resolvers/osintResolvers.js
  server/srcsrc/usage/events.ts
  server/srcsrc/usage/plans.ts
Due: none

Add comprehensive roadmap master document
  planning/COMPREHENSIVE_ROADMAP_MASTER.md
Due: prettier --write

docs: add multi-step implementation plan
  docs/multi_step_implementation_plan.md
Due: prettier --write

feat: propagate auth baggage into trace context
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/middleware.ts
  services/authz-gateway/src/observability.ts
  services/authz-gateway/tests/middleware.baggage.test.ts
  services/authz-gateway/tests/mocks/observability.ts
  services/authz-gateway/tests/observability-stub.ts
  services/authz-gateway/tests/observability.test.ts
Due: none

docs: add focused threat model
  docs/security/threat_model.md
Due: prettier --write

chore: add release artifact build target
  CHANGELOG.md
  Makefile
  docs/ops/release.md
  docs/roadmap/STATUS.json
  pyproject.toml
Due: prettier --write

docs: add modular pipeline plan
  docs/architecture/modular_plan.md
Due: prettier --write

docs: add smoke failure analysis
  docs/research/failure_analysis.md
Due: prettier --write

feat: add robustness bench harness
  bench/__init__.py
  bench/configs/ablations/components.yaml
  bench/configs/ablations/compute.yaml
  bench/configs/ablations/data.yaml
  bench/robustness/.gitignore
  bench/robustness/README.md
  bench/robustness/__init__.py
  bench/robustness/inputs.py
  bench/robustness/perturbations.py
  bench/robustness/plotting.py
  bench/robustness/runner.py
Due: prettier --write

docs: expand lineage delivery blueprint
  docs/lineage_and_controls_plan.md
Due: prettier --write

chore(security): add xlsx CVE exclusions and override hook
  .pnpmfile.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add prompt archive for maestro runs
  apps/web/src/App.tsx
  apps/web/src/agent/agentRunSlice.ts
  apps/web/src/agent/agentTypes.ts
  apps/web/src/agent/useAgUiAgent.ts
  apps/web/src/components/MaestroRunConsole.tsx
  apps/web/src/components/__tests__/MaestroRunConsole.test.tsx
  apps/web/src/lib/promptArchive.ts
  apps/web/src/pages/MaestroRunConsolePage.tsx
  apps/web/src/store/index.ts
Due: none

chore(deps): update eslint and tooling dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add multi-step plan for delivery gates and controls (#14559)
  docs/multi_step_implementation_plan.md
Due: prettier --write

Add focused threat model for logging and least privilege (#14566)
  docs/security/threat_model.md
Due: prettier --write

Add release build target and documentation (#14567)
  CHANGELOG.md
  Makefile
  docs/ops/release.md
  docs/roadmap/STATUS.json
  pyproject.toml
Due: prettier --write

Add modular pipeline plan with stage budgets (#14568)
  docs/architecture/modular_plan.md
Due: prettier --write

Add smoke failure analysis report (#14569)
  docs/research/failure_analysis.md
Due: prettier --write

Add robustness bench harness and ablation configs (#14570)
  bench/__init__.py
  bench/configs/ablations/components.yaml
  bench/configs/ablations/compute.yaml
  bench/configs/ablations/data.yaml
  bench/robustness/.gitignore
  bench/robustness/README.md
  bench/robustness/__init__.py
  bench/robustness/inputs.py
  bench/robustness/perturbations.py
  bench/robustness/plotting.py
  bench/robustness/runner.py
Due: prettier --write

Expand lineage and control delivery blueprint (#14571)
  docs/lineage_and_controls_plan.md
Due: prettier --write

fix: remove duplicate threat_model.md (case collision with THREAT_MODEL.md)
  docs/security/threat_model.md
Due: prettier --write

docs: add pilot charter
  docs/pilot/pilot_charter.md
Due: prettier --write

feat: add moat variant controls and metrics
  config/moat.yaml
  docs/research/moat_analysis.md
  docs/roadmap/STATUS.json
  pipelines/config/__init__.py
  pipelines/config/moat.py
  pipelines/observability/__init__.py
  pipelines/observability/metrics_store.py
  pipelines/runners/local_runner.py
  pipelines/tests/test_runner.py
Due: prettier --write

feat: harden knowledge graph loader caching
  docs/roadmap/STATUS.json
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/gateway/src/knowledgeGraphGraphql.test.ts
  ga-graphai/packages/gateway/src/simpleDataLoader.test.ts
Due: prettier --write

feat: add orchestrator resilience controls
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/tests/resilience.test.ts
Due: none

chore: enforce config schemas and validation
  .github/workflows/ci-lint-and-unit.yml
  config/app.schema.json
  config/feature-flags.json
  config/feature-flags.schema.json
  config/migrations/2.js
  config/migrations/README.md
  config/schema/app.schema.yaml
  config/schema/feature-flags.schema.json
  config/versioned/app.v1.yaml
  config/versioned/app.v2.yaml
  docs/deployment/FEATURE_FLAGS.md
  docs/deployment/IMPROVEMENTS_SUMMARY.md
  package.json
  server/config.ts
  server/lib/config/migration-engine.ts
  server/lib/config/schema-validator.ts
  server/package.json
  server/scripts/validate-config.ts
  server/tests/config.test.ts
Due: prettier --write

feat: add soak chaos harness
  docs/qa/soak_chaos_report.md
  docs/roadmap/STATUS.json
  sim-harness/__tests__/SoakTestHarness.test.ts
  sim-harness/src/cli.ts
  sim-harness/src/index.ts
  sim-harness/src/soak/SoakTestHarness.ts
Due: prettier --write

feat: add pii guard and sbom compliance gates
  .github/workflows/ci.yml
  docs/compliance/pii-logging-sbom.md
  server/jest.config.js
  server/src/app.ts
  server/src/middleware/__tests__/pii-guard.test.ts
  server/src/middleware/pii-guard.ts
Due: prettier --write

feat: add gateway request validation and correlation tracing
  docs/roadmap/STATUS.json
  examples/integration_demo.md
  services/agent-gateway/package.json
  services/agent-gateway/src/AgentGateway.ts
  services/agent-gateway/src/ObservabilityService.ts
  services/agent-gateway/src/PolicyEnforcer.ts
  services/agent-gateway/src/schemas.ts
  services/agent-gateway/src/server.ts
  services/agent-gateway/src/types.ts
Due: prettier --write

feat: add benchmark environment runner and report
  benchmarks/README.md
  benchmarks/runner/environment-benchmarks.mjs
  benchmarks/runner/environments.json
  benchmarks/runner/report-data/environment-metrics.json
  benchmarks/runner/report-data/pareto.csv
  benchmarks/runner/report-data/pareto.json
  docs/benchmarks/report.md
  docs/roadmap/STATUS.json
Due: prettier --write

ci: add smoke latency quality gates
  .github/workflows/_reusable-ci-perf.yml
  .github/workflows/ci.yml
  scripts/ci/assert-latency-budgets.mjs
Due: prettier --write

feat: add tenant-aware OPA policy resolution
  docs/roadmap/STATUS.json
  services/authz-gateway/README.md
  services/authz-gateway/src/policy.ts
  services/authz-gateway/tests/policy.test.ts
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
