Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(a11y): RC hardening — accessibility, ARIA, and test reliability pass
  apps/intelgraph-api/package.json
  apps/web/src/components/CommandPalette.tsx
  apps/web/src/components/GraphView.tsx
  apps/web/src/components/HITLReviewPanel.tsx
  apps/web/src/components/KeyboardShortcutsHelp.tsx
  apps/web/src/components/MaestroRunConsoleParts.tsx
  apps/web/src/components/QueryInput.tsx
  apps/web/src/components/__tests__/FlagGuard.test.tsx
  apps/web/src/components/ui/Button.tsx
  apps/web/src/components/ui/EmptyState.test.tsx
  apps/web/src/components/ui/EmptyState.tsx
  apps/web/src/components/ui/Kbd.tsx
  apps/web/src/components/ui/Spinner.tsx
  apps/web/src/components/ui/__snapshots__/design-system.snap.test.tsx.snap
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/stories/Feedback.stories.tsx
  apps/web/src/features/pr-triage/__tests__/PRTriagePage.test.tsx
  apps/web/src/graphs/__tests__/GraphCanvas.test.tsx
  apps/web/src/integrations/IntegrationForm.tsx
  apps/web/src/lib/utils.ts
  apps/web/src/pages/AlertsPage.test.tsx
  apps/web/src/pages/AlertsPage.tsx
  apps/web/src/pages/Investigations.tsx
  apps/web/src/pages/ReceiptsPage.tsx
  apps/web/src/pages/__tests__/Investigations.test.tsx
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

ops: harden release-candidate for safe production deployment
  docs/RELEASE_OPS_RUNBOOK.md
  scripts/preflight-check.sh
  scripts/rollback.sh
  scripts/smoke-test.sh
  server/src/index.ts
  server/src/monitoring/metrics.ts
  server/src/observability/metrics.ts
  server/src/routes/health.ts
Due: prettier --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

docs(mcp): tighten ecosystem follow-up plan to validated summit paths and checks (#19625)
  .repoos/consolidation/consolidation-plan-2026-03-09.json
  REPOOS_COMPREHENSIVE_ARCHITECTURE.md
  REPOOS_FINAL_INNOVATION_SUMMARY.md
  docs/ADR/ADR-0001-connector-sdk.md
  docs/repo/repo_assumptions.md
  docs/roadmap/STATUS.json
  docs/roadmaps/mcp-ecosystem-follow-up-plan.md
  scripts/repoos/compute_ownership_scores.mjs
  scripts/repoos/detect_subsystem_clusters.mjs
  server/ai/llmBudget.ts
  server/src/__tests__/ai/llmBudget.test.ts
  server/src/conductor/attribution/tag-builder.ts
  server/src/db/migrations/20260309_idempotency_schema.sql
  server/src/db/migrations/20260310_attribution_graphs.sql
  server/src/db/repositories/idempotencyRepo.ts
  server/src/graphql/resolvers/safe-mutations.ts
  server/src/orchestrator/OutboxRelay.ts
  server/src/orchestrator/maestro.ts
  server/src/routes/data-residency.ts
  server/src/services/ImmutableAuditLogService.ts
  services/innovation-sim/demo-adapters.mjs
  services/innovation-sim/demo-end-to-end.mjs
  services/innovation-sim/evidence-ingest/adapters/manual-adapter.ts
  services/innovation-sim/evidence-ingest/adapters/paper-adapter.ts
  services/innovation-sim/evidence-ingest/adapters/repo-adapter.ts
  services/innovation-sim/evidence-ingest/base-adapter.ts
  services/innovation-sim/evidence-ingest/index.ts
  services/innovation-sim/graph-builder/temporal-builder.ts
  services/innovation-sim/graph-fabric/ontology/edge-types.ts
  services/innovation-sim/graph-fabric/ontology/innovation-ontology.ts
  services/innovation-sim/graph-fabric/ontology/node-types.ts
  services/innovation-sim/index.ts
  services/innovation-sim/interfaces/innovation-graph.ts
  services/repoos/agents/pr-decomposer.ts
  services/repoos/analyzer/dependency-impact-analyzer.ts
  services/repoos/governor/cost-ledger.ts
  services/repoos/governor/intelligent-batch-optimizer.ts
  services/repoos/governor/realtime-entropy-monitor.ts
Due: prettier --write

feat(ops): add post-deploy validation, adoption telemetry, and first-week ops runbook
  RUNBOOKS/FIRST_WEEK_OPS.md
  apps/web/src/components/error/ErrorBoundary.tsx
  apps/web/src/main.tsx
  apps/web/src/store/workspaceStore.ts
  apps/web/src/telemetry/events.ts
  apps/web/src/telemetry/metrics.ts
  docs/TELEMETRY_CATALOG.md
  scripts/post-deploy/validate.mjs
Due: prettier --write

docs(triage): add feedback ingestion, prioritized backlog, and iteration plan
  docs/triage/FEEDBACK_TRIAGE_2026-03-09.md
  docs/triage/ITERATION_PLAN_2026-03-09.md
  docs/triage/PRIORITIZED_BACKLOG_2026-03-09.md
Due: prettier --write

docs(intelgraph): add OSINT IntelGraph blueprint
  docs/intelgraph/osint-intelgraph-blueprint.md
Due: prettier --write

feat: Complete Stage 6/7 Autonomous Architecture - Phase 2
  .github/workflows/stage-6-7-enforcement.yml
  .repoos/meta-governance-lock.yml
  docs/repoos/STAGE_6_7_AUTONOMOUS_ARCHITECTURE.md
  scripts/repoos/architectural-genome.mjs
  scripts/repoos/architecture-evolution-simulator.mjs
  scripts/repoos/autonomous-architecture-synthesis.mjs
  scripts/repoos/evidence-governor.mjs
  scripts/repoos/patch-market.mjs
  scripts/repoos/repoos-console.mjs
Due: prettier --write

fix(cli): disable md5 by default in determinism hashing
  cli/README.md
  cli/__tests__/determinism.test.ts
  cli/src/commands/determinism.ts
  cli/src/lib/determinism.ts
  docs/roadmap/STATUS.json
Due: prettier --write

docs(copilot): add feature completion issue and prompt playbook
  docs/copilot/feature-completion-agent-playbook.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat: harden release captain control-plane observability
  docs/roadmap/STATUS.json
  ops/observability/grafana/release-train-dashboard.json
  ops/observability/runbooks/release-captain-control-plane.md
  ops/prometheus/release-captain-control-plane-rules.yaml
Due: prettier --write

feat: Stage 7 Assertion Pack and operational validation framework
  .repoos/STAGE_7_ASSERTION_PACK.md
  .repoos/agent-budget.yml
  .repoos/patch-surface-limiting.yml
  .repoos/validation/README.md
  docs/repoos/STAGE_6_7_AUTONOMOUS_ARCHITECTURE.md
  docs/roadmap/STATUS.json
  scripts/repoos/agent-budget-enforcer.mjs
  scripts/repoos/patch-surface-limiter.mjs
  services/innovation-sim/demo-end-to-end.mjs
Due: prettier --write

docs: add Stage 7 complete operational guide
  docs/repoos/STAGE_7_COMPLETE_GUIDE.md
Due: prettier --write

chore: merge origin/main and resolve conflicts surgically
  cli/README.md
  cli/__tests__/determinism.test.ts
  cli/src/commands/determinism.ts
  cli/src/lib/determinism.ts
  docs/roadmap/STATUS.json
  scripts/repoos/validation-tracker.mjs
  server/src/__tests__/ga-certification-final.test.ts
  server/src/services/EnhancedGovernanceRBACService.ts
Due: prettier --write

feat(praxeology): add quarantined PG writeset validators and control-plane API (#19619)
  docs/roadmap/STATUS.json
  packages/summit-praxeology/README.md
  packages/summit-praxeology/package.json
  packages/summit-praxeology/src/__tests__/golden.action.validation.test.ts
  packages/summit-praxeology/src/__tests__/golden.writeset.validation.test.ts
  packages/summit-praxeology/src/api/pgServe.ts
  packages/summit-praxeology/src/engine/quarantine.ts
  packages/summit-praxeology/src/fixtures/action.coordinated-posting.example.json
  packages/summit-praxeology/src/fixtures/action.cross-platform-amplification.example.json
  packages/summit-praxeology/src/fixtures/writeset.pg.example.json
  packages/summit-praxeology/src/index.ts
  packages/summit-praxeology/src/schemas/pg.writeset.schema.json
  packages/summit-praxeology/src/validate/ajv.ts
  packages/summit-praxeology/src/validate/validateActionSignature.ts
  packages/summit-praxeology/src/validate/validatePGWriteSet.ts
  scripts/orchestrator/archaeology-cli.mjs
  services/repoos/archaeology/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(ingestion): add configurable source factory and new ingestors
  docs/roadmap/STATUS.json
  ingestion/ingestors/__init__.py
  ingestion/ingestors/factory.py
  ingestion/ingestors/github_events.py
  ingestion/ingestors/jsonl.py
  ingestion/main.py
  ingestion/tests/test_github_ingestor.py
  ingestion/tests/test_ingestor_factory.py
  ingestion/tests/test_jsonl_ingestor.py
Due: prettier --write

fix: harden smoke bootstrap for constrained registries
  Makefile
  docs/roadmap/STATUS.json
Due: prettier --write

feat: Stage 7 validation infrastructure and Gate 3 setup
  .github/CODEOWNERS
  .github/branch-protection-config.yml
  .repoos/validation/.gitkeep
  scripts/repoos/governance-bypass-drill.mjs
  scripts/repoos/patch-market-replay.mjs
  scripts/repoos/validation-tracker.mjs
Due: prettier --write

feat: Complete Stage 7 validation framework and evidence infrastructure
  .repoos/STAGE_7_ASSERTION_PACK.md
  .repoos/agent-budget.yml
  .repoos/patch-surface-limiting.yml
  .repoos/validation/README.md
  docs/repoos/STAGE_7_COMPLETE_GUIDE.md
  scripts/repoos/README_VALIDATION.md
  scripts/repoos/agent-budget-enforcer.mjs
  scripts/repoos/patch-surface-limiter.mjs
Due: prettier --write

feat(ui): add Intelligence OS UI layer — investigation memory, copilots, narratives, insights, missions, search, command palette
  client/src/components/copilots/CopilotChat.tsx
  client/src/components/copilots/CopilotPanel.tsx
  client/src/components/copilots/CopilotSuggestions.tsx
  client/src/components/copilots/CopilotTaskRunner.tsx
  client/src/components/copilots/index.ts
  client/src/components/insights/InsightExplanation.tsx
  client/src/components/insights/InsightExplorer.tsx
  client/src/components/insights/InsightFeed.tsx
  client/src/components/insights/InsightGraph.tsx
  client/src/components/insights/index.ts
  client/src/components/intelligence-os.ts
  client/src/components/ios-command/IOSCommandPalette.tsx
  client/src/components/ios-command/index.ts
  client/src/components/memory/InvestigationMemory.tsx
  client/src/components/memory/MemoryGraph.tsx
  client/src/components/memory/MemoryNotes.tsx
  client/src/components/memory/MemorySearch.tsx
  client/src/components/memory/MemoryTimeline.tsx
  client/src/components/memory/index.ts
  client/src/components/missions/MissionDashboard.tsx
  client/src/components/missions/MissionEntities.tsx
  client/src/components/missions/MissionStatus.tsx
  client/src/components/missions/MissionTimeline.tsx
  client/src/components/missions/index.ts
  client/src/components/narratives/NarrativeBuilder.tsx
  client/src/components/narratives/NarrativeComparison.tsx
  client/src/components/narratives/NarrativeExplorer.tsx
  client/src/components/narratives/NarrativeTimeline.tsx
  client/src/components/narratives/index.ts
  client/src/components/search/EntitySearch.tsx
  client/src/components/search/EventSearch.tsx
  client/src/components/search/GlobalSearch.tsx
  client/src/components/search/SearchResults.tsx
  client/src/components/search/index.ts
  client/src/hooks/useIntelGraph.ts
  client/src/hooks/useIntelligenceOS.ts
  client/src/hooks/useWorkflowAutomation.ts
  client/src/types/intelligence-os.ts
Due: none

chore: merge origin/main and resolve conflicts surgically
  .repoos/patch-market/queue-2026-03-10.json
  GA_FEEDBACK_LOOPS.md
  LAUNCH_OPERATOR_CHECKLIST.md
  Makefile
  RUNBOOKS/GA_FIRST_WEEK_OPERATIONS.md
  RUNBOOKS/GA_LAUNCH_WEEK_ITERATION.md
  apps/intelgraph-api/package.json
  docs/roadmap/STATUS.json
  scripts/detect-ga-regressions.mjs
  scripts/ga-feedback-aggregator.mjs
  scripts/repoos/run-stage7-analysis.mjs
  scripts/repoos/run-stage7-batch.mjs
  scripts/validate-summit-deploy.mjs
  server/src/claims/sign.ts
  services/lsc-service/src/index.ts
Due: prettier --write

docs: add Summit evolution roadmap and constitution
  docs/architecture/summit-evolution-roadmap.md
  docs/governance/evolution-constitution.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs(ci): add constrained runtime cost regression report and raw data
  reports/_data/jobs_baseline.jsonl
  reports/_data/jobs_recent.jsonl
  reports/_data/runs_baseline.json
  reports/_data/runs_recent.json
  reports/_data/workflows.json
  reports/ci_runtime_cost_regression.md
Due: prettier --write

fix: correct integration-twin workspace dependency
  packages/integration-twin/package.json
Due: prettier --write

docs(ga): add canonical GA spec v1 and packet index
  docs/ga/GA_PACKET_INDEX.md
  docs/ga/SUMMIT_GA_SPEC_V1.md
Due: prettier --write

feat(auth): implement WebAuthnManager with real signature verification
  src/auth/webauthn/WebAuthnManager.ts
Due: none

feat(ui): premium dark-first UI redesign — Summit Design System v2.0
  client/src/App.router.jsx
  client/src/design-system/tokens.ts
  client/src/layout/AppHeader.tsx
  client/src/styles/globals.css
  client/src/theme/intelgraphTheme.js
Due: prettier --write

chore: resolve conflicts
  scripts/repoos/simulator-backtest.mjs
  src/agents/controlplane/registry/agentRegistry.ts
Due: none

Revert "chore: resolve conflicts"
  scripts/repoos/simulator-backtest.mjs
  src/agents/controlplane/registry/agentRegistry.ts
Due: none

chore: resolve conflicts and pin dependencies
  src/agents/controlplane/registry/agentRegistry.ts
Due: none

feat(repoos): add platform economic intelligence engine
  .github/workflows/economic-intelligence.yml
  .repoos/economics/developer-economy.json
  .repoos/economics/economic-signals.json
  .repoos/economics/ecosystem-value.json
  .repoos/economics/marketplace-growth.json
  .repoos/economics/platform-economy-source.json
  .repoos/evidence/economic-intelligence-report.json
  docs/roadmap/STATUS.json
  scripts/repoos/economic-intelligence.mjs
  scripts/repoos/repoos-console.mjs
Due: prettier --write

feat(repoos): add summit platform index engine and integrations
  .github/workflows/platform-index.yml
  .repoos/developers/aria-lane.json
  .repoos/developers/kai-tan.json
  .repoos/events/summit-build-2026.json
  .repoos/evidence/platform-index-report.json
  .repoos/index/ecosystem-assets.json
  .repoos/index/index-schema.json
  .repoos/index/platform-index.json
  .repoos/integrations/slack-alert-bridge.json
  .repoos/marketplace/graph-risk-engine.json
  .repoos/marketplace/observability-suite.json
  .repoos/partners/atlas-security.json
  apps/command-console/src/App.test.tsx
  apps/command-console/src/App.tsx
  apps/ui/src/App.tsx
  docs/roadmap/STATUS.json
  scripts/repoos/index-cli.mjs
  scripts/repoos/platform-indexer.mjs
Due: prettier --write

feat: add summit global developer conference system
  .github/workflows/conference-system.yml
  .repoos/events/conference-registry.json
  .repoos/events/event-metrics.json
  .repoos/events/sessions.json
  .repoos/events/speakers.json
  .repoos/evidence/conference-system-report.json
  apps/web/src/App.tsx
  apps/web/src/components/Navigation.tsx
  apps/web/src/pages/developer/DeveloperConferencePage.tsx
  docs/roadmap/STATUS.json
  scripts/repoos/conference-system.mjs
  scripts/repoos/repoos-console.mjs
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
