Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

chore: apply stash@{609} (post-apply no conflicts)
  docs/runbooks/v0.3.4-go-live.md
  docs/sales/order-forms/AIS-GUARD-01-order-form.md
  docs/sales/order-forms/AIS-RT-01-order-form.md
  docs/sales/order-forms/FIN-01-order-form.md
  docs/sales/order-forms/GH-CERT-01-order-form.md
  docs/sales/order-forms/RBC-01-order-form.md
  docs/sales/order-forms/RES-01-order-form.md
  docs/security/sops_key_management.md
  e2e/a11y/maestro.a11y.spec.ts
  e2e/maestro.a11y.spec.ts
  e2e/maestro.spec.ts
  eslint.config.js
Due: prettier --write

chore: apply stash@{608} (post-apply no conflicts)
  ga-graphai/packages/query-copilot/src/sandbox.ts
Due: none

chore: apply stash@{607} (post-apply no conflicts)
  client/src/components/graph/EnhancedGraphExplorer.jsx
Due: none

chore: apply stash@{604} (post-apply no conflicts)
  GO_LIVE_APPROVAL.md
  gitleaks.json
Due: prettier --write

chore: apply stash@{597} (post-apply no conflicts)
  adversarial-misinfo-defense-platform/cli_entry.py
Due: none

chore: apply stash@{592} (post-apply no conflicts)
  intel_graph_mcp_exceedance_implementation_kickstart_scaffolds_tickets (2).md
Due: prettier --write

chore: apply stash@{590} (post-apply no conflicts)
  intel-startover-bundle/data/intel_tools_matrix.json
  intel_graph_workstream_starter_pack_v_0.md
Due: prettier --write

chore: apply stash@{579} (post-apply no conflicts)
  ml/data/demo_graph.json
Due: prettier --write

chore: apply stash@{578} (post-apply no conflicts)
  server/tsconfig.core.json
Due: prettier --write

chore: apply stash@{572} (post-apply no conflicts)
  server/src/otel.ts
Due: none

chore: apply stash@{563} (post-apply no conflicts)
  october2025/durga_ig_directorate_j_∑_workstream_sprint_cadence_oct_dec_2025 (5).md
Due: prettier --write

chore: apply stash@{562} (post-apply no conflicts)
  october2025/durga_ig_directorate_j_∑_workstream_sprint_cadence_oct_dec_2025 (6).md
  october2025/durga_ig_directorate_j_∑_workstream_sprint_cadence_oct_dec_2025 (7).md
Due: prettier --write

chore: apply stash@{559} (post-apply no conflicts)
  adversarial-misinfo-defense-platform/IMPLEMENTATION_SUMMARY.md
Due: prettier --write

chore: apply stash@{550} (post-apply no conflicts)
  client/src/components/collaboration/UserPresence.js
Due: none

chore: apply stash@{546} (post-apply no conflicts)
  october2025/mc_sprints_competitor_surpass_2025_09_30 (3).md
  october2025/mc_sprints_competitor_surpass_2025_09_30 (4).md
Due: prettier --write

chore: apply stash@{544} (post-apply no conflicts)
  october2025/product_ops_trust_fabric_pcq_lac_zk_tx_2026_01_05_to_2026_01_16_sprint_07.md
  october2025/product_ops_trust_fabric_pcq_lac_zk_tx_2026_02_02_to_2026_02_13_sprint_09.md
  october2025/product_ops_trust_fabric_pcq_lac_zk_tx_2026_02_16_to_2026_02_27_sprint_10.md
  october2025/product_ops_trust_fabric_pcq_lac_zk_tx_2026_03_02_to_2026_03_13_sprint_11.md
  october2025/product_ops_trust_fabric_pcq_lac_zk_tx_2026_03_16_to_2026_03_27_sprint_12.md
Due: prettier --write

chore: apply stash@{539} (post-apply no conflicts)
  client/src/components/investigation/SavedViewsPanel.tsx
  client/test-results/junit.xml
  october2025/Switchboard.md
  opa/data/tenant-configs.json
Due: prettier --write

chore: apply stash@{538} (post-apply no conflicts)
  packages/canary-lattice/tsconfig.json
Due: prettier --write

chore: apply stash@{537} (post-apply no conflicts)
  packages/crsp/tsconfig.json
  packages/deception-detector/src/index.ts
  packages/deception-detector/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: apply stash@{536} (post-apply no conflicts)
  packages/gateway-tariff/tsconfig.json
Due: prettier --write

chore: apply stash@{535} (post-apply no conflicts)
  adversarial-misinfo-defense-platform/Makefile
  packages/hit-protocol/tsconfig.json
Due: prettier --write

chore: apply stash@{534} (post-apply no conflicts)
  packages/ledger-server/src/index.ts
  packages/ledger-server/tests/ledger-server.spec.ts
  packages/ledger-server/tsconfig.json
  packages/lreg-exporter/tsconfig.json
  packages/maestroflow/bin/nl2flow.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: apply stash@{533} (post-apply no conflicts)
  packages/marketplace/schema.graphql
  packages/narrative-engine/src/api/routes.ts
Due: eslint --fix --max-warnings=0 --cache

chore: apply stash@{532} (post-apply no conflicts)
  packages/prov-ledger-client/tsconfig.json
Due: prettier --write

chore: apply stash@{529} (post-apply no conflicts)
  packages/shared/provenance.js
Due: none

chore: apply stash@{526} (post-apply no conflicts)
  pilot/PILOT_SOW_TEMPLATE.md
Due: prettier --write

chore: apply stash@{523} (post-apply no conflicts)
  pnpm-workspace.yaml
Due: prettier --write

chore: apply stash@{516} (post-apply no conflicts)
  connectors/__tests__/__pycache__/test_chronicle_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_csv_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_duckdb_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_elasticsearch_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_esri_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_json_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_mapbox_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_sentinel_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_splunk_connector.cpython-313.pyc
  connectors/__tests__/__pycache__/test_stix_taxii_connector.cpython-313.pyc
  connectors/chronicle_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/csv_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/duckdb_connector/__pycache__/schema_mapping.cpython-313.pyc
  server/src/telemetry/metrics.ts
Due: none

chore: apply stash@{515} (post-apply no conflicts)
  connectors/elasticsearch_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/esri_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/json_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/mapbox_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/sentinel_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/splunk_connector/__pycache__/schema_mapping.cpython-313.pyc
  connectors/stix_taxii_connector/__pycache__/schema_mapping.cpython-313.pyc
  graph_xai/__pycache__/xai_api.cpython-313.pyc
  ingestion/__pycache__/__init__.cpython-313.pyc
  ingestion/ingestors/__pycache__/__init__.cpython-313.pyc
  ingestion/ingestors/__pycache__/base.cpython-313.pyc
  ingestion/ingestors/__pycache__/rss.cpython-313.pyc
  intelgraph/__pycache__/__init__.cpython-313.pyc
  intelgraph/graph_analytics/__pycache__/core_analytics.cpython-313.pyc
  ml/__pycache__/__init__.cpython-313.pyc
  ml/app/__pycache__/models.cpython-313.pyc
  ml/app/monitoring/__pycache__/__init__.cpython-313.pyc
  ml/app/monitoring/__pycache__/metrics.cpython-313.pyc
  ml/app/quantum/__pycache__/__init__.cpython-313.pyc
  ml/app/quantum/__pycache__/quantum_ml.cpython-313.pyc
  ml/app/training/__pycache__/__init__.cpython-313.pyc
  ml/app/training/__pycache__/distributed_trainer.cpython-313.pyc
  ml/er/__pycache__/__init__.cpython-313.pyc
  ml/er/__pycache__/matchers.cpython-313.pyc
  ml/er/__pycache__/pipeline.cpython-313.pyc
Due: none

chore: apply stash@{514} (post-apply no conflicts)
  prov-ledger-service/src/server.ts
Due: none

chore: apply stash@{508} (post-apply no conflicts)
  RUN_OF_SHOW.md
Due: prettier --write

chore: apply stash@{506} (post-apply no conflicts)
  server/src/observability.ts
Due: none

chore: apply stash@{505} (post-apply no conflicts)
  scripts/audit_workspaces.mjs
Due: none

chore: apply stash@{502} (post-apply no conflicts)
  scripts/FINAL_VICTORY_REPORT.md
  scripts/doctor.mjs
  scripts/fix_workspace_builds.mjs
Due: prettier --write

chore: apply stash@{501} (post-apply no conflicts)
  scripts/HYPERVELOCITY_COMPLETE.md
Due: prettier --write

chore: apply stash@{500} (post-apply no conflicts)
  adversarial-misinfo-defense-platform/run.sh
  scripts/monorepo_heal.mjs
  scripts/ops_validate.mjs
Due: none

chore: apply stash@{496} (post-apply no conflicts)
  scripts/verify_codegen.mjs
Due: none

chore: apply stash@{491} (post-apply no conflicts)
  server/cache/index.ts
Due: none

chore: apply stash@{489} (post-apply no conflicts)
  server/tsconfig.core.json
Due: prettier --write

chore: apply stash@{488} (post-apply no conflicts)
  server/logger.js
Due: none

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
