Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(talent-magnet): Add Global Talent Magnet AI service
  services/talent-magnet/.eslintrc.cjs
  services/talent-magnet/jest.config.cjs
  services/talent-magnet/package.json
  services/talent-magnet/pnpm-lock.yaml
  services/talent-magnet/src/__tests__/IncentiveGenerator.test.ts
  services/talent-magnet/src/__tests__/MatchingEngine.test.ts
  services/talent-magnet/src/index.ts
  services/talent-magnet/src/models/index.ts
  services/talent-magnet/src/models/types.ts
  services/talent-magnet/src/routes/talents.ts
  services/talent-magnet/src/services/IncentiveGenerator.ts
  services/talent-magnet/src/services/MatchingEngine.ts
  services/talent-magnet/src/services/OnboardingService.ts
  services/talent-magnet/src/services/TalentRepository.ts
  services/talent-magnet/src/services/index.ts
  services/talent-magnet/src/utils/logger.ts
  services/talent-magnet/tsconfig.json
Due: prettier --write

docs(talent-magnet): Add README and Dockerfile
  services/talent-magnet/Dockerfile
  services/talent-magnet/README.md
Due: prettier --write

test(procurement): add comprehensive unit tests and build configuration
  services/procurement-automation/jest.config.js
  services/procurement-automation/package.json
  services/procurement-automation/pnpm-lock.yaml
  services/procurement-automation/src/__tests__/engine.test.ts
  services/procurement-automation/src/__tests__/requirements-parser.test.ts
  services/procurement-automation/src/__tests__/sbom-integration.test.ts
  services/procurement-automation/tsconfig.json
Due: prettier --write

fix: resolve TypeScript errors in edge packages
  packages/edge-ai/src/optimization/ModelOptimizer.ts
  packages/edge-computing/src/index.ts
  packages/edge-runtime/src/orchestrator/ContainerOrchestrator.ts
  packages/edge-sync/src/sync/SyncManager.ts
Due: eslint --fix --max-warnings=0 --cache

chore: update pnpm-lock.yaml after edge platform dependencies
  pnpm-lock.yaml
Due: none

Add Maestro Conductor sprint 2 plan (#12856)
  maestro_conductor_sprint_2_multi_tenant_hardening.md
Due: prettier --write

feat(xai): add unified XAI integration bridging defense AI with overlay service
  server/src/services/explainable-defense-ai/index.ts
  server/src/services/explainable-defense-ai/xai-integration.ts
Due: none

Add execution plan automation utility (#12897)
  EXECUTION_FRAMEWORK_AND_MONITORING.md
  execution-plan.json
  tools/execution/README.md
  tools/execution/__tests__/batchTracker.test.js
  tools/execution/batchTracker.js
Due: prettier --write

Audit and refactor codebase for clarity (#12884)
  .tsbuildinfo
  client/tsconfig.tsbuildinfo
  docs/adr/ADR-2025-001-resolver-refactoring.md
  docs/adr/ADR-2025-002-typescript-strictness-migration.md
  server/src/graphql/resolvers/__mocks__/entityMocks.ts
  server/src/graphql/resolvers/core.ts
  server/src/graphql/resolvers/entity.ts
  server/src/graphql/resolvers/types.ts
Due: prettier --write

Add execution plan for 235 recommendations (#12880)
  RECOMMENDATION_EXECUTION_PLAN.md
Due: prettier --write

feat(ai-sandbox): add integration tests and improve test coverage
  services/ai-sandbox/.gitignore
  services/ai-sandbox/package.json
  services/ai-sandbox/tests/integration.test.ts
Due: prettier --write

feat(digital-twin): add tests, exports, and fix types
  server/src/__tests__/DigitalTwinService.test.ts
  server/src/__tests__/SimulationEngine.test.ts
  server/src/digital-twin/index.ts
  server/src/services/DigitalTwinService.ts
  server/src/types/digitalTwin.ts
Due: none

Add CompanyOS Data Spine schemas and governance docs (#12834)
  docs/ADR/0009-data-spine-and-audit.md
  docs/CompanyOS_Data_Spine.md
  docs/runbooks/data-spine-audit-ingestion.md
  docs/slo-data-spine.md
  schemas/data-spine/events/README.md
  schemas/data-spine/events/authz.decision.v1.schema.json
  schemas/data-spine/events/base-envelope.schema.json
  schemas/data-spine/events/company.profile_changed.v1.schema.json
  schemas/data-spine/events/config.changed.v1.schema.json
  schemas/data-spine/events/examples/authz.decision.v1.example.json
  schemas/data-spine/events/examples/company.profile_changed.v1.example.json
  schemas/data-spine/events/examples/config.changed.v1.example.json
  schemas/data-spine/events/examples/policy.bundle_updated.v1.example.json
  schemas/data-spine/events/policy.bundle_updated.v1.schema.json
  warehouse/lineage/authz_decision_lineage.yaml
Due: prettier --write

Add CompanyOS Policy Spine sprint plan (#12826)
  sprint_plan_companyos_policy_spine.md
Due: prettier --write

docs: add CompanyOS tenants & guardrails sprint plan (#12825)
  sprint_plan_companyos_tenants_guardrails.md
Due: prettier --write

chore: enforce zap security gate (#12431)
  .github/workflows/ci-zap.yml
  security/zap/README.md
  security/zap/targets.json
Due: prettier --write

fix: harden forensics custody validations (#12430)
  server/src/cases/forensics-custody-system.ts
  server/tests/forensics-custody-system.test.ts
Due: none

fix: harden compliance middleware (#12429)
  services/license-registry/src/index.ts
Due: none

Reset OIDC JWKS cache between issuers (#12428)
  services/authz-gateway/README.md
  services/authz-gateway/src/auth.ts
  services/authz-gateway/src/data/webauthn-credentials.json
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/middleware.ts
  services/authz-gateway/src/oidc.ts
  services/authz-gateway/src/session.ts
  services/authz-gateway/src/stepup.ts
  services/authz-gateway/tests/auth.test.ts
  services/authz-gateway/tests/security.test.ts
Due: prettier --write

Align workflow SLO error calculations (#12427)
  ops/grafana/dashboards/monorepo-otel-workflows.json
  ops/observability/monitoring-stack/kustomization.yaml
  ops/prometheus/README.md
  ops/prometheus/prometheus.yml
  ops/prometheus/workflow-slo-rules.yaml
Due: prettier --write

test(marketplace): add comprehensive unit tests and fix configuration
  services/ai-marketplace/.gitignore
  services/ai-marketplace/package.json
  services/ai-marketplace/pnpm-lock.yaml
  services/ai-marketplace/src/__tests__/marketplace.test.ts
  services/ai-marketplace/tsconfig.json
  services/ai-marketplace/vitest.config.ts
Due: prettier --write

chore: add node-compile-cache to gitignore
  .gitignore
Due: none

feat: Add invention disclosures for F4-F10 IP families
  docs/ip/F10-universal-connector-sdk.md
  docs/ip/F4-multi-cloud-arbitrage.md
  docs/ip/F5-graphrag-query-preview.md
  docs/ip/F6-investigation-workflow-golden-path.md
  docs/ip/F7-multimodal-ai-extraction.md
  docs/ip/F8-observability-slo-driven.md
  docs/ip/F9-export-controls-governance.md
Due: prettier --write

feat: implement blockchain and immutable audit trail system
  docs/blockchain/ARCHITECTURE.md
  docs/compliance/AUDIT_TRAIL.md
  packages/blockchain/README.md
  packages/blockchain/package.json
  packages/blockchain/src/consensus/ConsensusEngine.ts
  packages/blockchain/src/core/Block.ts
  packages/blockchain/src/core/Blockchain.ts
  packages/blockchain/src/core/MerkleTree.ts
  packages/blockchain/src/core/TransactionPool.ts
  packages/blockchain/src/core/types.ts
  packages/blockchain/src/index.ts
  packages/blockchain/src/storage/BlockStorage.ts
  packages/blockchain/tsconfig.json
  packages/chain-of-custody/README.md
  packages/chain-of-custody/package.json
  packages/chain-of-custody/src/index.ts
  packages/chain-of-custody/src/tracker/CustodyTracker.ts
  packages/chain-of-custody/tsconfig.json
  packages/digital-signatures/README.md
  packages/digital-signatures/package.json
  packages/digital-signatures/src/index.ts
  packages/digital-signatures/src/pki/PKIManager.ts
  packages/digital-signatures/tsconfig.json
  packages/smart-contracts/README.md
  packages/smart-contracts/package.json
  packages/smart-contracts/src/contracts/types.ts
  packages/smart-contracts/src/executor/SmartContractExecutor.ts
  packages/smart-contracts/src/index.ts
  packages/smart-contracts/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Federated Zero-Trust Relay (FZTR) module
  packages/fztr-relay/Dockerfile
  packages/fztr-relay/package.json
  packages/fztr-relay/src/index.ts
  packages/fztr-relay/tests/fztr-relay.spec.ts
  packages/fztr-relay/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Federated Zero-Trust Client (FZTR) module
  packages/fztr-client/package.json
  packages/fztr-client/src/index.ts
  packages/fztr-client/tests/fztr-client.spec.ts
  packages/fztr-client/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Adaptive Counterintel Strategies (ACS) Learner module
  packages/acs-learner/Dockerfile
  packages/acs-learner/package.json
  packages/acs-learner/src/index.ts
  packages/acs-learner/tests/acs-learner.spec.ts
  packages/acs-learner/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Human-in-the-Loop Orchestrator (HITL) module and UI component
  apps/web/src/components/HITLReviewPanel.tsx
  packages/hitl-orchestrator/Dockerfile
  packages/hitl-orchestrator/package.json
  packages/hitl-orchestrator/src/index.ts
  packages/hitl-orchestrator/tests/hitl-orchestrator.spec.ts
  packages/hitl-orchestrator/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Model Card Registry documentation
  docs/model-cards/ACS-Learner.md
  docs/model-cards/ATL-Tariff.md
Due: prettier --write

feat: add Adaptive Counterintel Strategies (ACS) Simulator module
  packages/acs-simulator/Dockerfile
  packages/acs-simulator/package.json
  packages/acs-simulator/src/index.ts
  packages/acs-simulator/tests/acs-simulator.spec.ts
  packages/acs-simulator/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Grafana Ops Dashboard
  deploy/grafana/intelgraph-ops-dashboard.json
Due: prettier --write
