Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Sprint 25 Day-1: policy, Grafana dashboard, Jira CSV, CI wiring (#1278)
  .github/workflows/policy-ci.yml
  docs/policies/export.md
  docs/project_management/Sprint25_Handoff.md
  export.rego
  grafana_ga_core_dashboard.json
  intel_graph_sprint_25_patch_set_prs_1_3.md
  observability/README.md
  observability/grafana/dashboards/ga_core_dashboard.json
  observability/grafana/provisioning/dashboards/ga-core.yml
  ops/grafana/dashboards/ga_core_dashboard.json
  ops/grafana/provisioning/dashboards/ga-core/dashboard.yml
  policies/export.rego
  policies/tests/export_test.rego
  policy/export/export.rego
  policy/export/export_test.rego
  pr_patch_set_intel_graph_sprint_25_ga_core_hardening_guardrails.md
  project/pm/README.md
  project/pm/sprint25_jira.csv
  project/pm/sprint25_jira.csv.placeholder
  scripts/find-duplicate-ops.mjs
  server/src/routes/export-api.py
  server/src/routes/export-api.ts
  sprint25_day1_artifacts.zip
  sprint25_jira.csv
  sprint25_pr.patch
  sprint25_pr_patchset.zip
  sprint_25_ga_core_hardening_pr_patch_set.md
Due: prettier --write

chore(server): add ESLint v9 flat config and drop legacy eslintrc in server
  server/.eslintrc.cjs
  server/eslint.config.js
Due: none

chore(server): drop invalid body-parser 2.x; rely on express.json() with Express 5
  server/package.json
Due: prettier --write

chore: add deterministic build scripts
  scripts/build/deterministic-image.sh
  scripts/build/deterministic-npm-pack.sh
Due: none

🔧 Build Platform Hardening — Sprint Hotfix
  .github/workflows/cosign-attest.yml
  .github/workflows/deploy-verify.yml
  .github/workflows/trivy.yml
  .nvmrc
  Dockerfile
  charts/intelgraph/values.yaml
  ml/.dockerignore
  ml/Dockerfile
  package.json
  python/.dockerignore
  python/Dockerfile
  scripts/validate-helm-digests.sh
Due: prettier --write

📦 Evidence Bundle & Validation — Sprint Hotfix Complete
  Closed-PR-Merge.md
  build-hardening-validation-report.md
  build_platform_auto_create_git_hub_issues_labels_gh_script.sh
  build_platform_command_center_pack_go_no_go_backout_on_call_runbooks_evidence.md
  build_platform_cost_guardrails_budget_telemetry_pack_ci_ghcr_unit_costs.md
  build_platform_deploy_evidence_bundle_cosign_verify_digest_injection_k_6_slo_gate_release_notes.md
  build_platform_evidence_ui_release_evidence_dashboard.jsx
  build_platform_graph_ql_contract_e_2_e_pack_k_6_playwright_inspector_persisted_queries.md
  build_platform_kubernetes_policy_observability_pack_gatekeeper_kyverno_alerts_dashboards_otel.md
  build_platform_pr_patch_typecheck_coverage_helm_digest_policy_trivy_terraform_lighthouse_dependabot.md
  build_platform_remediation_sprint_plan_tickets_next_phase.md
  ci_cd_hardening_ready_to_commit_bundle_maestro_aware.md
  commit_rollout_plan_ci_cd_hardening_maestro_order_of_operations.md
  org_governance_protections_as_code_templates_ready_to_ship.md
  release_train_migration_gate_defaults_wired_to_maestro.md
  renovate_dashboards_as_code_clean_main_sentinel.md
  scripts/generate-evidence-bundle.sh
  scripts/validate-build-hardening.sh
  sprint_plan_ci_cd_dev_ex_pipeline_hardening_next_2_weeks.md
  summit_main_tailored_ci_cd_bundle_pnpm_python_helm_terraform.md
Due: prettier --write

fix: Remove deprecated husky setup
  .husky/pre-push
Due: none

feat: Sprint 27 Complete Implementation - Clean Merge, Clean Build, Clean Test
  .devcontainer/devcontainer.json
  .github/workflows/dependency-review.yml
  .github/workflows/verify-provenance.yml
  .pre-commit-config.yaml
  CleanRepo.md
  Makefile
  SECURITY/policy/opa/abac.rego
  config/model_budgets.yaml
  orchestrations/mc/build.yaml
  scripts/bootstrap.sh
  scripts/mc-orchestrator.sh
  services/gateway/src/nl2cypher/guardrails/constraints.ts
  tests/golden/model_interactions/nl2cypher_smoke.jsonl
  tests/k6/go-nogo-gate.js
  tests/prometheus/golden-alerts.test.yml
Due: prettier --write

Sprint 27 Complete: Enterprise-Grade Build Platform Implementation
  CONTRIBUTING.md
  SECURITY/dlp/rules.yml
  SECURITY/policy/opa-bundle.ts
  SECURITY/policy/trust-policy.yaml
  SECURITY/secrets/rotation.ts
  docker-compose.demo.yml
  ops/alerts/slo-burn-rules.yml
  ops/chaos/experiments.yaml
  ops/observability/prometheus.yml
  ops/slo/slo.yaml
  services/common/auth/webauthn/step-up.ts
  services/common/cost/throttling.ts
  services/common/performance/hotpath.ts
  tools/audit/hashchain.ts
  tools/chaos/runner.ts
  tools/determinism/diff.py
Due: prettier --write

feat: Complete Sprint 27 Implementation
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  .github/workflows/verify-provenance.yml
  .pre-commit-config.yaml
  MERGE-PLAN.md
  apps/web/src/components/search/unified-search.tsx
  crypto/kms/hsm-adapter.ts
  orchestrations/mc/build.yaml
  pet/mpc/protocol.ts
  scripts/bootstrap.sh
  services/data-quality/src/lineage-tracker.ts
  services/enterprise/src/sso-manager.ts
  tests/flaky/kill-list.yml
  tools/testing/flaky-detector.ts
Due: prettier --write

fix: update globby import syntax for ESM compatibility
  scripts/find-duplicate-ops.mjs
Due: none

feat(ci): complete golden pipeline implementation
  .github/CODEOWNERS
  .github/workflows/build-images.yml
  .github/workflows/codeql.yml
  .github/workflows/conftest.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/helm-ci.yml
  .github/workflows/release.yml
Due: prettier --write

feat(docs): complete developer experience and documentation
  CONTRIBUTING.md
  Makefile
  README.md
Due: prettier --write

ci: use pnpm cache in setup-node to fix lockfile error
  .github/workflows/ci.yml
Due: prettier --write

feat: re-apply boilerplate integration and branch protection setup after reset
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/conftest.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly-stage-validation.yml
  .github/workflows/release.yml
  CleanRepo.md
  Makefile
  build_platform_remediation_sprint_plan_tickets_next_phase.md
  conductor-ui/backend/server.js
  conductor-ui/frontend/src/maestro/utils/supplyChainVerification.js
  conductor-ui/frontend/src/maestro/utils/supplyChainVerification.ts
  conductor-ui/frontend/tests/supply-chain/cosign-verification.test.ts
  docs-site/runbooks/errors.md
  docs-site/runbooks/latency.md
  docs-site/runbooks/slo-burn.md
  docs/ChatOps/ga_core_3_4_day_pr_branch_action_plan_aug_20_23_2025.md
  docs/ChatOps/git_hub_project_board_roadmap_turnkey_template.md
  docs/OPERATIONS-RUNBOOK.md
  docs/archived/release_train_plan_now_next_later_with_exact_git_hub_branch_protection_toggles (1).md
  docs/archived/release_train_plan_now_next_later_with_exact_git_hub_branch_protection_toggles.md
  docs/maestro/maestro-ui-patches-0901/patches/backend_server_ci_annotations.patch
  docs/prd_maestro_intelgraph_build_conductor.md
  docs/reports/intel_graph_summit_pr_pack_001_workflows_policies_rollouts_dr.md
  infra/helm/intelgraph/templates/prometheusrules.yaml
  intel_graph_summit_pr_pack_001_workflows_policies_rollouts_dr.md
  k8s/rollouts/rollout.yaml
  policies/kyverno/disallow-privileged.yaml
  policies/kyverno/require-signed-images.yaml
  release_train_plan_now_next_later_with_exact_git_hub_branch_protection_toggles.md
  scripts/gh/create-sprint-v0_5.sh
  scripts/mc-orchestrator.sh
  scripts/protect.sh
  src/federation/FederatedGraphService.ts
  summit_helm_argocd_multiacct_pack/argocd/apps/dev.yaml
  summit_helm_argocd_multiacct_pack/argocd/apps/prod.yaml
  summit_helm_argocd_multiacct_pack/argocd/apps/staging.yaml
  summit_helm_argocd_multiacct_pack/argocd/root-application.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: update conftest workflow and add missing values-stage.yaml
  .github/workflows/conftest.yml
  .github/workflows/nightly-stage-validation.yml
  infra/helm/intelgraph/values-stage.yaml
Due: prettier --write

feat(phase-3): implement comprehensive test strategy hardening
  .github/workflows/ci.yml
  .github/workflows/nightly-testing.yml
  infra/helm/intelgraph/Chart.lock
  infra/helm/intelgraph/charts/neo4j-5.12.0.tgz
  infra/helm/intelgraph/charts/postgresql-12.12.10.tgz
  infra/helm/intelgraph/charts/redis-18.6.4.tgz
  package.json
  scripts/coverage-aggregate.js
  tests/integration/docker-compose.yml
  tests/integration/init.sql
  tests/integration/neo4j-init.cypher
  tests/load/scripts/performance-analysis.js
  tests/load/soak-test.js
  turbo.json
Due: prettier --write

feat(phase-4): security & compliance hardening
  .github/workflows/release.yml
  SECURITY/break-glass.md
  SECURITY/data-flows.md
  SECURITY/sbom-process.md
  SECURITY/secret-remediation.md
  SECURITY/threat-model.md
  SECURITY/vuln-management.md
  infra/helm/intelgraph/values-prod.yaml
  infra/helm/intelgraph/values-stage.yaml
  infra/k8s/kyverno/require-signed-images.yaml
  scripts/security/enable-secret-scanning.sh
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{md,css,scss,json,yml,yaml}) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
