Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: implement complete UX governance system
  .eslintrc.ux-governance.json
  .github/PULL_REQUEST_TEMPLATE/ux-governance-check.md
  .github/workflows/ux-governance.yml
  .ux-doctrine.schema.json
  .ux-governance.conf
  Makefile
  RUNBOOKS/UX_GOVERNANCE_RUNBOOK.md
  docs/UX_GOVERNANCE_INTEGRATION.md
  scripts/ux-ci-enforcer.cjs
  scripts/ux-governance-orchestrator.cjs
  ux-doctrine.json
  ux-governance-decision-package.json
Due: prettier --write

feat(platform): complete UI/UX modernization with security, accessibility, and responsive improvements
  .agentic-prompts/UX_ARBITER_MASTER_PROMPT.md
  .agentic-prompts/UX_CI_ENFORCER_MASTER_PROMPT.md
  .agentic-prompts/UX_INTELLIGENCE_MASTER_PROMPT.md
  .agentic-prompts/UX_ORCHESTRATOR_MASTER_PROMPT.md
  .agentic-prompts/UX_RED_TEAM_MASTER_PROMPT.md
  .agentic-prompts/UX_STRATEGY_MASTER_PROMPT.md
  .claude/settings.local.json
  README.md
  SUPER_PROMPT.md
  client/src/components/symphony/SymphonyDashboard.jsx
  docs/ARCHITECTURE.md
  docs/MERGE_ALGORITHM.md
  docs/ONBOARDING.md
  docs/UX_DRIVEN_PRICING_MODEL.md
  docs/UX_HARD_GATE.md
  docs/UX_STRATEGY_MAPPING.md
  docs/runbooks/index.md
  ux-governance-decision-package.json
Due: prettier --write

feat(security): Harden 7 production services - 20 credentials secured
  apps/analytics-engine/src/config.ts
  apps/graph-analytics/src/config.ts
  apps/ml-engine/src/config.ts
  deepagent-mvp/src/config.ts
  services/warehouse-service/src/index.ts
Due: none

docs(ga): Add comprehensive session summary with metrics
  GA_SESSION_SUMMARY.md
Due: prettier --write

feat(security): GA completion - Credential hardening Wave 2 (batch 2)
  active-measures-module/src/audit/auditEngine.ts
  packages/federated-campaign-radar/src/index.ts
  packages/shared/provenance.ts
  services/audit-blackbox-service/src/index.ts
  workers/ingest/src/connectors/HTTPConnector.ts
Due: eslint --fix --max-warnings=0 --cache

feat(security): GA completion - Credential hardening Wave 2 (batch 3)
  server/src/agents/audit/AgentAuditLogger.ts
  services/enterprise/src/sso-manager.ts
  services/sync-service/src/index.ts
Due: none

feat(security): GA completion - Credential hardening Wave 2 (batch 4)
  services/sparql-endpoint/src/server.ts
  services/streaming-ingest/src/server.ts
  services/unified-audit/src/aggregator.ts
Due: none

docs: add project completion certificate for UI/UX modernization
  PROJECT_COMPLETION_CERTIFICATE.md
Due: prettier --write

feat(security): GA completion - Credential hardening Wave 2 (batch 5)
  server/src/integrations/grc/grc-export.service.ts
  services/decision-api/src/middleware/service-auth.ts
  services/stix-taxii-ingestion/src/storage/Neo4jGraphStore.ts
  services/stix-taxii-ingestion/src/storage/PgVectorStore.ts
Due: none

chore(release): v4.0.4 - TypeScript fixes and stability improvements
  package.json
  server/src/cognitive-security/governance.service.ts
  server/src/time-series/connectors/timescale-connector.ts
  server/src/trust-center/regulatory-pack-service.ts
  server/src/utils/dataRedaction.ts
  server/src/utils/lruCache.ts
  server/src/utils/sampleData.ts
Due: prettier --write

fix: add explicit type annotations to reduce lint warnings
  server/prompts/registry.ts
  server/src/agents/swarm/GossipProtocol.ts
  server/src/ai/ExtractionEngine.ts
  server/src/ai/PsyOpsDefenseEngine.ts
  server/src/ai/copilot/redaction.service.ts
  server/src/ai/engines/FaceDetectionEngine.ts
  server/src/ai/engines/VideoFrameExtractor.ts
  server/src/ai/services/EmbeddingService.ts
  server/src/analysis/GraphAnalysisService.ts
  server/src/analytics/cohorts/CohortEvaluator.ts
  server/src/analytics/funnels/FunnelService.ts
  server/src/analytics/retention/RetentionService.ts
  server/src/analytics/telemetry/TelemetryService.ts
  server/src/app.ts
  server/src/app/makeServer.ts
  server/src/appFactory.ts
  server/src/audit/advanced-audit-system.ts
  server/src/audit/appendOnlyAuditStore.ts
  server/src/cognitive-security/campaign-detection.service.ts
  server/src/cognitive-security/claims.service.ts
  server/src/cognitive-security/evaluation.service.ts
  server/src/cognitive-security/governance.service.ts
  server/src/compliance/DataLineageSystem.ts
  server/src/compliance/RetentionPolicyEngine.ts
Due: none

fix(ci): enable placeholder job in disabled supply chain workflow
  .github/workflows/golden-path-supply-chain.yml
Due: prettier --write

chore: organize workspaces with turbo
  docs/WORKSPACE_SEGMENTATION.md
  docs/roadmap/STATUS.json
  package.json
  pnpm-workspace.yaml
  scripts/workspaces/run.js
  turbo.json
  workspaces/workspace-manifest.json
Due: prettier --write

chore: tighten dependency monitoring
  .github/dependabot.yml
  .github/workflows/dependency-monitor.yml
  docs/roadmap/STATUS.json
Due: prettier --write

feat(security): GA completion - Credential hardening Wave 2 (batch 6)
  services/esg-reporting-service/src/utils/database.ts
  services/scenario-registry/src/db/client.ts
  services/search-indexer/src/index.ts
  workers/ingest/src/IngestOrchestrator.ts
Due: none

feat(security): GA completion - Credential hardening Wave 2 (batch 7 - 75% milestone)
  services/graphrag/src/server.ts
  services/intel/src/correlation/neo4j-correlator.ts
  services/stix-taxii-ingestion/src/enrichment/AgenticEnricher.ts
Due: none

feat(security): GA completion - Wave 2 COMPLETE (60/60 credentials hardened)
  services/agent-gateway/src/server.ts
  services/analytics-service/src/index.ts
  services/api/src/db/neo4j.ts
  services/api/src/db/postgres.ts
  services/api/src/db/timescale.ts
  services/citizen-service/src/services/Neo4jStore.ts
  services/enrichment/src/index.ts
  services/finance-normalizer-service/src/utils/db.ts
  services/gateway-service/src/index.ts
  services/geoint-threat-platform/src/index.ts
  services/humint-service/src/context.ts
  services/innovation-sandbox/src/integration/ProvLedgerClient.ts
  services/kb-service/src/db/connection.ts
  services/marketplace/src/utils/db.ts
  services/model-hub-service/src/db/connection.ts
Due: none

fix: add explicit type annotations to resolve TypeScript errors
  server/src/audit/ledger.ts
  server/src/auth/multi-tenant-rbac.ts
  server/src/autonomous/ApprovalService.ts
  server/src/autonomous/orchestrator.enhanced.ts
  server/src/autonomous/sandbox.ts
  server/src/billing/adapters/FileBillingAdapter.ts
  server/src/billing/entitlements/EntitlementsService.ts
  server/src/cache/DistributedCacheService.ts
  server/src/cache/responseCache.ts
  server/src/types/express.d.ts
Due: none

feat: implement 10K+ scale issue sweeper with batch processing
  tools/issue-sweeper/LEDGER.ndjson
  tools/issue-sweeper/README.md
  tools/issue-sweeper/REPORT.md
  tools/issue-sweeper/STATE.json
  tools/issue-sweeper/VERIFICATION_COMMANDS.md
  tools/issue-sweeper/lib/classifier.ts
  tools/issue-sweeper/lib/evidence.ts
  tools/issue-sweeper/lib/github.ts
  tools/issue-sweeper/lib/mock-data.ts
  tools/issue-sweeper/lib/processor.ts
  tools/issue-sweeper/lib/reporter.ts
  tools/issue-sweeper/lib/state.ts
  tools/issue-sweeper/lib/types.ts
  tools/issue-sweeper/run.ts
  tools/issue-sweeper/test-local.ts
  tools/issue-sweeper/tsconfig.json
Due: prettier --write

feat: implement Issue Sweeper automation runner
  tools/issue-sweeper/.gitignore
  tools/issue-sweeper/README.md
  tools/issue-sweeper/package.json
  tools/issue-sweeper/run.sh
  tools/issue-sweeper/src/detect.ts
  tools/issue-sweeper/src/github.ts
  tools/issue-sweeper/src/index.ts
  tools/issue-sweeper/src/ledger.ts
  tools/issue-sweeper/src/report.ts
  tools/issue-sweeper/src/types.ts
  tools/issue-sweeper/test/fixtures/issues.json
  tools/issue-sweeper/test/fixtures/prs.json
  tools/issue-sweeper/test/index.test.ts
  tools/issue-sweeper/tsconfig.json
Due: prettier --write

feat(ga): implement comprehensive GA readiness improvements for MVP-4
  .disabled/README.md
  .github/workflows/ci-security.yml
  .github/workflows/ci.yml
  .security/allowlist.yaml
  .trivyignore
  RUNBOOKS/DEPLOYMENT.md
  RUNBOOKS/DISASTER_RECOVERY.md
  RUNBOOKS/INCIDENT_RESPONSE.md
  RUNBOOKS/ROLLBACK.md
  RUNBOOKS/SECRET_ROTATION.md
  scripts/security/check-cve-exceptions.ts
Due: prettier --write

fix: add full automation capabilities with auto-fix and PR creation
  tools/issue-sweeper/USAGE_GUIDE.md
  tools/issue-sweeper/lib/fixer.ts
  tools/issue-sweeper/lib/pr-automation.ts
  tools/issue-sweeper/lib/processor.ts
  tools/issue-sweeper/lib/verifier.ts
  tools/issue-sweeper/run.ts
Due: prettier --write

docs(ga): add comprehensive GA completion report
  GA_COMPLETION_REPORT.md
Due: prettier --write

fix: rename useFeatureFlag.ts to .tsx for JSX support
  .claude/settings.local.json
  client/src/hooks/useFeatureFlag.tsx
  packages/connectors/src/index.ts
  pnpm-lock.yaml
  server/src/featureFlags/types.ts
  tools/issue-sweeper/README.md
  tools/issue-sweeper/package.json
  tools/issue-sweeper/src/detect.ts
  tools/issue-sweeper/src/github.ts
  tools/issue-sweeper/src/index.ts
  tools/issue-sweeper/src/ledger.ts
  tools/issue-sweeper/src/report.ts
  tools/issue-sweeper/test/fixtures/issues.json
  tools/issue-sweeper/test/fixtures/prs.json
  tools/issue-sweeper/test/main.test.ts
  tools/issue-sweeper/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add comprehensive architecture and quick reference documentation
  tools/issue-sweeper/ARCHITECTURE.md
  tools/issue-sweeper/QUICK_REFERENCE.md
Due: prettier --write

fix(security): implement critical TODOs in governance and usage tracking
  SECURITY/threat-models/SOC2-ALIGNMENT-MATRIX.md
  server/src/middleware/governance.ts
  server/src/middleware/llm-preflight.ts
Due: prettier --write

feat: add pattern library, metrics, rollback, and GitHub Actions automation
  .github/workflows/issue-sweeper.yml
  tools/issue-sweeper/lib/metrics.ts
  tools/issue-sweeper/lib/patterns.ts
  tools/issue-sweeper/lib/rollback.ts
Due: prettier --write

docs: add comprehensive system summary document
  tools/issue-sweeper/SUMMARY.md
Due: prettier --write

feat(observability): establish SLI/SLO baselines and monitoring framework
  docs/operations/OBSERVABILITY_BASELINES.md
  scripts/observability/README.md
  scripts/observability/measure-baseline.sh
Due: prettier --write

docs(security): add comprehensive security documentation
  docs/security/AUDIT_CVE_EXCEPTIONS.md
  docs/security/CVE-2022-24434-MITIGATION.md
  docs/security/SECURITY_SWEEP_REPORT.md
Due: prettier --write

fix(deps): patch critical and high severity vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(security): enhance SECURITY.md to GA-grade policy
  .github/SECURITY.md
Due: prettier --write

fix(ci): pin critical GitHub Actions branch references to commit SHAs
  .github/workflows/docker-build.yml
  .github/workflows/golden-path/_golden-path-pipeline.yml
  scripts/security/pin-github-actions.sh
Due: prettier --write

feat: add notifications, analytics, plugins, cache, multi-repo, and interactive CLI
  tools/issue-sweeper/cli.ts
  tools/issue-sweeper/lib/analytics.ts
  tools/issue-sweeper/lib/cache.ts
  tools/issue-sweeper/lib/multi-repo.ts
  tools/issue-sweeper/lib/notifications.ts
  tools/issue-sweeper/lib/plugins.ts
Due: none

docs: add enterprise platform overview document
  tools/issue-sweeper/ENTERPRISE_PLATFORM.md
Due: prettier --write

fix(ci): pin GitHub Actions to SHA for supply chain integrity
  .github/workflows/docker-build.yml
  .github/workflows/golden-path/_golden-path-pipeline.yml
  docs/ci-evidence/CI_FAILURE_LEDGER.md
Due: prettier --write

fix(ci): resolve GA workflow failures and pin supply-chain actions
  .github/workflows/a11y-keyboard-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/golden-path/_golden-path-pipeline.yml
  .github/workflows/reusable-golden-path.yml
  docs/ci-evidence/CI_FAILURE_LEDGER.md
  docs/ci-evidence/MERGE_ORDER.md
Due: prettier --write

ci: harden ga gates
  .github/workflows/ga-ready.yml
  .github/workflows/ga-risk-gate.yml
Due: prettier --write
