Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

chore: bump version to 5.0.71
  package.json
Due: prettier --write

chore: add merge captain analysis and branch cleanup automation (#16672)
  .merge-captain/cleanup-commands.sh
  GOLDEN_MAIN_STATUS_REPORT.md
  MERGE_CAPTAIN_README.md
  MERGE_CAPTAIN_SUMMARY.md
  MERGE_CAPTAIN_UPDATE.md
  scripts/MERGE_CAPTAIN_TOOLS.md
  scripts/merge-captain-cleanup.sh
  scripts/merge-captain-triage.py
Due: prettier --write

chore: bump version to 5.0.72
  package.json
Due: prettier --write

chore: add _worktrees to .gitignore
  .gitignore
  scripts/check-cjs-commonjs.cjs
Due: none

ci: restore ubuntu-latest for GA-required checks
  .github/workflows/ci-post-merge.yml
  .github/workflows/ci-pr.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/slsa-provenance.yml
Due: prettier --write

feat(osint): implement claim-centric validation system
  server/src/osint/OSINTPipeline.ts
  server/src/osint/__tests__/claimValidation.test.ts
Due: none

feat(osint): implement claim-centric validation pipeline
  server/src/osint/ClaimExtractor.ts
  server/src/osint/ClaimValidator.ts
  server/src/osint/ContradictionDetector.ts
  server/src/osint/OSINTEnrichmentService.ts
  server/src/osint/OSINTPipeline.ts
  server/src/osint/__tests__/ClaimExtractor.test.ts
  server/src/osint/__tests__/ClaimValidator.test.ts
  server/src/osint/__tests__/ContradictionDetector.test.ts
  server/src/osint/__tests__/OSINTPipeline.test.ts
Due: none

feat: add self-hosted runner test and health check workflow
  .github/workflows/test-runners.yml
Due: prettier --write

fix: update Qwen3TTSProvider test to use ESM-compatible mocking
  pnpm-lock.yaml
  server/src/services/voice/providers/__tests__/Qwen3TTSProvider.test.ts
Due: none

ci: harden CI/CD pipelines against unanchored regex risk (#16932)
  .github/workflows/release-ga.yml
  docs/ga/CI-CD-SECURITY-STANDARDS.md
  docs/ga/SECURITY_BASELINE.md
  docs/security/ADVISORY-2026-001-UNANCHORED-REGEX.md
  policy/ci/agent-rules.json
  scripts/ci/auto-pin-images.sh
  scripts/ci/check-image-pinning.sh
  scripts/security/baseline-check.sh
Due: prettier --write

feat: add Behavior Merge Engine with RAM Policy (#16931)
  packages/behavior-merge-engine/package.json
  packages/behavior-merge-engine/src/core/interfaces.ts
  packages/behavior-merge-engine/src/evidence/tracker.ts
  packages/behavior-merge-engine/src/index.ts
  packages/behavior-merge-engine/src/manifest/schema.ts
  packages/behavior-merge-engine/src/policies/ram.ts
  packages/behavior-merge-engine/tests/ram.test.ts
  packages/behavior-merge-engine/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement claim-centric validation for OSINT enrichment (#16929)
  server/src/osint/ClaimExtractor.ts
  server/src/osint/ClaimValidator.ts
  server/src/osint/ContradictionDetector.ts
  server/src/osint/OSINTEnrichmentService.ts
  server/src/osint/OSINTPipeline.ts
  server/src/osint/__tests__/ClaimExtractor.test.ts
  server/src/osint/__tests__/ClaimValidator.test.ts
  server/src/osint/__tests__/ContradictionDetector.test.ts
  server/src/osint/__tests__/OSINTPipeline.test.ts
Due: none

chore: bump version to 5.0.73
  package.json
Due: prettier --write

feat: add required field indicators to Data Source form (#16926)
  frontend/src/ingestWizard/components/DataSourceSelection.test.tsx
  frontend/src/ingestWizard/components/DataSourceSelection.tsx
  frontend/src/ingestWizard/styles.css
Due: prettier --write

fix(security): fix SSRF in OSINT Collector (#16925)
  packages/osint-collector/jest.config.cjs
  packages/osint-collector/src/collectors/DomainIntelCollector.ts
  packages/osint-collector/src/collectors/SimpleFeedCollector.ts
  packages/osint-collector/src/utils/security.test.ts
  packages/osint-collector/src/utils/security.ts
Due: eslint --fix --max-warnings=0 --cache

perf: optimize PrometheusMetrics key generation (#16924)
  .jules/bolt.md
  server/src/utils/__tests__/metrics.test.ts
  server/src/utils/metrics.ts
Due: prettier --write

ci: add GA Gate workflow and fix Jest ESM/CJS compatibility (#16913)
  .eslintignore
  .github/workflows/ga-gate.yml
  pnpm-lock.yaml
  server/jest.config.ts
  server/scripts/run-jest.mjs
  server/src/services/voice/providers/__tests__/Qwen3TTSProvider.test.ts
  tsconfig.base.json
Due: prettier --write

fix(deps): update node-gyp dependency to git reference (#16739)
  tsconfig.base.json
Due: prettier --write

chore: bump version to 5.0.74
  package.json
Due: prettier --write

chore(deps): bump vm2 from 3.10.2 to 3.10.3
  packages/plugin-system/package.json
  packages/smart-contracts/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): bump tar from 7.5.4 to 7.5.7
  packages/adapter-sdk/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump version to 5.0.75
  package.json
Due: prettier --write

docs: add competitive moat strategy for Jan 2026 (#16933)
  docs/strategy/competitive_moat_2026_01_27.md
Due: prettier --write

chore: bump version to 5.0.76
  package.json
Due: prettier --write

ci: bootstrap basic pnpm workflow (#16941)
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: prettier --write

Harden OIDC Trust Policies & Add Governance Evidence (#16940)
  .github/workflows/deploy-aws.yml
  .github/workflows/oidc-trust-lint.yml
  infra/aws/iam/gh_oidc.tf
  scripts/security/oidc_trust_lint.py
  summit_helm_argocd_multiacct_pack/infra/terraform/aws/multi_account_ecr/main.tf
  summit_release_env_pack/infra/terraform/aws/oidc_ecr/main.tf
  terraform/iam/github-oidc.tf
Due: prettier --write

Operationalize OSINT Methodology V2 (#16939)
  AGENTS.md
  docs/specs/OSINT_METHODOLOGY_V2.md
  intelgraph/core/models.py
  packages/osint-collector/src/types/evidence.ts
  packages/osint-collector/src/types/index.ts
  packages/osint-collector/src/types/telemetry.ts
  pnpm-lock.yaml
  server/src/governance/OsintQualityGate.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(strategy): Debezium 3.4 absorption and provenance moat (#16938)
  docs/specs/universal_data_provenance.md
  docs/strategy/debezium_3_4_absorption.md
  policies/provenance-gate.rego
Due: prettier --write

feat(strategy): operationalize MCP, Context Engineering, and (#16937)
  docs/roadmap/AGENTIC_EMBEDDING_STRATEGY.md
  docs/standards/SUMMIT_REFERENCE_STANDARDS.md
  docs/strategy/moat_2026_01_27_mcp_context.md
  packages/mcp-gateway/README.md
  packages/mcp-gateway/package.json
  policies/security/mcp_governance.rego
Due: prettier --write

feat: implement frame-first narrative primitives and strateg (#16936)
  .github/workflows/narrative-governance.yml
  docs/roadmap/NARRATIVE_EARLY_WARNING.md
  docs/strategy/2026_01_27_NARRATIVE_WARFARE_DIRECTIVE.md
  packages/narrative-engine/src/core/types.ts
  packages/narrative-engine/src/schema.graphql
  prompts/sys/FRAME_EXTRACTION_AGENT.md
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(strategy): add automation turn 4 analysis (#16935)
  docs/strategy/automation_turn_4_analysis.md
Due: prettier --write

feat(intel): add Turn 4 threat intel artifacts and policies (#16934)
  docs/research/2026-01-27-turn4-briefing.md
  intelgraph/data/seeds/threat_intel_2026_01_27.json
  packages/osint-collector/config/sources_update.json
  policies/emergency/2026-01-27-cve-response.rego
Due: prettier --write

chore: bump version to 5.0.77
  package.json
Due: prettier --write

ci: add workflow drift guard CI job (#16942)
  .github/workflows/ci-workflow-diff.yml
  package.json
  pnpm-lock.yaml
  scripts/ci/workflows_diff/analyze_workflows.mjs
  scripts/ci/workflows_diff/generate_patch.mjs
  scripts/ci/workflows_diff/suggest_fixes.mjs
  scripts/ci/workflows_diff/utils.mjs
Due: prettier --write

chore: bump version to 5.0.78
  package.json
Due: prettier --write

feat: add GA parity gate and OIDC preview deployment (#16944)
  .github/workflows/deploy-preview.yml
  docs/ledger/README.md
  policies/parity.yml
  scripts/deploy/preview.sh
  scripts/flags/export_flags.sh
  scripts/governance/compare_scorecards.mjs
  scripts/images/list.sh
  terraform/environments/preview/main.tf
  terraform/modules/gh_oidc/main.tf
  terraform/modules/gh_oidc/outputs.tf
  terraform/modules/gh_oidc/variables.tf
Due: prettier --write

chore: bump version to 5.0.79
  package.json
Due: prettier --write

chore: bump version to 5.0.80
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
