Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(archsim): implement architecture simulation and audit subsystem
  docs/deps_delta.md
  evidence/EVD-ARCHIMYST-SIM-001/metrics.json
  evidence/EVD-ARCHIMYST-SIM-001/report.json
  evidence/EVD-ARCHIMYST-SIM-001/stamp.json
  evidence/index.json
  fixtures/archsim/invalid_unknown_type.json
  fixtures/archsim/valid_minimal.json
  modules/archsim/README.md
  modules/archsim/__init__.py
  modules/archsim/audit/__init__.py
  modules/archsim/audit/auditors.py
  modules/archsim/generate_evidence.py
  modules/archsim/innovation/__init__.py
  modules/archsim/innovation/placeholders.py
  modules/archsim/sim/__init__.py
  modules/archsim/sim/simulate.py
  modules/archsim/tests_unit.py
  modules/archsim/validator.py
  modules/archsim/verify.py
  packages/plugin-system/package.json
  required_checks.todo.md
  schemas/archsim/architecture_spec_v1.schema.json
Due: prettier --write

feat(orchestrator): finalize Event Log v2 with Phase D Swap
  server/src/db/migrations/20260131120000_orchestrator_schema.sql
  server/src/db/migrations/20260131130000_partition_events_outbox.sql
  server/src/db/migrations/20260131140000_swap_partitioned_orchestrator.sql
  server/src/orchestrator/PartitionManager.ts
  server/src/orchestrator/PostgresStore.ts
  server/src/orchestrator/maestro-worker.ts
  server/src/orchestrator/metrics.ts
  server/src/orchestrator/retention-worker.ts
  server/src/orchestrator/runner.ts
  server/src/orchestrator/worker.ts
  tests/orchestrator_partitioning.test.ts
Due: none

fix: repair ci workflow job graph
  .github/workflows/ci.yml
Due: prettier --write

fix(security): migrate smart-contracts from vm2 to isolated-vm [CRITICAL]
  packages/smart-contracts/package.json
  packages/smart-contracts/src/executor/SmartContractExecutor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: align evidence validation with index schema
  .github/workflows/evidence.yml
  evidence/EVD-SDSBC-FOUNDATION-001/report.json
  evidence/index.json
  tests/fixtures/evidence_bad_missing_stamp/evidence/EVD-TEST-002/report.json
  tests/fixtures/evidence_good/evidence/EVD-TEST-001/report.json
  tools/evidence_validate.py
Due: prettier --write

feat: implement WeChat-to-NotebookLM ingestion foundation
  connectors/notebooklm/__init__.py
  connectors/notebooklm/cli.py
  connectors/notebooklm/tests/test_cli_args.py
  evidence/index.json
  evidence/schema/metrics.schema.json
  evidence/schema/report.schema.json
  evidence/schema/stamp.schema.json
  ingest/__init__.py
  ingest/wechat/__init__.py
  ingest/wechat/convert.py
  ingest/wechat/fixtures/wechat_sample.html
  ingest/wechat/tests/test_convert_deterministic.py
  ingest/wechat/tests/test_policy.py
  ingest/wechat/tests/test_validate.py
  ingest/wechat/utils.py
  ingest/wechat/validate.py
  pipelines/wechat_to_notebooklm/__init__.py
  pipelines/wechat_to_notebooklm/run.py
  pipelines/wechat_to_notebooklm/tests/test_dry_run.py
  pytest.ini
Due: prettier --write

fix(security): migrate smart-contracts from vm2 to isolated-vm
  packages/smart-contracts/package.json
  packages/smart-contracts/src/executor/SmartContractExecutor.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(security): update @orval/core override to 7.21.0 and fix workspace refs [CRITICAL]
  apps/validator-worker/package.json
  package.json
  packages/maestro-skills/recursive-context-skill/package.json
  packages/maestro-skills/skill-designos-extract/package.json
  packages/maestro-skills/skill-github-pr/package.json
  packages/maestro-skills/skill-ui-build-loop/package.json
  packages/maestro-skills/skill-ui-components/package.json
  packages/maestro-skills/voice-generation-skill/package.json
  server/package.json
Due: prettier --write

feat: implement ShinyHunters-branded SaaS data theft response pack
  .ci/detections_unit.py
  .ci/evidence_validate.py
  .ci/supplychain_delta_check.py
  docs/governance/audit_export_contract.md
  docs/runbooks/shiny_saas_vishing/containment.md
  docs/runbooks/shiny_saas_vishing/hardening_helpdesk.md
  docs/runbooks/shiny_saas_vishing/helpdesk_workflow_template.md
  docs/runbooks/shiny_saas_vishing/logging_matrix.md
  docs/supplychain/dependency_delta.md
  evidence/bundles/SHINY-SAAS-VISH-20260130/evidence/index.json
  evidence/bundles/SHINY-SAAS-VISH-20260130/metrics.json
  evidence/bundles/SHINY-SAAS-VISH-20260130/report.json
  evidence/bundles/SHINY-SAAS-VISH-20260130/stamp.json
  evidence/bundles/SHINY-SAAS-VISH-20260130/tabletop_script.json
  evidence/schemas/index.schema.json
  evidence/schemas/metrics.schema.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
  feature_flags/flags.yml
  packages/detections/correlation_scorer.py
  packages/detections/shiny_saas_vish/rules/rule_001_mfa_enroll_then_oauth_then_exfil.yml
  packages/detections/shiny_saas_vish/rules/rule_002_salesforce_bulk_export_burst.yml
  packages/detections/shiny_saas_vish/rules/rule_003_workspace_takeout_after_oauth.yml
  packages/detections/shiny_saas_vish/rules/rule_004_gmail_outbound_delete_cleanup.yml
  packages/detections/shiny_saas_vish/tests/fixtures/negative/neg_001_mfa_enroll_then_oauth_then_exfil.json
  packages/detections/shiny_saas_vish/tests/fixtures/negative/neg_002_salesforce_bulk_export_burst.json
  packages/detections/shiny_saas_vish/tests/fixtures/negative/neg_003_workspace_takeout_after_oauth.json
  packages/detections/shiny_saas_vish/tests/fixtures/negative/neg_004_gmail_outbound_delete_cleanup.json
  packages/detections/shiny_saas_vish/tests/fixtures/positive/pos_001_mfa_enroll_then_oauth_then_exfil.json
  packages/detections/shiny_saas_vish/tests/fixtures/positive/pos_002_salesforce_bulk_export_burst.json
  packages/detections/shiny_saas_vish/tests/fixtures/positive/pos_003_workspace_takeout_after_oauth.json
  packages/detections/shiny_saas_vish/tests/fixtures/positive/pos_004_gmail_outbound_delete_cleanup.json
  packages/normalize/canonical_event.json
  packages/normalize/providers/entra/README.md
  packages/normalize/providers/m365/README.md
  packages/normalize/providers/okta/README.md
  packages/normalize/providers/salesforce/README.md
  packages/normalize/providers/workspace/README.md
Due: prettier --write

feat: add orchestrator store, supply chain workflow, and decks cli
  GA_RELEASE_SUMMARY.md
  server/src/orchestrator/runner.ts
  tests/orchestrator_partitioning.test.ts
Due: prettier --write

feat: add orchestrator store, supply chain workflow, and decks CLI
  GA_RELEASE_SUMMARY.md
  server/src/orchestrator/runner.ts
  tests/orchestrator_partitioning.test.ts
Due: prettier --write

fix(orchestrator): preserve event_seq identity and add partition drop safety
  server/src/orchestrator/PostgresStore.ts
Due: none

feat: integrate SpatialGenEval benchmark adapter
  benchmarks/spatialgeneval/README.md
  benchmarks/spatialgeneval/io.py
  benchmarks/spatialgeneval/judge/base.py
  benchmarks/spatialgeneval/manifest.json
  benchmarks/spatialgeneval/runner.py
  evidence/index.json
  evidence/schema/metrics.schema.json
  evidence/schema/report.schema.json
  evidence/schema/stamp.schema.json
  evidence/spatialgeneval/metrics.json
  evidence/spatialgeneval/report.json
  evidence/spatialgeneval/stamp.json
  server/src/orchestrator/PostgresStore.ts
  tests/fixtures/spatialgeneval/minimal_prompt_qa.jsonl
  tests/test_spatialgeneval_scoring.py
  third_party/spatialgeneval/NOTICE.md
  tools/check_dep_delta.py
  tools/validate_evidence.py
Due: prettier --write

chore: complete @maestro/core rename sweep + add security evidence
  docs/security/SECURITY_FIXES_2026-01-31.md
  packages/maestro-cli/package.json
  packages/maestro-cli/src/commands/run.ts
  packages/maestro-cli/tsconfig.json
  packages/maestro-skills/recursive-context-skill/src/index.ts
  packages/maestro-skills/recursive-context-skill/tsconfig.json
  packages/maestro-skills/skill-designos-extract/src/index.ts
  packages/maestro-skills/skill-designos-extract/tsconfig.json
  packages/maestro-skills/skill-github-pr/src/index.ts
  packages/maestro-skills/skill-ui-build-loop/src/index.ts
  packages/maestro-skills/skill-ui-build-loop/tsconfig.json
  packages/maestro-skills/skill-ui-components/src/index.ts
  packages/maestro-skills/skill-ui-components/tsconfig.json
  packages/maestro-skills/voice-generation-skill/src/index.ts
  packages/maestro-skills/voice-generation-skill/tsconfig.json
  pnpm-lock.yaml
  server/src/maestro/engine.ts
  server/src/orchestrator/runner.ts
  tests/orchestrator_partitioning.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement ATP Latent Planner Evidence System & Scaffold
  docs/security/SECURITY_FIXES_2026-01-31.md
  packages/maestro-cli/package.json
  packages/maestro-cli/src/commands/run.ts
  packages/maestro-cli/tsconfig.json
  packages/maestro-skills/recursive-context-skill/src/index.ts
  packages/maestro-skills/recursive-context-skill/tsconfig.json
  packages/maestro-skills/skill-designos-extract/src/index.ts
  packages/maestro-skills/skill-designos-extract/tsconfig.json
  packages/maestro-skills/skill-github-pr/src/index.ts
  packages/maestro-skills/skill-ui-build-loop/src/index.ts
  packages/maestro-skills/skill-ui-build-loop/tsconfig.json
  packages/maestro-skills/skill-ui-components/src/index.ts
  packages/maestro-skills/skill-ui-components/tsconfig.json
  packages/maestro-skills/voice-generation-skill/src/index.ts
  packages/maestro-skills/voice-generation-skill/tsconfig.json
  pnpm-lock.yaml
  server/src/maestro/engine.ts
  server/src/orchestrator/runner.ts
  tests/orchestrator_partitioning.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: scaffold qwen3 asr integration
  NOTICE.third_party.md
  agents/examples/QWEN3_ASR_SCAFFOLD_20260131.json
  asr/__init__.py
  asr/cli.py
  asr/eval/__init__.py
  asr/eval/run_eval.py
  asr/provider.py
  asr/providers/__init__.py
  asr/providers/_util.py
  asr/providers/qwen3_asr_stub.py
  asr/security.py
  asr/types.py
  docs/asr/qwen3_asr.md
  packages/decision-ledger/decision_ledger.json
  prompts/asr/qwen3-asr-scaffold@v1.md
  prompts/registry.yaml
  tests/test_asr_contract.py
  tests/test_redaction.py
Due: prettier --write

test: restore governance redaction coverage
  tests/test_asr_redaction.py
  tests/test_redaction.py
Due: none

feat: scaffold Qwen3-ASR integration (deny-by-default)
  NOTICE.third_party.md
  agents/examples/QWEN3_ASR_SCAFFOLD_20260131.json
  asr/__init__.py
  asr/cli.py
  asr/eval/__init__.py
  asr/eval/run_eval.py
  asr/provider.py
  asr/providers/__init__.py
  asr/providers/_util.py
  asr/providers/qwen3_asr_stub.py
  asr/security.py
  asr/types.py
  docs/asr/qwen3_asr.md
  packages/decision-ledger/decision_ledger.json
  prompts/asr/qwen3-asr-scaffold@v1.md
  prompts/registry.yaml
  tests/test_asr_contract.py
  tests/test_asr_redaction.py
Due: prettier --write

feat(retrieval): implement structured data flattening for vector search
  docs/retrieval/flattening_structured_data.md
  evidence/EVD-FLATTEN-STRUCTURED-VS-INGEST-001/metrics.json
  evidence/EVD-FLATTEN-STRUCTURED-VS-INGEST-001/report.json
  evidence/EVD-FLATTEN-STRUCTURED-VS-INGEST-001/stamp.json
  evidence/EVD-FLATTEN-STRUCTURED-VS-SEC-001/metrics.json
  evidence/EVD-FLATTEN-STRUCTURED-VS-SEC-001/report.json
  evidence/EVD-FLATTEN-STRUCTURED-VS-SEC-001/stamp.json
  evidence/index.json
  summit/evals/retriever/__init__.py
  summit/evals/retriever/backends/__init__.py
  summit/evals/retriever/backends/faiss_backend.py
  summit/evals/retriever/datasets/__init__.py
  summit/evals/retriever/datasets/esci_loader.py
  summit/evals/retriever/runner.py
  summit/evidence/schemas/index.schema.json
  summit/evidence/schemas/report.schema.json
  summit/evidence/validate.py
  summit/evidence/verifier.py
  summit/ingest/__init__.py
  summit/ingest/flatten.py
  summit/ingest/flatten_policy.py
  summit/ingest/pipeline.py
  summit/security/pii.py
  tests/ingest/test_flatten.py
  tests/security/test_pii_redaction.py
Due: prettier --write

docs: add threattrace subsumption plan
  docs/architecture/threattrace_subsumption_plan.md
  docs/roadmap/STATUS.json
Due: prettier --write

fix: reconstruct corrupted evidence/index.json
  evidence/index.json
Due: prettier --write

🛡️ Sentinel: [CRITICAL] Fix missing RBAC on admin reindex endpoint (#17406)
  .github/workflows/ci-preflight.yml
  apps/gateway/src/routes/search.test.ts
  apps/gateway/src/routes/search.ts
Due: prettier --write

feat(governance): implement Ed25519 signature verification and taint propagation (#17424)
  agents/governance/__tests__/revocation-daemon.test.ts
  agents/governance/src/provenance/revocation-daemon.ts
Due: none

Add organization policy allowlist and user opt-in checks (#17414)
  summit/policy/router.py
  tests/policy/test_router.py
Due: none

Implement Vind Driver and Evidence-Based CI Workflows (#17527)
  .github/workflows/e2e-vind-bench.yml
  .github/workflows/e2e-vind-lifecycle.yml
  .github/workflows/e2e-vind-smoke.yml
  evidence/schema/index.schema.json
  evidence/schema/metrics.schema.json
  evidence/schema/report.schema.json
  evidence/schema/stamp.schema.json
  required_checks.todo.md
  summit/cluster/drivers/vind/driver.py
  summit/cluster/drivers/vind/test_vind.py
  summit/flags.py
Due: prettier --write

Integrate CI/CD Observer and Enforce Workflow Hygiene (#17518)
  .github/actionlint.yaml
  .github/workflows/ci-actionlint.yml
  .github/workflows/cicd-observer.yml
  SECURITY/supply-chain/gha-pinning.md
  tools/cicd_observer/compute.py
  tools/cicd_observer/fetch.py
  tools/cicd_observer/ingest.py
  tools/cicd_observer/main.py
  tools/cicd_observer/render.py
  tools/cicd_observer/schema/run_v1.json
  tools/cicd_observer/stamp.py
  tools/cicd_observer/tests/fixtures/runs_v1.json
  tools/cicd_observer/tests/test_determinism.py
  tools/cicd_observer/tests/test_metrics_golden.py
Due: prettier --write

Implement GraphCI Pipeline PR1 (#17516)
  .github/workflows/graphci.yml
  ci/graphci/registry.yaml
  ci/graphci/schemas/battlecard.schema.json
  ci/graphci/schemas/claim.schema.json
  ci/graphci/schemas/metrics.schema.json
  ci/graphci/src/graphci/__init__.py
  ci/graphci/src/graphci/evidence.py
  ci/graphci/src/graphci/hashutil.py
  ci/graphci/src/graphci/run.py
  ci/graphci/tests/test_determinism.py
Due: prettier --write

feat(lineage-sdk): foundation + proofs (#17515)
  docs/ga/evidence/a0680cf11fd217493bfd7b11fea1b3477973fee0/metrics.json
  docs/ga/evidence/a0680cf11fd217493bfd7b11fea1b3477973fee0/report.json
  docs/ga/evidence/a0680cf11fd217493bfd7b11fea1b3477973fee0/stamp.json
  package.json
  packages/lineage/openlineage/examples/run-complete.json
  packages/lineage/openlineage/package.json
  packages/lineage/openlineage/pnpm-lock.yaml
  packages/lineage/openlineage/src/event.test.ts
  packages/lineage/openlineage/src/event.ts
  packages/lineage/openlineage/src/facets/core.ts
  packages/lineage/openlineage/src/facets/summit.ts
  packages/lineage/openlineage/src/index.ts
  packages/lineage/openlineage/src/validate.ts
  packages/lineage/openlineage/tsconfig.json
  packages/lineage/openlineage/vitest.config.ts
  scripts/ci/generate_pr1_evidence.mjs
  scripts/ci/validate_openlineage_events.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add ThreatTrace subsumption plan and roadmap entry (#17524)
  docs/architecture/threattrace_subsumption_plan.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat(sgf): initialize Summit Governance Fabric foundation (#17523)
  .github/workflows/ci-sgf.yml
  DEPENDENCY_DELTA.md
  apps/validator-worker/package.json
  packages/graph-sync-validator/package.json
  packages/sgf-evals/package.json
  packages/sgf-evals/tests/ledger_merkle.test.ts
  packages/sgf-evals/tsconfig.json
  packages/sgf-evidence/package.json
  packages/sgf-evidence/src/buildEvidence.ts
  packages/sgf-evidence/src/hash.ts
  packages/sgf-evidence/src/index.ts
  packages/sgf-evidence/tsconfig.json
  packages/sgf-ledger/package.json
  packages/sgf-ledger/src/index.ts
  packages/sgf-ledger/src/ledger.ts
  packages/sgf-ledger/src/merkle.ts
  packages/sgf-ledger/tsconfig.json
  packages/sgf-schema/package.json
  packages/sgf-schema/tsconfig.json
  packages/sgf-schema/v1/activity_event.schema.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: SSEL interfaces + no-op backend (PR-1) (#17522)
  ci/ssel_openapi_validate
  evals/ssel_contract/README.md
  evidence/ssel_contract/README.md
  services/ssel/api/openapi.yaml
  services/ssel/api/src/handlers/artifact.ts
  services/ssel/api/src/handlers/attestation.ts
  services/ssel/api/src/handlers/exec.ts
  services/ssel/api/src/handlers/service.ts
  services/ssel/api/src/handlers/stream.ts
  services/ssel/api/src/server.ts
  services/ssel/core/src/types.ts
  services/ssel/package.json
  services/ssel/tsconfig.json
Due: prettier --write

Integrate Microsoft Foundry (Azure AI) Provider (#17517)
  config/providers.yaml
  evidence/EVID-20260131-foundry-evals/index.json
  evidence/EVID-20260131-foundry-evals/metrics.json
  evidence/EVID-20260131-foundry-evals/report.json
  evidence/EVID-20260131-foundry-evals/stamp.json
  summit/evals/foundry_eval.py
  summit/policy/router.py
  summit/providers/azure_foundry/__init__.py
  summit/providers/azure_foundry/auth.py
  summit/providers/azure_foundry/catalog.py
  summit/providers/azure_foundry/client.py
  tests/policy/test_router_foundry.py
  tests/providers/test_azure_foundry.py
Due: prettier --write

Implement Learned Gate in GatedFusion (#17416)
  summit/mm/fusion/gated_fusion.py
Due: none

ci: minor workflow and test config adjustments
  .github/workflows/ci-preflight.yml
  apps/web/vitest.config.ts
  packages/aer-ledger/package.json
Due: prettier --write

fix(ci): restore er-service requirements file
  .gitignore
  docs/roadmap/STATUS.json
  prompts/operations/er-service-requirements@v1.md
  prompts/registry.yaml
  services/er-service/requirements.txt
Due: prettier --write

fix(ci): restore er-service requirements file (#17467)
  .github/workflows/ci-preflight.yml
  .gitignore
  apps/web/vitest.config.ts
  docs/roadmap/STATUS.json
  packages/aer-ledger/package.json
  prompts/operations/er-service-requirements@v1.md
  prompts/registry.yaml
  services/er-service/requirements.txt
Due: prettier --write

fix(ci): include ga-graphai packages in gateway build
  apps/gateway/Dockerfile
  docs/roadmap/STATUS.json
  prompts/operations/gateway-ga-graphai-context@v1.md
  prompts/registry.yaml
Due: prettier --write
