Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: gate demo-only experience
  apps/web/src/App.tsx
  apps/web/src/__tests__/demoMode.test.tsx
  apps/web/src/components/common/DemoIndicator.tsx
  apps/web/src/components/common/DemoModeGate.tsx
  apps/web/src/lib/demoMode.ts
Due: none

chore: add sbom generation to ci
  .github/workflows/pr-quality-gate.yml
  docs/security/SBOM.md
  scripts/generate-sbom.sh
  scripts/sbom-policy-check.mjs
Due: prettier --write

feat: add evidence completeness scoring
  server/src/conductor/api/__tests__/evidence-receipt.test.ts
  server/src/conductor/api/evidence-routes.ts
  server/src/provenance/__tests__/evidenceScore.test.ts
  server/src/provenance/evidenceScore.ts
Due: none

feat: scaffold ui i18n
  docs/ui/I18N.md
  eslint.config.mjs
  ui/components/Switchboard.tsx
  ui/i18n/en-US.ts
  ui/i18n/index.ts
Due: prettier --write

feat: add configurable security headers
  server/src/app.ts
  server/src/middleware/__tests__/securityHeaders.test.ts
  server/src/middleware/securityHeaders.ts
Due: none

chore: enforce upgrade and migration notes
  .github/workflows/pr-quality-gate.yml
  CONTRIBUTING.md
  docs/release/UPGRADE_NOTES_TEMPLATE.md
  docs/releases/RELEASE_NOTES_v24.1.md
  docs/roadmap/STATUS.json
  scripts/check-upgrade-notes.sh
Due: prettier --write

docs: add disinformation defense workbench plan
  docs/disinformation-defense-workbench-plan.md
Due: prettier --write

docs: record edops ga sprint prompt
  SPRINT_INDEX.md
  sprint/edops-ga-sprint-prompt.md
Due: prettier --write

feat: add receipt metrics instrumentation
  server/src/conductor/api/__tests__/evidence-receipt.test.ts
  server/src/conductor/api/evidence-routes.ts
  server/src/http/__tests__/metricsRoute.test.ts
  server/src/http/metricsRoute.ts
  server/src/metrics/registry.ts
Due: none

docs: add disinfo response sprint plan
  sprint/ga-moat-disinfo-response-plan.md
Due: prettier --write

docs: add georgia disinformation wedge plan
  GA_DISINFORMATION_WEDGE_PLAN.md
Due: prettier --write

docs: add provenance-first campaign atlas sprint plan
  docs/provenance-first-campaign-atlas-sprint-plan.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add GA disinformation defense plan
  docs/ga_disinfo_defense_plan.md
Due: prettier --write

feat: add CLI doctor command
  docs/dev/CLI_DOCTOR.md
  packages/cli/package.json
  packages/cli/src/commands/doctor.test.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: outline graph-native intelligence strategy
  docs/graph-native-intelligence.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat: add trace context middleware
  docs/roadmap/STATUS.json
  jest.config.cjs
  middleware/__tests__/traceContext.test.ts
  middleware/traceContext.ts
  tsconfig.test.json
Due: prettier --write

docs: add incident readiness artifacts
  docs/README.md
  docs/ops/DRILL_CHECKLIST.md
  docs/ops/INCIDENT_SEVERITY.md
  docs/ops/INCIDENT_TEMPLATE.md
Due: prettier --write

test: add deterministic chaos harness
  docs/dev/CHAOS_TESTING.md
  jest.config.cjs
  src/data-pipeline/pipeline.ts
  src/data-pipeline/types.ts
  test/utils/faultInjector.ts
  tests/ingest/chaosHarness.test.ts
  tsconfig.test.json
Due: prettier --write

feat: harden gateway security controls
  SECURITY/security-epics-hardening-plan.md
  apps/server/package.json
  apps/server/src/config/rateLimit.ts
  apps/server/src/index.test.ts
  apps/server/src/index.ts
  apps/server/src/observability/securityLogger.ts
  apps/server/src/security/csrf.ts
  apps/server/src/security/surfaceInventory.ts
  apps/server/src/security/tenant.ts
  apps/server/src/security/waf.ts
  apps/server/src/types/express-session.d.ts
  apps/server/src/types/express.d.ts
Due: prettier --write

feat: implement integration modernization runtime
  docs/integration_initiative_plan.md
  packages/integration-modernization/jest.config.cjs
  packages/integration-modernization/package.json
  packages/integration-modernization/src/costPerformance.ts
  packages/integration-modernization/src/eventBackbone.ts
  packages/integration-modernization/src/governance.ts
  packages/integration-modernization/src/index.ts
  packages/integration-modernization/src/observability.ts
  packages/integration-modernization/src/runtime.ts
  packages/integration-modernization/src/secretVault.ts
  packages/integration-modernization/src/security.ts
  packages/integration-modernization/src/syncManager.ts
  packages/integration-modernization/src/types.ts
  packages/integration-modernization/src/workflowEngine.ts
  packages/integration-modernization/tests/eventBackbone.test.ts
  packages/integration-modernization/tests/governance.test.ts
  packages/integration-modernization/tests/runtime.test.ts
  packages/integration-modernization/tests/syncManager.test.ts
  packages/integration-modernization/tests/workflowEngine.test.ts
  packages/integration-modernization/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement modernization enforcement engine
  docs/domains/domain-map.json
  docs/modernization_epic_execution_plan.md
  packages/modernization-engine/package.json
  packages/modernization-engine/src/domain-registry.ts
  packages/modernization-engine/src/error-model.ts
  packages/modernization-engine/src/errors.ts
  packages/modernization-engine/src/index.ts
  packages/modernization-engine/src/metrics.ts
  packages/modernization-engine/src/risk-engine.ts
  packages/modernization-engine/src/slo.ts
  packages/modernization-engine/src/strangler.ts
  packages/modernization-engine/src/types.ts
  packages/modernization-engine/tests/modernization-engine.test.ts
  packages/modernization-engine/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add mobile architecture reset plan
  docs/mobile/mobile_architecture_reset_plan.md
Due: prettier --write

docs: add automation epic delivery plan
  docs/roadmaps/automation-epics-delivery-plan.md
Due: prettier --write

docs: add operational hardening blueprint
  docs/operational-hardening-blueprint.md
Due: prettier --write

docs: add operating system scale roadmap v2
  VERSION2_OPERATING_SYSTEM_FOR_SCALE.md
Due: prettier --write

docs: add commercial brief for pilots and packaging
  docs/commercial/brief.md
Due: prettier --write

docs: add data flywheel supervision model
  docs/DATA_GOVERNANCE.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add pilot charter thresholds
  docs/pilot/pilot_charter.md
Due: prettier --write

docs: expand summit api documentation
  docs/postman/summit-api.postman_collection.json
  openapi/README.md
  openapi/spec.yaml
  server/src/app.ts
Due: prettier --write

feat: harden public health compliance validation
  docs/public-health-orchestration.md
  packages/orchestration/__tests__/publicHealthPlan.test.ts
  packages/orchestration/src/index.ts
  packages/orchestration/src/publicHealthPlan.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add agent control plane safety
  docs/roadmap/agent-safety-control-plane-roadmap.md
  packages/platform-governance/src/control-plane/audit.ts
  packages/platform-governance/src/control-plane/execution-guard.test.ts
  packages/platform-governance/src/control-plane/execution-guard.ts
  packages/platform-governance/src/control-plane/quota.ts
  packages/platform-governance/src/control-plane/safe-tool.ts
  packages/platform-governance/src/control-plane/sandbox.ts
  packages/platform-governance/src/control-plane/tool-registry.ts
  packages/platform-governance/src/control-plane/types.ts
  packages/platform-governance/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add error budget burn calculator
  jest.config.cjs
  ops/error-budgets/mvp4ga.yaml
  scripts/__tests__/calc-burn.test.ts
  scripts/__tests__/fixtures/metrics.mvp4ga.json
  scripts/calc-burn.ts
  tsconfig.test.json
Due: prettier --write

feat: add retry and error mapping utilities
  src/utils/__tests__/errors.test.ts
  src/utils/__tests__/retry.test.ts
  src/utils/errors.ts
  src/utils/retry.ts
Due: none

feat: add in-memory rate limiting for ai webhooks
  server/src/config/rateLimit.ts
  server/src/middleware/__tests__/webhookRateLimit.test.ts
  server/src/middleware/rateLimit.ts
  server/src/routes/aiWebhook.ts
Due: none

feat: add policy decision provenance metadata
  docs/roadmap/STATUS.json
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/src/provenance.ts
  ga-graphai/packages/policy/tests/policy-decision-linking.test.ts
Due: prettier --write

feat: add rbac permission helper and matrix
  docs/roadmap/STATUS.json
  docs/security/RBAC_MATRIX.md
  server/src/authz/permissions.ts
  server/src/routes/__tests__/actions.test.ts
  server/src/routes/actions.ts
Due: prettier --write

chore: add secret scanning guardrails
  .github/workflows/secret-scan-warn.yml
  server/src/logging/__tests__/logRedaction.test.ts
  server/src/logging/logRedaction.ts
  server/src/logging/structuredLogger.ts
Due: prettier --write

feat: add disaster recovery scripts and docs
  docs/ops/DISASTER_RECOVERY.md
  scripts/__tests__/disaster-recovery.test.mjs
  scripts/backup.sh
  scripts/restore.sh
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
