Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive OTEL tracing, Prometheus metrics, and DR infrastructure
  deploy/k8s/cron/chaos-drill-monthly.yaml
  docs/OBSERVABILITY_DR_IMPLEMENTATION.md
  docs/autoscaling-policies.md
  docs/runbooks/chaos-drill-runbooks.md
  infra/chaos/chaos-experiments.yaml
  infra/observability/grafana-dashboards/dr-metrics.json
  scripts/benchmark-suite.sh
  scripts/chaos-drill.sh
  scripts/dr-verify.sh
  scripts/pitr-automated.sh
  server/src/observability/cost-guards.ts
  server/src/observability/metrics-enhanced.ts
  server/src/observability/otel-full.ts
  server/src/observability/slow-query-killer.ts
  server/src/services/archival-tiering.ts
Due: prettier --write

feat: implement selector minimization, reason-for-access, and PNC reporting
  CODEBASE_ARCHITECTURE_OVERVIEW.md
  IMPLEMENTATION_QUICK_REFERENCE.md
  docs/SELECTOR_MINIMIZATION.md
  server/src/audit/advanced-audit-system.ts
  server/src/config/selectorMinimization.ts
  server/src/db/migrations/postgres/009_selector_minimization.sql
  server/src/graphql/middleware/selectorMinimizationMiddleware.ts
  server/src/jobs/selectorMinimizationJobs.ts
  server/src/policy/enforcer.ts
  server/src/services/ProofOfNonCollectionService.ts
  server/src/services/SelectorMinimizationService.ts
  server/src/services/TripwireMetricsService.ts
Due: prettier --write

feat: implement comprehensive structured logging system
  CONTRIBUTING.md
  config/logging.ts
  docs/logging/STRUCTURED_LOGGING.md
  middleware/audit-logger.ts
  middleware/correlation-id.ts
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/audit.ts
  packages/logger/src/context.ts
  packages/logger/src/index.ts
  packages/logger/src/logger.ts
  packages/logger/src/redaction.ts
  packages/logger/src/types.ts
  packages/logger/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update TypeScript build cache
  .tsbuildinfo
Due: none

feat(testing): improve test coverage and quality infrastructure
  .github/workflows/test-coverage.yml
  CONTRIBUTING.md
  jest.coverage.config.cjs
  package.json
  server/src/middleware/__tests__/auth.test.ts
  server/src/middleware/__tests__/requestId.test.ts
  server/src/middleware/__tests__/sanitize.test.ts
  server/src/middleware/__tests__/tenantHeader.test.ts
  tests/README.md
  tests/e2e/data-querying.spec.ts
  tests/e2e/graph-visualization.spec.ts
  tests/e2e/login-logout.spec.ts
  tests/factories/contextFactory.ts
  tests/factories/entityFactory.ts
  tests/factories/graphFactory.ts
  tests/factories/index.ts
  tests/factories/investigationFactory.ts
  tests/factories/relationshipFactory.ts
  tests/factories/requestFactory.ts
  tests/factories/userFactory.ts
  tests/integration/auth.integration.test.ts
  tests/integration/data-import-export.integration.test.ts
  tests/integration/graph-analysis.integration.test.ts
  tests/integration/graphql.integration.test.ts
Due: prettier --write

feat(api): implement comprehensive API documentation system
  .github/workflows/api-docs-validation.yml
  .spectral.yaml
  docs/api/CHANGELOG.md
  docs/api/QUICKSTART.md
  docs/api/README.md
  openapi/spec.yaml
  package.json
  scripts/generate-api-changelog.js
  services/api/src/app.ts
  services/api/src/docs/graphql-docs.ts
  services/api/src/docs/swagger.ts
  services/api/src/middleware/openapi-validator.ts
Due: prettier --write

feat: add comprehensive Grafana observability dashboard stack
  docs/observability/GRAFANA.md
  grafana/dashboards/api-performance.json
  grafana/dashboards/dashboard-provisioning.yml
  grafana/dashboards/system-health.json
  grafana/datasources/prometheus.yml
  monitoring/otel/collector-config.yml
  prometheus/alerts.yml
  prometheus/prometheus.yml
  server/src/metrics.ts
Due: prettier --write

docs: add comprehensive master planning documentation
  DOCUMENTATION_MAP.md
  EXECUTIVE_SUMMARY.md
  MASTER_PLANNING.md
  SPRINT_INDEX.md
Due: prettier --write

fix(ci): resolve CI/CD pipeline failures
  .github/workflows/copilot-adoption-report.yml
  package.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

feat(ci): implement comprehensive CI/CD release automation and versioning
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/docker-build-multiarch.yml
  .github/workflows/semantic-release.yml
  .releaserc.json
  config/feature-flags.json
  config/feature-flags.schema.json
  docs/deployment/FEATURE_FLAGS.md
  docs/deployment/RELEASE_PROCESS.md
  scripts/prepare-release.sh
  scripts/publish-release.sh
Due: prettier --write

feat(security): implement comprehensive Security Autopilot for automated security testing
  .github/workflows/security-autopilot.yml
  .github/workflows/zap-dast.yml
  .security/README.md
  .security/crypto-hygiene-checker.cjs
  .security/security-gates-checker.sh
  SECURITY.md
Due: prettier --write

feat: implement Resilience Lab with automated chaos drills
  .github/workflows/chaos-nightly.yml
  Makefile
  chaos/IMPLEMENTATION_SUMMARY.md
  chaos/QUICK_START.md
  chaos/README.md
  chaos/experiments/kill-graphql-api.yaml
  chaos/experiments/kill-neo4j.yaml
  chaos/experiments/kill-postgres.yaml
  chaos/prometheus-rules-chaos.yaml
  chaos/runner.sh
  chaos/scenarios.yaml
  chaos/slo-validator.sh
  compose/docker-compose.chaos.yml
Due: prettier --write

feat: implement data catalog & governance spine
  Makefile
  db/migrations/020_catalog_schema.sql
  docs/catalog/INTEGRATION_GUIDE.md
  docs/catalog/README.md
  scripts/catalog-init.ts
  scripts/catalog-list.ts
  scripts/catalog-show.ts
  scripts/catalog-stats.ts
  server/src/catalog/CatalogService.ts
  server/src/catalog/authorityIntegration.ts
  server/src/catalog/index.ts
  server/src/catalog/types.ts
Due: prettier --write

feat(security): implement comprehensive OWASP Top 10 compliance and security hardening
  .github/dependabot.yml
  .github/workflows/config/zap-rules.tsv
  .github/workflows/owasp-zap-scan.yml
  docs/security/SECURITY_GUIDELINES.md
  server/migrations/007_add_token_security.sql
  server/src/config/owasp-security.ts
  server/src/config/production-security.ts
  server/src/middleware/security.ts
  server/src/security/security-headers.ts
  server/src/services/AuthService.ts
Due: prettier --write

feat(graphql): implement comprehensive schema governance and validation
  .github/workflows/graphql-validation.yml
  docs/graphql/SCHEMA_GOVERNANCE.md
  graphql/README.md
  graphql/complexity-calculator.ts
  graphql/directives/auth.ts
  graphql/documentation-generator.ts
  graphql/examples/integration-example.ts
  graphql/federation/gateway.ts
  graphql/federation/subgraph.ts
  graphql/performance-monitor.ts
  graphql/playground.html
  graphql/schema-registry.ts
  graphql/validation-rules.ts
Due: prettier --write

docs: add autotriage implementation summary
  AUTOTRIAGE-SUMMARY.md
Due: prettier --write

feat: implement comprehensive database optimization and caching
  config/neo4j.ts
  config/postgresql.ts
  config/redis.ts
  docs/performance/DATABASE_OPTIMIZATION.md
  middleware/database-monitoring.ts
  middleware/dataloader.ts
  middleware/pagination.ts
  migrations/add-neo4j-indexes.cypher
  migrations/add-performance-indexes.sql
Due: prettier --write

feat: consolidate orchestration layer with unified pipeline system
  Justfile
  ORCHESTRATION_INVENTORY.md
  docs/PIPELINES_AND_ORCHESTRATION.md
  pipelines/README.md
  pipelines/__init__.py
  pipelines/adaptors/__init__.py
  pipelines/adaptors/airflow_generator.py
  pipelines/cli.py
  pipelines/manifests/cisa-kev-ingest.yaml
  pipelines/manifests/demo-hello-world.yaml
  pipelines/manifests/intelligence-coordination-batch.yaml
  pipelines/manifests/runbook-ransomware-triage.yaml
  pipelines/registry/__init__.py
  pipelines/registry/core.py
  pipelines/requirements.txt
  pipelines/runners/__init__.py
  pipelines/runners/local_runner.py
  pipelines/schema/pipeline-manifest.schema.json
  pipelines/tests/__init__.py
  pipelines/tests/test_registry.py
  pipelines/tests/test_runner.py
Due: prettier --write

feat: Implement comprehensive production monitoring and incident response system
  .github/workflows/synthetic-monitoring.yml
  docs/operations/INCIDENT_RESPONSE.md
  docs/operations/ON_CALL_GUIDE.md
  docs/runbooks/api-rate-limit-exceeded.md
  docs/runbooks/database-failure-recovery.md
  docs/runbooks/security-incident-response.md
  docs/runbooks/service-degradation.md
  monitoring/alerts-production.yml
  monitoring/apm-config.yml
  monitoring/dashboards/slo-sla-dashboard.json
  monitoring/oncall-config.yml
  server/src/monitoring/business-metrics.ts
Due: prettier --write

feat: implement comprehensive SLO-driven alerting system
  Makefile
  benchmarks/compare-performance.js
  benchmarks/generate-baseline.js
  dora/exporter.ts
  observability/README.md
  observability/alertmanager/alertmanager-slo.yml
  observability/demo/Makefile
  observability/demo/docker-compose.yml
  observability/demo/load-generator.js
  observability/demo/prometheus.yml
  observability/docs/slo-guide.md
  observability/metrics/golden-path-exporter.js
  observability/prometheus/rules/slo-alerting-rules.yaml
  observability/prometheus/rules/slo-recording-rules.yaml
  observability/slo/summit-slos.yaml
  services/ai-copilot/requirements.txt
  services/ai-copilot/src/main.py
  workers/ingest/src/connectors/BaseConnector.ts
Due: prettier --write

feat: add end-to-end demo stories for flagship use cases
  conductor-ui/frontend/src/views/demos/DeescalationDemo.tsx
  conductor-ui/frontend/src/views/demos/MisinfoDefenseDemo.tsx
  demos/IMPLEMENTATION_SUMMARY.md
  demos/README.md
  demos/cli.sh
  demos/copilot/SAFETY.md
  demos/copilot/safety_harness.py
  demos/deescalation/copilot/prompts.json
  demos/deescalation/datasets/demo-conversations.jsonl
  demos/deescalation/output/analysis_results.json
  demos/deescalation/pipelines/load_demo_data.py
  demos/misinfo-defense/copilot/prompts.json
  demos/misinfo-defense/datasets/demo-posts.jsonl
  demos/misinfo-defense/output/analysis_results.json
  demos/misinfo-defense/pipelines/load_demo_data.py
  demos/scripts/deescalation-demo-script.md
  demos/scripts/misinfo-demo-script.md
  package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Build Real-Time Intelligence Dashboard and Collaboration Platform
  client/src/components/Dashboard/WorkspaceManager.tsx
  client/src/components/Dashboard/types.ts
  client/src/components/Dashboard/widgets/GeospatialWidget.tsx
  client/src/components/Dashboard/widgets/ThreatMonitorWidget.tsx
  client/src/components/Dashboard/workspace-styles.css
  client/src/services/websocket.ts
  docs/user-guide/DASHBOARD.md
  docs/user-guide/SETUP.md
  packages/case-management/package.json
  packages/case-management/src/CaseManagementService.ts
  packages/case-management/src/index.ts
  packages/case-management/src/types.ts
  packages/case-management/tsconfig.json
  packages/collaboration/package.json
  packages/collaboration/src/AccessControlService.ts
  packages/collaboration/src/index.ts
  packages/collaboration/tsconfig.json
  packages/realtime/package.json
  packages/realtime/src/AlertService.ts
  packages/realtime/src/index.ts
  packages/realtime/tsconfig.json
  packages/reporting/package.json
  packages/reporting/src/ReportingService.ts
  packages/reporting/src/index.ts
  packages/reporting/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement advanced graph analytics engine
  docs/analytics/GRAPH_ALGORITHMS.md
  packages/graph-analytics/package.json
  packages/graph-analytics/src/algorithms/betweenness.ts
  packages/graph-analytics/src/algorithms/centrality.ts
  packages/graph-analytics/src/algorithms/community-detection.ts
  packages/graph-analytics/src/algorithms/link-prediction.ts
  packages/graph-analytics/src/algorithms/pagerank.ts
  packages/graph-analytics/src/export/export-formats.ts
  packages/graph-analytics/src/index.ts
  packages/graph-analytics/src/pattern-matching/subgraph-matching.ts
  packages/graph-analytics/src/temporal/temporal-analysis.ts
  packages/graph-analytics/tsconfig.json
  packages/graph-viz/package.json
  packages/graph-viz/src/index.ts
  packages/graph-viz/src/layouts/force-directed.ts
  packages/graph-viz/tsconfig.json
  pnpm-lock.yaml
  services/graph-compute/package.json
  services/graph-compute/src/cache/redis-cache.ts
  services/graph-compute/src/workers/analytics-worker.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement AI-powered sentiment and narrative analysis system
  docs/analytics/SENTIMENT_ANALYSIS.md
  models/sentiment-bert/README.md
  models/sentiment-bert/config/emotion-config.json
  models/sentiment-bert/config/model-config.json
  packages/influence-detection/README.md
  packages/influence-detection/package.json
  packages/influence-detection/src/amplification/AmplificationDetector.ts
  packages/influence-detection/src/astroturfing/AstroturfingDetector.ts
  packages/influence-detection/src/bot-detection/BotDetector.ts
  packages/influence-detection/src/cib/CIBDetector.ts
  packages/influence-detection/src/index.ts
  packages/influence-detection/tsconfig.json
  packages/narrative-tracking/README.md
  packages/narrative-tracking/package.json
  packages/narrative-tracking/src/detection/CounterNarrativeDetector.ts
  packages/narrative-tracking/src/extraction/NarrativeExtractor.ts
  packages/narrative-tracking/src/extraction/types.ts
  packages/narrative-tracking/src/framing/FramingAnalyzer.ts
  packages/narrative-tracking/src/index.ts
  packages/narrative-tracking/src/tracking/NarrativeTracker.ts
  packages/narrative-tracking/tsconfig.json
  packages/sentiment-analysis/README.md
  packages/sentiment-analysis/package.json
  packages/sentiment-analysis/src/analyzers/AspectBasedAnalyzer.ts
  packages/sentiment-analysis/src/analyzers/SarcasmDetector.ts
  packages/sentiment-analysis/src/analyzers/TemporalSentimentTracker.ts
  packages/sentiment-analysis/src/core/SentimentAnalyzer.ts
  packages/sentiment-analysis/src/core/types.ts
  packages/sentiment-analysis/src/index.ts
  packages/sentiment-analysis/src/models/BertSentimentModel.ts
  packages/sentiment-analysis/src/models/EmotionClassifier.ts
  packages/sentiment-analysis/tsconfig.json
  services/ml-inference/README.md
  services/ml-inference/package.json
  services/ml-inference/src/server.ts
  services/ml-inference/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive Extensions & Ecosystem framework
  docs/extensions/IMPLEMENTATION_SUMMARY.md
  docs/extensions/README.md
  docs/extensions/building-extensions.md
  docs/extensions/quick-reference.md
  extensions/examples/analytics-dashboard/README.md
  extensions/examples/analytics-dashboard/extension.json
  extensions/examples/analytics-dashboard/package.json
  extensions/examples/analytics-dashboard/src/commands/chart.ts
  extensions/examples/analytics-dashboard/src/index.ts
  extensions/examples/analytics-dashboard/src/tools/stats.ts
  extensions/examples/analytics-dashboard/src/tools/summary.ts
  extensions/examples/analytics-dashboard/tsconfig.json
  packages/extensions/README.md
  packages/extensions/bin/summit-ext
  packages/extensions/cli.ts
  packages/extensions/package.json
  packages/extensions/src/index.ts
  packages/extensions/src/integrations/cli.ts
  packages/extensions/src/integrations/command-palette.ts
  packages/extensions/src/integrations/copilot.ts
  packages/extensions/src/loader.ts
  packages/extensions/src/manager.ts
  packages/extensions/src/policy/default-policy.rego
  packages/extensions/src/policy/enforcer.ts
  packages/extensions/src/registry.ts
  packages/extensions/src/server-integration.ts
  packages/extensions/src/types.ts
  packages/extensions/templates/basic/.gitignore
  packages/extensions/templates/basic/README.md
  packages/extensions/templates/basic/extension.json
  packages/extensions/templates/basic/package.json
  packages/extensions/templates/basic/src/index.ts
  packages/extensions/templates/basic/tsconfig.json
  packages/extensions/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

refactor(ci): comprehensive improvements to CI/CD automation system
  docs/deployment/IMPROVEMENTS_SUMMARY.md
  docs/deployment/MIGRATION_GUIDE.md
  docs/deployment/QUICK_START.md
  scripts/prepare-release.sh
  scripts/validate-workflows.sh
  server/src/middleware/deployment-metrics.ts
  server/src/services/FeatureFlagService.ts
  server/src/services/__tests__/FeatureFlagService.test.ts
Due: prettier --write

chore: update build artifacts and lock file for sentiment analysis packages
  .tsbuildinfo
  pnpm-lock.yaml
Due: none

feat: implement comprehensive trading signal generation system
  .tsbuildinfo
  docs/trading/SIGNAL_GENERATION.md
  packages/market-data/README.md
  packages/market-data/package.json
  packages/market-data/src/cache.ts
  packages/market-data/src/feeds/base-feed.ts
  packages/market-data/src/feeds/crypto-feed.ts
  packages/market-data/src/feeds/stock-feed.ts
  packages/market-data/src/index.ts
  packages/market-data/src/pipeline.ts
  packages/market-data/src/types.ts
  packages/market-data/tsconfig.json
  packages/portfolio-optimization/package.json
  packages/portfolio-optimization/src/index.ts
  packages/portfolio-optimization/src/optimizer.ts
  packages/portfolio-optimization/src/risk-calculator.ts
  packages/portfolio-optimization/src/types.ts
  packages/portfolio-optimization/tsconfig.json
  packages/technical-analysis/package.json
  packages/technical-analysis/src/engine.ts
  packages/technical-analysis/src/index.ts
  packages/technical-analysis/src/indicators/trend.ts
  packages/technical-analysis/src/indicators/volume.ts
  packages/technical-analysis/src/patterns/recognition.ts
  packages/technical-analysis/src/patterns/support-resistance.ts
  packages/technical-analysis/src/types.ts
  packages/technical-analysis/tsconfig.json
  packages/trading-signals/package.json
  packages/trading-signals/src/index.ts
  packages/trading-signals/src/ml/predictor.ts
  packages/trading-signals/src/sentiment/analyzer.ts
  packages/trading-signals/src/signals/aggregator.ts
  packages/trading-signals/src/signals/backtester.ts
  packages/trading-signals/src/types.ts
  packages/trading-signals/tsconfig.json
  services/signal-generator/package.json
  services/signal-generator/src/index.ts
  services/signal-generator/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(cli): add Summit CLI - unified command interface
  README.md
  docs/summit-cli-migration-guide.md
  docs/summit-cli-quickstart.md
  pnpm-workspace.yaml
  summit-cli/.gitignore
  summit-cli/.npmignore
  summit-cli/DESIGN.md
  summit-cli/README.md
  summit-cli/bin/summit.js
  summit-cli/package.json
  summit-cli/src/commands/catalog.js
  summit-cli/src/commands/copilot.js
  summit-cli/src/commands/db.js
  summit-cli/src/commands/deploy.js
  summit-cli/src/commands/dev.js
  summit-cli/src/commands/doctor.js
  summit-cli/src/commands/init.js
  summit-cli/src/commands/pipelines.js
  summit-cli/src/commands/rules.js
  summit-cli/src/commands/test.js
  summit-cli/src/commands/verify.js
  summit-cli/src/index.js
  summit-cli/src/lib/config.js
  summit-cli/src/lib/executor.js
  summit-cli/src/lib/output.js
  summit-cli/tsconfig.json
Due: prettier --write

feat: Add comprehensive ML Model Registry and MLOps Platform
  docs/ml/MLOPS_GUIDE.md
  packages/feature-store/package.json
  packages/feature-store/src/index.ts
  packages/feature-store/src/store/FeatureStore.ts
  packages/feature-store/src/types.ts
  packages/feature-store/tsconfig.json
  packages/ml-registry/package.json
  packages/ml-registry/src/artifacts/ArtifactStore.ts
  packages/ml-registry/src/comparison/ModelComparator.ts
  packages/ml-registry/src/index.ts
  packages/ml-registry/src/lineage/LineageTracker.ts
  packages/ml-registry/src/registry/ModelRegistry.ts
  packages/ml-registry/src/stages/StageManager.ts
  packages/ml-registry/src/types.ts
  packages/ml-registry/tsconfig.json
  packages/model-monitoring/package.json
  packages/model-monitoring/src/drift/DriftDetector.ts
  packages/model-monitoring/src/index.ts
  packages/model-monitoring/src/types.ts
  packages/model-monitoring/tsconfig.json
  packages/model-serving/package.json
  packages/model-serving/src/index.ts
  packages/model-serving/src/inference/InferenceEngine.ts
  packages/model-serving/src/types.ts
  packages/model-serving/tsconfig.json
  services/inference-api/Dockerfile
  services/inference-api/app/__init__.py
  services/inference-api/app/main.py
  services/inference-api/requirements.txt
  services/ml-training/Dockerfile
  services/ml-training/app/__init__.py
  services/ml-training/app/config.py
  services/ml-training/app/main.py
  services/ml-training/app/training_pipeline.py
  services/ml-training/requirements.txt
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update pnpm-lock.yaml for summit-cli dependencies
  pnpm-lock.yaml
Due: none

feat: implement comprehensive multi-agent AI orchestration system
  .tsbuildinfo
  agents/AnalysisAgent.ts
  agents/DataCollectionAgent.ts
  agents/SynthesisAgent.ts
  agents/example-usage.ts
  docs/agents/MULTI_AGENT_SYSTEM.md
  packages/agent-framework/package.json
  packages/agent-framework/src/agents/BaseAgent.ts
  packages/agent-framework/src/communication/MessageBus.ts
  packages/agent-framework/src/index.ts
  packages/agent-framework/src/llm/LLMProvider.ts
  packages/agent-framework/src/registry/AgentRegistry.ts
  packages/agent-framework/src/types/agent.types.ts
  packages/agent-framework/tsconfig.json
  packages/agent-orchestrator/package.json
  packages/agent-orchestrator/src/Scheduler.ts
  packages/agent-orchestrator/src/TaskQueue.ts
  packages/agent-orchestrator/src/WorkflowEngine.ts
  packages/agent-orchestrator/src/index.ts
  packages/agent-orchestrator/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: ignore node-compile-cache directory
  .gitignore
Due: none

feat(geoint): implement comprehensive geospatial intelligence and mapping system
  client/src/components/Map/GeospatialDashboard.tsx
  client/src/components/Map/MapContainer.tsx
  client/src/components/Map/controls/LayerControl.tsx
  client/src/components/Map/index.tsx
  client/src/components/Map/layers/GeoJSONLayer.tsx
  client/src/components/Map/layers/HeatmapLayer.tsx
  client/src/components/Map/layers/MarkerLayer.tsx
  docs/geoint/GEOSPATIAL_ANALYSIS.md
  docs/geoint/README.md
  packages/geospatial/README.md
  packages/geospatial/package.json
  packages/geospatial/src/index.ts
  packages/geospatial/src/parsers/geojson-parser.ts
  packages/geospatial/src/parsers/kml-parser.ts
  packages/geospatial/src/parsers/shapefile-parser.ts
  packages/geospatial/src/types/geospatial.ts
  packages/geospatial/src/utils/distance.ts
  packages/geospatial/tsconfig.json
  packages/spatial-analysis/README.md
  packages/spatial-analysis/package.json
  packages/spatial-analysis/src/algorithms/point-in-polygon.ts
  packages/spatial-analysis/src/clustering/dbscan.ts
  packages/spatial-analysis/src/clustering/proximity.ts
  packages/spatial-analysis/src/hotspot/getis-ord.ts
  packages/spatial-analysis/src/index.ts
  packages/spatial-analysis/src/temporal/movement-patterns.ts
  packages/spatial-analysis/tsconfig.json
  services/geocoding-api/.env.example
  services/geocoding-api/package.json
  services/geocoding-api/src/routes/geocoding.ts
  services/geocoding-api/src/server.ts
  services/geocoding-api/src/services/geocoder.ts
  services/geocoding-api/src/services/ip-geolocation.ts
  services/geocoding-api/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive multi-source ETL pipeline with data fusion
  docs/data-fusion/CONNECTORS.md
  packages/data-quality/package.json
  packages/data-quality/src/index.ts
  packages/data-quality/tsconfig.json
  packages/entity-extraction/package.json
  packages/entity-extraction/src/extractor.ts
  packages/entity-extraction/src/index.ts
  packages/entity-extraction/src/ner.ts
  packages/entity-extraction/src/relationship-inference.ts
  packages/entity-extraction/src/types.ts
  packages/entity-extraction/tsconfig.json
  packages/etl/package.json
  packages/etl/src/connectors/base.ts
  packages/etl/src/connectors/email-imap.ts
  packages/etl/src/connectors/file.ts
  packages/etl/src/connectors/index.ts
  packages/etl/src/connectors/osint-sources.ts
  packages/etl/src/connectors/rest-api.ts
  packages/etl/src/connectors/rss-feed.ts
  packages/etl/src/connectors/web-scraper.ts
  packages/etl/src/index.ts
  packages/etl/src/lineage/tracker.ts
  packages/etl/src/pipeline/orchestrator.ts
  packages/etl/src/transformers/base.ts
  packages/etl/src/transformers/deduplicator.ts
  packages/etl/src/transformers/index.ts
  packages/etl/src/transformers/schema-mapper.ts
  packages/etl/src/transformers/temporal-normalizer.ts
  packages/etl/src/types.ts
  packages/etl/tsconfig.json
  server/src/db/migrations/016_etl_pipeline_tables.sql
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive cyber threat intelligence system
  docs/cti/THREAT_INTELLIGENCE.md
  packages/mitre-attack/package.json
  packages/mitre-attack/src/index.ts
  packages/mitre-attack/src/services/AttackService.ts
  packages/mitre-attack/src/types/attack.ts
  packages/mitre-attack/tsconfig.json
  packages/threat-intelligence/package.json
  packages/threat-intelligence/src/index.ts
  packages/threat-intelligence/src/services/EnrichmentService.ts
  packages/threat-intelligence/src/services/MispClient.ts
  packages/threat-intelligence/src/services/StixProcessor.ts
  packages/threat-intelligence/src/services/TaxiiClient.ts
  packages/threat-intelligence/src/services/ThreatFeedAggregator.ts
  packages/threat-intelligence/src/types/ioc.ts
  packages/threat-intelligence/src/types/stix.ts
  packages/threat-intelligence/src/types/taxii.ts
  packages/threat-intelligence/tsconfig.json
  services/threat-feed-ingestion/package.json
  services/threat-feed-ingestion/src/index.ts
  services/threat-feed-ingestion/src/repositories/IOCRepository.ts
  services/threat-feed-ingestion/src/services/AttributionEngine.ts
  services/threat-feed-ingestion/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(adr): transform ADR directory into living architecture knowledge base
  .github/workflows/adr-check.yml
  adr/0001-use-helm-terraform.md
  adr/0005-disclosure-packager.md
  adr/0006-neo4j-graph-store.md
  adr/0007-graphql-api-design.md
  adr/0008-authority-license-compiler.md
  adr/0009-postgres-pgvector.md
  adr/0010-multi-tenant-compartment-model.md
  adr/0011-provenance-ledger-schema.md
  adr/0012-copilot-graphrag-architecture.md
  adr/HOW_WE_USE_ADRS.md
  adr/README.md
  adr/adr-template.md
  src/cli/intelgraph.ts
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
