Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore(deps): bump black from 23.11.0 to 25.12.0
  predictive_threat_suite/requirements.txt
Due: none

chore(deps-dev): bump the dev-dependencies group in /apps/search-engine with 2 updates
  apps/search-engine/package.json
Due: prettier --write

chore(deps-dev): bump @types/node from 20.19.27 to 25.0.6 in /apps/slo-exporter in the dev-dependencies group
  apps/slo-exporter/package.json
Due: prettier --write

Add Final GA Readiness Checklist for Runtime Governance
  FINAL_GA_READINESS_CHECKLIST.md
Due: prettier --write

docs: Add Runtime Governance Performance & Reliability Packet
  docs/ops/RUNTIME_GOVERNANCE_PERFORMANCE_PACKET.md
Due: prettier --write

Create Runtime Governance Security Packet
  docs/ops/RUNTIME_SECURITY_PACKET.md
Due: prettier --write

Add Runtime Governance Ops & Observability Packet
  docs/ops/RUNTIME_GOVERNANCE_PACKET.md
Due: prettier --write

docs: Create Board-to-PR Execution Packet for Runtime Governance
  EXECUTION_PACKET.md
Due: prettier --write

observability: add Prometheus SLO and cost alerting rules (#1241)
  observability/prometheus/rules/slo-alerts.yaml
Due: none

ci: add OPA policy test workflow (#1235)
  .github/workflows/opa-tests.yml
Due: prettier --write

ci: add k6 SLO smoke tests workflow (#1236)
  .github/workflows/k6-smoke.yml
Due: prettier --write

docs: refresh root README with quickstart and architecture (#159)
  README.md
Due: prettier --write

🛡️ Sentinel: Fix hardcoded secret fallback in export route
  server/src/routes/export.ts
Due: none

🛡️ Sentinel: Fix RCE in ConcurrentRequestHandler
  server/src/concurrent/concurrent-request-handler.ts
Due: none

fix: harden branch protection check parsing
  scripts/release/check_branch_protection_drift.sh
Due: none

feat(governance): Docs Integrity Foundation
  .github/workflows/governance-docs-integrity.yml
  docs/governance/INDEX.yml
  package.json
  pnpm-lock.yaml
  scripts/governance/check_docs_integrity.ts
Due: prettier --write

chore(security): add code scanning alert export tooling
  agents/examples/code-scanning-alert-export@v1.json
  docs/roadmap/STATUS.json
  docs/security/SECURITY_SWEEP_REPORT.md
  docs/security/scanning-tools.md
  prompts/registry.yaml
  prompts/security/code-scanning-alert-export@v1.md
  scripts/security/export-code-scanning-alerts.mjs
Due: prettier --write

feat: governance docs integrity v2 (INDEX.yml + verifier + CI gate)
  .github/workflows/ci-verify.yml
  docs/governance/DOCS_POLICY.yml
  docs/governance/INDEX.md
  docs/governance/INDEX.yml
  docs/roadmap/STATUS.json
  package.json
  scripts/ci/verify_governance_docs.mjs
Due: prettier --write

feat: add lazy-loaded MCP skillpacks (sharding, distillation, policy gating, evidence)
  .gitignore
  .lintstagedrc.json
  .summit/skillpacks/security-audit/SKILL.md
  .summit/skillpacks/security-audit/mcp.json
  .summit/skillpacks/security-audit/policy.json
  .summit/skillpacks/ui-preview/SKILL.md
  .summit/skillpacks/ui-preview/mcp.json
  agents/examples/lazy-mcp-skillpacks-task.json
  artifacts/agent-runs/CEP_CORE_PR1.json
  artifacts/agent-runs/GA_BUNDLE_RELEASE_ARTIFACTS_20260110.json
  artifacts/agent-runs/SKILLPACKS_LAZY_MCP_001.json
  artifacts/evidence/evidence-things3-taskstore-sample/things3/sample.json
  artifacts/tool-loading-report.json
  artifacts/tool-loading-report.md
  docs/roadmap/STATUS.json
  docs/skillpacks-lazy-mcp.md
  eslint.config.js
  packages/agent-skillpacks/__tests__/__snapshots__/evidence-writer.test.ts.snap
  packages/agent-skillpacks/__tests__/evidence-writer.test.ts
  packages/agent-skillpacks/__tests__/policy-gate.test.ts
  packages/agent-skillpacks/__tests__/schema-distiller.test.ts
  packages/agent-skillpacks/__tests__/shard-router.test.ts
  packages/agent-skillpacks/__tests__/skillpack-discovery.test.ts
  packages/agent-skillpacks/__tests__/skillpack-loader.test.ts
  packages/agent-skillpacks/package.json
  packages/agent-skillpacks/src/evidence-writer.ts
  packages/agent-skillpacks/src/index.ts
  packages/agent-skillpacks/src/policy-gate.ts
  packages/agent-skillpacks/src/schema-distiller.ts
  packages/agent-skillpacks/src/shard-router.ts
  packages/agent-skillpacks/src/skillpack-discovery.ts
  packages/agent-skillpacks/src/skillpack-loader.ts
  packages/agent-skillpacks/src/types.ts
  packages/agent-skillpacks/tsconfig.json
  prompts/registry.yaml
  prompts/skillpacks/lazy-mcp-skillpacks@v1.md
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Maestro Workboard MVP scaffold (PR-1)
  .gitignore
  agents/examples/MAESTRO_WORKBOARD_PR1.json
  apps/maestro-workboard/.gitignore
  apps/maestro-workboard/package.json
  apps/maestro-workboard/public/index.html
  apps/maestro-workboard/server/index.js
  apps/maestro-workboard/server/policy.js
  apps/maestro-workboard/server/runner.js
  apps/maestro-workboard/server/store.js
  apps/maestro-workboard/tests/workboard.test.js
  docs/maestro-workboard.md
  docs/roadmap/STATUS.json
  prompts/product/maestro-workboard-pr1.md
  prompts/registry.yaml
Due: prettier --write

feat(mcp): add Summit MCP server vertical slice (tool registry, policy gate, evidence, transports)
  agents/examples/mcp-server-task.json
  docs/mcp-server.md
  docs/roadmap/STATUS.json
  fixtures/mcp/evidence-bundle.json
  mcp/summit_server/src/evidence/evidence-store.ts
  mcp/summit_server/src/index.ts
  mcp/summit_server/src/policy/policies.json
  mcp/summit_server/src/policy/policy-gate.ts
  mcp/summit_server/src/react/react-loop.ts
  mcp/summit_server/src/sanitization/sanitize.ts
  mcp/summit_server/src/server.ts
  mcp/summit_server/src/skills/skills-registry.ts
  mcp/summit_server/src/tools/builtin-tools.ts
  mcp/summit_server/src/tools/tool-registry.ts
  mcp/summit_server/src/transports/sse.ts
  mcp/summit_server/src/transports/stdio.ts
  mcp/summit_server/src/types.ts
  mcp/summit_server/src/utils/hash.ts
  mcp/summit_server/src/utils/stable-json.ts
  prompts/mcp/summit-mcp-server-v1.md
  prompts/registry.yaml
  skills/README.md
  skills/mcp/auth/SKILL.md
  skills/mcp/evidence/SKILL.md
  skills/mcp/policy/SKILL.md
  skills/mcp/transport/SKILL.md
  tests/mcp/mcp-server.test.ts
  tests/mcp/sse.test.ts
Due: prettier --write

feat(governance): add CAS-backed immutable artifacts, verifier, and CI integration
  .github/workflows/ci.yml
  AGENT_ACTIVITY.md
  agent-contract.json
  agents/examples/CAS_ARTIFACTS_001.json
  docs/ga/CAS_ARTIFACTS.md
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  package.json
  prompts/governance/cas-artifacts-immutable.md
  prompts/registry.yaml
  scripts/ci/__tests__/cas.test.mjs
  scripts/ci/cas_prune.mjs
  scripts/ci/generate_evidence_run.mjs
  scripts/ci/lib/cas.mjs
  scripts/ci/verify_cas_integrity.mjs
  scripts/ga/ga-verify-runner.mjs
Due: prettier --write

feat: add CAS-backed immutable artifacts, verifier, and CI integration
  .github/workflows/ci.yml
  agent-contract.json
  docs/ga/CAS_ARTIFACTS.md
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  package.json
  scripts/ci/cas_prune.mjs
  scripts/ci/generate_evidence_run.mjs
  scripts/ci/lib/cas.mjs
  scripts/ci/verify_cas_integrity.mjs
  scripts/ga/ga-verify-runner.mjs
  scripts/ga/verify-ga-surface.mjs
Due: prettier --write

Runtime Governance Enforcement Strategy & Tests
  docs/governance/TEST_STRATEGY.md
  package.json
  pnpm-lock.yaml
  server/src/services/__tests__/KillSwitchService.test.ts
  server/src/tenancy/__tests__/TenantIsolationGuard.test.ts
Due: prettier --write

feat: lazy-loaded MCP skillpacks with adaptive shards, policy gating, and evidence
  .lintstagedrc.json
  .summit/skillpacks/security-audit/SKILL.md
  .summit/skillpacks/security-audit/mcp.json
  .summit/skillpacks/security-audit/policy.json
  .summit/skillpacks/ui-preview/SKILL.md
  .summit/skillpacks/ui-preview/mcp.json
  .summit/skillpacks/ui-preview/policy.json
  agents/examples/skillpacks-lazy-mcp.json
  docs/Skillpacks_Lazy_MCP_Loading.md
  docs/roadmap/STATUS.json
  packages/agent-skillpacks/AGENTS.md
  packages/agent-skillpacks/__tests__/__snapshots__/evidence-writer.test.ts.snap
  packages/agent-skillpacks/__tests__/evidence-writer.test.ts
  packages/agent-skillpacks/__tests__/policy-gate.test.ts
  packages/agent-skillpacks/__tests__/skillpack-loader.test.ts
  packages/agent-skillpacks/jest.config.cjs
  packages/agent-skillpacks/package.json
  packages/agent-skillpacks/src/evidence-writer.ts
  packages/agent-skillpacks/src/index.ts
  packages/agent-skillpacks/src/policy-gate.ts
  packages/agent-skillpacks/src/schema-cache.ts
  packages/agent-skillpacks/src/schema-distiller.ts
  packages/agent-skillpacks/src/shard-router.ts
  packages/agent-skillpacks/src/skillpack-discovery.ts
  packages/agent-skillpacks/src/skillpack-loader.ts
  packages/agent-skillpacks/src/types.ts
  packages/agent-skillpacks/src/utils.ts
  packages/agent-skillpacks/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Things3 TaskStore MCP connector (policy‑gated, idempotent, evidence)
  .gitignore
  agents/examples/THINGS3_TASKSTORE_CONNECTOR.json
  docs/integrations/things3-taskstore.md
  docs/roadmap/STATUS.json
  eslint.config.js
  packages/mcp-connectors/things3/package.json
  packages/mcp-connectors/things3/src/binding.ts
  packages/mcp-connectors/things3/src/evidence.ts
  packages/mcp-connectors/things3/src/index.ts
  packages/mcp-connectors/things3/src/policy.ts
  packages/mcp-connectors/things3/src/taskstore.ts
  packages/mcp-connectors/things3/src/types.ts
  packages/mcp-connectors/things3/src/utils.ts
  packages/mcp-connectors/things3/test/things3-taskstore.test.ts
  packages/mcp-connectors/things3/tsconfig.json
  pnpm-workspace.yaml
  prompts/integrations/things3-taskstore-connector.md
  prompts/registry.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore(ci): add always-on CI Gate umbrella workflow to prevent required-check deadlocks
  .github/workflows/ci-gate.yml
  docs/ci/ci-gate.md
  docs/roadmap/STATUS.json
  prompts/ci/ci-gate-umbrella@v1.md
  prompts/registry.yaml
Due: prettier --write

feat(ci): add deterministic SBOM + SLSA evidence bundle
  .github/workflows/ci-core.yml
  agent-contract.json
  agents/examples/GA_EVIDENCE_BUNDLE_2026_01_13.json
  docs/ga/EVIDENCE_BUNDLE_POLICY.yml
  docs/ga/EVIDENCE_BUNDLE_RUNBOOK.md
  docs/ga/EVIDENCE_BUNDLE_SCHEMA.md
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  package.json
  prompts/governance/ga-evidence-bundle-sbom-slsa.md
  prompts/registry.yaml
  scripts/ci/assemble_evidence_bundle.mjs
  scripts/ci/capture_provenance.mjs
  scripts/ci/evidence-utils.mjs
  scripts/ci/generate_sbom.mjs
  scripts/ci/verify_evidence_bundle.mjs
Due: prettier --write

feat(ga): add GA evidence map verifier and CI gate
  .github/workflows/ci-core.yml
  agent-contract.json
  artifacts/evidence/README.md
  docs/ga/EVIDENCE_MAP_RUNBOOK.md
  docs/ga/MVP-4-GA-VERIFICATION.md
  docs/ga/MVP4_GA_EVIDENCE_MAP.md
  docs/ga/evidence_map.yml
  docs/ga/verification-map.json
  docs/roadmap/STATUS.json
  package.json
  prompts/registry.yaml
  scripts/ci/__tests__/verify_evidence_map.test.js
  scripts/ci/evidence_bundle.mjs
  scripts/ci/verify_evidence_bundle.mjs
  scripts/ci/verify_evidence_map.mjs
  scripts/ga/ga-verify-runner.mjs
Due: prettier --write

feat: add attested GA release workflow and verifier
  .github/workflows/release-attested.yml
  agents/examples/release-attested-ga-task.json
  docs/releases/ATTESTED_RELEASES.md
  docs/roadmap/STATUS.json
  package.json
  prompts/registry.yaml
  prompts/release/attested-release@v1.md
  scripts/release/assemble_release_assets.mjs
  scripts/release/verify_release_assets.mjs
Due: prettier --write

fix(governance): address evidence ID consistency gate review feedback
  evidence/map.yml
  scripts/ci/__tests__/verify_evidence_id_consistency.test.mjs
  scripts/ci/verify_evidence_id_consistency.mjs
Due: none

feat: add Dependency & Supply‑Chain Risk Gate (CI)
  .github/workflows/ci-verify.yml
  docs/roadmap/STATUS.json
  docs/security/DEPENDENCY_RISK_POLICY.yml
  docs/security/DEPENDENCY_RISK_RUNBOOK.md
  docs/security/DEPENDENCY_RISK_SCHEMA.md
  package.json
  prompts/governance/dependency-risk-gate.md
  prompts/registry.yaml
  scripts/ci/dependency_risk_gate.mjs
Due: prettier --write

feat: add deterministic Secrets Hygiene + Redaction Gate (CI)
  .github/workflows/ci-core.yml
  agents/examples/SECRETS_HYGIENE_GATE_2026_01_14.json
  docs/roadmap/STATUS.json
  docs/security/SECRETS_SCAN_POLICY.yml
  docs/security/SECRETS_SCAN_RUNBOOK.md
  package.json
  prompts/registry.yaml
  prompts/security/secrets-hygiene-gate.md
  scripts/ci/lib/secrets_policy.mjs
  scripts/ci/lib/secrets_rules.mjs
  scripts/ci/secrets_scan_gate.mjs
  scripts/evidence/verify_evidence_bundle_offline.mjs
Due: prettier --write

feat(ci): add reproducible build gate
  .github/workflows/ci-core.yml
  .github/workflows/repro-build-check.yml
  docs/ci/REPRO_BUILD_POLICY.yml
  docs/ci/REPRO_BUILD_RUNBOOK.md
  docs/roadmap/STATUS.json
  package.json
  prompts/governance/repro-build-gate.md
  prompts/registry.yaml
  scripts/ci/repro_build_gate.mjs
Due: prettier --write

feat: add Hermetic CI Gate (policy, runner, CI job, runbook)
  .github/workflows/ci-core.yml
  docs/ci/HERMETIC_CI_POLICY.yml
  docs/ci/HERMETIC_CI_RUNBOOK.md
  docs/roadmap/STATUS.json
  package.json
  scripts/ci/hermetic_ci_gate.mjs
Due: prettier --write

feat: enforce strict issue intake gate
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/security.yml
  .github/scripts/issue-audit-strict.js
  .github/scripts/issue-intake-strict-lib.js
  .github/scripts/issue-triage-strict.js
  .github/workflows/issue-audit-strict.yml
  .github/workflows/issue-triage-strict.yml
  agents/examples/issue-intake-strict-task.json
  docs/roadmap/STATUS.json
  docs/triage/TRIAGE_POLICY.md
  prompts/governance/issue-intake-strict@v1.md
  prompts/registry.yaml
Due: prettier --write

chore: pin xlsx to registry and add pnpm patch (remove CDN override)
  .pnpmfile.cjs
  docs/roadmap/STATUS.json
  package.json
Due: prettier --write

feat: enforce strict issue intake gating
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/security.yml
  .github/scripts/issue-triage-strict.js
  .github/workflows/issue-audit-strict.yml
  .github/workflows/issue-triage-strict.yml
  docs/roadmap/STATUS.json
  docs/triage/README.md
  docs/triage/TRIAGE_POLICY.md
  tests/issue-triage-strict.test.ts
Due: prettier --write

feat(merge-train): auto-select PRs with validated limit & deterministic ordering
  docs/roadmap/STATUS.json
  prompts/ops/merge-train-ops@v1.md
  prompts/registry.yaml
  scripts/ops/merge-train.ts
Due: prettier --write

Add readiness endpoints module and tests to workflow-engine
  agents/examples/WF_ENGINE_READINESS_20260110.json
  apps/workflow-engine/jest.config.cjs
  apps/workflow-engine/src/health.ts
  apps/workflow-engine/src/server.readiness.test.ts
  apps/workflow-engine/src/server.ts
  apps/workflow-engine/src/types/supertest.d.ts
  docs/roadmap/STATUS.json
  prompts/engineering/workflow-engine-readiness.md
  prompts/registry.yaml
Due: prettier --write
