Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Add human-AI collaboration capability roadmap (#12740)
  docs/summit-human-ai-collab-roadmap.md
Due: prettier --write

Set up Claude code strategic framework (#12710)
  server/src/graphql/resolvers/strategicFramework.ts
  server/src/graphql/schema/strategicFramework.gql
  server/src/services/strategic-framework/StrategicAnalysisEngine.ts
  server/src/services/strategic-framework/StrategicDecisionService.ts
  server/src/services/strategic-framework/StrategicMonitoringService.ts
  server/src/services/strategic-framework/StrategicPlanningService.ts
  server/src/services/strategic-framework/__tests__/StrategicFramework.test.ts
  server/src/services/strategic-framework/index.ts
  server/src/services/strategic-framework/types.ts
Due: none

feat: scaffold a11y lab harness (#12706)
  apps/a11y-lab/.gitignore
  apps/a11y-lab/README.md
  apps/a11y-lab/checklists/dp-telemetry-guard.md
  apps/a11y-lab/checklists/manual-a11y-checklist.md
  apps/a11y-lab/package.json
  apps/a11y-lab/playwright.config.ts
  apps/a11y-lab/scripts/ci-gate.mjs
  apps/a11y-lab/scripts/emit-heatmap-snippet.mjs
  apps/a11y-lab/src/focus-order.ts
  apps/a11y-lab/src/heatmap-overlay.ts
  apps/a11y-lab/src/screen-reader-scripts.ts
  apps/a11y-lab/storybook/preview.ts
  apps/a11y-lab/tests/a11y.spec.ts
  apps/a11y-lab/tests/stress.spec.ts
  apps/a11y-lab/tsconfig.json
Due: prettier --write

Financial trading system prompts and documentation (#12692)
  server/src/financial/README.md
  server/src/financial/__tests__/financial-services.test.ts
  server/src/financial/fraud/FraudDetectionService.ts
  server/src/financial/index.ts
  server/src/financial/market/MarketDataService.ts
  server/src/financial/reporting/RegulatoryReportingService.ts
  server/src/financial/risk/RiskAnalyticsService.ts
  server/src/financial/surveillance/TradeSurveillanceService.ts
  server/src/financial/types.ts
  server/src/migrations/023_financial_compliance_module.ts
Due: prettier --write

Add supply chain assurance scaffolding (#12676)
  .github/workflows/supply-chain.yml
  security/supply-chain/README.md
  security/supply-chain/dashboards/license-exceptions.json
  security/supply-chain/dashboards/vuln-burn-down.json
  security/supply-chain/github-app/README.md
  security/supply-chain/go/cmd/sca/main.go
  security/supply-chain/go/go.mod
  security/supply-chain/go/internal/attest/attest.go
  security/supply-chain/go/internal/license/license.go
  security/supply-chain/go/internal/policy/policy.go
  security/supply-chain/go/internal/sbom/sbom.go
  security/supply-chain/node/index.js
  security/supply-chain/node/package.json
  security/supply-chain/policy/images.json
  security/supply-chain/policy/license-exceptions.json
  security/supply-chain/policy/policy.json
  security/supply-chain/policy/sample-licenses.json
  security/supply-chain/policy/sample-vulns.json
Due: prettier --write

Implement canonical graph model and core APIs (#12681)
  services/graph-core/docs/CANONICAL_MODEL.md
  services/graph-core/jest.config.cjs
  services/graph-core/package.json
  services/graph-core/src/canonical/index.ts
  services/graph-core/src/canonical/store.ts
  services/graph-core/src/canonical/types.ts
  services/graph-core/src/canonical/validation.ts
  services/graph-core/src/graphql/index.ts
  services/graph-core/src/graphql/resolvers.ts
  services/graph-core/src/graphql/schema.graphql
  services/graph-core/src/index.ts
  services/graph-core/tests/canonical/temporal.test.ts
  services/graph-core/tests/canonical/validation.test.ts
  services/graph-core/tests/graphql/schema.test.ts
  services/graph-core/tsconfig.json
Due: prettier --write

Expand tuning decisions for prompts 33-40 (#12667)
  docs/prompt-33-40-decisions.md
Due: prettier --write

Improve agentic control plane blueprint (#12656)
  docs/agentic-control-plane.md
Due: prettier --write

Clarify EvoForge rollout guardrails documentation (#12657)
  EVOFORGE_DEPLOYMENT_ENGINE.md
  evoforge-plan.md
  src/features/deployment/FeatureDeploymentPipeline.ts
  src/features/evoforge/EvoForgeDeploymentEngine.ts
  tests/unit/evoforgeDeploymentEngine.test.ts
Due: prettier --write

Add CEP service blueprint (#12650)
  services/cep/README.md
Due: prettier --write

Add concurrent API fetch helper script (#12641)
  fetch-apis.js
Due: none

Expand CompanyOS wave 4 blueprints (#12637)
  docs/companyos-wave-4-blueprints.md
Due: prettier --write

fix: harden advanced search engine (#12623)
  server/docs/advanced-search.md
  server/src/search/__tests__/advanced-search-engine.test.ts
  server/src/search/advanced-search-engine.ts
  server/src/search/search.ts
Due: prettier --write

feat: harden mobile offline sync (#12609)
  mobile/App.tsx
  mobile/README.md
  mobile/app.config.ts
  mobile/babel.config.js
  mobile/jest.config.js
  mobile/package.json
  mobile/src/components/AuthGate.tsx
  mobile/src/screens/CaptureScreen.tsx
  mobile/src/screens/DashboardScreen.tsx
  mobile/src/screens/DocumentsScreen.tsx
  mobile/src/screens/VoiceNotesScreen.tsx
  mobile/src/services/SyncProvider.tsx
  mobile/src/services/__tests__/syncUtils.test.ts
  mobile/src/services/notifications.ts
  mobile/src/services/offlineStore.ts
  mobile/src/services/syncUtils.ts
  mobile/tsconfig.json
Due: prettier --write

Ensure map selection reacts to async graph data (#12589)
  .github/workflows/webapp-e2e.yml
  apps/webapp/cypress.config.ts
  apps/webapp/cypress/e2e/smoke.cy.ts
  apps/webapp/cypress/support/e2e.ts
  apps/webapp/package.json
  apps/webapp/playwright.config.ts
  apps/webapp/src/App.tsx
  apps/webapp/src/components/SelectionSummary.tsx
  apps/webapp/src/data/mockGraph.ts
  apps/webapp/src/panes/MapPane.tsx
  apps/webapp/src/types/testing.ts
  apps/webapp/tests/README.md
  apps/webapp/tests/global.d.ts
  apps/webapp/tests/integration.spec.ts
  apps/webapp/tests/smoke.spec.ts
  apps/webapp/tests/utils/generateGraph.ts
  apps/webapp/tests/utils/harness.ts
  apps/webapp/tests/utils/mapboxStub.ts
  apps/webapp/tests/visual.spec.ts
  apps/webapp/tsconfig.cypress.json
Due: prettier --write

Add defensive detection validation platform (#12580)
  server/src/security/__tests__/detection-platform.test.ts
  server/src/security/detection-platform.ts
Due: none

Extend streaming platform blueprint with Kafka/Pulsar integration (#12568)
  streaming/README.md
  streaming/platform/README.md
  streaming/stream-jobs/build.gradle.kts
  streaming/stream-jobs/src/main/kotlin/App.kt
  streaming/stream-jobs/src/main/kotlin/Serdes.kt
  streaming/stream-jobs/src/main/kotlin/Topology.kt
  streaming/stream-jobs/src/test/kotlin/TopologyTest.kt
Due: prettier --write

Create Jira epics with stories and acceptance tests (#12540)
  docs/acceptance-packs/entity-resolution-epic.json
  docs/acceptance-packs/nlq-copilot-epic.json
  docs/acceptance-packs/ops-observability-epic.json
  docs/acceptance-packs/policy-engine-epic.json
  docs/acceptance-packs/prov-ledger-epic.json
  docs/acceptance-packs/tri-pane-explain-epic.json
  docs/acceptance-packs/zk-tx-epic.json
  project_management/jira/entity-resolution-epic.csv
  project_management/jira/nlq-copilot-epic.csv
  project_management/jira/ops-observability-epic.csv
  project_management/jira/platform-epics-bulk-import.csv
  project_management/jira/policy-engine-epic.csv
  project_management/jira/prov-ledger-epic.csv
  project_management/jira/tri-pane-explain-epic.csv
  project_management/jira/zk-tx-epic.csv
Due: prettier --write

Modernize Build Pipeline with GitHub Actions (#12512)
  .github/workflows/_reusable-build.yml
  .github/workflows/_reusable-setup.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/ci-modernized.yml
  .github/workflows/docker-build-modernized.yml
  .github/workflows/performance-benchmark.yml
  docs/CI-CD-MODERNIZATION.md
Due: prettier --write

Add authority/license compiler for YAML policy bundles (#12491)
  ga-graphai/packages/policy/src/authority-compiler.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/authority-compiler.test.ts
Due: none

Refine automated legal hold preservation workflow (#12490)
  server/src/cases/legal-hold/orchestrator.ts
  server/src/cases/legal-hold/types.ts
  server/tests/legal-hold-orchestrator.test.ts
Due: none

Add authority schema with inheritance and ABAC controls (#12477)
  ga-graphai/packages/policy/README.md
  ga-graphai/packages/policy/config/authority-schema.yaml
Due: prettier --write

Add RevOps Switchboard UX blueprint (#12467)
  specs/revops-switchboard-ux.md
Due: prettier --write

docs: add design-thinking UI/UX fix template (#12459)
  docs/design-thinking-uiux-fix-template.md
Due: prettier --write

docs: expand Codex top priorities execution playbook (#12452)
  docs/sprints/repo-review-codex-top-3.md
Due: prettier --write

Add ultra-prime expansion for wave 15 missions (#12446)
  docs/WAVE15_MISSIONS_113-120.md
  docs/WAVE15_ULTRA_PRIME_PROMPT_EXPANSION.md
Due: prettier --write

fix: refine fusion ordering and normalization (#12432)
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/__init__.py
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/fusion_pipeline.py
  ga-graphai/packages/autonomous-investigator/tests/test_fusion_pipeline.py
  ga-graphai/packages/autonomous-investigator/tests/test_plan.py
Due: none

Add Codex prompt templates (#12790)
  CODEX_PROMPTS.md
Due: prettier --write

Add prompt guide for clean PR flow (#12789)
  docs/pr-prompt-guide.md
Due: prettier --write

Build learning cognition layer for digital twins (#12784)
  policy/cognition/cognition_policy.rego
  services/digital-twin-cognition/package.json
  services/digital-twin-cognition/src/agents/SpecializedAgents.ts
  services/digital-twin-cognition/src/core/CognitionEngine.ts
  services/digital-twin-cognition/src/core/TwinCognitionOrchestrator.ts
  services/digital-twin-cognition/src/explainability/ExplainabilityEngine.ts
  services/digital-twin-cognition/src/governance/GovernanceEngine.ts
  services/digital-twin-cognition/src/index.ts
  services/digital-twin-cognition/src/learning/ContinualLearningSystem.ts
  services/digital-twin-cognition/src/perception/MultiModalPerceptionEngine.ts
  services/digital-twin-cognition/src/types/index.ts
  services/digital-twin-cognition/tsconfig.json
Due: prettier --write

Build model hub registry and routing system (#12778)
  services/model-hub-service/jest.config.cjs
  services/model-hub-service/package.json
  services/model-hub-service/src/__tests__/integration.test.ts
  services/model-hub-service/src/__tests__/routing.test.ts
  services/model-hub-service/src/__tests__/types.test.ts
  services/model-hub-service/src/db/connection.ts
  services/model-hub-service/src/db/migrations.ts
  services/model-hub-service/src/evaluation/EvaluationService.ts
  services/model-hub-service/src/evaluation/index.ts
  services/model-hub-service/src/governance/ApprovalService.ts
  services/model-hub-service/src/governance/AuditService.ts
  services/model-hub-service/src/governance/index.ts
  services/model-hub-service/src/index.ts
  services/model-hub-service/src/middleware/errorHandler.ts
  services/model-hub-service/src/registry/DeploymentRegistry.ts
  services/model-hub-service/src/registry/ModelRegistry.ts
  services/model-hub-service/src/registry/PolicyRegistry.ts
  services/model-hub-service/src/registry/RoutingRegistry.ts
  services/model-hub-service/src/registry/index.ts
  services/model-hub-service/src/routes/governance.ts
  services/model-hub-service/src/routes/index.ts
  services/model-hub-service/src/routes/models.ts
  services/model-hub-service/src/routes/routing.ts
  services/model-hub-service/src/routing/ModelSelectionService.ts
  services/model-hub-service/src/routing/index.ts
  services/model-hub-service/src/types/index.ts
  services/model-hub-service/src/utils/errors.ts
  services/model-hub-service/src/utils/id.ts
  services/model-hub-service/src/utils/logger.ts
  services/model-hub-service/tsconfig.json
Due: prettier --write

Create eleven standalone Claude Code prompts (#12775)
  .claude/commands/bootstrap-monorepo.md
  .claude/commands/cicd-pipeline.md
  .claude/commands/cost-guardrails.md
  .claude/commands/graphql-gateway.md
  .claude/commands/ingest-connectors.md
  .claude/commands/neo4j-schema.md
  .claude/commands/observability.md
  .claude/commands/opa-policies.md
  .claude/commands/provenance-ledger.md
  .claude/commands/testing-strategy.md
  .claude/commands/threat-model.md
  CLAUDE.md
  docs/claude-code-prompts/01-monorepo-bootstrap.md
  docs/claude-code-prompts/02-graphql-gateway.md
  docs/claude-code-prompts/03-neo4j-data-model.md
  docs/claude-code-prompts/04-ingest-connectors.md
  docs/claude-code-prompts/05-provenance-ledger.md
  docs/claude-code-prompts/06-opa-abac-policies.md
  docs/claude-code-prompts/07-observability-opentelemetry.md
  docs/claude-code-prompts/08-cicd-security-gates.md
  docs/claude-code-prompts/09-testing-strategy.md
  docs/claude-code-prompts/10-cost-guardrails.md
  docs/claude-code-prompts/11-threat-model-privacy.md
  docs/claude-code-prompts/PR_SUMMARY.md
  docs/claude-code-prompts/QUICK_REFERENCE.md
  docs/claude-code-prompts/README.md
  docs/claude-code-prompts/USAGE_EXAMPLES.md
Due: prettier --write

Build evidence bundle and briefing pipeline (#12774)
  services/bundle-pipeline-service/__tests__/integration/mixedLicenseHold.test.ts
  services/bundle-pipeline-service/__tests__/services/BundleAssembly.test.ts
  services/bundle-pipeline-service/__tests__/services/ManifestService.test.ts
  services/bundle-pipeline-service/__tests__/setup.ts
  services/bundle-pipeline-service/jest.config.js
  services/bundle-pipeline-service/package.json
  services/bundle-pipeline-service/src/api/routes.ts
  services/bundle-pipeline-service/src/clients/CaseClient.ts
  services/bundle-pipeline-service/src/clients/GovernanceClient.ts
  services/bundle-pipeline-service/src/clients/ProvenanceClient.ts
  services/bundle-pipeline-service/src/index.ts
  services/bundle-pipeline-service/src/repositories/BundleRepository.ts
  services/bundle-pipeline-service/src/scripts/migrate.ts
  services/bundle-pipeline-service/src/services/BriefingAssemblyService.ts
  services/bundle-pipeline-service/src/services/BundleAssemblyService.ts
  services/bundle-pipeline-service/src/services/ManifestService.ts
  services/bundle-pipeline-service/src/services/PublishingService.ts
  services/bundle-pipeline-service/src/services/SchedulingService.ts
  services/bundle-pipeline-service/src/types/index.ts
  services/bundle-pipeline-service/tsconfig.json
  services/report-assembly/package.json
  services/report-assembly/src/index.ts
  services/report-assembly/src/renderers/HTMLRenderer.ts
  services/report-assembly/src/renderers/PDFRenderer.ts
  services/report-assembly/src/renderers/SlideRenderer.ts
  services/report-assembly/src/templates/TemplateEngine.ts
  services/report-assembly/src/templates/defaultTemplates.ts
  services/report-assembly/src/templates/index.ts
  services/report-assembly/src/types.ts
  services/report-assembly/tsconfig.json
Due: prettier --write

Build scenario simulator and evaluation harness (#12753)
  .github/workflows/scenario-evaluation.yml
  packages/sim-harness/.env.example
  packages/sim-harness/.gitignore
  packages/sim-harness/IMPLEMENTATION_SUMMARY.md
  packages/sim-harness/QUICK_REFERENCE.md
  packages/sim-harness/README.md
  packages/sim-harness/USAGE.md
  packages/sim-harness/jest.config.cjs
  packages/sim-harness/package.json
  packages/sim-harness/reports/.gitkeep
  packages/sim-harness/scripts/compare-versions.sh
  packages/sim-harness/scripts/example-run.sh
  packages/sim-harness/src/__tests__/ScenarioGenerator.test.ts
  packages/sim-harness/src/__tests__/integration.test.ts
  packages/sim-harness/src/analyst/GhostAnalyst.ts
  packages/sim-harness/src/cli.ts
  packages/sim-harness/src/generator/ScenarioGenerator.ts
  packages/sim-harness/src/index.ts
  packages/sim-harness/src/metrics/MetricsCollector.ts
  packages/sim-harness/src/metrics/reporters/CsvReporter.ts
  packages/sim-harness/src/metrics/reporters/HtmlReporter.ts
  packages/sim-harness/src/metrics/reporters/JsonReporter.ts
  packages/sim-harness/src/types/index.ts
  packages/sim-harness/src/utils/random.ts
  packages/sim-harness/src/utils/safety.ts
  packages/sim-harness/test-data/expectations/fraud-ring.json
  packages/sim-harness/test-data/scenarios/corruption-network.yaml
  packages/sim-harness/test-data/scenarios/fraud-ring.yaml
  packages/sim-harness/test-data/scenarios/smuggling-operation.yaml
  packages/sim-harness/test-data/scenarios/terror-cell.yaml
  packages/sim-harness/test-data/workflows/basic-investigation.yaml
  packages/sim-harness/test-data/workflows/comprehensive-investigation.yaml
  packages/sim-harness/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add provenance and claim ledger service (#12750)
  packages/prov-ledger/package.json
  packages/prov-ledger/src/cli/verify-detailed.ts
  services/prov-ledger/GRAPHQL_API.md
  services/prov-ledger/README.md
  services/prov-ledger/package.json
  services/prov-ledger/src/graphql/resolvers.ts
  services/prov-ledger/src/graphql/server.ts
  services/prov-ledger/src/index.ts
  services/prov-ledger/src/schema.graphql
  services/prov-ledger/test/integration/graphql.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add streaming ingestion prompts for Claude Code (#12748)
  PROVENANCE_INFRASTRUCTURE.md
  packages/bitemporal/README.md
  packages/bitemporal/jest.config.js
  packages/bitemporal/package.json
  packages/bitemporal/src/BitemporalStore.ts
  packages/bitemporal/src/__tests__/bitemporal.property.test.ts
  packages/bitemporal/src/index.ts
  packages/bitemporal/src/schema.sql
  packages/bitemporal/src/types.ts
  packages/bitemporal/tsconfig.json
  packages/provenance-visualizer/README.md
  packages/provenance-visualizer/package.json
  packages/provenance-visualizer/src/api/client.ts
  packages/provenance-visualizer/src/components/ChainOfCustodyViewer.tsx
  packages/provenance-visualizer/src/components/MerkleTreeViewer.tsx
  packages/provenance-visualizer/src/components/ProvenanceChainViewer.tsx
  packages/provenance-visualizer/src/index.ts
  packages/provenance-visualizer/src/types.ts
  packages/provenance-visualizer/tsconfig.json
  packages/provenance-visualizer/vite.config.ts
  services/streaming-ingest/.env.example
  services/streaming-ingest/Dockerfile
  services/streaming-ingest/README.md
  services/streaming-ingest/docker-compose.streaming.yml
  services/streaming-ingest/package.json
  services/streaming-ingest/src/cli/replay.ts
  services/streaming-ingest/src/cli/verifier.ts
  services/streaming-ingest/src/consumer.ts
  services/streaming-ingest/src/eventStore.ts
  services/streaming-ingest/src/replay.ts
  services/streaming-ingest/src/server.ts
  services/streaming-ingest/src/types.ts
  services/streaming-ingest/test/fixtures/events.json
  services/streaming-ingest/test/load-test.ts
  services/streaming-ingest/test/verifier.test.ts
  services/streaming-ingest/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement digital twin cognition layer (#12745)
  DIGITAL_TWIN_INFINITY_PLAN.md
  packages/digital-twin-brain/jest.config.cjs
  packages/digital-twin-brain/package.json
  packages/digital-twin-brain/src/__tests__/digitalTwinBrain.test.ts
  packages/digital-twin-brain/src/agents/complianceAgent.ts
  packages/digital-twin-brain/src/agents/diagnosticsAgent.ts
  packages/digital-twin-brain/src/agents/operationsCopilot.ts
  packages/digital-twin-brain/src/agents/optimizationAgent.ts
  packages/digital-twin-brain/src/control/policyEngine.ts
  packages/digital-twin-brain/src/control/sandbox.ts
  packages/digital-twin-brain/src/core/featureStore.ts
  packages/digital-twin-brain/src/core/onlineLearner.ts
  packages/digital-twin-brain/src/core/twinGraph.ts
  packages/digital-twin-brain/src/core/types.ts
  packages/digital-twin-brain/src/index.ts
  packages/digital-twin-brain/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add 2025 agentic AI R&D roadmap (#12743)
  docs/rnd-roadmap-2025.md
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
