Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add autoscaling policies for services
  src/maestro/v7/orchestration/CrossServiceOrchestrator.ts
Due: none

feat: add migration preflight validation
  server/scripts/migrate-persistence.js
Due: none

docs: add multi-region disaster recovery plan
  ops/dr/README.md
  ops/dr/multi-region-dr-plan.md
Due: prettier --write

chore: enforce preview environment quotas
  ops/preview/cleanup.sh
  ops/preview/report.sh
  ops/preview/up.sh
Due: none

chore: harden preview env reporting
  .github/workflows/preview-env.yml
Due: prettier --write

fix: tighten cross-domain correlation scoring
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/domain.py
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/engine.py
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/main.py
  ga-graphai/packages/autonomous-investigator/tests/test_plan.py
Due: none

fix: harden cost guard anomaly handling
  ga-graphai/packages/cost-guard/src/index.ts
  ga-graphai/packages/cost-guard/src/types.ts
  ga-graphai/packages/cost-guard/tests/costGuard.spec.ts
Due: none

fix: harden forensic ledger integrity
  ga-graphai/packages/prov-ledger/src/forensic-ledger.ts
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/tests/forensic-ledger.test.ts
Due: none

docs: strengthen cross-domain security model
  security/cross-domain-security-model.md
Due: prettier --write

fix: align workflow SLO error calculations
  ops/grafana/dashboards/monorepo-otel-workflows.json
  ops/observability/monitoring-stack/kustomization.yaml
  ops/prometheus/README.md
  ops/prometheus/prometheus.yml
  ops/prometheus/workflow-slo-rules.yaml
Due: prettier --write

fix: reset OIDC JWKS cache
  services/authz-gateway/README.md
  services/authz-gateway/src/auth.ts
  services/authz-gateway/src/data/webauthn-credentials.json
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/middleware.ts
  services/authz-gateway/src/oidc.ts
  services/authz-gateway/src/session.ts
  services/authz-gateway/src/stepup.ts
  services/authz-gateway/tests/auth.test.ts
  services/authz-gateway/tests/security.test.ts
Due: prettier --write

fix: harden compliance middleware
  services/license-registry/src/index.ts
Due: none

fix: harden forensics custody validations
  server/src/cases/forensics-custody-system.ts
  server/tests/forensics-custody-system.test.ts
Due: none

chore: enforce zap security gate
  .github/workflows/ci-zap.yml
  security/zap/README.md
  security/zap/targets.json
Due: prettier --write

fix: refine fusion ordering and normalization
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/__init__.py
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/fusion_pipeline.py
  ga-graphai/packages/autonomous-investigator/tests/test_fusion_pipeline.py
  ga-graphai/packages/autonomous-investigator/tests/test_plan.py
Due: none

docs: add ultra-prime prompt suite summary
  docs/ULTRA_PRIME_PROMPT_SUITE.md
Due: prettier --write

feat: add collaborative workspace workflows
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/src/prompt/collaboration.ts
  ga-graphai/packages/meta-orchestrator/tests/collaboration.test.ts
  ga-graphai/packages/web/src/collaboration.ts
  ga-graphai/packages/web/src/index.ts
  ga-graphai/packages/web/tests/collaboration.test.ts
Due: none

feat: add graph analytics engine
  ga-graphai/packages/graphai/src/analytics.py
  ga-graphai/packages/graphai/src/main.py
  ga-graphai/packages/graphai/tests/test_graph_analyze.py
Due: none

feat: add automated model benchmarking suite
  server/data-pipelines/optimization/__init__.py
  server/data-pipelines/optimization/ml_benchmarking.py
  server/data-pipelines/performance/model_registry.json
  server/data-pipelines/tests/test_ml_benchmarking.py
Due: prettier --write

feat: add bitemporal window to canonical schema
  packages/canonical-schema/README.md
  packages/canonical-schema/src/core/base.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add golden path doctor checks
  src/cli/maestro-doctor.ts
Due: none

chore: add certification badges to connector registry
  connectors/registry.json
  connectors/registry.schema.json
Due: prettier --write

chore: unify logging context with pino
  server/src/app.ts
  server/src/config/logger.ts
  server/src/middleware/correlation-id.ts
  server/src/utils/logger.ts
  server/utils/logger.ts
Due: none

chore: add coverage threshold gate
  .github/workflows/coverage-gate.yml
  jest.config.cjs
  jest.coverage.config.cjs
Due: prettier --write

feat: add graphql license license validation middleware
  server/src/app.ts
  server/src/graphql/apollo-v5-server.ts
  server/src/graphql/middleware/licenseRuleValidationMiddleware.ts
Due: none

feat(esg): Add integrated ESG reporting toolkit
  packages/esg-reporting/package.json
  packages/esg-reporting/src/frameworks/compliance-frameworks.ts
  packages/esg-reporting/src/frameworks/index.ts
  packages/esg-reporting/src/index.ts
  packages/esg-reporting/src/metrics/calculation-engine.ts
  packages/esg-reporting/src/metrics/index.ts
  packages/esg-reporting/src/types/esg-models.ts
  packages/esg-reporting/src/types/index.ts
  packages/esg-reporting/src/validators/esg-validators.ts
  packages/esg-reporting/src/validators/index.ts
  packages/esg-reporting/tsconfig.json
  services/esg-reporting-service/jest.config.js
  services/esg-reporting-service/migrations/001_create_esg_schema.sql
  services/esg-reporting-service/package.json
  services/esg-reporting-service/src/__tests__/calculation-engine.test.ts
  services/esg-reporting-service/src/__tests__/frameworks.test.ts
  services/esg-reporting-service/src/index.ts
  services/esg-reporting-service/src/routes/frameworks.ts
  services/esg-reporting-service/src/routes/reports.ts
  services/esg-reporting-service/src/routes/schedules.ts
  services/esg-reporting-service/src/services/ESGReportService.ts
  services/esg-reporting-service/src/services/ExportService.ts
  services/esg-reporting-service/src/services/MetricsService.ts
  services/esg-reporting-service/src/services/SchedulerService.ts
  services/esg-reporting-service/src/utils/database.ts
  services/esg-reporting-service/src/utils/logger.ts
  services/esg-reporting-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add cyber defense program blueprint
  security/cyber-defense-master-plan.md
Due: prettier --write

docs: add agent prompt pack
  docs/wave16/README.md
  prompts/PROMPTS.md
  prompts/agent-runner.config.yaml
  prompts/agent-runner.schema.json
  prompts/agent-spec.md
Due: prettier --write

feat: harden companyos canary slo gate
  .github/workflows/companyos-canary-slo-gate.yaml
  companyos/package.json
  companyos/scripts/check-canary-slo.mjs
  companyos/scripts/check-canary-slo.test.mjs
  observability/prometheus/companyos-api-alert-rules.yaml
  observability/prometheus/companyos-api-recording-rules.yaml
  observability/slo/README.md
  observability/slo/companyos-api.slo.yaml
Due: prettier --write

docs: add ultra-prime wave15 expansion
  docs/WAVE15_MISSIONS_113-120.md
  docs/WAVE15_ULTRA_PRIME_PROMPT_EXPANSION.md
Due: prettier --write

docs: deliver ultra-prime prompt bundle
  docs/AUTONOMOUS_AGENT_SPEC.md
  docs/PROMPTS.md
  docs/ULTRA_PRIME_RECURSIVE_META_EXTRAPOLATIVE_PROMPT.md
  docs/agent-config.schema.json
  docs/agent-config.yaml
  docs/missions/wave14-missions.md
Due: prettier --write

fix: align step-up endpoint paths
  apps/compliance-console/index.html
  apps/compliance-console/package.json
  apps/compliance-console/src/App.tsx
  apps/compliance-console/src/index.css
  apps/compliance-console/src/main.tsx
  apps/compliance-console/tsconfig.json
  apps/compliance-console/vite.config.ts
  companyos/package.json
  companyos/policies/disclosure_export.rego
  companyos/src/auth/step-up-route.ts
  companyos/src/authz/identity-middleware.ts
  companyos/src/authz/opa-client.ts
  companyos/src/authz/types.ts
  companyos/src/disclosure/data.ts
  companyos/src/disclosure/routes.ts
  companyos/src/index.ts
Due: prettier --write

docs: add ultra-prime wave13 expansion
  docs/wave13-prompts.md
  docs/wave13-ultra-prime.md
Due: prettier --write

docs: add trust & proof pack backlog csv
  project_management/backlog/trust-proof-pack-v0.1.csv
Due: none

docs: capture wave 13 mission scopes
  wave-13-prompts.md
Due: prettier --write

docs: harden codex top priorities playbook
  docs/sprints/repo-review-codex-top-3.md
Due: prettier --write

docs: add backlog spreadsheet table
  backlog_spreadsheet.md
Due: prettier --write

docs: expand ui ux handoff prompt
  docs/SLACK_HANDOFF_UI_UX_FIX.md
Due: prettier --write

feat: add disclosure pack export flow
  apps/compliance-console/index.html
  apps/compliance-console/package.json
  apps/compliance-console/src/App.tsx
  apps/compliance-console/src/main.tsx
  apps/compliance-console/src/vite-env.d.ts
  apps/compliance-console/tsconfig.json
  apps/compliance-console/vite.config.ts
  companyos/db/migrations/001_create_disclosure_packs.sql
  companyos/package.json
  companyos/src/db/client.ts
  companyos/src/disclosure/disclosureRepo.ts
  companyos/src/disclosure/routes.ts
  companyos/src/index.ts
  companyos/src/telemetry/events.ts
  companyos/src/types/express.d.ts
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
