Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json,yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore(husky): temporarily disable pre-push and commit-msg hooks to unblock CI
  .husky/commit-msg
  .husky/pre-push
Due: none

docs(recap): add dependabot link, docs audit, and reviewer note
  .evidence/reports/PR_NOTE_TOTAL_RECAPTURE.txt
  .evidence/reports/dependabot_url.txt
  .evidence/reports/docs_tree.txt
  .evidence/reports/merged_placeholders.txt
Due: none

chore(recap): resolve placeholders and finalize canonical paths
  client/package.json
  server/package.json
Due: prettier --write

chore: align cursor governance defaults to tenant taxonomy
  ga-graphai/docs/cursor-maestro-integration.md
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/policy/src/index.ts
Due: prettier --write

salvage: promote key artifacts (docs + migrations)
  _salvage_meta/PROMOTION_COMMIT_NOTES.txt
Due: none

fix: harden mcp core tooling and lock handling
  .gitattributes
  .gitignore
  apps/intelgraph-mcp/package.json
  apps/intelgraph-mcp/src/server.ts
  apps/intelgraph-mcp/tsconfig.json
  apps/maestro-mcp/package.json
  apps/maestro-mcp/src/server.ts
  apps/maestro-mcp/tsconfig.json
  package.json
  packages/mcp-core/jest.config.ts
  packages/mcp-core/package.json
  packages/mcp-core/src/auth.ts
  packages/mcp-core/src/core.ts
  packages/mcp-core/src/index.ts
  packages/mcp-core/src/logging.ts
  packages/mcp-core/src/policy.ts
  packages/mcp-core/src/registry.ts
  packages/mcp-core/src/toolkits/graph.ts
  packages/mcp-core/src/toolkits/orchestrator.ts
  packages/mcp-core/src/transports/http.ts
  packages/mcp-core/src/transports/stdio.ts
  packages/mcp-core/test/core.spec.ts
  packages/mcp-core/tsconfig.json
  packages/mcp-core/tsconfig.test.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Build Platform v0.3.0 - CI/CD + Supply-Chain Hardening
  .github/scripts/metrics-exporter.cjs
  .github/workflows/ci.yml
  .github/workflows/evidence-bundle-release.yml
  .github/workflows/release.yml
  ALERT_POLICIES.yaml
  EVIDENCE_BUNDLE.manifest.json
  GO_LIVE_APPROVAL.md
  GO_LIVE_CUTOVER.md
  KPI_BASELINES.yaml
  RUN_OF_SHOW.md
  charts/intelgraph-maestro/Chart.yaml
  charts/intelgraph-maestro/templates/_helpers.tpl
  charts/intelgraph-maestro/templates/cert-issuer.yaml
  charts/intelgraph-maestro/templates/database-migrations.yaml
  charts/intelgraph-maestro/templates/external-secrets.yaml
  charts/intelgraph-maestro/templates/ingress.yaml
  charts/intelgraph-maestro/templates/kafka-topics.yaml
  charts/intelgraph-maestro/templates/oidc-config.yaml
  charts/intelgraph-maestro/templates/opa-bundle-server.yaml
  charts/intelgraph-maestro/templates/opa-policies-config.yaml
  charts/intelgraph-maestro/values-dev.yaml
  charts/intelgraph-maestro/values-prod.yaml
  charts/intelgraph-maestro/values-staging.yaml
  charts/intelgraph-maestro/values.yaml
  db/migrations/001_initial_schema.sql
  policy/conftest.yaml
  policy/dockerfile.rego
  policy/dockerfile_test.rego
  policy/kubernetes.rego
  policy/supply_chain.rego
  server/src/middleware/graphql-hardening.ts
Due: prettier --write

docs: update architecture documentation
  docs/architecture.md
Due: prettier --write

feat: mega merge - complete enterprise platform integration
  CHANGELOG.md
  docs/architecture.md
Due: prettier --write

feat: complete deployment automation and documentation
  DEPLOYMENT_GUIDE.md
  deploy/docker-compose.prod.yml
  scripts/build-push.sh
  scripts/deploy-all.sh
  scripts/deploy-now.sh
Due: prettier --write

fix: complete GREEN TRAIN Phase 1-3 infrastructure hardening
  package.json
  server/.eslintrc.cjs
  server/eslint.config.js
  server/package.json
  server/src/workers/embeddingUpsertWorker.ts
Due: prettier --write

feat(env): complete environmental alignment + TS project references
  .npmrc
  .nvmrc
  .tool-versions
  client/tsconfig.json
  package.json
  pnpm-workspace.yaml
  server/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

feat: orchestrate web llm automation workflows
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/web/src/index.ts
  ga-graphai/packages/worker/src/automation.py
  ga-graphai/packages/worker/src/main.py
  ga-graphai/packages/worker/src/prompt_engineering.py
  ga-graphai/packages/worker/src/routing.py
  ga-graphai/packages/worker/tests/test_automation.py
  ga-graphai/packages/worker/tests/test_prompt_engineering.py
  ga-graphai/packages/worker/tests/test_routing.py
Due: none

build: pin Node 20.11.x, engineStrict, CI alignment
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .nvmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

feat: orchestrate multi-llm cooperation fabric
  ga-graphai/packages/common-types/package.json
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/common-types/tests/validateTaskSpec.test.ts
  ga-graphai/packages/common-types/tsconfig.json
  ga-graphai/packages/gateway/package.json
  ga-graphai/packages/gateway/src/acceptanceCriteria.ts
  ga-graphai/packages/gateway/src/capabilityRegistry.ts
  ga-graphai/packages/gateway/src/cooperation/causalChallengeGames.ts
  ga-graphai/packages/gateway/src/cooperation/counterfactualShadowing.ts
  ga-graphai/packages/gateway/src/cooperation/crossEntropySwaps.ts
  ga-graphai/packages/gateway/src/cooperation/orchestrator.ts
  ga-graphai/packages/gateway/src/cooperation/proofOfUsefulWorkbook.ts
  ga-graphai/packages/gateway/src/cooperation/semanticBraid.ts
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/gateway/src/normalization.ts
  ga-graphai/packages/gateway/src/policyRouter.ts
  ga-graphai/packages/gateway/src/policyTagger.ts
  ga-graphai/packages/gateway/src/promptOps.ts
  ga-graphai/packages/gateway/src/utils.ts
  ga-graphai/packages/gateway/tests/gateway.test.ts
  ga-graphai/packages/gateway/tsconfig.json
  ga-graphai/packages/prov-ledger/package.json
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/tests/provenanceLedger.test.ts
  ga-graphai/packages/prov-ledger/tsconfig.json
Due: prettier --write

feat: orchestrate zero spend routing
  ga-graphai/packages/common-types/package.json
  ga-graphai/packages/common-types/src/index.js
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/common-types/tests/common-types.test.js
  ga-graphai/packages/gateway/package.json
  ga-graphai/packages/gateway/src/budget.js
  ga-graphai/packages/gateway/src/discovery.js
  ga-graphai/packages/gateway/src/index.js
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/gateway/src/metrics.js
  ga-graphai/packages/gateway/src/optimizations.js
  ga-graphai/packages/gateway/src/orchestrator.js
  ga-graphai/packages/gateway/src/router.js
  ga-graphai/packages/gateway/tests/orchestrator.test.js
  ga-graphai/packages/policy/package.json
  ga-graphai/packages/policy/src/index.js
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/policy-engine.test.js
  ga-graphai/packages/prov-ledger/package.json
  ga-graphai/packages/prov-ledger/src/index.js
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/tests/prov-ledger.test.js
Due: prettier --write
