Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

fix: esm import extension and remove duplicate swagger docs
  server/src/audit/appendOnlyAuditStore.ts
  server/src/routes/health.ts
Due: none

chore: bump version to v5.0.3 for GA release
  package.json
Due: prettier --write

chore: snapshot unexpected jules+osint changes
  .jules/palette.md
  server/src/routes/osint.ts
Due: prettier --write

chore: bump version to v5.0.4 for GA release
  package.json
Due: prettier --write

fix: resolve lint and typecheck errors on main
  __tests__/governance/test_evidence_integrity.py
  intelgraph/core/tactic_library.py
  intelgraph/core/tactic_ontology.py
  intelgraph/graph_analytics/gnn_integration.py
  intelgraph/graph_analytics/tactic_matcher.py
  intelgraph/tests/test_tactic_detection.py
  scripts/governance/enforce_evidence_id_validity.py
  scripts/security/triage_alerts.py
  tsconfig.base.json
Due: prettier --write

chore: add PR lifecycle reporting artifacts (#16847)
  agents/examples/pr-lifecycle-report-task.json
  docs/pr-lifecycle-report.md
  docs/roadmap/STATUS.json
  prompts/governance/pr-lifecycle-report.md
  prompts/registry.yaml
  scripts/pr-lifecycle-report.mjs
Due: prettier --write

chore: bump version to v5.0.5 for GA release
  package.json
Due: prettier --write

chore(deps): normalize pnpm-lock.yaml git URL format
  pnpm-lock.yaml
Due: none

docs: add draft PR promotion session reports and runbook (#16850)
  docs/draft-promotion-reports/DRAFTS_SUMMARY_2026-01-27.md
  docs/draft-promotion-reports/SESSION_2026-01-27_0315.md
  docs/draft-promotion-reports/TRIAGE_2026-01-27.md
  docs/runbooks/draft-pr-promotion.md
  scripts/gh/draft_promotion_report.mjs
Due: prettier --write

perf: enable GZIP compression for server responses (#16846)
  server/src/app.ts
  server/src/types/shims.d.ts
Due: none

chore: bump version to v5.0.6 for GA release
  package.json
Due: prettier --write

docs: add GA-readiness salvage PR tracking ledger (#16843)
  docs/ga/SALVAGE_FROM_CLOSED_PRS.md
Due: prettier --write

feat(rcr): Recursive Context Runtime MVP (#16841)
  package.json
  packages/maestro-core/src/engine.d.ts
  packages/maestro-core/src/engine.js
  packages/maestro-core/src/engine.js.map
  packages/maestro-skills/recursive-context-skill/SKILL.md
  packages/maestro-skills/recursive-context-skill/package.json
  packages/maestro-skills/recursive-context-skill/src/index.ts
  packages/maestro-skills/recursive-context-skill/src/policies.ts
  packages/maestro-skills/recursive-context-skill/src/promptTemplates.ts
  packages/maestro-skills/recursive-context-skill/tsconfig.json
  packages/recursive-context-runtime/jest.config.js
  packages/recursive-context-runtime/package.json
  packages/recursive-context-runtime/src/api/index.d.ts
  packages/recursive-context-runtime/src/api/index.ts
  packages/recursive-context-runtime/src/env/adapters/docBundle.d.ts
  packages/recursive-context-runtime/src/env/adapters/docBundle.ts
  packages/recursive-context-runtime/src/env/adapters/fsRepo.d.ts
  packages/recursive-context-runtime/src/env/adapters/fsRepo.ts
  packages/recursive-context-runtime/src/index.d.ts
  packages/recursive-context-runtime/src/index.ts
  packages/recursive-context-runtime/src/runtime/planner.d.ts
  packages/recursive-context-runtime/src/runtime/planner.ts
  packages/recursive-context-runtime/src/runtime/session.d.ts
  packages/recursive-context-runtime/src/runtime/session.ts
  packages/recursive-context-runtime/tests/runtime.test.ts
  packages/recursive-context-runtime/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: bump version to v5.0.7 for GA release
  package.json
Due: prettier --write

feat(ux): improve search experience with polished UI (#16851)
  apps/web/src/components/GlobalSearch.tsx
  apps/web/src/components/Navigation.tsx
Due: none

feat(a11y): accessible command palette navigation (#16844)
  .Jules/palette.md
  client/components/CommandPalette.tsx
  client/src/__tests__/CommandPalette.test.tsx
Due: prettier --write

chore: bump version to v5.0.8 for GA release
  package.json
Due: prettier --write

docs: add keyboard trap learning to palette
  .jules/palette.md
Due: prettier --write

chore: bump version to v5.0.9 for GA release
  package.json
Due: prettier --write

docs: add browser ops extension blueprint
  AGENT_ACTIVITY.md
  docs/roadmap/STATUS.json
  docs/runbooks/browser-ops-extension-blueprint.md
Due: prettier --write

chore: bump version to v5.0.10 for GA release
  package.json
Due: prettier --write

refactor: standardize imports and modernize type hints (#16852)
  __tests__/governance/test_evidence_integrity.py
  intelgraph/core/tactic_library.py
  intelgraph/core/tactic_ontology.py
  intelgraph/graph_analytics/gnn_integration.py
  intelgraph/graph_analytics/tactic_matcher.py
  intelgraph/tests/test_tactic_detection.py
  pnpm-lock.yaml
  scripts/governance/enforce_evidence_id_validity.py
  scripts/security/triage_alerts.py
  tsconfig.base.json
Due: prettier --write

chore: bump version to v5.0.11 for GA release
  package.json
Due: prettier --write

feat: scaffold maestro reasoning budgets and tool graph
  agents/examples/MAESTRO_REASONING_BUDGET_TOOLGRAPH_TASK.json
  docs/roadmap/STATUS.json
  policy/maestro/budget_limits.json
  policy/maestro/maestro_actions.rego
  prompts/maestro/maestro-reasoning-budget-tool-graph@v1.md
  prompts/registry.yaml
  server/src/intelgraph/client-impl.ts
  server/src/maestro/__tests__/budget.test.ts
  server/src/maestro/__tests__/noise-harness.test.ts
  server/src/maestro/__tests__/tool-graph.test.ts
  server/src/maestro/api-types.ts
  server/src/maestro/budget.ts
  server/src/maestro/core.ts
  server/src/maestro/noise-harness.ts
  server/src/maestro/tool-graph.ts
  server/src/maestro/types.ts
  server/src/routes/maestro_routes.ts
Due: prettier --write

feat: implement Intent-First Architecture for Summit (#16858)
  server/src/app.ts
  server/src/routes/intent.ts
  server/src/services/IntentClassificationService.ts
  server/src/services/IntentRouterService.ts
  server/tests/services/IntentRouterService.test.ts
Due: none

feat: implement Summit Skillpack standard and core design/UI skills (#16857)
  packages/maestro-skills/SKILLPACK_SPEC.md
  packages/maestro-skills/skill-designos-extract/SKILL.md
  packages/maestro-skills/skill-designos-extract/manifest.json
  packages/maestro-skills/skill-designos-extract/package.json
  packages/maestro-skills/skill-designos-extract/scripts/validate.ts
  packages/maestro-skills/skill-designos-extract/src/index.ts
  packages/maestro-skills/skill-designos-extract/tsconfig.json
  packages/maestro-skills/skill-ui-build-loop/SKILL.md
  packages/maestro-skills/skill-ui-build-loop/manifest.json
  packages/maestro-skills/skill-ui-build-loop/package.json
  packages/maestro-skills/skill-ui-build-loop/src/index.ts
  packages/maestro-skills/skill-ui-build-loop/tsconfig.json
  packages/maestro-skills/skill-ui-components/SKILL.md
  packages/maestro-skills/skill-ui-components/manifest.json
  packages/maestro-skills/skill-ui-components/package.json
  packages/maestro-skills/skill-ui-components/src/index.ts
  packages/maestro-skills/skill-ui-components/tsconfig.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement Voice Assets schema and Voice Generation Skill (#16856)
  packages/maestro-skills/voice-generation-skill/package.json
  packages/maestro-skills/voice-generation-skill/src/index.ts
  packages/maestro-skills/voice-generation-skill/tsconfig.json
  server/src/graphql/schema/index.ts
  server/src/graphql/schemas/voice.graphql
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: bump version to v5.0.12 for GA release
  package.json
Due: prettier --write

feat: add intent decomposition pipeline package
  agents/examples/INTENT_DECOMPOSITION_TASK.json
  docs/roadmap/STATUS.json
  packages/intent-decomposition/README.md
  packages/intent-decomposition/jest.config.js
  packages/intent-decomposition/package.json
  packages/intent-decomposition/prompts/bifact-entailment.md
  packages/intent-decomposition/prompts/bifact-extract.md
  packages/intent-decomposition/prompts/label-cleaning.md
  packages/intent-decomposition/prompts/stage1-summary.md
  packages/intent-decomposition/prompts/stage2-intent.md
  packages/intent-decomposition/schemas/bifact-eval.schema.json
  packages/intent-decomposition/schemas/intent-statement.schema.json
  packages/intent-decomposition/schemas/step-summary-factual.schema.json
  packages/intent-decomposition/schemas/step-summary.schema.json
  packages/intent-decomposition/schemas/ui-action.schema.json
  packages/intent-decomposition/schemas/ui-frame.schema.json
  packages/intent-decomposition/src/cli.ts
  packages/intent-decomposition/src/eval/bifact.ts
  packages/intent-decomposition/src/index.ts
  packages/intent-decomposition/src/llm/openai-client.ts
  packages/intent-decomposition/src/llm/replay-client.ts
  packages/intent-decomposition/src/pipeline/clean-labels.ts
  packages/intent-decomposition/src/pipeline/extract-intent.ts
  packages/intent-decomposition/src/pipeline/summarize.ts
  packages/intent-decomposition/src/types.ts
  packages/intent-decomposition/src/utils/json.ts
  packages/intent-decomposition/src/utils/prompt.ts
  packages/intent-decomposition/tests/pipeline.test.ts
  packages/intent-decomposition/tsconfig.json
  prompts/intent-decomposition/intent-decomposition-lead.md
  prompts/registry.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add eval skills framework
  .github/workflows/eval-skills.yml
  Makefile
  agents/examples/EVAL_SKILLS_FRAMEWORK.task.json
  docs/roadmap/STATUS.json
  evals/docs/eval_skills.md
  evals/runner/.gitignore
  evals/runner/csv.ts
  evals/runner/filesystem.ts
  evals/runner/parse_trace.ts
  evals/runner/report.ts
  evals/runner/run_skill_eval.ts
  evals/runner/run_skill_suite.ts
  evals/runner/run_skills_changed.ts
  evals/runner/score.ts
  evals/runner/trace-event.schema.json
  evals/runner/types.ts
  evals/skills/.gitignore
  evals/skills/add-opa-policy/configs/run.yaml
  evals/skills/add-opa-policy/graders/deterministic.ts
  evals/skills/add-opa-policy/graders/rubric.schema.json
  evals/skills/add-opa-policy/graders/rubric.ts
  evals/skills/add-opa-policy/prompts.csv
  evals/skills/add-opa-policy/simulate-skill.mjs
  evals/skills/add-opa-policy/skill.md
  evals/skills/create-app-module/configs/run.yaml
  evals/skills/create-app-module/graders/deterministic.ts
  evals/skills/create-app-module/graders/rubric.schema.json
  evals/skills/create-app-module/graders/rubric.ts
  evals/skills/create-app-module/prompts.csv
  evals/skills/create-app-module/simulate-skill.mjs
  evals/skills/create-app-module/skill.md
  evals/skills/fix-failing-ci/configs/run.yaml
  evals/skills/fix-failing-ci/graders/deterministic.ts
  evals/skills/fix-failing-ci/graders/rubric.schema.json
  evals/skills/fix-failing-ci/graders/rubric.ts
  evals/skills/fix-failing-ci/prompts.csv
  evals/skills/fix-failing-ci/simulate-skill.mjs
  evals/skills/fix-failing-ci/skill.md
  prompts/evals/skill-eval-framework.md
  prompts/registry.yaml
Due: prettier --write

feat: add Summit Analysis Copilot System Prompt
  server/src/prompts/summit.analysis-copilot@v1.yaml
Due: none

feat: scaffold Agentic Reasoning Kernel (ARK)
  packages/ark/IMPLEMENTATION_PLAN.md
  packages/ark/openapi.yaml
  packages/ark/package.json
  packages/ark/scripts/ark-scorecard.ts
  packages/ark/src/index.ts
  packages/ark/src/types.ts
  packages/ark/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add Summit SpecFlow Specification
  docs/specs/summit-specflow.md
Due: prettier --write

feat: implement SkillMesh Hub CLI and Cursor Adapter
  packages/skillmesh/jest.config.js
  packages/skillmesh/package.json
  packages/skillmesh/src/adapters/CursorAdapter.ts
  packages/skillmesh/src/adapters/index.ts
  packages/skillmesh/src/cli/index.ts
  packages/skillmesh/src/core/types.ts
  packages/skillmesh/src/importers/GitImporter.ts
  packages/skillmesh/src/importers/LocalImporter.ts
  packages/skillmesh/src/importers/index.ts
  packages/skillmesh/src/index.ts
  packages/skillmesh/src/registry/LocalSkillRegistry.ts
  packages/skillmesh/src/registry/SyncEngine.ts
  packages/skillmesh/src/registry/index.ts
  packages/skillmesh/tests/CursorAdapter.test.ts
  packages/skillmesh/tests/SyncEngine.test.ts
  packages/skillmesh/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add AWS EKS Optimization System Prompt for Jules
  prompts/jules.eks-optimizer@v1.yaml
Due: none

feat: implement Summit Skills ecosystem with strict governance moats
  packages/maestro-skills/SKILLPACK_SPEC.md
  packages/maestro-skills/package.json
  packages/maestro-skills/schemas/skill-manifest.schema.json
  packages/maestro-skills/scripts/validate_skill.ts
  packages/maestro-skills/skill-github-pr/SKILL.md
  packages/maestro-skills/skill-github-pr/package.json
  packages/maestro-skills/skill-github-pr/skill.yaml
  packages/maestro-skills/skill-github-pr/src/index.ts
  packages/maestro-skills/skill-ui-build-loop/manifest.json
  packages/maestro-skills/skill-ui-build-loop/skill.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: update GraphRAG and Neo4j System Prompts
  server/src/ai/nl-to-cypher/nl-to-cypher.service.ts
  server/src/services/GraphRAGService.ts
  server/src/services/NLToCypherService.ts
  server/src/services/graphrag/llm-adapter.ts
Due: none

feat: implement Summit AgentGym (VisGym++) Infrastructure
  apps/maestro/agent-gym-dashboard/README.md
  apps/maestro/agent-gym-dashboard/index.html
  apps/maestro/agent-gym-dashboard/package.json
  apps/maestro/agent-gym-dashboard/src/App.tsx
  apps/maestro/agent-gym-dashboard/src/main.tsx
  apps/maestro/agent-gym-dashboard/tsconfig.json
  apps/maestro/agent-gym-dashboard/tsconfig.node.json
  apps/maestro/agent-gym-dashboard/vite.config.ts
  packages/agent-gym-metrics/package.json
  packages/agent-gym-metrics/src/index.ts
  packages/agent-gym-metrics/src/metrics.ts
  packages/agent-gym-metrics/tsconfig.json
  packages/agent-gym/package.json
  packages/agent-gym/src/env.ts
  packages/agent-gym/src/envs/BrowserOps.ts
  packages/agent-gym/src/envs/MCPToolChain.ts
  packages/agent-gym/src/envs/SpreadsheetOps.ts
  packages/agent-gym/src/envs/index.ts
  packages/agent-gym/src/index.ts
  packages/agent-gym/src/runner.ts
  packages/agent-gym/src/types.ts
  packages/agent-gym/tsconfig.json
  scripts/ci/run_agent_gym_suite.ts
  tsconfig.base.json
  tsconfig.paths.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
