Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(benchmarks): add comprehensive Neo4j graph performance benchmark harness
  .github/workflows/graph-benchmark.yml
  benchmarks/graph/.gitignore
  benchmarks/graph/QUICKSTART.md
  benchmarks/graph/README.md
  benchmarks/graph/config/budgets.json
  benchmarks/graph/fixtures/dataset-generator.js
  benchmarks/graph/package.json
  benchmarks/graph/reports/.gitkeep
  benchmarks/graph/runner/index.js
  benchmarks/graph/runner/report.js
  benchmarks/graph/scenarios/index.js
  benchmarks/graph/test-generator.js
Due: prettier --write

chore: update TypeScript build info
  .tsbuildinfo
Due: none

feat: comprehensive backup, restore, and DR drill framework
  .github/workflows/backup-restore-validation.yml
  BACKUP_RESTORE_README.md
  RUNBOOKS/dr-drill-scenarios.yaml
  config/backup-sets.yaml
  docs/BACKUP_RESTORE_DR_GUIDE.md
  scripts/backup-enhanced.sh
  scripts/restore-enhanced.sh
  scripts/test-backup-restore.sh
Due: prettier --write

feat(i18n): Add comprehensive internationalization infrastructure
  client/src/components/ai/IntelligentCopilot.jsx
  client/src/components/auth/LoginPage.jsx
  client/src/components/dashboard/Dashboard.jsx
  client/src/components/i18n/LocaleSelector.tsx
  client/src/hooks/useI18n.ts
  client/src/locales/en-US.json
  client/src/locales/es-ES.json
  docs/I18N_GUIDE.md
  server/src/graphql/resolvers/user.ts
  server/src/graphql/schema.ts
Due: prettier --write

feat(demos): add production-ready enhancements and comprehensive testing
  demos/IMPROVEMENTS_AND_PR_READINESS.md
  demos/misinfo-defense/output/analysis_results.json
  demos/misinfo-defense/pipelines/load_demo_data.py
  demos/misinfo-defense/pipelines/test_load_demo_data.py
Due: prettier --write

feat: implement comprehensive PII detection and redaction system
  PII_IMPLEMENTATION_SUMMARY.md
  server/src/pii/README.md
  server/src/pii/__tests__/fixtures/testDatasets.ts
  server/src/pii/__tests__/integration.test.ts
  server/src/pii/copilotIntegration.ts
  server/src/pii/examples/fullIntegration.ts
  server/src/pii/index.ts
  server/src/pii/ingestionHooks.ts
  server/src/pii/metadata.ts
  server/src/pii/metadataStore.ts
  server/src/pii/migrations/001_create_pii_tables.sql
  server/src/pii/redactionMiddleware.ts
  server/src/pii/sensitivity.ts
Due: prettier --write

feat(companyos): wire CompanyOS for Summit internal operations
  client/src/features/companyos/pages/OperationsDashboard.tsx
  companyos/HOW_SUMMIT_RUNS_ON_SUMMIT.md
  companyos/src/api/alertRoutes.ts
  companyos/src/api/deploymentRoutes.ts
  companyos/src/api/incidentRoutes.ts
  companyos/src/api/index.ts
  companyos/src/integrations/githubWebhook.ts
  companyos/src/integrations/prometheusWebhook.ts
  companyos/src/models/alert.ts
  companyos/src/models/deployment.ts
  companyos/src/models/incident.ts
  companyos/src/models/slo.ts
  companyos/src/services/alertService.ts
  companyos/src/services/deploymentService.ts
  companyos/src/services/incidentService.ts
  companyos/src/services/sloService.ts
  server/src/db/migrations/postgres/009_create_companyos_operational_tables.sql
  server/src/graphql/schema.companyos.ts
Due: prettier --write

docs: align docs-site with Summit IntelGraph capabilities
  .evidence/SUMMIT_CAPABILITIES_ANALYSIS.md
  .evidence/SUMMIT_KEY_FILES.txt
  .github/workflows/docs-validation.yml
  .markdownlint.json
  DOCS_ALIGNMENT_SUMMARY.md
  docs-site/docusaurus.config.js
  docs-site/sidebars.js
  docs/ARCHITECTURE.md
  docs/README.md
  docs/concepts/competitive-positioning.md
  docs/concepts/copilot.md
  docs/concepts/provenance.md
  docs/get-started/quickstart-5-min.md
  docs/reference/maestro-cli.md
  scripts/docs/check-links.js
  scripts/docs/validate-snippets.js
Due: prettier --write

refactor(graphql): enhance schema governance with production-ready features
  docs/graphql/IMPLEMENTATION_COMPLETE.md
  docs/graphql/MIGRATION_GUIDE.md
  graphql/__tests__/schema-registry.test.ts
  graphql/__tests__/setup.ts
  graphql/jest.config.js
  graphql/schema-registry.ts
Due: prettier --write

feat(cli): add production-ready improvements to Summit CLI
  summit-cli/.github/PULL_REQUEST_TEMPLATE.md
  summit-cli/BREAKING_CHANGES.md
  summit-cli/COMPLETION_REPORT.md
  summit-cli/jest.config.js
  summit-cli/jest.setup.js
  summit-cli/package.json
  summit-cli/scripts/validate-integration.sh
  summit-cli/src/lib/__tests__/executor.test.js
  summit-cli/src/lib/executor.js
  summit-cli/src/lib/monitoring.js
  summit.config.example.js
Due: prettier --write

feat: implement notifications & integrations hub
  server/src/notifications-hub/NotificationHub.ts
  server/src/notifications-hub/README.md
  server/src/notifications-hub/adapters/EventAdapters.ts
  server/src/notifications-hub/events/EventSchema.ts
  server/src/notifications-hub/index.ts
  server/src/notifications-hub/preferences/PreferencesManager.ts
  server/src/notifications-hub/receivers/ChatReceiver.ts
  server/src/notifications-hub/receivers/EmailReceiver.ts
  server/src/notifications-hub/receivers/ReceiverInterface.ts
  server/src/notifications-hub/receivers/WebhookReceiver.ts
  server/src/notifications-hub/templates/TemplateRegistry.ts
Due: prettier --write

fix(deps): update pnpm-lock.yaml after package.json changes
  pnpm-lock.yaml
Due: none

feat(autotriage): production-ready improvements and comprehensive testing
  .github/workflows/autotriage-ci.yml
  assistant/autotriage/IMPROVEMENTS.md
  assistant/autotriage/INTEGRATION.md
  assistant/autotriage/__tests__/backlog-parser.test.d.ts
  assistant/autotriage/__tests__/backlog-parser.test.js
  assistant/autotriage/__tests__/backlog-parser.test.ts
  assistant/autotriage/automation/comment-drafter.d.ts.map
  assistant/autotriage/automation/comment-drafter.js.map
  assistant/autotriage/automation/label-generator.d.ts.map
  assistant/autotriage/automation/label-generator.js.map
  assistant/autotriage/classifier/area-detector.d.ts.map
  assistant/autotriage/classifier/area-detector.js.map
  assistant/autotriage/classifier/impact-analyzer.d.ts.map
  assistant/autotriage/classifier/impact-analyzer.js.map
  assistant/autotriage/classifier/issue-clusterer.d.ts.map
  assistant/autotriage/classifier/issue-clusterer.js.map
  assistant/autotriage/classifier/type-classifier.d.ts.map
  assistant/autotriage/classifier/type-classifier.js.map
  assistant/autotriage/data/backlog-parser.d.ts
  assistant/autotriage/data/backlog-parser.d.ts.map
  assistant/autotriage/data/backlog-parser.js
  assistant/autotriage/data/backlog-parser.js.map
  assistant/autotriage/data/backlog-parser.ts
  assistant/autotriage/data/bugbash-parser.d.ts.map
  assistant/autotriage/data/bugbash-parser.js.map
  assistant/autotriage/data/github-fetcher.d.ts.map
  assistant/autotriage/data/github-fetcher.js.map
  assistant/autotriage/examples/sample-backlog.json
  assistant/autotriage/examples/usage-example.d.ts
  assistant/autotriage/examples/usage-example.js
  assistant/autotriage/examples/usage-example.ts
  assistant/autotriage/jest.config.js
  assistant/autotriage/monitoring.d.ts
  assistant/autotriage/monitoring.d.ts.map
  assistant/autotriage/monitoring.js
  assistant/autotriage/monitoring.js.map
  assistant/autotriage/monitoring.ts
  assistant/autotriage/package.json
  assistant/autotriage/reports/triage-report.d.ts.map
  assistant/autotriage/reports/triage-report.js.map
Due: prettier --write

feat: comprehensive review and improvements to database optimization
  config/__tests__/neo4j.test.ts
  config/neo4j.ts
  docs/MIGRATION_GUIDE.md
  docs/PR_SUMMARY.md
  docs/examples/database-optimization-integration.ts
  docs/performance/README.md
Due: prettier --write

feat: comprehensive enhancement of Resilience Lab for production readiness
  chaos/EXAMPLES.md
  chaos/MIGRATION.md
  chaos/PRODUCTION_READINESS.md
  chaos/production-check.sh
  chaos/runner.sh
  chaos/test-runner.sh
Due: prettier --write

feat: implement knowledge graph and semantic analysis engine
  docs/knowledge-graph/SEMANTIC_ANALYSIS.md
  packages/entity-linking/package.json
  packages/entity-linking/src/index.ts
  packages/entity-linking/src/linking/EntityLinker.ts
  packages/entity-linking/src/ner/NamedEntityRecognizer.ts
  packages/entity-linking/tsconfig.json
  packages/graph-reasoning/__tests__/InferenceEngine.test.ts
  packages/graph-reasoning/package.json
  packages/graph-reasoning/src/engine/ContradictionDetector.ts
  packages/graph-reasoning/src/engine/InferenceEngine.ts
  packages/graph-reasoning/src/index.ts
  packages/graph-reasoning/src/prediction/LinkPredictor.ts
  packages/graph-reasoning/src/types/inference.ts
  packages/graph-reasoning/tsconfig.json
  packages/knowledge-graph/README.md
  packages/knowledge-graph/__tests__/OntologyManager.test.ts
  packages/knowledge-graph/package.json
  packages/knowledge-graph/src/core/KnowledgeGraphManager.ts
  packages/knowledge-graph/src/embeddings/GraphEmbeddings.ts
  packages/knowledge-graph/src/extraction/ExtractionPipeline.ts
  packages/knowledge-graph/src/fusion/KnowledgeFusion.ts
  packages/knowledge-graph/src/index.ts
  packages/knowledge-graph/src/ontology/OntologyManager.ts
  packages/knowledge-graph/src/temporal/TemporalKnowledgeGraph.ts
  packages/knowledge-graph/src/types/entity.ts
  packages/knowledge-graph/src/types/ontology.ts
  packages/knowledge-graph/src/visualization/GraphVisualization.ts
  packages/knowledge-graph/tsconfig.json
  packages/semantic-analysis/__tests__/RelationshipExtractor.test.ts
  packages/semantic-analysis/package.json
  packages/semantic-analysis/src/extraction/RelationshipExtractor.ts
  packages/semantic-analysis/src/index.ts
  packages/semantic-analysis/src/search/SemanticSearch.ts
  packages/semantic-analysis/src/types/semantic.ts
  packages/semantic-analysis/tsconfig.json
  services/sparql-endpoint/package.json
  services/sparql-endpoint/src/server.ts
  services/sparql-endpoint/src/sparql/SPARQLQueryEngine.ts
  services/sparql-endpoint/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add comprehensive review summary for Resilience Lab v2.0
  chaos/REVIEW_SUMMARY.md
Due: prettier --write

feat: implement enterprise compliance and governance framework
  .tsbuildinfo
  docs/compliance/COMPLIANCE_FRAMEWORK.md
  docs/compliance/README.md
  packages/audit-logging/package.json
  packages/audit-logging/src/index.ts
  packages/audit-logging/tsconfig.json
  packages/compliance/package.json
  packages/compliance/src/controls/fedramp.ts
  packages/compliance/src/controls/iso27001.ts
  packages/compliance/src/controls/nist-800-53.ts
  packages/compliance/src/controls/soc2.ts
  packages/compliance/src/index.ts
  packages/compliance/src/policies/index.ts
  packages/compliance/src/policies/retention.ts
  packages/compliance/src/reporting/index.ts
  packages/compliance/src/types.ts
  packages/compliance/tsconfig.json
  packages/data-classification/package.json
  packages/data-classification/src/index.ts
  packages/data-classification/tsconfig.json
  packages/privacy-controls/package.json
  packages/privacy-controls/src/chain-of-custody.ts
  packages/privacy-controls/src/index.ts
  packages/privacy-controls/src/segregation-of-duties.ts
  packages/privacy-controls/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement blockchain and immutable audit trail system
  docs/blockchain/ARCHITECTURE.md
  docs/compliance/AUDIT_TRAIL.md
  packages/blockchain/README.md
  packages/blockchain/package.json
  packages/blockchain/src/consensus/ConsensusEngine.ts
  packages/blockchain/src/core/Block.ts
  packages/blockchain/src/core/Blockchain.ts
  packages/blockchain/src/core/MerkleTree.ts
  packages/blockchain/src/core/TransactionPool.ts
  packages/blockchain/src/core/types.ts
  packages/blockchain/src/index.ts
  packages/blockchain/src/storage/BlockStorage.ts
  packages/blockchain/tsconfig.json
  packages/chain-of-custody/README.md
  packages/chain-of-custody/package.json
  packages/chain-of-custody/src/index.ts
  packages/chain-of-custody/src/tracker/CustodyTracker.ts
  packages/chain-of-custody/tsconfig.json
  packages/digital-signatures/README.md
  packages/digital-signatures/package.json
  packages/digital-signatures/src/index.ts
  packages/digital-signatures/src/pki/PKIManager.ts
  packages/digital-signatures/tsconfig.json
  packages/smart-contracts/README.md
  packages/smart-contracts/package.json
  packages/smart-contracts/src/contracts/types.ts
  packages/smart-contracts/src/executor/SmartContractExecutor.ts
  packages/smart-contracts/src/index.ts
  packages/smart-contracts/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

chore: update build artifacts after blockchain implementation
  .tsbuildinfo
  apps/analytics-engine/dist/config.d.ts
  apps/analytics-engine/dist/middleware/auth.d.ts
  apps/analytics-engine/dist/utils/logger.d.ts
  apps/graph-analytics/dist/config.d.ts
  apps/graph-analytics/dist/middleware/auth.d.ts
  apps/graph-analytics/dist/utils/logger.d.ts
  apps/ml-engine/dist/config.d.ts
  apps/ml-engine/dist/utils/logger.d.ts
  apps/search-engine/dist/middleware/auth.d.ts
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  client/tsconfig.tsbuildinfo
Due: none

chore: remove .tsbuildinfo from version control
  .tsbuildinfo
Due: none

feat: implement enterprise-grade data integration and ETL platform
  docs/data-integration/GUIDE.md
  docs/data-integration/IMPLEMENTATION_SUMMARY.md
  infrastructure/airflow/.env.example
  infrastructure/airflow/README.md
  infrastructure/airflow/dags/etl_pipeline_example.py
  infrastructure/airflow/docker-compose.yml
  packages/data-integration/README.md
  packages/data-integration/package.json
  packages/data-integration/src/connectors/MongoDBConnector.ts
  packages/data-integration/src/connectors/MySQLConnector.ts
  packages/data-integration/src/connectors/PostgreSQLConnector.ts
  packages/data-integration/src/connectors/RESTAPIConnector.ts
  packages/data-integration/src/connectors/S3Connector.ts
  packages/data-integration/src/core/BaseConnector.ts
  packages/data-integration/src/index.ts
  packages/data-integration/src/types/index.ts
  packages/data-integration/tsconfig.json
  packages/data-lineage/package.json
  packages/data-lineage/src/LineageTracker.ts
  packages/data-lineage/src/index.ts
  packages/data-lineage/tsconfig.json
  packages/etl-framework/package.json
  packages/etl-framework/src/enrichment/DataEnricher.ts
  packages/etl-framework/src/index.ts
  packages/etl-framework/src/loading/DataLoader.ts
  packages/etl-framework/src/pipeline/PipelineExecutor.ts
  packages/etl-framework/src/transformation/DataTransformer.ts
  packages/etl-framework/src/validation/DataValidator.ts
  packages/etl-framework/tsconfig.json
  services/orchestration/package.json
  services/orchestration/src/airflow/AirflowIntegration.ts
  services/orchestration/src/orchestrator/PipelineOrchestrator.ts
  services/orchestration/src/scheduler/PipelineScheduler.ts
  services/orchestration/src/server.ts
  services/orchestration/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive collaborative intelligence platform
  docs/collaboration/GUIDE.md
  packages/collaboration/package.json
  packages/collaboration/src/CollaborationHub.ts
  packages/collaboration/src/index.ts
  packages/collaboration/src/types.ts
  packages/collaboration/tsconfig.json
  packages/commenting/package.json
  packages/commenting/src/CommentManager.ts
  packages/commenting/src/index.ts
  packages/commenting/src/types.ts
  packages/commenting/tsconfig.json
  packages/real-time-sync/package.json
  packages/real-time-sync/src/OperationalTransform.ts
  packages/real-time-sync/src/SyncEngine.ts
  packages/real-time-sync/src/index.ts
  packages/real-time-sync/src/types.ts
  packages/real-time-sync/tsconfig.json
  packages/version-control/package.json
  packages/version-control/src/VersionControl.ts
  packages/version-control/src/index.ts
  packages/version-control/src/types.ts
  packages/version-control/tsconfig.json
  packages/workspace/package.json
  packages/workspace/src/WorkspaceManager.ts
  packages/workspace/src/index.ts
  packages/workspace/src/types.ts
  packages/workspace/tsconfig.json
  services/collaboration-service/package.json
  services/collaboration-service/src/index.ts
  services/collaboration-service/src/routes.ts
  services/collaboration-service/src/stores.ts
  services/collaboration-service/src/websocket.ts
  services/collaboration-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Implement enterprise-grade advanced threat detection and anomaly detection system
  db/schemas/threat-detection-schema.sql
  docs/playbooks/THREAT_HUNTING.md
  docs/security/THREAT_DETECTION.md
  ml/threat_models/__init__.py
  ml/threat_models/anomaly_autoencoder.py
  ml/threat_models/ensemble_detector.py
  ml/threat_models/online_learner.py
  ml/threat_models/requirements.txt
  ml/threat_models/threat_classifier.py
  monitoring/grafana/dashboards/threat-detection-dashboard.json
  monitoring/prometheus/alerts/threat-detection-alerts.yml
  packages/anomaly-detection/package.json
  packages/anomaly-detection/src/detectors/behavior-analyzer.ts
  packages/anomaly-detection/src/detectors/isolation-forest.ts
  packages/anomaly-detection/src/detectors/statistical-anomaly-detector.ts
  packages/anomaly-detection/src/detectors/time-series-detector.ts
  packages/anomaly-detection/src/index.ts
  packages/anomaly-detection/tsconfig.json
  packages/ml-models/package.json
  packages/ml-models/src/index.ts
  packages/ml-models/src/ml-client.ts
  packages/ml-models/tsconfig.json
  packages/network-threat-detection/package.json
  packages/network-threat-detection/src/index.ts
  packages/network-threat-detection/src/network-detector.ts
  packages/network-threat-detection/tsconfig.json
  packages/threat-detection-core/README.md
  packages/threat-detection-core/package.json
  packages/threat-detection-core/src/index.ts
  packages/threat-detection-core/src/interfaces/detector.ts
  packages/threat-detection-core/src/types/alerts.ts
  packages/threat-detection-core/src/types/events.ts
  packages/threat-detection-core/src/types/hunting.ts
  packages/threat-detection-core/src/types/ml.ts
  packages/threat-detection-core/src/types/threat-intelligence.ts
  packages/threat-detection-core/src/types/threats.ts
  packages/threat-detection-core/src/utils/correlation.ts
  packages/threat-detection-core/src/utils/scoring.ts
  packages/threat-detection-core/src/utils/validators.ts
  packages/threat-detection-core/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: Add comprehensive architecture and development documentation
  ARCHITECTURE_SUMMARY.md
  DOCUMENTATION_INDEX.md
  QUICK_REFERENCE.md
  VISUALIZATION_DEVELOPMENT_GUIDE.md
Due: prettier --write

feat(audit): design comprehensive audit event schema (Task 7.1)
  docs/audit/audit-system-design.md
  docs/audit/hmac-signature-strategy.md
  docs/audit/soc2-compliance-requirements.md
  server/db/migrations/timescale/003_comprehensive_audit_system.sql
  server/src/audit/audit-types.ts
Due: prettier --write

feat(automation): implement comprehensive workflow and automation engine (PRIORITY 44)
  apps/workflow-engine/migrations/001_create_workflow_tables.sql
  apps/workflow-engine/src/services/WorkflowService.ts
  docs/automation/GUIDE.md
  packages/business-rules/package.json
  packages/business-rules/src/index.ts
  packages/business-rules/tsconfig.json
  packages/connectors/package.json
  packages/connectors/src/index.ts
  packages/connectors/tsconfig.json
  packages/no-code-builder/package.json
  packages/no-code-builder/src/index.ts
  packages/no-code-builder/tsconfig.json
  packages/orchestration/package.json
  packages/orchestration/src/index.ts
  packages/orchestration/tsconfig.json
  packages/rpa/package.json
  packages/rpa/src/index.ts
  packages/rpa/tsconfig.json
  packages/task-routing/package.json
  packages/task-routing/src/index.ts
  packages/task-routing/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(ci): standardize pnpm version and fix critical CI issues
  .github/workflows/audit.strict.nightly.yml
  .github/workflows/ci.main.yml
  .github/workflows/ci.pr.scoped.yml
  .github/workflows/ci.unified.yml
  .github/workflows/k6.smoke.stage.yml
  .github/workflows/k6.smoke.yml
  .github/workflows/lint.changed.yml
  .github/workflows/nightly.ops.perf.yml
  .github/workflows/ops.validate.stage.yml
  .github/workflows/playwright.smoke.yml
  .github/workflows/publish.dryrun.yml
  .github/workflows/tests.changed.yml
  .github/workflows/typecheck.changed.yml
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
