Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(context-engineering): enforce manifest schema + provenance validation
  .lintstagedrc.json
  CHANGELOG.md
  agents/examples/CEP_CORE_PR1.json
  agents/examples/CEP_CORE_PR1_UPDATE.json
  artifacts/agent-runs/CEP_CORE_PR1.json
  artifacts/agent-runs/CEP_CORE_PR1_UPDATE.json
  docs/context-engineering/cep-core.md
  package.json
  packages/context-engineering/package.json
  packages/context-engineering/src/__tests__/context-engineer.test.ts
  packages/context-engineering/src/cli/profile.ts
  packages/context-engineering/src/compression.ts
  packages/context-engineering/src/context-engineer.ts
  packages/context-engineering/src/eviction.ts
  packages/context-engineering/src/index.ts
  packages/context-engineering/src/manifest-schema.ts
  packages/context-engineering/src/policy.ts
  packages/context-engineering/src/token.ts
  packages/context-engineering/src/tool-output.ts
  packages/context-engineering/src/types.ts
  packages/context-engineering/tsconfig.json
  packages/orchestrator-store/FINAL_SUMMARY.md
  prompts/context/cep-core-pr1-update.md
  prompts/context/cep-core-pr1.md
  prompts/registry.yaml
  server/src/routes/osint_mock.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(context-engineering): enforce manifest schema + provenance validation (#17370)
  .lintstagedrc.json
  CHANGELOG.md
  agents/examples/CEP_CORE_PR1.json
  agents/examples/CEP_CORE_PR1_UPDATE.json
  artifacts/agent-runs/CEP_CORE_PR1.json
  artifacts/agent-runs/CEP_CORE_PR1_UPDATE.json
  docs/context-engineering/cep-core.md
  package.json
  packages/context-engineering/package.json
  packages/context-engineering/src/__tests__/context-engineer.test.ts
  packages/context-engineering/src/cli/profile.ts
  packages/context-engineering/src/compression.ts
  packages/context-engineering/src/context-engineer.ts
  packages/context-engineering/src/eviction.ts
  packages/context-engineering/src/index.ts
  packages/context-engineering/src/manifest-schema.ts
  packages/context-engineering/src/policy.ts
  packages/context-engineering/src/token.ts
  packages/context-engineering/src/tool-output.ts
  packages/context-engineering/src/types.ts
  packages/context-engineering/tsconfig.json
  packages/orchestrator-store/FINAL_SUMMARY.md
  prompts/context/cep-core-pr1-update.md
  prompts/context/cep-core-pr1.md
  prompts/registry.yaml
  server/src/routes/osint_mock.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add content primitives schema and update roadmap status
  docs/models/content-primitives.md
  pnpm-lock.yaml
Due: prettier --write

docs: add content primitives schema and update roadmap status (#17369)
  docs/models/content-primitives.md
  pnpm-lock.yaml
Due: prettier --write

docs: expand autonomous coding tools runbook
  docs/runbooks/autonomous-coding-tools.md
  docs/runbooks/index.md
Due: prettier --write

docs: expand autonomous coding tools runbook (#17368)
  docs/runbooks/autonomous-coding-tools.md
  docs/runbooks/index.md
Due: prettier --write

docs: add system-index JSON Schema, summit graph schema, and validation guidance
  agents/examples/ARCH_INDEX_MINIMAL_20260115.json
  docs/architecture/README.md
  docs/architecture/summit-graph.schema.json
  docs/architecture/system-index.json
  docs/architecture/system-index.md
  docs/architecture/system-index.schema.json
  prompts/architecture/minimal-architecture-index@v1.md
  prompts/registry.yaml
Due: prettier --write

docs: add system-index JSON Schema, summit graph schema, and validation guidance (#17367)
  agents/examples/ARCH_INDEX_MINIMAL_20260115.json
  docs/architecture/README.md
  docs/architecture/summit-graph.schema.json
  docs/architecture/system-index.json
  docs/architecture/system-index.md
  docs/architecture/system-index.schema.json
  prompts/architecture/minimal-architecture-index@v1.md
  prompts/registry.yaml
Due: prettier --write

feat(maestro-core): implement durable postgres store and standardize versioning to 10.0.0
  .github/workflows/_reusable-setup.yml
  .github/workflows/ci-core.yml
  .github/workflows/dependency-monitor.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/redaction-trend-alerts.yml
  .github/workflows/release-rollback.yml
  .github/workflows/schema-diff.yml
  CHANGELOG.md
  package.json
  packages/maestro-cli/package.json
  packages/maestro-core/.eslintrc.cjs
  packages/maestro-core/README.md
  packages/maestro-core/package.json
  packages/maestro-core/src/engine.ts
  packages/maestro-core/src/observability/tracer.ts
  packages/maestro-core/src/stores/outbox-processor.ts
  packages/maestro-core/src/stores/postgres-state-store.ts
  server/package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(ci): unfreeze CI and fix actionlint config
  .github/actionlint.yaml
  .github/workflows/ci.yml
  docs/releases/_state/freeze_mode.json
Due: prettier --write

feat(ci): add deterministic attestation and compliance scripts
  scripts/ci/emit_deterministic_attestation.mjs
  scripts/ci/generate-attestation.mjs
  scripts/ci/verify-antigravity-compliance.mjs
  scripts/compliance/generate-deterministic-sbom.mjs
Due: none

fix(federal): improve PKCS11 type safety and imports
  server/src/federal/hsm-enforcement.ts
  server/src/federal/pkcs11-guard.ts
  server/src/types/pkcs11js.d.ts
Due: none

feat(orchestrator-store): improve transaction handling and add rule engine
  packages/orchestrator-store/src/OrchestratorPostgresStore.ts
  packages/orchestrator-store/src/__tests__/OrchestratorPostgresStore.test.ts
  packages/orchestrator-store/src/rule-engine.ts
  packages/orchestrator-store/src/utils/logger.ts
Due: eslint --fix --max-warnings=0 --cache

ci(docs): add documentation health check workflow
  .github/workflows/docs-health.yml
  .markdown-link-check.json
Due: prettier --write

fix(ci): update release-ga artifact names and evidence bundling
  .github/workflows/release-ga.yml
Due: prettier --write

build: update evidence generation and test configuration
  Makefile
  package.json
  server/jest.config.ts
Due: prettier --write

chore: add orchestrator test runner and dev dockerfile
  packages/orchestrator-store/test-runner.js
  server/Dockerfile.dev.final
Due: none

docs: add readme reference files
  fork_readme.md
  origin_readme.md
Due: prettier --write

fix(server): improve type safety in IntelGraph and AI analysis services
  .github/workflows/mc-platform-v041-sovereign-safeguards.yml
  .github/workflows/pq-dual-sig-gate.yml
  .github/workflows/slsa-l3-airgap-build.yml
  packages/cogwar/KNOWN_ISSUES.md
  packages/cogwar/README.md
  packages/cogwar/__init__.py
  packages/cogwar/blue_mind_shield/README.md
  packages/cogwar/blue_mind_shield/__init__.py
  packages/cogwar/cognition_legions/README.md
  packages/cogwar/cognition_legions/__init__.py
  packages/cogwar/cognition_legions/belief_network.py
  packages/cogwar/cognition_legions/digital_mind.py
  packages/cogwar/cognition_legions/simulation.py
  packages/cogwar/docs/README.md
  packages/cogwar/ethics-manifesto.md
  packages/cogwar/neuro_ethics_core/README.md
  packages/cogwar/neuro_ethics_core/__init__.py
  packages/cogwar/package.json
  packages/cogwar/red_cog_swarm/README.md
  packages/cogwar/red_cog_swarm/__init__.py
  packages/cogwar/scenarios/__init__.py
  packages/cogwar/scenarios/basic_scenario.py
  packages/cogwar/tests/README.md
  packages/cogwar/tests/__init__.py
  packages/cogwar/tests/test_belief_network.py
  packages/cogwar/tests/test_digital_mind.py
  packages/cogwar/tests/test_simulation.py
  packages/cogwar/ui/README.md
  packages/cogwar/ui/__init__.py
  server/src/services/IntelGraphService.ts
  server/src/services/aiAnalysis.ts
Due: prettier --write

fix(server): correct zod/v4 import syntax in aiAnalysis
  bin/companyos-new-service.mjs
  server/src/services/aiAnalysis.ts
Due: none

fix(server): correct zod/v4 import syntax in IntelGraphService
  server/src/services/IntelGraphService.ts
Due: none

fix(server): complete zod.infer type updates in IntelGraphService
  server/src/services/IntelGraphService.ts
Due: none

feat: port runbooks to packages from fork
  evidence-bundles/demo/README.md
  evidence-bundles/demo/policy-dual-control-bundle.json
  evidence-bundles/demo/policy-dual-control-input.json
  evidence-bundles/demo/runtime/approvals.json
  evidence-bundles/demo/runtime/execution.json
  evidence-bundles/demo/runtime/preflight.json
  evidence-bundles/demo/runtime/request.json
  evidence-bundles/evidence-fcfb71b9dc3cdb03f1fa4e3a43b216f316313105.json
  packages/runbook-engine/DELIVERY.md
  packages/runbook-engine/IMPLEMENTATION_SUMMARY.md
  packages/runbook-engine/README.md
  packages/runbook-engine/jest.config.js
  packages/runbook-engine/package.json
  packages/runbook-engine/src/api.ts
  packages/runbook-engine/src/authz.ts
  packages/runbook-engine/src/dag-executor.ts
  packages/runbook-engine/src/engine.ts
  packages/runbook-engine/src/executors.ts
  packages/runbook-engine/src/index.ts
  packages/runbook-engine/src/safety.ts
  packages/runbook-engine/src/service.ts
  packages/runbook-engine/src/state-manager.ts
  packages/runbook-engine/src/storage/postgres.ts
  packages/runbook-engine/src/types.ts
  packages/runbook-engine/tests/dag-executor.test.ts
  packages/runbook-engine/tests/executors.test.ts
  packages/runbook-engine/tests/integration.test.ts
  packages/runbook-engine/tests/safety.test.ts
  packages/runbook-engine/tsconfig.json
  packages/runbook-r1-rapid-attribution/README.md
  packages/runbook-r1-rapid-attribution/jest.config.js
  packages/runbook-r1-rapid-attribution/package.json
  packages/runbook-r1-rapid-attribution/src/executors.ts
  packages/runbook-r1-rapid-attribution/src/index.ts
  packages/runbook-r1-rapid-attribution/src/runbook.ts
  packages/runbook-r1-rapid-attribution/tests/integration/r1-end-to-end.test.ts
  packages/runbook-r1-rapid-attribution/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(hardening): harden multimodal, masint, and risk services with strict typing and compliance checks
  .vscode/tasks.json
  postmortems/v25-retro-template.md
  scripts/ci/verify-antigravity-compliance.ts
  server/src/risk/RiskEngine.ts
  server/src/services/MasintService.ts
  server/src/services/MultimodalDataService.ts
Due: prettier --write

feat: add bidirectional temporal control to adversarial defense platform
  adversarial-misinfo-defense-platform/bidirectional_temp_control.py
Due: none

feat: enhance adversarial platform with bidirectional temporal control integration
  adversarial-misinfo-defense-platform/__init__.py
  adversarial-misinfo-defense-platform/detection_modules/main_detector.py
  adversarial-misinfo-defense-platform/example_usage.py
  adversarial-misinfo-defense-platform/main.py
Due: none

feat: add demo for bidirectional temporal control
  adversarial-misinfo-defense-platform/demo_bidirectional.py
Due: none

chore: version bump and dependency alignment
  package.json
  packages/maestro-cli/package.json
  packages/maestro-core/package.json
  packages/maestro-skills/SKILLPACK_SPEC.md
  packages/runbook-r1-rapid-attribution/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(server): dependency fixes and service hardening
  server/package.json
  server/src/federal/hsm-enforcement.ts
  server/src/federal/pkcs11-guard.ts
  server/src/services/IntelGraphService.ts
  server/src/services/aiAnalysis.ts
  server/tests/setup/jest.setup.cjs
Due: prettier --write

chore: remove old postmortem template
  postmortems/v24-retro-template.md
Due: prettier --write

docs: update adversarial platform documentation
  adversarial-misinfo-defense-platform/README.md
Due: prettier --write

fix(release): update ga evidence pack script to use bundle.manifest.json
  scripts/release/ga_evidence_pack.mjs
Due: none

feat(ci): add script to verify ga evidence bundle
  scripts/ci/verify_ga_evidence_bundle.mjs
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: add changesets cli for release management
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: init changesets
  .changeset/README.md
  .changeset/config.json
Due: prettier --write

chore: add empty changeset for release
  .changeset/young-chairs-act.md
Due: prettier --write

chore(release): bump versions for ga hardening and feature port
  .changeset/young-chairs-act.md
  adversarial-misinfo-defense-platform/bidirectional_temp_control.py
  adversarial-misinfo-defense-platform/example_usage.py
  server/tests/mocks/db-neo4j.ts
  server/tests/setup/env.ts
Due: prettier --write
