Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json,yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: implement speculative engagement cascade (#10196)
  server/tests/engagementCascade.test.ts
  src/insights/engagementCascade.ts
Due: none

docs: add multi-agent LLM innovation roadmap (#10195)
  docs/ai/multi-agent-llm-innovation-roadmap.md
Due: prettier --write

docs: add cognitive chain-of-thought module (#10194)
  docs/modules/cognitive_chain_of_thought.md
Due: prettier --write

docs: add CRFT fine-tuning overview (#10193)
  docs/modules/critical-representation-fine-tuning-crft.md
Due: prettier --write

feat: implement SEAL self-edit registry and policy guardrails (#10192)
  docs/seal-integration-plan.md
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/src/selfEditRegistry.ts
  ga-graphai/packages/prov-ledger/tests/selfEditRegistry.test.ts
  ga-graphai/packages/prov-ledger/vitest.config.ts
  ga-graphai/packages/query-copilot/package.json
  ga-graphai/packages/query-copilot/src/index.ts
  ga-graphai/packages/query-copilot/src/selfEditPlanner.ts
  ga-graphai/packages/query-copilot/tests/selfEditPlanner.spec.ts
  policy/opa/README.md
  policy/opa/export.rego
  policy/opa/export_enhanced.rego
Due: prettier --write

docs: add 2025 multi-agent LLM research guide (#10199)
  docs/multi-agent-llm-research-2025.md
Due: prettier --write

docs: add 2025 multi-agent framework demo guide (#10198)
  docs/multi-agent-frameworks-2025.md
Due: prettier --write

docs: outline persistent memory fabric blueprint (#10191)
  docs/memory/persistent-memory-fabric.md
Due: prettier --write

Update counter_response_agent.py
  counter_response_agent.py
Due: none

docs: add codex issue task briefs (#10143)
  docs/project_management/github-issues-manifest.md
  docs/project_management/issues/advanced_ai_ml_extraction_pipeline.md
  docs/project_management/issues/air_gap_offline_deploy_v1.md
  docs/project_management/issues/analyst_assist_v0_2.md
  docs/project_management/issues/companyos_q0_foundation.md
  docs/project_management/issues/companyos_sdk_parity_and_ecosystem_bridges.md
  docs/project_management/issues/compliance_evidence_automation.md
  docs/project_management/issues/critical_blocker_resolution.md
  docs/project_management/issues/gtm_enablement_cross_cutting.md
  docs/project_management/issues/igac_provenance_governance_policy_bundle_sha_pinning.md
  docs/project_management/issues/policy_and_security_hardening.md
Due: prettier --write

feat: add chaos orchestration framework (#10142)
  non_functional_targets/__init__.py
  non_functional_targets/chaos_runner.py
  ops/chaos/experiments.yaml
  ops/chaos_hooks.py
  tests/chaos/test_chaos_runner.py
Due: prettier --write

feat: introduce synthetic event booster framework (#10130)
  packages/event-booster/README.md
  packages/event-booster/benchmarks/throughput.ts
  packages/event-booster/docs/API.md
  packages/event-booster/examples/basic.ts
  packages/event-booster/package.json
  packages/event-booster/src/EventBooster.ts
  packages/event-booster/src/PerformanceBenchmarks.ts
  packages/event-booster/src/SyntheticGenerators.ts
  packages/event-booster/src/index.ts
  packages/event-booster/src/patterns.ts
  packages/event-booster/src/types.ts
  packages/event-booster/test/EventBooster.test.ts
  packages/event-booster/test/PerformanceBenchmarks.test.ts
  packages/event-booster/test/SyntheticGenerators.test.ts
  packages/event-booster/test/patterns.test.ts
  packages/event-booster/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add community engagement toolkit (#10128)
  packages/community/README.md
  packages/community/__tests__/communityHub.test.ts
  packages/community/package.json
  packages/community/src/index.ts
  packages/community/src/services/activityFeedService.ts
  packages/community/src/services/analyticsService.ts
  packages/community/src/services/communityHub.ts
  packages/community/src/services/contributionTracker.ts
  packages/community/src/services/dashboardService.ts
  packages/community/src/services/discussionForumService.ts
  packages/community/src/services/gamificationService.ts
  packages/community/src/services/moderationService.ts
  packages/community/src/services/notificationService.ts
  packages/community/src/services/searchService.ts
  packages/community/src/services/userProfileService.ts
  packages/community/src/store.ts
  packages/community/src/types.ts
  packages/community/src/utils.ts
  packages/community/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add PerfTrace Jira automation toolkit (#10126)
  packages/jira-integration/README.md
  packages/jira-integration/__tests__/client.test.ts
  packages/jira-integration/__tests__/jiraIntegration.test.ts
  packages/jira-integration/docs/integration-guide.md
  packages/jira-integration/docs/templates/perftrace-ticket-templates.md
  packages/jira-integration/package.json
  packages/jira-integration/src/client.ts
  packages/jira-integration/src/index.ts
  packages/jira-integration/src/jiraIntegration.ts
  packages/jira-integration/src/logger.ts
  packages/jira-integration/src/types.ts
  packages/jira-integration/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add educational mecha prototype blueprint (#10125)
  docs/mecha-education-prototypes.md
Due: prettier --write

Add actionable Codex task audit (#10124)
  status/codex_task_audit.md
Due: prettier --write

feat: add narrative simulation engine core (#10123)
  packages/narrative-engine/README.md
  packages/narrative-engine/package.json
  packages/narrative-engine/src/api/routes.ts
  packages/narrative-engine/src/core/EventProcessor.ts
  packages/narrative-engine/src/core/NarrativeState.ts
  packages/narrative-engine/src/core/SimulationEngine.ts
  packages/narrative-engine/src/core/types.ts
  packages/narrative-engine/src/entities/Actor.ts
  packages/narrative-engine/src/entities/Relationship.ts
  packages/narrative-engine/src/index.ts
  packages/narrative-engine/tests/EventProcessor.test.ts
  packages/narrative-engine/tests/NarrativeState.test.ts
  packages/narrative-engine/tests/SimulationEngine.test.ts
  packages/narrative-engine/tests/integration.test.ts
  packages/narrative-engine/tests/scenario.test.ts
  packages/narrative-engine/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add influence mining extractor pipeline (#10122)
  package.json
  packages/influence-mining/README.md
  packages/influence-mining/package.json
  packages/influence-mining/src/DataIngester.ts
  packages/influence-mining/src/GraphBuilder.ts
  packages/influence-mining/src/InfluenceNetworkExtractor.ts
  packages/influence-mining/src/MotifAnalyzer.ts
  packages/influence-mining/src/RelationshipDetector.ts
  packages/influence-mining/src/cli.ts
  packages/influence-mining/src/index.ts
  packages/influence-mining/src/types.ts
  packages/influence-mining/test-data/expected-network.json
  packages/influence-mining/test-data/sample-social-posts.json
  packages/influence-mining/tests/InfluenceNetworkExtractor.test.ts
  packages/influence-mining/tests/integration/extraction-pipeline.test.ts
  packages/influence-mining/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: Optimize database connection pooling (#10121)
  docs/benchmarks/db-pooling.md
  server/.env.example
  server/.env.production
  server/.env.production.template
  server/src/config/database.ts
  server/src/db/postgres.ts
  server/tests/db/postgres.pool.test.ts
Due: prettier --write

feat: Build infrastructure monitoring platform (#10120)
  ops/grafana/dashboards/monitoring-platform.json
  ops/observability/monitoring-stack/README.md
  ops/observability/monitoring-stack/alertmanager.yml
  ops/observability/monitoring-stack/kustomization.yaml
  ops/observability/monitoring-stack/monitoring-workloads.yaml
  ops/prometheus/README.md
  ops/prometheus/prometheus.yml
  ops/prometheus/rules-business.yaml
  ops/runbooks/monitoring-incident.md
  server/src/graphql/resolvers/user.ts
  server/src/graphql/schema/payments.graphql
  server/src/monitoring/businessMetrics.ts
  server/src/monitoring/health.js
  server/src/monitoring/metrics.js
  server/src/monitoring/middleware.js
  server/src/monitoring/remediation.js
  server/src/resolvers/payments.ts
  server/src/routes/monitoring.ts
Due: prettier --write

feat: Optimize data processing pipelines (#10119)
  server/data-pipelines/optimization/PATTERNS.md
  server/data-pipelines/optimization/__init__.py
  server/data-pipelines/optimization/batching.py
  server/data-pipelines/optimization/benchmark.py
  server/data-pipelines/optimization/monitoring.py
  server/data-pipelines/optimization/pipeline_optimizer.py
  server/data-pipelines/optimization/queue.py
  server/data-pipelines/optimization/resilience.py
  server/data-pipelines/optimization/streaming.py
  server/data-pipelines/performance/pipeline_optimizer_benchmarks.json
  server/data-pipelines/tests/test_pipeline_optimizer.py
Due: prettier --write

feat: Enforce automated test policies in CI/CD (#10118)
  .github/workflows/test-policy.yml
  docs/testing/automated-test-policy.md
  package.json
  scripts/ci/async-error-scan.cjs
  scripts/ci/console-log-scan.cjs
  scripts/ci/coverage-check.cjs
  scripts/ci/lib/git-utils.cjs
  scripts/ci/lib/reporting.cjs
  scripts/ci/performance-benchmark.cjs
  scripts/ci/test-policy-runner.cjs
  server/tests/policy/async-error-scan.test.ts
  server/tests/policy/console-log-scan.test.ts
  server/tests/policy/coverage-check.test.ts
  server/tests/policy/performance-benchmark.test.ts
  server/tests/policy/test-policy-runner.test.ts
Due: prettier --write

feat: Add deployment gating and validation system (#10117)
  server/src/conductor/deployment/deploymentGateService.ts
  server/src/tests/deploymentGateService.test.ts
Due: none

chore: harden security compliance pipeline (#10116)
  .github/workflows/ci-security.yml
  .github/workflows/deploy.yml
  docs/security/security-pipeline.md
  scripts/security/baseline-check.sh
Due: prettier --write

feat: improve websocket connection resilience (#10115)
  conductor-ui/frontend/src/maestro/utils/streamUtils.ts
  server/src/types/shims.d.ts
  server/src/websocket/connectionManager.ts
  server/src/websocket/core.ts
  server/tests/websocket/connection-manager.test.ts
Due: eslint --fix --max-warnings=0 --cache

feat: harden intelgraph helm security controls (#10114)
  .github/kube-linter-config.yaml
  .github/workflows/helm-ci.yml
  deploy/helm/intelgraph/Chart.yaml
  deploy/helm/intelgraph/templates/_helpers.tpl
  deploy/helm/intelgraph/templates/canary-rollout.yaml
  deploy/helm/intelgraph/templates/certificate.yaml
  deploy/helm/intelgraph/templates/deployment-api-gateway.yaml
  deploy/helm/intelgraph/templates/externalsecrets.yaml
  deploy/helm/intelgraph/templates/networkpolicy.yaml
  deploy/helm/intelgraph/templates/podsecurity-namespace.yaml
  deploy/helm/intelgraph/templates/serviceaccount-rbac.yaml
  deploy/helm/intelgraph/templates/servicemonitor.yaml
  deploy/helm/intelgraph/values.yaml
  docs/security/helm-security-hardening.md
Due: prettier --write

docs: add fast-ship sku one-pager and order forms (#10113)
  docs/sales/fast-ship-top6-one-pager.md
  docs/sales/order-forms/AIS-GUARD-01-order-form.md
  docs/sales/order-forms/AIS-RT-01-order-form.md
  docs/sales/order-forms/FIN-01-order-form.md
  docs/sales/order-forms/GH-CERT-01-order-form.md
  docs/sales/order-forms/RBC-01-order-form.md
  docs/sales/order-forms/RES-01-order-form.md
Due: prettier --write

chore: align intelgraph API package metadata (#10112)
  intelgraph/api-packages/analytics-api/README.md
  intelgraph/api-packages/analytics-api/pyproject.toml
  intelgraph/api-packages/analytics-api/src/analytics_api/__init__.py
  intelgraph/api-packages/authentication-api/README.md
  intelgraph/api-packages/authentication-api/pyproject.toml
  intelgraph/api-packages/authentication-api/src/authentication_api/__init__.py
  intelgraph/api-packages/data-ingestion-api/README.md
  intelgraph/api-packages/data-ingestion-api/pyproject.toml
  intelgraph/api-packages/data-ingestion-api/src/data_ingestion_api/__init__.py
  intelgraph/api-packages/notification-api/README.md
  intelgraph/api-packages/notification-api/pyproject.toml
  intelgraph/api-packages/notification-api/src/notification_api/__init__.py
Due: prettier --write

Add cash-now product price sheet and SOW templates (#10111)
  docs/pricing/cash-now-price-sheet.md
  docs/sow/cash-now-sow-pack.md
Due: prettier --write

Add pilot price sheet and 2-week SOW template (#10110)
  docs/pilot-price-sheet-and-sow.md
Due: prettier --write

docs: add access + proof execution plan (#10109)
  project_management/access-proof-execution-plan.md
Due: prettier --write

docs: add Summit platform evaluation summary (#10108)
  docs/repository-evaluation.md
Due: prettier --write

docs: refresh chairman wolf committee report (#10107)
  docs/ga/committee-report-wolfs-hand.md
Due: prettier --write

feat: add uvb76 monitoring toolkit (#10106)
  ops/uvb76-tripwire/README.md
  ops/uvb76-tripwire/captures/.gitkeep
  ops/uvb76-tripwire/clips/.gitkeep
  ops/uvb76-tripwire/config/config.yaml
  ops/uvb76-tripwire/detector/__init__.py
  ops/uvb76-tripwire/detector/detector.py
  ops/uvb76-tripwire/detector/utils.py
  ops/uvb76-tripwire/events/.gitkeep
  ops/uvb76-tripwire/schema/event.schema.json
  ops/uvb76-tripwire/schema/opensearch-index.json
  ops/uvb76-tripwire/schema/sigma-uvb76-marker.yml
  ops/uvb76-tripwire/scripts/enrich_numbers.py
  ops/uvb76-tripwire/scripts/record_ffmpeg.sh
  ops/uvb76-tripwire/scripts/record_kiwi.sh
  ops/uvb76-tripwire/scripts/scan_hf.py
  ops/uvb76-tripwire/scripts/ship_objects.py
  ops/uvb76-tripwire/specs/.gitkeep
Due: prettier --write

feat: add govbrief research brief pipeline (#10105)
  packages/govbrief/README.md
  packages/govbrief/package.json
  packages/govbrief/src/claims.ts
  packages/govbrief/src/cli.ts
  packages/govbrief/src/fetcher.ts
  packages/govbrief/src/index.ts
  packages/govbrief/src/normalize.ts
  packages/govbrief/src/pcs.ts
  packages/govbrief/src/pipeline.ts
  packages/govbrief/src/safety.ts
  packages/govbrief/src/types.ts
  packages/govbrief/src/utils.ts
  packages/govbrief/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add decision-ready Link Analysis Canvas PRD and agent prompt (#10104)
  docs/agents/README.md
  docs/agents/link-analysis-canvas-master-prompt.md
  docs/prds/link-analysis-canvas-prd.md
Due: prettier --write

feat: add zero-touch compliance enforcement system (#10103)
  docs/compliance/zero_touch_market_tco_summary.md
  docs/compliance/zero_touch_regulatory_matrix.md
  ops/compliance_zero_touch/__init__.py
  ops/compliance_zero_touch/adapters/__init__.py
  ops/compliance_zero_touch/adapters/base.py
  ops/compliance_zero_touch/adapters/homegrown.py
  ops/compliance_zero_touch/adapters/kyverno.py
  ops/compliance_zero_touch/adapters/opa.py
  ops/compliance_zero_touch/adapters/sentinel.py
  ops/compliance_zero_touch/artifacts/compliance_audit_report.json
  ops/compliance_zero_touch/compliance_runner.py
  ops/compliance_zero_touch/engine.py
  ops/compliance_zero_touch/models/base.py
  ops/compliance_zero_touch/tests/test_engine.py
  ops/compliance_zero_touch/workspace/configs/infrastructure.json
  ops/compliance_zero_touch/workspace/policies/homegrown_controls.json
  ops/compliance_zero_touch/workspace/test_suites/open_suite_results.json
Due: prettier --write

feat: add multi-cloud arbitrage agent system (#10102)
  docs/cloud-arbitrage-market-case-study.md
  docs/cloud-arbitrage-patent-pillars.md
  ga-graphai/packages/cloud-arbitrage/AGENTS.md
  ga-graphai/packages/cloud-arbitrage/README.md
  ga-graphai/packages/cloud-arbitrage/experiments/ab-test-log.jsonl
  ga-graphai/packages/cloud-arbitrage/package.json
  ga-graphai/packages/cloud-arbitrage/src/agent.ts
  ga-graphai/packages/cloud-arbitrage/src/dataFeeds.ts
  ga-graphai/packages/cloud-arbitrage/src/evaluator.ts
  ga-graphai/packages/cloud-arbitrage/src/index.ts
  ga-graphai/packages/cloud-arbitrage/src/strategies.ts
  ga-graphai/packages/cloud-arbitrage/src/types.ts
  ga-graphai/packages/cloud-arbitrage/tests/agent.spec.ts
Due: prettier --write

feat(policy): add governance policy backtesting engine (#10101)
  ga-graphai/packages/policy/README.md
  ga-graphai/packages/policy/package.json
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/policy-backtester.test.ts
  ga-graphai/packages/policy/tests/policy-engine.test.ts
  ga-graphai/packages/policy/tests/validator.test.ts
Due: prettier --write
