Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

Add GA Evidence Bundle generation with determinism verification (#16653)
  .github/workflows/ga-evidence-pack.yml
  docs/releases/GA_EVIDENCE_BUNDLE.md
  package.json
  scripts/release/ga_evidence_pack.mjs
Due: prettier --write

Add GA Evidence Pack with OIDC Attestations (#16654)
  .github/workflows/ga-evidence-attest.yml
  docs/releases/GA_EVIDENCE_PACK.md
  docs/releases/runbook.md
  scripts/release/attest_ga_evidence.sh
  scripts/release/generate_ga_evidence_pack.sh
  scripts/release/verify_ga_evidence_attestations.sh
Due: prettier --write

release(ga): v5.0.0 General Availability Release Package (#16655)
  CHANGELOG.md
  docs/releases/ga/GA_EVIDENCE_MANIFEST.yml
  docs/releases/ga/GA_RELEASE_NOTES.md
  docs/releases/ga/GA_RELEASE_RUNBOOK.md
  docs/releases/ga/GA_VERSIONING_PLAN.md
  package.json
  scripts/release/ga_verify.mjs
Due: prettier --write

fix(ci): remove duplicate pnpm version specification in CodeQL workflow (#16504)
  .github/workflows/codeql.yml
Due: prettier --write

ci: add optimized reusable workflow template with caching and concurr… (#16514)
  .github/workflows/ci-template-optimized.yml
Due: prettier --write

docs: add comprehensive CI/CD optimization guide with best practices (#16515)
  .ci/CI-OPTIMIZATION-GUIDE.md
Due: prettier --write

Create Claude Code UI prompts guide (#16464)
  docs/claude-code-prompts/CLAUDE_CODE_UI_GUIDE.md
  docs/claude-code-prompts/README.md
Due: prettier --write

Fix CI/CD issues and merge pending PRs (#16467)
  package.json
Due: prettier --write

docs(integrations): add 90-day integration roadmap (#16479)
  docs/integrations/IMPLEMENTATION_CHECKLIST.md
  docs/integrations/README.md
  docs/integrations/SETUP_AIRTABLE.md
  docs/integrations/SETUP_ASANA.md
  docs/integrations/SETUP_CLICKUP.md
  docs/integrations/SETUP_MONDAY.md
  docs/integrations/SETUP_SLACK.md
  docs/integrations/n8n-workflows/asana-sync.json
  docs/integrations/n8n-workflows/github-sync.json
  docs/integrations/n8n-workflows/linear-sync.json
  docs/integrations/roadmap-90day.md
Due: prettier --write

docs: record automation turn 4 regulatory update
  agents/examples/REGULATORY_INTEL_TURN4_20260122.json
  docs/raos/regulatory-intel/2026-01-22-automation-turn-4.md
  docs/roadmap/STATUS.json
  prompts/registry.yaml
  prompts/regulatory/daily-regulatory-intel-update-20260122.md
Due: prettier --write

docs: add osint workbench and governance updates
  .github/workflows/ci.yml
  CHANGELOG.md
  agents/examples/OSINT_PLATFORM_ADOPTION_20260123.json
  docs/governance/PROVENANCE_ARCHITECTURE.md
  docs/osint/connector-architecture.md
  docs/osint/investigation-workbench.md
  docs/roadmap/STATUS.json
  package.json
  packages/osint-replay/cli/replay-filter.mjs
  packages/osint-replay/package.json
  packages/osint-replay/schema/case-replay.schema.json
  packages/osint-replay/src/connectors.js
  packages/osint-replay/src/index.js
  packages/osint-replay/src/monitor.js
  packages/osint-replay/src/replay.js
  packages/osint-replay/src/utils.js
  packages/osint-replay/test/determinism.test.mjs
  packages/osint-replay/test/provenance.test.mjs
  packages/osint-replay/test/replay-filter.test.mjs
  prompts/osint/osint-platform-adoption.md
  prompts/registry.yaml
  scripts/ci/verify_case_replay_determinism.mjs
  test/fixtures/osint-replay/enrichment.json
  test/fixtures/osint-replay/social-posts.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add agent skills governance runbook
  agents/examples/RUNBOOK_AGENT_SKILLS_001.json
  docs/roadmap/STATUS.json
  docs/runbooks/INDEX.md
  docs/runbooks/agent-skills-governance.md
Due: prettier --write

docs: add Golden Main merge captain analysis and execution plan
  GOLDEN_MAIN_STATUS_REPORT.md
Due: prettier --write

docs: add merge captain velocity update - main advancing rapidly
  MERGE_CAPTAIN_UPDATE.md
Due: prettier --write

docs: add comprehensive merge captain final summary and recommendations
  MERGE_CAPTAIN_SUMMARY.md
Due: prettier --write

ci(pnpm): add workspace hygiene gate
  .github/workflows/pr-quality-gate.yml
  docs/ops/pnpm/verify-workspace-hygiene.md
  docs/ops/pnpm/workspace-hygiene.md
  scripts/ci/verify_pnpm_workspace_hygiene.mjs
Due: prettier --write

ci(repo): fail on untracked build inputs
  .github/workflows/pr-quality-gate.yml
  docs/ops/pnpm/no-untracked-build-inputs.md
  scripts/ci/verify_no_untracked_build_inputs.sh
Due: prettier --write

fix(server): address TypeScript compilation errors for CI
  scripts/ci/verify_client_routes_exist.mjs
  server/src/middleware/advanced-query-security.ts
  server/src/security/advanced-query-security.ts
Due: none

fix(server): address TypeScript compilation errors for CI
  server/src/middleware/advanced-query-security.ts
  server/src/security/advanced-query-security.ts
Due: none

fix(server): delete dead-code files causing TypeScript errors (#16663)
  server/src/middleware/advanced-query-security.ts
  server/src/security/advanced-query-security.ts
Due: none

fix(deps): add missing hapi type definitions and postinstall script
  package.json
  pnpm-lock.yaml
  scripts/patch-strip-ansi.cjs
Due: prettier --write

chore(deps): add hapi types to observability package (typecheck still failing)
  packages/observability/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(typescript): resolve hapi type resolution errors across monorepo
  packages/observability/tsconfig.json
  packages/sdk-ts/tsconfig.json
  packages/telemetry-config/tsconfig.json
  services/approvals/tsconfig.json
  services/authz-gateway/tsconfig.json
  services/sandbox-gateway/tsconfig.json
  services/streaming-ingest/tsconfig.json
  tsconfig.base.json
Due: prettier --write

fix(ci): remove broken postinstall script reference
  package.json
Due: prettier --write

fix(server): resolve all TypeScript strict mode errors (58 fixes)
  server/src/disclosure/export-service.ts
  server/src/disclosure/runtime-evidence.ts
  server/src/graphql/graphql-middleware.ts
  server/src/graphql/resolvers/ticket-links.ts
  server/src/middleware/usage.ts
  server/src/repositories/base-tenant-repository.ts
  server/src/services/AdvancedObservabilityMetaMonitoringSystem.ts
  server/src/services/AdvancedSecurityObservabilityService.ts
  server/src/services/EnhancedGovernanceRBACService.ts
  server/src/services/GraphPerformanceOptimizer.ts
  server/src/services/ImmutableAuditLogService.ts
  server/src/services/NextGenPerformanceOptimizationService.ts
  server/src/services/SimilarityService.ts
Due: none

ci: re-establish module integrity baseline with fixes
  docs/ops/integrity/module-integrity-baseline.json
Due: prettier --write

ci: fix Batch 2 and 3 broken imports and update integrity baseline
  client/src/hooks/usePrefetch.ts
  client/src/store/slices/graphSlice.jsx
  docs/ops/integrity/module-integrity-baseline.json
  server/src/__tests__/fuzz-inputs.test.ts
  server/src/__tests__/provenance-enhancements.test.ts
  server/src/__tests__/security.integration.test.ts
  server/src/__tests__/tenantIsolationGuard.test.ts
  server/src/__tests__/trust-center-api.test.ts
Due: prettier --write

fix(server): add type assertion for Apollo middleware in monorepo
  server/src/app.ts
Due: none

ci: fix Batch 4 broken imports and update integrity baseline
  .jules/bolt.md
  docs/ops/integrity/module-integrity-baseline.json
Due: prettier --write

fix(client): correct import extension in usePrefetch hook
  client/src/hooks/usePrefetch.ts
Due: none

fix(server): resolve all TypeScript strict mode errors (58 fixes) (#16668)
  .jules/bolt.md
  client/src/store/slices/graphSlice.jsx
  docs/ops/integrity/module-integrity-baseline.json
  server/src/__tests__/fuzz-inputs.test.ts
  server/src/__tests__/provenance-enhancements.test.ts
  server/src/__tests__/security.integration.test.ts
  server/src/__tests__/tenantIsolationGuard.test.ts
  server/src/__tests__/trust-center-api.test.ts
  server/src/app.ts
  server/src/disclosure/export-service.ts
  server/src/disclosure/runtime-evidence.ts
  server/src/graphql/graphql-middleware.ts
  server/src/graphql/resolvers/ticket-links.ts
  server/src/middleware/usage.ts
  server/src/repositories/base-tenant-repository.ts
  server/src/services/AdvancedObservabilityMetaMonitoringSystem.ts
  server/src/services/AdvancedSecurityObservabilityService.ts
  server/src/services/EnhancedGovernanceRBACService.ts
  server/src/services/GraphPerformanceOptimizer.ts
  server/src/services/ImmutableAuditLogService.ts
  server/src/services/NextGenPerformanceOptimizationService.ts
  server/src/services/SimilarityService.ts
Due: prettier --write

fix(compliance): make SBOM generation deterministic for reproducible builds
  scripts/compliance/generate_sbom.ts
Due: none

fix(ci): remove invalid JSON comment from server/tsconfig.json
  server/tsconfig.json
Due: prettier --write

feat: add branch triage automation tools with comprehensive analysis
  .merge-captain/cleanup-commands.sh
  scripts/MERGE_CAPTAIN_TOOLS.md
  scripts/merge-captain-cleanup.sh
  scripts/merge-captain-triage.py
Due: prettier --write

docs: add comprehensive merge captain README with quick start guide
  MERGE_CAPTAIN_README.md
Due: prettier --write

fix(deps): downgrade chalk override to v4 for CommonJS compatibility
  package.json
Due: prettier --write

test: skip airgap-vuln-manager tests due to ESM mocking issues
  server/src/security/__tests__/airgap-vuln-manager.test.ts
Due: none

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
