Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(runtime): harden ollama provider retries and health checks
  scripts/lab/ollama_healthcheck.py
  summit/providers/ollama.py
  tests/providers/test_ollama_provider.py
Due: none

fix: de-risk GA merge train (remove broken types, fix governance, update check-names) (#18310)
  AGENTS.md
  docs/HUMAN_AI_COLLABORATION.md
  docs/HUMAN_AI_COLLAB_INTEL_ROADMAP_2026.md
  docs/governance/evidence-map.yml
  docs/gtm/trust-center.md
  docs/guides/DELEGATED_ADMIN.md
  docs/guides/LOCALE_RESOURCE_STRUCTURE.md
  docs/high-risk-ops-security-approvals-pack.md
  docs/how-to-debug-lock-contention.md
  docs/how-to/advanced-graphql-queries.md
  docs/how-to/kubernetes-production-deployment.md
  docs/how-to/stix-taxii-misp-interop.md
  docs/how-to/zip-export.md
  docs/hypergrowth-cosmic-vision.md
  evidence/index.json
  evidence/schemas/index.schema.json
  fix_markdown.py
  helm/Chart.yaml
  required_checks.todo.md
  server/package.json
Due: prettier --write

feat(agentic): add predictive orchestration selector, hybrid context manager, and Agentic RAG scaffolding (#18311)
  agents/examples/AGENTIC_ORCH_CONTEXT_RAG_20260208.json
  docs/agent-orchestration-and-agentic-rag.md
  docs/roadmap/STATUS.json
  packages/decision-ledger/decision_ledger.json
  prompts/engineering/agentic-orchestration-context-rag@v1.md
  prompts/registry.yaml
  src/agents/index.ts
  src/context/hybridContextManager.ts
  src/context/llmAdapters/simpleLLMClient.ts
  src/intelgraph/agenticRag.ts
  src/orchestration/architectureSelector.ts
  tests/context/hybridContextManager.test.ts
  tests/intelgraph/agenticRag.test.ts
  tests/orchestration/architectureSelector.test.ts
Due: prettier --write

feat: add GA feature 'ga-feature-gaization' skill and update roadmap status (#18312)
  docs/roadmap/STATUS.json
  skills/external/ga-feature-gaization/SKILL.md
Due: prettier --write

GA Development: Skill Preserving Mode (SPM) (#18313)
  .github/workflows/.archive/ci-pr.yml
  .github/workflows/.archive/ci-signal-gate.yml
  .github/workflows/.archive/comprehensive-test.yml
  .github/workflows/.archive/emu3-ci.yml
  .github/workflows/.archive/evidence_ci_step35flash.yml
  .github/workflows/.archive/release-readiness.yml
  .github/workflows/.archive/security-playbook-automation.yml
  .github/workflows/.archive/supplychain-gates.yml
  .github/workflows/ci-actionlint.yml
  .github/workflows/ci-core.yml
  .github/workflows/summit-evidence.yml
  .github/workflows/unit-test-coverage.yml
  docs/adr/001-skill-preserving-mode-ga.md
  docs/ga-readiness/spm_ga_plan.md
  docs/roadmap/STATUS.json
  docs/skill_preserving_mode.md
  evidence/schemas/index.schema.json
  feature_flags.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  requirements.in
  scripts/ci/governance-meta-gate.mjs
  subsumption/item-unknown/manifest.yaml
  summit/policy/router.py
  summit/policy/spm_enforcer.py
  tests/policy/test_router.py
  tests/policy/test_spm_enforcer.py
  tools/ci/verify_evidence.py
Due: prettier --write

feat: add locked mws media verification workflow and deterministic evidence bundle
  artifacts/drift/bellingcat/latest.json
  artifacts/toolkit/bellingcat.normalized.json
  docs/roadmap/STATUS.json
  docs/security/data-handling/bellingcat-osint-toolkit.md
  examples/bellingcat_mws.yaml
  fixtures/mws_case1/expected_reverse_image_plan.json
  fixtures/mws_case1/input.json
  scripts/monitoring/bellingcat-osint-toolkit-drift.py
  src/cli.py
  src/connectors/archiving/submit.py
  src/connectors/reverse_image/plan.py
  src/core/chrono_checklist.py
  src/core/geo_hints.py
  src/core/hash.py
  src/core/metadata.py
  src/core/normalize.py
  src/core/reverse_image_query_plan.py
  src/evidence/bundle.py
  src/evidence/capture_targets.py
  src/evidence/evid.py
  src/evidence/hashing.py
  src/toolkit/normalize.py
  src/toolkit/schema.json
  src/toolkit/sources/bellingcat.py
  src/workflows/runner.py
  src/workflows/types.py
  tests/test_connectors_off_by_default.py
  tests/test_no_timestamps_in_artifacts.py
  tests/test_reverse_image_plan_fixture.py
  tests/test_tool_registry_sorted.py
  tests/test_workflow_mws_deterministic.py
Due: prettier --write

feat(runtime): harden ollama provider retries and health checks (#19139)
  scripts/lab/ollama_healthcheck.py
  summit/providers/ollama.py
  tests/providers/test_ollama_provider.py
Due: none

feat: accessible status badges with icons (#19140)
  .jules/palette.md
  apps/web/src/components/panels/EntityDrawer.tsx
  apps/web/src/components/ui/Badge.test.tsx
  apps/web/src/components/ui/Badge.tsx
Due: prettier --write

feat: add locked mws media verification workflow and deterministic evidence bundle (#19141)
  artifacts/drift/bellingcat/latest.json
  artifacts/toolkit/bellingcat.normalized.json
  docs/roadmap/STATUS.json
  docs/security/data-handling/bellingcat-osint-toolkit.md
  examples/bellingcat_mws.yaml
  fixtures/mws_case1/expected_reverse_image_plan.json
  fixtures/mws_case1/input.json
  scripts/monitoring/bellingcat-osint-toolkit-drift.py
  src/cli.py
  src/connectors/archiving/submit.py
  src/connectors/reverse_image/plan.py
  src/core/chrono_checklist.py
  src/core/geo_hints.py
  src/core/hash.py
  src/core/metadata.py
  src/core/normalize.py
  src/core/reverse_image_query_plan.py
  src/evidence/bundle.py
  src/evidence/capture_targets.py
  src/evidence/evid.py
  src/evidence/hashing.py
  src/toolkit/normalize.py
  src/toolkit/schema.json
  src/toolkit/sources/bellingcat.py
  src/workflows/runner.py
  src/workflows/types.py
  tests/test_connectors_off_by_default.py
  tests/test_no_timestamps_in_artifacts.py
  tests/test_reverse_image_plan_fixture.py
  tests/test_tool_registry_sorted.py
  tests/test_workflow_mws_deterministic.py
Due: prettier --write

feat(ops): systemic consolidation for Golden Path main (#19142)
  .github/labels.yml
  .github/workflows/ci-drift-sentinel.yml
  .github/workflows/pr-gate.yml
  lineage/lineage_emitter.ts
  lineage/lineage_schema.json
  lineage/lineage_stamp.json
  schemas/summit-evidence.schema.json
  scripts/ci/check_branch_protection_drift.mjs
  scripts/ci/validate_workflows.mjs
  scripts/ci/verify_lineage_integrity.mjs
  scripts/ci/workflow-budget-sentinel.mjs
  scripts/evidence/build_evidence_graph.mjs
  scripts/ops/merge_train_queue_planner.mjs
  server/migrations/20261201000000_lineage_trigger.sql
  solo_os/engines/evidence_helper.py
Due: prettier --write

feat(scouts): implement deterministic tree walk and hashing in repo_map scout (#19143)
  summit/scouts/repo_map.py
  summit/scouts/tests/test_repo_map.py
Due: none

docs: add WorkOS identity subsumption architecture brief
  docs/analysis/workos-identity-subsumption-brief.md
  docs/roadmap/STATUS.json
Due: prettier --write

fix(lint): make root eslint config dependency-light
  .eslintignore
  eslint.config.js
Due: none

feat: scaffold summit cultural reality modeling package
  docs/roadmap/STATUS.json
  packages/summit-cultural/README.md
  packages/summit-cultural/package.json
  packages/summit-cultural/src/culturalGraph.ts
  packages/summit-cultural/src/diffusionEngine.ts
  packages/summit-cultural/src/fixtures/sampleScenario.ts
  packages/summit-cultural/src/golden-tests/diffusionEngine.test.ts
  packages/summit-cultural/src/index.ts
  packages/summit-cultural/src/narrativeCompatibility.ts
  packages/summit-cultural/src/schema/culturalReality.schema.json
  packages/summit-cultural/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add analytic-only summit praxeology package
  docs/roadmap/STATUS.json
  packages/summit-praxeology/package.json
  packages/summit-praxeology/src/__tests__/golden.playbook.match.test.ts
  packages/summit-praxeology/src/__tests__/golden.playbook.validation.test.ts
  packages/summit-praxeology/src/engine/matchPlaybook.ts
  packages/summit-praxeology/src/engine/types.ts
  packages/summit-praxeology/src/fixtures/evidence.sample.json
  packages/summit-praxeology/src/fixtures/playbook.defensive.example.json
  packages/summit-praxeology/src/index.ts
  packages/summit-praxeology/src/policy/pgPolicy.ts
  packages/summit-praxeology/src/schemas/pg.action.schema.json
  packages/summit-praxeology/src/schemas/pg.hypothesis.schema.json
  packages/summit-praxeology/src/schemas/pg.playbook.schema.json
  packages/summit-praxeology/src/sv/semanticRules.ts
  packages/summit-praxeology/src/validate/ajv.ts
  packages/summit-praxeology/src/validate/validatePlaybook.ts
  packages/summit-praxeology/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: add SWE-rebench architectural insights and planning assumptions
  docs/ai-assist/swe-rebench-top-3-architectural-ideas.md
  docs/repo_assumptions.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add autonomous GA golden-main execution log and protocol
  docs/GA_GOLDEN_MAIN_AUTONOMOUS_EXECUTION.md
Due: prettier --write

docs: add deterministic GA merge orchestrator precheck
  docs/roadmap/GA_MERGE_ORCHESTRATOR_2026-03-05.md
  docs/roadmap/GA_MERGE_ORCHESTRATOR_PRECHECK.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat(agents): event log + provenance for orchestrator runs
  docs/roadmap/STATUS.json
  package.json
  summit/agents/logging/event-log.ts
  summit/agents/orchestrator/agent-orchestrator.ts
  summit/agents/provenance/hash.ts
  summit/agents/replay/replay-run.ts
  summit/agents/scripts/orchestrate-demo.ts
  summit/agents/types.ts
  tests/agents/event-log.test.ts
  tests/agents/orchestrator-provenance.test.ts
  tests/agents/replay-run.test.ts
Due: prettier --write

Stabilize: fix server build syntax errors and pnpm engine requirement
  .jules/palette.md
  .vale/IntelGraph/Terms.yml
  docs/architecture.md
  packages/sim-harness/package.json
  pr_description.md
  security/threat-model.md
  server/src/conductor/index.ts
  server/src/services/brand-packs/brand-pack.routes.ts
  src/agents/runtime/agentRuntime.ts
Due: prettier --write

docs: add GA launch conversion playbook and roadmap status entry
  RUNBOOKS/GA_LAUNCH_INTEGRATION_STABILIZATION_PLAYBOOK.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add graph-native ai 90-day execution plan
  docs/roadmap/GRAPH_NATIVE_AI_90_DAY_EXECUTION_PLAN.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add graph platform subsumption strategy and roadmap
  docs/analysis/graph-platform-subsumption-strategy.md
  docs/roadmap/STATUS.json
Due: prettier --write

feat(reporting): enforce claim-bound report contract
  .github/workflows/pr-gate.yml
  docs/architecture/REPORTING_CONTRACT.md
  docs/roadmap/STATUS.json
  package.json
  packages/reporting/package.json
  packages/reporting/src/index.js
  packages/reporting/src/render.js
  packages/reporting/src/schema/report.schema.json
  packages/reporting/src/types.js
  packages/reporting/test/render.test.mjs
  scripts/gates/enforce_report_from_claims.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs: define truth engine ledger priority architecture
  docs/architecture/summit-truth-engine-priority-architecture.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs(strategy): define killer-loop priority and execution focus
  docs/roadmap/STATUS.json
  docs/strategy/KILLER_LOOP_PRIORITY.md
Due: prettier --write

fix case
  pr_description.md
  security/threat-model.md
  server/src/lib/telemetry/comprehensive-telemetry.ts
  src/agents/runtime/agentRuntime.ts
Due: prettier --write

docs: add GA golden-main autonomous execution protocol with deterministic constraints (#19151)
  docs/GA_GOLDEN_MAIN_AUTONOMOUS_EXECUTION.md
Due: prettier --write

docs(strategy): prioritize Summit killer-loop execution path (#19160)
  docs/roadmap/STATUS.json
  docs/strategy/KILLER_LOOP_PRIORITY.md
Due: prettier --write

chore: remove uppercase colliding files to fix macos checkout
  .Jules/palette.md
  DEPENDENCY_DELTA.md
  PR_DESCRIPTION.md
  deps/DEPENDENCY_DELTA.md
  docs/ARCHITECTURE.md
  docs/SLO.md
  src/agents/runtime/AgentRuntime.ts
Due: prettier --write

Simplify root ESLint config, inline ignore patterns, and remove .eslintignore (#19146)
  .eslintignore
  eslint.config.js
Due: none

🛡️ Sentinel: Harden RBAC and Remove Hardcoded Secrets (#19145)
  .jules/sentinel.md
  server/src/middleware/auth.ts
  server/src/routes/sso.ts
  server/src/services/securityService.ts
Due: prettier --write

⚡ Bolt: Concurrent query optimization in StrategicPlanRepo (#19144)
  server/src/repos/StrategicPlanRepo.ts
Due: none

Systemic Consolidation for Golden Path Main (#19142)
  .github/labels.yml
  .github/workflows/ci-drift-sentinel.yml
  .github/workflows/pr-gate.yml
  lineage/lineage_emitter.ts
  lineage/lineage_schema.json
  lineage/lineage_stamp.json
  schemas/summit-evidence.schema.json
  scripts/ci/check_branch_protection_drift.mjs
  scripts/ci/validate_workflows.mjs
  scripts/ci/verify_lineage_integrity.mjs
  scripts/ci/workflow-budget-sentinel.mjs
  scripts/evidence/build_evidence_graph.mjs
  scripts/ops/merge_train_queue_planner.mjs
  server/migrations/20261201000000_lineage_trigger.sql
  solo_os/engines/evidence_helper.py
Due: prettier --write

feat(platform-cache): add redis data partitioning and backup systems (#19154)
  packages/platform-cache/src/cache-client.ts
  packages/platform-cache/src/cache-manager.ts
  packages/platform-cache/src/providers/memory.ts
  packages/platform-cache/src/providers/noop.ts
  packages/platform-cache/src/providers/redis.ts
  packages/platform-cache/src/types.ts
Due: eslint --fix --max-warnings=0 --cache
