Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat: scaffold device trust posture engine (#12645)
  platform/device-trust/ISSUE.md
  platform/device-trust/go/cmd/device-trust/main.go
  platform/device-trust/go/internal/attestation/attestation.go
  platform/device-trust/go/internal/policy/policy.go
  platform/device-trust/go/internal/policy/policy_test.go
  platform/device-trust/go/internal/privacy/filter.go
  platform/device-trust/go/internal/risk/score.go
  platform/device-trust/go/internal/risk/score_test.go
  platform/device-trust/go/internal/server/server.go
  platform/device-trust/node/src/policySimulator.js
  platform/device-trust/node/test/policySimulator.test.js
  platform/device-trust/tests/playwright/device-trust.spec.ts
  platform/device-trust/ui/index.html
Due: prettier --write

chore: add feature-flag planning scaffolds and branch CI gates (#12644)
  project_management/issues/FF1-qa-atsh.md
  project_management/issues/FF2-platform-saga.md
  project_management/issues/FF3-ai-prompt-registry.md
Due: prettier --write

Create pull requestCreate modular build prompts with plugin architecture (#12643)
  adapters/entity-resolution/gateway-adapter.ts
  adapters/policy-engine/gateway-adapter.ts
  adapters/prov-ledger/gateway-adapter.ts
  ops/observability-pack/README.md
  ops/observability-pack/alerts/cost-guard.yaml
  ops/observability-pack/alerts/slo-burn-rate.yaml
  ops/observability-pack/dashboards/slo-overview.json
  ops/observability-pack/runbooks/cost-spike.md
  ops/observability-pack/runbooks/perf-regression.md
  plugins/nlq-copilot/package.json
  plugins/nlq-copilot/plugin.json
  plugins/nlq-copilot/src/index.ts
  plugins/nlq-copilot/tsconfig.json
  plugins/tri-pane-explain/package.json
  plugins/tri-pane-explain/plugin.json
  plugins/tri-pane-explain/src/index.tsx
  plugins/tri-pane-explain/tsconfig.json
  services/entity-resolution/package.json
  services/entity-resolution/src/index.ts
  services/entity-resolution/tsconfig.json
  services/policy-engine/package.json
  services/policy-engine/src/index.ts
  services/policy-engine/tsconfig.json
  services/prov-ledger/api/v1/ledger.proto
  services/prov-ledger/cli/verify.ts
  services/prov-ledger/src/contradiction/detector.ts
  services/zk-tx/cli/demo.ts
  services/zk-tx/src/index.ts
Due: prettier --write

Add BFS traversal utility (#12642)
  bfs.py
Due: none

Add CCE enclave scaffolding (#12640)
  platform/cce/api/job.go
  platform/cce/cmd/cced/main.go
  platform/cce/internal/attestation/verifier.go
  platform/cce/internal/attestation/verifier_test.go
  platform/cce/internal/grpcstub/server.go
  platform/cce/internal/manager/manager.go
  platform/cce/internal/manager/manager_test.go
  platform/cce/internal/storage/sealed_storage.go
  platform/cce/internal/storage/sealed_storage_test.go
  platform/cce/manifest.yaml
  platform/cce/model-packs/secure-inference.yaml
  scripts/playwright/cce-flow.spec.ts
  sdk/cce-py/README.md
  sdk/cce-py/cce.py
  sdk/cce-ts/README.md
  sdk/cce-ts/index.ts
  web/public/enclave-console.html
Due: prettier --write

Add auditor helper to unseal verified outputs (#12636)
  rust/psc-runner/src/auditor.rs
  rust/psc-runner/tests/pipeline.rs
Due: none

feat: harden websocket reconnection backoff (#12633)
  client/src/services/socket.js
  client/src/services/socket.test.js
Due: none

feat: add tamper-proof audit logging service (#12632)
  server/src/services/ComprehensiveAuditLoggingService.ts
  server/tests/comprehensive-audit-logging.service.test.ts
Due: none

fix: harden graphql persisted allowlist (#12631)
  server/docs/GRAPHQL_OPTIMIZATION.md
  server/src/middleware/graphqlPersistedAllowlist.ts
  server/tests/graphqlPersistedAllowlistMiddleware.test.ts
Due: prettier --write

Improve error boundary callbacks and add coverage (#12629)
  client/src/components/common/ErrorBoundary.tsx
  client/src/components/common/__tests__/ErrorBoundary.test.tsx
  client/src/main.jsx
Due: none

Harden diff-only test generation worker validation (#12628)
  ga-graphai/packages/worker/src/test_generation_worker.py
  ga-graphai/packages/worker/tests/test_test_generation_worker.py
Due: none

feat: add realtime collaboration hub (#12627)
  server/src/realtime/collaborationHub.ts
  server/tests/realtime/collaboration-hub.test.ts
Due: none

Add production-grade observability stack upgrades (#12626)
  ops/grafana/dashboards/observability-sla.json
  ops/observability/monitoring-stack/README.md
  ops/observability/monitoring-stack/monitoring-workloads.yaml
  ops/otel/otel-collector-config.yaml
  ops/prometheus/README.md
  ops/prometheus/prometheus-rule-sla.yaml
  ops/prometheus/prometheus.yml
Due: prettier --write

Align evidence cache options with typed API (#12625)
  server/perf/performance-optimizations.md
  server/src/cache/__tests__/responseCache.test.ts
  server/src/db/optimization/performanceIndexes.ts
  server/src/workers/__tests__/cacheWarmupWorker.test.ts
  server/src/workers/cacheWarmupWorker.ts
Due: prettier --write

Harden reporting validation and scheduling safety (#12624)
  docs/reporting-system.md
  server/src/reporting/__tests__/reporting.test.ts
  server/src/reporting/access-control.ts
  server/src/reporting/delivery-service.ts
  server/src/reporting/exporters/base.ts
  server/src/reporting/exporters/csv-exporter.ts
  server/src/reporting/exporters/docx-exporter.ts
  server/src/reporting/exporters/excel-exporter.ts
  server/src/reporting/exporters/index.ts
  server/src/reporting/exporters/json-exporter.ts
  server/src/reporting/exporters/pdf-exporter.ts
  server/src/reporting/exporters/pptx-exporter.ts
  server/src/reporting/index.ts
  server/src/reporting/scheduler.ts
  server/src/reporting/service.ts
  server/src/reporting/template-engine.ts
  server/src/reporting/types.ts
  server/src/reporting/validation.ts
  server/src/reporting/version-store.ts
Due: prettier --write

Add Neo4j query performance monitoring (#12621)
  server/src/db/__tests__/neo4jInstrumentation.test.ts
  server/src/db/__tests__/neo4jPerformanceMonitor.test.ts
  server/src/db/neo4jPerformanceMonitor.ts
Due: none

Add IntelGraph GA core blueprint (#12620)
  intelgraph-ga-core-blueprint.md
Due: prettier --write

fix: harden case manifest reporting utilities (#12619)
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/case_report.py
  ga-graphai/packages/autonomous-investigator/tests/test_case_report.py
Due: none

Enhance operational transform conflict resolution (#12618)
  packages/real-time-sync/jest.config.cjs
  packages/real-time-sync/package.json
  packages/real-time-sync/src/SyncEngine.ts
  packages/real-time-sync/src/__tests__/SyncEngine.test.ts
  packages/real-time-sync/src/types.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add graphql cost guard rate limiting (#12616)
  ga-graphai/packages/gateway/package.json
  ga-graphai/packages/gateway/src/graphql-cost.ts
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/gateway/tests/graphqlCost.test.ts
  ga-graphai/packages/gateway/tsconfig.json
Due: prettier --write

Define government and defense market segments (#12613)
  docs/gtm/competitive-battlecards.md
  docs/gtm/compliance-trust-fact-sheet.md
  docs/gtm/demo-runbook.md
  docs/gtm/gov-capability-statement.md
  docs/gtm/named-account-list-template.md
  docs/gtm/outreach-sequences.md
  docs/gtm/partner-program-structure.md
  docs/gtm/pilot-proposal-template.md
  docs/gtm/prime-partner-one-pager.md
  docs/gtm/roi-tco-model.md
Due: prettier --write

Define product increment and goals (#12612)
  docs/product-increments.md
  server/migrations/008_product_increments.sql
  server/src/graphql/resolvers/productIncrement.ts
  server/src/graphql/schema/productIncrement.graphql
  server/src/repos/ProductIncrementRepo.ts
  server/src/repos/__tests__/ProductIncrementRepo.test.ts
  server/src/services/ProductIncrementService.ts
Due: prettier --write

Set up sane defaults and starter pack (#12611)
  PR_SUMMARY.md
  data/tenant-graph/mapping-example.yaml
  docs/TENANT_GRAPH_V0.md
  observability/dashboards/tenant-graph-v0.json
  scripts/demo.sh
  scripts/generate-golden-sample.ts
  server/src/db/migrations/001_tenant_graph_schema.sql
  server/src/db/migrations/neo4j/002_tenant_graph_indices.cypher
  server/src/graphql/resolvers/tenantGraph.ts
  server/src/graphql/schema/tenant-graph.graphql
  server/src/routes/ingest.ts
  server/src/services/CSVConnector.ts
  server/src/services/IngestService.ts
  server/src/services/__tests__/IngestService.test.ts
  server/src/services/opa-client.ts
  tests/load/tenant-graph-slo.js
Due: prettier --write

Enhance threat intelligence platform TAXII ingestion (#12608)
  docs/threat-intel-platform.md
  src/threat-intel/index.ts
  src/threat-intel/platform.ts
  tests/threat-intel/platform.test.ts
Due: prettier --write

fix: enforce swarm orchestrator parallelism bounds (#12607)
  ga-graphai/packages/meta-orchestrator/src/swarm.ts
  ga-graphai/packages/meta-orchestrator/tests/swarm.test.ts
Due: none

fix: harden job queue lifecycle and metrics (#12605)
  server/docs/job-queue-system.md
  server/src/queue/__tests__/job-queue.test.ts
  server/src/queue/index.ts
  server/src/queue/job-queue.ts
Due: prettier --write

Fix API docs test spec path (#12604)
  docs/API_DOCUMENTATION_PORTAL.md
  server/src/routes/api-docs.ts
  server/tests/api-docs.test.ts
Due: prettier --write

test: add middleware fallbacks coverage (#12603)
  server/docs/security-hardening-architecture.md
  server/src/__tests__/security.integration.test.ts
  server/src/middleware/__tests__/redisRateLimiter.test.ts
  server/src/middleware/__tests__/request-schema-validator.test.ts
  server/src/middleware/express-validation-pipeline.ts
  server/src/middleware/redisRateLimiter.ts
  server/src/middleware/request-schema-validator.ts
  server/src/security/__tests__/http-shield.test.ts
  server/src/security/http-shield.ts
  server/src/utils/htmlSanitizer.ts
  server/src/validation/MutationValidators.ts
  server/src/validation/httpSchemas.ts
Due: prettier --write

Enhance signal processing toolkit with spectrograms and classification (#12602)
  docs/multi-domain-platform-architecture.md
  packages/signal-processing/README.md
  packages/signal-processing/__tests__/signal-processing.test.ts
  packages/signal-processing/package.json
  packages/signal-processing/src/complex.ts
  packages/signal-processing/src/fft.ts
  packages/signal-processing/src/filters.ts
  packages/signal-processing/src/index.ts
  packages/signal-processing/src/kalman.ts
  packages/signal-processing/src/pattern.ts
  packages/signal-processing/src/spectral.ts
  packages/signal-processing/src/stft.ts
  packages/signal-processing/src/streaming.ts
  packages/signal-processing/src/types.ts
  packages/signal-processing/src/wavelet.ts
  packages/signal-processing/src/window.ts
  packages/signal-processing/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: guard cache warmers when postgres unavailable (#12601)
  server/docs/cache-architecture.md
  server/src/cache/__tests__/cacheLayer.test.ts
  server/src/cache/cacheAnalytics.ts
  server/src/cache/invalidation.ts
  server/src/cache/redis.ts
  server/src/cache/warmers.ts
  server/src/graphql/resolvers/stats.ts
  server/src/middleware/httpCache.ts
  server/src/routes/cache-analytics.ts
Due: prettier --write

Stabilize geospatial toolkit for offline builds (#12599)
  packages/geospatial/ARCHITECTURE.md
  packages/geospatial/jest-transformer.cjs
  packages/geospatial/jest.config.cjs
  packages/geospatial/src/analytics/clustering.ts
  packages/geospatial/src/analytics/geofencing.ts
  packages/geospatial/src/analytics/heatmap.ts
  packages/geospatial/src/analytics/trajectory.ts
  packages/geospatial/src/geocoding/geocoder.ts
  packages/geospatial/src/imagery/catalog.ts
  packages/geospatial/src/index.ts
  packages/geospatial/src/parsers/geojson-parser.ts
  packages/geospatial/src/parsers/kml-parser.ts
  packages/geospatial/src/parsers/shapefile-parser.ts
  packages/geospatial/src/postgis/query-builder.ts
  packages/geospatial/src/routing/optimizer.ts
  packages/geospatial/src/terrain/terrain.ts
  packages/geospatial/src/types/geospatial.ts
  packages/geospatial/src/utils/distance.ts
  packages/geospatial/src/utils/geojson.ts
  packages/geospatial/src/utils/geometry.ts
  packages/geospatial/src/utils/projections.ts
  packages/geospatial/tests/geo-capabilities.test.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: harden intel sync and filtering (#12597)
  ga-graphai/packages/threat-analytics/AGENTS.md
  ga-graphai/packages/threat-analytics/README.md
  ga-graphai/packages/threat-analytics/package.json
  ga-graphai/packages/threat-analytics/src/alert-manager.ts
  ga-graphai/packages/threat-analytics/src/behavioral-model.ts
  ga-graphai/packages/threat-analytics/src/correlation-engine.ts
  ga-graphai/packages/threat-analytics/src/engine.ts
  ga-graphai/packages/threat-analytics/src/entity-resolution.ts
  ga-graphai/packages/threat-analytics/src/index.ts
  ga-graphai/packages/threat-analytics/src/intel-adapters.ts
  ga-graphai/packages/threat-analytics/src/pattern-recognition.ts
  ga-graphai/packages/threat-analytics/src/rule-engine.ts
  ga-graphai/packages/threat-analytics/src/temporal-analysis.ts
  ga-graphai/packages/threat-analytics/src/threat-scoring.ts
  ga-graphai/packages/threat-analytics/src/triage.ts
  ga-graphai/packages/threat-analytics/src/types.ts
  ga-graphai/packages/threat-analytics/tests/engine.test.ts
  ga-graphai/packages/threat-analytics/tsconfig.json
Due: prettier --write

fix: harden maestro guardrail orchestration (#12594)
  ga-graphai/packages/maestro-conductor/README.md
  ga-graphai/packages/maestro-conductor/src/ci-gateway.ts
  ga-graphai/packages/maestro-conductor/src/guardrails.ts
  ga-graphai/packages/maestro-conductor/src/index.ts
  ga-graphai/packages/maestro-conductor/src/tracing.ts
  ga-graphai/packages/maestro-conductor/src/types.ts
  ga-graphai/packages/maestro-conductor/tests/tasks-orchestration.test.ts
Due: prettier --write

fix: improve http availability gauge (#12592)
  server/observability/README.md
  server/observability/grafana/observability-stack.json
  server/src/observability/__tests__/http-metrics-middleware.test.ts
  server/src/observability/__tests__/request-context.test.ts
  server/src/observability/http-metrics-middleware.ts
  server/src/observability/request-context.ts
Due: prettier --write

Harden secret resolution and add coverage (#12591)
  server/config.ts
  server/config/app.yaml
  server/config/schemas/app.schema.json
  server/config/schemas/features.schema.json
  server/config/schemas/security.schema.json
  server/docs/secure-config.md
  server/lib/config/config-watcher.ts
  server/lib/config/config.d.ts
  server/lib/config/feature-flags.ts
  server/lib/secrets/secret-manager.ts
  server/lib/security/secret-audit-logger.ts
  server/tests/secret-manager.test.ts
Due: prettier --write

Add deterministic notification simulations (#12588)
  server/src/notifications-hub/README.md
  server/src/notifications-hub/__tests__/notification-hub.integration.test.ts
  server/src/notifications-hub/__tests__/notification-hub.realtime.test.ts
  server/src/notifications-hub/events/EventSchema.ts
  server/src/notifications-hub/preferences/PreferencesManager.ts
  server/src/notifications-hub/receivers/ChatReceiver.ts
  server/src/notifications-hub/receivers/EmailReceiver.ts
  server/src/notifications-hub/receivers/RealtimeReceiver.ts
  server/src/notifications-hub/receivers/ReceiverInterface.ts
  server/src/notifications-hub/receivers/SmsReceiver.ts
  server/src/notifications-hub/receivers/WebhookReceiver.ts
  server/src/notifications-hub/templates/TemplateRegistry.ts
  server/src/notifications-hub/templates/TemplateRenderer.ts
Due: prettier --write

Harden log aggregation and retention controls (#12587)
  docs/blueprints/ultra_platform_blueprint.md
  server/logger.ts
  server/observability/log-aggregation/README.md
  server/observability/log-aggregation/fluent-bit.conf
  server/observability/log-aggregation/logstash/pipeline.conf
  server/observability/log-aggregation/parsers.conf
  server/src/logging/__tests__/logAlertEngine.test.ts
  server/src/logging/__tests__/logEventFormatter.test.ts
  server/src/logging/__tests__/logRetention.test.ts
  server/src/logging/logAlertEngine.ts
  server/src/logging/logEventBus.ts
  server/src/logging/logEventFormatter.ts
  server/src/logging/logRetention.ts
  server/src/logging/structuredLogger.ts
  server/src/logging/winstonBridge.ts
  server/src/routes/logs.ts
  server/utils/logger.ts
Due: prettier --write

Harden GraphQL subscription scoping (#12585)
  server/src/graphql/__tests__/crudSubscriptions.test.ts
  server/src/graphql/__tests__/subscriptionEngine.test.ts
  server/src/graphql/resolvers/crudResolvers.ts
  server/src/graphql/resolvers/multimodalResolvers.ts
  server/src/graphql/schema.subscriptions.js
  server/src/graphql/subscriptionEngine.ts
  server/src/index.ts
  server/src/metrics.ts
Due: none

Implement SummitQAF agent factory engine (#12583)
  docs/summit-qaf.md
  ga-graphai/packages/summit-qaf/AGENTS.md
  ga-graphai/packages/summit-qaf/package.json
  ga-graphai/packages/summit-qaf/src/agent-factory.ts
  ga-graphai/packages/summit-qaf/src/compliance.ts
  ga-graphai/packages/summit-qaf/src/index.ts
  ga-graphai/packages/summit-qaf/src/pki.ts
  ga-graphai/packages/summit-qaf/src/roi-dashboard.ts
  ga-graphai/packages/summit-qaf/src/security.ts
  ga-graphai/packages/summit-qaf/src/types.ts
  ga-graphai/packages/summit-qaf/tests/summit-qaf.spec.ts
  ga-graphai/packages/summit-qaf/tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
