Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat: comprehensive cost, sustainability & ops efficiency analysis
  COST_SUSTAINABILITY_EFFICIENCY_ANALYSIS.md
Due: prettier --write

feat(ga-dashboard): modernize GA Core Metrics Dashboard with interactive React application
  dashboard/README.md
  dashboard/index.html
  dashboard/package.json
  dashboard/src/AcceptanceCriteria.jsx
  dashboard/src/App.css
  dashboard/src/App.jsx
  dashboard/src/GoNoGoDecision.jsx
  dashboard/src/MetricsCharts.jsx
  dashboard/src/StatusCards.jsx
  dashboard/src/index.css
  dashboard/src/main.jsx
  dashboard/vite.config.js
Due: prettier --write

feat: enhance adversarial misinformation defense platform
  PR_DESCRIPTION.md
  adversarial-misinfo-defense-platform/README.md
  adversarial-misinfo-defense-platform/USER_GUIDE.md
  adversarial-misinfo-defense-platform/__init__.py
  adversarial-misinfo-defense-platform/advanced_testing.py
  adversarial-misinfo-defense-platform/detection_modules/main_detector.py
  adversarial-misinfo-defense-platform/enhanced_detection.py
  adversarial-misinfo-defense-platform/main.py
  adversarial-misinfo-defense-platform/performance_optimization.py
  adversarial-misinfo-defense-platform/security_enhancements.py
  adversarial-misinfo-defense-platform/summit_integration.py
Due: prettier --write

feat(ui): replace CDN-dependent Symphony UI with secure React application
  ui/postcss.config.js
  ui/src/App.css
  ui/src/App.jsx
  ui/src/components/BudgetsBurndown.jsx
  ui/src/components/CIChaos.jsx
  ui/src/components/Dashboard.jsx
  ui/src/components/DocsRunbooks.jsx
  ui/src/components/Neo4jGuard.jsx
  ui/src/components/Observability.jsx
  ui/src/components/PoliciesLOA.jsx
  ui/src/components/RAGConsole.jsx
  ui/src/components/RoutingStudio.jsx
  ui/src/index.css
Due: prettier --write

feat: add critical security service tests for MVP-4 GA
  client/package.json
  server/jest.config.js
  server/src/services/__tests__/AuthorizationService.test.ts
  server/src/services/__tests__/LlmSecurityService.test.ts
  server/src/services/__tests__/PolicyManagementService.test.ts
  services/zk-tx/tsconfig.json
Due: prettier --write

feat: MVP-4 GA Security Tests and ESM Fixes (#15349)
  client/package.json
  server/jest.config.js
  server/src/services/__tests__/AuthorizationService.test.ts
  server/src/services/__tests__/LlmSecurityService.test.ts
  server/src/services/__tests__/PolicyManagementService.test.ts
  services/zk-tx/tsconfig.json
  ui/postcss.config.js
  ui/src/App.css
  ui/src/App.jsx
  ui/src/components/BudgetsBurndown.jsx
  ui/src/components/CIChaos.jsx
  ui/src/components/Dashboard.jsx
  ui/src/components/DocsRunbooks.jsx
  ui/src/components/Neo4jGuard.jsx
  ui/src/components/Observability.jsx
  ui/src/components/PoliciesLOA.jsx
  ui/src/components/RAGConsole.jsx
  ui/src/components/RoutingStudio.jsx
  ui/src/index.css
Due: prettier --write

feat(accessibility): implement comprehensive accessibility features across UI surfaces
  design-system/src/accessibility/AccessibilityContext.jsx
  design-system/src/accessibility/accessibility-utils.js
  design-system/src/accessibility/accessibility.css
  design-system/src/components/Button.jsx
  design-system/src/components/Card.jsx
  design-system/src/components/Input.jsx
  design-system/src/components/Layout.jsx
  design-system/src/index.js
Due: prettier --write

docs: add fmcp-tpce provisional draft
  docs/patents/innovation-intake-and-provisionals.md
  docs/patents/patentable-innovations.md
  docs/patents/provisionals/fmcp-tpce.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs: add SH-MCP provisional draft
  docs/patents/provisionals/self-healing-model-context-protocols.md
  docs/roadmap/STATUS.json
  prompts/ip/sh-mcp-provisional.md
  prompts/registry.yaml
Due: prettier --write

docs: add ccr adr and roadmap update
  docs/ADR/0010-counterfactual-context-reassembly.md
  docs/roadmap/STATUS.json
Due: prettier --write

Improve cost and operational efficiency (#15348)
  COST_SUSTAINABILITY_EFFICIENCY_ANALYSIS.md
Due: prettier --write

Draft patent claims for MCP inventions (#15346)
  agents/orchestrator/src/context/capsules/CapsulePolicy.ts
  agents/orchestrator/src/context/capsules/ContextCapsule.ts
  agents/orchestrator/src/context/capsules/InvariantValidator.ts
  agents/orchestrator/src/context/capsules/index.ts
  agents/orchestrator/src/context/capsules/types.ts
  agents/orchestrator/src/context/provenance/PolicyEngine.ts
  agents/orchestrator/src/context/provenance/ProvenanceGraph.ts
  agents/orchestrator/src/context/provenance/ReplayEngine.ts
  agents/orchestrator/src/context/provenance/index.ts
  agents/orchestrator/src/context/provenance/types.ts
  docs/adr/ADR-009_context_provenance_graph.md
  docs/adr/ADR-010_invariant_carrying_context_capsules.md
  docs/adr/index.md
Due: prettier --write

fix: resolve TypeScript build errors in server package
  server/src/ai/copilot/redaction.service.ts
  server/src/graph/queryCache.ts
  server/src/integrations/grc/grc-export.service.ts
  server/src/integrations/siem/siem-export.service.ts
  server/src/services/__tests__/CdnUploadService.test.ts
Due: none

feat(ic3): implement Invariant-Carrying Context Capsules (IC³) system
  CPG_INNOVATION_SUMMARY.md
  CPG_PROVISIONAL_PATENT_SPECIFICATION.md
  CPG_WHITEPAPER.md
  IC3_INNOVATION_SUMMARY.md
  IC3_PROVISIONAL_PATENT_SPECIFICATION.md
  IC3_WHITEPAPER.md
  PR_DESCRIPTION_ADVERSARIAL_ENHANCEMENTS.md
  PR_SCAFFOLD_CPG_IMPLEMENTATION.md
  adversarial-misinfo-defense-platform/PULL_REQUEST_TEMPLATE.md
  docs/architecture/decisions/cpg-implementation.md
  docs/architecture/decisions/ic3-implementation.md
  src/context/capsules/IMPLEMENTATION_COMPLETE.md
  src/context/capsules/README.md
  src/context/capsules/__tests__/ic3-system.test.ts
  src/context/capsules/advanced-example.ts
  src/context/capsules/config.ts
  src/context/capsules/crypto.ts
  src/context/capsules/demo.ts
  src/context/capsules/embedder.ts
  src/context/capsules/generator.ts
  src/context/capsules/index.ts
  src/context/capsules/package.json
  src/context/capsules/tsconfig.json
  src/context/capsules/types.ts
  src/context/capsules/validator.ts
Due: prettier --write

fix: additional TypeScript build error fixes
  server/src/graphql/resolvers/deduplication.ts
  server/src/integrations/grc/grc-export.service.ts
Due: none

Add CCR poisoning detection ADR and roadmap update (#15352)
  docs/ADR/0010-counterfactual-context-reassembly.md
  docs/roadmap/STATUS.json
Due: prettier --write

docs(design-system): add comprehensive documentation and usage guides
  client/src/design-system/docs/quick-start.md
  client/src/design-system/docs/usage-guide.md
Due: prettier --write

docs: add final validation report and integration tests
  UI_UX_FINAL_VALIDATION.md
  client/src/test/DesignSystemTest.jsx
  client/src/test/TestPage.jsx
Due: prettier --write

fix: resolve TypeScript build errors in server package
  server/src/agents/negotiation/NegotiationRuntime.ts
  server/src/agents/negotiation/types.ts
  server/src/agents/policy/PolicyHooks.ts
  server/src/analytics/engine/types.ts
  server/src/graphql/resolvers/deduplication.ts
  server/src/middleware/permissions.ts
  server/src/types/graph.ts
Due: none

chore: apply eslint fixes and reduce warnings
  .claude/settings.local.json
  client/babel.config.cjs
  client/jest.config.cjs
  client/package.json
  client/src/components/security/__tests__/VulnerabilityDashboard.test.tsx
  client/src/setupTests.js
  design-system/src/accessibility/accessibility-utils.js
  docs/adr/index.md
  jscpd-report/html/js/prism.js
  packages/visualization/package.json
  packages/visualization/src/components/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: improve test coverage and fix type issues
  agents/governance/src/policy-engine/AgentPolicyEngine.js
  agents/governance/src/policy-engine/AgentPolicyEngine.js.map
  agents/governance/src/types.js
  agents/governance/src/types.js.map
  client/src/test/mocks/browserAPIs.js
  client/test/mocks/browserAPIs.js
  design-system/src/feedback/FeedbackContext.jsx
  design-system/src/feedback/Loading.jsx
  packages/visualization/README.md
  packages/visualization/src/components/AdvancedGraphCanvasExample.tsx
  packages/visualization/src/components/GraphCanvas.test.tsx
  packages/visualization/src/components/GraphCanvas.tsx
  packages/visualization/src/components/GraphCanvasDemo.tsx
  packages/visualization/src/components/GraphCanvasExample.tsx
  pnpm-lock.yaml
  server/src/services/AuthorizationService.ts
  server/src/services/__tests__/AuthorizationService.test.ts
  ui/components/EvidenceBoard.md
  ui/components/EvidenceBoard.stories.tsx
  ui/components/EvidenceBoard.test.tsx
  ui/components/EvidenceBoard.tsx
  ui/components/EvidenceBoardDemo.tsx
  ui/components/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(platform): add comprehensive components and testing for Summit/IntelGraph
  client/babel.config.cjs
  client/jest.config.cjs
  client/package.json
  client/src/components/analysis/AnalysisWorkspace.md
  client/src/components/analysis/AnalysisWorkspace.stories.tsx
  client/src/components/analysis/AnalysisWorkspace.test.tsx
  client/src/components/analysis/AnalysisWorkspace.tsx
  client/src/components/analysis/README.md
  client/src/components/analysis/index.ts
  client/src/components/index.ts
  docs/ui/UI_UX_IMPROVEMENTS_OVERVIEW.md
  e2e/ui/INTELGRAPH_INTEGRATION_TESTS.md
  e2e/ui/intelgraph-accessibility-responsive.spec.ts
  e2e/ui/intelgraph-component-interaction.spec.ts
  e2e/ui/intelgraph-error-handling.spec.ts
  e2e/ui/intelgraph-integration.spec.ts
  package.json
  perf/comprehensive/README.md
  perf/comprehensive/SUMMARY.md
  perf/comprehensive/before-after-comparison.ts
  perf/comprehensive/run-performance-tests.js
  perf/comprehensive/ui-ux-performance-benchmark.ts
  perf/comprehensive/validation.spec.ts
  pnpm-lock.yaml
Due: prettier --write

docs: add project success summary
  PROJECT_SUCCESS_SUMMARY.md
Due: prettier --write

feat: add MCP governance scaffolding
  docs/adr/0001-mcp-governance-architecture.md
  docs/adr/0002-context-provenance-graph-cpg.md
  docs/adr/0003-invariant-context-capsules-ic3.md
  docs/adr/0004-trust-weighted-context-assembly-twca.md
  docs/adr/0005-counterfactual-context-reassembly-ccr.md
  docs/roadmap/STATUS.json
  src/context/analysis/divergenceAnalysis.ts
  src/context/capsules/invariantCapsule.ts
  src/context/counterfactual/counterfactualContextReassembly.test.ts
  src/context/counterfactual/counterfactualContextReassembly.ts
  src/context/poisoning/poisoningResponse.ts
  src/context/provenance/contextProvenanceGraph.ts
  src/context/trust/trustWeightedAssembly.ts
  src/context/types.ts
  src/summit/__init__.py
  src/summit/context/__init__.py
  src/summit/context/analysis.py
  src/summit/context/capsules.py
  src/summit/context/counterfactual.py
  src/summit/context/poisoning.py
  src/summit/context/provenance.py
  src/summit/context/trust.py
  src/summit/context/types.py
  tests/test_ccr_basic.py
Due: prettier --write

feat: add MCP governance scaffolding (CPG, IC³, TWCA, CCR)
  docs/adr/0001-mcp-governance-architecture.md
  docs/adr/0002-context-provenance-graph-cpg.md
  docs/adr/0003-invariant-context-capsules-ic3.md
  docs/adr/0004-trust-weighted-context-assembly-twca.md
  docs/adr/0005-counterfactual-context-reassembly-ccr.md
  docs/roadmap/STATUS.json
  intelgraph/context/__init__.py
  intelgraph/context/analysis.py
  intelgraph/context/capsules.py
  intelgraph/context/counterfactual.py
  intelgraph/context/poisoning.py
  intelgraph/context/provenance.py
  intelgraph/context/trust.py
  intelgraph/context/types.py
  src/context/analysis/divergenceAnalysis.ts
  src/context/capsules/invariantCapsule.ts
  src/context/counterfactual/counterfactualContextReassembly.test.ts
  src/context/counterfactual/counterfactualContextReassembly.ts
  src/context/poisoning/poisoningResponse.ts
  src/context/provenance/contextProvenanceGraph.ts
  src/context/trust/trustWeightedAssembly.ts
  src/context/types.ts
  tests/test_ccr_basic.py
Due: prettier --write

feat: add memory layer package
  docs/ai/memory-layer.md
  docs/roadmap/STATUS.json
  packages/memory/__tests__/contextBuilder.test.ts
  packages/memory/__tests__/keywordDetection.test.ts
  packages/memory/__tests__/providerRanking.test.ts
  packages/memory/__tests__/redaction.test.ts
  packages/memory/package.json
  packages/memory/src/contextBuilder.ts
  packages/memory/src/index.ts
  packages/memory/src/memoryService.ts
  packages/memory/src/providers/localMemoryProvider.ts
  packages/memory/src/providers/memoryProvider.ts
  packages/memory/src/providers/supermemoryProvider.ts
  packages/memory/src/types.ts
  packages/memory/src/utils/embedding.ts
  packages/memory/src/utils/keywordDetection.ts
  packages/memory/src/utils/redaction.ts
  packages/memory/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: patent-grade MCP protocol innovations for zero-trust AI systems
  adr/0023-cryptographic-context-confinement.md
  adr/0024-semantic-context-integrity-verification.md
  adr/0025-token-level-provenance-attribution.md
  adr/0026-provenance-revocation-propagation.md
  adr/0027-context-assembly-policy-engine.md
  adr/0028-byzantine-resistant-trust-network.md
  adr/0029-confidential-mcp-execution-tee.md
  agents/governance/src/provenance/revocation-daemon.ts
  docs/research/zero-trust-mcp-whitepaper.md
  server/src/conductor/attribution/tag-builder.ts
  server/src/conductor/validation/semantic-validator.ts
Due: prettier --write

feat(ci): GA completion - CI/CD hardening (Wave 1 partial)
  .claude/GA_COMPLETION_INTELLIGENCE.md
  .claude/GA_COMPLETION_PLAN.md
  .github/workflows/ci-core.yml
  .github/workflows/ci-verify.yml
  .github/workflows/pr-gates.yml
  scripts/check-migration-gate.sh
Due: prettier --write

feat(security): GA completion - Credential eradication (Wave 2 partial)
  GA_HANDOFF_REPORT.md
  apps/workflow-engine/src/config.ts
  packages/shared/security/index.ts
  packages/shared/security/requireSecret.ts
  services/edge-gateway/src/middleware/auth.ts
Due: prettier --write

chore(ui): finalize UI/UX improvements and documentation
  client/src/components/admin/AdminDashboard.test.tsx
Due: none

docs: add contribution playbooks and release cadence
  CONTRIBUTING.md
  docs/CONTRIBUTION_PLAYBOOKS.md
Due: prettier --write

chore: enhance onboarding presets and hooks
  .pre-commit-config.yaml
  docs/onboarding/development.md
  docs/onboarding/docker-compose-presets.md
  docs/roadmap/STATUS.json
  scripts/onboarding/compose-presets.sh
Due: prettier --write

chore: add graphql throughput benchmarks
  docs/roadmap/STATUS.json
  server/perf/GRAPHQL_BENCHMARKS.md
  server/perf/k6-graphql-throughput.js
  server/perf/performance-optimizations.md
Due: prettier --write

test: enforce coverage and add api fuzz contracts
  .github/workflows/ci-core.yml
  docs/roadmap/STATUS.json
  server/jest.config.ts
  server/src/http/status.ts
  server/tests/contracts/status.contract.test.ts
  server/tests/fuzz/scope-guard.fuzz.test.ts
Due: prettier --write

chore: harden express validation
  docs/roadmap/STATUS.json
  server/src/app.ts
  server/src/http/incident.ts
  server/src/metering/routes.ts
  server/src/middleware/request-validation.ts
Due: prettier --write

chore: automate issue triage
  .github/scripts/issue-triage.js
  .github/workflows/issue-triage.yml
  docs/roadmap/STATUS.json
  triage/ISSUE_TRIAGE_AUTOMATION.md
Due: prettier --write

docs: expand architecture overview and api contracts
  README.md
  docs/developer/architecture-overview.md
  docs/developer/getting-started.md
  docs/roadmap/STATUS.json
Due: prettier --write

fix: resolve TypeScript build errors on main
  server/src/agents/negotiation/NegotiationRuntime.ts
  server/src/agents/negotiation/types.ts
  server/src/agents/policy/PolicyHooks.ts
  server/src/analytics/engine/types.ts
  server/src/graphql/resolvers/deduplication.ts
  server/src/lib/resources/types.ts
  server/src/middleware/permissions.ts
  server/src/routes/monitoring-backpressure.ts
  server/src/runtime/learning-gate.ts
  server/src/services/PythiaService.ts
  server/src/types/graph.ts
Due: none
