Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

feat(web): RBAC UX Guardrails for GraphView (Port) (#19453)
  .github/workflows/ci-core.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  apps/web/src/components/DisabledOverlay.tsx
  apps/web/src/components/FlagGuard.tsx
  apps/web/src/components/__tests__/FlagGuard.test.tsx
  apps/web/src/graphs/GraphCanvas.tsx
Due: prettier --write

Port PR 18461: docs(ops): harden daily sprint automation loop generation
  docs/ops/DAILY_SPRINT_2026-02-11.md
  docs/ops/DAILY_SPRINT_AUTOMATION.md
  docs/ops/evidence/daily-sprint-2026-02-11/issue_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/metrics.json
  docs/ops/evidence/daily-sprint-2026-02-11/pr_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/report.json
  docs/ops/evidence/daily-sprint-2026-02-11/stamp.json
  docs/roadmap/STATUS.json
  scripts/ops/daily-sprint-loop.sh
Due: prettier --write

docs(ops): harden daily sprint automation loop generation (Port) (#19454)
  docs/ops/DAILY_SPRINT_2026-02-11.md
  docs/ops/DAILY_SPRINT_AUTOMATION.md
  docs/ops/evidence/daily-sprint-2026-02-11/issue_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/metrics.json
  docs/ops/evidence/daily-sprint-2026-02-11/pr_list.err
  docs/ops/evidence/daily-sprint-2026-02-11/report.json
  docs/ops/evidence/daily-sprint-2026-02-11/stamp.json
  docs/roadmap/STATUS.json
  scripts/ops/daily-sprint-loop.sh
Due: prettier --write

Port PR 18505: Enhance Summit Storage & Backup Infrastructure
  server/db/migrations/postgres/20270104000000_enable_partitioning.sql
  server/src/__tests__/infrastructure.test.ts
  server/src/backup/BackupManager.ts
  server/src/backup/BackupService.ts
  server/src/db/partitioning.ts
  server/src/services/ColdStorageService.ts
  server/src/types/infrastructure.ts
Due: none

Enhance Summit Storage & Backup Infrastructure (Port) (#19455)
  server/db/migrations/postgres/20270104000000_enable_partitioning.sql
  server/src/__tests__/infrastructure.test.ts
  server/src/backup/BackupManager.ts
  server/src/backup/BackupService.ts
  server/src/db/partitioning.ts
  server/src/services/ColdStorageService.ts
  server/src/types/infrastructure.ts
Due: none

Port PR 18481: feat: Comprehensive Monitoring and Observability
  observability/alert-rules-intelgraph.yml
  observability/dashboards/maestro-orchestration.json
  server/data/metering/events.jsonl
  server/src/llm/router.ts
  server/src/monitoring/tracing.ts
  server/src/routes/tracingRoutes.ts
Due: prettier --write

feat: Comprehensive Monitoring and Observability (Port) (#19457)
  observability/alert-rules-intelgraph.yml
  observability/dashboards/maestro-orchestration.json
  server/data/metering/events.jsonl
  server/src/llm/router.ts
  server/src/monitoring/tracing.ts
  server/src/routes/tracingRoutes.ts
Due: prettier --write

Port PR 18561: feat: Implement comprehensive Summit observability
  .gitmodules
  client/jest.config.cjs
  docker-compose.ai.yml
  observability/dashboards/summit-overview.json
  observability/prometheus.yml
  observability/summit-alerts.yml
  pnpm-workspace.yaml
  policies/abac.rego
  summit/services/shared/core_verification.py
  summit/services/shared/tests/test_core_verification.py
  tests/test_precision_flow_policy.py
Due: prettier --write

feat: Implement comprehensive Summit observability (Port) (#19458)
  .gitmodules
  client/jest.config.cjs
  docker-compose.ai.yml
  observability/dashboards/summit-overview.json
  observability/prometheus.yml
  observability/summit-alerts.yml
  pnpm-workspace.yaml
  policies/abac.rego
  summit/services/shared/core_verification.py
  summit/services/shared/tests/test_core_verification.py
  tests/test_precision_flow_policy.py
Due: prettier --write

Port PR 18551: ⚡ Bolt: Optimized input sanitization with Copy-on-Write pattern
  server/src/middleware/__tests__/sanitization.test.ts
  server/src/middleware/sanitization.ts
Due: none

⚡ Bolt: Optimized input sanitization with Copy-on-Write pattern (Port) (#19459)
  server/src/middleware/__tests__/sanitization.test.ts
  server/src/middleware/sanitization.ts
Due: none

Port PR 18547: ⚡ Bolt: Batched risk signals insertion
  CHANGELOG.md
  canary-plan.md
  docs/standards/factgov.md
  evidence/schemas/index.schema.json
  rollback-plan.md
  server/src/db/__tests__/RiskRepository.performance.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: prettier --write

⚡ Bolt: Batched risk signals insertion (Port) (#19460)
  CHANGELOG.md
  canary-plan.md
  docs/standards/factgov.md
  evidence/schemas/index.schema.json
  rollback-plan.md
  server/src/db/__tests__/RiskRepository.performance.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: prettier --write

Port PR 18483: ⚡ Bolt: Optimized RiskRepository with batched signals insertion
  server/src/db/__tests__/RiskRepository.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: none

⚡ Bolt: Optimized RiskRepository with batched signals insertion (Port) (#19461)
  server/src/db/__tests__/RiskRepository.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: none

Port PR 18378: feat: Instrument frontend and consolidate backend telemetry
  apps/web/package.json
  apps/web/src/instrumentation.ts
  apps/web/src/main.tsx
  server/src/config/logger.ts
  server/src/lib/observability/otel.ts
  server/src/middleware/auth.ts
  server/src/middleware/tenantContext.ts
  server/src/monitoring/opentelemetry.ts
Due: prettier --write

feat: Instrument frontend and consolidate backend telemetry (Port) (#19462)
  apps/web/package.json
  apps/web/src/instrumentation.ts
  apps/web/src/main.tsx
  server/src/config/logger.ts
  server/src/lib/observability/otel.ts
  server/src/middleware/auth.ts
  server/src/middleware/tenantContext.ts
  server/src/monitoring/opentelemetry.ts
Due: prettier --write

Port PR 18552: Implement comprehensive Summit monitoring and observability
  .github/workflows/pr-gates.yml
  observability/dashboards/summit-overview.json
  observability/prometheus.yml
  observability/summit-agent-alerts.yml
  pnpm-workspace.yaml
  scripts/ci/validate-jest-config.cjs
  summit/api/factflow/router.py
  summit/observability.py
Due: prettier --write

Implement comprehensive Summit monitoring and observability (Port) (#19463)
  .github/workflows/pr-gates.yml
  observability/dashboards/summit-overview.json
  observability/prometheus.yml
  observability/summit-agent-alerts.yml
  pnpm-workspace.yaml
  scripts/ci/validate-jest-config.cjs
  summit/api/factflow/router.py
  summit/observability.py
Due: prettier --write

Port PR 18501: ⚡ Bolt: optimize risk signal insertion with batched queries
  .github/workflows/agentic-plan-gate.yml
  .github/workflows/ci-preflight.yml
  .github/workflows/pr-quality-gate.yml
  client/jest.config.cjs
  evidence/schemas/index.schema.json
  server/src/db/__tests__/RiskRepository.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: prettier --write

⚡ Bolt: optimize risk signal insertion with batched queries (Port) (#19464)
  .github/workflows/agentic-plan-gate.yml
  .github/workflows/ci-preflight.yml
  .github/workflows/pr-quality-gate.yml
  client/jest.config.cjs
  evidence/schemas/index.schema.json
  server/src/db/__tests__/RiskRepository.test.ts
  server/src/db/repositories/RiskRepository.ts
Due: prettier --write

Port PR 18535: feat(observability): implement comprehensive monitoring for Summit platform
  .github/workflows/ux-governance.yml
  observability/grafana/dashboards/summit-dashboard.json
  observability/prometheus/prometheus.yml
  observability/prometheus/summit-alerts.yml
Due: prettier --write

feat(observability): implement comprehensive monitoring for Summit platform (Port) (#19465)
  .github/workflows/ux-governance.yml
  observability/grafana/dashboards/summit-dashboard.json
  observability/prometheus/prometheus.yml
  observability/prometheus/summit-alerts.yml
Due: prettier --write

Port PR 18353: feat(web): apply React best practices (memoization)
  .github/workflows/a11y-keyboard-smoke.yml
  .github/workflows/archsim.yml
  .github/workflows/audit-exception-expiry.yml
  .github/workflows/ci-legacy.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/dependency-monitor.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e-vind-bench.yml
  .github/workflows/e2e-vind-lifecycle.yml
  .github/workflows/e2e-vind-smoke.yml
  .github/workflows/golden-path-e2e.yml
  .github/workflows/infra-drift.yml
  .github/workflows/parity-check.yml
  .github/workflows/perf.yml
  .github/workflows/pr-preview.yml
  .github/workflows/type-safety-audit.yml
  .github/workflows/vmworkbench-ci.yml
  agents/multimodal/package.json
  apps/web/src/integrations/IntegrationCard.tsx
  apps/web/src/integrations/IntegrationForm.tsx
  apps/web/src/integrations/IntegrationsPage.tsx
  apps/web/src/summitsight/KPIView.tsx
  docs/roadmap/STATUS.json
  evidence/schemas/index.schema.json
  playwright.config.ts
Due: prettier --write

feat(web): apply React best practices (memoization) (Port) (#19466)
  .github/workflows/a11y-keyboard-smoke.yml
  .github/workflows/archsim.yml
  .github/workflows/audit-exception-expiry.yml
  .github/workflows/ci-legacy.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/dependency-monitor.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e-vind-bench.yml
  .github/workflows/e2e-vind-lifecycle.yml
  .github/workflows/e2e-vind-smoke.yml
  .github/workflows/golden-path-e2e.yml
  .github/workflows/infra-drift.yml
  .github/workflows/parity-check.yml
  .github/workflows/perf.yml
  .github/workflows/pr-preview.yml
  .github/workflows/type-safety-audit.yml
  .github/workflows/vmworkbench-ci.yml
  agents/multimodal/package.json
  apps/web/src/integrations/IntegrationCard.tsx
  apps/web/src/integrations/IntegrationForm.tsx
  apps/web/src/integrations/IntegrationsPage.tsx
  apps/web/src/summitsight/KPIView.tsx
  docs/roadmap/STATUS.json
  evidence/schemas/index.schema.json
  playwright.config.ts
Due: prettier --write

Port PR 18430: Sprint Block 7: Outreach Engine + Scale Validation
  docs/playbooks/buyer-outreach.md
  packages/agents/package.json
  packages/agents/src/index.ts
  packages/agents/src/outreach/buyer-agent.test.ts
  packages/agents/src/outreach/buyer-agent.ts
  packages/agents/tsconfig.json
  tests/load/k6/org-mesh.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Sprint Block 7: Outreach Engine + Scale Validation (Port) (#19467)
  docs/playbooks/buyer-outreach.md
  packages/agents/package.json
  packages/agents/src/index.ts
  packages/agents/src/outreach/buyer-agent.test.ts
  packages/agents/src/outreach/buyer-agent.ts
  packages/agents/tsconfig.json
  tests/load/k6/org-mesh.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Port PR 18557: 🎨 Palette: Enhance GeoInt Pane UX and Accessibility
  apps/web/src/panes/GeoIntPane.tsx
  client/jest.config.cjs
  evidence/index.json
  pnpm-workspace.yaml
  tests/policies/test_influence_governance.py
Due: prettier --write

🎨 Palette: Enhance GeoInt Pane UX and Accessibility (Port) (#19468)
  apps/web/src/panes/GeoIntPane.tsx
  client/jest.config.cjs
  evidence/index.json
  pnpm-workspace.yaml
  tests/policies/test_influence_governance.py
Due: prettier --write

Port PR 18512: feat: Summit comprehensive testing suite and CI pipeline
  .github/workflows/summit-ci.yml
  e2e/summit-smoke.spec.ts
  requirements.in
  summit/tests/conftest.py
  summit/tests/integration/test_routers_comprehensive.py
  summit/tests/services/__init__.py
  summit/tests/services/test_cache.py
  summit/tests/services/test_core_verification.py
  summit/tests/services/test_registry.py
  summit/tests/test_imports.py
Due: prettier --write

feat: Summit comprehensive testing suite and CI pipeline (Port) (#19469)
  .github/workflows/summit-ci.yml
  e2e/summit-smoke.spec.ts
  requirements.in
  summit/tests/conftest.py
  summit/tests/integration/test_routers_comprehensive.py
  summit/tests/services/__init__.py
  summit/tests/services/test_cache.py
  summit/tests/services/test_core_verification.py
  summit/tests/services/test_registry.py
  summit/tests/test_imports.py
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
