Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(demos): add comprehensive testing and CLI improvements
  demos/cli.sh
  demos/copilot/test_safety_harness.py
  demos/deescalation/datasets/demo-conversations.jsonl
  demos/deescalation/output/analysis_results.json
  demos/misinfo-defense/output/analysis_results.json
  demos/scripts/benchmark.py
  demos/scripts/health_check.sh
  demos/scripts/run_all_tests.sh
  package.json
Due: prettier --write

chore: update tsbuildinfo
  .tsbuildinfo
Due: none

fix: resolve TypeScript errors in edge packages
  packages/edge-ai/src/optimization/ModelOptimizer.ts
  packages/edge-computing/src/index.ts
  packages/edge-runtime/src/orchestrator/ContainerOrchestrator.ts
  packages/edge-sync/src/sync/SyncManager.ts
Due: eslint --fix --max-warnings=0 --cache

test(nlp): add comprehensive test suite and configuration
  packages/entity-extraction/jest.config.cjs
  packages/entity-extraction/package.json
  packages/entity-extraction/src/disambiguation/index.test.ts
  packages/entity-extraction/src/ner/index.test.ts
  packages/entity-extraction/tsconfig.json
  packages/language-models/jest.config.cjs
  packages/language-models/package.json
  packages/language-models/src/embeddings/index.test.ts
  packages/language-models/src/summarization/index.test.ts
  packages/language-models/tsconfig.json
  packages/nlp/jest.config.cjs
  packages/nlp/package.json
  packages/nlp/src/language-detection/index.test.ts
  packages/nlp/src/normalization/index.test.ts
  packages/nlp/src/preprocessing/index.test.ts
  packages/nlp/src/spelling/index.test.ts
  packages/nlp/src/tokenization/index.test.ts
  packages/nlp/tsconfig.json
  packages/text-analytics/jest.config.cjs
  packages/text-analytics/package.json
  packages/text-analytics/src/classification/index.test.ts
  packages/text-analytics/src/sentiment/index.test.ts
  packages/text-analytics/src/similarity/index.test.ts
  packages/text-analytics/src/topic-modeling/index.test.ts
  packages/text-analytics/tsconfig.json
  services/nlp-service/jest.config.cjs
  services/nlp-service/package.json
  services/nlp-service/src/routes/nlp.test.ts
  services/nlp-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

perf: optimize maintainability CI workflow for faster execution
  .github/workflows/maintainability-check.yml
  package.json
Due: prettier --write

fix(quantum): Improve type safety, validation, and add comprehensive test suites
  packages/cryptographic-agility/jest.config.js
  packages/post-quantum-crypto/jest.config.js
  packages/post-quantum-crypto/src/__tests__/pqc.test.ts
  packages/quantum-ml/jest.config.js
  packages/quantum-ml/src/circuits/quantum-neural-network.ts
  packages/quantum-ml/src/hybrid/quantum-classical-model.ts
  packages/quantum-ml/src/kernels/quantum-kernel.ts
  packages/quantum-optimization/jest.config.js
  packages/quantum-optimization/src/__tests__/optimization.test.ts
  packages/quantum-optimization/src/qaoa/qaoa-optimizer.ts
  packages/quantum-optimization/src/vqe/vqe-solver.ts
  packages/quantum-simulation/jest.config.js
  packages/quantum-simulation/src/__tests__/simulation.test.ts
  packages/quantum-simulation/src/circuits/circuit-builder.ts
Due: eslint --fix --max-warnings=0 --cache

docs: add PR template for maintainability features
  .github/PULL_REQUEST_TEMPLATE/maintainability.md
Due: prettier --write

chore(nlp): add ESLint configs, READMEs, and project polish
  packages/entity-extraction/README.md
  packages/entity-extraction/eslint.config.js
  packages/language-models/README.md
  packages/language-models/eslint.config.js
  packages/nlp/eslint.config.js
  packages/text-analytics/README.md
  packages/text-analytics/eslint.config.js
  services/nlp-service/README.md
  services/nlp-service/eslint.config.js
Due: prettier --write

Build government procurement automation engine (#12121)
  services/procurement-automation/README.md
  services/procurement-automation/package.json
  services/procurement-automation/src/ato-document-generator.ts
  services/procurement-automation/src/compliance-tracker.ts
  services/procurement-automation/src/engine.ts
  services/procurement-automation/src/form-autocomplete.ts
  services/procurement-automation/src/index.ts
  services/procurement-automation/src/requirements-parser.ts
  services/procurement-automation/src/sbom-integration.ts
  services/procurement-automation/src/types.ts
  services/procurement-automation/tsconfig.json
Due: prettier --write

Build explainable AI for defense analytics (#12120)
  server/src/services/explainable-defense-ai/ExplainableDefenseAI.ts
  server/src/services/explainable-defense-ai/__tests__/ExplainableDefenseAI.test.ts
  server/src/services/explainable-defense-ai/index.ts
  server/src/services/explainable-defense-ai/resolvers.ts
  server/src/services/explainable-defense-ai/schema.graphql
Due: none

Build comprehensive CRM system for Summit (#12119)
  services/crm/README.md
  services/crm/package.json
  services/crm/src/index.ts
  services/crm/src/models/types.ts
  services/crm/src/services/ActivityService.ts
  services/crm/src/services/CompanyService.ts
  services/crm/src/services/ContactService.ts
  services/crm/src/services/DealService.ts
  services/crm/src/services/EmailService.ts
  services/crm/src/services/LeadScoringService.ts
  services/crm/src/services/ReportingService.ts
  services/crm/src/services/TaskService.ts
  services/crm/src/services/WorkflowService.ts
  services/crm/tsconfig.json
Due: prettier --write

docs(claude): enhance CLAUDE.md with comprehensive project documentation
  CLAUDE.md
Due: prettier --write

feat(governance): add TypeScript configs, tests & service integration
  docs/governance/SERVICE_INVENTORY.md
  packages/authority-compiler/src/__tests__/policy-evaluator.test.ts
  packages/authority-compiler/tsconfig.json
  packages/canonical-entities/src/__tests__/entity-validation.test.ts
  packages/canonical-entities/tsconfig.json
  packages/connector-sdk/src/__tests__/connector-base.test.ts
  packages/connector-sdk/tsconfig.json
  packages/governance-hooks/src/integration/server-setup.ts
  packages/governance-hooks/tsconfig.json
  packages/prov-ledger-extensions/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: improve synthetic data packages for PR readiness
  packages/audio-synthesis/tsconfig.json
  packages/data-augmentation/package.json
  packages/data-augmentation/src/__tests__/DataAugmentor.test.ts
  packages/data-augmentation/src/index.ts
  packages/data-augmentation/src/types.ts
  packages/data-augmentation/tsconfig.json
  packages/geospatial-synthesis/tsconfig.json
  packages/graph-synthesis/tsconfig.json
  packages/image-synthesis/tsconfig.json
  packages/privacy-preserving/package.json
  packages/privacy-preserving/src/__tests__/DifferentialPrivacy.test.ts
  packages/privacy-preserving/src/anonymization/KAnonymity.ts
  packages/privacy-preserving/src/index.ts
  packages/privacy-preserving/src/types.ts
  packages/privacy-preserving/src/validation/PrivacyValidator.ts
  packages/privacy-preserving/tsconfig.json
  packages/synthetic-data/src/__tests__/TabularSynthesizer.test.ts
  packages/synthetic-data/src/index.ts
  packages/synthetic-data/src/types.ts
  packages/text-generation/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Build resilient workflow orchestration system (#12124)
  services/resilient-orchestrator/README.md
  services/resilient-orchestrator/package.json
  services/resilient-orchestrator/src/comms/FailoverController.ts
  services/resilient-orchestrator/src/comms/SatelliteCommHandler.ts
  services/resilient-orchestrator/src/comms/index.ts
  services/resilient-orchestrator/src/federation/CoalitionFederator.ts
  services/resilient-orchestrator/src/federation/index.ts
  services/resilient-orchestrator/src/healing/SelfHealingEngine.ts
  services/resilient-orchestrator/src/healing/index.ts
  services/resilient-orchestrator/src/index.ts
  services/resilient-orchestrator/src/reporting/CommandReporter.ts
  services/resilient-orchestrator/src/reporting/index.ts
  services/resilient-orchestrator/src/routing/NetworkTopologyManager.ts
  services/resilient-orchestrator/src/routing/index.ts
  services/resilient-orchestrator/src/types.ts
  services/resilient-orchestrator/src/utils/logger.ts
  services/resilient-orchestrator/src/utils/metrics.ts
  services/resilient-orchestrator/src/workflows/WorkflowOrchestrator.ts
  services/resilient-orchestrator/src/workflows/index.ts
  services/resilient-orchestrator/tsconfig.json
Due: prettier --write

AI-powered security scanning and vulnerability remediation (#12123)
  services/ai-security-scanner/README.md
  services/ai-security-scanner/package.json
  services/ai-security-scanner/src/attribution/vulnerability-attributor.ts
  services/ai-security-scanner/src/compliance/compliance-logger.ts
  services/ai-security-scanner/src/index.ts
  services/ai-security-scanner/src/redteam/red-team-engine.ts
  services/ai-security-scanner/src/remediation/remediation-engine.ts
  services/ai-security-scanner/src/scanner/ai-scanner.ts
  services/ai-security-scanner/src/types.ts
  services/ai-security-scanner/src/zero-trust/validator.ts
  services/ai-security-scanner/tsconfig.json
Due: prettier --write

Dynamic multidomain data fusion system (#12122)
  packages/battle-fusion/package.json
  packages/battle-fusion/src/index.ts
  packages/battle-fusion/tsconfig.json
  packages/battle-types/package.json
  packages/battle-types/src/index.ts
  packages/battle-types/tsconfig.json
  services/battle-api/package.json
  services/battle-api/src/index.ts
  services/battle-api/src/schema.graphql
  services/battle-api/tsconfig.json
  services/battle-command-service/package.json
  services/battle-command-service/src/index.ts
  services/battle-command-service/tsconfig.json
  services/battle-fusion-service/package.json
  services/battle-fusion-service/src/index.ts
  services/battle-fusion-service/tsconfig.json
  services/battle-ingest-service/package.json
  services/battle-ingest-service/src/index.ts
  services/battle-ingest-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(kg): add graph traversal, indexing, relationship extraction, and entity linking
  packages/entity-resolution/jest.config.js
  packages/entity-resolution/src/index.ts
  packages/entity-resolution/src/linking/EntityLinker.ts
  packages/entity-resolution/src/recognition/RelationshipExtractor.ts
  packages/graph-analytics/jest.config.js
  packages/knowledge-graph/jest.config.js
  packages/knowledge-graph/src/database/GraphTraversal.ts
  packages/knowledge-graph/src/index.ts
  packages/knowledge-graph/src/indexing/GraphIndexer.ts
  packages/ontology-management/jest.config.js
  packages/semantic-reasoning/jest.config.js
Due: eslint --fix --max-warnings=0 --cache

Secure sandbox for rapid prototyping and deployment (#12126)
  docker-compose.sandbox.yml
  k8s/innovation-sandbox/deployment.yaml
  services/innovation-sandbox/Dockerfile
  services/innovation-sandbox/package-lock.json
  services/innovation-sandbox/package.json
  services/innovation-sandbox/src/__tests__/SecureSandbox.test.ts
  services/innovation-sandbox/src/__tests__/SensitiveDataDetector.test.ts
  services/innovation-sandbox/src/__tests__/TestCaseGenerator.test.ts
  services/innovation-sandbox/src/detector/SensitiveDataDetector.ts
  services/innovation-sandbox/src/exports.ts
  services/innovation-sandbox/src/generator/TestCaseGenerator.ts
  services/innovation-sandbox/src/index.ts
  services/innovation-sandbox/src/integration/ProvLedgerClient.ts
  services/innovation-sandbox/src/migration/MissionMigrator.ts
  services/innovation-sandbox/src/sandbox/SecureSandbox.ts
  services/innovation-sandbox/src/types/index.ts
  services/innovation-sandbox/src/utils/SandboxRegistry.ts
  services/innovation-sandbox/src/utils/logger.ts
  services/innovation-sandbox/src/utils/tracing.ts
  services/innovation-sandbox/tsconfig.json
  services/innovation-sandbox/vitest.config.ts
Due: prettier --write

chore: add Jest configuration files for testing
  packages/data-augmentation/jest.config.js
  packages/privacy-preserving/jest.config.js
  packages/synthetic-data/jest.config.js
Due: none

fix(data-quality): fix TypeScript errors in streaming quality monitor
  .tsbuildinfo
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  packages/data-quality/src/streaming/stream-quality-monitor.ts
Due: eslint --fix --max-warnings=0 --cache

fix(conductor): integrate orchestrator API and fix test imports
  server/src/conductor/api/conductor-routes.ts
  server/src/conductor/mcp/__tests__/orchestrator.test.ts
Due: none

Enable cross-border virtual assistant collaboration (#12131)
  server/src/cross-border/README.md
  server/src/cross-border/__tests__/handover-protocol.test.ts
  server/src/cross-border/__tests__/metrics.test.ts
  server/src/cross-border/__tests__/multilingual-bridge.test.ts
  server/src/cross-border/__tests__/partner-registry.test.ts
  server/src/cross-border/__tests__/resilience.test.ts
  server/src/cross-border/config.ts
  server/src/cross-border/gateway.ts
  server/src/cross-border/graphql/index.ts
  server/src/cross-border/graphql/resolvers.ts
  server/src/cross-border/graphql/schema.ts
  server/src/cross-border/handover-protocol.ts
  server/src/cross-border/index.ts
  server/src/cross-border/metrics.ts
  server/src/cross-border/multilingual-bridge.ts
  server/src/cross-border/partner-registry.ts
  server/src/cross-border/resilience.ts
  server/src/cross-border/router.ts
  server/src/cross-border/types.ts
Due: prettier --write

feat(governance): add OTEL instrumentation & Wave 0 validation scripts
  packages/governance-hooks/src/index.ts
  packages/governance-hooks/src/otel/instrumentation.ts
  scripts/wave0/04-validate-schema.sh
  scripts/wave0/05-generate-reports.sh
Due: eslint --fix --max-warnings=0 --cache

feat(quantum): Add shared types, entropy management, and cloud provider integration
  packages/post-quantum-crypto/src/index.ts
  packages/post-quantum-crypto/src/utils/entropy.ts
  packages/quantum-simulation/src/backends/cloud-providers.ts
  packages/quantum-simulation/src/index.ts
  packages/quantum-types/package.json
  packages/quantum-types/src/index.ts
  packages/quantum-types/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(forecasting): use const for non-reassigned variables
  packages/forecasting/src/algorithms/ARIMA.ts
  packages/forecasting/src/algorithms/ExponentialSmoothing.ts
Due: eslint --fix --max-warnings=0 --cache

Create secure sandbox for AI experimentation (#12134)
  docker-compose.dev.yml
  services/ai-sandbox/.env.example
  services/ai-sandbox/Dockerfile
  services/ai-sandbox/README.md
  services/ai-sandbox/jest.config.js
  services/ai-sandbox/package.json
  services/ai-sandbox/src/api/routes.ts
  services/ai-sandbox/src/index.ts
  services/ai-sandbox/src/queue/TaskQueue.ts
  services/ai-sandbox/src/sandbox/PolicyEngine.ts
  services/ai-sandbox/src/sandbox/SandboxRuntime.ts
  services/ai-sandbox/src/types.ts
  services/ai-sandbox/src/utils/logger.ts
  services/ai-sandbox/src/utils/metrics.ts
  services/ai-sandbox/tests/policy.test.ts
  services/ai-sandbox/tests/sandbox.test.ts
  services/ai-sandbox/tests/types.test.ts
  services/ai-sandbox/tsconfig.json
Due: prettier --write

feat: add tests, logger, and command palette integration for agents
  src/agents/archetypes/__tests__/agent-archetypes.test.ts
  src/agents/archetypes/base/AgentLogger.ts
  src/agents/archetypes/base/index.ts
  src/agents/archetypes/index.ts
  src/agents/archetypes/ui/AgentCommands.ts
  src/agents/index.ts
Due: none

Build autonomous regulatory compliance monitoring agents (#12133)
  services/regulatory-compliance-agents/package.json
  services/regulatory-compliance-agents/src/__tests__/agents.test.ts
  services/regulatory-compliance-agents/src/agents/ComplianceImpactAssessor.ts
  services/regulatory-compliance-agents/src/agents/RegulationAnalysisAgent.ts
  services/regulatory-compliance-agents/src/agents/RegulationFeedMonitor.ts
  services/regulatory-compliance-agents/src/agents/WorkflowAdaptationAgent.ts
  services/regulatory-compliance-agents/src/agents/index.ts
  services/regulatory-compliance-agents/src/index.ts
  services/regulatory-compliance-agents/src/services/ComplianceOrchestrator.ts
  services/regulatory-compliance-agents/src/types/index.ts
  services/regulatory-compliance-agents/src/utils/logger.ts
  services/regulatory-compliance-agents/tsconfig.json
Due: prettier --write

test(automl): add comprehensive test suites for AutoML packages
  packages/automl/jest.config.js
  packages/automl/package.json
  packages/automl/src/__tests__/ModelSelector.test.ts
  packages/automl/src/__tests__/PipelineBuilder.test.ts
  packages/hyperopt/jest.config.js
  packages/hyperopt/package.json
  packages/hyperopt/src/__tests__/BayesianOptimizer.test.ts
  packages/nas/jest.config.js
  packages/nas/package.json
  packages/nas/src/__tests__/NASSearcher.test.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Enhance translation and AI for public services (#12132)
  packages/language-models/src/translation/index.ts
  packages/language-models/src/translation/real-time-translator.ts
  services/citizen-ai/jest.config.cjs
  services/citizen-ai/package.json
  services/citizen-ai/src/__tests__/conversational-ai.test.ts
  services/citizen-ai/src/__tests__/nlu-service.test.ts
  services/citizen-ai/src/__tests__/real-time-translator.test.ts
  services/citizen-ai/src/api.ts
  services/citizen-ai/src/cache.ts
  services/citizen-ai/src/conversational-ai.ts
  services/citizen-ai/src/index.ts
  services/citizen-ai/src/metrics.ts
  services/citizen-ai/src/nlu-service.ts
  services/citizen-ai/src/server.ts
  services/citizen-ai/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Implement auditable AI modules for government services (#12129)
  .tsbuildinfo
  services/gov-ai-governance/README.md
  services/gov-ai-governance/package.json
  services/gov-ai-governance/pnpm-lock.yaml
  services/gov-ai-governance/src/__tests__/api.test.ts
  services/gov-ai-governance/src/__tests__/citizen-data-control.test.ts
  services/gov-ai-governance/src/__tests__/ethical-ai-registry.test.ts
  services/gov-ai-governance/src/__tests__/transparency-service.test.ts
  services/gov-ai-governance/src/audit-integration.ts
  services/gov-ai-governance/src/cache.ts
  services/gov-ai-governance/src/citizen-data-control.ts
  services/gov-ai-governance/src/ethical-ai-registry.ts
  services/gov-ai-governance/src/index.ts
  services/gov-ai-governance/src/opa-policies/gov-ai.rego
  services/gov-ai-governance/src/policy-integration.ts
  services/gov-ai-governance/src/telemetry.ts
  services/gov-ai-governance/src/transparency-service.ts
  services/gov-ai-governance/src/types.ts
  services/gov-ai-governance/tsconfig.json
  services/gov-ai-governance/vitest.config.ts
Due: prettier --write

Automate administrative tasks and reduce bureaucracy (#12128)
  services/admin-automation/package-lock.json
  services/admin-automation/package.json
  services/admin-automation/src/__tests__/citizen-profile-aggregator.test.ts
  services/admin-automation/src/__tests__/form-autocomplete.test.ts
  services/admin-automation/src/__tests__/metrics.test.ts
  services/admin-automation/src/__tests__/proactive-service-resolver.test.ts
  services/admin-automation/src/cache.ts
  services/admin-automation/src/citizen-profile-aggregator.ts
  services/admin-automation/src/errors.ts
  services/admin-automation/src/form-autocomplete.ts
  services/admin-automation/src/index.ts
  services/admin-automation/src/metrics.ts
  services/admin-automation/src/proactive-service-resolver.ts
  services/admin-automation/src/repository.ts
  services/admin-automation/src/types.ts
  services/admin-automation/src/workflow-automation.ts
  services/admin-automation/tsconfig.json
  services/admin-automation/vitest.config.ts
Due: prettier --write

feat(data-discovery-fusion): add tests, Docker, and module exports
  services/data-discovery-fusion/Dockerfile
  services/data-discovery-fusion/package.json
  services/data-discovery-fusion/src/__tests__/confidence.test.ts
  services/data-discovery-fusion/src/__tests__/context.test.ts
  services/data-discovery-fusion/src/__tests__/fusion.test.ts
  services/data-discovery-fusion/src/__tests__/profiler.test.ts
  services/data-discovery-fusion/src/api/index.ts
  services/data-discovery-fusion/src/confidence/index.ts
  services/data-discovery-fusion/src/context/index.ts
  services/data-discovery-fusion/src/fusion/index.ts
  services/data-discovery-fusion/src/profiler/index.ts
  services/data-discovery-fusion/src/scanner/index.ts
  services/data-discovery-fusion/tsconfig.json
  services/data-discovery-fusion/vitest.config.ts
Due: prettier --write

feat: improve audio platform with TTS, tests, and type fixes
  packages/audio-processing/__tests__/types.test.ts
  packages/audio-processing/__tests__/utils.test.ts
  packages/audio-processing/jest.config.cjs
  packages/speaker-identification/src/types.ts
  packages/speech-recognition/src/providers/aws.ts
  packages/speech-recognition/src/providers/azure.ts
  packages/speech-recognition/src/providers/base.ts
  packages/speech-recognition/src/providers/google.ts
  packages/speech-recognition/src/providers/index.ts
  packages/speech-recognition/src/providers/whisper.ts
  packages/text-to-speech/package.json
  packages/text-to-speech/src/index.ts
  packages/text-to-speech/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(wave0): add run-all script & completion summary
  docs/WAVE0_COMPLETION_SUMMARY.md
  scripts/wave0/run-all.sh
Due: prettier --write

feat(conductor): add async workflow execution and polling support
  server/src/conductor/mcp/__tests__/orchestrator.test.ts
  server/src/conductor/mcp/orchestrator-api.ts
  server/src/conductor/mcp/orchestrator.ts
Due: none

feat: add comprehensive tests, Docker support, streaming, monitoring, and authentication
  docs/predictive-analytics/examples/threat-forecasting-demo.ts
  models/prediction-models/survival/cox-proportional-hazards.ts
  packages/causal-inference/tests/causal.test.ts
  packages/forecasting/src/index.ts
  packages/forecasting/src/models/lstm.ts
  packages/forecasting/tests/arima.test.ts
  packages/forecasting/tests/ensemble.test.ts
  packages/forecasting/tests/prophet.test.ts
  packages/predictive-models/src/classifiers/svm.ts
  packages/predictive-models/src/index.ts
  packages/predictive-models/tests/classifiers.test.ts
  packages/predictive-models/tests/regressors.test.ts
  packages/risk-scoring/tests/risk-scoring.test.ts
  services/docker-compose.yml
  services/model-training/Dockerfile
  services/prediction-service/Dockerfile
  services/prediction-service/src/api/monitoring.ts
  services/prediction-service/src/api/streaming.ts
  services/prediction-service/src/middleware/auth.ts
  services/prediction-service/tests/integration.test.ts
  services/prometheus.yml
Due: eslint --fix --max-warnings=0 --cache
