Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

docs: Add baseline configuration analysis report
  docs/config-analysis-baseline.txt
Due: none

feat: add comprehensive roadmap implementation artifacts
  docs/presentations/EXEC_ROADMAP_PRESENTATION.md
  docs/roadmap/Q4_2025_DETAILED_EXECUTION_PLAN.md
  docs/roadmap/ROADMAP_TRACKING.csv
  docs/security/CRITICAL_CVE_REMEDIATION_PLAN.md
  monitoring/grafana/dashboards/roadmap-metrics-tracking.json
Due: prettier --write

docs: add roadmap documentation index and quick start guide
  docs/roadmap/README.md
Due: prettier --write

Fix invalid dependency versions in mobile-native and nlp packages
  apps/mobile-native/package.json
  packages/nlp/package.json
Due: prettier --write

Update build artifacts after dependency fixes and merge
  .tsbuildinfo
  apps/ml-engine/dist/config.d.ts
  apps/ml-engine/dist/config.js
  apps/ml-engine/dist/server.js
  apps/ml-engine/dist/services/EntityResolutionService.d.ts
  apps/ml-engine/dist/services/EntityResolutionService.js
  apps/ml-engine/dist/training/TrainingPipeline.d.ts
  apps/ml-engine/dist/training/TrainingPipeline.js
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  client/tsconfig.tsbuildinfo
Due: none

feat(cost): implement automation and infrastructure for top 5 cost-saving opportunities
  helm/karpenter/values.yaml
  k8s/karpenter/README.md
  k8s/karpenter/provisioner-general.yaml
  k8s/karpenter/provisioner-gpu.yaml
  k8s/karpenter/provisioner-spot.yaml
  scripts/cloud-cost/apply-ecr-lifecycle-policies.sh
  scripts/cloud-cost/cleanup-ebs-volumes.sh
  terraform/modules/vpc-endpoints/README.md
  terraform/modules/vpc-endpoints/main.tf
  terraform/modules/vpc-endpoints/outputs.tf
  terraform/modules/vpc-endpoints/variables.tf
  terraform/templates/ecr-lifecycle-policies/README.md
  terraform/templates/ecr-lifecycle-policies/aggressive-cleanup.json
  terraform/templates/ecr-lifecycle-policies/standard-lifecycle.json
  terraform/templates/s3-lifecycle-policies/README.md
  terraform/templates/s3-lifecycle-policies/artifacts-lifecycle.json
  terraform/templates/s3-lifecycle-policies/backups-lifecycle.json
  terraform/templates/s3-lifecycle-policies/intelligent-tiering.json
  terraform/templates/s3-lifecycle-policies/logs-lifecycle.json
Due: prettier --write

feat(reporting): add TypeScript types and validation layer
  server/src/services/reporting/types/Report.ts
  server/src/services/reporting/types/Template.ts
  server/src/services/reporting/types/index.ts
  server/src/services/reporting/validators/ReportRequestValidator.ts
  server/src/services/reporting/validators/TemplateValidator.ts
Due: none

feat(observability): Add comprehensive telemetry and observability stack
  server/observability/README.md
  server/observability/grafana-dashboard.json
  server/observability/prometheus-alerts.yml
  server/src/app.ts
  server/src/middleware/correlation-id.ts
  server/src/observability/enhanced-metrics.ts
  server/src/observability/neo4j-instrumentation.ts
  server/src/observability/postgres-instrumentation.ts
  server/src/observability/redis-instrumentation.ts
  server/src/observability/tracer.ts
Due: prettier --write

test(reporting): add comprehensive test fixtures and helpers
  server/src/tests/fixtures/reporting/mock-investigation-data.ts
  server/src/tests/fixtures/reporting/mock-templates.ts
  server/src/tests/fixtures/reporting/test-helpers.ts
  server/src/tests/unit/reporting/validators/ReportRequestValidator.test.ts
  server/src/tests/unit/reporting/validators/TemplateValidator.test.ts
Due: none

refactor(reporting): extract template management to dedicated registry
  server/src/services/reporting/ReportTemplateRegistry.ts
  server/src/services/reporting/templates/template-definitions.ts
Due: none

refactor(reporting): implement strategy pattern for export formats
  server/src/services/reporting/exporters/CSVExporter.ts
  server/src/services/reporting/exporters/ExporterFactory.ts
  server/src/services/reporting/exporters/HTMLExporter.ts
  server/src/services/reporting/exporters/IReportExporter.ts
  server/src/services/reporting/exporters/JSONExporter.ts
  server/src/services/reporting/exporters/PDFExporter.ts
Due: none

refactor(reporting): separate HTML rendering and metrics tracking
  server/src/services/reporting/ReportMetrics.ts
  server/src/services/reporting/utils/HTMLRenderer.ts
Due: none

feat(reporting): create public API facade and add documentation
  REFACTOR_PLAN_ReportingService.md
  server/src/services/reporting/index.ts
Due: prettier --write

Implement Summit agentic automation framework (#11975)
  db/migrations/017_agent_framework.sql
  policy/agent/agent_policy.rego
  services/agent-gateway/.env.example
  services/agent-gateway/README.md
  services/agent-gateway/docs/AGENT_ONBOARDING.md
  services/agent-gateway/docs/SUMMIT_INTEGRATION.md
  services/agent-gateway/examples/maintenance-agent.ts
  services/agent-gateway/jest.config.js
  services/agent-gateway/package.json
  services/agent-gateway/src/AgentGateway.ts
  services/agent-gateway/src/AgentService.ts
  services/agent-gateway/src/ApprovalService.ts
  services/agent-gateway/src/MonitoringService.ts
  services/agent-gateway/src/ObservabilityService.ts
  services/agent-gateway/src/PolicyEnforcer.ts
  services/agent-gateway/src/QuotaManager.ts
  services/agent-gateway/src/__tests__/safety-scenarios.test.ts
  services/agent-gateway/src/server.ts
  services/agent-gateway/src/types.ts
  services/agent-gateway/tsconfig.json
Due: prettier --write

Triage tech debt backlog for upcoming sprints (#11972)
  reports/tech-debt-triage-q4-2025.md
Due: prettier --write

Build Intelligence Operations Command Platform (#11969)
  docs/operations/C2_PROCEDURES.md
  docs/operations/GUIDE.md
  packages/collection-coordination/package.json
  packages/collection-coordination/src/index.ts
  packages/collection-coordination/tsconfig.json
  packages/decision-support/package.json
  packages/decision-support/src/index.ts
  packages/decision-support/tsconfig.json
  packages/multi-int-fusion/package.json
  packages/multi-int-fusion/src/index.ts
  packages/multi-int-fusion/tsconfig.json
  packages/operations-center/package.json
  packages/operations-center/src/index.ts
  packages/operations-center/tsconfig.json
  packages/operations-management/package.json
  packages/operations-management/src/index.ts
  packages/operations-management/tsconfig.json
  packages/targeting-support/package.json
  packages/targeting-support/src/index.ts
  packages/targeting-support/tsconfig.json
  services/mission-coordination-service/package.json
  services/mission-coordination-service/src/index.js
  services/operations-c2-service/package.json
  services/operations-c2-service/src/index.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Address competitive gaps in Summit positioning (#11967)
  docs/architecture/agent-archetypes.md
  docs/competitive-analysis/gap-assessment.md
  docs/gtm/case-study-summit-internal.md
  docs/gtm/competitive-positioning.md
  docs/gtm/pricing.md
  docs/gtm/reference-architecture.md
  docs/gtm/trust-center.md
  policies/agent-archetypes.rego
  src/agents/archetypes/README.md
  src/agents/archetypes/base/AgentRegistry.ts
  src/agents/archetypes/base/BaseAgentArchetype.ts
  src/agents/archetypes/base/index.ts
  src/agents/archetypes/base/types.ts
  src/agents/archetypes/chief-of-staff/ChiefOfStaffAgent.ts
  src/agents/archetypes/coo/COOAgent.ts
  src/agents/archetypes/index.ts
  src/agents/archetypes/revops/RevOpsAgent.ts
Due: prettier --write

Write a CLAUDE.md (#11966)
  CLAUDE.md
Due: prettier --write

Fix a small todo (#11965)
  server/src/conductor/events/engine.ts
Due: none

Fix CI/CD pipeline TypeScript compilation errors (#11890)
  .github/workflows/copilot-adoption-report.yml
  package.json
  pnpm-lock.yaml
  server/package.json
Due: prettier --write

Generate master planning docs from markdown files (#11889)
  DOCUMENTATION_MAP.md
  EXECUTIVE_SUMMARY.md
  MASTER_PLANNING.md
  SPRINT_INDEX.md
Due: prettier --write

Build connector SDK and sample connectors (#11884)
  connectors/ACCEPTANCE_TEST.py
  connectors/DELIVERY_SUMMARY.md
  connectors/QUICK_START.md
  connectors/README.md
  connectors/SDK_MANIFEST_SCHEMA.yaml
  connectors/__tests__/test_csv_edge_cases.py
  connectors/__tests__/test_stix_parsing.py
  connectors/csv_connector/connector.py
  connectors/csv_connector/manifest.yaml
  connectors/rss_news_connector/manifest.yaml
  connectors/sdk/__init__.py
  connectors/sdk/base.py
  connectors/sdk/license.py
  connectors/sdk/pii.py
  connectors/sdk/rate_limiter.py
  connectors/sdk/validator.py
  connectors/stix_taxii_connector/manifest.yaml
  ingestion/wizard.py
  python/intelgraph_py/provenance/receipts_store.json
Due: prettier --write

Add canonical entities with bitemporal provenance (#11883)
  CANONICAL_ENTITIES_IMPLEMENTATION.md
  server/src/canonical/README.md
  server/src/canonical/entities/Asset.ts
  server/src/canonical/entities/Case.ts
  server/src/canonical/entities/Claim.ts
  server/src/canonical/entities/Document.ts
  server/src/canonical/entities/Event.ts
  server/src/canonical/entities/Location.ts
  server/src/canonical/entities/Organization.ts
  server/src/canonical/entities/Person.ts
  server/src/canonical/export.ts
  server/src/canonical/helpers.ts
  server/src/canonical/index.ts
  server/src/canonical/provenance.ts
  server/src/canonical/queryPack.ts
  server/src/canonical/types.ts
  server/src/migrations/021_canonical_entities_bitemporal.ts
  server/src/tests/canonical/bitemporal.test.ts
  server/src/tests/canonical/integration.test.ts
  server/src/tests/canonical/provenance.test.ts
Due: prettier --write

Set up GitHub Actions CI/CD pipeline (#11880)
  .github/workflows/helm-validation.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/security-comprehensive.yml
  IMPLEMENTATION_SUMMARY.md
  PR_DESCRIPTION.md
  docs/github-actions-setup.md
Due: prettier --write

Build GraphQL schema governance and validation (#11877)
  .github/workflows/graphql-validation.yml
  docs/graphql/IMPLEMENTATION_COMPLETE.md
  docs/graphql/MIGRATION_GUIDE.md
  docs/graphql/SCHEMA_GOVERNANCE.md
  graphql/README.md
  graphql/__tests__/schema-registry.test.ts
  graphql/__tests__/setup.ts
  graphql/complexity-calculator.ts
  graphql/directives/auth.ts
  graphql/documentation-generator.ts
  graphql/examples/integration-example.ts
  graphql/federation/gateway.ts
  graphql/federation/subgraph.ts
  graphql/jest.config.js
  graphql/performance-monitor.ts
  graphql/playground.html
  graphql/schema-registry.ts
  graphql/validation-rules.ts
Due: prettier --write

Wire end-to-end demo stories for two use cases (#11876)
  conductor-ui/frontend/src/views/demos/DeescalationDemo.tsx
  conductor-ui/frontend/src/views/demos/MisinfoDefenseDemo.tsx
  demos/IMPLEMENTATION_SUMMARY.md
  demos/IMPROVEMENTS_AND_PR_READINESS.md
  demos/README.md
  demos/cli.sh
  demos/copilot/SAFETY.md
  demos/copilot/safety_harness.py
  demos/deescalation/copilot/prompts.json
  demos/deescalation/datasets/demo-conversations.jsonl
  demos/deescalation/output/analysis_results.json
  demos/deescalation/pipelines/load_demo_data.py
  demos/misinfo-defense/copilot/prompts.json
  demos/misinfo-defense/datasets/demo-posts.jsonl
  demos/misinfo-defense/output/analysis_results.json
  demos/misinfo-defense/pipelines/load_demo_data.py
  demos/misinfo-defense/pipelines/test_load_demo_data.py
  demos/scripts/deescalation-demo-script.md
  demos/scripts/misinfo-demo-script.md
  package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Build Extensions and Ecosystem Framework (#11875)
  docs/extensions/IMPLEMENTATION_SUMMARY.md
  docs/extensions/README.md
  docs/extensions/building-extensions.md
  docs/extensions/quick-reference.md
  extensions/examples/analytics-dashboard/README.md
  extensions/examples/analytics-dashboard/extension.json
  extensions/examples/analytics-dashboard/package.json
  extensions/examples/analytics-dashboard/src/commands/chart.ts
  extensions/examples/analytics-dashboard/src/index.ts
  extensions/examples/analytics-dashboard/src/tools/stats.ts
  extensions/examples/analytics-dashboard/src/tools/summary.ts
  extensions/examples/analytics-dashboard/tsconfig.json
  packages/extensions/README.md
  packages/extensions/bin/summit-ext
  packages/extensions/cli.ts
  packages/extensions/package.json
  packages/extensions/src/index.ts
  packages/extensions/src/integrations/cli.ts
  packages/extensions/src/integrations/command-palette.ts
  packages/extensions/src/integrations/copilot.ts
  packages/extensions/src/loader.ts
  packages/extensions/src/manager.ts
  packages/extensions/src/policy/default-policy.rego
  packages/extensions/src/policy/enforcer.ts
  packages/extensions/src/registry.ts
  packages/extensions/src/server-integration.ts
  packages/extensions/src/types.ts
  packages/extensions/templates/basic/.gitignore
  packages/extensions/templates/basic/README.md
  packages/extensions/templates/basic/extension.json
  packages/extensions/templates/basic/package.json
  packages/extensions/templates/basic/src/index.ts
  packages/extensions/templates/basic/tsconfig.json
  packages/extensions/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Optimize database performance and caching (#11873)
  config/__tests__/neo4j.test.ts
  config/neo4j.ts
  config/postgresql.ts
  config/redis.ts
  docs/MIGRATION_GUIDE.md
  docs/PR_SUMMARY.md
  docs/examples/database-optimization-integration.ts
  docs/performance/DATABASE_OPTIMIZATION.md
  docs/performance/README.md
  middleware/database-monitoring.ts
  middleware/dataloader.ts
  middleware/pagination.ts
  migrations/add-neo4j-indexes.cypher
  migrations/add-performance-indexes.sql
Due: prettier --write

feat(catalog): Add advanced data catalog enhancements and integrations
  packages/catalog-integrations/package.json
  packages/catalog-integrations/src/tableau/TableauConnector.ts
  packages/catalog-integrations/tsconfig.json
  packages/catalog-ui/package.json
  packages/catalog-ui/src/components/LineageGraph/LineageGraph.tsx
  packages/catalog-ui/tsconfig.json
  packages/data-catalog/src/notifications/WebhookService.ts
  packages/data-catalog/src/stores/PostgresCatalogStore.ts
  packages/data-quality/package.json
  packages/data-quality/src/rules/QualityRuleEngine.ts
  packages/data-quality/tsconfig.json
  packages/metadata-discovery/src/extractors/MongoDBExtractor.ts
  packages/metadata-discovery/src/extractors/MySQLExtractor.ts
  packages/metadata-discovery/src/extractors/Neo4jExtractor.ts
  packages/metadata-discovery/src/extractors/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(deep-learning): Add production-ready enhancements and tools
  examples/deep-learning/README.md
  examples/deep-learning/advanced/nas-architecture-search.ts
  examples/deep-learning/advanced/optimization-pipeline.ts
  examples/deep-learning/basic/image-classification.ts
  examples/deep-learning/basic/object-detection.ts
  examples/deep-learning/basic/text-generation.ts
  examples/deep-learning/production/complete-ml-pipeline.ts
  packages/data-preprocessing/package.json
  packages/data-preprocessing/src/index.ts
  packages/data-preprocessing/tsconfig.json
  services/model-registry-service/package.json
  services/model-registry-service/src/index.ts
  services/model-registry-service/tsconfig.json
  tools/dl-cli/package.json
  tools/dl-cli/src/index.ts
  tools/dl-cli/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

docs(catalog): Add comprehensive enhancements documentation
  docs/catalog/ENHANCEMENTS.md
Due: prettier --write

security: comprehensive CI/CD pipeline security review and hardening
  .github/dependabot.yml
  SECURITY-REVIEW-PIPELINE.md
  policy/deployment-security.rego
  renovate.json
  scripts/verify-deployment.sh
Due: prettier --write

feat: enhance Intelligence Operations C2 Platform with advanced capabilities
  packages/operations-analytics/package.json
  packages/operations-analytics/src/index.ts
  packages/operations-analytics/tsconfig.json
  packages/operations-management/test-utils/index.ts
  packages/operations-monitoring/package.json
  packages/operations-monitoring/src/index.ts
  packages/operations-monitoring/tsconfig.json
  services/operations-c2-service/api/REST_API.md
  services/operations-c2-service/api/schema.graphql
  services/operations-c2-service/examples/complete-mission-workflow.js
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(warehouse): Add enterprise security, time-travel, BI integration, catalog, and monitoring
  docs/warehouse/ADVANCED_FEATURES.md
  docs/warehouse/README.md
  packages/bi-connectors/package.json
  packages/bi-connectors/src/index.ts
  packages/bi-connectors/src/semantic-layer.ts
  packages/data-catalog/package.json
  packages/data-catalog/src/catalog-manager.ts
  packages/data-catalog/src/index.ts
  packages/data-catalog/src/lineage-tracker.ts
  packages/time-travel/package.json
  packages/time-travel/src/index.ts
  packages/time-travel/src/temporal-engine.ts
  packages/warehouse-monitoring/package.json
  packages/warehouse-monitoring/src/index.ts
  packages/warehouse-monitoring/src/metrics-collector.ts
  packages/warehouse-security/package.json
  packages/warehouse-security/src/access-control/column-access-control.ts
  packages/warehouse-security/src/access-control/rbac-manager.ts
  packages/warehouse-security/src/access-control/row-level-security.ts
  packages/warehouse-security/src/auditing/audit-logger.ts
  packages/warehouse-security/src/index.ts
  packages/warehouse-security/src/masking/data-masking.ts
  packages/warehouse-security/src/security-manager.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: implement comprehensive API versioning and deprecation strategy
  client/src/services/api-client-with-deprecation.ts
  docs/API_DEPRECATION_QUICK_REFERENCE.md
  docs/API_VERSIONING_DEPRECATION_STRATEGY.md
  docs/INTEGRATION_EXAMPLE.md
  maestro-orchestration-api.yaml
  server/src/graphql/plugins/deprecation-plugin.ts
  server/src/middleware/api-version.ts
  server/src/middleware/deprecation.ts
Due: prettier --write

docs(deep-learning): Add comprehensive implementation summary
  docs/deep-learning/SUMMARY.md
Due: prettier --write

Path conditions:
  prettier --write: (((((((any of: *.{md,css,scss,json}) or (any of: .github/**/*.{yml,yaml})) or (any of: deploy/**/*.{yml,yaml})) or (any of: infra/**/*.{yml,yaml})) or (any of: k8s/**/*.{yml,yaml})) or (any of: policy/**/*.{yml,yaml})) or (any of: client/.lintstagedrc.json)) or (any of: package.json)
  eslint --fix --max-warnings=0 --cache: (any of: packages/**/src/**/*.{ts,tsx,js,jsx}) or (any of: conductor-ui/**/src/**/*.{ts,tsx,js,jsx})
