Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json,yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix --max-warnings=0 --cache"],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

docs: harden scoped ci workflow guidance (#1837)
  AGENTS.md
Due: prettier --write

Automate scoped CI workflow (#1836)
  scoped-ci-automation-report.md
  scripts/scoped_ci_automation.sh
Due: prettier --write

Add Jira ticket plan for GQLSnap tooling (#1835)
  tools/gqlsnap/jira-tickets.md
Due: prettier --write

docs: add ratelaw jira planning outline (#1834)
  tools/ratelaw/JIRA_TICKETS.md
Due: prettier --write

Add devkit onboarding docs and improve smoke retries (#1833)
  .github/ISSUE_TEMPLATE/dev_environment.yml
  docs/ENV_VARS.md
  docs/TROUBLESHOOTING.md
  docs/devkit-local-development.md
  tools/devkit/smoke.js
Due: prettier --write

feat: introduce migratevet migration linter (#1832)
  tools/migratevet/__init__.py
  tools/migratevet/cli.py
  tools/migratevet/models.py
  tools/migratevet/postgres_rules.py
  tools/migratevet/scanner.py
  tools/migratevet/tests/fixtures/postgres/bad/001_risky_ops.sql
  tools/migratevet/tests/fixtures/postgres/good/001_create_table.sql
  tools/migratevet/tests/test_cli.py
Due: none

docs: outline ghostkey jira ticket plan (#1830)
  tools/ghostkey/jira_tickets.md
Due: prettier --write

feat: add gatekeeper policy linter (#1829)
  tools/__init__.py
  tools/gatekeeper/__init__.py
  tools/gatekeeper/__main__.py
  tools/gatekeeper/cli.py
  tools/gatekeeper/lint.py
  tools/gatekeeper/reporting.py
  tools/gatekeeper/tests/test_cli.py
Due: none

Feature/adc (#1822)
  packages/adc/package.json
  packages/adc/src/index.ts
  packages/adc/tests/adc.spec.ts
  packages/adc/tsconfig.json
  packages/hrn/package.json
  packages/hrn/src/index.ts
  packages/hrn/tests/hrn.spec.ts
  packages/hrn/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Feature/cfa tdw (#1821)
  packages/cfa-tdw/package.json
  packages/cfa-tdw/src/index.ts
  packages/cfa-tdw/tests/cfa-tdw.spec.ts
  packages/cfa-tdw/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Feature/gdr (#1820)
  packages/gdr/package.json
  packages/gdr/src/index.ts
  packages/gdr/tests/gdr.spec.ts
  packages/gdr/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

Add observability first telemetry program plan (#1816)
  docs/observability-first-plan.md
Due: prettier --write

feat: establish data spine governance toolkit (#1815)
  .github/workflows/data-spine-governance.yml
  docs/adr/ADR-0001-data-spine.md
  docs/audits/data-residency-audit.md
  services/data-spine/README.md
  services/data-spine/bin/data-spine.js
  services/data-spine/contracts/customer-profile/1.0.0/schema.json
  services/data-spine/contracts/customer-profile/1.1.0/schema.json
  services/data-spine/contracts/transaction-events/1.0.0/schema.avsc
  services/data-spine/lineage/snapshots/mvp.json
  services/data-spine/package.json
  services/data-spine/reports/residency-audit.json
  services/data-spine/src/cli.js
  services/data-spine/src/constants.js
  services/data-spine/src/index.js
  services/data-spine/src/lineageSink.js
  services/data-spine/src/policyHooks.js
  services/data-spine/src/schemaRegistry.js
  services/data-spine/src/tokenization.js
  services/data-spine/test/lineageSink.test.js
  services/data-spine/test/policyHooks.test.js
  services/data-spine/test/schemaRegistry.test.js
Due: prettier --write

feat: add canary rollout controller with auto rollback (#1814)
  scripts/release/canary-rollback-playbook.sh
  services/release/canary/README.md
  services/release/canary/canaryManager.test.ts
  services/release/canary/canaryManager.ts
  services/release/canary/healthScorer.ts
  services/release/canary/types.ts
Due: prettier --write

feat: enforce cve budgets and attestation gates (#1813)
  ops/attest/README.md
  ops/attest/fixtures/release-manifest-blocked.json
  ops/attest/fixtures/release-manifest-pass.json
  ops/attest/image_attestation_gate.py
  ops/grafana/dashboards/supply-chain-risk.json
  ops/security/cve_budget/README.md
  ops/security/cve_budget/config.yaml
  ops/security/cve_budget/fixtures/sample-failing-build.txt
  ops/security/cve_budget/fixtures/sbom-conductor-api.json
  ops/security/cve_budget/fixtures/sbom-inference-worker.json
  ops/security/cve_budget/fixtures/sbom-reporting-api.json
  ops/security/cve_budget/fixtures/vuln-report-fail.json
  ops/security/cve_budget/fixtures/vuln-report-pass.json
  ops/security/cve_budget/gate.py
  policy/conftest/kubernetes_admission.rego
  policy/opa/README.md
  policy/opa/cve_budget.rego
  reports/security-weekly-2025-09-01.md
  runs/cve-budget-pass.json
  runs/release-blocked.json
  runs/release-pass.json
Due: prettier --write

docs: expand merge-train readiness snapshot (#1811)
  GREEN_TRAIN_STATUS_REPORT.md
Due: prettier --write

docs: add Proof-First Core GA sprint kit (#1808)
  docs/project_management/proof-first-core-ga-sprint-kit.md
Due: prettier --write

feat: integrate shared asset manager across systems (#1802)
  packages/shared/asset-manager.ts
  services/data-quality/src/lineage-tracker.ts
  src/quantum/QuantumCrypto.ts
Due: none

feat: enrich IntelCraft graph ingestion toolkit (#1801)
  intelgraph/README.md
  intelgraph/__init__.py
  intelgraph/graph_analytics/core_analytics.py
  intelgraph/intelcraft/__init__.py
  intelgraph/intelcraft/integration.py
  intelgraph/tests/test_intelcraft_integration.py
  simulated_ingestion/ingestion_pipeline.py
Due: prettier --write

docs: expand abac step-up plan (#1800)
  docs/identity-policy-abac-step-up-plan.md
Due: prettier --write

Update kickoff checklist with evidence tracking (#1799)
  docs/project_management/paved-road-ci-cd-kickoff.md
Due: prettier --write

docs: expand data spine kickoff plan (#1798)
  docs/operations/data-spine-kickoff-plan.md
Due: prettier --write

Finalize Disclosure Packager kickoff launch plan (#1797)
  docs/disclosure-packager-kickoff.md
Due: prettier --write

Enhance Risk & Compliance automation MVP planning (#1796)
  docs/risk/risk-compliance-automation-mvp.md
Due: prettier --write

Add proof-first GA vertical slice implementation (#1792)
  docs/sprints/proof-first-core-ga.md
  ga-graphai/packages/cost-guard/AGENTS.md
  ga-graphai/packages/cost-guard/package.json
  ga-graphai/packages/cost-guard/src/index.ts
  ga-graphai/packages/cost-guard/src/types.ts
  ga-graphai/packages/cost-guard/tests/costGuard.spec.ts
  ga-graphai/packages/cost-guard/tsconfig.json
  ga-graphai/packages/er-service/AGENTS.md
  ga-graphai/packages/er-service/package.json
  ga-graphai/packages/er-service/src/index.ts
  ga-graphai/packages/er-service/src/types.ts
  ga-graphai/packages/er-service/tests/erService.spec.ts
  ga-graphai/packages/er-service/tests/fixtures/golden.json
  ga-graphai/packages/er-service/tsconfig.json
  ga-graphai/packages/prov-ledger/package.json
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/src/manifest.ts
  ga-graphai/packages/prov-ledger/tests/manifest.test.ts
  ga-graphai/packages/prov-ledger/vitest.config.ts
  ga-graphai/packages/query-copilot/AGENTS.md
  ga-graphai/packages/query-copilot/package.json
  ga-graphai/packages/query-copilot/src/index.ts
  ga-graphai/packages/query-copilot/src/nlToCypher.ts
  ga-graphai/packages/query-copilot/src/sandbox.ts
  ga-graphai/packages/query-copilot/src/types.ts
  ga-graphai/packages/query-copilot/src/undoRedo.ts
  ga-graphai/packages/query-copilot/tests/nlToCypher.spec.ts
  ga-graphai/packages/query-copilot/tsconfig.json
  ga-graphai/packages/web/src/index.ts
  ga-graphai/packages/web/src/tri-pane.ts
  ga-graphai/packages/web/tests/canvas.test.ts
  ga-graphai/packages/web/tests/triPane.test.ts
Due: prettier --write

feat: integrate activities engagement module (#1790)
  intelgraph/client/src/App.jsx
  intelgraph/client/src/components/activities/ActivitiesPage.jsx
  intelgraph/client/src/components/auth/LoginPage.jsx
  intelgraph/client/src/components/common/Layout.jsx
  intelgraph/client/src/components/common/NotFound.jsx
  intelgraph/client/src/components/dashboard/Dashboard.jsx
  intelgraph/client/src/components/graph/GraphExplorer.jsx
  intelgraph/client/src/components/investigation/InvestigationPage.jsx
  intelgraph/client/src/graphql/mutations.js
  intelgraph/client/src/main.jsx
  intelgraph/client/src/services/apollo.js
  intelgraph/client/src/store/index.js
  intelgraph/client/src/store/slices/authSlice.js
  intelgraph/client/src/store/slices/graphSlice.js
  intelgraph/client/src/store/slices/uiSlice.js
  intelgraph/client/src/styles/globals.css
  intelgraph/client/src/styles/theme.js
  intelgraph/server/server.js
  intelgraph/server/src/modules/activities/config.js
  intelgraph/server/src/modules/activities/engagementPlan.js
  intelgraph/server/src/modules/activities/metrics.js
Due: prettier --write

Add Proof-First Core GA sprint kit (#1788)
  docs/sprints/PROOF_FIRST_CORE_GA_SPRINT_KIT.md
Due: prettier --write

feat: deliver disclosure packager exports (#1787)
  .evidence/disclosure-packager/2024-12-06.md
  .github/workflows/attest-provenance.yml
  adr/0002-disclosure-packager.md
  alertmanager/route-mc-v035.yml
  client/src/App.router.jsx
  client/src/pages/DisclosurePackagerPage.tsx
  client/src/services/disclosures.ts
  controllers/admission/disclosure-bundle-policy.yaml
  dashboard/grafana/disclosure-packager.json
  docs/disclosure-packager-user-guide.md
  docs/releases/disclosure-packager-release-notes.md
  scripts/verify-disclosure-signing.sh
  server/src/app.ts
  server/src/disclosure/export-service.ts
  server/src/metrics/disclosureMetrics.ts
  server/src/routes/__tests__/disclosures.test.ts
  server/src/routes/disclosures.ts
Due: prettier --write

docs: deliver observability first assets (#1786)
  docs/observability/OBSERVABILITY_FIRST_TELEMETRY_SDKS_SLO_KITS.md
  docs/observability/alerts/observability-first-alerts.yaml
  docs/observability/dashboards/availability-reliability.json
  docs/observability/dashboards/infrastructure-saturation.json
  docs/observability/dashboards/performance-latency.json
  docs/observability/dashboards/service-overview.json
  docs/observability/evidence/README.md
  docs/observability/metrics_catalogue.yaml
  docs/observability/runbooks/error-budget-runbook.md
  docs/observability/runbooks/latency-slo-runbook.md
  docs/observability/runbooks/saturation-runbook.md
  docs/observability/slo/sample-service-slo.md
Due: prettier --write

docs: outline canary reliability mvp plan (#1784)
  docs/release/canary_manager_synthetic_probes_auto_rollback.md
Due: prettier --write

feat: wire provenance signing and verification (#1775)
  apps/web/public/exports/run-101/manifest.json
  apps/web/public/exports/run-101/manifest.sig
  apps/web/public/exports/run-101/public.key
  apps/web/src/data/sampleProvenance.ts
  apps/web/src/lib/provenance.ts
  apps/web/src/pages/maestro/pages/Artifacts.tsx
  apps/web/src/pages/maestro/pages/Audit.tsx
  packages/connectors/pyproject.toml
  packages/connectors/src/connectors/main.py
  packages/connectors/src/connectors/models.py
  packages/prov-ledger/package.json
  packages/prov-ledger/src/cli/verify.ts
  packages/prov-ledger/src/index.ts
  packages/sdk-py/pyproject.toml
  packages/sdk-py/src/maestro_sdk/provenance.py
  summit_helm_argocd_multiacct_pack/helm/summit/templates/provenance-secret.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-dev.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-prod.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-staging.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: MAIN-TO-GREEN Phase 1 Complete - Jest multi-project infrastructure working
  deploy_maestro.sh
Due: none
