Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix(data-discovery-fusion): fix TypeScript build and test issues
  .tsbuildinfo
  services/data-discovery-fusion/package-lock.json
  services/data-discovery-fusion/package.json
  services/data-discovery-fusion/src/__tests__/context.test.ts
  services/data-discovery-fusion/src/events/EventPublisher.ts
  services/data-discovery-fusion/tsconfig.json
Due: prettier --write

fix: repair broken tsconfig.json files across packages and services
  .tsbuildinfo
  apps/analytics-engine/dist/config.d.ts
  apps/analytics-engine/dist/middleware/auth.d.ts
  apps/analytics-engine/dist/utils/logger.d.ts
  apps/graph-analytics/dist/config.d.ts
  apps/graph-analytics/dist/middleware/auth.d.ts
  apps/graph-analytics/dist/utils/logger.d.ts
  apps/ml-engine/dist/config.d.ts
  apps/ml-engine/dist/utils/logger.d.ts
  apps/search-engine/dist/middleware/auth.d.ts
  apps/search-engine/dist/routes/searchRoutes.js
  apps/search-engine/dist/utils/nlp.js
  client/tsconfig.tsbuildinfo
  packages/common-types/tsconfig.json
  packages/graph-ai-core/tsconfig.json
  packages/ingest-wizard/tsconfig.json
  packages/jira-integration/tsconfig.json
  packages/maestro-cli/tsconfig.json
  packages/maestro-core/tsconfig.json
  packages/prov-ledger-sdk/tsconfig.json
  packages/sdk-ts/tsconfig.json
  packages/types/tsconfig.json
  services/agent-runtime/tsconfig.json
  services/api-gateway/tsconfig.json
  services/authz-gateway/tsconfig.json
  services/build-hub/tsconfig.json
  services/docling-svc/tsconfig.json
  services/exporter/tsconfig.json
  services/feed-processor/tsconfig.json
  services/graph-core/tsconfig.json
  services/license-registry/tsconfig.json
  services/prov-ledger/tsconfig.json
Due: prettier --write

fix: Clean up TypeScript configs and exports for PR readiness
  .tsbuildinfo
  node-compile-cache/v22.21.1-x64-9de703df-0/1e7f928a
  packages/content-verification/src/index.ts
  packages/content-verification/tsconfig.json
  packages/deepfake-detection/src/index.ts
  packages/deepfake-detection/tsconfig.json
  packages/disinformation-detection/src/index.ts
  packages/disinformation-detection/tsconfig.json
  packages/fake-account-detection/src/index.ts
  packages/fake-account-detection/tsconfig.json
  packages/media-manipulation/tsconfig.json
  packages/synthetic-media/tsconfig.json
  pnpm-lock.yaml
  services/authenticity-service/tsconfig.json
  services/deception-detection-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(ai-human-collaboration): add production-ready infrastructure
  services/ai-human-collaboration/jest.config.js
  services/ai-human-collaboration/src/events.ts
  services/ai-human-collaboration/src/index.ts
  services/ai-human-collaboration/src/instrumentation.ts
  services/ai-human-collaboration/src/persistence.ts
Due: none

Build comprehensive content management system (#12152)
  apps/web/src/components/github/CreatePRDialog.tsx
  apps/web/src/hooks/useGitHubIntegration.ts
  services/proxy/src/integrations/github.ts
Due: none

fix(counterintel): resolve TypeScript compilation errors
  .tsbuildinfo
  packages/autonomous-ops/src/index.ts
  packages/covert-ops/src/index.ts
  packages/darkweb-intel/src/index.ts
  packages/deception-tech/src/index.ts
  packages/fusion-analytics/src/index.ts
  packages/sigint-processor/src/index.ts
  packages/threat-hunting/src/index.ts
Due: eslint --fix --max-warnings=0 --cache

feat(tests): extend test coverage with integration tests and utilities
  jest.config.cjs
  services/audit_svc/package.json
  services/copilot/package.json
  services/graph-api/package.json
  services/policy/package.json
  tests/integration/auth.test.ts
  tests/integration/health.test.ts
  tests/utils/jest-setup.ts
Due: prettier --write

docs: add NL Graph Query + GraphRAG + Evidence-First MVP PRD
  docs/prds/NL-Graph-Query-GraphRAG-Evidence-First-MVP-PRD.md
Due: prettier --write

fix(ai-wellbeing-predictors): production-ready build with zero dependencies
  .tsbuildinfo
  packages/ai-wellbeing-predictors/.gitignore
  packages/ai-wellbeing-predictors/README.md
  packages/ai-wellbeing-predictors/package.json
  packages/ai-wellbeing-predictors/src/InterventionRecommender.ts
  packages/ai-wellbeing-predictors/src/ResourceAllocator.ts
  packages/ai-wellbeing-predictors/src/WellbeingPredictor.ts
  packages/ai-wellbeing-predictors/src/__tests__/WellbeingPredictor.test.ts
  packages/ai-wellbeing-predictors/src/index.ts
  packages/ai-wellbeing-predictors/src/types.ts
  packages/ai-wellbeing-predictors/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: Resolve TypeScript errors and add comprehensive tests
  .tsbuildinfo
  packages/election-disruption-detection/package.json
  packages/election-disruption-detection/pnpm-lock.yaml
  packages/election-disruption-detection/src/__tests__/index.test.ts
  packages/election-disruption-detection/src/base/index.ts
  packages/election-disruption-detection/src/detectors/legitimacy-attack.ts
  packages/election-disruption-detection/src/detectors/perception-hack.ts
  packages/election-disruption-detection/src/detectors/voter-suppression.ts
  packages/election-disruption-detection/src/index.ts
  packages/election-disruption-detection/src/types.ts
  packages/election-disruption-detection/tsconfig.json
  packages/election-disruption-detection/vitest.config.ts
  packages/mass-behavior-dynamics/package.json
  packages/mass-behavior-dynamics/pnpm-lock.yaml
  packages/mass-behavior-dynamics/src/__tests__/index.test.ts
  packages/mass-behavior-dynamics/src/collective/critical-mass.ts
  packages/mass-behavior-dynamics/src/index.ts
  packages/mass-behavior-dynamics/tsconfig.json
  packages/mass-behavior-dynamics/vitest.config.ts
  services/election-integrity-service/package.json
  services/election-integrity-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(citizen-service): add CORS and barrel exports
  services/citizen-service/src/index.ts
  services/citizen-service/src/lib.ts
  services/citizen-service/src/middleware/cors.ts
Due: none

feat(ecosystem): add tests and fix tsconfig for decentralized services
  .tsbuildinfo
  packages/decentralized-identity/src/__tests__/did-manager.test.ts
  packages/decentralized-identity/tsconfig.json
  packages/decentralized-identity/vitest.config.ts
  packages/smart-contract-sdk/src/__tests__/contracts.test.ts
  packages/smart-contract-sdk/tsconfig.json
  packages/smart-contract-sdk/vitest.config.ts
  services/data-marketplace/src/__tests__/listing-manager.test.ts
  services/data-marketplace/src/listing-manager.ts
  services/data-marketplace/tsconfig.json
  services/data-marketplace/vitest.config.ts
  services/data-pool/src/__tests__/data-pool-manager.test.ts
  services/data-pool/tsconfig.json
  services/data-pool/vitest.config.ts
  services/distributed-registry/src/__tests__/peer-registry.test.ts
  services/distributed-registry/tsconfig.json
  services/distributed-registry/vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(ai-human-collaboration): add health checks, error handling, and CHANGELOG
  services/ai-human-collaboration/CHANGELOG.md
  services/ai-human-collaboration/src/errors.ts
  services/ai-human-collaboration/src/health.ts
  services/ai-human-collaboration/src/index.ts
Due: prettier --write

chore(logistics): Add jest configs and exclude tests from build
  services/logistics-automation-service/jest.config.js
  services/logistics-automation-service/tsconfig.json
  services/smart-contracting-service/jest.config.js
  services/smart-contracting-service/tsconfig.json
Due: prettier --write

Build file upload and storage system (#12158)
  client/src/components/FileUpload.tsx
  server/src/services/FileStorageService.ts
Due: none

feat(mesh): add tests, examples, and documentation
  .tsbuildinfo
  examples/code-refactor/index.ts
  examples/incident-investigation/index.ts
  packages/mesh-sdk/README.md
  packages/mesh-sdk/test/agents/RedTeamAgent.test.ts
  packages/mesh-sdk/test/tools.test.ts
Due: prettier --write

Draft MVP PRD for NL Graph Query system (#12162)
  docs/prds/NL-Graph-Query-GraphRAG-Evidence-First-MVP-PRD.md
Due: prettier --write

docs: add workflow orchestration documentation and ETL example
  .tsbuildinfo
  docs/orchestration/README.md
  packages/task-scheduling/src/index.ts
  packages/workflow-orchestration/examples/etl-pipeline.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat: add support ticketing system
  server/src/app.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/resolvers/supportTicket.ts
  server/src/graphql/schema.ts
  server/src/migrations/022_support_tickets.ts
  server/src/routes/support-tickets.ts
  server/src/services/support-tickets.ts
  server/tests/support-tickets.test.ts
Due: none

fix(governance): resolve TypeScript compilation errors across packages
  .tsbuildinfo
  node-compile-cache/v22.21.1-x64-9de703df-0/1e7f928a
  packages/authority-compiler/tsconfig.json
  packages/canonical-entities/src/types.ts
  packages/canonical-entities/tsconfig.json
  packages/connector-sdk/tsconfig.json
  packages/governance-hooks/package.json
  packages/governance-hooks/src/index.ts
  packages/governance-hooks/src/integration/server-setup.ts
  packages/governance-hooks/tsconfig.json
  packages/prov-ledger-extensions/src/index.ts
  packages/prov-ledger-extensions/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(api): add GitHub integration API routes for PR creation
  .tsbuildinfo
  server/src/app.ts
  server/src/routes/github-integrations.ts
Due: none

feat(sigint-telemetry): add defensive SIGINT/CYBINT simulation stack
  services/sigint-telemetry/README.md
  services/sigint-telemetry/docs/ARCHITECTURE.md
  services/sigint-telemetry/package.json
  services/sigint-telemetry/pnpm-lock.yaml
  services/sigint-telemetry/src/detections/anomaly.ts
  services/sigint-telemetry/src/detections/engine.ts
  services/sigint-telemetry/src/detections/index.ts
  services/sigint-telemetry/src/detections/rules/cloud.ts
  services/sigint-telemetry/src/detections/rules/endpoint.ts
  services/sigint-telemetry/src/detections/rules/identity.ts
  services/sigint-telemetry/src/detections/rules/index.ts
  services/sigint-telemetry/src/detections/rules/network.ts
  services/sigint-telemetry/src/generators/campaign.ts
  services/sigint-telemetry/src/generators/cloud.ts
  services/sigint-telemetry/src/generators/endpoint.ts
  services/sigint-telemetry/src/generators/identity.ts
  services/sigint-telemetry/src/generators/index.ts
  services/sigint-telemetry/src/generators/network.ts
  services/sigint-telemetry/src/generators/utils.ts
  services/sigint-telemetry/src/index.ts
  services/sigint-telemetry/src/schemas/base.ts
  services/sigint-telemetry/src/schemas/cloud.ts
  services/sigint-telemetry/src/schemas/endpoint.ts
  services/sigint-telemetry/src/schemas/identity.ts
  services/sigint-telemetry/src/schemas/index.ts
  services/sigint-telemetry/src/schemas/network.ts
  services/sigint-telemetry/src/simulation/controls.ts
  services/sigint-telemetry/src/simulation/graph.ts
  services/sigint-telemetry/src/simulation/index.ts
  services/sigint-telemetry/src/simulation/runner.ts
  services/sigint-telemetry/tests/detections.test.ts
  services/sigint-telemetry/tests/generators.test.ts
  services/sigint-telemetry/tests/schemas.test.ts
  services/sigint-telemetry/tests/simulation.test.ts
  services/sigint-telemetry/tsconfig.json
  services/sigint-telemetry/vitest.config.ts
Due: prettier --write

feat(payments): add comprehensive payment processing system
  server/src/payments/PaymentProcessor.ts
  server/src/payments/PaymentReconciliation.ts
  server/src/payments/SubscriptionManager.ts
  server/src/payments/index.ts
  server/src/tests/PaymentProcessor.test.ts
  server/src/tests/SubscriptionManager.test.ts
Due: none

Build comprehensive customer support ticketing system (#12164)
  server/src/app.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/resolvers/supportTicket.ts
  server/src/graphql/schema.ts
  server/src/migrations/022_support_tickets.ts
  server/src/routes/support-tickets.ts
  server/src/services/support-tickets.ts
  server/tests/support-tickets.test.ts
Due: none

feat(github): add PR creation UI functionality
  apps/web/src/components/conductor/ConductorDashboard.tsx
  apps/web/src/components/github/CreatePullRequestModal.tsx
  apps/web/src/components/github/GitHubPanel.tsx
  apps/web/src/components/github/index.ts
  apps/web/src/hooks/useGitHubIntegration.ts
  server/src/routes/github.ts
Due: none

chore: update tsbuildinfo
  .tsbuildinfo
Due: none

Build comprehensive payment processing system (#12167)
  server/src/payments/PaymentProcessor.ts
  server/src/payments/PaymentReconciliation.ts
  server/src/payments/SubscriptionManager.ts
  server/src/payments/index.ts
  server/src/tests/PaymentProcessor.test.ts
  server/src/tests/SubscriptionManager.test.ts
Due: none

Design defensive SIGINT telemetry system (#12170)
  services/sigint-telemetry/README.md
  services/sigint-telemetry/docs/ARCHITECTURE.md
  services/sigint-telemetry/package.json
  services/sigint-telemetry/pnpm-lock.yaml
  services/sigint-telemetry/src/detections/anomaly.ts
  services/sigint-telemetry/src/detections/engine.ts
  services/sigint-telemetry/src/detections/index.ts
  services/sigint-telemetry/src/detections/rules/cloud.ts
  services/sigint-telemetry/src/detections/rules/endpoint.ts
  services/sigint-telemetry/src/detections/rules/identity.ts
  services/sigint-telemetry/src/detections/rules/index.ts
  services/sigint-telemetry/src/detections/rules/network.ts
  services/sigint-telemetry/src/generators/campaign.ts
  services/sigint-telemetry/src/generators/cloud.ts
  services/sigint-telemetry/src/generators/endpoint.ts
  services/sigint-telemetry/src/generators/identity.ts
  services/sigint-telemetry/src/generators/index.ts
  services/sigint-telemetry/src/generators/network.ts
  services/sigint-telemetry/src/generators/utils.ts
  services/sigint-telemetry/src/index.ts
  services/sigint-telemetry/src/schemas/base.ts
  services/sigint-telemetry/src/schemas/cloud.ts
  services/sigint-telemetry/src/schemas/endpoint.ts
  services/sigint-telemetry/src/schemas/identity.ts
  services/sigint-telemetry/src/schemas/index.ts
  services/sigint-telemetry/src/schemas/network.ts
  services/sigint-telemetry/src/simulation/controls.ts
  services/sigint-telemetry/src/simulation/graph.ts
  services/sigint-telemetry/src/simulation/index.ts
  services/sigint-telemetry/src/simulation/runner.ts
  services/sigint-telemetry/tests/detections.test.ts
  services/sigint-telemetry/tests/generators.test.ts
  services/sigint-telemetry/tests/schemas.test.ts
  services/sigint-telemetry/tests/simulation.test.ts
  services/sigint-telemetry/tsconfig.json
  services/sigint-telemetry/vitest.config.ts
Due: prettier --write

feat: add comprehensive counterintelligence platform
  client/src/components/CounterIntelligenceDashboard.tsx
  server/src/services/counterintelligence/AnomalyCorrelationService.ts
  server/src/services/counterintelligence/DeceptionDetectionEngine.ts
  server/src/services/counterintelligence/ThreatActorModelingService.ts
  server/src/services/counterintelligence/index.ts
Due: none

feat(kg): add export utilities, config management, and similarity functions
  packages/entity-resolution/src/index.ts
  packages/entity-resolution/src/utils/similarity.ts
  packages/knowledge-graph/src/index.ts
  packages/knowledge-graph/src/utils/GraphExporter.ts
  packages/knowledge-graph/src/utils/config.ts
Due: eslint --fix --max-warnings=0 --cache

fix(payments): align imports with project conventions
  server/src/payments/index.ts
  server/src/tests/PaymentProcessor.test.ts
  server/src/tests/SubscriptionManager.test.ts
Due: none

feat(graph-db): implement comprehensive graph database and relationship intelligence platform
  .tsbuildinfo
  docs/graph-db/ALGORITHMS.md
  docs/graph-db/GUIDE.md
  docs/graph-db/QUERY_LANGUAGE.md
  packages/graph-algorithms/package.json
  packages/graph-algorithms/src/centrality/CentralityMeasures.ts
  packages/graph-algorithms/src/clustering/GraphClustering.ts
  packages/graph-algorithms/src/community/CommunityDetection.ts
  packages/graph-algorithms/src/index.ts
  packages/graph-algorithms/src/pathfinding/ShortestPath.ts
  packages/graph-algorithms/tsconfig.json
  packages/graph-database/package.json
  packages/graph-database/src/index.ts
  packages/graph-database/src/storage/GraphStorage.ts
  packages/graph-database/src/types.ts
  packages/graph-database/tsconfig.json
  packages/graph-query/package.json
  packages/graph-query/src/QueryEngine.ts
  packages/graph-query/src/index.ts
  packages/graph-query/tsconfig.json
  packages/link-prediction/package.json
  packages/link-prediction/src/LinkPredictor.ts
  packages/link-prediction/src/index.ts
  packages/link-prediction/tsconfig.json
  packages/relationship-mining/package.json
  packages/relationship-mining/src/PatternMining.ts
  packages/relationship-mining/src/index.ts
  packages/relationship-mining/tsconfig.json
  services/graph-db-service/package.json
  services/graph-db-service/src/server.ts
  services/graph-db-service/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(graph-db): remove external dependencies and fix TypeScript compilation
  .tsbuildinfo
  packages/graph-algorithms/package.json
  packages/graph-algorithms/src/index.ts
  packages/graph-database/package.json
  packages/graph-database/src/index.ts
  packages/graph-database/src/storage/GraphStorage.ts
  packages/graph-database/src/types.ts
  packages/graph-query/package.json
  packages/graph-query/src/QueryEngine.ts
  packages/graph-query/src/index.ts
  packages/link-prediction/package.json
  packages/link-prediction/src/index.ts
  packages/relationship-mining/package.json
  packages/relationship-mining/src/index.ts
  services/graph-db-service/package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

feat(graph): add comprehensive test suite for graph packages
  packages/graph-algorithms/package.json
  packages/graph-algorithms/src/__tests__/algorithms.test.ts
  packages/graph-algorithms/tsconfig.json
  packages/graph-database/package.json
  packages/graph-database/src/__tests__/GraphStorage.test.ts
  packages/graph-database/tsconfig.json
  packages/graph-query/tsconfig.json
  packages/link-prediction/package.json
  packages/link-prediction/src/__tests__/LinkPredictor.test.ts
  packages/link-prediction/tsconfig.json
  packages/relationship-mining/package.json
  packages/relationship-mining/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(graph-db-service): add explicit type annotation for express app
  services/graph-db-service/src/server.ts
Due: none

feat(github): enhance PR creation with templates and success UX
  apps/web/src/components/github/CreatePullRequestModal.tsx
  server/src/app.ts
Due: none
