Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

fix: harden semantic search pooling and migration audits
  server/scripts/audit_migrations.ts
  server/src/search/search.ts
  server/src/services/SemanticSearchService.ts
  server/src/tests/audit_migrations.test.ts
  server/src/tests/semanticSearch.test.ts
Due: none

chore: adopt proprietary licensing metadata
  DOCUMENTATION_INDEX.md
  agents/governance/package.json
  agents/multimodal/package.json
  agents/orchestrator/package.json
  apps/analytics-engine/package.json
  apps/workflow-engine/package.json
  cea/sdk/package.json
  cli/package.json
  deepagent-mvp/package.json
  deploy/aws/Dockerfile
  deploy/aws/Dockerfile.simple
  docs/licensing/PROPRIETARY_LICENSING_GUIDE.md
  intelgraph/package.json
  mcc/package.json
  package.json
  services/scenario-engine-service/package.json
Due: prettier --write

docs: define shipping graph and repo boundaries
  README.md
  docs/REPO_BOUNDARIES.md
  docs/SHIPPING_GRAPH.md
  docs/_meta/repo-map.yaml
Due: prettier --write

feat: add llm routing decision audit records
  docs/llm-decision-records.md
  server/src/maestro/routing/__tests__/llm-decision-router.test.ts
  server/src/maestro/routing/decision-recorder.ts
  server/src/maestro/routing/learning-to-rank.ts
  server/src/maestro/routing/llm-decision-router.ts
  server/src/maestro/routing/replay-runner.ts
Due: prettier --write

fix: resolve type errors and lint issues for green main
  apps/analytics-engine/src/server.ts
  apps/graph-analytics/src/server.ts
  apps/intelgraph-api/src/lib/validators.ts
  apps/search-engine/src/server.ts
  apps/search-engine/src/services/SearchAnalyticsService.ts
  apps/web/src/components/admin/UserManagement.tsx
  apps/web/src/hooks/useExplainView.ts
  apps/web/src/pages/AdminDashboard.tsx
  server/src/db/Neo4jConnectionManager.ts
  server/tsconfig.json
  services/license-registry/src/index.ts
  services/mlops-service/src/server.ts
  services/model-registry-service/src/server.ts
  tsconfig.base.json
Due: prettier --write

feat: add LLM routing decision records + replay support (#13646)
  docs/llm-decision-records.md
  server/src/maestro/routing/__tests__/llm-decision-router.test.ts
  server/src/maestro/routing/decision-recorder.ts
  server/src/maestro/routing/learning-to-rank.ts
  server/src/maestro/routing/llm-decision-router.ts
  server/src/maestro/routing/replay-runner.ts
Due: prettier --write

docs: define shipping graph and repo boundaries (#13645)
  README.md
  docs/REPO_BOUNDARIES.md
  docs/SHIPPING_GRAPH.md
  docs/_meta/repo-map.yaml
Due: prettier --write

Switch Summit licensing to proprietary model (#13644)
  DOCUMENTATION_INDEX.md
  agents/governance/package.json
  agents/multimodal/package.json
  agents/orchestrator/package.json
  apps/analytics-engine/package.json
  apps/workflow-engine/package.json
  cea/sdk/package.json
  cli/package.json
  deepagent-mvp/package.json
  deploy/aws/Dockerfile
  deploy/aws/Dockerfile.simple
  docs/licensing/PROPRIETARY_LICENSING_GUIDE.md
  intelgraph/package.json
  mcc/package.json
  package.json
  services/scenario-engine-service/package.json
Due: prettier --write

fix: harden semantic search pooling and migration audits (#13643)
  server/scripts/audit_migrations.ts
  server/src/search/search.ts
  server/src/services/SemanticSearchService.ts
  server/src/tests/audit_migrations.test.ts
Due: none

Harden CI pipelines and Helm rollouts (#13642)
  .github/workflows/_reusable-node-pnpm-setup.yml
  .github/workflows/_reusable-setup.yml
  .github/workflows/_reusable-toolchain-setup.yml
  .github/workflows/deploy-preview-canary.yml
  .github/workflows/deploy-prod-canary.yml
  .github/workflows/deploy-stage-canary.yml
  .github/workflows/helm-ci.yml
Due: prettier --write

Fix BatchProcessor partial batches and add coverage (#13641)
  services/er-service/src/batch/BatchProcessor.ts
  services/er-service/tests/unit/batch-processor.test.ts
Due: none

Fix CORS headers, telemetry routing, and scanner stability (#13640)
  client/src/components/ErrorBoundary.tsx
  client/src/components/__tests__/ErrorBoundary.test.tsx
  server/src/config/__tests__/cors-options.test.ts
  server/src/config/cors-options.ts
  server/src/pii/scanner.ts
  server/src/routes/__tests__/monitoring.test.ts
  server/src/routes/monitoring.ts
  server/tests/pii/bulk-scanner.integration.test.ts
  server/tests/security/config_guardrails.test.ts
Due: none

Stabilize Prompts polling and audit validation (#13639)
  apps/web/src/SymphonyOperatorConsole.tsx
  apps/web/src/__tests__/PromptActivityMonitor.test.tsx
  src/audit/AuditLogger.ts
  tests/audit/AuditLogger.test.ts
Due: none

Add gateway GraphQL latency guardrails (#13638)
  ga-graphai/packages/gateway/src/app.js
  ga-graphai/packages/gateway/src/metrics.js
  ops/runbooks/observability-sre.md
Due: prettier --write

test: add data platform e2e golden path with citations (#13637)
  server/tests/e2e/data-platform.golden.test.ts
  server/tests/fixtures/data-platform/golden-brief.md
  server/tests/helpers/dataPlatformHarness.ts
Due: prettier --write

feat: add tenant context + enforcement hooks (no schema changes yet) (#13636)
  docs/security/multi-tenant-enforcement-plan.md
  server/src/middleware/tenant.ts
  server/src/security/tenantContext.ts
  server/tests/security/tenant-context.test.ts
Due: prettier --write

fix: repair broken package.json files after conflict marker removal
  apps/web/package.json
  legacy/packages/threat-hunting/package.json
  packages/query-optimizer/package.json
  packages/shared/package.json
Due: prettier --write

fix: update invalid dependency versions
  packages/signal-processing/package.json
  services/agentic-mesh-evaluation/package.json
  services/cep/package.json
Due: prettier --write

fix: resolve PR template merge conflicts and case sensitivity
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Due: prettier --write

fix: clean up test configuration files
  packages/graph-ai-core/package.json
  packages/graph-ai-core/src/index.ts
  pnpm-lock.yaml
  server/jest.config.cjs
  server/jest.config.ts
  server/package.json
  server/pnpm-lock.yaml
  server/tests/setup/jest.setup.ts
  server/tsconfig.json
  services/graphrag/package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix: resolve remaining merge conflict in ml-engine dist file
  apps/ml-engine/dist/training/TrainingPipeline.d.ts
Due: none

chore: remove corrupted .tsbuildinfo file
  .tsbuildinfo
Due: none

fix: repair test files and jest configuration
  server/pnpm-lock.yaml
  server/server/data/governance/schemas/00000000-0000-0000-0000-000000000001.json
  server/server/data/governance/schemas/83fca579-02c3-445a-9fb0-0a2469b404fb.json
  server/server/data/governance/schemas/8a0bb662-cd2b-48c1-a44f-0353cd9c9e08.json
  server/server/data/governance/vocabularies/00000000-0000-0000-0000-000000000002.json
  server/tests/PathRankingService.test.ts
  server/tests/security/guardrails.test.ts
  server/tests/setup/jest.setup.ts
Due: prettier --write

fix: repair e2e/golden-path.spec.ts syntax errors
  e2e/golden-path.spec.ts
Due: none

security: update storybook to fix CVE vulnerabilities
  apps/mobile-interface/package.json
  apps/web/package.json
  frontend/package.json
Due: prettier --write

ci: add fast pr gate workflow
  .github/workflows/ci-pr-gate.yml
  docs/development/ci-tiers.md
  scripts/ci/pr-gate.sh
Due: prettier --write

chore: harden drop gateway security
  apps/server/package.json
  apps/server/src/config/rateLimit.ts
  apps/server/src/config/security.ts
  apps/server/src/graphql/resolvers/drop.ts
  apps/server/src/graphql/schemas/drop.graphql
  apps/server/src/index.ts
  apps/server/src/observability/securityLogger.ts
  apps/server/src/security/validation.ts
  apps/server/src/security/vault.ts
Due: prettier --write

chore: harden postgres pooling and investigation indexes
  server/src/db/migrations/20250821_investigation_expression_indexes.sql
  server/src/db/pg.ts
Due: none

chore(ci): optimize pr quality gate
  .github/workflows/pr-quality-gate.yml
Due: prettier --write

chore: add mvp gate workflow and scaffolding
  .github/workflows/mvp-gate.yml
  packages/analytics/src/index.ts
  packages/analytics/src/trustScore.ts
  packages/governance/src/invariants.ts
  packages/governance/src/middleware.ts
  scripts/mvp/check-invariants.mjs
  scripts/mvp/check-smoke.mjs
  scripts/mvp/check-trustscore.mjs
  scripts/mvp/check-tsc.mjs
  scripts/mvp/gate.mjs
  scripts/mvp/smoke-http.mjs
Due: prettier --write, eslint --fix --max-warnings=0 --cache

test: stabilize osint playwright journeys
  .github/workflows/playwright-osint-nightly.yml
  .github/workflows/playwright.smoke.yml
  client/src/App.router.jsx
  client/src/components/cases/AddCaseModal.jsx
  client/src/routes/OsintStudio.tsx
  e2e/client/case.workflow.spec.ts
  e2e/fixtures/osint-fixtures.ts
  e2e/osint/journey-case.spec.ts
  e2e/osint/reports.spec.ts
  playwright.config.ts
Due: prettier --write

feat: add summit automation workflows
  README.md
  cli/README.md
  cli/__tests__/automation.test.ts
  cli/jest.config.cjs
  cli/src/automation.ts
  cli/src/summit.ts
Due: prettier --write

chore: streamline git hooks for local dev
  .husky/pre-commit
  .husky/pre-push
  CONTRIBUTING.md
  package.json
Due: prettier --write

fix(scheduling): correct price calculation and tests
  server/src/conductor/scheduling/__tests__/pools.test.ts
  server/src/conductor/scheduling/pools.ts
Due: none

feat(capacity): mock capacity futures with API + reserved-first pool selection
  server/db/managed-migrations/202512020001_capacity_reservations.down.sql
  server/db/managed-migrations/202512020001_capacity_reservations.up.sql
  server/orchestration/capacity-futures-mock.ts
  server/src/conductor/api/capacity-routes.ts
  server/src/conductor/api/conductor-routes.ts
  server/src/conductor/auth/rbac-middleware.ts
  server/src/conductor/observability/prometheus.ts
  server/src/conductor/scheduler.ts
  server/src/conductor/scheduling/capacity-futures.ts
  server/src/conductor/scheduling/pools.ts
  server/src/conductor/scheduling/selector.ts
  server/tests/conductor/capacity-futures.test.ts
Due: none

feat(scheduling): propagate price-aware pool selection end-to-end
  db/migrations/V19__pool_selection_audit.sql
  server/src/conductor/observability/prometheus.ts
  server/src/conductor/scheduling/__tests__/pool-selection-audit.test.ts
  server/src/conductor/scheduling/__tests__/queue-worker.test.ts
  server/src/conductor/scheduling/__tests__/scheduler-api.test.ts
  server/src/conductor/scheduling/cost-aware-scheduler.ts
  server/src/conductor/scheduling/pool-selection-audit.ts
  server/src/conductor/scheduling/pools.ts
  server/src/conductor/scheduling/queue-worker.ts
  server/src/conductor/scheduling/scheduler-api.ts
Due: none
