Repository BrianCLong/summit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --cache

.lintstagedrc.json:

{
  "*.{md,css,scss,json}": ["prettier --write"],
  ".github/**/*.{yml,yaml}": ["prettier --write"],
  "deploy/**/*.{yml,yaml}": ["prettier --write"],
  "infra/**/*.{yml,yaml}": ["prettier --write"],
  "k8s/**/*.{yml,yaml}": ["prettier --write"],
  "policy/**/*.{yml,yaml}": ["prettier --write"],
  "packages/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "conductor-ui/**/src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0 --cache"
  ],
  "client/.lintstagedrc.json": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore(release): bump version to 5.2.76
  package.json
Due: prettier --write

feat: Subsume Resilient Intelligence Pipeline (Circuit Breaker, Cache, Privacy, Explainability) (#17025)
  .github/workflows/evidence.yml
  docs/explainability.md
  docs/privacy.md
  docs/relationship-intel.md
  evidence/index.json
  evidence/metrics.json
  evidence/report.json
  evidence/schemas/relationship_intel.schema.json
  evidence/stamp.json
  packages/common/cache.py
  packages/common/circuit_breaker.py
  packages/common/decision_record.py
  packages/common/privacy.py
  pytest.ini
  required_checks.todo.md
  scripts/verify_evidence.py
  services/pipeline/config_flags.py
  services/pipeline/outbound.py
  services/pipeline/prioritizer/__init__.py
  services/pipeline/prioritizer/base.py
  services/pipeline/prioritizer/gnn_stub.py
  tests/unit/test_cache.py
  tests/unit/test_circuit_breaker.py
  tests/unit/test_decision_record.py
  tests/unit/test_prioritizer_flagging.py
  tests/unit/test_privacy.py
  tools/eval_harness/run_eval.py
Due: prettier --write

Privacy-Preserving Graph Analytics Foundation (#17026)
  docs/deps/dependency-delta.template.md
  docs/privacy_graph_analytics.md
  docs/threat_model_privacy_graph.md
  evidence/schemas/index.schema.json
  evidence/schemas/privacy-graph-metrics.schema.json
  evidence/schemas/privacy-graph-report.schema.json
  evidence/schemas/privacy-graph-stamp.schema.json
  required_checks.todo.md
  src/summit/privacy_graph/__init__.py
  src/summit/privacy_graph/analytics.py
  src/summit/privacy_graph/config.py
  src/summit/privacy_graph/dp.py
  src/summit/privacy_graph/graph_builder.py
  src/summit/privacy_graph/he_adapter.py
  src/summit/privacy_graph/policy.py
  src/summit/privacy_graph/types.py
  tests/privacy_graph/__init__.py
  tests/privacy_graph/fixtures/pii_negative.json
  tests/privacy_graph/test_backend_selection.py
  tests/privacy_graph/test_degree_cap.py
  tests/privacy_graph/test_gate_fixtures.py
  tests/privacy_graph/test_graph_builder_pii_safe.py
  tests/privacy_graph/test_policy_denies_by_default.py
  tools/ci/dependency_delta_gate.py
  tools/ci/privacy_graph_gate.py
  tools/verify_evidence.py
Due: prettier --write

chore(release): bump version to 5.2.77
  package.json
Due: prettier --write

fix: remove --frozen-lockfile to allow lockfile regeneration
  .github/workflows/lineage-provenance-report.yml
Due: prettier --write

feat: go-live readiness improvements
  .env.example
  apps/validator-worker/package.json
  apps/workflow-engine/jest.config.cjs
  apps/workflow-engine/src/services/webhooks/WebhookDeliveryWorker.ts
  apps/workflow-engine/tests/utils/jest-setup.cjs
  docs/GO_LIVE_READINESS.md
  packages/agent-lab/__tests__/agent-lab.test.ts
  packages/agent-lab/src/cli.ts
  packages/ai-wellbeing-predictors/src/InterventionRecommender.ts
  packages/connector-sdk/tsconfig.json
  pnpm-lock.yaml
  server/src/appFactory.ts
  server/src/autonomous/ChangeReviewAgent.ts
  server/src/maestro/core.ts
  server/src/middleware/advanced-query-security.ts
  server/src/rag/intent_compiler.ts
  server/src/services/ToolbusService.ts
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(web): standardize UI component imports to PascalCase
  apps/web/src/SymphonyOperatorConsole.tsx
  apps/web/src/components/CopilotPanel.tsx
  apps/web/src/components/MaestroRunConsole.tsx
  apps/web/src/components/case/CaseExportModal.tsx
  apps/web/src/components/er/AdjudicationQueue.tsx
  apps/web/src/components/github/CreatePRDialog.tsx
  apps/web/src/components/investigation/InvestigatorWorkbench.tsx
  apps/web/src/components/investigation/__tests__/InvestigatorWorkbench.test.tsx
  apps/web/src/components/panels/EntityDrawer.tsx
  apps/web/src/components/panels/TimelineRail.tsx
  apps/web/src/components/privacy/PrivacyBudgetDisplay.tsx
  apps/web/src/components/ui/Input.tsx
  apps/web/src/components/ui/Label.tsx
  apps/web/src/components/ui/Progress.tsx
  apps/web/src/components/ui/Separator.tsx
  apps/web/src/components/ui/Slider.tsx
  apps/web/src/components/ui/Switch.tsx
  apps/web/src/components/ui/Textarea.tsx
  apps/web/src/components/ui/Toast.tsx
  apps/web/src/components/ui/components.test.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/scroll-area.tsx
  apps/web/src/components/ui/stories/Feedback.stories.tsx
  apps/web/src/components/ui/stories/FormControls.stories.tsx
  apps/web/src/components/ui/stories/SwitchSlider.stories.tsx
  apps/web/src/features/annotations/AnnotationPanel.tsx
  apps/web/src/features/aurelius/AureliusConsole.tsx
  apps/web/src/features/growth/GrowthPlaybookGenerator.tsx
  apps/web/src/features/meta-orchestrator/AgentHealthDashboard.tsx
  apps/web/src/features/meta-orchestrator/NegotiationVisualizer.tsx
  apps/web/src/features/search/QueryBuilder.tsx
  apps/web/src/features/security/CrossDomainTransferButton.tsx
  apps/web/src/features/snapshots/SnapshotMenu.tsx
  apps/web/src/features/workspaces/WorkspaceSettingsDrawer.tsx
  apps/web/src/hooks/use-toast.ts
  apps/web/src/hud/SystemHUD.tsx
  apps/web/src/pages/CreateTenantPage.tsx
  apps/web/src/pages/GrowthPlaybookPage.tsx
  apps/web/src/pages/admin/FeatureFlags.tsx
  apps/web/src/stories/components.test.tsx
Due: none

fix(workflow-engine): add crypto.timingSafeEqual mock to webhook tests
  apps/workflow-engine/src/services/webhooks/WebhookService.test.ts
Due: none

feat: add agentops evidence scaffolding
  agentops/__init__.py
  agentops/evidence/__init__.py
  agentops/evidence/index.json
  agentops/evidence/schemas/index.schema.json
  agentops/evidence/schemas/metrics.schema.json
  agentops/evidence/schemas/report.schema.json
  agentops/evidence/schemas/stamp.schema.json
  agentops/evidence/tests/test_writer.py
  agentops/evidence/writer.py
  docs/roadmap/STATUS.json
  prompts/architecture/agentops-incident-response-foundation@v1.md
  prompts/registry.yaml
Due: prettier --write

feat: scaffold background sessions evidence
  docs/roadmap/STATUS.json
  modules/background_sessions/evidence/index.json
  modules/background_sessions/evidence/schemas/index.schema.json
  modules/background_sessions/evidence/schemas/metrics.schema.json
  modules/background_sessions/evidence/schemas/report.schema.json
  modules/background_sessions/evidence/schemas/stamp.schema.json
  modules/background_sessions/evidence/write_evidence.ts
  modules/background_sessions/required_checks.todo.md
  modules/background_sessions/tests/evidence_schema.test.ts
  modules/background_sessions/tests/fixtures/index.invalid.json
  modules/background_sessions/tests/fixtures/index.valid.json
  modules/background_sessions/tests/fixtures/metrics.invalid.json
  modules/background_sessions/tests/fixtures/metrics.valid.json
  modules/background_sessions/tests/fixtures/report.invalid.json
  modules/background_sessions/tests/fixtures/report.valid.json
  modules/background_sessions/tests/fixtures/stamp.invalid.json
  modules/background_sessions/tests/fixtures/stamp.valid.json
  prompts/background-sessions/pr1-evidence-scaffold.md
  prompts/registry.yaml
Due: prettier --write

docs: add opencode zero-to-titan intake standard
  docs/roadmap/STATUS.json
  docs/standards/opencode-zero-to-titan.md
Due: prettier --write

docs(ga): capture recature state and backlog
  docs/ga/GA_DELTA_BACKLOG.md
  docs/ga/PR_TRAIN_PLAN.md
  docs/ga/RECATURE_STATE.md
  docs/roadmap/STATUS.json
  evidence/ga-recapture/phase1/commands.txt
  evidence/ga-recapture/phase1/make-ga-verify.txt
  evidence/ga-recapture/phase1/make-ga.txt
  evidence/ga-recapture/phase1/make-preflight.txt
  evidence/ga-recapture/phase1/pnpm-ci-parity-verify.txt
  evidence/ga-recapture/phase1/pnpm-recursive-test.txt
  evidence/ga-recature/phase0/commands.txt
  evidence/ga-recature/phase0/docker-version.txt
  evidence/ga-recature/phase0/find-ga-release-evidence.txt
  evidence/ga-recature/phase0/gh-auth-status.txt
  evidence/ga-recature/phase0/git-head.txt
  evidence/ga-recature/phase0/git-log-20.txt
  evidence/ga-recature/phase0/git-log-merges-200.txt
  evidence/ga-recature/phase0/git-log-pr-refs-200.txt
  evidence/ga-recature/phase0/git-remote.txt
  evidence/ga-recature/phase0/git-status.txt
  evidence/ga-recature/phase0/github-workflows.txt
  evidence/ga-recature/phase0/ls-la.txt
  evidence/ga-recature/phase0/makefile-ga-preflight-release.txt
  evidence/ga-recature/phase0/makefile-head.txt
  evidence/ga-recature/phase0/node-version.txt
  evidence/ga-recature/phase0/pnpm-version.txt
  evidence/ga-recature/phase0/python-version.txt
Due: prettier --write

chore: add required checks discovery scaffolding
  ci/required-checks/README.md
  ci/required-checks/discover.sh
  docs/roadmap/STATUS.json
  required_checks.todo.md
Due: prettier --write

feat: add fastgen evidence scaffold and accel registry
  docs/roadmap/STATUS.json
  required_checks.todo.md
  summit/accel/__init__.py
  summit/accel/contracts.py
  summit/accel/registry.py
  summit/evidence/README.md
  summit/evidence/index.json
  summit/evidence/schemas/index.schema.json
  summit/evidence/schemas/metrics.schema.json
  summit/evidence/schemas/report.schema.json
  summit/evidence/schemas/stamp.schema.json
  tests/test_accel_registry.py
Due: prettier --write

fix(tests): resolve adapter-sdk JSON schema and adc Jest configuration errors
  packages/adapter-sdk/src/bundle/validation.ts
  packages/adapter-sdk/vitest.config.ts
  packages/adc/jest.config.cjs
  packages/adc/package.json
Due: prettier --write, eslint --fix --max-warnings=0 --cache

fix(adc): add injectGlobals to Jest config for test globals
  packages/adc/jest.config.cjs
Due: none

fix(adapter-sdk): correct test imports and remove @ts-nocheck from builder
  packages/adapter-sdk/src/bundle/builder.ts
  packages/adapter-sdk/tests/bundle.verifier.test.ts
Due: eslint --fix --max-warnings=0 --cache

chore: update pnpm-lock.yaml after dependency changes
  pnpm-lock.yaml
Due: none

chore(release): bump version to v5.3.1 and add release notes
  .github/releases/v5.3.1.md
  package.json
Due: prettier --write

feat(safety): Implement Disempowerment Patterns foundation (#17028)
  deps/dependency_delta.md
  evals/disempowerment/fixtures/negative/reality_distortion_severe.json
  evals/disempowerment/fixtures/positive/reality_distortion_safe.json
  evals/disempowerment/run_eval.py
  evals/disempowerment/score.py
  evals/disempowerment/tests/test_fixtures.py
  evidence/schemas/metrics.schema.json
  evidence/schemas/report.schema.json
  required_checks.todo.md
  safety/taxonomy/README_disempowerment.md
  safety/taxonomy/disempowerment.yaml
  tools/evidence/validate_evidence.py
Due: prettier --write

Implement Privacy-Preserving IDS Framework for IIoT in 6G (#17029)
  ci/verify_determinism.md
  ci/verify_evidence.py
  docs/deps/PR6_dependency_delta.md
  evidence/metrics.json
  evidence/report.json
  evidence/stamp.json
  privacy_first_gnn/README.md
  privacy_first_gnn/__init__.py
  privacy_first_gnn/gates/__init__.py
  privacy_first_gnn/gates/no_plaintext_sensitive.py
  privacy_first_gnn/gates/no_server_secret_key.py
  privacy_first_gnn/he/__init__.py
  privacy_first_gnn/he/api.py
  privacy_first_gnn/he/ckks_adapter/README.md
  privacy_first_gnn/he/ckks_adapter/backend.py
  privacy_first_gnn/he/mock_backend.py
  privacy_first_gnn/pipeline/__init__.py
  privacy_first_gnn/pipeline/infer.py
  privacy_first_gnn/pipeline/ingest.py
  privacy_first_gnn/policy/__init__.py
  privacy_first_gnn/policy/compiler.py
  privacy_first_gnn/policy/sensitive_fields.json
  privacy_first_gnn/schemas/graph_topology.schema.json
  privacy_first_gnn/schemas/telemetry_features_cipher.schema.json
  privacy_first_gnn/tests/__init__.py
  privacy_first_gnn/tests/fixtures/plaintext_sensitive.fail.json
  privacy_first_gnn/tests/fixtures/server_key_present.fail.json
  privacy_first_gnn/tests/test_gates.py
  privacy_first_gnn/tests/test_he_contract.py
  privacy_first_gnn/tests/test_pipeline_toy.py
  privacy_first_gnn/tests/test_policy_compiler.py
  required_checks.todo.md
Due: prettier --write

feat: RT-NIDS PR1 - Evidence contracts and docs (#17030)
  ci/verify_evidence.py
  docs/pipeline_inventory.todo.md
  docs/required_checks.todo.md
  summit/nids_rt/__init__.py
  summit/nids_rt/evidence/schemas/rtnids_index.schema.json
  summit/nids_rt/evidence/schemas/rtnids_metrics.schema.json
  summit/nids_rt/evidence/schemas/rtnids_report.schema.json
  summit/nids_rt/evidence/schemas/rtnids_stamp.schema.json
Due: prettier --write

Add VFGNN Governance and Evidence Framework (#17031)
  ci/required_checks.todo.md
  ci/verify_evidence.py
  docs/federated_gnn/robust_agg.md
  evidence/index.json
  evidence/metrics.json
  evidence/report.json
  federated_gnn/README.md
  federated_gnn/gates/backdoor_suspicion_score.py
  federated_gnn/gates/update_anomaly_thresholds.py
  federated_gnn/gates/verify_update_signature.py
  federated_gnn/schema/alignment.schema.json
  federated_gnn/schema/party_spec.schema.json
  federated_gnn/schema/update_envelope.schema.json
  federated_gnn/src/agg/robust.py
  federated_gnn/src/anomaly/update_stats.py
  federated_gnn/src/crypto/signatures.py
  federated_gnn/tests/adversarial/fixtures/backdoor_drift.json
  federated_gnn/tests/fixtures/party_A.json
  federated_gnn/tests/fixtures/thresholds.json
  federated_gnn/tests/fixtures/update_signed.pass.json
  federated_gnn/tests/fixtures/update_unsigned.fail.json
  federated_gnn/tests/test_backdoor_gates.py
  federated_gnn/tests/test_robust_aggregation.py
Due: prettier --write

chore(release): bump version to 5.2.78
  package.json
Due: prettier --write

Implement Moral Association Graph (MAG) subsystem (#17032)
  docs/third_party/mag_attribution.md
  evidence/schemas/metrics.schema.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
  evidence/templates/metrics.json
  evidence/templates/report.json
  evidence/templates/stamp.json
  required_checks.todo.md
  scripts/moral_fetch_data.sh
  summit/graph/hooks/moral_layer.py
  summit/moral/__init__.py
  summit/moral/eval/__init__.py
  summit/moral/eval/emfd_adapter.py
  summit/moral/eval/mfrc_adapter.py
  summit/moral/eval/mftc_adapter.py
  summit/moral/eval/run_eval.py
  summit/moral/explain.py
  summit/moral/foundations.py
  summit/moral/mag_infer.py
  summit/moral/models.py
  summit/moral/priors.py
  summit/moral/propagate.py
  summit/policy/moral_profile_policy.py
  tests/fixtures/mini_assoc_graph.json
  tests/moral/test_foundations.py
  tests/moral/test_mag_infer_determinism.py
  tests/moral/test_policy.py
  tests/moral/test_propagate_deny_by_default.py
  tests/moral/test_propagate_logic.py
Due: prettier --write

chore: ignore git worktrees
  .gitignore
Due: none

chore: fix linting configuration and bump version for go-live
  .eslintignore
Due: none

chore: harden release infrastructure and unblock test suite
  .github/workflows/go-live-gate.yml
  .github/workflows/go-live-release.yml
  GO_LIVE_READINESS.md
  package.json
  schemas/audit_event_v1.tson
  scripts/evidence/generate-go-live-evidence.ts
  scripts/evidence/tests/fixtures/invalid-bad-sha.json
  scripts/evidence/tests/fixtures/invalid-missing-required.json
  scripts/evidence/tests/fixtures/valid-evidence.json
  scripts/evidence/tests/go-live-evidence-schema.test.mjs
  scripts/evidence/tests/go-live-pipeline.integration.test.mjs
  scripts/evidence/verify-go-live-evidence.ts
  scripts/release/create-go-live-release.ts
  scripts/release/create-go-live-tag.ts
  scripts/release/generate-go-live-provenance.ts
  scripts/release/generate-go-live-release-notes.ts
  scripts/release/generate-go-live-sbom.ts
  scripts/release/preflight-check.ts
  scripts/release/sign-evidence.ts
  server/src/audit/appendOnlyAuditStore.ts
  server/src/auth/sso/SSOService.ts
  server/src/routes/__tests__/compliance.test.ts
  server/src/routes/v4/compliance.ts
  server/src/trust-center/trust-center-service.ts
Due: prettier --write

chore: enable signing and bump version to 5.3.0 for go-live
  .github/workflows/go-live-release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: surgical GHA v4 standardization and compliance enforcement
  .github/actions/verify-workflow-versions/action.yml
  .github/workflows/.archive/agentic-policy-check.yml
  .github/workflows/.archive/alert-hygiene.yml
  .github/workflows/.archive/audit-artifacts.yml
  .github/workflows/.archive/audit-ci.yml
  .github/workflows/.archive/autotriage-ci.yml
  .github/workflows/.archive/cognitive-targeting-engine-ci.yml
  .github/workflows/.archive/deploy-pipeline.yaml
  .github/workflows/.archive/deploy-stage.yml
  .github/workflows/.archive/deployment-consistency-check.yml
  .github/workflows/.archive/detect-deception.yml
  .github/workflows/.archive/entity-resolution-train.yml
  .github/workflows/.archive/ethics-checks.yml
  .github/workflows/.archive/evals.yml
  .github/workflows/.archive/lambda-deploy-example.yml
  .github/workflows/.archive/ml-pipeline.yml
  .github/workflows/.archive/mobile.yml
  .github/workflows/.archive/ownership-audit.yml
  .github/workflows/.archive/phase2-ci.yml
  .github/workflows/.archive/pipeline-smoke.yml
  .github/workflows/.archive/policy-checks.yml
  .github/workflows/.archive/policy-fuzzer.yml
  .github/workflows/.archive/policy-gate.yml
  .github/workflows/.archive/pq-dual-sig-gate.yml
  .github/workflows/.archive/provenance-build.yml
  .github/workflows/.archive/rbac-drift.yml
  .github/workflows/.archive/realtime-ci.yml
  .github/workflows/.archive/reports-ci.yml
  .github/workflows/.archive/residency.yml
  .github/workflows/.archive/runbook-drill.yml
  .github/workflows/.archive/scenario-evaluation.yml
  .github/workflows/.archive/standards-guard.yml
  .github/workflows/.archive/strategy-check.yml
  .github/workflows/.archive/tenant-isolation-check.yml
  .github/workflows/supplychain-drift.yml
  .github/workflows/supplychain-gates.yml
Due: prettier --write

fix: unblock security gate via atomic control-map and lockfile repairs
  compliance/control-map.yaml
  pnpm-lock.yaml
  services/cost-optimization/package.json
Due: prettier --write

feat: add secure MCP evidence scaffold
  agents/examples/SECURE_MCP_EVIDENCE_SCAFFOLD.task.json
  ci/verify_evidence.sh
  docs/roadmap/STATUS.json
  evidence/index.json
  evidence/metrics.json
  evidence/report.json
  evidence/schemas/metrics.schema.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
  evidence/stamp.json
  prompts/registry.yaml
  prompts/security/secure-mcp-evidence-scaffold@v1.md
  required_checks.todo.md
Due: prettier --write

feat: add worldsim scaffold and evidence schemas
  ARCHITECTURE_MAP.todo.md
  docs/roadmap/STATUS.json
  evidence/index.json
  packages/decision-ledger/decision_ledger.json
  required_checks.todo.md
  schemas/evidence_metrics.schema.json
  schemas/evidence_report.schema.json
  schemas/evidence_stamp.schema.json
  worldsim/__init__.py
  worldsim/core.py
Due: prettier --write
