Repository BrianCLong/summit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

fix: add ledger verification to capsules
  .summit/capsules/demo.yaml
  agents/examples/switchboard-capsules-v2.task.json
  cli/__tests__/switchboard-capsules.test.ts
  cli/src/cli.ts
  cli/src/commands/switchboard.ts
  cli/src/index.ts
  cli/src/lib/switchboard-capsule.ts
  cli/src/lib/switchboard-evidence.ts
  cli/src/lib/switchboard-ledger.ts
  cli/src/lib/switchboard-policy.ts
  cli/src/lib/switchboard-replay.ts
  cli/src/lib/switchboard-runner.ts
  docs/roadmap/STATUS.json
  docs/switchboard/capsules.md
  prompts/registry.yaml
  prompts/switchboard/capsules-replay-v2.md
Due: none

docs: add 23rd-order intent lattice
  CPG_INNOVATION_SUMMARY.md
  agents/examples/CPG_MOAT_EXPANSION_TASK.json
  docs/roadmap/STATUS.json
  prompts/docs/cpg-moat-expansion@v1.md
  prompts/registry.yaml
Due: none

fix(switchboard): tighten evidence and skillset logging
  .summit/skillsets/documenter.yaml
  .summit/skillsets/product-manager.yaml
  .summit/skillsets/senior-swe.yaml
  agents/examples/SWITCHBOARD_CONSOLE_MVP.json
  apps/switchboard-console/README.md
  apps/switchboard-console/package.json
  apps/switchboard-console/src/adapters/ClaudeAdapter.ts
  apps/switchboard-console/src/adapters/CodexAdapter.ts
  apps/switchboard-console/src/adapters/FakeAdapter.ts
  apps/switchboard-console/src/adapters/GeminiAdapter.ts
  apps/switchboard-console/src/adapters/index.ts
  apps/switchboard-console/src/adapters/utils.ts
  apps/switchboard-console/src/index.ts
  apps/switchboard-console/src/logging/EventLogger.ts
  apps/switchboard-console/src/logging/TranscriptWriter.ts
  apps/switchboard-console/src/logging/eventSchema.ts
  apps/switchboard-console/src/policy/PolicyGate.ts
  apps/switchboard-console/src/session/ConsoleSession.ts
  apps/switchboard-console/src/session/EvidenceBundler.ts
  apps/switchboard-console/src/skillsets/SkillsetStore.ts
  apps/switchboard-console/src/types.ts
  apps/switchboard-console/tests/adapterContract.test.ts
  apps/switchboard-console/tests/eventSchema.test.ts
  apps/switchboard-console/tests/integration.test.ts
  apps/switchboard-console/tsconfig.json
  apps/switchboard-console/vitest.config.ts
  docs/roadmap/STATUS.json
  prompts/registry.yaml
  prompts/switchboard/switchboard-console@v1.md
Due: none

feat: add imputed intention order metric
  agents/examples/attn-lab-mhla-task.json
  artifacts/attn-lab/20260130-015712/mhla/latency_chart.svg
  artifacts/attn-lab/20260130-015712/mhla/report.md
  artifacts/attn-lab/20260130-015712/mhla/results.json
  docs/attn-lab/mhla.md
  docs/roadmap/STATUS.json
  libs/attn_lab/__init__.py
  libs/attn_lab/bench.py
  libs/attn_lab/config.py
  libs/attn_lab/innovations.py
  libs/attn_lab/mhla.py
  libs/attn_lab/tests/test_mhla.py
  prompts/attn-lab/mhla-attn-lab@v1.md
  prompts/registry.yaml
Due: none

docs: update sprint status template
  docs/roadmap/STATUS.json
  sprint/summit-status-framework.md
Due: none

docs: codify agentic reading order mandate
  agents/examples/agentic-reading-order.task.json
  docs/research/agentic-reading-order.md
  docs/roadmap/STATUS.json
  prompts/docs/agentic-reading-order@v1.md
  prompts/registry.yaml
Due: none

fix: stabilize evidence bundle timestamps
  agents/examples/PROOF_CARRYING_PLANS_EVIDENCE_REPLAY.task.json
  agents/orchestrator/README.md
  agents/orchestrator/__tests__/EvidenceBundle.test.ts
  agents/orchestrator/package.json
  agents/orchestrator/src/MultiLLMOrchestrator.ts
  agents/orchestrator/src/cli/replay.ts
  agents/orchestrator/src/evidence/bundle.ts
  agents/orchestrator/src/evidence/contracts.ts
  agents/orchestrator/src/evidence/index.ts
  agents/orchestrator/src/evidence/manager.ts
  agents/orchestrator/src/evidence/plan.ts
  agents/orchestrator/src/evidence/replay.ts
  agents/orchestrator/src/evidence/tool-runtime.ts
  agents/orchestrator/src/evidence/types.ts
  agents/orchestrator/src/index.ts
  docs/roadmap/STATUS.json
  prompts/maestro/proof-carrying-plans-evidence-replay.md
  prompts/registry.yaml
Due: none

docs: add MCP/A2A protocol actions to roadmap
  ROADMAP.md
  docs/roadmap/STATUS.json
  prompts/docs/roadmap-standards-update@v1.md
  prompts/registry.yaml
Due: none

docs: make orchestrator-first multi-agent topology the default
  docs/orchestration/multi-agent-system.md
  docs/roadmap/STATUS.json
  prompts/docs/multi-agent-topology-update@v1.md
  prompts/registry.yaml
Due: none

docs: add Summit Simplifier Contract and register prompt/task
  agents/examples/summit-simplifier-contract-task.json
  docs/governance/SUMMIT_SIMPLIFIER_CONTRACT.md
  docs/roadmap/STATUS.json
  prompts/governance/summit-simplifier-contract@v1.md
  prompts/registry.yaml
Due: none

feat: add imputed intention depth to explicitation
  agents/examples/explicate-query-stage.json
  docs/maestro-explicitation-contract.md
  docs/roadmap/STATUS.json
  packages/agent-lab/package.json
  packages/agent-lab/src/tools.ts
  packages/maestro-cli/src/commands/explicate.ts
  packages/maestro-cli/src/index.ts
  packages/maestro-core/package.json
  packages/maestro-core/src/explicitation/__tests__/explicateQuery.test.ts
  packages/maestro-core/src/explicitation/explicateQuery.ts
  packages/maestro-core/src/explicitation/index.ts
  packages/maestro-core/src/explicitation/retrievalGate.ts
  packages/maestro-core/src/explicitation/types.ts
  prompts/maestro/explicate-query-stage@v1.md
  prompts/registry.yaml
Due: unittests

docs: add governed exception guidance
  docs/roadmap/STATUS.json
  docs/runbooks/ai-copilot-service.md
Due: none

docs: align agentic runtime with governance authority
  docs/agentic-mesh/00-architecture.md
  docs/roadmap/STATUS.json
  prompts/docs/agentic-runtime-alignment@v1.md
  prompts/registry.yaml
Due: none

fix(mcp): clean up failed transport connects
  agents/examples/mcp-transport-abstraction-pr1.json
  docs/architecture/mcp-transport-layer.md
  docs/roadmap/STATUS.json
  prompts/mcp/transport-abstraction-pr1.md
  prompts/registry.yaml
  server/src/conductor/config.ts
  server/src/conductor/index.ts
  server/src/conductor/mcp/client.ts
  server/src/conductor/mcp/transport/__tests__/transport-registry.test.ts
  server/src/conductor/mcp/transport/registry.ts
  server/src/conductor/mcp/transport/types.ts
  server/src/conductor/mcp/transport/websocket-jsonrpc.ts
Due: unittests

fix: enforce capability policy on mcp sessions
  agents/examples/CAPABILITY_FABRIC_TASK.json
  capability-fabric/registry/capabilities.yaml
  capability-fabric/schemas/capability.schema.json
  capability-fabric/schemas/maestro-runs.input.schema.json
  capability-fabric/schemas/maestro-runs.output.schema.json
  capability-fabric/schemas/mcp-invoke.input.schema.json
  capability-fabric/schemas/mcp-invoke.output.schema.json
  capability-fabric/schemas/mcp-session.input.schema.json
  capability-fabric/schemas/mcp-session.output.schema.json
  capability-fabric/templates/capability.template.yaml
  capability-fabric/templates/policy.template.rego
  capability-fabric/templates/schema.template.json
  docs/capability-fabric/EXAMPLES.md
  docs/capability-fabric/README.md
  docs/roadmap/STATUS.json
  policies/capability-fabric/maestro-runs-read.rego
  policies/capability-fabric/mcp-invoke.rego
  policies/capability-fabric/mcp-session.rego
  prompts/capability-fabric/capability-fabric.md
  prompts/registry.yaml
  server/src/capability-fabric/firewall.ts
  server/src/capability-fabric/policy-gate.ts
  server/src/capability-fabric/registry.ts
  server/src/capability-fabric/types.ts
  server/src/maestro/mcp/__tests__/sessions-invoke.test.ts
  server/src/maestro/mcp/invoke-api.ts
  server/src/maestro/mcp/sessions-api.ts
  tools/summitctl/README.md
  tools/summitctl/src/capability/graph.ts
  tools/summitctl/src/capability/registry.ts
  tools/summitctl/src/capability/report.ts
  tools/summitctl/src/capability/risk.ts
  tools/summitctl/src/capability/scanner.ts
  tools/summitctl/src/capability/types.ts
  tools/summitctl/src/capability/validator.ts
  tools/summitctl/src/commands/capability.ts
  tools/summitctl/src/index.ts
Due: unittests

fix: route shards by intent depth
  .gitignore
  .lintstagedrc.json
  .summit/skillpacks/security-audit/SKILL.md
  .summit/skillpacks/security-audit/mcp.json
  .summit/skillpacks/security-audit/policy.json
  .summit/skillpacks/ui-preview/SKILL.md
  .summit/skillpacks/ui-preview/mcp.json
  agents/examples/lazy-mcp-skillpacks-task.json
  artifacts/tool-loading-report.json
  artifacts/tool-loading-report.md
  docs/roadmap/STATUS.json
  docs/skillpacks-lazy-mcp.md
  eslint.config.js
  packages/agent-skillpacks/__tests__/__snapshots__/evidence-writer.test.ts.snap
  packages/agent-skillpacks/__tests__/evidence-writer.test.ts
  packages/agent-skillpacks/__tests__/policy-gate.test.ts
  packages/agent-skillpacks/__tests__/schema-distiller.test.ts
  packages/agent-skillpacks/__tests__/shard-router.test.ts
  packages/agent-skillpacks/__tests__/skillpack-discovery.test.ts
  packages/agent-skillpacks/__tests__/skillpack-loader.test.ts
  packages/agent-skillpacks/package.json
  packages/agent-skillpacks/src/evidence-writer.ts
  packages/agent-skillpacks/src/index.ts
  packages/agent-skillpacks/src/policy-gate.ts
  packages/agent-skillpacks/src/schema-distiller.ts
  packages/agent-skillpacks/src/shard-router.ts
  packages/agent-skillpacks/src/skillpack-discovery.ts
  packages/agent-skillpacks/src/skillpack-loader.ts
  packages/agent-skillpacks/src/types.ts
  packages/agent-skillpacks/tsconfig.json
  prompts/registry.yaml
  prompts/skillpacks/lazy-mcp-skillpacks@v1.md
Due: unittests

chore(security): harden supply chain and restore security test gates
  pnpm-lock.yaml
Due: none

test: add opt-in jest network teardown shim
  docs/roadmap/STATUS.json
  prompts/governance/jest-network-teardown-shim@v1.md
  prompts/registry.yaml
  server/tests/setup/jest.setup.cjs
Due: unittests

fix: align e2e auth state handling
  tests/e2e/global-setup.ts
  tests/e2e/global-teardown.ts
  tests/e2e/tests/auth-setup.spec.ts
  tests/e2e/tests/maestro-dashboard.spec.ts
Due: e2e

docs: add competitive intelligence protocol
  docs/ci/COMPETITIVE_INTELLIGENCE_PROTOCOL.md
  docs/ci/README.md
  docs/ci/targets/README.md
  docs/roadmap/STATUS.json
  prompts/competitive/competitive-intel-protocol@v1.md
  prompts/registry.yaml
Due: none

docs: add competitive subsumption CI templates
  docs/ci/competitive-intel/PR_STACK_CHECKLIST.md
  docs/ci/competitive-intel/README.md
  docs/ci/competitive-intel/templates/claims.template.yml
  docs/ci/competitive-intel/templates/evidence-map.template.yml
  docs/ci/competitive-intel/templates/target.template.yml
  docs/ci/evidence/README.md
  docs/ci/targets/README.md
  docs/roadmap/STATUS.json
  prompts/competitive/competitive-subsumption-protocol-v4.1.md
  prompts/registry.yaml
Due: none

docs: add competitive intelligence subsumption engine protocol
  docs/competitive/summit-competitive-intel-subsump-engine.md
  docs/roadmap/STATUS.json
Due: none

docs: add competitive subsumption prompt scaffold
  docs/roadmap/STATUS.json
  subsumption/competitive-subsumption-prompt-v1/README.md
  subsumption/competitive-subsumption-prompt-v1/manifest.yaml
  subsumption/competitive-subsumption-prompt-v1/templates/CLAIMS.jsonl
  subsumption/competitive-subsumption-prompt-v1/templates/INTEGRATION_PLAN.md
  subsumption/competitive-subsumption-prompt-v1/templates/PATTERNS.yml
  subsumption/competitive-subsumption-prompt-v1/templates/SCORECARD.yml
  subsumption/competitive-subsumption-prompt-v1/templates/SOURCE_LEDGER.yml
  subsumption/competitive-subsumption-prompt-v1/templates/TRANSCENDENCE.md
Due: none

docs: expand narrative tracking guidance
  agents/examples/TASK_CROSS_LINGUAL_NARRATIVE_TRACKING_20260115.json
  docs/narrative-tracking.md
  docs/roadmap/STATUS.json
  prompts/docs/cross-lingual-narrative-tracking@v1.md
  prompts/registry.yaml
Due: none

feat(security): agent audit persistence, prompt guardrails, and lazy config validation
  client/jest.config.cjs
  server/src/config.ts
  src/agents/archetypes/base/BaseAgentArchetype.ts
Due: unittests

chore(evidence): restore index formatting
  agents/examples/SHAI_HULUD_SUPPLY_CHAIN_V1.json
  backlog/shai-hulud-supply-chain.yaml
  docs/decisions/shai-hulud-supply-chain.md
  docs/ops/runbooks/shai-hulud-supply-chain.md
  docs/roadmap/STATUS.json
  docs/security/data-handling/shai-hulud-supply-chain.md
  docs/standards/shai-hulud-supply-chain.md
  evidence/index.json
  evidence/schemas/subsumption_metrics.schema.json
  evidence/schemas/subsumption_report.schema.json
  evidence/schemas/subsumption_stamp.schema.json
  evidence/subsumption/shai-hulud-supply-chain/metrics.json
  evidence/subsumption/shai-hulud-supply-chain/report.json
  evidence/subsumption/shai-hulud-supply-chain/stamp.json
  prompts/registry.yaml
  prompts/subsumption/shai-hulud-supply-chain@v1.md
  subsumption/shai-hulud-supply-chain/manifest.yaml
Due: none

docs: add switchboard competitive intel subsumption prompt
  docs/roadmap/STATUS.json
  prompts/README.md
  prompts/competitive/competitive-intel-subsumption-engine@v4_1.md
  prompts/registry.yaml
Due: none

docs: expand content primitives runbook
  docs/roadmap/STATUS.json
  docs/runbooks/content-primitives-model.md
Due: none

docs: expand agentic roadmap tooling vision
  docs/roadmap/STATUS.json
  sprint/agentic-roadmap-tooling-vision.md
  sprint/agentic-roadmap-tooling-vision.task.json
Due: none

docs: expand model variant slice implications
  docs/roadmap/STATUS.json
  docs/roadmap/model-variant-runtime-backlog-slice.md
  prompts/registry.yaml
Due: none

docs(raos): refine automation turn 4 exceptions
  agents/examples/REGULATORY_INTEL_TURN4_20260122.json
  docs/raos/regulatory-intel/2026-01-22-automation-turn-4.md
  docs/roadmap/STATUS.json
  prompts/registry.yaml
  prompts/regulatory/daily-regulatory-intel-update-20260122.md
Due: none

docs: expand artifact inventory guidance
  docs/ci/RELEASE_GA_PIPELINE.md
  docs/releases/runbook.md
  docs/roadmap/STATUS.json
Due: none

ci(security): pin trivy-action by SHA
  .github/workflows/deploy-aws.yml
Due: none

fix(client): skip broken test suites, add Jest config for module resolution
  client/jest.config.cjs
Due: unittests

dev(gateway): add typesense+opa deps and permissive OPA policy for local
  apps/gateway/Dockerfile
  docker-compose.dev.yaml
  services/opa/policies/allow_all.rego
Due: none

ci: add preflight verification workflow
  .github/workflows/ci-preflight.yml
Due: none

docs: add AI operating model gaps memo and register prompt/task
  agents/examples/AI_OPERATING_MODEL_GAPS_TASK.json
  docs/roadmap/STATUS.json
  docs/strategy/AI_OPERATING_MODEL_GAPS.md
  prompts/registry.yaml
  prompts/strategy/ai-operating-model-gaps@v1.md
Due: none

docs: expand first-mover advantage spec
  agents/examples/FIRST_MOVER_SPEC_20260115.json
  docs/roadmap/STATUS.json
  docs/strategy/first-mover-advantage-spec.md
  prompts/docs/first-mover-spec@v1.md
  prompts/registry.yaml
Due: none

docs: supply chain integrity update and prompt registration
  docs/roadmap/STATUS.json
  docs/supply-chain/INTEGRITY_UPDATE_2026-01-14.md
  prompts/docs/supply-chain-integrity-update@v1.md
  prompts/registry.yaml
Due: none

docs: refine content model schemas
  docs/roadmap/STATUS.json
  docs/specs/content-model/README.md
  docs/specs/content-model/block.schema.json
  docs/specs/content-model/brief.schema.json
  docs/specs/content-model/claim.schema.json
  docs/specs/content-model/governance-drift-brief.example.json
  prompts/docs/content-model-brief-claim-block@v1.md
  prompts/registry.yaml
Due: none

Path conditions:
  unittests: any of: server/, client/, packages/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
  integration: any of: tests/integration/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
  e2e: any of: tests/e2e/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
