Repository BrianCLong/summit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
        only_pulls: true

      # Critical paths require 85% coverage
      critical:
        paths:
          - "server/src/middleware/**"
          - "server/src/graphql/resolvers/**"
          - "server/src/services/**"
          - "services/api/src/**"
        target: 85%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop

flags:
  unittests:
    paths:
      - server/
      - client/
      - packages/
    carryforward: true

  integration:
    paths:
      - tests/integration/
    carryforward: true

  e2e:
    paths:
      - tests/e2e/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/archive/**"
  - "**/*.config.js"
  - "**/*.config.ts"

# GitHub Checks integration
github_checks:
  annotations: true

feat: implement procurement operating system engine
  docs/strategy/procurement-operating-system.md
  packages/procurement-os/package.json
  packages/procurement-os/src/ExceptionRegistry.ts
  packages/procurement-os/src/IntakeValidator.ts
  packages/procurement-os/src/ProcurementEngine.ts
  packages/procurement-os/src/RenewalCalendar.ts
  packages/procurement-os/src/RiskTieringEngine.ts
  packages/procurement-os/src/ScorecardService.ts
  packages/procurement-os/src/SpendGate.ts
  packages/procurement-os/src/VRMService.ts
  packages/procurement-os/src/WorkflowRouter.ts
  packages/procurement-os/src/index.ts
  packages/procurement-os/src/types.ts
  packages/procurement-os/tests/procurement-os.spec.ts
  packages/procurement-os/tsconfig.json
Due: unittests

feat: add design system templates and telemetry
  client/src/design-system/DesignSystemProvider.tsx
  client/src/design-system/__tests__/designSystem.test.tsx
  client/src/design-system/components/DataTable.tsx
  client/src/design-system/components/OnboardingWizard.tsx
  client/src/design-system/components/PageShell.tsx
  client/src/design-system/components/SettingsLayout.tsx
  client/src/design-system/index.ts
  client/src/design-system/telemetry.ts
  client/src/design-system/theme.ts
  client/src/design-system/tokens.ts
  docs/ux_platform_program.md
Due: unittests

test: cover open-ended evidence filtering
  ga-graphai/packages/web/src/tri-pane.ts
  ga-graphai/packages/web/tests/timeBrushFlow.test.ts
  ga-graphai/packages/web/tests/triPane.test.ts
Due: none

fix: harden disclosure auth and dependencies
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/hadolint.yml
  .github/workflows/scorecard.yml
  .hadolint.yaml
  libs/ops/src/auth.ts
  libs/ops/src/http-secure.ts
  libs/ops/src/log.ts
  ops/grafana/alerts/p95.yaml
  ops/helm/intelgraph/Chart.yaml
  ops/helm/intelgraph/templates/deploy.yaml
  ops/helm/intelgraph/values.yaml
  ops/runbooks/backup-restore.md
  ops/runbooks/incident-response.md
  package.json
  sec/README.md
  sec/policies/access-review.md
  sec/policies/data-retention.md
  sec/threat-models/STRIDE.md
  services/disclosure-packager/src/pack.ts
  services/disclosure-packager/src/sanitize.ts
  services/disclosure-packager/src/server.ts
  services/ingest-wizard/src/map.ts
  services/lac-compiler/src/dsl.ts
  services/nlq-copilot/src/guard.ts
  services/prov-ledger/db/migrations/002_backfill_example.sql
  services/prov-ledger/src/verify.ts
  tests/e2e/fixtures/case.fixture.ts
  tests/e2e/report.flow.spec.ts
  tests/fuzz/lac.dsl.fuzz.spec.ts
  tests/fuzz/prov.manifest.fuzz.spec.ts
  tests/k6/gates/prov-ledger.gate.js
  tests/property/ingest.mapping.property.spec.ts
  tests/property/nlq.guard.property.spec.ts
Due: e2e

feat: operationalize gtm messaging system
  docs/gtm/claims/claims.csv
  docs/gtm/claims/claims.json
  docs/gtm/gtm_messaging_operating_system.md
  server/src/app.ts
  server/src/gtm/__tests__/gtm-messaging-service.test.ts
  server/src/gtm/claims-repository.ts
  server/src/gtm/gtm-messaging-service.ts
  server/src/gtm/types.ts
  server/src/routes/gtm-messaging.ts
Due: unittests

feat: harden queue worker and cache utilities
  libs/ops/jest.config.cjs
  libs/ops/src/__tests__/cache.test.ts
  libs/ops/src/__tests__/queue.test.ts
  libs/ops/src/cache.ts
  libs/ops/src/events.ts
  libs/ops/src/metrics-queue.ts
  libs/ops/src/queue.ts
  ops/grafana/dashboards/scale-overview.json
  ops/helm/intelgraph/values-scale.yaml
  ops/k8s/hpa/prov-ledger.hpa.yaml
  ops/k8s/keda/worker.scaledobject.yaml
  ops/k8s/pgbouncer/deploy.yaml
  ops/k8s/redis/redis.yaml
  ops/k8s/vpa/prov-ledger.vpa.yaml
  ops/migrate/README.md
  ops/migrate/async-migrate.sh
  ops/runbooks/load-test.md
  ops/terraform/postgres/replicas.tf
  services/prov-ledger/db/migrations/010_partition_claim_by_month.sql
  services/prov-ledger/src/cache-keys.ts
  services/prov-ledger/src/db-readwrite.ts
  services/prov-ledger/src/routes/pcl.ts
  services/schema-ingest-wizard/src/queue-producers.ts
  services/worker-queue/jest.config.cjs
  services/worker-queue/package.json
  services/worker-queue/src/index.test.ts
  services/worker-queue/src/index.ts
  services/worker-queue/tsconfig.json
  tests/k6/scenarios/soak.js
  tests/k6/scenarios/spike.js
  tests/k6/scenarios/stress.js
Due: none

fix: add start-new case export flow
  apps/web/src/components/case/CaseExportModal.tsx
  apps/web/src/hooks/useCaseExportJob.test.ts
  apps/web/src/hooks/useCaseExportJob.ts
  apps/web/src/lib/api/export.ts
  apps/web/src/lib/exportUtils.test.ts
  apps/web/src/lib/exportUtils.ts
  apps/web/src/lib/flags.ts
  apps/web/src/pages/CaseDetailPage.tsx
  apps/web/src/store/exportJobsStore.test.ts
  apps/web/src/store/exportJobsStore.ts
  apps/web/src/telemetry/export.ts
  apps/web/src/types/export.ts
  apps/web/src/types/index.ts
  apps/web/tests/case-export.spec.ts
Due: none

feat: expand revops governance enforcement
  docs/revops-operating-blueprint.md
  policy/revops/bundle.yaml
  policy/revops/rego/governance.rego
  policy/revops/schemas/decision/governance_decision.json
  policy/revops/schemas/input/governance.json
  policy/revops/tests/fixtures/config.json
  policy/revops/tests/fixtures/governance_inputs.json
  policy/revops/tests/governance_test.rego
  scripts/policy-test.sh
Due: none

test: expand tenant isolation coverage
  server/src/tests/tenantIsolation.test.ts
Due: none

feat(policy): add authority schema validator
  ga-graphai/packages/policy/src/authority-schema-validator.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/authority-schema-validator.test.ts
Due: none

feat: add tamper-evident audit bus
  services/authz-gateway/src/audit.ts
  services/authz-gateway/tests/audit-bus.test.ts
Due: none

docs: codify product governance operating system
  docs/product-ops/product-governance-operating-system.md
Due: none

chore: remove temp files
  server/src/graphql/resolvers/multimodalResolvers.ts.backup
  v3-typecheck-output.txt
  v4-typecheck-output.txt
Due: unittests

chore: add fuzz harness scaffolding
  package.json
  test/fuzz/fuzzRunner.test.ts
  test/fuzz/jest.config.cjs
  test/fuzz/seeds/connector.txt
  test/fuzz/seeds/csv-edge.txt
  test/fuzz/seeds/csv.txt
  test/fuzz/seeds/jsonl.txt
  test/fuzz/seeds/redaction.txt
  test/fuzz/tsconfig.json
  tooling/fuzz/cli.ts
  tooling/fuzz/fuzzRunner.ts
Due: none

docs: add GLM-4.6 to catalog
  docs/model-catalog/zhipu-glm-4.5-suite.md
  model-catalog/catalog.yaml
Due: none

chore: align dependency hygiene updates
  packages/api-gateway/package.json
  packages/entity-resolution/package.json
  packages/platform-benchmarks/src/cli.ts
  packages/platform-benchmarks/src/harness.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: unittests

Add design system components, tokens, and telemetry (#14328)
  client/src/design-system/DesignSystemProvider.tsx
  client/src/design-system/__tests__/designSystem.test.tsx
  client/src/design-system/components/DataTable.tsx
  client/src/design-system/components/OnboardingWizard.tsx
  client/src/design-system/components/PageShell.tsx
  client/src/design-system/components/SettingsLayout.tsx
  client/src/design-system/index.ts
  client/src/design-system/telemetry.ts
  client/src/design-system/theme.ts
  client/src/design-system/tokens.ts
  docs/ux_platform_program.md
Due: unittests

Add final epics to Summit 2025 roadmap (#14181)
  SUMMIT_2025_ROADMAP.md
Due: none

Add policy plane SLO and evidence hooks (#14258)
  docs/sprint-n10-enterprise-default-plan.md
  services/authz-gateway/src/incidents.ts
  services/authz-gateway/src/index.ts
  services/authz-gateway/src/middleware.ts
  services/authz-gateway/src/slo.ts
  services/authz-gateway/src/standards.ts
  services/authz-gateway/tests/slo.test.ts
  services/authz-gateway/tests/standards.integration.test.ts
Due: none

docs: add GLM-4.6 to catalog (#14362)
  docs/model-catalog/zhipu-glm-4.5-suite.md
  model-catalog/catalog.yaml
Due: none

chore: add fuzz harness scaffolding (#14359)
  package.json
  test/fuzz/fuzzRunner.test.ts
  test/fuzz/jest.config.cjs
  test/fuzz/seeds/connector.txt
  test/fuzz/seeds/csv-edge.txt
  test/fuzz/seeds/csv.txt
  test/fuzz/seeds/jsonl.txt
  test/fuzz/seeds/redaction.txt
  test/fuzz/tsconfig.json
  tooling/fuzz/cli.ts
  tooling/fuzz/fuzzRunner.ts
Due: none

chore: consolidate PR templates into single file
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Due: none

Add product governance operating system blueprint (#14341)
  docs/product-ops/product-governance-operating-system.md
Due: none

Add tamper-evident audit chain for authz gateway logs (#14339)
  services/authz-gateway/src/audit.ts
  services/authz-gateway/tests/audit-bus.test.ts
Due: none

Add authority schema validator for policy package (#14340)
  ga-graphai/packages/policy/src/authority-schema-validator.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/authority-schema-validator.test.ts
Due: none

test: expand tenant isolation coverage (#14338)
  server/src/tests/tenantIsolation.test.ts
Due: none

Expand RevOps governance enforcement (#14337)
  docs/revops-operating-blueprint.md
  policy/revops/bundle.yaml
  policy/revops/rego/governance.rego
  policy/revops/schemas/decision/governance_decision.json
  policy/revops/schemas/input/governance.json
  policy/revops/tests/fixtures/config.json
  policy/revops/tests/fixtures/governance_inputs.json
  policy/revops/tests/governance_test.rego
  scripts/policy-test.sh
Due: none

Add start-new case export option and jittered polling (#14336)
  apps/web/src/components/case/CaseExportModal.tsx
  apps/web/src/hooks/useCaseExportJob.test.ts
  apps/web/src/hooks/useCaseExportJob.ts
  apps/web/src/lib/api/export.ts
  apps/web/src/lib/exportUtils.test.ts
  apps/web/src/lib/exportUtils.ts
  apps/web/src/lib/flags.ts
  apps/web/src/pages/CaseDetailPage.tsx
  apps/web/src/store/exportJobsStore.test.ts
  apps/web/src/store/exportJobsStore.ts
  apps/web/src/telemetry/export.ts
  apps/web/src/types/export.ts
  apps/web/src/types/index.ts
  apps/web/tests/case-export.spec.ts
Due: none

Add scale-out autoscaling configs and queue plumbing (#14335)
  libs/ops/jest.config.cjs
  libs/ops/src/__tests__/cache.test.ts
  libs/ops/src/__tests__/queue.test.ts
  libs/ops/src/cache.ts
  libs/ops/src/events.ts
  libs/ops/src/metrics-queue.ts
  libs/ops/src/queue.ts
  ops/grafana/dashboards/scale-overview.json
  ops/helm/intelgraph/values-scale.yaml
  ops/k8s/hpa/prov-ledger.hpa.yaml
  ops/k8s/keda/worker.scaledobject.yaml
  ops/k8s/pgbouncer/deploy.yaml
  ops/k8s/redis/redis.yaml
  ops/k8s/vpa/prov-ledger.vpa.yaml
  ops/migrate/README.md
  ops/migrate/async-migrate.sh
  ops/runbooks/load-test.md
  ops/terraform/postgres/replicas.tf
  services/prov-ledger/db/migrations/010_partition_claim_by_month.sql
  services/prov-ledger/src/cache-keys.ts
  services/prov-ledger/src/db-readwrite.ts
  services/prov-ledger/src/routes/pcl.ts
  services/schema-ingest-wizard/src/queue-producers.ts
  services/worker-queue/jest.config.cjs
  services/worker-queue/package.json
  services/worker-queue/src/index.test.ts
  services/worker-queue/src/index.ts
  services/worker-queue/tsconfig.json
  tests/k6/scenarios/soak.js
  tests/k6/scenarios/spike.js
  tests/k6/scenarios/stress.js
Due: none

Implement GTM messaging claims service and API (#14333)
  docs/gtm/claims/claims.csv
  docs/gtm/claims/claims.json
  docs/gtm/gtm_messaging_operating_system.md
  server/src/app.ts
  server/src/gtm/__tests__/gtm-messaging-service.test.ts
  server/src/gtm/claims-repository.ts
  server/src/gtm/gtm-messaging-service.ts
  server/src/gtm/types.ts
  server/src/routes/gtm-messaging.ts
Due: unittests

Harden tri-pane time window synchronization (#14332)
  ga-graphai/packages/web/src/tri-pane.ts
  ga-graphai/packages/web/tests/timeBrushFlow.test.ts
  ga-graphai/packages/web/tests/triPane.test.ts
Due: none

Implement procurement operating system engine (#14327)
  docs/strategy/procurement-operating-system.md
  packages/procurement-os/package.json
  packages/procurement-os/src/ExceptionRegistry.ts
  packages/procurement-os/src/IntakeValidator.ts
  packages/procurement-os/src/ProcurementEngine.ts
  packages/procurement-os/src/RenewalCalendar.ts
  packages/procurement-os/src/RiskTieringEngine.ts
  packages/procurement-os/src/ScorecardService.ts
  packages/procurement-os/src/SpendGate.ts
  packages/procurement-os/src/VRMService.ts
  packages/procurement-os/src/WorkflowRouter.ts
  packages/procurement-os/src/index.ts
  packages/procurement-os/src/types.ts
  packages/procurement-os/tests/procurement-os.spec.ts
  packages/procurement-os/tsconfig.json
Due: unittests

Add service scaffolding for ledger, policy, and ops tooling (#14326)
  env/grafana/dashboards/ops-overview.json
  libs/ops/src/chaos.ts
  libs/ops/src/costguard.ts
  services/case-report/src/resolvers.ts
  services/case-report/tests/unit/case.spec.ts
  services/disclosure-packager/src/pack.ts
  services/edge-kit/src/crdt.ts
  services/edge-kit/tests/unit/crdt.spec.ts
  services/federation-planner/src/plan.ts
  services/ingest-wizard/src/enrich.ts
  services/ingest-wizard/src/map.ts
  services/lac-compiler/src/compile.ts
  services/lac-compiler/src/dsl.ts
  services/lac-compiler/src/routes.ts
  services/lac-compiler/tests/unit/compile.spec.ts
  services/license-registry/src/hook.ts
  services/license-registry/tests/unit/hook.spec.ts
  services/nlq-copilot/src/guard.ts
  services/nlq-copilot/src/server.ts
  services/nlq-copilot/tests/unit/guard.spec.ts
  services/prov-ledger/db/migrations/001_init.sql
  services/prov-ledger/grafana/prov-ledger-overview.json
  services/prov-ledger/jest.config.js
  services/prov-ledger/src/db.ts
  services/prov-ledger/src/ledger.ts
  services/prov-ledger/src/routes.ts
  services/prov-ledger/tests/unit/ledger.spec.ts
  services/zktx/src/overlap.ts
  services/zktx/tests/unit/overlap.spec.ts
  tests/e2e/basic.spec.ts
  tests/k6/prov-ledger.smoke.js
Due: none
