Repository BrianCLong/summit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

Add Production-Grade Disinformation Detection Whitepaper (#17630)
  docs/whitepaper/production_grade_disinformation_detection_systems.md
Due: none

⚡ Bolt: Parallelize Maestro dependency checks (#17629)
  packages/maestro-core/src/__tests__/dependency_optimization.test.ts
  packages/maestro-core/src/engine.ts
Due: unittests

Resolve Dependency Hygiene Debt and EventEmitter Leak (#17627)
  deps/dep_delta.md
  deps/dependency_delta.md
  package.json
  packages/platform-governance/dep-graph-LKmLOS/packages/pkg-a/package.json
  packages/platform-governance/dep-graph-LKmLOS/packages/pkg-b/package.json
  server/src/hunting/AutoRemediationHooks.ts
  server/src/hunting/LLMChainExecutor.ts
  server/src/hunting/ThreatHuntingOrchestrator.ts
  server/src/hunting/__tests__/ThreatHuntingOrchestrator.test.ts
  services/agentic-mesh-evaluation/package.json
  services/graphrag/package.json
Due: unittests

chore: Add Summit GA Release Plan and Scope Documentation (#17626)
  .github/workflows/auto-enqueue.yml
  docs/GA_EXECUTION_PLAN.md
  docs/GA_READINESS_CHECKLIST.md
  docs/ga-scope.md
Due: none

🎨 Palette: Enhance Command Palette with functional actions (#17624)
  apps/webapp/src/App.tsx
  apps/webapp/src/components/CommandPalette.test.tsx
  apps/webapp/src/components/CommandPalette.tsx
Due: none

feat: Agent Registry and Guardrails (Epic A) (#17614)
  .github/workflows/_reusable-slsa-build.yml
  .github/workflows/agentic-policy-drift.yml
  .github/workflows/reusable-golden-path.yml
  summit/governance/guards.py
  summit/orchestration/society_of_thought.py
  summit/registry/model.py
  summit/registry/service.py
  summit/registry/store.py
  tests/test_agent_guard.py
  tests/test_agent_registry.py
Due: none

Add Summit Platform Executive Briefing (2026-01-31) (#17611)
  README.md
  docs/README.md
  docs/executive/2026-01-31-summit-platform-briefing.md
  docs/executive_briefing.md
Due: none

Phase-Aware GraphRAG Engine Integration (#17592)
  ci/query_registry_lint.py
  docs/graphrag/evidence.md
  docs/graphrag/query-governance.md
  evidence/eval-repro/GRRAG-20260201-test-sha-eval-run/metrics.json
  evidence/eval-repro/GRRAG-20260201-test-sha-eval-run/report.json
  evidence/eval-repro/GRRAG-20260201-test-sha-eval-run/stamp.json
  evidence/eval-repro/metrics1.json
  evidence/eval-repro/metrics2.json
  packages/graphrag-core/jest.config.cjs
  packages/graphrag-core/package.json
  packages/graphrag-core/src/index.ts
  packages/graphrag-core/src/phases.ts
  packages/graphrag-core/src/query_registry/__tests__/registry.test.ts
  packages/graphrag-core/src/query_registry/index.ts
  packages/graphrag-core/src/query_registry/registry.json
  packages/graphrag-core/src/query_registry/schema.json
  packages/graphrag-core/tsconfig.json
  packages/maestro-core/package.json
  services/graphrag-engine/jest.config.cjs
  services/graphrag-engine/package.json
  services/graphrag-engine/src/deliberation/DeliberationEngine.ts
  services/graphrag-engine/src/deliberation/RobustnessScorer.ts
  services/graphrag-engine/src/deliberation/__tests__/deliberation.test.ts
  services/graphrag-engine/src/discovery/DiscoveryRetriever.ts
  services/graphrag-engine/src/discovery/__tests__/discovery.test.ts
  services/graphrag-engine/src/evidence/EvidenceWriter.ts
  services/graphrag-engine/src/evidence/__tests__/evidence.test.ts
  services/graphrag-engine/src/justification/JustificationEvidenceAPI.ts
  services/graphrag-engine/src/justification/ProofExtractor.ts
  services/graphrag-engine/src/justification/__tests__/justification.test.ts
  services/graphrag-engine/src/justification/templates/proof.cypher
  services/graphrag-engine/src/policies/answering.ts
  services/graphrag-engine/src/types/explanations.ts
  services/graphrag-engine/tsconfig.json
  tools/repro/eval_runner.ts
  tools/repro/run_offline_eval.sh
Due: unittests

feat(archsim): implement foundation lane with deterministic simulation and audit (#17589)
  .github/workflows/archsim.yml
  evidence/EVD-ARCHIMYST-SIM-001/stamp.json
  modules/archsim/generate_evidence.py
  scripts/ci/gate_check.sh
Due: none

feat(compfeat): establish 5-PR foundation skeleton for clean-room subsumption (#17580)
  summit/api/v1/compfeat.py
  summit/ci/dep_delta.md
  summit/ci/gates/compfeat_gates.yml
  summit/ci/required_checks.todo.md
  summit/evals/compfeat/fixtures/negative.json
  summit/evals/compfeat/fixtures/positive.json
  summit/evals/compfeat/harness.py
  summit/evidence/schemas/compfeat.index.schema.json
  summit/evidence/schemas/compfeat.metrics.schema.json
  summit/evidence/schemas/compfeat.report.schema.json
  summit/evidence/schemas/compfeat.stamp.schema.json
  summit/features/compfeat/README.md
  summit/features/compfeat/__init__.py
  summit/features/compfeat/engine.py
  summit/obs/compfeat_events.py
  summit/policy/compfeat_policy.py
  tests/test_compfeat_e2e.py
  tests/test_compfeat_evals.py
  tests/test_compfeat_policy.py
Due: none

Graph Shape Guardrail Implementation (#17577)
  .github/workflows/governance-check.yml
  .github/workflows/graph-shape-guardrail.yml
  .github/workflows/semver-label.yml
  DEPENDENCY_DELTA.md
  configs/graph_shape_guardrail.yaml
  docs/ops/runbooks/graph-shape-guardrail.md
  docs/security/threat_model_graph_shape_guardrail.md
  requirements.in
  schemas/graph_shape_guardrail/metrics.schema.json
  schemas/graph_shape_guardrail/report.schema.json
  schemas/graph_shape_guardrail/stamp.schema.json
  scripts/check-semver-label.ts
  tools/graph-shape-guardrail/README.md
  tools/graph-shape-guardrail/graph_shape_guardrail/__init__.py
  tools/graph-shape-guardrail/graph_shape_guardrail/main.py
  tools/graph-shape-guardrail/graph_shape_guardrail/neo4j_client.py
  tools/graph-shape-guardrail/graph_shape_guardrail/policy.py
  tools/graph-shape-guardrail/graph_shape_guardrail/sampling.py
  tools/graph-shape-guardrail/graph_shape_guardrail/stats.py
  tools/graph-shape-guardrail/graph_shape_guardrail/topk.py
  tools/graph-shape-guardrail/graph_shape_guardrail/validation.py
  tools/graph-shape-guardrail/graph_shape_guardrail/warehouse.py
  tools/graph-shape-guardrail/sql/graph_degree_metrics_v1.sql
  tools/graph-shape-guardrail/tests/__init__.py
  tools/graph-shape-guardrail/tests/test_neo4j_query_plan_smoke.py
  tools/graph-shape-guardrail/tests/test_policy_thresholds.py
  tools/graph-shape-guardrail/tests/test_sampling_bottomk.py
  tools/graph-shape-guardrail/tests/test_sampling_stream.py
  tools/graph-shape-guardrail/tests/test_skewness_known_cases.py
  tools/graph-shape-guardrail/tests/test_stats_determinism.py
Due: none

feat: Supply Chain Hardening & Evidence Framework (#17576)
  .github/workflows/ci_supplychain_foundation.yml
  .github/workflows/release_image.yml
  Dockerfile
  Dockerfile.services
  Makefile
  deploy/policy-controller/cip_summit_images.yaml
  deploy/policy-controller/policy-controller-values.yaml
  docs/architecture/supply-chain.md
  docs/ops/admission-enforcement.md
  docs/ops/release-signing.md
  docs/ops/supply-chain-evidence.md
  docs/security/attestation-modes.md
  docs/security/k8s-admission-threats.md
  docs/security/supply-chain-controls.md
  evidence/sc-ea8aba46d-local-build/metrics.json
  evidence/sc-ea8aba46d-local-build/report.json
  evidence/sc-ea8aba46d-local-build/stamp.json
  hack/supplychain/evidence_id.sh
  hack/supplychain/gen_evidence.py
  hack/supplychain/lint_dockerfile_pin.sh
  hack/supplychain/verify_attestation_shape.py
  tests/e2e/policy_controller_kind_test.sh
  tests/supply-chain/test_attestation_schema.py
  tests/supply-chain/test_dockerfile_pin.sh
  tests/supply-chain/test_evidence_id.sh
Due: e2e

OSINT Methodology Upgrade: Uncertainty-First & Hypothesis Ledger (#17572)
  ci/no_confidence_without_uncertainty.sh
  ci/schema_validate.sh
  ci/validate_schema.py
  docs/analytics/entropy_signals.md
  docs/architecture/README.md
  docs/architecture/credibility_dynamics.md
  docs/architecture/ufar.md
  docs/ops/rss_retention.md
  evidence/EVID-20260131-ufar-0001/metrics.json
  evidence/EVID-20260131-ufar-0001/report.json
  evidence/EVID-20260131-ufar-0001/stamp.json
  packages/graph-reasoning/src/engine/CredibilityEngine.ts
  packages/graph-reasoning/src/engine/EntropyAnalyzer.ts
  packages/graph-reasoning/src/index.ts
  packages/osint-collector/src/core/Diff.ts
  packages/osint-collector/src/core/Snapshot.ts
  packages/osint-collector/src/core/Vantage.ts
  packages/osint-collector/src/index.ts
  packages/types/src/hypothesis_ledger.ts
  packages/types/src/index.ts
  packages/types/src/ufar.ts
  schemas/hypothesis_ledger.schema.json
  schemas/ufar.schema.json
  src/collector/vantage/vantage_profiles.yaml
  tests/regression/test_no_confidence_without_uncertainty.ts
  tests/regression/test_no_confidence_without_uncertainty_runner.ts
  tests/schema/test_ufar_required_fields.ts
Due: unittests

CI Cost Optimization: Migrate to Hosted Runners & Reduce Retention (#17571)
  .github/workflows/.archive/self-hosted-runners-example.yml
  .github/workflows/ci-core.yml
  .github/workflows/ci-verify.yml
Due: none

feat: initialize Narrative Intelligence service (#17570)
  arch-fit.md
  docs/ops/runbook_narrative_intel.md
  docs/security/threat_model_narrative_intel.md
  evidence/EVID-NARINT-SMOKE/report.json
  evidence/EVID-NARINT-SMOKE/stamp.json
  model-manifest.json
  services/narrative-intel/README.md
  services/narrative-intel/api/openapi.yaml
  services/narrative-intel/evals/bench_multihop_recall.py
  services/narrative-intel/evals/bench_resurfacing_gap.py
  services/narrative-intel/evals/bench_role_stability.py
  services/narrative-intel/evals/bench_style_shift_coordination.py
  services/narrative-intel/evals/carb/bench_multilingual_framing.py
  services/narrative-intel/evals/smoke/frame_elements_eval.py
  services/narrative-intel/helm/values.yaml
  services/narrative-intel/pyproject.toml
  services/narrative-intel/spec/graph_edges.md
  services/narrative-intel/spec/narrative_skeleton.schema.json
  services/narrative-intel/src/narrative_intel/__init__.py
  services/narrative-intel/src/narrative_intel/actors/coordination/clsb_detector.py
  services/narrative-intel/src/narrative_intel/actors/role_inference.py
  services/narrative-intel/src/narrative_intel/extractors/frame_elements.py
  services/narrative-intel/src/narrative_intel/fingerprints/structure_hash.py
  services/narrative-intel/src/narrative_intel/memory/resurfacing_detector.py
  services/narrative-intel/src/narrative_intel/pipeline/extract_skeleton.py
  services/narrative-intel/src/narrative_intel/propagation/hop_graph.py
  services/narrative-intel/src/narrative_intel/similarity/graph_edit_distance.py
  services/narrative-intel/src/narrative_intel/style/epistemic_style_classifier.py
  services/narrative-intel/tests/test_extract_skeleton_deterministic.py
  source-policy.md
Due: none

PR-1: Transform Search in Run Panel (#17569)
  apps/webapp/src/components/RunPanel/TransformSearch.test.tsx
  apps/webapp/src/components/RunPanel/TransformSearch.tsx
  apps/webapp/src/lib/search/transformIndex.ts
  docs/product/transform-search.md
  evidence/osintplatint_20260201_transform_search_ea8aba4/metrics.json
  evidence/osintplatint_20260201_transform_search_ea8aba4/report.json
  evidence/osintplatint_20260201_transform_search_ea8aba4/stamp.json
  services/enrichment-service/src/api/listTransforms.ts
  services/enrichment-service/src/server.ts
  tools/evidence/run_eval_transform_search.py
Due: none

feat: add graph-validator tool for degree drift monitoring (#17567)
  tools/graph-validator/Dockerfile
  tools/graph-validator/README.md
  tools/graph-validator/docker-compose.yml
  tools/graph-validator/loader.py
  tools/graph-validator/run_check.sh
  tools/graph-validator/validator.py
Due: none

RegIntel Pipeline Skeleton & Source Framework (#17565)
  ci/regintel_schema_validate.py
  docs/regintel/ARCHITECTURE.md
  summit/regintel/__init__.py
  summit/regintel/cli.py
  summit/regintel/diff/__init__.py
  summit/regintel/emitters/__init__.py
  summit/regintel/evals/__init__.py
  summit/regintel/evidence/__init__.py
  summit/regintel/evidence/emit.py
  summit/regintel/evidence/schemas/metrics.schema.json
  summit/regintel/evidence/schemas/report.schema.json
  summit/regintel/evidence/schemas/stamp.schema.json
  summit/regintel/extract/__init__.py
  summit/regintel/graph/__init__.py
  summit/regintel/models/__init__.py
  summit/regintel/sources/__init__.py
  summit/regintel/sources/base.py
  summit/regintel/sources/mirror_manifest.jsonl
  summit/regintel/sources/snapshot.py
  summit/regintel/tests/__init__.py
Due: none

Implement CI Cost Guard Automation (#17564)
  .github/ci-cost-policy.yml
  .github/workflows/cost-guard.yml
  scripts/ci/cost_guard.py
Due: none

Add ReasoningBudget schema and API scaffolding (#17563)
  docs/graph-rag/reasoning-budget.md
  services/graphrag_api/__init__.py
  services/graphrag_api/middleware/__init__.py
  services/graphrag_api/middleware/budget_enforcer.py
  services/graphrag_api/models/__init__.py
  services/graphrag_api/models/reasoning_budget.py
  services/graphrag_api/routes/__init__.py
  services/graphrag_api/routes/chat.py
  services/graphrag_api/tests/__init__.py
  services/graphrag_api/tests/test_budget_defaults_by_tenant.py
  services/graphrag_api/tests/test_reasoning_budget_validation.py
Due: none

Add Competitive KG Scaffolding (#17562)
  docs/competitive/ARCHITECTURE.md
  docs/competitive/README.md
  packages/evidence/schemas/metrics.schema.json
  packages/evidence/schemas/report.schema.json
  packages/evidence/schemas/stamp.schema.json
  packages/hybrid_planner/__init__.py
  packages/hybrid_planner/operators/__init__.py
  packages/hybrid_planner/planner.py
  services/competitive_kg/__init__.py
  services/competitive_kg/extract/__init__.py
  services/competitive_kg/ingest/__init__.py
  services/competitive_kg/render/__init__.py
  services/competitive_kg/schema/__init__.py
  services/competitive_kg/sources/allowlist.yaml
  services/federation_router/__init__.py
  services/federation_router/policy/__init__.py
Due: unittests

feat: Implement MCP Async Tasks (SEP-1686) (#17559)
  docs/mcp/tasks.md
  packages/agent-runtime/src/jobs/job_store.ts
  packages/agent-runtime/src/jobs/mcp_task_job.ts
  packages/agent-runtime/src/jobs/types.ts
  packages/agent-runtime/src/jobs/worker.ts
  packages/agent-runtime/test/jobs/worker.test.ts
  packages/api-framework/src/ws/task_status_ws.ts
  packages/mcp/src/tasks/index.ts
  packages/mcp/src/tasks/meta.ts
  packages/mcp/src/tasks/poll.ts
  packages/mcp/src/tasks/sdk.ts
  packages/mcp/src/tasks/task_client.ts
  packages/mcp/src/tasks/types.ts
  packages/mcp/test/integration/fake_mcp_server.test.ts
  packages/mcp/test/tasks/flag.test.ts
  packages/mcp/test/tasks/meta.test.ts
  packages/mcp/test/tasks/poll.test.ts
Due: unittests

feat(io): implement Portal Kombat Venezuela detection skeleton (#17558)
  summit/io/evidence/schemas/inauth_metrics.schema.json
  summit/io/evidence/validate.py
  tests/fixtures/io/inauth_metrics.json
  tests/io/test_evidence_schemas.py
Due: none

chore(ci): add required-checks verifier scaffold for residency gates (#17541)
  prompts/ci/required-checks-verifier@v1.md
  summit/ci/verifier/verify_required_checks.py
Due: none

fix: harden FCR validation, enforce atomic privacy-budget consumption, and add OpenAPI FCR endpoints (#17378)
  agents/examples/fcr-implementation.task.json
  artifacts/agent-runs/FCR_IMPLEMENTATION_V1.json
  docs/federated-campaign-radar-dev-guide.md
  docs/federated-campaign-radar-spec.md
  docs/federated-campaign-radar.md
  docs/runbooks/federated-campaign-radar-ops.md
  fixtures/fcr-sample.json
  openapi/spec.yaml
  prompts/federated-campaign-radar-implementation.md
  prompts/registry.yaml
  schemas/fcr/v1/fcr-alert.schema.json
  schemas/fcr/v1/fcr-cluster.schema.json
  schemas/fcr/v1/fcr-ingest-request.schema.json
  schemas/fcr/v1/fcr-signal.schema.json
  server/policies/fcr-alerts.rego
  server/policies/fcr-privacy.rego
  server/policies/fcr-sharing.rego
  server/src/app.ts
  server/src/provenance/fcr-ledger.ts
  server/src/routes/federated-campaign-radar.ts
  server/src/services/__tests__/FcrService.test.ts
  server/src/services/fcr/clustering-service.ts
  server/src/services/fcr/credential-scorer.ts
  server/src/services/fcr/early-warning-service.ts
  server/src/services/fcr/fcr-service.ts
  server/src/services/fcr/privacy-budget-service.ts
  server/src/services/fcr/response-pack-service.ts
  server/src/services/fcr/schema-validator.ts
  server/src/services/fcr/types.ts
Due: unittests

dev(gateway): add typesense + OPA to docker-compose.dev and permissive local policy (#17376)
  docker-compose.dev.yaml
Due: none

docs: add technology debt management strategy - Closes #16721, #8443, #8442, #8441, #8440, #8439 (#17341)
  docs/TECHNOLOGY_DEBT_MANAGEMENT.md
Due: none

docs: add vendor management and technology partnerships - Closes #16721, #8443, #8442, #8441, #8440, #8439 (#17337)
  docs/VENDOR_MANAGEMENT_AND_PARTNERSHIPS.md
Due: none

docs: add customer success communication templates - Closes #16721, #8443, #8442, #8441, #8440, #8439 (#17335)
  docs/CUSTOMER_SUCCESS_COMMUNICATION_TEMPLATES.md
Due: none

docs: add comprehensive performance optimization runbooks - Closes #16721, #8443, #8442, #8441, #8440, #8439 (#17326)
  docs/PERFORMANCE_OPTIMIZATION_RUNBOOKS.md
Due: none

docs: reinforce agentic runtime alignment with governance authorities (#17317)
  docs/agentic-mesh/00-architecture.md
  prompts/docs/agentic-runtime-alignment@v1.md
Due: none

docs: extend Copilot trace governance checks (#17316)
  docs/runbooks/ai-copilot-service.md
Due: none

docs: add Summit Simplifier Contract, register prompt/task, and record 23rd-order imputed intention metric (#17314)
  agents/examples/summit-simplifier-contract-task.json
  docs/governance/SUMMIT_SIMPLIFIER_CONTRACT.md
  prompts/governance/summit-simplifier-contract@v1.md
Due: none

feat: add launchpad schemas and validators (#17765)
  modules/launchpad/__init__.py
  modules/launchpad/schemas/agent.schema.json
  modules/launchpad/schemas/project.schema.json
  modules/launchpad/schemas/vote.schema.json
  modules/launchpad/validate.py
  tests/launchpad/test_schemas_denies_by_default.py
Due: none

docs: update required-checks mapping and add observability-evidence PR1 to roadmap (#17764)
  docs/required_checks.todo.md
Due: none

feat: add shared memory evidence scaffolding (#17763)
  evidence/EVD-shared-memory-orch-001/metrics.json
  evidence/EVD-shared-memory-orch-001/report.json
  evidence/EVD-shared-memory-orch-001/stamp.json
  evidence/index.json
  evidence/schemas/shared-memory-orch-metrics.schema.json
  evidence/schemas/shared-memory-orch-report.schema.json
  evidence/schemas/shared-memory-orch-stamp.schema.json
  prompts/evidence/shared-memory-evidence-pr1@v1.md
  tests/evidence/test_shared_memory_orch_schema.py
Due: none

chore(evidence): add run-based evidence verifier and align schemas (#17748)
  ci/evidence_verify.py
  evidence/README.md
  evidence/schemas/index.schema.json
  evidence/schemas/metrics.schema.json
  evidence/schemas/report.schema.json
  evidence/schemas/stamp.schema.json
Due: none

Path conditions:
  unittests: any of: server/, client/, packages/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
  integration: any of: tests/integration/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
  e2e: any of: tests/e2e/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
