Repository BrianCLong/summit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
        only_pulls: true

      # Critical paths require 85% coverage
      critical:
        paths:
          - "server/src/middleware/**"
          - "server/src/graphql/resolvers/**"
          - "server/src/services/**"
          - "services/api/src/**"
        target: 85%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop

flags:
  unittests:
    paths:
      - server/
      - client/
      - packages/
    carryforward: true

  integration:
    paths:
      - tests/integration/
    carryforward: true

  e2e:
    paths:
      - tests/e2e/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/archive/**"
  - "**/*.config.js"
  - "**/*.config.ts"

# GitHub Checks integration
github_checks:
  annotations: true

feat: add gateway profiling and cache instrumentation
  ga-graphai/docs/performance/gateway-ops-playbook.md
  ga-graphai/packages/gateway/load/k6-plan.js
  ga-graphai/packages/gateway/src/app.js
  ga-graphai/packages/gateway/src/cache.ts
  ga-graphai/packages/gateway/src/index.ts
  ga-graphai/packages/gateway/src/metrics.js
  ga-graphai/packages/gateway/src/optimizations.js
  ga-graphai/packages/gateway/src/profiler.js
Due: none

chore: streamline quickstart and docs automation
  .github/workflows/api-docs-sync.yml
  README.md
  docs/API_DOCUMENTATION.md
  docs/CODING_STANDARDS.md
  docs/CONTRIBUTOR_CHEATSHEET.md
  docs/MIGRATION-v2.0.0-to-MVP-3.md
  docs/ONBOARDING.md
  docs/ONBOARDING_WALKTHROUGH.md
  package.json
  scripts/generate-docs.sh
  scripts/quickstart.sh
  server/public/openapi.json
Due: unittests

chore: remove deprecated feature flag stack
  .eslintrc.cjs
  RELEASE_NOTES_v24.1.md
  docs/ADMIN_PANEL.md
  docs/RISK_LEDGER.md
  docs/deployment/IMPROVEMENTS_SUMMARY.md
  docs/deployment/MIGRATION_GUIDE.md
  docs/deployment/QUICK_START.md
  docs/reference/deprecations.md
  ops/deprecations/deprecated_targets.md
  server/src/config/safety.ts
  server/src/featureFlags/flagsmith.ts
  server/src/flags/store.ts
  server/src/middleware/flagGate.ts
  server/src/routes/recipes.ts
  server/src/services/FeatureFlagService.ts
  server/src/services/__tests__/FeatureFlagService.test.ts
  server/tests/integration/startRecipe.int.test.ts
  server/tests/recipes.test.ts
  server/tsconfig.strict.json
Due: unittests

feat: standardize logging and otel context
  .eslintrc.cjs
  apps/intelgraph-api/package.json
  apps/intelgraph-api/src/index.ts
  connectors/sensors/package.json
  connectors/sensors/src/base-connector.ts
  connectors/sensors/src/connector-manager.ts
  connectors/sensors/src/http-connector.ts
  connectors/sensors/src/polling-connector.ts
  docs/observability/logging-standard.md
  docs/observability/runbooks/logging.md
  packages/logging/package.json
  packages/logging/src/__tests__/logger.test.ts
  packages/logging/src/context.ts
  packages/logging/src/index.ts
  packages/logging/src/logger.ts
  packages/logging/src/middleware.ts
  packages/logging/tsconfig.json
  server/package.json
  server/src/logging/structuredLogger.ts
  server/src/policy/enforcer.ts
  server/src/policy/opa.ts
  server/src/policy/residencyEnforcer.ts
  server/src/policy/simulationCli.ts
  server/src/policy/tenantBundle.ts
  tools/codemods/replace-console-with-logger.js
Due: unittests

chore: align tsconfig baseline
  client/tsconfig.json
  docs/engineering/tsconfig.md
  package.json
  scripts/check-tsconfig.js
  server/tsconfig.json
  tsconfig.base.json
  types/shims/global/index.d.ts
Due: unittests

feat: add issue audit automation tooling
  .gitignore
  ops/issue-audit/issue_dump.json
  ops/issue-audit/report.md
  ops/issue-audit/triage.ts
  package.json
Due: none

docs: add epic progress tracker
  EPIC_PROGRESS.md
Due: none

docs: add orchestration execution plan
  INTELGRAPH_MASTER_ORCHESTRATION_PLAN.md
Due: none

docs: add black-cell orchestration blueprint
  BLACK_CELL_ORCHESTRATION_PLAN.md
Due: none

docs: add master orchestration plan
  MASTER_ORCHESTRATION_PLAN.md
Due: none

docs: add intelgraph execution status report
  INTELGRAPH_EXECUTION_STATUS.md
Due: none

docs: add roadmap epics
  SUMMIT_2025_ROADMAP.md
Due: none

docs: add mvp3 ga epics 13-16 addendum
  docs/MVP3_GA_Epics_13-16.md
Due: none

docs: add intelgraph orchestration blueprint
  docs/intelgraph_master_orchestration.md
Due: none

docs: add finops greenops orchestration plan
  docs/finops-greenops/intelgraph-cost-greenops-master-orchestration.md
Due: none

docs: add partner marketplace master orchestration blueprint
  docs/partner_marketplace_master_plan.md
Due: none

docs: add multi-region readiness blueprint
  docs/intelgraph-multi-region-readiness.md
Due: none

docs: add edge orchestration playbook
  docs/edge/intelgraph-master-orchestration.md
Due: none

feat: implement intelgraph ingest pipeline orchestration
  docs/intelgraph_master_orchestration.md
  packages/stream-processing/jest.config.cjs
  packages/stream-processing/package.json
  packages/stream-processing/src/index.ts
  packages/stream-processing/src/intelgraphPipeline.test.ts
  packages/stream-processing/src/intelgraphPipeline.ts
Due: unittests

feat: add audit verification to dpec cache
  packages/dpec/src/cache.ts
  packages/dpec/src/index.ts
  packages/dpec/src/types.ts
  packages/dpec/test/dpec.spec.ts
Due: unittests

feat: add adaptive cost safety arbiter
  docs/hcls_master_orchestration.md
  ga-graphai/packages/cost-guard/src/index.ts
  ga-graphai/packages/cost-guard/src/types.ts
  ga-graphai/packages/cost-guard/tests/costGuard.spec.ts
Due: none

feat(meta-orchestrator): add payments credit workflow
  docs/intelgraph-master-orchestration-v14.md
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/tests/referenceWorkflows.test.ts
Due: none

docs: add public health orchestration blueprint
  docs/public_health_orchestration.md
Due: none

feat: harden trust safety orchestration
  ga-graphai/docs/trust_safety_master_orchestration.md
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/src/trustSafetyOrchestrator.ts
  ga-graphai/packages/meta-orchestrator/tests/trustSafetyOrchestrator.test.ts
Due: none

feat: enforce multi-region readiness policy
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/src/multi-region-readiness.ts
  ga-graphai/packages/policy/tests/multi-region-readiness.test.ts
Due: none

feat: codify guardrail engines and pipeline
  chaos/experiments.md
  diagrams/data_lineage.mmd
  diagrams/tri_pane.mmd
  disclosure/provenance_wallets.md
  epics.yaml
  finops/cost_guard.md
  ga-graphai/packages/cost-guard/package.json
  ga-graphai/packages/cost-guard/src/index.ts
  ga-graphai/packages/cost-guard/src/types.ts
  ga-graphai/packages/cost-guard/tests/budget-engine.test.ts
  ga-graphai/packages/policy/src/authority-bytecode.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/authority-bytecode.test.ts
  ga-graphai/packages/prov-ledger/src/cli.ts
  ga-graphai/packages/prov-ledger/tests/cli.test.ts
  ga-graphai/packages/query-copilot/src/index.ts
  ga-graphai/packages/query-copilot/src/nlQueryPipeline.ts
  ga-graphai/packages/query-copilot/tests/nlQueryPipeline.test.ts
  governance/policy_by_default.md
  okrs.md
  ops/slo_dashboards.md
  risk_matrix.md
  runbooks/R1_rapid_attribution.md
  runbooks/R2_phishing_cluster.md
  runbooks/R3_disinfo_mapping.md
  runbooks/R9_crisis_ops.md
  scripts/generate_demo_data.py
  spec/authority_compiler.md
  spec/nl_graph_query.md
  spec/prov_ledger_beta.md
  sprint_goal.md
  stories.csv
  tests/e2e/ingest_to_report.md
  tests/load/k6_plan.md
Due: e2e

feat: add golden path service scaffold tooling
  docs/team_prompts_parallel.md
  packages/golden-path/__tests__/golden-path.test.ts
  packages/golden-path/package.json
  packages/golden-path/src/compliance/disclosurePack.ts
  packages/golden-path/src/generator.ts
  packages/golden-path/src/governance/residency.ts
  packages/golden-path/src/governance/retention.ts
  packages/golden-path/src/index.ts
  packages/golden-path/src/ingest/ingestService.ts
  packages/golden-path/src/observability/metrics.ts
  packages/golden-path/src/policy/abac.ts
  packages/golden-path/src/release/canaryController.ts
  packages/golden-path/src/supply-chain/sbom.ts
  packages/golden-path/src/types.ts
  packages/golden-path/template/.github/workflows/service-ci.yml
  packages/golden-path/template/Dockerfile
  packages/golden-path/template/Makefile
  packages/golden-path/template/README.md
  packages/golden-path/template/api/openapi.yaml
  packages/golden-path/template/cmd/server.ts
  packages/golden-path/template/configs/slo.yaml
  packages/golden-path/template/deploy/docker-compose.yml
  packages/golden-path/template/docs/runbook.md
  packages/golden-path/template/package.json
  packages/golden-path/template/tsconfig.json
  packages/golden-path/tsconfig.json
Due: unittests

fix(types): comprehensive monorepo type repairs and cleanup
  server/src/app.ts
  server/src/lib/telemetry/comprehensive-telemetry.ts
Due: unittests

feat: implement cost governance controls
  docs/COST_OPTIMIZATION_EXECUTION_PLAN.md
  ga-graphai/packages/cost-guard/src/governance.ts
  ga-graphai/packages/cost-guard/src/index.ts
  ga-graphai/packages/cost-guard/src/types.ts
  ga-graphai/packages/cost-guard/tests/governance.spec.ts
Due: none

feat: add multi-region governance enforcement
  docs/GLOBAL_MULTI_REGION_PROGRAM.md
  server/src/cross-border/__tests__/multi-region-governance.test.ts
  server/src/cross-border/index.ts
  server/src/cross-border/multi-region-governance.ts
Due: unittests

feat: implement competitive execution engine
  docs/competitive_execution_plan.md
  packages/competitive-execution/__tests__/competitive-execution.test.ts
  packages/competitive-execution/package.json
  packages/competitive-execution/src/index.ts
  packages/competitive-execution/tsconfig.json
  tsconfig.build.json
Due: unittests

feat: harden extension runtime and installs
  docs/ecosystem_extensibility_execution_plan.md
  packages/extensions/cli.ts
  packages/extensions/package.json
  packages/extensions/src/__tests__/installer.spec.ts
  packages/extensions/src/__tests__/loader-policy.spec.ts
  packages/extensions/src/__tests__/sandbox-runner.spec.ts
  packages/extensions/src/compatibility.ts
  packages/extensions/src/health.ts
  packages/extensions/src/installer.ts
  packages/extensions/src/loader.ts
  packages/extensions/src/observability.ts
  packages/extensions/src/policy/static-validator.ts
  packages/extensions/src/registry.ts
  packages/extensions/src/sandbox/sandbox-runner.ts
  packages/extensions/src/sandbox/sandbox-worker.ts
  packages/extensions/vitest.config.ts
Due: unittests

feat: enforce orchestrator write/deploy OPA gate
  server/policies/orchestrator.rego
  server/src/orchestrator/maestro.ts
  server/src/orchestrator/policyAudit.ts
  server/src/orchestrator/policyGuard.ts
  server/src/orchestrator/taskPolicyGate.ts
  server/tests/orchestrator/maestro.test.ts
  server/tests/orchestrator/taskPolicyGate.test.ts
Due: unittests

feat: implement forward defense orchestration
  src/security/ForwardDefenseOrchestrator.ts
  tasks/task-set-2-advanced-epics.md
  tests/forwardDefenseOrchestrator.test.ts
Due: none

feat: add flow governance guardrails toolkit
  docs/THROUGHPUT_TOIL_EXECUTION_PLAYBOOK.md
  packages/flow-governance/__tests__/flow-governance.test.ts
  packages/flow-governance/package.json
  packages/flow-governance/src/flow-metrics.ts
  packages/flow-governance/src/guardrails.ts
  packages/flow-governance/src/index.ts
  packages/flow-governance/src/reporting.ts
  packages/flow-governance/src/types.ts
  packages/flow-governance/tsconfig.json
Due: unittests

feat: implement bulwark cyber defense controls
  docs/cyber/cybint_bulwark_roadmap.md
  packages/cybint-bulwark/jest.config.cjs
  packages/cybint-bulwark/package.json
  packages/cybint-bulwark/src/__tests__/bulwark.test.ts
  packages/cybint-bulwark/src/index.ts
  packages/cybint-bulwark/tsconfig.json
Due: unittests

feat: implement activation funnel services
  docs/activation_warpath_execution_blueprint.md
  server/src/__tests__/activation/ActivationService.test.ts
  server/src/activation/ActivationService.ts
  server/src/activation/ChecklistService.ts
  server/src/activation/EntitlementService.ts
  server/src/activation/ExperimentExposureService.ts
  server/src/activation/FixItPanelService.ts
  server/src/activation/GuidedSetupValidator.ts
  server/src/activation/StarterDataService.ts
  server/src/activation/events.ts
  server/src/app.ts
  server/src/routes/activation.ts
Due: unittests

feat: codify governance controls
  docs/LEGAL_POLICY_ARMOR_EXECUTION.md
  ga-graphai/packages/policy/src/ci-policy-gates.ts
  ga-graphai/packages/policy/src/control-catalog.ts
  ga-graphai/packages/policy/src/data-classification.ts
  ga-graphai/packages/policy/src/evidence-pack.ts
  ga-graphai/packages/policy/src/exceptions-registry.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/src/retention-engine.ts
  ga-graphai/packages/policy/tests/governance-blueprint.test.ts
Due: none
