Repository BrianCLong/summit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
        only_pulls: true

      # Critical paths require 85% coverage
      critical:
        paths:
          - "server/src/middleware/**"
          - "server/src/graphql/resolvers/**"
          - "server/src/services/**"
          - "services/api/src/**"
        target: 85%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop

flags:
  unittests:
    paths:
      - server/
      - client/
      - packages/
    carryforward: true

  integration:
    paths:
      - tests/integration/
    carryforward: true

  e2e:
    paths:
      - tests/e2e/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/archive/**"
  - "**/*.config.js"
  - "**/*.config.ts"

# GitHub Checks integration
github_checks:
  annotations: true

docs: add Linear governance runbook and machine-readable board spec
  docs/roadmap/STATUS.json
  docs/runbooks/linear-governance-runbook.md
  docs/runbooks/linear/board-spec.yaml
Due: none

docs: expand automated agents runbook
  docs/roadmap/STATUS.json
  docs/runbooks/automated-agents-frontier-2026.md
Due: none

docs: add research-to-implementation fusion runbook
  agents/examples/RUNBOOKS-20260215.json
  docs/roadmap/STATUS.json
  docs/runbooks/research-fusion-improvements.md
Due: none

chore: add branch protection payload generator
  .github/protection-rules.yml
  agents/examples/BRANCH_PROTECTION_RULESET_20260114.json
  docs/ci/BRANCH_PROTECTION_POLICY.md
  docs/roadmap/STATUS.json
  package.json
  prompts/ci/branch-protection-enforcement.md
  prompts/registry.yaml
  scripts/ci/__tests__/generate_branch_protection_payload.test.mjs
  scripts/ci/__tests__/generate_ruleset_payload.test.mjs
  scripts/ci/generate_branch_protection_payload.mjs
  scripts/ci/generate_ruleset_payload.mjs
Due: none

fix(release): normalize bundle-index paths
  docs/roadmap/STATUS.json
  scripts/release/__tests__/fixtures/verify-release-bundle/basic/alpha.txt
  scripts/release/__tests__/fixtures/verify-release-bundle/basic/bravo.txt
  scripts/release/__tests__/verify-release-bundle.test.mjs
  scripts/release/build-bundle-index.mjs
  scripts/release/verify-release-bundle.mjs
Due: none

fix: harden fcr validation and openapi
  agents/examples/fcr-implementation.task.json
  artifacts/agent-runs/FCR_IMPLEMENTATION_V1.json
  docs/federated-campaign-radar-dev-guide.md
  docs/federated-campaign-radar-spec.md
  docs/federated-campaign-radar.md
  docs/roadmap/STATUS.json
  docs/runbooks/federated-campaign-radar-ops.md
  fixtures/fcr-sample.json
  openapi/spec.yaml
  prompts/federated-campaign-radar-implementation.md
  prompts/registry.yaml
  schemas/fcr/v1/fcr-alert.schema.json
  schemas/fcr/v1/fcr-cluster.schema.json
  schemas/fcr/v1/fcr-ingest-request.schema.json
  schemas/fcr/v1/fcr-signal.schema.json
  server/policies/fcr-alerts.rego
  server/policies/fcr-privacy.rego
  server/policies/fcr-sharing.rego
  server/src/app.ts
  server/src/provenance/fcr-ledger.ts
  server/src/routes/federated-campaign-radar.ts
  server/src/services/__tests__/FcrService.test.ts
  server/src/services/fcr/clustering-service.ts
  server/src/services/fcr/credential-scorer.ts
  server/src/services/fcr/early-warning-service.ts
  server/src/services/fcr/fcr-service.ts
  server/src/services/fcr/privacy-budget-service.ts
  server/src/services/fcr/response-pack-service.ts
  server/src/services/fcr/schema-validator.ts
  server/src/services/fcr/types.ts
Due: unittests

test: add opt-in timer teardown for jest
  docs/roadmap/STATUS.json
  prompts/governance/jest-network-teardown-shim@v1.md
  prompts/registry.yaml
  server/tests/setup/jest.setup.cjs
Due: unittests

docs(client): add documentation for skipped test suites
  client/jest.config.cjs
  schemas/audit_event_v1.tson
Due: unittests

fix(companyos-api): add vitest globals config and fix OPA_URL timing
  companyos/services/companyos-api/src/authz/opa-client.ts
  companyos/services/companyos-api/vitest.config.ts
Due: none

fix(tenant-api): export serverReady promise for test synchronization
  companyos/services/tenant-api/src/index.ts
  companyos/services/tenant-api/tests/tenant-api.test.ts
Due: none

fix: resolve test failures across multiple packages
  libs/ingest-worker/node/package.json
  packages/adc/jest.config.cjs
  packages/adc/package.json
  packages/adc/tests/tsconfig.json
  pnpm-lock.yaml
  server/src/ai/nl-graph-query/__tests__/nl-graph-query.routes.test.ts
  server/src/analytics/anomalies/AnomalyController.ts
  server/src/analytics/cohorts/CohortController.ts
  server/src/analytics/cohorts/CohortEvaluator.ts
  server/src/analytics/cohorts/__tests__/cohorts.test.ts
  server/src/analytics/experiments/ExperimentController.ts
  server/src/analytics/exports/ExportController.ts
  server/src/analytics/funnels/FunnelController.ts
  server/src/analytics/funnels/FunnelService.ts
  server/src/analytics/funnels/__tests__/funnels.test.ts
  server/src/analytics/retention/RetentionController.ts
  server/src/analytics/retention/RetentionService.ts
  server/src/analytics/retention/__tests__/retention.test.ts
  server/src/analytics/telemetry/TelemetryController.ts
  server/src/analytics/telemetry/TelemetryService.ts
  server/src/api/anomalyDetectionController.ts
  server/src/api/featureFlags.ts
  server/src/appFactory.ts
  server/src/audit/__tests__/appendOnlyAuditStore.test.ts
  server/src/audit/__tests__/ledger.test.ts
  server/src/audit/appendOnlyAuditStore.ts
  server/src/audit/ledger.ts
  server/src/auth/github-actions-oidc.ts
  server/src/auth/multi-tenant-rbac.ts
  server/src/auth/webauthn/middleware.ts
  server/src/backup/BackupService.ts
  server/src/bootstrap/conductor.ts
  server/src/config/database.ts
  server/src/lib/telemetry/diagnostic-snapshotter.ts
  server/src/runtime/backpressure/AdmissionControl.ts
Due: unittests

ci: restrict preflight to relevant path changes
  .github/workflows/ci-preflight.yml
Due: none

fix(ci): add concurrency control to ci-preflight workflow
  .github/workflows/ci-preflight.yml
Due: none

ci: add concurrency to preflight workflow
  .github/workflows/ci-preflight.yml
Due: none

ci: minor workflow and test config adjustments
  .github/workflows/ci-preflight.yml
  apps/web/vitest.config.ts
  packages/aer-ledger/package.json
Due: unittests

feat(release): establish GA promotion pipeline and evidence bundle
  .github/workflows/ga-evidence.yml
  docs/release/GA_PROMOTION_CHECKLIST.md
  docs/release/v5.3.1_RELEASE_NOTES.md
  package.json
  scripts/release/ga_evidence_bundle.sh
Due: none

docs(ops): add GA runbooks, SLOs, and security posture
  SECURITY.md
  docs/operations/SLOS_AND_ALERTING.md
  docs/operations/runbooks/DB_MIGRATIONS_AND_ROLLBACK.md
  docs/operations/runbooks/INCIDENT_RESPONSE_FIRST_30.md
  docs/operations/runbooks/STARTUP_AND_CONFIG.md
Due: none

test(security): post-hardening adversarial verification suite + report
  docs/verification/POST_HARDENING_VERIFICATION_v5.3.1.md
  package.json
  scripts/verify/adversarial-verify-logic.ts
  scripts/verify/adversarial-verify-wrapper.ts
  scripts/verify/post-hardening-redteam.ts
  scripts/verify/redteam-logic.ts
  server/src/audit/sink.ts
  server/src/security/llm-guardrails.ts
  tests/security/audit_sink_integrity.test.ts
  tests/security/config_validation_adversarial.test.ts
  tests/security/prompt_injection_adversarial.test.ts
  tests/security/provenance_gate_adversarial.test.ts
Due: unittests

fix(ci): correct indentation in ci-preflight.yml concurrency block
  .github/workflows/ci-preflight.yml
Due: none

fix: enforce rbac for investigations and exports
  docs/roadmap/STATUS.json
  server/src/routes/disclosures.ts
  server/src/routes/exports.ts
  tests/e2e/helpers/integrationTestServer.ts
  tests/e2e/integration-test-suite.ts
  website/docs/api/overview.md
Due: unittests, e2e

feat(release): stabilize GA release train with evidence bundle and adversarial pass
  docs/release/v5.3.1_RELEASE_NOTES.md
  scripts/release/ga_evidence_bundle.sh
Due: none

feat(release): add attestation summary and hash ledger for v5.3.2 GA
  docs/release/v5.3.2_RELEASE_NOTES.md
  evidence/ga/v5.3.2/ATTESTATION_SUMMARY.md
Due: none

feat: improve smoke diagnostics and preflight
  docs/operations/runbooks/STARTUP_AND_CONFIG.md
  docs/roadmap/STATUS.json
  prompts/operations/smoke-diagnostics-preflight@v1.md
  prompts/registry.yaml
Due: none

fix: add connector-sdk types and fix any->unknown in search-index
  server/src/search-index/types.ts
  server/src/types/connector-sdk.d.ts
Due: unittests

ci(smoke): run full-stack smoke on PRs and releases (golden path)
  .github/workflows/smoke-gate.yml
  docs/ci/REQUIRED_CHECKS_POLICY.yml
Due: none

feat: add three-track CI/governance improvements
  .github/workflows/branch-protection-drift.yml
  .github/workflows/ci-actionlint.yml
  docs/ci/REQUIRED_CHECKS_POLICY.yml
  docs/security/rbac-test-job.md
  docs/security/rbac-verification-summary.md
  docs/security/rbac_policy.md
  server/__tests__/rbac/investigation-export-rbac.test.ts
Due: none

docs: add actionlint guidance to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

refactor: replace any with unknown for type safety
  server/src/billing/BillingJobService.ts
  server/src/billing/BillingService.ts
  server/src/billing/sink.ts
  server/src/billing/types.ts
  server/src/search-index/SearchIndexService.ts
  server/src/search/query-parser.ts
  server/src/shared/logging/index.ts
  server/src/siem/SIEMPlatform.ts
  server/src/siem/types.ts
  server/src/stewardship/drift/types.ts
  server/src/time-series/analysis/forecast.ts
  server/src/time-series/dashboard/dashboard.ts
  server/src/time-series/engine.ts
  server/src/time-series/pipelines/aggregation.ts
  server/src/time-series/pipelines/downsampling.ts
Due: unittests

fix: enforce RBAC for investigations and export endpoints (#17419)
  docs/roadmap/STATUS.json
  server/src/routes/disclosures.ts
  server/src/routes/exports.ts
  tests/e2e/helpers/integrationTestServer.ts
  tests/e2e/integration-test-suite.ts
  website/docs/api/overview.md
Due: unittests, e2e

test: dispose hunting listeners in tests
  docs/roadmap/STATUS.json
  prompts/governance/jest-network-teardown-shim@v1.md
  prompts/registry.yaml
  server/src/hunting/ThreatHuntingOrchestrator.ts
  server/src/hunting/__tests__/ThreatHuntingOrchestrator.test.ts
Due: unittests

refactor: simplify GraphQL schema type definitions
  server/src/graphql/schema.ts
Due: unittests

chore(deps): bump hono to 4.11.7 (fix ErrorBoundary XSS)
  package.json
Due: none

chore: align prompt constraints with listener cleanup
  docs/roadmap/STATUS.json
  prompts/governance/jest-network-teardown-shim@v1.md
  prompts/registry.yaml
Due: none

docs: record ReDoS remediation PR #17431
  task.md
  walkthrough.md
Due: none

chore: save unrelated redos artifacts
  .github/workflows/soc-controls.yml
  server/src/db/redis.ts
  server/src/graphql/schema.ts
Due: unittests

security(business-rules): fix js/polynomial-redos via deterministic parsing
  packages/business-rules/src/__tests__/security.test.ts
  packages/business-rules/src/index.ts
Due: unittests
