Repository BrianCLong/summit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
        only_pulls: true

      # Critical paths require 85% coverage
      critical:
        paths:
          - "server/src/middleware/**"
          - "server/src/graphql/resolvers/**"
          - "server/src/services/**"
          - "services/api/src/**"
        target: 85%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop

flags:
  unittests:
    paths:
      - server/
      - client/
      - packages/
    carryforward: true

  integration:
    paths:
      - tests/integration/
    carryforward: true

  e2e:
    paths:
      - tests/e2e/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/archive/**"
  - "**/*.config.js"
  - "**/*.config.ts"

# GitHub Checks integration
github_checks:
  annotations: true

feat: enhance multi-tier cache strategy
  server/src/lib/cache/__tests__/multi-tier-cache.test.ts
  server/src/lib/cache/multi-tier-cache.ts
  server/tests/setup/globalSetup.cjs
Due: unittests

fix: harden sync engine conflict processing
  packages/real-time-sync/jest.config.cjs
  packages/real-time-sync/package.json
  packages/real-time-sync/src/SyncEngine.ts
  packages/real-time-sync/src/__tests__/SyncEngine.test.ts
  packages/real-time-sync/src/types.ts
Due: unittests

fix: harden case manifest reporting
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/__init__.py
  ga-graphai/packages/autonomous-investigator/src/autonomous_investigator/case_report.py
  ga-graphai/packages/autonomous-investigator/tests/test_case_report.py
  ga-graphai/packages/autonomous-investigator/tests/test_plan.py
Due: none

docs: add intelgraph ga core blueprint
  intelgraph-ga-core-blueprint.md
Due: none

fix: harden neo4j instrumentation
  server/src/db/__tests__/neo4jInstrumentation.test.ts
  server/src/db/__tests__/neo4jPerformanceMonitor.test.ts
  server/src/db/neo4j.ts
  server/src/db/neo4jPerformanceMonitor.ts
Due: unittests

refactor: streamline admin dashboard
  client/src/App.router.jsx
  client/src/components/admin/AdminDashboard.test.tsx
  client/src/components/admin/AdminDashboard.tsx
Due: unittests

fix: harden advanced search engine
  server/docs/advanced-search.md
  server/src/search/__tests__/advanced-search-engine.test.ts
  server/src/search/advanced-search-engine.ts
  server/src/search/search.ts
Due: unittests

feat: harden reporting validation
  docs/reporting-system.md
  server/package.json
  server/src/reporting/__tests__/reporting.test.ts
  server/src/reporting/access-control.ts
  server/src/reporting/delivery-service.ts
  server/src/reporting/exporters/base.ts
  server/src/reporting/exporters/csv-exporter.ts
  server/src/reporting/exporters/docx-exporter.ts
  server/src/reporting/exporters/excel-exporter.ts
  server/src/reporting/exporters/index.ts
  server/src/reporting/exporters/json-exporter.ts
  server/src/reporting/exporters/pdf-exporter.ts
  server/src/reporting/exporters/pptx-exporter.ts
  server/src/reporting/index.ts
  server/src/reporting/scheduler.ts
  server/src/reporting/service.ts
  server/src/reporting/template-engine.ts
  server/src/reporting/types.ts
  server/src/reporting/validation.ts
  server/src/reporting/version-store.ts
Due: unittests

fix: align evidence cache usage
  server/package.json
  server/perf/performance-optimizations.md
  server/src/app.ts
  server/src/cache/__tests__/responseCache.test.ts
  server/src/cache/responseCache.ts
  server/src/config.ts
  server/src/db/optimization/performanceIndexes.ts
  server/src/db/redis.ts
  server/src/index.ts
  server/src/workers/__tests__/cacheWarmupWorker.test.ts
  server/src/workers/cacheWarmupWorker.ts
Due: unittests

feat: expand observability stack
  ops/grafana/dashboards/observability-sla.json
  ops/observability/monitoring-stack/README.md
  ops/observability/monitoring-stack/kustomization.yaml
  ops/observability/monitoring-stack/monitoring-workloads.yaml
  ops/otel/otel-collector-config.yaml
  ops/prometheus/README.md
  ops/prometheus/prometheus-rule-sla.yaml
  ops/prometheus/prometheus.yml
Due: none

feat: add realtime collaboration hub
  server/src/index.ts
  server/src/realtime/collaborationHub.ts
  server/tests/realtime/collaboration-hub.test.ts
Due: unittests

fix: harden diff-only test generation validation
  ga-graphai/packages/worker/src/test_generation_worker.py
  ga-graphai/packages/worker/tests/test_test_generation_worker.py
Due: none

fix: add error boundary callbacks and tests
  client/src/App.router.jsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/common/ErrorBoundary.tsx
  client/src/components/common/__tests__/ErrorBoundary.test.tsx
  client/src/main.jsx
  vitest.config.ts
Due: unittests

fix: harden inference pipeline dependencies
  ml/app/api.py
  ml/app/inference/pipeline.py
  ml/app/monitoring/__init__.py
  ml/tests/test_inference_pipeline.py
Due: none

fix: harden graphql persisted allowlist
  server/docs/GRAPHQL_OPTIMIZATION.md
  server/src/app.ts
  server/src/middleware/graphqlPersistedAllowlist.ts
  server/tests/graphqlPersistedAllowlistMiddleware.test.ts
Due: unittests

feat(audit): add tamper-proof audit logging service
  server/src/services/ComprehensiveAuditLoggingService.ts
  server/tests/comprehensive-audit-logging.service.test.ts
Due: unittests

feat: harden websocket reconnection backoff
  client/src/services/socket.js
  client/src/services/socket.test.js
Due: unittests

fix: add graph listing endpoint to integration server
  tests/e2e/helpers/integrationTestServer.ts
  tests/e2e/integration-test-suite.ts
Due: e2e

docs: extend dirk ig system prompt with privacy and tooling guardrails
  october2025/dirkIG-V.md
Due: none

feat: add auditor unseal helper
  rust/psc-runner/src/auditor.rs
  rust/psc-runner/tests/pipeline.rs
Due: none

docs: expand companyos wave 4 blueprints
  docs/companyos-wave-4-blueprints.md
Due: none

docs: strengthen companyos wave4 blueprint
  docs/companyos-wave4-specs.md
Due: none

feat: add cce enclave scaffolding
  platform/cce/README.md
  platform/cce/api/job.go
  platform/cce/cmd/cced/main.go
  platform/cce/go.mod
  platform/cce/internal/attestation/verifier.go
  platform/cce/internal/attestation/verifier_test.go
  platform/cce/internal/grpcstub/server.go
  platform/cce/internal/manager/manager.go
  platform/cce/internal/manager/manager_test.go
  platform/cce/internal/storage/sealed_storage.go
  platform/cce/internal/storage/sealed_storage_test.go
  platform/cce/manifest.yaml
  platform/cce/model-packs/secure-inference.yaml
  scripts/playwright/cce-flow.spec.ts
  sdk/cce-py/README.md
  sdk/cce-py/cce.py
  sdk/cce-ts/README.md
  sdk/cce-ts/index.ts
  web/public/enclave-console.html
Due: none

feat: add concurrent api fetch script
  fetch-apis.js
Due: none

feat: add bfs traversal utility
  bfs.py
Due: none

chore: add feature-flag planning scaffolds
  .github/workflows/feature-flag-branches.yml
  ai/prompt-registry/README.md
  platform/saga/README.md
  project_management/issues/FF1-qa-atsh.md
  project_management/issues/FF2-platform-saga.md
  project_management/issues/FF3-ai-prompt-registry.md
  qa/atsh/README.md
Due: none

feat: scaffold device trust posture engine
  platform/device-trust/ISSUE.md
  platform/device-trust/README.md
  platform/device-trust/fixtures/posture-fixtures.json
  platform/device-trust/go/cmd/device-trust/main.go
  platform/device-trust/go/go.mod
  platform/device-trust/go/internal/attestation/attestation.go
  platform/device-trust/go/internal/policy/policy.go
  platform/device-trust/go/internal/policy/policy_test.go
  platform/device-trust/go/internal/privacy/filter.go
  platform/device-trust/go/internal/risk/score.go
  platform/device-trust/go/internal/risk/score_test.go
  platform/device-trust/go/internal/server/server.go
  platform/device-trust/node/package.json
  platform/device-trust/node/src/policySimulator.js
  platform/device-trust/node/test/policySimulator.test.js
  platform/device-trust/tests/playwright/device-trust.spec.ts
  platform/device-trust/ui/index.html
Due: none

feat: scaffold ingestion contract certification
  ingestion/contracts/fixtures/producer-alpha.json
  ingestion/contracts/package.json
  ingestion/contracts/src/audit.ts
  ingestion/contracts/src/certification.ts
  ingestion/contracts/src/drift.ts
  ingestion/contracts/src/index.ts
  ingestion/contracts/src/quarantine.ts
  ingestion/contracts/src/scorecard.ts
  ingestion/contracts/src/specification.ts
  ingestion/contracts/src/tests/contract-workflow.test.ts
  ingestion/contracts/src/types.ts
  ingestion/contracts/src/webhooks.ts
  ingestion/contracts/tsconfig.json
  ingestion/contracts/ui/onboarding.html
Due: none

feat: scaffold supply chain security suite
  .github/workflows/supply-chain.yml
  security/supply-chain/README.md
  security/supply-chain/artifacts/.gitkeep
  security/supply-chain/dashboards/README.md
  security/supply-chain/github-app.md
  security/supply-chain/go/cmd/supplychain/main.go
  security/supply-chain/go/go.mod
  security/supply-chain/go/internal/policy/policy.go
  security/supply-chain/go/internal/policy/policy_test.go
  security/supply-chain/go/internal/sbom/generator.go
  security/supply-chain/go/internal/scan/scanner.go
  security/supply-chain/node/index.js
  security/supply-chain/node/package.json
  security/supply-chain/policy.yaml
  security/supply-chain/scripts/export_manifests.sh
Due: none

feat: scaffold chm service
  platform/chm/.eslintrc.cjs
  platform/chm/README.md
  platform/chm/jest.config.cjs
  platform/chm/package.json
  platform/chm/playwright.config.ts
  platform/chm/public/index.html
  platform/chm/src/config.ts
  platform/chm/src/db.ts
  platform/chm/src/events.ts
  platform/chm/src/index.ts
  platform/chm/src/rules.ts
  platform/chm/src/scripts/migrate.ts
  platform/chm/src/server.ts
  platform/chm/src/taxonomy.ts
  platform/chm/src/workflows.ts
  platform/chm/tests/e2e/chm-flow.spec.ts
  platform/chm/tests/helpers/memory-db.ts
  platform/chm/tests/policy.spec.ts
  platform/chm/tsconfig.json
  pnpm-workspace.yaml
Due: none

feat: add accessibility lab scaffolding
  .github/ISSUE_TEMPLATE/a11y-lab-manual-checklist.md
  .github/workflows/a11y-lab.yml
  apps/a11y-lab/.storybook/main.ts
  apps/a11y-lab/.storybook/preview.ts
  apps/a11y-lab/README.md
  apps/a11y-lab/index.html
  apps/a11y-lab/package.json
  apps/a11y-lab/playwright.config.ts
  apps/a11y-lab/scripts/focus-map-report.ts
  apps/a11y-lab/scripts/run-axe-gate.ts
  apps/a11y-lab/scripts/telemetry-guard.sh
  apps/a11y-lab/src/App.tsx
  apps/a11y-lab/src/components/A11yHeatmapOverlay.tsx
  apps/a11y-lab/src/components/ContrastBudgeter.tsx
  apps/a11y-lab/src/components/FocusOrderPanel.tsx
  apps/a11y-lab/src/hooks/useKeyboardTrapDetector.ts
  apps/a11y-lab/src/main.tsx
  apps/a11y-lab/src/scripts/focusOrder.ts
  apps/a11y-lab/src/scripts/screenReaderScripts.ts
  apps/a11y-lab/src/stories/A11yHeatmap.stories.tsx
  apps/a11y-lab/src/styles.css
  apps/a11y-lab/src/telemetry/guards.ts
  apps/a11y-lab/src/utils/contrast.ts
  apps/a11y-lab/tests/a11y.spec.ts
  apps/a11y-lab/tests/helpers/samplePage.ts
  apps/a11y-lab/tsconfig.json
  apps/a11y-lab/vite.config.ts
Due: none

docs: add cep service blueprint
  services/cep/README.md
Due: none

feat: add causal discovery lab service
  .github/workflows/cdis.yml
  ai/cdis/README.md
  ai/cdis/__init__.py
  ai/cdis/app.py
  ai/cdis/e2e/discover-intervene-share.spec.ts
  ai/cdis/e2e/package.json
  ai/cdis/e2e/playwright.config.ts
  ai/cdis/fixtures/gold_dag.json
  ai/cdis/learners.py
  ai/cdis/models.py
  ai/cdis/pyproject.toml
  ai/cdis/requirements.txt
  ai/cdis/simulator.py
  ai/cdis/tests/__init__.py
  ai/cdis/tests/test_learners.py
  ai/cdis/tests/test_simulator.py
  ai/cdis/ui/index.html
Due: none

docs: add intake plan for prompts 121-128
  PROMPTS_121_128_PLAN.md
Due: none

feat: add multimodal frontier architecture and schemas
  benchmark/multimodal_frontier_results.json
  design/multimodal_frontier_sprint_report.md
  go/brief_multimodal_frontier.md
  go/license_menu_multimodal.md
  impl/multimodal/README.md
  impl/multimodal/schemas/doc.schema.json
  impl/multimodal/schemas/image.schema.json
  impl/multimodal/schemas/layout.schema.json
  impl/multimodal/schemas/ui_graph.schema.json
  ip/claims_multimodal.md
  ip/draft_spec_multimodal.md
  ip/fto.md
  ip/prior_art.csv
  spec/multimodal_frontier_arch.md
Due: none

docs: add frontier knowledge rag planning artifacts
  design/knowledge_rag_sprint_report.md
  go/brief_knowledge_rag.md
  go/license_menu_knowledge_rag.md
  ip/claims_knowledge_rag.md
  ip/draft_spec_knowledge_rag.md
  ip/fto.md
  spec/frontier_knowledge_rag.md
Due: none

docs: refine agentic validation matrix
  docs/agentic-offerings-test-plan.md
Due: none

docs: harden agentic control plane blueprint
  docs/agentic-control-plane.md
Due: none

fix: restore detector dependencies for deepfake service
  services/deepfake-detection-service/src/__init__.py
  services/deepfake-detection-service/src/api/__init__.py
  services/deepfake-detection-service/src/api/main.py
  services/deepfake-detection-service/src/detectors/__init__.py
  services/deepfake-detection-service/src/detectors/audio_detector.py
  services/deepfake-detection-service/src/detectors/ensemble.py
  services/deepfake-detection-service/src/detectors/image_detector.py
  services/deepfake-detection-service/src/models/__init__.py
  services/deepfake-detection-service/src/models/loader.py
  services/deepfake-detection-service/src/utils/__init__.py
  services/deepfake-detection-service/src/utils/config.py
  services/deepfake-detection-service/src/utils/metrics.py
  services/deepfake-detection-service/src/utils/storage.py
Due: none
