Repository BrianCLong/summit: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

feat: fork-confronting scheduling for Maestro
  packages/maestro-core/jest.config.js
  packages/maestro-core/package.json
  packages/maestro-core/src/engine.ts
  packages/maestro-core/src/fork_detector/ForkDetector.ts
  packages/maestro-core/src/fork_detector/__tests__/ForkDetector.test.ts
  packages/maestro-core/src/fork_detector/index.ts
  packages/maestro-core/src/index.ts
  server/package.json
  server/src/maestro/engine.ts
Due: unittests

feat: adopt MAESTRO Threat Modeling Framework
  AGENTS.md
  SECURITY.md
  docs/security/threat-modeling-framework.md
Due: none

chore: bump version to 5.0.13
  package.json
Due: none

feat: implement MCP Apps and AG-UI integration primitives
  packages/mcp-apps/package.json
  packages/mcp-apps/src/ag-ui.ts
  packages/mcp-apps/src/broker.ts
  packages/mcp-apps/src/governance.ts
  packages/mcp-apps/src/index.ts
  packages/mcp-apps/src/renderer.ts
  packages/mcp-apps/src/resolver.ts
  packages/mcp-apps/src/types.ts
  packages/mcp-apps/tsconfig.json
  server/src/conductor/mcp/client.ts
  server/src/maestro/mcp/invoke-api.ts
Due: unittests

chore: bump version to 5.0.14
  package.json
Due: none

feat: implement Summit SpecFlow
  docs/specs/SUMMIT_SPECFLOW.md
  packages/specflow/package.json
  packages/specflow/src/cli.ts
  packages/specflow/tsconfig.json
  packages/work-graph/src/schema/nodes.ts
Due: unittests

chore: bump version to 5.0.15
  package.json
Due: none

feat: integrate Stable-DiffCoder patterns into Maestro framework
  server/src/app.ts
  server/src/maestro/__tests__/diffusion_edit.test.ts
  server/src/maestro/adapters/diffusion_coder.ts
  server/src/maestro/handlers.ts
  server/src/maestro/model.ts
Due: unittests

chore: bump version to 5.0.16
  package.json
Due: none

feat: agentic Integration Spine implementation
  docs/architecture/agentic-integration-spine.md
  packages/connector-sdk/src/action-connector.ts
  packages/connector-sdk/src/index.ts
  packages/connector-sdk/src/types.ts
  packages/integration-twin/package.json
  packages/integration-twin/src/DiffGenerator.ts
  packages/integration-twin/src/IntegrationTwin.ts
  packages/integration-twin/src/index.ts
  packages/integration-twin/tsconfig.json
  packages/mandates/package.json
  packages/mandates/src/MandateService.ts
  packages/mandates/src/index.ts
  packages/mandates/src/types.ts
  packages/mandates/tsconfig.json
  packages/provenance/src/index.ts
  packages/provenance/src/replay-runner.ts
  packages/provenance/src/trace-model.ts
  services/integration-gateway/package.json
  services/integration-gateway/src/Gateway.ts
  services/integration-gateway/src/ToolRegistry.ts
  services/integration-gateway/src/demo.ts
  services/integration-gateway/src/index.ts
  services/integration-gateway/src/server.ts
  services/integration-gateway/tsconfig.json
Due: unittests

feat: implement Summit Voice Runtime with Qwen3-TTS and Provenance Ledger
  packages/maestro-skills/voice-generation-skill/src/index.ts
  server/src/gateways/VoiceGateway.ts
  server/src/graphql/schemas/voice.graphql
  server/src/index.ts
  server/src/services/voice/VoiceProvenanceLedger.ts
  server/src/services/voice/providers/Qwen3TTSProvider.ts
  server/src/services/voice/providers/__tests__/Qwen3TTSProvider.test.ts
  server/src/services/voice/types.ts
Due: unittests

docs: implement Summit Product Taxonomy documentation
  docs/architecture/contracts/harness_contract.md
  docs/architecture/contracts/runtime_contract.md
  docs/architecture/product_taxonomy.md
  docs/architecture/product_taxonomy_mapping.md
  docs/products/feature_matrix.md
Due: none

feat: implement MCP Apps Host and Reference App
  apps/web/src/App.tsx
  apps/web/src/components/SummitAppHost.tsx
  apps/web/src/pages/InvestigationCanvas.tsx
  server/src/app.ts
  server/src/routes/mcp-apps.ts
Due: unittests

feat: Summit MCP Golden Path and Governance Framework
  .github/workflows/ci-verify.yml
  docs/mcp/ACCEPTANCE_CHECKLIST.md
  docs/mcp/CONVERSION_PLAYBOOK.md
  docs/mcp/GOLDEN_PATH.md
  intelgraph-mcp/packages/summit-mcp-server-template/README.md
  intelgraph-mcp/packages/summit-mcp-server-template/package.json
  intelgraph-mcp/packages/summit-mcp-server-template/src/index.ts
  intelgraph-mcp/packages/summit-mcp-server-template/src/types.ts
  intelgraph-mcp/packages/summit-mcp-server-template/tsconfig.json
  intelgraph-mcp/services/runtime-pooler/src/authz.ts
  scripts/ci/lint-mcp-ux.mjs
Due: none

chore: bump version to 5.0.17
  package.json
Due: none

fix: remove escaped backticks in mcp-apps template literal
  server/src/routes/mcp-apps.ts
Due: unittests

chore: bump version to 5.0.18
  package.json
Due: none

feat: implement Comprehensive Observability Stack
  docs/OBSERVABILITY_SETUP.md
  monitoring/grafana/dashboards/system-health.json
  monitoring/prometheus/prometheus.yml
  observability/grafana/provisioning/dashboards/dashboard.yml
  observability/grafana/provisioning/dashboards/summit/summit-golden-path.json
  observability/grafana/provisioning/dashboards/summit/summit-slo.json
  observability/grafana/provisioning/dashboards/summit/system-health.json
  observability/grafana/provisioning/dashboards/summit/v0_graphql_metrics.json
  observability/prometheus/alerts/alerts.yml
  observability/prometheus/prometheus-dev.yml
Due: none

feat: operationalize Automation Turn #6 - Decision Autonomy and Negotiation
  .github/workflows/experiment-aware-release.yml
  AGENTS.md
  docs/governance/GA_EVIDENCE_MAP.yaml
  docs/security/SECURITY-ISSUE-LEDGER.md
  packages/agent-negotiation/finops.agent.yaml
  packages/agent-negotiation/infra.agent.yaml
  packages/agent-negotiation/package.json
  packages/agent-negotiation/reliability.agent.yaml
  packages/agent-negotiation/src/index.ts
  packages/agent-negotiation/src/simulator.ts
  packages/agent-negotiation/tsconfig.json
  packages/decision-ledger/decision_ledger.json
  packages/decision-ledger/package.json
  packages/decision-ledger/src/index.ts
  packages/decision-ledger/tsconfig.json
  packages/decision-policy/package.json
  packages/decision-policy/policy.schema.json
  packages/decision-policy/policy.v1.yaml
  packages/decision-policy/policy.v2.yaml
  packages/design-space/package.json
  packages/design-space/src/index.ts
  packages/design-space/tsconfig.json
  packages/experiment-intent/package.json
  packages/experiment-intent/src/index.ts
  packages/experiment-intent/tsconfig.json
  packages/incentive-sim/package.json
  packages/incentive-sim/src/index.ts
  packages/incentive-sim/tsconfig.json
  pnpm-lock.yaml
  scripts/ci/verify_agent_negotiation.ts
  scripts/ci/verify_decision_replay.ts
  scripts/decision/apply_policy.ts
  scripts/decision/rollback_policy.ts
Due: unittests

feat(validator): scaffold graph-sync-validator package and worker
  apps/validator-worker/package.json
  apps/validator-worker/src/worker.ts
  apps/validator-worker/tsconfig.json
  ops/runbooks/graph-pg-rollback.md
  packages/graph-sync-validator/configs/selectors/customers.yaml
  packages/graph-sync-validator/configs/severity.yaml
  packages/graph-sync-validator/package.json
  packages/graph-sync-validator/src/autofix/plan.ts
  packages/graph-sync-validator/src/cli.ts
  packages/graph-sync-validator/src/diff/compare.ts
  packages/graph-sync-validator/src/index.ts
  packages/graph-sync-validator/src/loader/neo4j.ts
  packages/graph-sync-validator/src/loader/pg.ts
  packages/graph-sync-validator/src/report/emit.ts
  packages/graph-sync-validator/src/types.ts
  packages/graph-sync-validator/tsconfig.json
  tests/e2e/graph-sync/fixture-gen.ts
  tests/e2e/graph-sync/rollback.test.ts
Due: unittests, e2e

feat(lineage): implement OpenLineage, PROV export, and Postgres sync
  db/migrations/provsql_setup.sql
  python/config/openlineage.yaml
  python/intelgraph_py/lineage/__init__.py
  python/intelgraph_py/lineage/openlineage_producer.py
  python/intelgraph_py/prov/__init__.py
  python/intelgraph_py/prov/json_serializer.py
  python/intelgraph_py/provenance/exporter.py
  python/intelgraph_py/sync/__init__.py
  python/intelgraph_py/sync/postgres_provenance_sync.py
  python/intelgraph_py/tasks.py
  python/requirements.txt
  python/tests/test_lineage.py
  python/tests/test_prov_export.py
  server/src/graphql/schema/lineage.graphql
Due: unittests

feat(compliance): enforce lineage identity validation in provenance generation
  governance/identities.yaml
  scripts/compliance/generate_provenance.ts
Due: none

fix: failing merge orchestrators and restore from archive
  .github/workflows/mega-merge-orchestrator.yml
  .github/workflows/ultra-merge-orchestrator.yml
Due: none

feat: introduce Governed MCP Gateway and Agent Runtime
  docs/agents/EMBEDDED_AGENT_LOOP.md
  docs/blog/SECURE_AGENTIC_INFRASTRUCTURE.md
  docs/mcp/MCP_CONTRACT.md
  docs/security/MCP_GOVERNANCE.md
  docs/security/SUPPLY_CHAIN_MONITORING.md
  packages/copilot-agent-runtime/package.json
  packages/copilot-agent-runtime/src/index.ts
  packages/copilot-agent-runtime/tsconfig.json
  schemas/mcp/resource.schema.json
  schemas/mcp/tool.schema.json
  scripts/ci/validate_mcp_contract.mjs
  scripts/sec/watch_mcp_advisories.ts
  server/src/mcp-gateway/audit.ts
  server/src/mcp-gateway/index.ts
  server/src/mcp-gateway/policy.ts
Due: unittests

chore: bump version to 5.0.19
  package.json
Due: none

feat: implement Cypher-First GraphRAG Control Plane
  docs/architecture/graph_ai_current_state.md
  server/src/services/graphrag/__tests__/cypher-generator.test.ts
  server/src/services/graphrag/__tests__/repository.test.ts
  server/src/services/graphrag/cypher-generator.ts
  server/src/services/graphrag/repositories/CaseGraphRepository.ts
  server/src/services/graphrag/service.ts
  server/src/services/graphrag/types.ts
Due: unittests

docs: Phase 1 Harvest Reports (Supply Chain Audit)
  harvest/ci-gap-analysis.md
  harvest/governance-drift.md
  harvest/pr-execution-plan.md
  harvest/pr-salvage-map.md
  harvest/supply-chain-inventory.md
Due: none

feat: Modern Supply Chain Security Workflow Implementation
  .github/workflows/supply-chain-attest.yml
  Makefile
  SECURITY/sbom-process.md
  artifacts/sbom/attestation-1.0.0.intoto.jsonl
  artifacts/sbom/attestation-1.0.0.intoto.jsonl.sig
  artifacts/sbom/sbom-1.0.0.json
  artifacts/sbom/sbom-1.0.0.json.sig
  scripts/generate-sbom.sh
  scripts/supply-chain/sign-and-attest.sh
Due: none

feat: operationalize Governance Controls and Evidence
  docs/architecture/runtime-governance-hooks.md
  docs/data/zero-trust-pilot.md
  docs/executive/governance-operationalization-summary.md
  docs/governance/controls/DT-001-zero-trust-data.md
  docs/governance/controls/OP-001-governance-council.md
  docs/governance/controls/RT-001-runtime-monitoring.md
  docs/governance/evidence-map.md
  governance/data-policies/sample-policy.yaml
  governance/framework-mapping.yaml
Due: none

feat: Information Integrity Architecture and Strategy
  docs/architecture/information-integrity-primitives.md
  docs/futures/2026-2028-narrative-warfare.md
  docs/research/ai-swarm-threat-surface.md
  docs/strategy/information-integrity-moat.md
  packages/intelgraph-swarm/README.md
Due: unittests

chore: bump version to 5.0.20
  package.json
Due: none

feat: Strategic Moat - Agentic Orchestration Artifacts
  benchmarks/orchestration/README.md
  benchmarks/orchestration/scenarios.yaml
  docs/architecture/agentic_orchestration_moat.md
  docs/architecture/orchestration_primitives.yaml
  docs/exec/agentic_moat_one_pager.md
  docs/governance/agentic_orchestration_controls.md
  validate_yaml.py
Due: none

chore: bump version to 5.0.21
  package.json
Due: none

docs(architecture): introduce Intelligence Foundry spec
  docs/adr/ADR-021-intelligence-foundry.md
  docs/architecture/comparisons/adobe-firefly-foundry-vs-summit.md
  docs/architecture/intelligence-foundry/API_CONTRACTS.md
  docs/architecture/intelligence-foundry/DATA_MODEL.md
  docs/architecture/intelligence-foundry/EVIDENCE_ATTESTATIONS.md
  docs/architecture/intelligence-foundry/OPERATING_MODEL.md
  docs/architecture/intelligence-foundry/README.md
  docs/architecture/intelligence-foundry/ROADMAP.md
  docs/architecture/intelligence-foundry/SPEC.md
  docs/architecture/intelligence-foundry/THREAT_MODEL.md
  docs/architecture/narratives/investor_moat_narrative.md
Due: none

chore: bump version to 5.0.22
  package.json
Due: none

feat: GA-ready OpenLineage and dbt Integration for End-to-End Lineage
  airflow/dags/summit_lineage_pipeline.py
  airflow/requirements.txt
  airflow/tests/test_lineage.py
  requirements.in
  scripts/provenance/export_prov.py
Due: none

chore: bump version to 5.0.23
  package.json
Due: none

feat: enforce SBOMs and Attestations in Supply Chain
  .github/workflows/_reusable-slsa-build.yml
  bin/ga-check.mjs
  bin/verify-manifest
  policy/supply_chain.rego
  policy/supply_chain_test.rego
Due: none

chore: bump version to 5.0.24
  package.json
Due: none

feat: implement W3C PROV Export for Lineage
  pnpm-lock.yaml
  server/src/graphql/resolvers-combined.ts
  server/src/graphql/resolvers/provenance.ts
  server/src/graphql/schema.provenance.ts
  server/src/provenance/__tests__/provExporter.test.ts
  server/src/provenance/provExporter.ts
Due: unittests

Path conditions:
  unittests: any of: server/, client/, packages/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
  integration: any of: tests/integration/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
  e2e: any of: tests/e2e/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/dist/**, **/build/**, **/coverage/**, **/archive/**, **/*.config.js, **/*.config.ts
